<%@ Control Language="C#" AutoEventWireup="false" CodeBehind="SubNavVision.ascx.cs" Inherits="KlausEnt.KEP.Developer.usercontrols.SubNavVision" %>
		<div id="subnavigation">
			<ul>
				<li></li>
				<li></li>
			</ul>
			<asp:placeholder runat="server" id="phSubNav" />	
		</div>