<%@ Page language="c#" Codebehind="serverEdit.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.serverEdit" %>
<%@ Register TagPrefix="Kaneva" TagName="HeaderText" Src="../usercontrols/HeaderText.ascx" %>

<Kaneva:HeaderText runat="server" Text="Server Add/Edit"/>

<table cellpadding="0" cellspacing="0" border="0" width="750">
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
		<td colspan="3" width="710">
			<BR>
			<asp:ValidationSummary ShowMessageBox="False" ShowSummary="True" Class="formError" id="valSum" DisplayMode="BulletList" runat="server" HeaderText="Please correct the following errors:"/><br>
		</td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
	</tr>
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
		<td colspan="3"><b id="rounded2"><i><span><img border="0" runat="server" src="~/images/spacer.gif" width="710" height="8"/></span></i> </b></td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
	</tr>
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td width="160" style="background-color: #ededed;"></td>
		<td colspan="2" width="550" style="background-color: #ededed;"></td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
	</tr>
	<tr runat="server" id="trStoreAssetLink">
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td colspan="3" style="background-color: #ededed;" width="710">&nbsp;&nbsp;
		</td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
	</tr>
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" class="bodyText" style="border-left: 1px solid #ededed;">&nbsp;<b>server type:</b></td>
		<td><img runat="server" src="~/images/spacer.gif" width="5" ID="Img7"/></td>
		<td align="left" width="705" class="bodyText" style="border-right: 1px solid #ededed;">
			<asp:DropDownList class="filter2" id="drpType" runat="Server" style="width:450px"/>
			<a target="_resource" runat="server" href="http://docs.kaneva.com/bin/view/Public/KanevaFaqKgpLicensing" class="LnavText">License FAQ</a>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>


	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" class="bodyText" bgcolor="#ededed" style="border-left: 1px solid #ededed;">&nbsp;<b>server&nbsp;name:</b></td>
		<td bgcolor="#ededed"><img runat="server" src="~/images/spacer.gif" width="5"/></td>
		<td align="left" width="705" class="bodyText" bgcolor="#ededed" style="border-right: 1px solid #ededed;">
			<asp:TextBox ID="txtServerName" class="Filter2" style="width:450px" MaxLength="50" runat="server"/> 
			<asp:RequiredFieldValidator ID="rftxtServerName" ControlToValidate="txtServerName" Text="*" ErrorMessage="Server name is a required field." Display="Dynamic" runat="server"/>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>

	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" class="bodyText" style="border-left: 1px solid #ededed;">&nbsp;<b>patch URL:</b></td>
		<td><img runat="server" src="~/images/spacer.gif" width="5"/></td>
		<td align="left" width="705" class="bodyText" style="border-right: 1px solid #ededed;">
			<asp:TextBox ID="txtPatchURL" class="Filter2" style="width:450px" MaxLength="255" runat="server"/> 
			<asp:Label id="lblPatchURL" Visible="False" runat="server" CssClass="bodyText" Text="* Not shown for commercial games"/>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>
	
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" bgcolor="#ededed" class="bodyText" style="border-left: 1px solid #ededed;"><b>admin URL:</b></td>
		<td bgcolor="#ededed"><img runat="server" src="~/images/spacer.gif" width="5"/></td>
		<td align="left" width="705" bgcolor="#ededed" class="bodyText" style="border-right: 1px solid #ededed;">
			<asp:Label class="filter2" id="lblAdminURL" runat="server"/>
			<span class="bodyText">* Only shown for published commercial games</span>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>	
	
	<tr class="FullBorders">
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" class="bodyText" style="border-left: 1px solid #ededed;">&nbsp;<b>server key:</b></td>
		<td><img runat="server" src="~/images/spacer.gif" width="5"/></td>
		<td align="left" width="705" style="border-right: 1px solid #ededed;">
			<asp:Label id="lblServerKey" style="color: green; font-size: 18px;" runat="server"/>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>
	
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td align="right" bgcolor="#ededed" class="bodyText" style="border-left: 1px solid #ededed;"><b>Status:</b></td>
		<td bgcolor="#ededed"><img runat="server" src="~/images/spacer.gif" width="5"/></td>
		<td align="left" width="705" bgcolor="#ededed" class="bodyText" style="border-right: 1px solid #ededed;">
			<asp:Label class="filter2" id="lblStatus" runat="server"/>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="20" height="18"/></td>
	</tr>	
	
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
		<td colspan="3" align="right" bgcolor="#ededed"><br>
			<asp:button id="btnCancel" runat="Server" CausesValidation="False" onClick="btnCancel_Click" class="Filter2" Text="  cancel  "/>&nbsp;&nbsp;<asp:button id="Button1" runat="Server" onClick="btnUpdate_Click" class="Filter2" Text="  submit  "/>&nbsp;&nbsp;&nbsp;&nbsp;<br>
		</td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="20"/></td>
	</tr>
	<tr>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
		<td colspan="3">
			<b id="rounded2bot">
			<i><span><img border="0" runat="server" src="~/images/spacer.gif" width="710" height="8"/></span></i> 
			</b>
		</td>
		<td><img runat="server" src="~/images/spacer.gif" width="20" height="1"/></td>
	</tr>
</table>  	
<br><br>