/* HEADER */
﻿/* CSS Document: Profile Landing Pages 10/30/2012 */

.pageBody { margin-bottom:6px; }
.profilePreview {
    width:591px;

    background-color:#ffffff;
    z-index:1;
    border:1px solid #cccccc;
    float:left;
    padding:14px;
    line-height:10px;
    position:relative;
    cursor:pointer;
}
.profilePreview p, .profilePreview h1, .profilePreview ul {
    color:#333333;
    line-height:14px;
}
.profilePreview h1 {
    font-size:19px;
    font-weight:bold;
}
.profilePreview hr {
    height:1px;
    background-color:#cccccc;
}
.profilePreview p, .profilePreview ul { margin:8px 0; }
.profilePreview .profileInfo, .profilePreview li { line-height:20px; }
.profilePreview .joinLink {
    color:#3d77c4;
    font-size:14px;
    font-weight:bold;
    display:block;
    clear:both;
    margin-bottom:10px;
}
.profilePreview .promiseContainer { max-width:404px; }
.profilePreview .buttonContainer {
    position:absolute;
    right:40px;
    bottom:30px;
}
.profilePreviewShadow {
    width:619px;

    background-color:#cccccc;
    z-index:-1;
    position:absolute;
    top:20px;
    left:31px;
}
.profilePreview .profilePhoto {
    border:1px solid #cccccc; 
    float:left;
    margin:0 14px 10px 0;
    width:90px;
    height:90px;
    position:relative;
    overflow:hidden;
}
.profilePreview .profilePhoto img {
    display:block;
    position:relative;
}
.profilePreview a.viewProfileButton, .profilePreview a.addFriendButton {
    display:block;
    width:145px;
    height:27px;
    margin:5px 0 5px 0;
}
.profilePreview a.viewProfileButton:link, .profilePreview a.viewProfileButton:visited 
{
    background:url('../../../images/landing_page/profile_buttons.png') 0 0;
}
.profilePreview a.viewProfileButton:hover
{
    background:url('../../../images/landing_page/profile_buttons.png') -146px 0;
}
.profilePreview a.viewProfileButton:active
{
    background:url('../../../images/landing_page/profile_buttons.png') -292px 0;
}
.profilePreview a.addFriendButton:link,a.addFriendButton:visited 
{
    background:url('../../../images/landing_page/profile_buttons.png') 0 -29px;
}
.profilePreview a.addFriendButton:hover
{
    background:url('../../../images/landing_page/profile_buttons.png') -146px -29px;
}
.profilePreview a.addFriendButton:active
{
    background:url('../../../images/landing_page/profile_buttons.png') -292px -29px;
}
.profileList {
    width:254px;
    background-color:#ffffff;
    border:1px solid #cccccc;
    float:right;
    clear:right;
    margin:0 0 14px 0;
    padding:14px;
    list-style-type:none;
}
.profileList h2 {
    margin:0 0 5px 0;
    padding:0;
}
.profileList hr {
    background-color:#cccccc;
}
.profileListItem {
    cursor:pointer;
    margin:8px 0;
    font-weight:bold;
    font-size:11px;
}
.profileListItem .userNames {
    line-height:18px;
    margin:5px 0 0 0;
    float:left;
}
.profileListItem img {
    float:left;
    margin-right:10px;
    border:1px solid #cccccc;
    overflow:hidden;
}
.profileListItem span {
    color:#3D77C4;
    text-decoration:none;
}
.profileListItem span:hover {
    text-decoration:underline;
}