/* HEADER */
.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;display:inline-block;}
.ContentWrapper {width:970px;margin:8px 0px 8px 0px; background-color: #ffffff;}

#pageHeader {width:950px;height:40px;text-align:left;background-color:#ccc;border-bottom:none 1px #ccc;padding:0 10px 10px 10px;}
#pageHeader h6 {margin:2px 0 0 10px;}
#gameInfo {padding:0 10px 0 0;margin:10px 0 0 0;float:left;}

#gameSelect
{
    float:right;
    margin-top:14px;
}

.selectedGame
{
	line-height:20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#content
{
    position: relative;
	width: 780px;
	padding: 0px 0px 0px 0px;
    text-align:left;
    overflow:hidden;
    float:right;
    background-color: #ffffff;
	margin: 0px 0px 0px 0px;
}

#messageArea
{
	width:950px;
	border:none 1px #000;
	padding:0px 10px 0px 10px;
}

#sidenav 
{
	position: relative;
	width: 188px;
	margin:0 0 10px 0;
	float: left;	
    text-align:left;
    overflow:auto;
    background-color:#f5f5f5;
	line-height: 18px;
	font-size: 12px;
	padding-bottom:50px;
	border:1px solid #ccc;
	border-top:none;
}

#sidenav ul {list-style:none;text-align:left;padding:0;margin:14px;}
#sidenav ul li {height:20px;}
#sidenav li a {color:#3d77c4;border-left:5px solid #fff;padding:0 0 0 5px;margin:0;list-style:none;}
#sidenav li a.selected {font-weight:bold;color:#3d77c4;border-left:5px solid #3d77c4;padding-left:5px;list-style:none;}
#sidenav a:link, a:visited, a:active {text-decoration:none;}
#sidenav a:hover {text-decoration:underline;}
#sidenav div a:hover {text-decoration:none;}
#sidenav div .blue {color:#fff;}
#sidenav div a.btnmedium {padding-top:3px;} 


/*-- USER CONTROL SECTION --*/
    .sectionContainer
    {
        width:758px;
        text-align:left;
        margin:0px 0px 20px 10px;
        font-size:11px;
    }
    .sectionHeader
    {
        text-align:left; 
        font-size:12px;
        font-weight:bold;
        margin:0px 0px 0px 0px;
    }
    .pageHeader
    {
        font-size:22px;
        text-align:center;
        line-height: 24px;
        margin:10px 0px 10px 0px;
    }
    .fieldset
    {
        padding:10px 10px 10px 10px;
        width: 96%; 
        margin:10px 0px 0px 10x;
    }
    
    #infoImage
    {
        float:left; 
        width:50px; 
        margin:0px 10px 0px 0px;
        text-align:center;
    }
    
    #infoDetails
    {
        float:right; 
        width: 100%;  
        margin:0px 10px 0px 0px; 
    }
    #tipDiv
    {
        position: absolute;
        z-index:300;
        background-color: #fefefe;
        border: solid 2px #000000;
        padding: 10px 10px 10px 10px;
        top:-200px;
        left:-1000px;  
        width: 300px;      
    }
    
    .securityPanel
    {
        width:759px;
    }
h4 {font-weight:bold;}
.header {background-color:#ebebeb;color:#333;font-weight:bold;}

.nodata {width:100%;text-align:center;font-size:1.2em;font-weight:bold;margin:50px auto 80px auto;}