/* HEADER */
/* Add these styles to myKaneva.css */

.vipBadge {
	display: block;
	float: right;
	height: 40px;
	width: 40px;
}
.stats .fameLevel {
	display: block;
	width: 310px;
	height: 36px;
	margin: 0;
	}
	
	.stats .fameLevel h5 {
	display: block;
	height: 18px;
	font-size: 10px !important;
	font-weight: bold;
	margin: 5px 0 0;
	padding: 0;
	color: #333333;
	text-indent: 4px;
	line-height: 1.9 !important;
	line-height: 1.7;
	}
	
	a.fameLink:link, a.fameLink:visited {
	font-size: 11px !important;
	color: #333333 !important;
	text-decoration: underline !important;
}
	a.fameLink:hover {
	color: #666666 !important;
	text-decoration: none !important;
}

	
	.stats .fameLevel ul {
	display: block;
	width: 310px;
	height: 14px !important;
	height: 16px;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 5px 0 0;
	list-style: none;
	border: 1px solid #083e58;
	background: transparent url("http://www.kaneva.com/images/levelBG.gif") repeat-x  left top;
	cursor: crosshair;
	position: relative;
	}
	
	.stats .fameLevel ul li {
	display: block;
	width: auto;
	height: 14px;
	font-size: 9px;
	font-weight: normal;
	padding: 0 2px 0 0;
	margin: 0;
	list-style: none;
	float: left;
	position: absolute;
	}
	
	.stats .fameLevel ul li.current {
	text-align: left;
	text-indent: 4px;
	color: #90c8f2;
	top: 0;
	left: 0;
	z-index: 2;
	}
	
	.stats .fameLevel ul li.total {
	text-align: right;
	color: #90c8f2;
	z-index: 2;
	top: 0px;
	right: 2px;
	font-size: 9px !important;
	}
	
	.stats .fameLevel ul li.status {
	width: 130px;
	background: transparent url("http://www.kaneva.com/images/levelStatusBG.png") no-repeat  left top;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	}
.raveTD {
	padding-top: 10px;
	padding-bottom: 10px;
}
a.raveBtn {
	background: url("~/images/widgets/btnRaveMeOff.gif") no-repeat center 0px;
	display: block;
	height: 60px;
	width: 160px;
	/*font-size: 12px !important;*/
	font-weight: bold;
}

/* End new styles */
