<%@ Control Language="c#" AutoEventWireup="false" Codebehind="ITNav.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.it.reportNav" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table width="740" cellpadding="0" cellspacing="0" Border="0">
<tr><td><img runat="server" src="~/images/spacer.gif" width="4" height="1" /></td>
<td runat="server" id="tdReportTabs" style="font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	background-color: #66CC00;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;">	
	<a href="~/Administration/it/GameList.aspx?ttCat=mykaneva" class="t4" style="cursor:hand;" runat="server" id="aGameServer">Game server setup</a>
</td></tr>	
</table>