/* HEADER */
﻿#content {
    padding: 0 14px 0 14px;
    width: 968px;
}

#content header {
    height: 34px;
    margin: 8px 0;
}

#content header .title {
    padding: 0;
    margin: 0;
    float: left;
}

#content header .actions {
    float: right;
    padding: 6px 0;
}

#content header .actions input[type=text],
#content header .actions select {
    width: 150px;
}

.participant-listing {
    position: relative;
    overflow: auto;
    border-bottom: 1px solid #CCC;
    padding: 12px 0;
}

.participant-listing .participant-info {
    float: left;
    width: 65%;
}

.participant-listing .participant-info .name {
    font: bold 12px verdana, arial, sans-serif;
    margin-bottom: 2px;
}

.participant-listing .participant-details {
    float: right;
}

.participant-listing .participant-details a {
    color: #3d77c4;
    display: inline-block;
    margin: 16px 0 10px 0;
}

.participant-listing .participant-details .detailslabel {
    font: bold 12px verdana, arial, sans-serif;
}

#divDetails h2 {
    font-size: 14px; 
    margin-bottom: 12px;
}

#divDetails .form-row {
    margin-bottom: 8px; 
}

#divDetails .form-row label {
    display: inline-block;
    width: 76px;
    vertical-align: top;
}

div.success,
span.success {
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    color: green;
}