/* HEADER */
@charset "utf-8";
/* CSS Document */

/* ----------Method 1, Variable width, no icon---------- */

#dialog a, #dialog a span {
    background: transparent url('../../images/kaneva/btn_grey_medium_blank_variable.gif') no-repeat scroll left 0;
    margin: 0 15px 0 0;       /* 15px == amount of background image to the right */
    padding: 0 0 0 15px;      /* 15px == amount of background image to the left */
    display: -moz-inline-box; /* Firefox 2 support for inline-block */
    display: inline-block;    /* Must be used so that height can be set */
    height: 26px;             /* Same as height of background image */
    font: 12px/24px Verdana, Arial; /* Appropriate font size / line height */
    color: black;
    text-decoration: none;
}
#dialog a {
    background-position: right 0;
    margin: 0;
    padding: 0;
}

/* ----------Method 2, Fixed width, with icon---------- */
/* -------------------- */
/* BUTTON BASE */
/* -------------------- */
a.button, a:hover.button, a:active.button{
background:url(../../images/kaneva/btn_grey_medium_blank.gif);
display:block;
color:#000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:133px;
}

/* -------------------- */
/* BUTTON BASE NARROW*/
/* -------------------- */
a.buttonnarrow, a:hover.buttonnarrow, a:active.buttonnarrow{
background:url(../../images/kaneva/btn_grey_narrow_blank.gif);
display:block;
color:#000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:100px;
}

/* ----------Method 2, Fixed width, with icon---------- */
/* ------------*/
/* BUTTON FIXED */
/* ------------*/
a.buttonFixed, a:hover.buttonFixed,  a:active.buttonFixed{
background:url(../../images/kaneva/btn_grey_medium_blank.gif);
display:block;
color:#000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:133px;
}
/* -------------------- */
/* BUTTON BASE LARGE    */
/* -------------------- */
a.buttonlarge, a:hover.buttonlarge, a:active.buttonlarge{
background:url(../../images/kaneva/btn_grey_large_blank.gif);
display:block;
color:#000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:200px;
}

/* -------------------- */
/* ICON CLASSES */
/* -------------------- */
.add{background:url(../../images/kaneva/icon_add_17x17.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
.delete {background:url(../../images/kaneva/icon_delete_16x16.gif) no-repeat 8px 4px;text-indent:40px;display:block;}
