/* HEADER */
﻿#lbContainer {padding:10px;width:90%;margin-left:40px;}

#lbContainer .textbox {margin-bottom:10px;}
#lbContainer .label {float:left;width:80px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}
#lbContainer .title {margin-bottom:20px;font-size:16px;font-weight:bold;padding:10px 0 16px 0;border-bottom:solid 1px #ccc;}
#lbContainer .type, #lbContainer .sort {padding:0;}
#lbContainer .type td {padding-right:30px;}
#lbContainer .sort td {padding-right:15px;}
#lbContainer .type .label, #lbContainer .sort .label {padding-top:6px;}
#lbContainer .error, #lbContainer .confirm {text-align:center;padding-bottom:20px;line-height:14px;width:99%;}

#lbContainer .resetButton {padding:20px 0 10px 80px;}
#lbContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:30px;border-top:solid 1px #ccc;}


