/* HEADER */
﻿#gaContainer { padding:10px; width:90%; margin-left:40px; }

#gaContainer .title { margin-bottom:20px; font-size:16px; font-weight:bold; padding:10px 0 16px 0; border-bottom:solid 1px #ccc; }
#gaContainer .error, #gaContainer .confirm {text-align:center;padding-bottom:20px;line-height:14px;width:99%;}
