/* HEADER */
﻿#gaContainer { padding:10px; width:90%; margin-left:40px; }

#gaContainer .textbox { margin-bottom:10px; }
#gaContainer .label { width:230px; text-align:right; margin-right:6px; font-weight:bold; padding-top:3px; }
#gaContainer .text  { width:280px; text-align:left;  margin-right:6px; padding:3px 0 0 239px; }
#gaContainer .title { margin-bottom:20px; font-size:16px; font-weight:bold; padding:10px 0 16px 0; border-bottom:solid 1px #ccc; }
#gaContainer .updateButtons { clear:both; width:100%; text-align:right; padding-top:6px; margin-top:30px; margin-bottom:30px; border-top:solid 1px #ccc; }
#gaContainer .error, #gaContainer .confirm {text-align:center;padding-bottom:20px;line-height:14px;width:99%;}
