/* HEADER */
#infoContainer {padding:10px;width:90%;margin-left:40px;}

#infoData {}

#infoData .title {width:200px;float:left;margin-bottom:12px;line-height:16px;}

#infoData .error {text-align:left;width:550px;float:right;line-height:14px;padding-top:2px;}
#infoData .confirm {padding-top:2px;}

#infoData div {margin-bottom:5px;}
#infoData div.tags {padding-top:10px;height:74px;}
#infoData div.info {color:#999;font-size:10px;margin-top:4px;width:700px;}
#infoData div.info span {font-weight:bold;}

#infoData .name {height:24px;}
#infoData .name input {float:left;}
#infoData .owner {float:right;width:320px;height:20px;text-align:left;padding-top:4px;line-height:14px;}

#infoData .restrictions {padding-top:10px;}
#infoData .restrictions span {font-weight:bold;}
#infoData div.access {padding-top:10px;}

#profilePhoto {text-align:left;padding:0 0 10px 0;float:left;}
#profilePhoto .photo {float:left;margin:4px 0 10px 0;width:140px;text-align:center;}
#profilePhoto .photoDescription {color:#999;font-size:10px;width:580px;padding-left:10px;line-height:16px;float:left;margin:0 0 10px 0;}
#profilePhoto .photoLink {margin-top:0;padding-top:0;height:24px;width:500px;clear:both;}
#profilePhoto h4 {padding-bottom:8px;}

#infoData hr.divider {width:100%;margin:24px 0;}
#infoData .btnContainer {clear:both;}