/* HEADER */
#serverContainer {padding:10px;width:90%;margin-left:40px;}
#serverContainer .buttons {float:right;padding:10px 0 0 0;width:200px;}
#serverContainer .buttons a {float:right;margin-left:16px;font-size:12px;}

#serverData {}

#serverData .header {font-weight:bold;text-align:left;font-size:10px;color:#000;overflow:hidden;padding:0 2px;background-color:#ccc;width:100%;height:40px;margin:0;}
#serverData .row td {font-size:11px;padding:5px 0 4px 0;border-bottom:solid 1px #d9e7ea;height:14px;}
#serverData .row div {float:left;overflow:hidden;height:14px;}

#serverData .pager {clear:both;width:99%;padding-right:10px;margin-top:12px;font-size:10px;text-align:right;font-weight:bold;}

#serverData .error, #serverData .confirm {text-align:left;float:left;padding:0;width:520px;margin-top:20px;line-height:14px;}

#header {font-weight:bold;font-size:10px;color:#000;overflow:hidden;padding:4px 2px 2px 2px;background-color:#d9e7ea;width:100%;height:40px;margin:12px 0 8px 0;}

#serverData .detailsContainer {margin:10px 0 20px 0;padding-top:16px;width:100%;height:100px;}
#serverData .detailsContainer div {float:left;}
#serverData .detailsContainer div span {font-weight:bold;}
#serverData .detailsContainer .title {margin-bottom:10px;width:100%;font-size:16px;font-weight:bold;padding-bottom:6px;border-bottom:solid 1px #d9e7ea;clear:both;}
#serverData .detailsContainer .name {clear:both;width:270px;padding-top:3px;}
#serverData .detailsContainer .port input {width:50px;padding-top:3px;}
#serverData .detailsContainer .visibility {margin:0 20px 0 20px;padding-top:2px;}
#serverData .detailsContainer .editButtons {margin-top:0px;}
#serverData .detailsContainer .editButtons input {margin-left:10px;width:80px;}

#patchData {margin:40px 0 50px 0;}
#patchData .buttons {float:right;padding:10px 0 0 0;width:50%;}
#patchData .buttons a {float:right;margin-left:16px;}

#patchData .header {font-weight:bold;text-align:left;font-size:10px;color:#000;overflow:hidden;padding:0 2px;background-color:#ccc;width:100%;height:40px;margin:0;}
#patchData .header th {text-align:left;padding-left:3px;}
#patchData .row td {font-size:11px;padding:5px 0 4px 0;border-bottom:solid 1px #d9e7ea;height:14px;}
#patchData .row div {float:left;overflow:hidden;height:14px;}
#patchData .patchList .editPatch {width:26px;}
#patchData .patchList .deletePatch {width:56px;}

#patchData .detailsContainer {margin:10px 0 20px 0;padding-top:16px;width:100%;height:100px;}
#patchData .detailsContainer div {float:left;}
#patchData .detailsContainer div span {font-weight:bold;}
#patchData .detailsContainer .title {margin-bottom:10px;width:100%;font-size:16px;font-weight:bold;padding-bottom:6px;border-bottom:solid 1px #d9e7ea;clear:both;}
#patchData .detailsContainer .url {clear:both;width:420px;}
#patchData .detailsContainer .url input {width:330px;}
#patchData .detailsContainer .editButtons input {margin-left:10px;width:80px;}
