/* HEADER */
﻿#incubatorContainer {padding:10px;}
#incubatorContainer .buttons {float:right;padding:10px 0 0 0;width:200px;}
#incubatorContainer .buttons a {float:right;margin-left:16px;font-size:12px;}

#incubatorData {}
#incubatorData .header {font-weight:bold;text-align:left;font-size:10px;color:#000;overflow:hidden;padding:0 2px;background-color:#ccc;width:100%;height:40px;margin:0;}
#incubatorData .row td {font-size:11px;padding:5px 0 4px 0;border-bottom:solid 1px #d9e7ea;height:14px;}
#incubatorData .row div {float:left;overflow:hidden;height:14px;}
#incubatorData .pager {clear:both;width:99%;padding-right:10px;margin-top:12px;font-size:10px;text-align:right;font-weight:bold;}
#incubatorData .error, #incubatorData .confirm {text-align:left;float:left;padding:0;width:520px;margin-top:20px;line-height:14px;}

#header {font-weight:bold;font-size:10px;color:#000;overflow:hidden;padding:4px 2px 2px 2px;background-color:#d9e7ea;width:100%;height:40px;margin:12px 0 8px 0;}

.AppData .header th:first-child {width:198px;}
.AppData .row td:first-child {width:198px;}
