<%@ Page Language="C#" MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="true" CodeBehind="Floorplans.aspx.cs" Inherits="Kaneva.PresentationLayer.Shopping.Floorplans" %>

<asp:Content ID="cntUpload" runat="server" ContentPlaceHolderID="cphBody">

    <script type="text/javascript" src="./jscript/swfobject.js"><!-- // External JS --></script>

    <div id="content">
      	  <script type="text/javascript">
					var flashvars = {};
					var params = {};
					params.quality = "high";
					params.wmode = "transparent";
					params.allowscriptaccess="always";
					var attributes = {};
					attributes.id = "flashContent";
					swfobject.embedSWF("http://streaming.kaneva.com/media/shop/floorplan/flrpln-wrapper.swf", "flash1", "721", "269", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
				</script>
                  <div id="flashContent" class="flashArea">
                    <div id="flash1"><a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a></div></div>

      <div class="endRule"><img src="./images/content_sideRule.gif" alt="Verticle Rule" /></div>

        
         <script type="text/javascript">
					var flashvars = {};
					var params = {};
					params.quality = "high";
					params.wmode = "transparent";
					params.allowscriptaccess="always";
					var attributes = {};
					attributes.id = "flashContent";
					swfobject.embedSWF("http://streaming.kaneva.com/media/shop/floorplan/flrplnFeature-wrapper.swf", "flash2", "719", "315", "9.0.0", "expressInstall.swf", flashvars, params, attributes);
				</script>
                  <div class="featFlshWrapper">
                    <div id="flash2" class="flashArea2"><a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a></div>
                  </div>
        
    <div class="endRule"><img src="./images/content_sideRule.gif" alt="Verticle Rule" /></div>
    </div>

</asp:Content>
