<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#1283a9">
	<tr>
		<td align="center" valign="top" style="font-family: arial, sans-serif;">
					
			<!--HEADER-->
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top"><img src="http://images.kaneva.com/media/marketing/newsletter/images/email_logo.gif" 
					alt="email_logo.gif" width="173" height="43" border="0" galleryimg="no"></td>
					<td  align="right">									
					
					</td>
					<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
				</tr>
			</table>
			<!--HEADER-->
					
			<!--BODY-->
			<table width="573" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f9fa">
				<tr>
				    <td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/cotainer_top.gif" alt="cotainer_top.gif" width="573" height="21" border="0" galleryimg="no"></td>
				</tr>
				<tr>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_left.gif) repeat-y 0 0"></td>
					<td valign="top" width="563" align="center" style="font-family: arial, sans-serif; font-size: 14px; color: #656565">
					
						<!--BODY LEAD OFF-->						
						<table width="500" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">								
								<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">What's New at Kaneva: Your June 2008 Newsletter</h1>
									<strong>Sign in today and get your Daily Rewards!</strong>
									<br /><br />
									Now is a great time to check out Kaneva! Chock-full of new stuff like your own Island Hangout, 
									faster downloads, and Fame & Fortune... we've got just what you're looking for. 								
								</td>
							</tr>
						</table><br />
						<!--BODY LEAD OFF-->	
						

						
						<!--STORIES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">																		
									<!--STORY TWO-->	
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/3d-virtual-world/world-of-kaneva-fame.kaneva"><img src="http://images.kaneva.com/media/marketing/newsletter/images/story3_pic.jpg" alt="" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">World of Kaneva Fame Fashion & Merchandise</h1>
												
												With World of Kaneva Fame, you'll find that our fashion designers have pulled out all the stops. You can win 3D stuff, 
												including some of the most outrageous fashion designs yet. <a href="http://www.kaneva.com/3d-virtual-world/world-of-kaneva-fame.kaneva" style="color: #018aaa;">Learn More...</a>
											
											</td>
										</tr>
									</table>
									<br />
									<!--STORY TWO-->																											
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								
																		<!--STORY TWO-->	
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/community/CommunityPage.aspx?communityId=1118&pageId=3962185&CMP=38"><img src="http://images.kaneva.com/media/marketing/newsletter/images/story2_pic.jpg" alt="story1_pic_22.jpg" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Featured Collectible... Cuddly Kanimals</h1>
												
												Stop by the Collectibles store in Kaneva City, and check out our new Kanimals - stuffed animals so cute your Avatar 
												will want to snuggle up with them at night. <a href="http://www.kaneva.com/community/CommunityPage.aspx?communityId=1118&pageId=3962185&CMP=38" style="color: #018aaa;">Get Yours!</a>
											
											</td>
										</tr>
									</table>
									<br />
									<!--STORY TWO-->
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">								
									<!--STORY ONE-->	
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/kgp/playwok.aspx?goto=C-33&CMP=38"><img src="http://images.kaneva.com/media/marketing/newsletter/images/story1_pic.jpg" alt="story1_pic_22.jpg" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Get a bird's eye view with the World Map</h1>
												
												You asked. We listened. Getting around in 3D is now as convenient as opening the Map, and clicking where you want to go. 
												Visit public places like Kaneva City and TBS Headquarters, or visit thousands of member-designed spaces.<br/>
												<a href="http://www.kaneva.com/kgp/playwok.aspx?goto=C-33&CMP=38" style="color: #018aaa;">Search Hangouts!</a>
											
											</td>
										</tr>
									</table>
									<br />
									<!--STORY ONE-->																		
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>
						</table>
						<!--STORIES-->																		
						<!--UPDATES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">									
									<table width="531" border="0" cellspacing="0" cellpadding="0">
                                         <tr>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/people/people.kaneva?CMP=38"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates1.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/channel/KanevaTopBuilders.channel?CMP=38"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates2.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/channel/DanceParty3D.channel?CMP=38"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates3.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">New Releases</h1>
												
												Now you can search by Nickname, real name or interests on the "People" web page and find friends on Kaneva.
											
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Builder's Corner</h1>
												
												Join the next building contest. Submit a video of your 3D place inside Kaneva, get Raves and earn Rewards.
											
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Upcoming Events</h1>
												
												Dance Party 3D events are happening every night. Get the official DP3D Game Floor, and host your own dance competitions!
											
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;" 
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/people/people.kaneva" style="color: #018aaa; font-size: 12px;">Find Friends Now </a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;" 
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/channel/KanevaTopBuilders.channel" style="color: #018aaa; font-size: 12px;">More Builder News</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px;" 
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/channel/DanceParty3D.channel" style="color: #018aaa; font-size: 12px;">More Dance Party 3D</a></td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
						
							<p>We've updated our Terms & Conditions and Privacy Policy. <br /> Don't worry; Kaneva is still free to play.<br /> 
						    Follow the links if you'd like to review the updates<br />
                            <a style="color: #018aaa;" href="http://www.kaneva.com/overview/termsandconditions.aspx">Terms & Conditions</a>  | 
                            <a style="color: #018aaa;" href="http://www.kaneva.com/overview/privacy.aspx">Privacy Policy</a> <br />
                            </p>
						<!--UPDATES-->								
					</td>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_right.gif) repeat-y 0 0"></td>
					
				</tr>
				<tr><td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/container_bottom.gif" alt="container_bottom.gif" width="573" height="21" border="0" galleryimg="no"><br></td></tr>
			</table>
			<!--BODY-->	
									
			<!--FOOTER-->
			<table border="0" cellspacing="0" cellpadding="0" width="550">
				<tr>
					<td align="center" style="font-family: arial, sans-serif; font-size: 11px; color: #FFFFFF">
						<br />

						
						<br /><br />
					</td>
				</tr>
			</table>
			<!--FOOTER-->
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
