<%@ Page language="c#" Codebehind="WOKInstall.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.kgp.WOKInstall" %>

<style>

body {
	background-color: white;
	background-image: none;
	}
a:hover{
	background-color:white;
}
#imgDownload {margin-top:50px;}

} 

</style>

<br/><br/><br/><br/>

<a id="aDownload" runat="server">
<img id="Img1" runat="server" BORDER=0 src="~/images/download/download_internal.png" />
</a>
</br>
<img id="imgDownload" runat="server" src="~/images/download/explorer.png" />