/* HEADER */
﻿@import "../base/buttons.css";

.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;padding-top:95px; }
#pageHeader {text-align:left;height:30px;}
.pageTitle {color:#333;font-size:18px;font-weight:bold;float:left;width:450px;padding:2px 4px 8px 0;}
.pagination {width:962px;clear:both;text-align:right;font-size:11px;margin-top:8px;padding-right:6px;}
.pagination .pager {width:100%;clear:both;text-align:right;padding-right:1px;padding-top:6px;font-size:11px;}
.pagination .results {width:50%;margin-top:12px;text-align:right;float:right;font-weight:bold;font-size:11px;}

/* CONTENT - adjust the content area for size */
#divContent {height:100%;}

#abContainer {width:950px;overflow:hidden;background-color:#fff;padding:0 27px;text-align:left;line-height:18px;}
#abContainer .textbox { margin-bottom:10px; }
#abContainer .label { width:230px; text-align:right; margin-right:6px; font-weight:bold; padding-top:3px; }
#abContainer .text  { width:280px; text-align:left;  margin-right:6px; padding:3px 0 0 239px; }
#abContainer .title { font-size:20px; font-weight:bold; padding:10px 0 16px 0; border-bottom:solid 1px #ebebeb; }
#abContainer .error, #abContainer .confirm {line-height:14px;width:99%;}

#abContainer .buttons {float:right;width:50%;padding:4px 0;}
#abContainer .buttons input[type="text"] { float:right; }
#abContainer .buttons a {float:right;margin-left:16px;padding-top:4px;height:23px;}
#abContainer .buttons a.btnmedium { font-size: 12px; }
#abContainer .buttons .delete {text-indent:30px;}

#abData {margin-bottom:6px; color:#000; padding:20px 0;}
#abData #data {clear:both;}

#abData .dataRow {width:100%; height:70px; padding:10px 0px; border-top:solid 1px #ebebeb;}

#abData .dataRow .experimentInfo {float:left; width: 60%;}
#abData .dataRow .experimentInfo .name {font-size:13px;font-weight:bold;padding-bottom:3px;}
#abData .dataRow .experimentInfo .desc {font-size:12px;line-height:14px;color:#333;}

#abData .dataRow .experimentDetails {float:right; width: 40%;}
#abData .dataRow .experimentDetails .detailslabel {padding-bottom:10px; text-align:right; font-weight:bold; float:left; width:50%}
#abData .dataRow .experimentDetails .detailstext {padding-bottom:10px; text-align:right; float:right; width:50%}
#abData .dataRow .experimentDetails .edit {padding-bottom:10px; text-align:right; float:right; width:100%}

#abData .detailsContainer {display:none;}
#abData .detailsContainer .title {margin-bottom:20px;font-size:18px;font-weight:bold;padding-bottom:16px;border-bottom:solid 1px #ebebeb;}
#abData .detailsContainer .note {font-size:9px;color:#999;font-weight:normal;}

#abData .detailsContainer .dataContainer {width:590px;float:left;padding-bottom:34px;}
#abData .detailsContainer .dataContainer > div {margin-top:12px;}
#abData .detailsContainer .dataContainer .label {float:left;width:140px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}

#abData .detailsContainer .dataContainer #nameInput input {width:250px; margin-left:2px; margin-right:2px;}
#abData .detailsContainer .dataContainer #statusInput .statusInput {width:250px; margin-left:2px; margin-right:2px;}
#abData .detailsContainer .dataContainer #winGroupInput .groupInput {width:250px; margin-left:2px; margin-right:2px;}

#abData .detailsContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:46px;border-top:solid 1px #ebebeb;}
#abData .detailsContainer .updateButtons a {float:left;margin-left:16px;margin-top:18px;height:23px;}
