<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Kaneva.PresentationLayer.Designer._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Designer Home Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="">Download a template</a><br/>
        <a href="">Upload</a><br/>
    </div>
    </form>
</body>
</html>
