<%@ Page language="c#" Codebehind="changeMyAccount.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.changeMyAccount" %>

<BR>
<center>
<table cellpadding="0" cellspacing="0" border="0" width="560">
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20" ID="Img11"/></td><td bgcolor="#cccccc" width="540" align="left"><div id="container">
						<b class="rtop">
						<b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b>
						</b><br>
						</div>
	</td><td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20" ID="Img12"/></td>
	</tr>
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td><td bgcolor="#cccccc" width="540" align="left"><span class="blogHeadline" style="font-size: 16px;"><b>&nbsp;&nbsp;<input type="radio" checked id="optPlanFree" name="optPlan" value="free" runat="server"/>&nbsp;Basic User Registration</b></span>
	</td><td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	</tr>
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	<td class="header02" style="color: green;" bgcolor="#ffffff" style="line-height: 16px; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;"><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* FREE!<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Access communities and create your own communities<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Unlimited Storage Space<br>	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Buying and Selling Assets<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Self-host up to 5 users on a game server<br><br>
	</td>
	<td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	</tr>
	
</table>
<table cellpadding="0" cellspacing="0" border="0" width="560">
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td><td bgcolor="#cccccc" width="540" align="left" class="dateStamp"><span class="blogHeadline"><b>&nbsp;&nbsp;<input type="radio" id="optPlanStandard" name="optPlan" value="standard" runat="server"/>&nbsp;Enhanced Registration</b></span>&nbsp;&nbsp;(you will be asked to enter payment information)
	</td><td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	</tr>
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	<td class="header02" style="color: green;" style="line-height: 16px; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;"><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* $10/month (Will be auto debited each month)<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Access communities and create your own communities<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Unlimited Storage Space<br>	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Buying and Selling Assets<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Play All Pilot Games for FREE<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Self-host up to 30 users on a game server<br><br>
	</td>
	<td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	</tr>
	<tr>	
		<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="10" height="30" ID="Img1"/></td>						
		<td align="right" bgcolor="#cccccc">
		<asp:label runat="server" id="lblMessage" class="formError"/>
			<input runat="server" id="btnCancelSubscription" class="Filter2" type="button" value=" cancel subscription " NAME="btnCancelSubscription"/>&nbsp;<br><input onMouseUp="javascript: history.back()" class="Filter2" type="button" value=" cancel "/>&nbsp;<asp:button id="btnUpdate" runat="Server" onClick="btnUpdate_Click" class="Filter2" Text=" submit "/>&nbsp;&nbsp;&nbsp;&nbsp;<br><div id="container">
					<b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
					</div>
		</td>
		<td width="10"><img runat="server" src="~/images/spacer.gif" width="10" height="30" ID="Img2"/></td>
	</tr>
</table>
<!--
<table cellpadding="0" cellspacing="0" border="0" width="560" ID="Table1">
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td><td bgcolor="#767676" width="540" align="left"><span class="header02" style="font-size: 16px;"><b>&nbsp;&nbsp;<input type="radio" id="optPlanCommercial" name="optPlan" value="standard" runat="server"/>&nbsp;Premier User Option</b></span>&nbsp;&nbsp;(currently unavailable)
	</td><td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20" ID="Img8"/></td>
	</tr>
	<tr>
	<td width="10" class="smallWhite"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	<td class="header02" style="color: #73FF01;" bgcolor="#868686"><br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* $200/month<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Creation and Access of Communities<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 10GB Storage Space<br>	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Buying and Selling Assets AND Games<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Play All Pilot Games for FREE<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Kaneva hosts your game (up to 200 players) on our server<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Charge other players $$$ to subscribe to your games!<br><br>
	</td>
	<td width="10"><img runat="server" src="~/images/spacer.gif" width="1" height="20"/></td>
	</tr>

</table>	
-->
</center>	

<br><br>