﻿<%@ Page Language="C#" MasterPageFile="~/masterpages/IndexPageTemplate.Master" AutoEventWireup="true" CodeBehind="promo.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.promo" %>

<asp:Content ID="cnPromo" runat="server" contentplaceholderid="cph_Body" >

<style type="text/css">
body {background-color:#000;background-image:none;text-align:center;}
</style>

 

<div class="promoNav"><img src='../images/apvip/navbar_logo_121x33.jpg' /> 
	<div>
	</div>
	<a class="skip" id="lnkIgnore" runat="server">Skip This ></a>
</div>

<div class="wrapper" style="width:955px;padding:0;">

        
	<!-- Level One Access Pass -->
    <div id="div_PassDetailsContent" class="contentContainer" runat="server" style="padding:0;">
			
		<div class="passContainer" style="margin:0;">
			<div class="imageLink" onclick="javascript:Submit();"></div>
			<div class="passText">
				
				<div class="special bold">Special: <span class="white">Exclusive Offer!</span></div>

				<div class="heading"><img src="../images/apvip/logo_vip_78x78.png" /><div>Be a VIP!</div></div>
				<div class="desc white bold">Style your Home and Avatar with Credits.<br />
					Get a great deal when you sign-up for the <span>VIP PASS!</span></div>
		
				<div class="table bold">
					<img class="tableHeading" src="../images/apvip/logo_vip_small_33x33.gif" />
					<div class="tableHeading">Guest</div>
					<div class="row top"><div>Get 3,000 Credits Monthly! ($15 value)</div><img src="../images/apvip/check_24x19.png" /></div>
					<div class="row light"><div>Discount on all Items in Shop</div><img src="../images/apvip/check_24x19.png" /></div>
					<div class="row"><div>Exclusive Dance Moves</div><img src="../images/apvip/check_24x19.png" /></div>
					<div class="row light"><div>Special VIP Badge</div><img src="../images/apvip/check_24x19.png" /></div>
					<div class="row"><div>No 3rd party ads</div><img src="../images/apvip/check_24x19.png" /><img src="../images/apvip/check_24x19.png" /></div>
					<div class="row light"><div class="text">FREE Avatar, Clothes, and Home!</div><img src="../images/apvip/check_24x19.png" /><img src="../images/apvip/check_24x19.png" /></div>
					<div class="footnote" style="display:none;">*Reward Points awarded 1000 per month for Monthly Passes, 12,000 instantly for Annual Passes.</div>
				</div>
		
				<div class="selectContainer">
					<div class="radioBtn">
						<span style="display:none;">
						<input class="radio" type="radio" name="passId_" value="74" checked="true" /><label class="white bold">VIP Annual Pass - </label><br />
						<div>25% Savings!</div>
						<input class="radio" type="radio" name="passId_" value="74" /><label class="footnote bold">VIP Monthly Pass - $4.99</label>
						</span>
						<div>VIP Monthly Pass<br />Only <span>$14.99</span> <label>a month</label></div>
					</div>
					<img src="../images/apvip/btn_getvip_220x41.png" onclick="javascript:Submit();" />
				</div>
				<input type="hidden" name="passId" value='<asp:literal id="litPassId" runat="server"></asp:literal>' />
			</div>
		</div>

	</div>		 
    
</div>


<script type="text/javascript">
	function OnLoad() { }
</script>
<script type="text/javascript">
	function Submit() {
		document.forms[0].action = 'buySpecials.aspx?pass=true';
		document.forms[0].__VIEWSTATE.name = 'name';
		document.forms[0].submit();
	}
</script>

</asp:Content>