<%@ Page language="c#" Codebehind="WorldOfKaneva.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.mykaneva.WorldOfKaneva" %>
<table width="100%">
	<tr>
		<td align="left" class="header01">
			Coming Soon! World Of Kaneva. Diggit.
		</td>
	</tr>
</table>