<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContainerMyKaneva.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.ContainerMyKaneva" %>

<asp:placeholder id="phModule" runat="server"></asp:placeholder>
	
