<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EventsList.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.EventsList" %>


<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: "usercontrols/doodad/EventsListData.aspx",
            data: '',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pEventsList').html(data);
        });
    });

//--> </script> 

<div class="eventsDD">
	<div class="eventTitleContainer">
	<div class="eventsAdd">
		<a id="lnkAddEvent" runat="server">Create Event</a>
	</div><!-- button-->	
	<h2>Events</h2></div>
							   
    <div id="pEventsList"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
	
	
</div><!-- inviteDD -->