﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MyTopWorlds.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.doodad.MyTopWorlds" %>

<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: "usercontrols/doodad/MyTopWorldsData.aspx",
            data: '',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pMyTopWorlds').html(data);
        });
    });

//--> </script> 

<div class="topworlds">
    <h2>My Top Worlds</h2>

	<div id="pMyTopWorlds"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
</div>