<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Notifications.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.Notifications" %>


<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: "usercontrols/doodad/NotificationsData.aspx",
            data: '',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pNotifications').html(data);
        });
    });

//--> </script> 

<div class="notificationDD">
    <h2>Notifications</h2>

	<div id="pNotifications"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
</div>