<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PassesData.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.PassesData" %>

	<div class="dialog" id="divAvailablePasses" runat="server">
		
		<asp:repeater id="rptPasses" runat="server">
			<itemtemplate>
				<a href='mykaneva/passDetails.aspx?pass=true&passId=<%# DataBinder.Eval(Container.DataItem, "promotion_id").ToString() %>' ><img src='<%# DataBinder.Eval(Container.DataItem, "upsell_image_path").ToString() %>' border="0" alt='<%# DataBinder.Eval(Container.DataItem, "name").ToString() %>' /></a><br />
			</itemtemplate>
		</asp:repeater>

	</div>