<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Passes.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.Passes" %>

<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: "usercontrols/doodad/PassesData.aspx",
            data: '',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pPasses').html(data);
        });
    });

//--> </script> 

<div class="passesDD">

	<h2>Passes</h2>
	
    <div id="pPasses"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
	
</div>