<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Raves.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.Raves" %>

<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: "commentCtrlPath+'RavesData.aspx",
            data: 'communityId=<asp:literal id="litCommunityId" runat="server"/>',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pRaves').html(data);
        });
    });

    /*
document.observe("dom:loaded", RavesInit);

function RavesInit (){	 
    var ajaxRequest = new Ajax.Request(commentCtrlPath+'RavesData.aspx', {
        method:       'get', 
        parameters:   '', 
        asynchronous: true,
        evalJS:		  true,
        evalScripts:  true,
        onComplete:   showRaves,
        onFailure:	  errorRaves
    });
}

function showRaves(xmlHttpRequest, responseHeader) {  
    xmlHttpRequest.responseText.evalScripts();
    $('pRaves').innerHTML = xmlHttpRequest.responseText;
}

function errorRaves(error)   
{   
    var val = error.responseText;   
    //alert(val);   
}   
*/
//--> </script> 

<div id="raveUpdate">
<h4>Rave Update:</h4>
<p>You have recently received <a class="raveCount" href="~/mykaneva/transactions.aspx?Raves=Y" runat="server"><span id="pRaves">0</span>  raves</a>&nbsp; &nbsp;<a runat="server" href="~/myKaneva/transactions.aspx?Raves=Y">View All Raves &raquo;</a></p>
</div><!-- raveUpdate-->         
