<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserProfile.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.UserProfile" %>


<script type="text/javascript"><!--

    $j(document).ready(function () {
        $j.ajax({
            type: "GET",
            url: root + "usercontrols/doodad/UserProfileData.aspx",
            data: '',
            contentType: "application/text; charset=utf-8",
            dataType: "text"
        }).done(function (data) {
            $j('#pUserProfile').html(data);
        });
    });

//--> </script> 

<div class="profileDD">
	<div id="pUserProfile"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
</div>