<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

<table bgcolor="aecdd9" width="624" style="font-family: arial, sans-serif; font-size: 11px; color: #FFFFFF">
	<tr>
		<td><center>
		  <p>This email was sent to #toemail# by Kaneva, 5901-C Peachtree Dunwoody Road, Atlanta, Georgia 30328. If you would like to make changes to your account, please modify your preferences in 
		  <a href="http://www.kaneva.com/myKaneva/settings.aspx" style="color: #ffffff">My Kaneva</a>.<br />
  		  <br/>
		  &#169; 2006-2007 Kaneva. All rights reserved worldwide.</p>
		</center></td>
	</tr>
</table>
</body>
</center>
</html>