<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Subject: What's New at Kaneva: Your January 2009 Newsletter
Message:

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#1283a9">
	<tr>
		<td align="center" valign="top" style="font-family: arial, sans-serif;">
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="font-family: arial, sans-serif; font-size: 11px;
					color: #26baee" align="center">To ensure future delivery of
					Kaneva updates add newsletter@kaneva.com to your address
					book.<br />If you are having trouble seeing this email,
					<a href="http://www.kaneva.com/etc/newsletter/october-08.html?cmp=54"
					style="color: #26baee;">go here</a>. </td>
				</tr>
			</table>
			<br />
			<!--HEADER-->
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top"><img src="http://images.kaneva.com/media/marketing/newsletter/images/email_logo.gif"
					alt="email_logo.gif" width="173" height="43" border="0" galleryimg="no"></td>
					<td  align="right">
						<table border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
								<td colspan="4" style="font-family: arial, sans-serif; font-size: 14px; color: #ffffff">Kaneva Newsletter created for #username#</td>
							</tr>
						</table><br>
						#wealthtable#
					</td>
					<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
				</tr>
			</table>
			<!--HEADER-->
			<!--BODY-->
			<table width="573" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f9fa">
				<tr>
				    <td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/cotainer_top.gif"  width="573" height="21" border="0" galleryimg="no"></td>
				</tr>
				<tr>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_left.gif) repeat-y 0 0"></td>
					<td valign="top" width="563" align="center" style="font-family: arial, sans-serif; font-size: 14px; color: #656565">

						<!--BODY LEAD OFF-->
						<table width="500" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
								<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Hi #firstname#,</h1>
									<strong>Sign in today and get your Daily Rewards!</strong>
									<br /><br />									
									Happy New Year! We're kicking off 2009 with some exciting new features! Check out the latest news and events . . .
								</td>
							</tr>
						</table><br />
						<!--BODY LEAD OFF-->
						<!--STORIES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif"  width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								    <!--STORY THREE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/kgp/playwok.aspx?goto=C-41"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2009-01/job.jpg"  width="500" height="160" border="0" galleryimg="no" /></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Get a Job and Earn Rewards</h1>

												You asked for more ways to earn Kaneva Rewards, and we listened! Now you have a job in Kaneva at the <b>One Click Employment Agency</b>&#151;where we reward you just for showing up to work!<br />
												<br />
												Simply walk up to an open computer at the One Click Employment Agency and press TAB to get your Rewards. It's that easy!<br />
												<br />
												The One Click Employment Agency allows you to work every six hours and earn Rewards! Plus, if you invite your friends, you'll earn even more! <br />
												<br />
												
												
												<a href="http://www.kaneva.com/kgp/playwok.aspx?goto=C-41"
												style="color: #018aaa;">Earn Rewards Now</a>

											</td>
										</tr>
									</table>
									<br />
									<!--STORY THREE-->

								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								    <!--STORY FOUR-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://ideas.kaneva.com/"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2009-01/idea.jpg"  width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Get Involved with Kaneva Ideas</h1>

												Introducing Kaneva Ideas&#151;the incubator for Kaneva innovation! <br />
												<br />
												Get involved:<br />
                                                <ul>
                                                    <li>Submit your new ideas</li>
                                                    <li>Comment on ideas</li>
                                                    <li>Vote for ideas you like</li>
                                                </ul>

												<br />
												Spread the word in world with your friends! With your help, we can focus on the features and functionality that you want!<br />
												<br />
												<a href="http://ideas.kaneva.com/"
												style="color: #018aaa;">Share an Idea</a>
											</td>
										</tr>
									</table>
									<br />
									<!--STORY FOUR-->

								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>



							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<!--STORY ONE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/buy?cmp=54"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2009-01/island.jpg" alt="" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Last Chance to Go on an Island Excursion</h1>
												Escape from reality this month with our Island Excursion special. Get everything you need to throw a wild party! Hurry! This Special ends on February 10th.<br />
												<br />
												The Island Excursion includes 5,000 credits plus the following items:<br />
												<ul>
                                                    <li>1 Island Hangout Deed</li>
                                                    <li>1 Tiki Hut</li>
                                                    <li>1 Boar on a Stick</li>
                                                    <li>1 Volcano</li>
                                                    <li>1 Fire Pit</li>
                                                    <li>1 Totem Pole</li>
                                                  
                                                </ul>

												<a href="http://www.kaneva.com/buy?cmp=54"
												style="color: #018aaa;">More Specials</a>
											</td>
										</tr>
									</table>
									<br />
									
									<!--STORY ONE-->
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

						</table>
						<!--STORIES-->
						<!--UPDATES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<table width="531" border="0" cellspacing="0" cellpadding="0">
                                         <tr>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/mykaneva/friendsGroups.aspx?cmp=54"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates1.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://forums.kaneva.com/showthread.php?t=7134"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates2.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/3d-virtual-world/virtual-life.kaneva?cmp=54"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates3.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
										</tr>
										 <tr>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">New Releases</h1>
												We're excited to announce the launch of our first official Kaneva Blog! It's the place to find out about new features, events, and contests and the place to interact with the Kaneva team!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Builder's Corner</h1>
												Get everything you need to design and build a new home. Shop the Move-in Bundle, which includes a manor home deed and building materials!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Upcoming Events</h1>
												Join us for the <b>Lady Hannah Album Release Party</b>, Wed, January 28, 2009 from 8-10 p.m. EST. See Lady Hannah&#151;the British neo soul songtress&#151;and hear her world debut!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
										</tr>
										<tr>
											<td colspan="9">&nbsp;</td>
										</tr>
										<tr>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://blog.kaneva.com/" style="color: #018aaa; font-size: 12px;">Blog.Kaneva.com</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/buy?cmp=54" style="color: #018aaa; font-size: 12px;">Kaneva.com/Buy</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/LadyHannah?cmp=54" style="color: #018aaa; font-size: 12px;">Kaneva.com/LadyHannah</a></td>
										</tr>
									</table>

								</td>
							</tr>
						</table>
                        <br />					
							<p><a href="http://www.surveymonkey.com/s.aspx?sm=vQncI4Jt03_2b_2b91aOClRABw_3d_3d"  style="color: #018aaa;">
							<img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-07/feedback3.jpg" border=0 style="vertical-align:middle;" /></a>Tell us what you think. 
							<a href="http://www.surveymonkey.com/s.aspx?sm=dzFCTs3tFYj87ppqH6Pi5w_3d_3d"  style="color: #018aaa;">Take our short, two-question survey.</a></p>
						<br />
						<!--UPDATES-->
					</td>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_right.gif) repeat-y 0 0"></td>
				</tr>
				<tr><td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/container_bottom.gif"  width="573" height="21" border="0" galleryimg="no"><br></td></tr>
			</table>
			<!--BODY-->
			<!--FOOTER-->
			<table border="0" cellspacing="0" cellpadding="0" width="550">
				<tr>
					<td align="center" style="font-family: arial, sans-serif; font-size: 11px; color: #FFFFFF">
						<br />

						<p>If you no longer wish to receive the newsletter, <a href="http://www.kaneva.com/mykaneva/unsubscribe.aspx?#unsubid#&cmp=54" style="color: #ffffff;">unsubscribe</a>. This email was sent to #toemail# by Kaneva 5901-C Peachtree Dunwoody Road, Atlanta, Georgia 30328</p>
						<br /><br />
						<img src="http://www.kaneva.com/displayImageTracking.aspx?u=#userid#&m=54" />
					</td>
				</tr>
			</table>
			<!--FOOTER-->
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
