<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Subject: What's New at Kaneva: Your November 2008 Newsletter
Message:

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#1283a9">
	<tr>
		<td align="center" valign="top" style="font-family: arial, sans-serif;">
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="font-family: arial, sans-serif; font-size: 11px;
					color: #26baee" align="center">To ensure future delivery of
					Kaneva updates add newsletter@kaneva.com to your address
					book.<br />If you are having trouble seeing this email,
					<a href="http://www.kaneva.com/etc/newsletter/november-08.html?cmp=47"
					style="color: #26baee;">go here</a>. </td>
				</tr>
			</table>
			<br />
			<!--HEADER-->
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top"><img src="http://images.kaneva.com/media/marketing/newsletter/images/email_logo.gif"
					alt="email_logo.gif" width="173" height="43" border="0" galleryimg="no"></td>
					<td  align="right">
						<table border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
								<td colspan="4" style="font-family: arial, sans-serif; font-size: 14px; color: #ffffff">Kaneva Newsletter created for #username#</td>
							</tr>
						</table><br>
						#wealthtable#
					</td>
					<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
				</tr>
			</table>
			<!--HEADER-->
			<!--BODY-->
			<table width="573" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f9fa">
				<tr>
				    <td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/cotainer_top.gif"  width="573" height="21" border="0" galleryimg="no"></td>
				</tr>
				<tr>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_left.gif) repeat-y 0 0"></td>
					<td valign="top" width="563" align="center" style="font-family: arial, sans-serif; font-size: 14px; color: #656565">

						<!--BODY LEAD OFF-->
						<table width="500" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
								<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Hi #firstname#,</h1>
																	
									<strong>Happy Thanksgiving!</strong>
									<p>We hope you have a great day celebrating with loved ones, family and friends. This month we're celebrating friendship in Kaneva&#8212;and we're thankful that you're part of our Kaneva family. Check out the latest news and events...</p>
								</td>
							</tr>
						</table><br />
						<!--BODY LEAD OFF-->
						<!--STORIES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif"  width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								    <!--STORY THREE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/3d-virtual-world/kaneva-ka-ching.kaneva?cmp=47"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-11/kaching.jpg"  width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Play Ka-ching! </h1>

												Introducing a new game for you and your friends. We're excited to announce the launch of Ka-ching!&#8212;our multi-player, third-person shooting game, live in the World of Kaneva!<br />
												<br />
												Team up with your friends to find, collect and deposit the most coins (Ka-ching!), dodge foam darts, and eliminate your opponents.<br />
												<br />
												You can assemble a team with your friends, or easily join one in progress. To play Ka-ching!, simply click the <b>Activities</b> button on your HUD display.<br />
												<br />
												<a href="http://www.kaneva.com/3d-virtual-world/kaneva-ka-ching.kaneva?cmp=47"
												style="color: #018aaa;">Go play Ka-ching!</a>

											</td>
										</tr>
									</table>
									<br />
									<!--STORY THREE-->

								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<!--STORY ONE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/myKaneva/buycredits.aspx?cmp=47"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-11/instant_host.jpg" alt="" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Get Our Instant Host Bundle</h1>
												Celebrate friendship and togetherness this month with our Instant Host Bundle. Get everything you need to host a dinner party for 10 people!<br />
												<br />
												The Instant Host Bundle includes 5,000 credits plus more than 30 additional items:<br />
												<ul>
                                                    <li>1 Large Dining Room Table</li>
                                                    <li>10 Dining Room Chairs</li>
                                                    <li>10 Place Settings</li>
                                                    <li>10 Silver Wine Goblets</li>
                                                    <li>1 Fall Centerpiece</li>
                                                    <li>2 Candelabras</li>
                                                    <li>1 Silver Pitcher</li>
                                                    <li>1 Silver Gravy Boat</li>
                                                    <li>1 Set of Pilgrim Salt &amp; Pepper Shakers</li>
                                                    <li>1 Fireplace</li>
                                                </ul>

												<br />
												<a href="http://www.kaneva.com/myKaneva/buycredits.aspx?cmp=47" style="color: #018aaa;">See More Specials</a>
											</td>
										</tr>
									</table>
									<br />
									
									<!--STORY ONE-->
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

						</table>
						<!--STORIES-->
						<!--UPDATES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<table width="531" border="0" cellspacing="0" cellpadding="0">
                                         <tr>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/myKaneva/transactions.aspx?cmp=47"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates1.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/myKaneva/buycredits.aspx?cmp=47"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates2.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.kaneva.com/3d-virtual-world/virtual-life.kaneva?cmp=47"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates3.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
										</tr>
										 <tr>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">New Releases</h1>
												Now you can track your Rewards, Fame, purchases, gifts, and trades in one place using the all-new My Transactions feature in My Kaneva!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Builder&#146;s Corner</h1>
												Light up your home or hangout with our incredible laser lights. Shop the Laser Sale, which includes eight different colors!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Upcoming Events</h1>
												Join us for the Kaneva Spiritware Fashion Show on Tuesday, December 2nd at 9 p.m. Eastern&#8212;in Kaneva City. Show off your Kaneva spirit and see the winning designs! 
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
										</tr>
										<tr>
											<td colspan="9">&nbsp;</td>
										</tr>
										<tr>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/myKaneva/transactions.aspx?cmp=47" style="color: #018aaa; font-size: 12px;">My Transactions</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/myKaneva/buycredits.aspx?cmp=47" style="color: #018aaa; font-size: 12px;">Find out more</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.kaneva.com/3d-virtual-world/virtual-life.kaneva?cmp=47" style="color: #018aaa; font-size: 12px;">Find Out More</a></td>
										</tr>
									</table>

								</td>
							</tr>
						</table>
                        <br />					
							<p><a href="http://www.surveymonkey.com/s.aspx?sm=31v1GWkAn4ODnYpyeFec1A_3d_3d"  style="color: #018aaa;">
							<img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-07/feedback3.jpg" border=0 style="vertical-align:middle;" /></a>Tell us what you think. 
							<a href="http://www.surveymonkey.com/s.aspx?sm=31v1GWkAn4ODnYpyeFec1A_3d_3d"  style="color: #018aaa;">Take our short, two-question survey.</a></p>
						<br />
						<!--UPDATES-->
					</td>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_right.gif) repeat-y 0 0"></td>
				</tr>
				<tr><td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/container_bottom.gif"  width="573" height="21" border="0" galleryimg="no"><br></td></tr>
			</table>
			<!--BODY-->
			<!--FOOTER-->
			<table border="0" cellspacing="0" cellpadding="0" width="550">
				<tr>
					<td align="center" style="font-family: arial, sans-serif; font-size: 11px; color: #FFFFFF">
						<br />

						<p>No humans were involved in the creation of this email. It is auto-generated, so please don't reply. If you no longer wish to receive the newsletter, <a href="http://www.kaneva.com/mykaneva/unsubscribe.aspx?#unsubid#&cmp=47" style="color: #ffffff;">click here to unsubscribe</a>.
						For information about closing your Kaneva account, <a style="color: #ffffff;" href="http://support.kaneva.com/ics/support/default.asp?deptID=5433">click here</a>.</p>
						<p>This email was sent to #toemail# by Kaneva. (c) 2006-2008 Kaneva. 5901-C Peachtree Dunwoody Road, Atlanta, Georgia 30328. All rights reserved worldwide.</p>
						<br /><br />
						<img src="http://www.kaneva.com/displayImageTracking.aspx?u=#userid#&m=47" />
					</td>
				</tr>
			</table>
			<!--FOOTER-->
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
