<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Subject: What's New at Kaneva: Your September 2008 Newsletter
Message:

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#1283a9">
	<tr>
		<td align="center" valign="top" style="font-family: arial, sans-serif;">
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="font-family: arial, sans-serif; font-size: 11px;
					color: #26baee" align="center">To ensure future delivery of
					Kaneva updates add newsletter@kaneva.com to your address
					book.<br />If you are having trouble seeing this email,
					<a href="http://www.kaneva.com/etc/newsletter/september-08.html?CMP=43"
					style="color: #26baee;">go here</a>. </td>
				</tr>
			</table>
			<br />
			<!--HEADER-->
			<table width="573" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top"><img src="http://images.kaneva.com/media/marketing/newsletter/images/email_logo.gif"
					alt="email_logo.gif" width="173" height="43" border="0" galleryimg="no"></td>
					<td  align="right">
						<table border="0" cellspacing="0" cellpadding="0" align="right">
							<tr>
								<td colspan="4" style="font-family: arial, sans-serif; font-size: 14px; color: #ffffff">Kaneva Newsletter created for #username#</td>
							</tr>
						</table><br>
						#wealthtable#
					</td>
					<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
				</tr>
			</table>
			<!--HEADER-->
			<!--BODY-->
			<table width="573" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f9fa">
				<tr>
				    <td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/cotainer_top.gif" alt="cotainer_top.gif" width="573" height="21" border="0" galleryimg="no"></td>
				</tr>
				<tr>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_left.gif) repeat-y 0 0"></td>
					<td valign="top" width="563" align="center" style="font-family: arial, sans-serif; font-size: 14px; color: #656565">
						<!--BODY LEAD OFF-->
						<table width="500" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
									<h1 style="font-size: 24px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Hi #firstname#,</h1>
									<strong>Sign in today and get your Daily Rewards!</strong>
									<br /><br />
									A lot is happening at Kaneva, and we want you to be the first to know!
									We're now offering <a href="http://forums.kaneva.com/showthread.php?t=6534" style="color: #018aaa;">250 Rewards during Party Hour</a>.
									Here's more of the latest and greatest...
								</td>
							</tr>
						</table><br />
						<!--BODY LEAD OFF-->
						<!--STORIES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif"  width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								    <!--STORY THREE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://shop.kaneva.com"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-08/story2.jpg"  width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Shop 'til You Drop at Shop Kaneva</h1>

												At Kaneva, it's all about you!<br />
                                                <br />
                                                Shop for a new outfit (or two) with our <strong>new online catalog: Shop Kaneva!</strong> There are
                                                thousands of 3D items&mdash;including floorplans, furniture, clothes, collectibles, and more&mdash;all online!<br />
                                                <br />
                                                With Shop Kaneva, you can easily browse and even try before you buy! Use your Kaneva Rewards or Credits to get items that are distinctly you.<br />
                                                <br />
												<a href="http://shop.kaneva.com" style="color: #018aaa;">Visit shop.kaneva.com</a>

											</td>
										</tr>
									</table>
									<br />
									<!--STORY THREE-->

								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
								    <!--STORY FOUR-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/myKaneva/buyaccess.aspx?cmp=43"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-08/story4.jpg"  width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">Over 18? Get Your Access Pass Combo Pack!</h1>

												The Access Pass Combo Pack now includes 4,000 Credits!<br />
												<br />
                                                Get in on exclusive clothing and accessories, 3D hangouts, special events, and more. Be part of the All Access Community!<br />
                                                <br />
                                                The Access Pass Combo Pack:
                                                <ul>
                                                    <li>Now includes 4,000 Credits</li>
                                                    <li>Allows you to get exclusive clothing and accessories</li>
                                                    <li>Gives you access to restricted (18+) areas and events</li>
                                                    <li>Features the ability to restrict your home to Access Pass holders only</li>
                                                    <li>Includes FREE Access Pass costumes</li>
                                                </ul>

												<a href="http://www.kaneva.com/myKaneva/buyaccess.aspx?cmp=43" style="color: #018aaa;">Upgrade your access</a>

											</td>
										</tr>
									</table>
									<br />
									<!--STORY FOUR-->

								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>

							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<!--STORY ONE-->
									<table width="500" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><a href="http://www.kaneva.com/kgp/playwok.aspx?cmp=42&goto=C-43"><img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-08/story1.jpg" alt="" width="500" height="160" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td width="" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">

												<h1 style="font-size: 17px; color: #13667a; padding: 0 0 5px 0; margin: 0;">New Avatar Faces: Get Yours Now!</h1>
												<p>It's an extreme makeover... Kaneva style! </p>

												New Avatar faces are now live in the 3D World of Kaneva! Enjoy more realistic features like life-like hair, new
												facial features, and a variety of possible combinations. If you haven't created your Avatar now's the time!
												It's fun, easy and free. <br />
												<br />
												<a href="http://www.kaneva.com/kgp/playwok.aspx?cmp=42&goto=C-43" style="color: #018aaa;">Create your new Avatar</a>

											</td>
										</tr>
									</table>
									<br />
									<!--STORY ONE-->
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" align="center">&nbsp;</td>
							</tr>


						</table>
						<!--STORIES-->
						<!--UPDATES-->
						<table width="531" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="http://images.kaneva.com/media/marketing/newsletter/images/story_top.gif" alt="story_top.gif" width="531" height="25" border="0" galleryimg="no"></td>
							</tr>
							<tr>
								<td bgcolor="#eff2f3" align="center">
									<table width="531" border="0" cellspacing="0" cellpadding="0">
                                         <tr>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://www.cafepress.com/kaneva"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates1.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://shop.kaneva.com/CatalogLanding.aspx?cId=34"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates2.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
											<td colspan="3" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top"><a href="http://forums.kaneva.com/showthread.php?t=6534"><img src="http://images.kaneva.com/media/marketing/newsletter/images/updates3.gif"  width="177" height="56" border="0" galleryimg="no"></a></td>
										</tr>
										<tr>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">New Releases</h1>
												Shamelessly plug Kaneva with our exclusive T-shirts and logo wear, now available from Caf&eacute Press.
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Builder's Corner</h1>
												Remodeling or building a 3D home or hangout? Shop Kaneva makes it easy to do-it-yourself with our texture-ready
												building materials... now available online!
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
											<td width="147" style="font-family: arial, sans-serif; font-size: 14px; color: #656565" valign="top">
												<h1 style="font-size: 15px; color: #656565; padding: 5px 0 5px 0; margin: 0;">Upcoming Events</h1>
												Join us in-world during Party Hour&mdash;held Mon, Wed, and Sat each week from 9:30 to 10:30 p.m.
												EST&mdash;meet friends, have
												fun, and earn 250 Rewards.
											</td>
											<td width="15"><img src="http://images.kaneva.com/media/marketing/newsletter/images/spacer.gif" width="15" height="1" border="0"></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://www.cafepress.com/kaneva" style="color: #018aaa; font-size: 12px;">Get Your T-shirt Now</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px; border-right: 2px solid #ffffff;"
											valign="top" bgcolor="#cee4e9"><a href="http://shop.kaneva.com/CatalogLanding.aspx?cId=34" style="color: #018aaa; font-size: 12px;">Shop Building Materials</a></td>
											<td colspan="3" align="center" width="177" style="font-family: arial, sans-serif; font-size: 14px; color: #656565; padding: 3px;"
											valign="top" bgcolor="#cee4e9"><a href="http://forums.kaneva.com/showthread.php?t=6534" style="color: #018aaa; font-size: 12px;">Find Out More </a></td>
										</tr>
									</table>

								</td>
							</tr>
						</table>
						<br />
							<p><a href="http://www.surveymonkey.com/s.aspx?sm=2_2f7QPoVol2AM9nDcB9mJyA_3d_3d"  style="color: #018aaa;">
							<img src="http://images.kaneva.com/media/marketing/newsletter/images/2008-07/feedback3.jpg" border=0 style="vertical-align:middle;" /></a>Tell us what you think.
							<a href="http://www.surveymonkey.com/s.aspx?sm=2_2f7QPoVol2AM9nDcB9mJyA_3d_3d"  style="color: #018aaa;">Take our short, two-question survey.</a></p>
						<br />
						<!--UPDATES-->
					</td>
					<td width="5" valign="top" bgcolor="#1283a9" style="background: #1283a9 url(http://images.kaneva.com/media/marketing/newsletter/images/container_right.gif) repeat-y 0 0"></td>
				</tr>
				<tr><td colspan="3"><img src="http://images.kaneva.com/media/marketing/newsletter/images/container_bottom.gif" alt="container_bottom.gif" width="573" height="21" border="0" galleryimg="no"><br></td></tr>
			</table>
			<!--BODY-->

			<!--FOOTER-->
			<table border="0" cellspacing="0" cellpadding="0" width="550">
				<tr>
					<td align="center" style="font-family: arial, sans-serif; font-size: 11px; color: #FFFFFF">
						<br />

						<p>No humans were involved in the creation of this email. It is auto-generated, so please don't reply. If you no longer wish to receive the newsletter, <a href="http://www.kaneva.com/mykaneva/unsubscribe.aspx?#unsubid#&CMP=43" style="color: #ffffff;">click here to unsubscribe</a>.
						For information about closing your Kaneva account, <a style="color: #ffffff;" href="http://support.kaneva.com/ics/support/default.asp?deptID=5433">click here</a>.</p>
						<p>This email was sent to #toemail# by Kaneva. (c) 2006-2008 Kaneva. 5901-C Peachtree Dunwoody Road, Atlanta, Georgia 30328. All rights reserved worldwide.</p>
						<br /><br />
						<img src="http://www.kaneva.com/displayImageTracking.aspx?u=#userid#&m=43" />
					</td>
				</tr>
			</table>
			<!--FOOTER-->
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
