<%@ Page language="c#" Codebehind="about.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.about" %>
<%@ Register TagPrefix="Kaneva" TagName="HeaderText" Src="../usercontrols/HeaderText.ascx" %>
<Kaneva:HeaderText runat="server" Text="Kaneva Tour" ID="Headertext1"/>

<table cellpadding="5" cellspacing="0" border="0" width="750" ID="Table1">
	<tr>
	<td id="iFrame02" runat="server">
		<asp:Literal id="litFrame" runat="server"/>
	</td>
	</tr>
</table>
