<%@ Page language="c#" Codebehind="commOverview.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.commOverview" %>


<center>
<a id="joinLink" runat="server"><img src="~/images/splash_community.jpg" runat="server" border="0"/></a>
</center>