<%@ Page language="c#" Codebehind="pubAndProfit.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.pubAndProfit" %>
<table cellpadding="5" cellspacing="0" border="0" width="560" ID="Table1">
	<tr>
	<td><center>
		<iframe width="540" height="800" src="pubProf_01.htm" frameborder="0"></iframe>
		</center>
	</td>
	</tr>
</table>
