<%@ Page language="c#" Codebehind="softwareLicenses.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.softwareLicenses" %>


<table cellpadding="20" cellspacing="0" border="0" width="100%">
<tr><td class="bodyText">
<b><span style='font-size:13.5pt;color:black' id="CP">Kaneva - Kaneva Software Beta Licenses</span></b><br><br>
<BR/><BR/>
<B><u>Developer License</u></B><BR/>
	Terms of Use.  A Developer License is an evaluation license.  Under this license you may have up to 5 concurrent users access the Kaneva Game Server.  All users must be employees.  You may use the Kaneva Game Studio, Kaneva Game Engine, and Platform Editor internally for development purposes only, and may not provide or distribute the Kaneva Software to any third party, including but not limited to end users or customers.<BR/>
	Distribution.  The Kaneva Software may not be provided to any third party.<BR/>
	License Fee.   None.<BR/>
	Monthly User Fees.   Not applicable as this is not a commercial license.<BR/>
<BR/><BR/>
<B><u>Pilot License</u></B><BR/>
	Terms of Use.  This is a license for testing and limited commercial use.   Under this license, you may have up to 30 concurrent users of the Kaneva Game Server, including developers and end users/customers. <BR/>
	Distribution.  Games may be listed on and linked from Kaneva.com.  The software and games must be hosted on your server.  You may distribute the Kaneva Game Engine to end users only as part of online enabled games developed, owned or licensed by you.  <BR/>
	License Fee.  None.<BR/>
	Monthly User Fees.  None.<BR/>
<BR/><BR/>
<B><u>Commercial License</u></B><BR/>
	Terms of Use.  Unlimited user license.  The Kaneva Software may only be used as a component of games developed by you.<BR/>
	Distribution.  All listing of your games based on the Kaneva Software will be through Kaneva.com.  As part of the License and Monthly User Fees specified below, Kaneva will host games using Kaneva Software on servers controlled by Kaneva. Games will be listed on and linked from Kaneva.com.  You may distribute the Kaneva Game Engine only to end users through Kaneva.com as part of online enabled games developed, owned or licensed by you.  <BR/>
	License Fee.  A one time license fee of $50,000 per game, payable as set forth below.<BR/>
	Monthly User Fees.  In addition to the one time license fee, Monthly User Fees per game developed using the Kaneva Software shall be the greater of the following:<BR/>
<UL><LI>	$200 per month per game.<BR/>
<LI>	$2 per concurrent user per game, based on the highest number of concurrent users using the Kaneva Software for your game or games at any moment during the month.<BR/>
<LI>	50% of net fees generated by each game based on the Kaneva Software.  Net fees means gross revenues less hosting and operating expenses for the applicable games, including but not limited to a pro rata share of server space and internet connectivity.  Hosting and operating expenses are estimated to be $1 per month per subscriber, but may be more or less depending on actual expenses incurred.  You are solely responsible for setting the amount of monthly user fees for subscribers to your games.  Until the license fee is paid in full, you will receive 20% of net fees.  Of the remaining 80%, 30% will be credited against the outstanding amount of the license fee and 50% shall go to Kaneva for fees due hereunder.  In addition, you may include your game in Kanevas monthly multi-game plan offered to subscribers, in which case you will receive credit to your net fees generated based on monthly fees collected by Kaneva adjusted to reflect your pro-rata portion based on usage of your game compared to usage of all games by unlimited monthly subscribers.<BR/>
</UL>
<BR/><BR/>
<B><u>Single User License</u></B><BR/>
	Terms of Use.  You may incorporate the Kaneva Software into single player standalone games developed by you.<BR/>
	Distribution.  All single player games based on the Kaneva Software will be sold through Kaneva.com.  You may distribute the Kaneva Game Engine only to end users through Kaneva.com as part of single player standalone games developed, owned or licensed by you.  <BR/>
	License Fee.<BR/>
<UL><LI>	A one time license fee of $50,000 per game, payable as set forth below.<BR/>
<LI>	A continuing royalty fee equal to 50% of gross license fees for each game sold and downloaded through Kaneva.com.  You are solely responsible for setting the license fee for downloadable, standalone games.  <BR/>
<LI>	Until your one time license fee is paid in full, you will receive 20% of fees from licenses sold.  Of the remaining 80%, 30% will be credited against the outstanding amount of the license fee and 50% shall go to Kaneva for fees due hereunder.  <BR/>
</UL>
<BR/><BR/>

No games or applications subject to this agreement may be pre-sold except under a presale agreement signed by the parties.
<BR/><BR/>

</td></tr>
</table>
