/* HEADER */
/* CSS Document: Home Page 01-23-09 */

/* CSS for the buttons 
*---------------------------------------------------------------------------*/
@import url(buttons.css);

/* CONSTANTS
*---------------------------------------------------------------------------*/	
body {
	background:url("../../images/header/background_100x100_greyNoise.jpg") repeat 0px 0px;
	margin:0;
	padding:0;
	font:12px/16px Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3d77c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #3d77c4;
	background: transparent;
}

img {
	border-width: 0px;
	border-style: none;
}

form {
	margin: 0px;
	padding: 0px;
}

.wrapper {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background: #FFFFFF;
	padding-bottom: 20px;  
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 19px;
	font-weight:normal;
	margin: 0px;
	padding: 0px;
}
	
h2 {
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	padding: 0 15px 0px 0;
	margin: 10px 0 0 0;
	}
	
h3 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	padding: 2px 8px 0 8px;
	margin: 0;
	position: relative;
	} 
	
h4 {
	font-size: 14px;
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
	}
	
h5 {
    font-size: 16px;
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    }
    
h6 {
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size:22px;
	font-weight:bold;
    }
   
 hr {
	background-color: #d9e6e9;
	color: #d9e6e9;
	height: 1px;
	border: 0;
}
   
/*-----------(ERROR MESSAGE BOXES)----------- */
.errBox{width:100%;border:solid red 1px;background-color:#ffebe8;padding:4px;text-align:left;}
.warningBox{width:100%;border:solid 1px #000;background-color:#fffea9;padding:4px;text-align:left; font-size:12px;}
.infoBox{width:100%;border:solid 1px #000;background-color:#def3fc;padding:4px;text-align:left;font-size:12px;}
.successBox{width:100%;border:solid 1px #000;background-color:#ccffcc;padding:4px;text-align:left;font-size:12px;}
.info{line-height:12px;font-size:10px;color:#777;}
.warning{line-height:14px;font-size:12px;color:Maroon;font-weight:bold;}

.error{font-size:12px;font-family:Verdana;font-weight:bold;color:#d3202a;}
.confirm{font-size:12px;font-family:Verdana;font-weight:bold;color:#00a651;}
/*End error and message box section*/

/* WHITE BARCKGROUND FROM CURRENT LAYOUT
*---------------------------------------------------------------------------*/	
/* :: White backreound w/ rounded corners ::::::::::::::::::::::::::::::::: */
 ul.pageCap {
	list-style: none;
	display: block;
	margin: 0px auto;
	padding: 0px;
	height: 6px;
	width: 990px;
}
 ul.pageCap li {
	float: left;
	list-style: none;
}
 ul.pageCap li.topL {
	background: url("../../images/boxes/frTopLeft.gif") no-repeat 0px 0px;
	height: 6px;
	width: 6px;
}
 ul.pageCap li.whiteBacker {
	background: #FFFFFF;
	height: 6px;
	width: 978px;
}
 ul.pageCap li.topR {
	background: url("../../images/boxes/frTopRight.gif") no-repeat 0px 0px;
	height: 6px;
	width: 6px;
}
 ul.pageCap li.btmL {
	background: url("../../images/boxes/frBottomLeft.gif") no-repeat 0px 0px;
	height: 6px;
	width: 6px;
}
 ul.pageCap li.btmR {
	background: url("../../images/boxes/frBottomRight.gif") no-repeat 0px 0px;
	height: 6px;
	width: 6px;
}

/* :: Gray border w/ rounded corners and background gradation ::::::::::::: */
.module {
	background:#FFFFFF url("../../images/bg_module.jpg") repeat-x 0pt 0px;
	border-bottom:1px solid #D4D5DA;
	border-left:1px solid #D4D5DA;
	border-right:1px solid #D4D5DA;
	display:block;
	margin:0px auto;
	padding:0pt;
	position:relative;
	text-align:left;
	width: 930px;
}
.module .ct, .module .ct .cl, .module .cb, .module .cb .cl {
	display:block;
	font-size:0pt;
	height:13px;
	line-height:normal;
	margin:0pt;
	padding:0pt;
	position:relative;
}
.module .ct, .module .cb {
	right:-3px;
	width:100%;
}
.module .ct .cl, .module .cb .cl {
	left:-6px;
	width:12px;
}
.module .ct {
	background:transparent url("../../images/corner-ne.gif") no-repeat scroll right top;
	top:0px;
}
.module .ct .cl {
	background:transparent url("../../images/corner-nw.gif") no-repeat scroll left top;
}
.module .cb {
	background:transparent url("../../images/corner-se.gif") no-repeat scroll right top;
	bottom:-1px;
}
.module .cb .cl {
	background:transparent url("../../images/corner-sw.gif") no-repeat scroll left top;
	left:-5px;
	text-align: left;
}

.restricted {
	z-index: 49;
	background: transparent url("../../images/pass_content.gif") no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	display: block;
	}


/*---- IMAGE FRAMES ----*/
/*---- SQUARE ----*/
.framesize-square {width:50px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.framesize-square .imgconstrain {width:50px;height:50px;overflow:hidden;}
/*---- SMALL ----*/
.framesize-small {width:75px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.framesize-small .imgconstrain {width:75px;height:56px;overflow:hidden;}
/*---- MEDIUM ----*/
.framesize-medium {width:100px;position:relative;margin:0;padding:0;display:block;}
.framesize-medium .imgconstrain {width:100px;height:75px;overflow:hidden;border:solid 1px #e0e0e0;}
/*---- LARGE ----*/
.framesize-large {width:130px;position:relative;margin: 0;}
.framesize-large .imgconstrain {width:130px;height:98px;border:1px solid #e0e0e0;overflow:hidden;}

.frame .imgconstrain a:link, .frame .imgconstrain a {width:100%;height:100%;display:block;background-color:#fff;text-decoration:none;}
.frame .imgconstrain a:hover {background-color:#fff;text-decoration:none;}
.frame {margin:0;padding:0;background-color:#fff;position: relative;text-align:center;}
	
