/* HEADER */
﻿body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
*{margin:auto;padding:0;}

html,body {margin:0;padding:0;background-color:#fff;font-family:Verdana, Geneva, sans-serif;font-size:small;color:#333;background-image:url(../../images/header/background_100x100_greyNoise.jpg);}
html {height:100%;}
body.normal {padding-top:68px;border:1px solid blue;}
body.validate {margin-top:60px;}

a:link {color:#3d77c4;text-decoration:none;font-weight:normal;font-size:12px;outline:none;}
a:visited {color:#3d77c4;text-decoration:none;font-weight:normal;font-size:12px;}
a:hover {color:#3d77c4;text-decoration:underline;background-color:transparent;font-weight:normal;font-size:12px;}
a:active {color:#3d77c4;text-decoration:none;font-weight:normal;font-size:12px;} 
h1, h2, h3, h4, h5, h6 {color:#333;}
h2 {font-weight:bold;}
.clearit {clear:both;}

h1 {font-size:20px;font-family:verdana, arial, sans-serif;padding:0;margin:0;font-weight:normal;}
h2 {font-size:12px;font-family:verdana, arial, sans-serif;padding:0 15px 0 0;margin:10px 0 0 0;font-weight:bold;}
h3 {font-size:12px;font-family:verdana, arial, sans-serif;padding:2px 8px 0 8px;margin:0;position:relative;} 
h4 {font-size:14px;font-family:verdana, arial, sans-serif;padding:0;margin:0;}
h5 {font-size:16px;font-family:verdana, arial, sans-serif;padding:0;margin:0;}
h6 {font-size:22px;font-family:verdana, arial, sans-serif;padding:0;margin:0;font-weight:bold;}
   
/*-----------(ERROR MESSAGE BOXES)----------- */
.errBox{width:100%;border:solid red 1px;background-color:#ffebe8;padding:4px;text-align:left;}
.warningBox{width:100%;border:solid 1px #000;background-color:#fffea9;padding:4px;text-align:left; font-size:12px;}
.infoBox{width:100%;border:solid 1px #000;background-color:#def3fc;padding:4px;text-align:left;font-size:12px;}
.successBox{width:100%;border:solid 1px #000;background-color:#ccffcc;padding:4px;text-align:left;font-size:12px;}
.info{line-height:12px;font-size:10px;color:#777;}
.warning{line-height:14px;font-size:12px;color:Maroon;font-weight:bold;}

.error{font-size:12px;font-family:Verdana;font-weight:bold;color:#d3202a;}
.confirm{font-size:12px;font-family:Verdana;font-weight:bold;color:#00a651;}
/*End error and message box section*/

hr.divider {background-color:#ebebeb;color:#ebebeb;height:1px;clear:both;border:none;}


/*---- IMAGE FRAMES ----*/
/*---- SQUARE ----*/
.framesize-square {width:50px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.framesize-square .imgconstrain {width:50px;height:50px;overflow:hidden;}
/*---- SMALL ----*/
.framesize-small {width:75px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.framesize-small .imgconstrain {width:75px;height:56px;overflow:hidden;}
/*---- MEDIUM ----*/
.framesize-medium {width:100px;position:relative;margin:0;padding:0;display:block;}
.framesize-medium .imgconstrain {width:100px;height:75px;overflow:hidden;border:solid 1px #e0e0e0;}
/*---- LARGE ----*/
.framesize-large {width:130px;position:relative;margin: 0;}
.framesize-large .imgconstrain {width:130px;height:98px;border:1px solid #e0e0e0;overflow:hidden;}

.frame .imgconstrain a:link, .frame .imgconstrain a {width:100%;height:100%;display:block;background-color:#fff;text-decoration:none;}
.frame .imgconstrain a:hover {background-color:#fff;text-decoration:none;}
.frame {margin:0;padding:0;background-color:#fff;position: relative;text-align:center;}

/*---- AP Icon ----*/
.restricted {z-index: 49;background: transparent url("../../images/pass_content.gif") no-repeat;position: absolute;top: 0;right: 0;width: 15px;height: 15px;display: block;}

/* All buttons */
/* NOTE: The section below is also in a seperate file buttons_new.css to accomodate the
   older pages that needed only to include the new buttons and not the new styling. Once all
   pages have been updated the buttons_new.css can be removed */
a.btntiny {height:19px;width:49px;display:block;padding:4px 0 0 0;font-size:11px;font-weight:normal;text-align:center;}
a.btnxsmall {height:21px;width:90px;display:block;padding:6px 0 0 0;font-size:12px;font-weight:bold;text-align:center;}
a.btnsmall {height:23px;width:134px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btntallsmall {height:26px;width:117px;display:block;padding:7px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnmedium {height:23px;width:145px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnlarge {height:23px;width:173px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnxlarge {height:28px;width:163px;display:block;padding:8px 0 0 0;font-size:16px;font-weight:bold;text-align:center;}

a.grey {color:#333;text-shadow:1px 1px #fff;}
a.black {color:#fff;text-shadow:1px 1px #111;}
a.orange {color:#fff;text-shadow:1px 1px #dc924f;}
a.green {color:#fff;text-shadow:1px 1px #518108;}
a.blue {color:#fff;text-shadow:1px 1px 3px #122c42;}

/* Grey */
.btntiny.grey:link {background:url(../../images/buttons/button_151x23_tinyGrey.png) no-repeat 0 0;}
.btntiny.grey:hover {background-position:-51px 0;text-decoration:none;}
.btntiny.grey:active {background-position:-102px 0;}

.btnxsmall.grey:link {background:url(../../images/buttons/button_274x27_xtrasmallGrey.png) no-repeat 0 0;}
.btnxsmall.grey:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.grey:active {background-position:-184px 0;}

.btnsmall.grey:link {background:url(../../images/buttons/button_403x27_smallGrey.png) no-repeat 0 0;}
.btnsmall.grey:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.grey:active {background-position:-270px 0;}

.btnmedium.grey:link {background:url(../../images/buttons/button_439x27_mediumGrey.png) no-repeat 0 0;}
.btnmedium.grey:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.grey:active {background-position:-294px 0;}

.btnlarge.grey:link {background:url(../../images/buttons/button_523x27_largeGrey.png) no-repeat 0 0;}
.btnlarge.grey:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.grey:active {background-position:-350px 0;}

.btnxlarge.grey:link {background:url(../../images/buttons/button_493x36_xlGrey.png) no-repeat 0 0;}
.btnxlarge.grey:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.grey:active {background-position:-330px 0;}

/* Orange */
.btnxsmall.orange:link {background:url(../../images/buttons/button_274x27_xtrasmallOrange.png) no-repeat 0 0;}
.btnxsmall.orange:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.orange:active {background-position:-184px 0;}

.btnsmall.orange:link {background:url(../../images/buttons/button_403x27_smallOrange.png) no-repeat 0 0;}
.btnsmall.orange:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.orange:active {background-position:-270px 0;}

.btntallsmall.orange:link {background:url(../../images/buttons/button_355x33_tallsmallOrange.png) no-repeat 0 0}
.btntallsmall.orange:hover {background-position:-119px 0;text-decoration:none;}
.btntallsmall.orange:active {background-position:-238px 0;}

.btnmedium.orange:link {background:url(../../images/buttons/button_439x27_mediumOrange.png) no-repeat 0 0;}
.btnmedium.orange:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.orange:active {background-position:-294px 0;}

.btnlarge.orange:link {background:url(../../images/buttons/button_523x27_largeOrange.png) no-repeat 0 0;}
.btnlarge.orange:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.orange:active {background-position:-350px 0;}

.btnxlarge.orange:link {background:url(../../images/buttons/button_493x36_xlOrange.png) no-repeat 0 0;}
.btnxlarge.orange:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.orange:active {background-position:-330px 0;}

/* Black */
.btnxsmall.black:link {background:url(../../images/buttons/button_274x26_xtrasmallBlack.png) no-repeat 0 0;}
.btnxsmall.black:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.black:active {background-position:-184px 0;}

.btnsmall.black:link {background:url(../../images/buttons/button_403x27_smallBlack.png) no-repeat 0 0;}
.btnsmall.black:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.black:active {background-position:-270px 0;}

.btnmedium.black:link {background:url(../../images/buttons/button_439x27_mediumBlack.png) no-repeat 0 0;}
.btnmedium.black:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.black:active {background-position:-294px 0;}

.btnlarge.black:link {background:url(../../images/buttons/button_523x27_largeBlack.png) no-repeat 0 0;}
.btnlarge.black:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.black:active {background-position:-350px 0;}

.btnxlarge.black:link {background:url(../../images/buttons/button_493x36_xlBlack.png) no-repeat 0 0;}
.btnxlarge.black:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.black:active {background-position:-330px 0;}

/* Green */
.btnsmall.green:link {background:url(../../images/buttons/button_403x27_smallGreen.png) no-repeat 0 0;}
.btnsmall.green:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.green:active {background-position:-270px 0;}

.btnmedium.green:link {background:url(../../images/buttons/button_439x27_mediumGreen.png) no-repeat 0 0;}
.btnmedium.green:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.green:active {background-position:-294px 0;}

.btnlarge.green:link {background:url(../../images/buttons/button_523x27_largeGreen.png) no-repeat 0 0;}
.btnlarge.green:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.green:active {background-position:-350px 0;}

.btnxlarge.green:link {background:url(../../images/buttons/button_493x36_xlGreen.png) no-repeat 0 0;}
.btnxlarge.green:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.green:active {background-position:-330px 0;}

/* Blue */
.btnxsmall.blue:link {background:url(../../images/buttons/button_274x27_xtrasmallBlue.png) no-repeat 0 0;}
.btnxsmall.blue:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.blue:active {background-position:-184px 0;}

.btnsmall.blue:link {background:url(../../images/buttons/button_403x27_smallBlue.png) no-repeat 0 0;}
.btnsmall.blue:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.blue:active {background-position:-270px 0;}

.btnmedium.blue:link {background:url(../../images/buttons/button_439x27_mediumBlue.png) no-repeat 0 0;}
.btnmedium.blue:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.blue:active {background-position:-294px 0;}

.btnlarge.blue:link {background:url(../../images/buttons/button_523x27_largeBlue.png) no-repeat 0 0;}
.btnlarge.blue:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.blue:active {background-position:-350px 0;}

.btnxlarge.blue:link {background:url(../../images/buttons/button_493x36_xlBlue.png) no-repeat 0 0;}
.btnxlarge.blue:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.blue:active {background-position:-330px 0;}

	
