/* HEADER */
﻿/* All buttons */
a.btntiny {height:19px;width:49px;display:block;padding:4px 0 0 0;font-size:11px;font-weight:normal;text-align:center;}
a.btnxsmall {height:21px;width:90px;display:block;padding:6px 0 0 0;font-size:12px;font-weight:bold;text-align:center;}
a.btnsmall {height:23px;width:134px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btntallsmall {height:26px;width:117px;display:block;padding:7px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnmedium {height:23px;width:145px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnlarge {height:23px;width:173px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnxlarge {height:28px;width:163px;display:block;padding:8px 0 0 0;font-size:16px;font-weight:bold;text-align:center;}

a.grey {color:#333;text-shadow:1px 1px #fff;text-decoration:none;}
a.black {color:#fff;text-shadow:1px 1px #111;text-decoration:none;}
a.orange {color:#fff;text-shadow:1px 1px #dc924f;text-decoration:none;}
a.green {color:#fff;text-shadow:1px 1px #518108;text-decoration:none;}
a.blue {color:#fff;text-shadow:1px 1px 3px #122c42;text-decoration:none;}

/* Grey */
.btntiny.grey:link {background:url(../../images/buttons/button_151x23_tinyGrey.png) no-repeat 0 0;}
.btntiny.grey:hover {background-position:-51px 0;text-decoration:none;}
.btntiny.grey:active {background-position:-102px 0;}

.btnxsmall.grey:link {background:url(../../images/buttons/button_274x27_xtrasmallGrey.png) no-repeat 0 0;}
.btnxsmall.grey:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.grey:active {background-position:-184px 0;}

.btnsmall.grey:link {background:url(../../images/buttons/button_403x27_smallGrey.png) no-repeat 0 0;}
.btnsmall.grey:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.grey:active {background-position:-270px 0;}

.btnmedium.grey:link {background:url(../../images/buttons/button_439x27_mediumGrey.png) no-repeat 0 0;}
.btnmedium.grey:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.grey:active {background-position:-294px 0;}

.btnlarge.grey:link {background:url(../../images/buttons/button_523x27_largeGrey.png) no-repeat 0 0;}
.btnlarge.grey:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.grey:active {background-position:-350px 0;}

.btnxlarge.grey:link {background:url(../../images/buttons/button_493x36_xlGrey.png) no-repeat 0 0;}
.btnxlarge.grey:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.grey:active {background-position:-330px 0;}

/* Orange */
.btnxsmall.orange:link {background:url(../../images/buttons/button_274x27_xtrasmallOrange.png) no-repeat 0 0;}
.btnxsmall.orange:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.orange:active {background-position:-184px 0;}

.btnsmall.orange:link {background:url(../../images/buttons/button_403x27_smallOrange.png) no-repeat 0 0;}
.btnsmall.orange:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.orange:active {background-position:-270px 0;}

.btntallsmall.orange:link {background:url(../../images/buttons/button_355x33_tallsmallOrange.png) no-repeat 0 0}
.btntallsmall.orange:hover {background-position:-119px 0;text-decoration:none;}
.btntallsmall.orange:active {background-position:-238px 0;}

.btnmedium.orange:link {background:url(../../images/buttons/button_439x27_mediumOrange.png) no-repeat 0 0;}
.btnmedium.orange:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.orange:active {background-position:-294px 0;}

.btnlarge.orange:link {background:url(../../images/buttons/button_523x27_largeOrange.png) no-repeat 0 0;}
.btnlarge.orange:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.orange:active {background-position:-350px 0;}

.btnxlarge.orange:link {background:url(../../images/buttons/button_493x36_xlOrange.png) no-repeat 0 0;}
.btnxlarge.orange:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.orange:active {background-position:-330px 0;}

/* Black */
.btnxsmall.black:link {background:url(../../images/buttons/button_274x26_xtrasmallBlack.png) no-repeat 0 0;}
.btnxsmall.black:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.black:active {background-position:-184px 0;}

.btnsmall.black:link {background:url(../../images/buttons/button_403x27_smallBlack.png) no-repeat 0 0;}
.btnsmall.black:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.black:active {background-position:-270px 0;}

.btnmedium.black:link {background:url(../../images/buttons/button_439x27_mediumBlack.png) no-repeat 0 0;}
.btnmedium.black:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.black:active {background-position:-294px 0;}

.btnlarge.black:link {background:url(../../images/buttons/button_523x27_largeBlack.png) no-repeat 0 0;}
.btnlarge.black:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.black:active {background-position:-350px 0;}

.btnxlarge.black:link {background:url(../../images/buttons/button_493x36_xlBlack.png) no-repeat 0 0;}
.btnxlarge.black:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.black:active {background-position:-330px 0;}

/* Green */
.btnsmall.green:link {background:url(../../images/buttons/button_403x27_smallGreen.png) no-repeat 0 0;}
.btnsmall.green:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.green:active {background-position:-270px 0;}

.btnmedium.green:link {background:url(../../images/buttons/button_439x27_mediumGreen.png) no-repeat 0 0;}
.btnmedium.green:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.green:active {background-position:-294px 0;}

.btnlarge.green:link {background:url(../../images/buttons/button_523x27_largeGreen.png) no-repeat 0 0;}
.btnlarge.green:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.green:active {background-position:-350px 0;}

.btnxlarge.green:link {background:url(../../images/buttons/button_493x36_xlGreen.png) no-repeat 0 0;}
.btnxlarge.green:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.green:active {background-position:-330px 0;}

/* Blue */
.btnsmall.blue:link {background:url(../../images/buttons/button_403x27_smallBlue.png) no-repeat 0 0;}
.btnsmall.blue:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.blue:active {background-position:-270px 0;}

.btnmedium.blue:link {background:url(../../images/buttons/button_439x27_mediumBlue.png) no-repeat 0 0;}
.btnmedium.blue:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.blue:active {background-position:-294px 0;}

.btnlarge.blue:link {background:url(../../images/buttons/button_523x27_largeBlue.png) no-repeat 0 0;}
.btnlarge.blue:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.blue:active {background-position:-350px 0;}

.btnxlarge.blue:link {background:url(../../images/buttons/button_493x36_xlBlue.png) no-repeat 0 0;}
.btnxlarge.blue:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.blue:active {background-position:-330px 0;}
