/* HEADER */

/* FOOTER
/*-----------(FOOTER-NO-AUTH)-------------- */	
.footer {text-align:center;margin:0 auto;padding:10px 0;margin-top:50px;font-size:10px;clear:both;}
.footer ul {list-style:none;margin:5px 0;padding:0;}
.footer li {display:inline;margin-right:3px;margin-left:3px;margin-bottom:10px;}
.footer a:link, .footer a:visited {text-decoration:none;color:#333;}
.footer a:hover {text-decoration:underline;color:#333;}

/*-----------(FOOTER-AUTH)-------------- */	
.footerAuth  {margin-bottom:4px;width:1000px;text-align:center;padding:20px 0 0 0;clear:both;font-family:verdana, arial, helvetica, sans-serif;}
.footerAuth hr {height:1px;background-color:#fff;width:100%;border:none;border-top:1px solid #ccc;margin:50px 0 14px 0;}
.footerAuth .footer_container {width:720px;margin:0 auto;}
.footerAuth .footerSection {width:160px;float:left;text-align:left;margin-right:25px;}
.footerAuth .footerSection div {height:16px;}
.footerAuth .first{margin-left:0;}
.footerAuth .last{margin-right:0;}
.footerAuth .footerSecTitle {border:none;color:#333;font-size:12px;font-weight:bold;margin-bottom:8px;}
.footerAuth div {margin:3px 0;}
.footerAuth a:link, .footerAuth a:visited, .footerAuth a:active {color:#333;font-size:12px;text-decoration:none;}
.footerAuth a:hover {color:#333;font-size:12px;text-decoration:underline;background:transparent;}
.footerAuth .footerSectionHorizontal {width:600px;text-align:left;float:none;margin:10px 0 8px 0;padding-top:10px;clear:both;font-size:11px;height:20px;}
.footerAuth .footerSectionHorizontal .footerSecTitle {border:none;float:left;width:120px;padding-top:3px;_padding-top:0;font-size:11px;}
.footerAuth .footerSectionHorizontal a {padding:0;margin:0 3px;font-size:11px;}
.footerAuth .footerSectionHorizontal span {color:#333;margin:0 3px;padding:0;}
.footerAuth .footerVersion {width:100%;text-align:center;font-size:10px;color:#333;padding-bottom:10px;margin-bottom:10px;}

/* Footer Overrides */
.footerBlock {width:100%;margin:50px 0 0 0;background:url(../../images/header/background_100x100_greyNoise.jpg) repeat 0 0;}
.footerBlock hr {display:none;}
.footerBlock .footer_container {border:1px dotted #eee;}