/* HEADER */
﻿
#wrapper {border:1px solid #ccc;border-top:none;background:url(../../images/backgrounds/graphic_1004x1_backgroundMsgCenter_leftGradient.gif) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}

/* Message Center */
.pageContainer {width:1004px;margin:0 auto;height:auto !important;height:100%;background-color:white;clear:both;}
#_leftRail {width:175px;margin:10px 0;padding:0;float:left;}
#rightRail {width:776px;margin:14px 15px 7px 10px;float:right;}

/* Constest */
#_leftRail {width:165px;margin:7px 0;padding:0;float:left;text-align:left;}
#centerRail {width:540px;margin:14px 0 7px 0;_margin:7px 0 7px 0;float:left;}
#rightRail {width:216px;margin:14px 0 7px 20px;float:right;overflow:hidden;text-align:left;}

/* My Kaneva */
#leftRail {width:185px;margin:10px 0;padding:0;float:left;}
#centerRail {width:520px;margin:10px 0 7px 30px;_margin:7px 0 7px 30px;float:left;}
#rightRail {width:240px;margin:10px 0 7px 0;float:right;}

#stage {width:1004px;margin:0 auto;height:auto !important;height:100%;clear:both;}
