/* HEADER */

/* CSS Document: Home Page 03-12-09 */

/* THE FOOTER FORM THE CURRENT SITE
*---------------------------------------------------------------------------*/

a.footerlink:link, a.footerlink:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #bbf3fe;
	font-weight:normal;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a.footerlink:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
	background-color:#018AAA;
	color: #EEEEEE;
	}

a.footerlink:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#bbf3fe;
	font-weight:normal;
	text-decoration:underline;
	}
	
.footerText {
	color: #bbf3fe;
	font-size: 10px;
	font-weight: normal;
	}
	
#footer_resourcebox td, #footer_resourcebox a {
	color: #7cd1e4;
	}