/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* PC IE Fix For Transparent PNGs - HTC File Must Live In CSS Directory
* ---------------------------------------------------- */
 /*img, div, a, input { behavior: url(../css/iepngfix.htc) }*/
.png { 
 	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/SignIn_signInBtn.png',sizingMethod='scale');">
 }
 

/*.png, div.png img { behavior: url(iepngfix.htc); }
 fix for path issue 
#homepage .png, #homepage div.png { behavior: url(iepngfix.htc); }*/

/*
* Other IE Fixes
* ---------------------------------------------------- */

/* Module box PNG fix for IE6 
@import url("module_IE6.css");*/