/* HEADER */
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* ACCOUNT SETTINGS PAGE CONTENT
*---------------------------------------------------------------------------*/

.btn_updateInfo a:link, .btn_updateInfo a:visited {
	background: url("../../images/purchase_flow/btn_updateBilling.gif") no-repeat 0px -29px;
	height: 29px;
	width: 229px;
	display: block;
	text-indent: -5000px;
}
.btn_updateInfo a:hover {
	background: url("../../images/purchase_flow/btn_updateBilling.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
table.btn_back {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
table.btn_back tr {
}
table.btn_back td {
	padding-top: 5px;
	padding-bottom: 20px;
}
a.btn_btc:link, a.btn_btc:visited {
	background: url("../../images/purchase_flow/btn_back.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	text-indent: -5000px;
}
a.btn_btc:hover {
	background: url("../../images/purchase_flow/btn_back.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
#PopUp {
	margin: 0pt;
	padding: 15px 15px 5px;
	background: transparent url("http://www.kaneva.com/images/popup_point.gif") no-repeat scroll left bottom;
	display: none;
	position: absolute;
	left: 190px;
	text-align: justify;
	font-size: 12px;
	width: 270px;
	bottom: 130px;
}
/* -moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; */
