/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* BILLING INFO PAGE CONTENT
*---------------------------------------------------------------------------*/

.module p.billingCopy {
	text-align: left;
	padding-left: 14px;
	display: block;
}
.module h1.sellBillingAddy {
	float: left;
	width: 465px;
	display: block;
	position: relative;
	height: 30px;
}
.module .payPalTop {
	width: 180px;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	float: left;
	text-align: left;
}
table.billingData {
	border-width: 0px;
	border-style: none;
	margin-left: 14px;
	width: 650px;
}
table.billingData tr {}
table.billingData td {
	text-align: left;
	padding: 8px 0px;
}
.saveBtnArea {
	float: left;
	width: 185px;
}
a.saveBtn:link, a.saveBtn:visited {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px -74px;
	text-indent: -5000px;
	display: block;
	height: 37px;
	width: 165px;
}
a.saveBtn:hover {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px -37px;
	text-indent: -5000px;
}
.inactive a.saveBtn {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.clearInfo {
	float: left;
	width: 163px;
}
.clearInfo a:link, .clearInfo a:visited {
	background: url("../../images/purchase_flow/btn_clearInfo.gif") no-repeat 0px -37px;
	display: block;
	height: 37px;
	width: 163px;
	text-indent: -5000px;
}
.clearInfo a:hover {
	background: url("../../images/purchase_flow/btn_clearInfo.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.payPalR {
	width: 180px;
	padding-top: 5px;
	margin-right: 5px;
}


.wrapper {width:1004px;border:1px solid #ccc;border-top:none;margin-top:0;padding-top:20px;}
