/* HEADER */
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* CHOOSE SPECIAL PAGE CONTENT
*---------------------------------------------------------------------------*/
.information
{
    float:left;
    width:46%;
    margin-left:20px;
 }
.subscriptions
{
    float:right;
    width:46%;
    margin-right:20px;
 }
 
 .note {
 	font-size: 9px;
 	color: #999999;
 	}
 	 .note a:link, .note a:hover, .note a:visited, .note a:active, .small a:link, .small a:active, .small a:hover, .small a:visited {
 	font-size: 9px;
 	}

.manageAccountSettings {
	text-align: left;
	display:block;
	width: 990px;
	height: 40px;
	padding-top: 0px;
	padding-bottom: 4px;
	padding: 0px 0px 4px 0px;
	position: relative;
	/*float:left;*/

}
.manageAccountSettings ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 900px;
	/*background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -76px;*/
	display: block;
}

.manageAccountSettings li {
	float: left;
	padding: 10px;
}

.btnImSure a:link, .btnImSure a:visited {
	background: url("../../images/purchase_flow/btnYesIAmSure.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	display: block;
	height: 30px;
	width: 110px;
}

.btnImSure a:hover {
	background: url("../../images/purchase_flow/btnYesIAmSure.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	height: 30px;
	width: 110px;
}

.btnNotSure a:link, .btnNotSure a:visited {
	background: url("../../images/purchase_flow/btnNoKeepIt.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	display: block;
	height: 30px;
	width: 170px;
}

.btnNotSure a:hover {
	background: url("../../images/purchase_flow/btnNoKeepIt.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	height: 30px;
	width: 170px;

}

.manageAccountSettings a:link, .progressBar a:visited {}
.manageAccountSettings a:hover {}

.wrapper {width:1004px;border:1px solid #ccc;border-top:none;margin-top:0;padding-top:20px;}
