/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* ORDER COMPLETE PAGE CONTENT
*---------------------------------------------------------------------------*/

/* :: Order Complete Page :::::::::::::::::::::::::::: */
a.btnGetStuff:link, a.btnGetStuff:visited {
	background: url("../../images/purchase_flow/btn_getStuff.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	margin: 0px 0px 10px;
	padding: 0px;
}
a.btnGetStuff:hover {
	background: url("../../images/purchase_flow/btn_getStuff.gif") no-repeat 0px 0px;
}
a.btnGetStuff span {
	display: none;
}

