/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* ORDER CONFIRM PAGE
*---------------------------------------------------------------------------*/

table.creditCard {
	margin: 0px;
	padding: 0px;
	width: 92%;
	border-width: 0px;
	border-style: none;
	text-align: left;
	border-collapse:collapse;
	height: 250px;
}
table.creditCard tr {}
table.creditCard td {
	margin: 0px;
	padding: 4px;
}
table.creditCard td label {
}
.ccError {
	color: #CC0000;
	padding: 4px 0px;
}
a.placeOrder:link, a.placeOrder:visited {
	background: url("../../images/purchase_flow/btn_placeOrder.gif") no-repeat 0px -34px;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 34px;
	width: 183px;
	text-indent: -5000px;
}
a.placeOrder:hover {
	background: url("../../images/purchase_flow/btn_placeOrder.gif") no-repeat 0px 0px;
	display: block;
	text-indent: -5000px;
}

