/* HEADER */
﻿

/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/footer.css);


h4 {font-size: 20px;color:#444444;font-weight:normal;padding: 20px 0px 20px 0px;margin: 0px 0px 0px 0px;line-height:20px;}
h2 {font-size: 38px;color:#444444;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;line-height: 40px;font-weight:normal;}
.summary {width: 95%;line-height: 20px;color: #222222;font-size:11pt;}
b.featuresHeading{color:#444444;font-size:10pt;padding: 0;margin: 0;}
ul.features{margin-top: 4px;}
ul.features li {line-height: 16px;color: #666666;font-size:10pt;}
.spTryPass a:link, .spTryPass a:visited, .spTryPass a:hover {
	background: url('../../images/purchase_flow/btnBigBuyNow.jpg') no-repeat 0px 0px;
	text-indent: -5000px;
	display: block;
	height: 82px;
	width: 406px;
	margin-top: 0px;
	float: right;
}

ul.pageCap {display:none;visibility:hidden;}
div.passDetailsImage {display:none;}
div.contentContainer {width:auto;height:502px;padding:0;margin:0;text-align:center;}
div.wrapper {background:none;}
.spTryPass {display:none;visibility:hidden;}

/* VIP */
.passContainer {width:955px;height:494px;padding:0;margin:5px auto 0 auto;background:url('../../images/apvip/vip_billboard_dance_955x494.jpg') no-repeat 0px 0px;}
.imageLink {float:left;width:493px;height:494px;border:none;cursor:pointer;}
.passText {width:462px;height:494px;float:right;text-align:left;filter:alpha(opacity=80);opacity:.8;z-index:50;background-color:#000;}
.special {font-size:18px;color:#9e4fe9;top:20px;left:20px;position:relative;width:300px;}
.heading {color:#ff8213;width:340px;top:40px;left:20px;position:relative;}
.heading div {float:right;font-size:54px;padding:0;margin:30px 0 0 0;height:40px;}
.desc {font-size:14px;top:60px;left:12px;position:relative;line-height:17px;}
.desc span {color:#9e4fe9;}
.table {width:430px;top:70px;left:20px;position:relative;}
.row {background-color:#414141;color:#fff;height:24px;}
.top {height:30px;}
.light {background-color:#585858;}
.row div {width:278px;margin:0 0 0 5px;padding-top:5px;float:left;}
.row img {float:left;padding-top:3px;margin:0 10px 0 30px;}
.top div {padding-top:12px;}
.top img {padding-top:9px;}
div.tableHeading {color:#ff8213;top:-5px;left:370px;position:relative;font-size:14px;width:30px;}
img.tableHeading {top:18px;left:308px;position:relative;}
.footnote {color:#585858;font-size:.7em;font-weight:normal;padding-top:4px;}
.selectContainer {float:left;width:430px;top:94px;left:16px;position:relative;}
.radioBtn {float:left;}
.radioBtn label, .radioBtn input.radio{font-size:11px;vertical-align:middle;} 
.radioBtn div {font-size:11px;color:#ff8213;font-weight:bold;margin:-4px 0 6px 22px;}

/* added for only no radio button option */
.radioBtn div {font-size:15px;color:#fff;line-height:18px;font-weight:bold;margin-top:8px;}
.radioBtn div span {color:#ff8213;}
.radioBtn div label {font-weight:normal;color:#ddd;}
/* */

.selectContainer img {float:right;margin-top:6px;cursor:pointer;}
.white {color:#fff;}
.bold {font-weight:bold;}


/* AP */
.ap .passContainer {width:955px;height:494px;padding:0;margin:5px auto 0 auto;background:url('../../images/apvip/ap_billboard_dance_955x494.jpg') no-repeat 0px 0px;}
.ap .heading {width:420px;}
.ap .heading div {float:right;font-size:44px;padding:0;margin:30px 0 0 0;height:40px;}
.ap .bulletPts {width:430px;top:100px;left:20px;position:relative;}
.ap .bulletPts div {margin:10px 0;line-height:14px;font-size:14px;padding-left:16px;background:url('../../images/apvip/bullet_arrow_11x15.png') no-repeat 0px 0px;}
.ap .selectContainer {top:114px;}
.ap .notify {margin-bottom:20px;line-height:14px;color:#ff8213;}
.ap .radioBtn div {margin-left:6px;font-size:15px;color:#fff;line-height:18px;font-weight:bold;margin-top:8px;}
.ap .radioBtn label.footnote {color:#999;}
.ap .selectContainer .discount {font-size:11px;color:#ff8213;margin-top:-6px;padding:0 0 0 14px;}
.desc {font-size:1.25em;}
.desc span {color:#ff8213;}


/* Interstitial */
.promoNav {background:url('../../images/apvip/navbar_tile_1x33.gif') repeat-x 0px 0px;
           text-align:left;height:33px;width:955px;}
.promoNav img {float:left;}
.promoNav div {float:left;margin:9px 0 0 7px;}
.promoNav a {color:#fff;margin:0 6px;}
.promoNav span {color:#3dbad6;font-weight:bold;}
.promoNav .skip {float:right;margin:9px 10px 0 0;}

