/* HEADER */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

h4 {
	font-size: 20px;
    color:#444444;
    font-weight:normal;
	padding: 20px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 20px;
   }
   
h2 
{
    font-size: 38px;
    color:#444444;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 40px;
	font-weight:normal;
}

.summary
{
    width: 95%;
    line-height: 20px;
	color: #222222;
	font-size:11pt;
}

b.featuresHeading
{
    color:#444444;
    font-size:10pt;
	padding: 0;
    margin: 0;
}
 ul.features 
 {
    margin-top: 4px;
 }

 ul.features li {
	line-height: 16px;
	color: #666666;
	font-size:10pt;
}

div.passDetailsImage {
	height: 592px;
	width: 559px;
	position: relative;
	margin-top: -2px;
	float: left;
	margin-left: 4px;	
}

div.contentContainer {
	height: 482px;
	width: 406px;
	float: right;
	position: relative;
	text-align:left;
	margin-top: 0px;
	margin-right: 0px;	
	padding: 30px 10px 0px 10px;
}

.spTryPass a:link, .spTryPass a:visited, .spTryPass a:hover {
	/*background: url("../../images/purchase_flow/btn_AP_TryFreeTrial.gif") no-repeat 0px 0px;*/
	background: url("../../images/purchase_flow/btnBigBuyNow.jpg") no-repeat 60px 0px;
	text-indent: -5000px;
	display: block;
	height: 82px;
	width: 406px;
	margin-top: 0px;
	float: right;
}
