/* HEADER */
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* CHOOSE PACKAGE PAGE CONTENT
*---------------------------------------------------------------------------*/
.pkgeDiv {
	text-align: left;
	float: left;
	width: 470px;
	position: relative;
	padding-left: 30px;
	padding-top: 0px;
}
ul.creditBullets {
	font-size: 10px;
	font-weight:  normal;
	color: #13667a;
	text-decoration: none;
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	padding-top: 10px;
	line-height: 14px;
}
ul.creditBullets li {
	list-style: none;
	margin-bottom: 0px;
	padding: 5px;
}

/* :: Drop shadow behind the table ::::::::::::::::::::::::::::::::::::::: */
.pkgeTable_ds {
	background: url("../../images/purchase_flow/packageTable_dsRepeater.gif") repeat-y 20px 0px;
	display: block;
	width: 470px;
	text-align: left;
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* :: Float for the arrow */

.arrow 
{
	float:left;
	margin-top: -5px;
	
}
.pad
{
	
	padding-left: 30px; 
	padding-right: 10px;
}

/* :: Top cap for the table head with rounded corners ::::::::::::::::::::: */
.pkgeTable_top {
	background: url("../../images/purchase_flow/packageTable_topCap3.gif") no-repeat 0px 0px;
	height: 6px;
	width: 460px;
	margin: 0px;
	padding: 0px;
}

/* :: styles for the table ::::::::::::::::::::::::::::::::::::::::::::::::: */
table.pkgeTable {
	margin: 0px;
	padding: 0px;
	width: 455px;
	border-collapse: collapse;
	position: relative;
	border-right: 1px solid #4a6779;
	border-left: 1px solid #4a6779;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
}
table.pkgeTable tr {}
table.pkgeTable th {
	border-bottom: 1px solid #4a6779;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 38px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	background: url("../../images/purchase_flow/packageTable_headBacker.gif") repeat-x;
}

table.pkgeTable td {
	border-bottom: 1px solid #4a6779;
	position: relative;
	padding: 0px 1px;
	line-height: 3em;
}

/* :: widths fo teh td's ::::::::::::::::::::::::::::::::::::::::::::::::: */
.w1 {
	text-align: center;
	width: 50px;
}
.w2 {
	width: 170px;
}
.w3 
{

	width: 135px;
}
.w4	
{
	width: 100px;
}


/* :: Strike through the original price :::::::::::::::::::::::::::::::::: */
.strike {
	text-decoration: line-through;
}

/* :: Background color for the best value row :::::::::::::::::::::::::::: */
.bestValue {
	background: #c5dbea;
}

/* :: Holder for the burst ::::::::::::::::::::::::::::::::::::::::::::::: */
.burstHolder {
	display: block;
	position: relative;
	float: right;
	top: -30px;
	right: -20px;
}

/* :: Style the burst ::::::::::::::::::::::::::::::::::::::::::::::::::: */
.pkgeTable_burst {
	background: url("../../images/purchase_flow/sell_burst.gif") no-repeat 0px 0px;
	display: block;
	height: 74px;
	width: 72px;
	position: absolute;
	top: -25px;
	text-indent: -5000px;
	right: -25px;
}

/* :: Style the burst ::::::::::::::::::::::::::::::::::::::::::::::::::: */
.most_popular {
	/*background: url("../../images/purchase_flow/mostPopularStarburst.gif") no-repeat 0px 0px;
	display: block;
	height: 30px;
	width: 70px;
	position:relative;*/
	padding-left:6px;
	font-size: 7pt;
	font-style: italic;
	color:Maroon;
}
/* :: Add the drop shadow to teh bottom :::::::::::::::::::::::::::::::::: */
.pkgeTable_dsBtm {
	background: url("../../images/purchase_flow/packageTable_dsBtm.gif") no-repeat 0px 0px;
	height: 5px;
	width: 455px;
}

.adCol {
	/*background: url("../../images/purchase_flow/specialPackageDeals.gif") no-repeat 0px 0px;*/
	height: 200px;
	width: 400px;
	float: right;
	margin-right: 1px;
	margin-top: 166px;
	position: relative;
	padding-top: 0px;
	text-align: left;
}
.adCol p {
	font-size: 10px;
	color: #13667a;
	margin: 0px 11px 0px 7px;
	line-height: 14px;
}
.adCol h2 {
	font-size: 15px;
	color: #77400a;
	margin: 8px 7px 8px 11px;
	padding: 0px;
	line-height: 18px;
}

.adCol a:link, .adCol a:visited {
	font-size: 15px;
	color: #77400a;
}
.adCol a:hover {
	color: #053B53;
	background-color: transparent;
	text-decoration: underline;
}
.creditCardBtn {
	/*text-align: center;*/
	/*margin: 20px 10px 20px 0px;*/
	padding: 0px;
	/*float: left;*/
	vertical-align:top;
	width: 148px;
}

.creditCardBtn a:link, .creditCardBtn a:visited {
	background: url("../../images/purchase_flow/btnCreditCard.gif") no-repeat;
	text-indent: -5000px;
	display: block;
	height: 76px;
	width: 148px;
}

.creditCardBtn a:hover {
	background: url("../../images/purchase_flow/btnCreditCard.gif") no-repeat;
	text-indent: -5000px;
}

.payPalBtn {
	/*text-align: center;*/
	/*margin: 20px 10px 20px 0px;*/
	padding: 0px;
	/*float: right;*/
	width: 148px;
}

.payPalBtn a:link, .payPalBtn a:visited {
	background: url("../../images/purchase_flow/btnPayPal.gif") no-repeat;
	text-indent: -5000px;
	display: block;
	height: 76px;
	width: 148px;
}
.payPalBtn a:hover {
	background: url("../../images/purchase_flow/btnPayPal.gif") no-repeat;
	text-indent: -5000px;
}

.wrapper {width:1004px;border:1px solid #ccc;border-top:none;margin-top:0;padding-top:20px;}

