/* HEADER */
/* CSS Document: Home Page 03-10-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(purchaseFlow.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

/* CHOOSE SPECIAL PAGE CONTENT
*---------------------------------------------------------------------------*/

.spclDiv {
	text-align: left;
	float: left;
	width: 802px;
	position: relative;
	display: inline;
	margin-left: 20px;
	margin-top: 20px;
}
.spclDiv h1 {
	margin:0pt 0pt 10px;
	padding:0pt 0pt 0pt 0px;
	text-align:left
}

/* :: Start the new special :: */
.spBorder {
	height: 209px;
	width: 800px;
	display: block;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
}
.spContainer {
	height: 185px;
	width: 582px;
	padding: 0; 
	margin-top: 11px;
	margin-left: 8px;
	display:inline-block; 
	border:1px solid #000;
}
.spAdImg {
	padding: 4px;
	border: 1px solid #13667a;
	width: 206px;
	display: inline;
	background: #FFFFFF;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	display: none;
}
.spTxt {
	float: right;
	width: 308px;
	color: #13667a;
}
.spTxt p {
	color: #13667a;
	margin: 2px 0px 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.spTxt h2 {
	color: #13667a;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.spTxt table {
	border-collapse:collapse;
	margin: 2px 0px 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	/*width: 305px;*/
	}
.spTxt tr {}
.spTxt td {
	color: #13667a;
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.spTxt ul {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	list-style: disc outside;
}
.spTxt li {
	color: #13667a;
	font-size: 11px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/* :: Special Pricing ::::::::::::::::::::::::::::::::::::::::::::::::: */
.spPrice {
	float: right;
	width: 190px;
	position: relative;
	margin-top: 20px;
	margin-right: 10px;
	display: inline;
}
.spPrice table {
	margin: 0px;
	padding: 0px;
	width: 190px;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
.spPrice tr {}
.spPrice th {
	font-size: 13px;
	font-weight: bold;
	color: #3b7380;
	text-align: left;
}
.spPrice td {
	font-size: 14px;
	font-weight: bold;
	color: #77400a;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.spPriceCredit a:link, .spPriceCredit a:visited {
	background: url("../../images/purchase_flow/btnPackagesCreditCard.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	display: block;
	height: 32px;
	width: 171px;

}
.spPriceCredit a:hover {
	background: url("../../images/purchase_flow/btnPackagesCreditCard.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

.spPricePP a:link, .spPricePP a:visited {
	background: url("../../images/purchase_flow/btnPackagesPayPal.gif") no-repeat 0px 0px;
	text-indent: -5000px;
	display: block;
	height: 32px;
	width: 171px;

}

.spPricePP a:hover {
	background: url("../../images/purchase_flow/btnPackagesPayPal.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

/* :: Pass Pricing ::::::::::::::::::::::::::::::::::::::::::::::::: */
.pPrice {
	position: relative;
	margin-top: 154px;
	margin-right: 20px;
	float:right;
}

.pTrialPass {
	text-align:center;
}

.pLearnMore {
	text-align:right;
}

.pTrialPass a:link, .pTrialPass a:visited {
	background: url("../../images/purchase_flow/buttonInactiveState.jpg") no-repeat 0px 0px;
	display: block;
	text-decoration:none;
	font-weight:bold;
	height:24px;
	width: 160px;	
    padding-top:4px;
    color: #ffffff;
}

.pTrialPass a:hover {
	background: url("../../images/purchase_flow/buttonActiveState.jpg") no-repeat 0px 0px;
	text-decoration:none;
	width: 160px;	
    padding-top:4px;
    color: #ffffff;
    font-weight:bold;
}

.pLearnMore a:link, .pLearnMore a:visited 
{
    padding-top:0px;
	display: block;
	text-decoration:none;
	height:22px;
	font-weight:bold;	
}

.pLearnMore a:hover 
{
	text-decoration:none;
    font-weight:bold;
    padding-top:0px;
}


.sp_accessPass {
	background: url("../../images/purchase_flow/sp_restricted.gif") no-repeat 0px 0px;
	display: block;
	height: 27px;
	width: 26px;
	position: absolute;
	right: 20px;
	bottom: 25px;
}

/* :: The button :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.addSpclBtn {
	text-align: center;
	margin: 0px 0px 10px;
	padding: 0px;
	float: right;
	width: 191px;
}

.addSpclBtn a:link, .addSpclBtn a:visited {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px -34px;
	text-indent: -5000px;
	display: block;
	height: 34px;
	width: 191px;
}
.addSpclBtn a:hover {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

.adCol2 {
	background: url("../../images/purchase_flow/sell_adBacker.gif") no-repeat 0px 0px;
	width: 122px;
	float: right;
	position: relative;
	padding-top: 5px;
	text-align: center;
	margin-top: 32px;
	display: inline;
	margin-right: 20px;
}
.adCol2 p {
	font-size: 10px;
	color: #13667a;
	margin: 0px 11px 0px 7px;
	padding: 0px;
	line-height: 14px;
}
.adCol2 h2 {
	font-size: 15px;
	color: #77400a;
	margin: 8px 7px 8px 11px;
	padding: 0px;
	line-height: 18px;
}
.adCol2 a:link, .adCol2 a:visited {
	font-size: 15px;
	color: #77400a;
}
.adCol2 a:hover {
	color: #053B53;
	background-color: transparent;
	text-decoration: underline;
}
.adCol2 .note {
	text-align: left;
	margin-top: 50px;
}

.alertmessage {
	color: #d62322;
	border: 1px solid #d62322;
	background-image: none;
	background-color: #ffcece;
	font-size:14px;
	font-weight:bold;
	padding:15px 0;
	width:80%;
	}

.wrapper {width:1004px;border:1px solid #ccc;border-top:none;margin-top:0;padding-top:20px;}
