/* HEADER */
/* CSS Document: 03-10-09 */

/*
* New Purchase Flow: 02/10/09
* ---------------------------------------------------- */

/* :: New Manage Account Div: all pages :::::::::::::: */
.manageAccount {
	width: 990px;
	text-align: left;
	margin: 4px auto 8px;
}
.manageAccount a:link, .manageAccount a:visited {
	background: url("../../images/purchase_flow/btn_manageAccount.gif") no-repeat 0px -28px;
	display: block;
	height: 28px;
	width: 170px;
	text-indent: -5000px;
}
.manageAccount a:hover {
	background: url("../../images/purchase_flow/btn_manageAccount.gif") no-repeat 0px 0px;
	display: block
	}

/* :: New Mange Credits section: all pages :::::::::::::::::::: */
.manageCredits {
	text-align: left;
	display:block;
	width: 990px;
	height: 40px;
	padding-top: 0px;
	padding-bottom: 4px;
	padding: 0px 0px 4px 0px;
	position: relative;
	/*float:left;*/

}
.manageCredits ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 990px;
	/*background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -76px;*/
	display: block;
}

.manageCredits li {
	float: left;
	padding: 10px;
}

.manageCredits a:link, .progressBar a:visited {}
.manageCredits a:hover {}

	
/* :: New Progress Bar: all pages :::::::::::::::::::: */
.progressBar {
	text-align: center;
	display: block;
	width: 484px;
	height: 38px;
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.progressBar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 484px;
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -76px;
	height: 38px;
	display: block;
}
.progressBar ul.payment {
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -38px;
	
}
.progressBar ul.receipt {
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -0px;
	
}
.progressBar li {
	float: left;
	text-indent: -5000px;
}
.progressBar a:link, .progressBar a:visited {}
.progressBar a:hover {}
	
