/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* New Purchase Flow: 02/10/09
* ---------------------------------------------------- */

/* :: New Manage Account Div: all pages :::::::::::::: */
.manageAccount {
	width: 990px;
	text-align: left;
	margin-bottom: 8px;
}
.manageAccount a:link, .manageAccount a:visited {
	background: url("../../images/purchase_flow/btn_manageAccount.gif") no-repeat 0px -28px;
	display: block;
	height: 28px;
	width: 170px;
	text-indent: -5000px;
}
.manageAccount a:hover {
	background: url("../../images/purchase_flow/btn_manageAccount.gif") no-repeat 0px 0px;
	display: block
	}
	
/* :: New Progress Bar: all pages :::::::::::::::::::: */
.progressBar {
	text-align: center;
	display: block;
	width: 484px;
	margin-bottom: 24px;
	height: 38px;
	margin-top: 33px;
}
.progressBar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 484px;
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -76px;
	height: 38px;
	display: block;
}
.progressBar ul.payment {
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -38px;
	
}
.progressBar ul.receipt {
	background: url("../../images/purchase_flow/progressBar.gif") no-repeat 0px -0px;
	
}
.progressBar li {
	float: left;
	text-indent: -5000px;
}
.progressBar a:link, .progressBar a:visited {}
.progressBar a:hover {}
	

/* :: Choose Package Page :::::::::::::::::::::::::::: */
ul.creditBullets {
	font-size: 12px;
	font-weight: bold;
	color: #13667a;
	text-decoration: none;
	list-style: disc inside;
}
ul.creditBullets li {
	list-style: disc inside;
	margin-bottom: 10px;
}
.bestValue {
	background: #c5dbea;
}
.pkgeDiv {
	text-align: left;
	float: left;
	width: 584px;
	position: relative;
	padding-left: 80px;
}
.pkgeTable_ds {
	background: url("../../images/purchase_flow/packageTable_dsRepeater.gif") repeat-y 20px 0px;
	display: block;
	width: 554px;
	text-align: left;
	margin-left: 15px;
	margin-top: 30px;
	padding-left: 20px;
}
.pkgeTable_top {
	background: url("../../images/purchase_flow/packageTable_topCap.gif") no-repeat 0px 0px;
	height: 7px;
	width: 544px;
}
.pkgeTable_dsBtm {
	background: url("../../images/purchase_flow/packageTable_dsBtm.gif") no-repeat 0px 0px;
	height: 5px;
	width: 544px;
}
.strike {
	text-decoration: line-through;
}
.w1 {
	text-align: center;
	width: 50px;
}
.w2 {
	width: 120px;
}
table.pkgeTable {
	margin: 0px 0px 0px 1px;
	padding: 0px;
	width: 537px;
	border-width: 0px;
	border-style: none;
	border-collapse:collapse;
	position: relative;
}
table.pkgeTable tr {
}
.pkgeTable_head {
	background: url("../../images/purchase_flow/packageTable_headBacker.gif") no-repeat 0px 0px;
}
table.pkgeTable th {
	border-bottom: 1px solid #4a6779;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 38px;
	text-align: left;
}
table.pkgeTable td {
	border-bottom: 1px solid #4a6779;
	line-height: 3em;
	padding-right: 1px;
	padding-left: 1px;
	position: relative;
}

.pkgeTable_burst {
	background: url("../../images/purchase_flow/sell_burst.gif") no-repeat 0px 0px;
	display: block;
	height: 74px;
	width: 72px;
	position: absolute;
	top: -25px;
	text-indent: -5000px;
	right: -25px;
}
.burstHolder {
	display: block;
	position: relative;
}
.adCol {
	background: url("../../images/purchase_flow/sell_adBacker.gif") no-repeat 0px 0px;
	height: 150px;
	width: 122px;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	position: relative;
	padding-top: 10px;
	text-align: center;
}
.adCol p {
	font-size: 10px;
	color: #13667a;
	margin-right: 11px;
	margin-left: 7px;
}
.adCol h2 {
	margin-top: 10px;
	font-size: 15px;
	color: #77400a;
	margin-right: 7px;
	margin-left: 11px;
}
.adCol a:link, .adCol a:visited {
	font-size: 15px;
	color: #77400a;
}
.adCol a:hover {
	color: #053B53;
	background-color: transparent;
	text-decoration: underline;
}
table.beginBtn {
	position: relative;
	text-align: center;
	margin: 50px 0px;
	padding: 0px;
	width: 664px;
	border-collapse:collapse;
	border-width: 0px;
	border-style: none;
}
table.beginBtn tr {}
table.beginBtn td {
}
.beginBtn a:link, .beginBtn a:visited {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px -34px;
	text-indent: -5000px;
	display: block;
	height: 34px;
	width: 191px;
}
.beginBtn a:hover {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

/* :: Choose Special Page :::::::::::::::::::::::::::: */
.spclDiv {
	text-align: left;
	float: left;
	width: 802px;
	position: relative;
	display: inline;
	margin-left: 20px;
}
.spclDiv h1 {
	margin:0pt 0pt 10px;
	padding:0pt 0pt 0pt 0px;
	text-align:left
}
.spBorder {
	height: 209px;
	width: 800px;
	border: 1px solid #13667a;
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.spContainer {
	background: url("../../images/purchase_flow/specialBacker.gif") no-repeat 0px 0px;
	height: 185px;
	width: 584px;
	padding-top: 14px;
	margin-top: 13px;
	margin-left: 10px;
	float: left;
	display: inline;
	position: relative;
}
.spAdImg {
	padding: 4px;
	border: 1px solid #13667a;
	width: 206px;
	display: inline;
	background: #FFFFFF;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}
.spTxt {
	float: left;
	width: 308px;
	color: #13667a;
}
.spTxt p {
	color: #13667a;
	margin: 2px 0px 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.spTxt h2 {
	color: #13667a;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.spTxt table{
	border-collapse:collapse;
	margin: 2px 0px 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	width: 305px;
	}
.spTxt tr {}
.spTxt td {
	color: #13667a;
	font-size: 11px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.spTxt ul {
	}
.spTxt li {
	color: #13667a;
	font-size: 11px;
}

.spPrice {
	float: right;
	width: 190px;
	position: relative;
	margin-top: 20px;
	margin-right: 10px;
	display: inline;
}
.spPrice table {
	margin: 0px;
	padding: 0px;
	width: 190px;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
.spPrice tr {}
.spPrice th {
	font-size: 13px;
	font-weight: bold;
	color: #3b7380;
	text-align: left;
}
.spPrice td {
	font-size: 14px;
	font-weight: bold;
	color: #77400a;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.spPrice a:link, .spPrice a:visited {
	background: url("../../images/purchase_flow/sp_btnAddNow.gif") no-repeat 0px -30px;
	text-indent: -5000px;
	display: block;
	height: 30px;
	width: 92px;
	margin-left: 70px;
}
.spPrice a:hover {
	background: url("../../images/purchase_flow/sp_btnAddNow.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.sp_accessPass {
	background: url(../../images/purchase_flow/sp_restricted.gif) no-repeat 0px 0px;
	display: block;
	height: 27px;
	width: 26px;
	position: absolute;
	right: 20px;
	bottom: 25px;
}
.adCol2 {
	background: url("../../images/purchase_flow/sell_adBacker.gif") no-repeat 0px 0px;
	width: 122px;
	float: right;
	position: relative;
	padding-top: 10px;
	text-align: center;
	margin-top: 32px;
	display: inline;
	margin-right: 20px;
}
.adCol2 p {
	font-size: 10px;
	color: #13667a;
	margin: 7px 11px 7px 7px;
	padding: 0px;
}
.adCol2 h2 {
	font-size: 15px;
	color: #77400a;
	margin: 7px 7px 0px 11px;
	padding: 0px;
}
.adCol2 a:link, .adCol2 a:visited {
	font-size: 15px;
	color: #77400a;
}
.adCol2 a:hover {
	color: #053B53;
	background-color: transparent;
	text-decoration: underline;
}
.adCol2 .note {
	text-align: left;
	margin-top: 50px;
}
.addSpclBtn {}
table.addSpclBtn {
	position: relative;
	text-align: center;
	margin: 0px 0px 50px;
	padding: 0px;
	width: 820px;
	border-collapse:collapse;
	border-width: 0px;
	border-style: none;
}
table.addSpclBtn tr {}
table.addSpclBtn td {}
.addSpclBtn a:link, .addSpclBtn a:visited {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px -34px;
	text-indent: -5000px;
	display: block;
	height: 34px;
	width: 191px;
}
.addSpclBtn a:hover {
	background: url("../../images/purchase_flow/sell_btnAddToCart.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

/* :: Order Confirm Page ::::::::::::::::::::::::::::: */
table.creditCard {
	margin: 0px;
	padding: 0px;
	width: 92%;
	border-width: 0px;
	border-style: none;
	text-align: left;
	border-collapse:collapse;
	height: 250px;
}
table.creditCard tr {}
table.creditCard td {
	margin: 0px;
	padding: 4px;
}
table.creditCard td label {
}
.ccError {
	color: #CC0000;
	padding: 4px 0px;
}
a.placeOrder:link, a.placeOrder:visited {
	background: url("../../images/purchase_flow/btn_placeOrder.gif") no-repeat 0px -34px;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 34px;
	width: 183px;
	text-indent: -5000px;
}
a.placeOrder:hover {
	background: url("../../images/purchase_flow/btn_placeOrder.gif") no-repeat 0px 0px;
	display: block;
	text-indent: -5000px;
}

/* :: Order Complete Page :::::::::::::::::::::::::::: */
a.btnGetStuff:link, a.btnGetStuff:visited {
	background: url("../../images/purchase_flow/btn_getStuff.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	margin: 0px 0px 10px;
	padding: 0px;
}
a.btnGetStuff:hover {
	background: url("../../images/purchase_flow/btn_getStuff.gif") no-repeat 0px 0px;
}
a.btnGetStuff span {
	display: none;
}

/* :: Billing Info Page :::::::::::::::::::::::::::::: */
.module p.billingCopy {
	text-align: left;
	padding-left: 14px;
	display: block;
}
.module h1.sellBillingAddy {
	float: left;
	width: 465px;
	display: block;
	position: relative;
	height: 30px;
}
.module .payPalTop {
	width: 180px;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	float: left;
	text-align: left;
}
table.billingData {
	border-width: 0px;
	border-style: none;
	margin-left: 14px;
	width: 650px;
}
table.billingData tr {}
table.billingData td {
	text-align: left;
	padding: 8px 0px;
}
.saveBtnArea {
	float: left;
	width: 185px;
}
a.saveBtn:link, a.saveBtn:visited {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px -74px;
	text-indent: -5000px;
	display: block;
	height: 37px;
	width: 165px;
}
a.saveBtn:hover {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px -37px;
	text-indent: -5000px;
}
.inactive a.saveBtn {
	background: url("../../images/purchase_flow/btn_saveContinue.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.clearInfo {
	float: left;
	width: 163px;
}
.clearInfo a:link, .clearInfo a:visited {
	background: url("../../images/purchase_flow/btn_clearInfo.gif") no-repeat 0px -37px;
	display: block;
	height: 37px;
	width: 163px;
	text-indent: -5000px;
}
.clearInfo a:hover {
	background: url("../../images/purchase_flow/btn_clearInfo.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.payPalR {
	width: 180px;
	padding-top: 5px;
	margin-right: 5px;
}

/* :: Account Settings Page :::::::::::::::::::::::::: */
.btn_updateInfo a:link, .btn_updateInfo a:visited {
	background: url("../../images/purchase_flow/btn_updateBilling.gif") no-repeat 0px -29px;
	height: 29px;
	width: 229px;
	display: block;
	text-indent: -5000px;
}
.btn_updateInfo a:hover {
	background: url("../../images/purchase_flow/btn_updateBilling.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
table.btn_back {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
table.btn_back tr {
}
table.btn_back td {
	padding-top: 5px;
	padding-bottom: 20px;
}
a.btn_btc:link, a.btn_btc:visited {
	background: url("../../images/purchase_flow/btn_back.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	text-indent: -5000px;
}
a.btn_btc:hover {
	background: url("../../images/purchase_flow/btn_back.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
#PopUp {
	margin: 0pt;
	padding: 15px 15px 5px;
	background: transparent url("http://www.kaneva.com/images/popup_point.gif") no-repeat scroll left bottom;
	display: none;
	position: absolute;
	left: 190px;
	text-align: justify;
	font-size: 12px;
	width: 270px;
	bottom: 130px;
}
/* -moz-background-clip: -moz-initial; 
	-moz-background-origin: -moz-initial; 
	-moz-background-inline-policy: -moz-initial; */
