/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 01-23-09 */

/* CONSTANTS
*---------------------------------------------------------------------------*/	

body {
	background: #1283A9 url(../images/page_backer.jpg) repeat-x 0px 0px;
	margin: 0px;
	padding: 0px;
	font: 12px/16px Verdana, Arial, Helvetica, sans-serif;
}
a:link, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #113B5B;
	text-decoration: underline;
	font-weight:normal;
}
a:hover {
	text-decoration: none;
	color: #000000;
	background: Transparent;
	font-weight:normal;
}
.clear {
	clear: both;
}
img {
	border-width: 0px;
	border-style: none;
}
.bold {
	font-weight: bold;
}
form {
	margin: 0px;
	padding: 0px;
}