/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 01-23-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(base.css);
@import url(nav_home.css);
@import url(footer.css);


/* HOME PAGE CONTENT
*---------------------------------------------------------------------------*/	
.content_wrapper {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}
#flash {
	background: url(../images/home_flash_background.jpg) no-repeat 9px 0px;
	height: 425px;
	width: 974px;
	display: block;
	padding-left: 9px;
}
#flash .getFlash {
	padding-top: 21px;
	padding-left: 20px;
	text-align: left;
}
#flash .startBtn {
	padding-top: 297px;
	padding-left: 751px;
}
#flash .startBtn a:link, #flash .startBtn a:visited {
	text-indent: -5000px;
	background: url("../images/btn_start.jpg") no-repeat 0px -54px;
	display: block;
	height: 54px;
}
#flash .startBtn a:hover {
	background: url("../images/btn_start.jpg") no-repeat 0px 0px;
}
.subFeature_area {
	padding-left: 9px;
}
.subFeature {
	background: url("../images/subFeature_backer.jpg") no-repeat;
	height: 289px;
	width: 274px;
	float: left;
	text-align: left;
	margin: 5px 0px 0px;
	padding: 10px 25px 0px;
}
.subFeature h2 {
	margin: 0px;
	padding: 12px 0px 10px;
	font-weight: normal;
	font-size: 22px;
}
.subFeature p {
	margin: 10px 0px;
	padding: 0px;
}
.seo {
	/*color: #3ec3e3;*/
	color: #ffffff;
	padding-right: 50px;
	padding-left: 50px;
	text-align:left;

}
.seo h3 {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
}
.seo h4 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
}
.seo p {
	margin: 5px 0px;
	padding: 0px;
	font-size: 12px;
	text-align:left;
}
input.start {
	color: #999999;
}
