/* HEADER */
@charset "UTF-8";
/* CSS Document */


/* PAGE NAVIGATION
*---------------------------------------------------------------------------*/	

.mastHead {
	background: #132c48 url(../images/bg_mastHead.gif) repeat-x left top;
	width: 100%;
	height: 42px;
	margin: 0;
	padding: 0;
	}
	

/* PRIMARY NAVIGATION / LOGO / TERTIARY NAV */


/* NAV HOLDER */	
#navholder {
	width: 990px;
	height: 42px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	}
	
#navholder a {
	font-family: Arial, Helvetica, sans-serif;
	}
	
			

	
	/* LOGO */
	#logo {
		width: 187px;
		height: 30px;
		margin: 8px 11px 0 0;
		padding: 0 0 0 0;
		float: left;
		position: relative;
		background: transparent url("../images/logo.gif") no-repeat top left;
		display: block;
		}
		#logo a {
		width: 187px;
		height: 26px;
		padding: 0;
		display: block;
		}
		#logo a:hover {
		background-color: transparent;
		}
		
	/* LOGO FLASH */
    #logoflash {
        margin: 0 0 0 28px;
        height: 10px;
        padding: 0;
        position: relative;
        float: left;
        clear: left;
        display: inline;
        }
		
	
	
	/* PRIMARY NAV */
	#primary {
		width: 485px;
		height: 37px;
		padding: 0;
		margin: 1px 0 0 0;
		float: left;
		list-style: none;
		}
		#primary ul {
		height: 38px;
		padding: 0;
		margin: 0;
		}
		#primary li {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0 0 1px 0;		
		text-align: center;
		border-left: 1px solid #195a8e;

		}
		#primary a {
		font-weight: bold;
		color: #b3d6f2;
		font-size: 16px;
		text-decoration: none;
		line-height: 2.6;
		display: block;
		height: 38px;
		background-color: inherit;
		padding: 0 10px;
		margin: 0 2px;
		float: left;
		overflow: visible !important;
		overflow: hidden;
		}
		#primary a.last {
		border-right: 1px solid #195a8e;
		}
		#primary a:hover {
		color: #ffffff;
		background-color: transparent;
		}
		
		
		#primary li.selected a, #primary li.selected a:hover {
		background-color: #053b53;
		color: #ffffff;
		border-left: 2px solid #043246;
		border-right: 2px solid #043246;
		margin: 0;
		padding:0 12px;
		}


	
	
	/* ADMIN */
	
		#tdAdminMenu, .tdAdminMenu {
	    width: 100%;
	    background-color: Yellow;
	    height: 32px;
	    margin: 0;
	    padding: 0;
	    }

	    #adminNavHolder {
	        width: 100%;
	        height: 32px;
	        margin: 0 auto;
	        padding: 0;
	        position: relative;
	    }
		
		#adminMenu {
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 0px 0 0 0;
		list-style: none;
		}
		#adminMenu ul {
		height: 21px;
		padding: 0;
		margin: 0;
		}
		#adminMenu li {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#adminMenu a {
		display: block;
		text-decoration: none;
		background-color: inherit;
		color: #000000;
		font-weight: normal;
		line-height: 1.7;
		font-size: 14px;
		padding: 3px;
		margin: 0 4px;
		float: left;
		display: inline;
		}
		#adminMenu a:hover, #adminMenu li.selected a:hover {
        background-image: none;
        background-color: transparent;
        color: #666666;
        }
		#adminMenu li.selected a {
		color: Maroon;
		border-bottom: 5px solid #053b53;
		}
		
		
	/* MAIL */
	#mail {
		width: auto;
		height: 17px;
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 12px 0 0 0;
		list-style: none;
		}
		#mail ul {
		padding: 0;
		margin: 0;
		float: left;
		}
		#mail li {
		float: left;
		padding: 2px;
		list-style: none;
		}
		#mail a {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		text-decoration: none;
		font-weight: bold;
		font-size: 10px;
		color: #b3d6f2;
	}
		#mail a:hover, #mail li.selected a:hover {
        background-image: none;
        background-color: transparent;
        color: #ffffff;
        }
	
	
		
	/* TERTIARY NAV */
	#tertiary {
		width: 260px;
		float: right;
		display: block;
		position: relative;
		padding: 0;
		margin: 9px 0 0 0;
		list-style: none;
		}
		#tertiary ul {
		height: 21px;
		padding: 0;
		margin: 0;
		}
		#tertiary li {
		float: right;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#tertiary a {
		display: block;
		text-decoration: none;
		background-color: inherit;
		color: #b3d6f2;
		font-weight: normal;
		padding: 0;
		line-height: 1.7;
		font-size: 12px;
		padding: 3px;
		margin: 0 4px;
		float: left;
		display: inline;
		}
		#tertiary a:hover, #tertiary li.selected a:hover {
        background-image: none;
        background-color: transparent;
        color: #ffffff;
        }
		#tertiary li.selected a {
		color: #FFFFFF;
		border-bottom: 5px solid #053b53;
		}
		
