/* HEADER */
@charset "UTF-8";
/* CSS Document */


/* HOME PAGE NAVIGATION
*---------------------------------------------------------------------------*/	

.nav_wrapper {
	height: 73px;
}
.mastHead {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	width: 274px;
	height: 56px;
	background: url("../images/Kanvea_Logo_lrg.gif") no-repeat;
	float: left;
	margin-top: 7px;
	margin-bottom: 10px;
}
.logo a {
	display: block;
	height: 43px;
	width: 205px;
}
.logo span {
	display: none;
}
.signIn {
	width: 450px;
	float: right;
	padding: 0px;
	margin: 9px 0px 0px;
	text-align: right;
		}
.signIn ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
		}
.signIn li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
	display: inline;
	float: left;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
		}
.signIn li.inputField {
	width: 180px;
	padding-top: 15px;
		}

.signIn li a.forgot {
	margin-top: 6px;
	display: block;
		}
.signIn li a:link, .signIn li a:visited {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #B3D6F2;
	text-decoration: underline;
		}
.signIn li a:hover  {
	color: #FFFFFF;
	text-decoration: none;
        }
.signIn li.button a:link, .signIn li.button a:visited {
	display: block;
	padding: 0px;
	margin: 11px 0px 0px;
	background: transparent url("../images/btn_signIn1.gif") no-repeat 0px -37px;
	text-indent: -5000px;
	height: 37px;
	width: 84px;
		}
.signIn li.button a:hover  {
	display: block;
	background: transparent url("../images/btn_signIn1.gif") 0px 0px;
	text-indent: -5000px;
        }
