/* HEADER */
@charset "UTF-8";
/* CSS Document: Sign-In error Page 01-26-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(base.css);
@import url(nav.css);
@import url(footer.css);

/* SHARED ASSETS
*---------------------------------------------------------------------------*/
h1 {
	font-size: 20px;
	line-height: 24px;
	color: #28505f;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 15px;
	text-align: left;
	margin-left: 8px;
}
h2 {
	font-size: 12px;
	font-weight: bold;
	color: #535353;
	margin: 0px 0px 10px;
	padding: 0px;
}
p {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #28505f;
	margin: 0px 0px 20px;
	padding: 0px;
}
.wrapper {
	width: 789px;
	margin: 25px auto 50px;
}
.content {
	background: url("../images/signIn_backer.gif") no-repeat center 0px;
	height: 493px;
	padding-top: 45px;
	padding-bottom: 40px;
	text-align: left;
	padding-left: 68px;
	position: relative;
}
.forgot {
	font-size: 11px;
	font-weight: normal;
	padding-top: 10px;
}

/* the Join area at the bottom of the page */
.join {
	background: url("../images/SignIn_joinArea.gif") no-repeat center 0px;
	height: 61px;
	padding-left: 15px;
	padding-top: 16px;
	margin-top: 24px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	position: absolute;
	top: 435px;
	left: 118px;
	width: 526px;
}
.joinL {
	float: left;
	width: 85px;
	margin-right: 10px;
}
a.joinButton:link, a.joinButton:visited {
	background: url("../images/SignIn_joinBtn.jpg") no-repeat 0px -45px;
	display: block;
	height: 45px;
	width: 85px;
	text-indent: -5000px;
}
a.joinButton:hover {
	background: url("../images/SignIn_joinBtn.jpg") no-repeat 0px 0px;
	text-indent: -5000px;
}
.joinR {
	float: left;
	width: 420px;
}
.joinR p {
	color: #FFFFFF;
	margin: 5px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
.joinR p.reward {
	color: #FFFFFF;
	margin: 2px 0px 0px;
	padding: 0px;
	font-size: 12;
	line-height: 16px;
	font-weight: bold;
}

/* ERROR PAGE CONTENT
*---------------------------------------------------------------------------*/	
table.message {
	text-align: center;
	background: url("../images/signIn_msgArea.gif") no-repeat;
	height: 95px;
	width: 635px;
	font-size: 14px;
	font-weight: bold;
	color: #535353;
	vertical-align: middle;
	margin: 0px 8px;
	padding: 0px;
	display: block;
}
table.message tr {}
table.message td {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 95px;
	width: 635px;
}
table.signInForm {
	margin: 24px 8px 0px 0px;
	padding: 0px;
	width: 637px;
	border-width: 0px;
	border-style: none;
	border-collapse:collapse;
}
table.signInForm tr {}
table.signInForm th {
	font-weight: bold;
	text-align: right;
	width: 35%;
	font-size: 14px;
	color: #535353;
}
table.signInForm td {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #535353;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}
.btnholder {
	float: left;
	margin-right: 10px;
}
.joinTxt {
	float: left;
	margin-top: 15px;
}
.joinTxt span {
	font-size: 1.25em;
}
a.signIn2:link, a.signIn2:visited {
	background: url("../images/btn_signIn2.gif") no-repeat 0px -46px;
	display: block;
	height: 46px;
	width: 120px;
	margin-right: 10px;
	text-indent: -5000px;
}
a.signIn2:hover {
	background: url("../images/btn_signIn2.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
a.info {
	font-size: 10px;
	font-weight: normal;
}


/* INFO PAGE CONTENT
*---------------------------------------------------------------------------*/
.colL {
	float: left;
	width: 388px;
	padding-right: 24px;
	padding-left: 8px;
}
.colR {
	background: url("../images/signIn_area.gif") no-repeat 0px 0px;
	height: 303px;
	width: 234px;
	padding-top: 20px;
	padding-left: 20px;
	float: left;
}
.colR table {
	margin: 0px;
	padding: 0px;
	width: 200px;
	border-width: 0px;
	border-style: none;
}
.colR tr {}
.colR th {}
.colR td {
	padding: 10px 4px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
input.start {
	color: #999999;
}
a.signIn3:link, a.signIn3:visited {
	background: url("../images/btn_signIn3.gif") no-repeat 0px -46px;
	display: block;
	height: 46px;
	width: 120px;
	margin-right: 10px;
	text-indent: -5000px;
	margin-left: 30px;
}
a.signIn3:hover {
	background: url("../images/btn_signIn3.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
