/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */


body {
	background: #1283a9 url("../images/bg_body.jpg") repeat-x 0 0;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	}
	





/*
* Global Type Styles
* ---------------------------------------------------- */

h1 {
	font-size: 19px;
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #13667A;
	}
	
h1 a:link, h1 a:visited, h1 a:hover {
	font-size: 16px;
	}
	
#pageheader h1 {
	font-size: 19px;
	padding: 0 0 0 10px;
	margin: 0;
	}
	
h2 {
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	padding: 0 15px 0px 0;
	margin: 10px 0 0 0;
	}
	
h3 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #476163;
	padding: 2px 8px 0 8px;
	margin: 0;
	position: relative;
	} 
	
h4 {
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	padding: 0;
	margin: 0;
	}
	
h5 {
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #656565;
    }
    
h6 {
    font-size: 13px;
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #13667A;
    }


p, td, th, ul {
	font-size: 11px;
	color: #535353;
	}
	
.widgetText p, .widgetText td, .widgetText th {
	font-family: inherit;
	color: inherit;
	}
	
.note {
 	font-size: 9px;
 	color: #999999;
 	}
 	 .note a:link, .note a:hover, .note a:visited, .note a:active, .small a:link, .small a:active, .small a:hover, .small a:visited {
 	font-size: 9px;
 	}
 	
 .small { 
	font-size: 9px;
	}
	
 .large { 
	font-size: 13px;
	}
	
 .wordWrap {
	word-wrap: break-word;
	}

/*
* Global Tab Navs
* ---------------------------------------------------- */
	

table#tabNav {
	padding: 0;
	margin: 0;
	position: relative;
	}

	
#tabNav ul {
	width: auto;
	margin: -4px -15px -4px -15px;
	padding: 0;
	position: relative;
	float: left;
	background: #eeeeee url("../images/mod_head_bg.gif") repeat-x 0 0;
	}
	
 #tabNav ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	display: block;
	}
	
 #tabNav ul li a {
	padding: 10px 15px 8px 15px;
	margin: 0;
	display: block;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #f8a656;
	text-decoration: none;
	font-weight: bold;
    border-right: 1px solid #d7d7d7;
	}
	#tabNav ul li.last a {
    border-right: none;
    margin: 0 !important;
    margin: 0 1px 0 1px;
	}
	
	#tabNav ul li a:hover {
	background-color: #f8f8f8;
	}
	
#tabNav ul li.selected a, #mediauploadNav ul li.selected a:hover {
	color: #f27700;
	background-color: #ffffff;
	
	}
	
#tabNav ul li a img {
	vertical-align:middle;
	padding: 1px;
	margin: 0 0 0 0;
	}
	



/*-----------(TEXT/SEO PAGES)-------------- */	
 .textpage, .textpage td, .textpage p { 
	font-size: 11px;
	}
	.textpage a:link, .textpage a:visited, .textpage a:hover {
    font-size:11px; 
    }
		
		

/*-----------(TAG CLOUD)-------------- */	
.cloud {
	text-align: center;
	}

.cloud a:link, .cloud a:visited, .cloud a:hover {
	text-decoration: none;
	font-weight: normal;
	}
	
.cloud h2 {
	height: 25px;
	border-bottom: 2px solid #e3e3e3;
	text-align: left;
	margin: 10px 0 8px 0;
	}
	
	


/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

/*-----------(BODY CONTAINER, CORNER IMAGES)-------------- */

.frTopLeft{
	width: 6px;
	height: 6px;
	background-image: url("../images/boxes/frTopLeft.gif");
	background-repeat: no-repeat;
	background-position: top;
	}
	
.frTop{
	height: 6px;
	border-top: 1px solid #DBDBDB;
	background-color: #FFFFFF;
	background-image: none;
	}


.frTopRight{
	width: 6px;
	height: 6px;
	background-image: url("../images/boxes/frTopRight.gif");
	background-repeat: no-repeat;
	background-position: top left;
	}
	

.frBorderLeft{
	width: 6px;
	height: 100%;
	background-color: #FFFFFF; 
	border-left: 1px solid #DBDBDB;
	background-image: none;
	}
	
.frBgIntMembers {
	background-color: #FFFFFF;
	padding:  3px 5px 0 5px;
	background-image: none;
	}
	
.frBorderRight{
	width: 6px;
	height: 100%;
	background-color: #FFFFFF; 
	border-right: 1px solid #DBDBDB;
	background-image: none;
	}



.frBottomLeft{
	width: 6px;
	height: 6px;
	background-image: url("../images/boxes/frBottomLeft.gif");
	background-repeat: no-repeat;
	background-position: top;
	}
	
.frBottom{
	height: 6px;
	background-image:url("../images/boxes/frBottom.gif");
	background-position: bottom;
	}

.frBottomRight{
	width: 6px;
	height: 6px;
	background-image: url("../images/boxes/frBottomRight.gif");
	background-repeat: no-repeat;
	background-position: top left;
	}
	
.container {
	width: 1000px;
	}
	
	
#noBG .frTopLeft, #noBG .frTop, #noBG .frTopRight, #noBG .frBorderLeft, #noBG .frBgIntMembers, #noBG .frBorderRight, #noBG .frBottomLeft, #noBG .frBottom, #noBG .frBottomRight{
	background-image: none;
	background-color: transparent;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	}
	
	
/*-----------(GLOBAL COLUMN LAYOUTS)-------------- */

#container {
	width: 990px;
	position: relative;
	float: left;
	display: block;
	background-color: transparent;
	}

#sideCol {
	width: 270px; 
	height: auto;
	background-color: transparent;
	float: left;
	display: block;
	}
	
	#sideCol.left {
	margin-right: 5px;
	}
	
	#sideCol.right {
	margin-left: 5px;
	float: right;
	}
	

#mainCol {
	width: 715px; 
	height: auto;
	background-color: transparent;
	float: left;
	display: block;
	}

#mainCol1 {
	width: 440px; 
	height: auto;
	background-color: transparent;
	float: left;
	display: block;
	margin-right: 5px;
	padding:0;
	}

#mainCol2 {
	width: 270px;
	height: auto;
	background-color: transparent;
	float: left;
	display: block;
	padding:0;
	margin:0;
	}
	
.splitCol {
	float: left;
	}

.splitCol .dialog {
	width: 118px;
	}
	

/*-----------(MODULE STYLES USED THROUGHOUT SITE)-------------- */	

.module, .bodyModule {
	margin: 0 0 10px 0;
	padding: 0;
	border-left: 1px solid #d4d5da;
	border-right: 1px solid #d4d5da;
	border-bottom: 1px solid #d4d5da;
	background: #FFFFFF url("../images/bg_module.jpg") repeat-x 0 0;
	position: relative;
	display: block;
	text-align: center;
	}
	
	
.module span, .bodyModule span {
	text-align: left;
	}
	
 .module h1 {
	text-align: left;
	margin: 0 0 10px 0;
	padding: 0 0 0 15px;
	}
	
	
.module h2, .module .module h2 {
	margin: -2px 0 10px 0;
	padding: 0 0 0 15px;
	font-size: 15px;
	color: #13667A;
	position: relative;
	text-align: left;
	}
	
.module h2 img {
	vertical-align: middle;
	 margin:0 5px 0 0;
	}
	
.module td h2 {
	margin: 0 0 10px 0;
	padding: 0;
	}
	
.module h1 span.small {
	font-size: 13px;
	}
	
.module h2 span.hlink, h1 span.hlink, .module h3 span.hlink {
    position: absolute;
    right: 2%;
    text-align: right;
    width: auto;
    font-weight: normal;
    }
    
h1 span.smlink a {
    font-size: 12px;
    }
    
 
	
.module h2.tall {
	margin: -2px 0 0 0;
	padding: 0 0 0 15px;
	height: 35px;
	}
	
.module h2.tall span {
	font-size: 10px;
	font-weight: normal;
	}
	
.module h2.white {
	background-image: none;
	color: #476163;
	}
	
.module h3 {
	font-size: 10px;
	font-weight: normal;
	color: #535353;
	padding: 0 0 0 15px;
	margin: -10px 0 0 0;
	text-align: left;
	}

.creditsPage .module table.specialbox h3 {
	color: inherit;
	}	


.pitch h1, .module .pitch h1 { font-size: 22px; color: #13667A; font-weight: bold; margin: 0; padding: 0; display: static;}
.pitch h2, .module .pitch h2 { font-size: 18px; color: #13667A; font-weight: bold; margin: 0; padding: 0; display: static;}
.pitch h3, .module .pitch h3 { font-size: 15px; color: #13667A; font-weight: normal; margin: 0; padding: 0; display: static;}

.pitch h1.center, .module .pitch h1.center { text-align: center;}
.pitch h2.center, .module .pitch h2.center { text-align: center;}
.pitch h3.center, .module .pitch h3.center { text-align: center;}
	
	
	
.module ul {
	padding: 10px 10px 0 25px;
	margin: 0;
	list-style: none;
	}
	
.module li {
	padding: 4px 5px 3px 10px;
	list-style: none;
	}
	
.module li {
	text-align: left;
	}
	
.module  ol {
	padding: 0 10px 0 45px;
	margin: 0;
	}
	
 .module ol li {
	padding: 8px 5px 3px 0;
	list-style: decimal;
	}
	
.module ol li {
	text-align: left;
	}

	
.module p, .module .module p {
	padding: 0;
	margin: 0;
	}
	
.module table {
	position: relative;
	margin-bottom: -5px;
	}
	
.module table table, .module table table table {
	position: relative;
	padding: 0;
	margin: 0;
	}
	
.module table p {
	padding: 0;
	margin: 0;
	}
	
.whitebg {
	background: #FFFFFF url("../images/bg_module_white.gif") repeat-x 0 0;
	}
	
.paleyellowbg {
	background: #ffffcc url("../images/bg_module_white.gif") repeat-x 0 0;
	}
		
.bluebg {
    background: #3578ad url("../images/bg_module_white.gif") repeat-x 0 0;
    }
    
.bluebg2 {
	border-top: 1px solid #d4d5da;
    background-color: #96b6c3;
    background-image: none;
    }
    
.bluebg3 {
	border-top: 1px solid #d4d5da;
    background-color: #c5e8f2;
    background-image: none;
    }
    
 .ltGray {
	border-top: 1px solid #d4d5da;
    background-color: #dfe4e5;
    background-image: none;
    }
    
.bluebg table a:link, .bluebg table a:visited, .bluebg table a:active {
    color: #ffffff;
    }	

.whitebg table {
	margin : 0 auto;
	text-align: left;
	}
	
.gray {
	background: #f7f7f7 url("../images/bg_module_gray.jpg") repeat-x 0 0;
	}
	
.bluefade {
	background: #FFFFFF url("../images/bg_module_bluefade.jpg") repeat-x 0 0;
	}
	
.yellowfade {
	background: #FFFFFF url("../images/bg_module_yellowfade.jpg") repeat-x 0 0;
	}
	
	
.toolbar table {
	margin : 0 auto;
	text-align: left;
	}
	
.fullpage {
	margin: 0 0 30px 0;
	}

	

.alert {
	margin: 0 0 10px 0;
	padding: 0;
	border: 1px solid #d62322;
	background-image: none;
	background-color: #ffcece;	
	position: relative;
	display: block;
	text-align: left;
	}
	
.alert h2, h2.alert {
	background-image: none;
	background-color: transparent;
	color: #d62322;
	border: none;
	}
	
.alertmessage, h2.alertmessage {
	color: #d62322;
	}
	
.alert p {
	color: #d62322;
	padding: 0 15px 0 15px;
	}
	


/*-----------(MODULE CORNERS - STANDARD MODULE - NEW STYLE)-------------- */	
.module .ct, .module .ct .cl, .module .cb, .module .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 13px; position: relative;}
.module .ct, .module .cb { width: 100%; right: -3px;}
.module .ct .cl, .module .cb .cl { width: 12px; left: -6px; }
.module .ct { background: transparent url("../images/corner-ne.gif") no-repeat top right; top: 0px; }
.module .ct .cl { background: transparent url("../images/corner-nw.gif") no-repeat top left; }
.module .cb { background: transparent url("../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.module .cb .cl { background: transparent url("../images/corner-sw.gif") no-repeat top left; left: -5px; }


/*-----------(MODULE CORNERS - FULL BODY MODULE - NEW STYLE)-------------- */	
.bodyModule .ct, .bodyModule .ct .cl, .bodyModule .cb, .bodyModule .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 13px; position: relative;}
.bodyModule .ct, .bodyModule .cb { width: 100%; right: -3px;}
.bodyModule .ct .cl, .bodyModule .cb .cl { width: 12px; left: -6px; }
.bodyModule .ct { background: transparent url("../images/corner-ne.gif") no-repeat top right; top: 0px; }
.bodyModule .ct .cl { background: transparent url("../images/corner-nw.gif") no-repeat top left; }
.bodyModule .cb { background: transparent url("../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.bodyModule .cb .cl { background: transparent url("../images/corner-sw.gif") no-repeat top left; left: -5px; }


/*-----------(MODULE CORNERS - GRAY BACKGROUND - NEW STYLE)-------------- */
.graybg .ct { background: transparent url("../images/corner-ne-1.gif") no-repeat top right; top: 0px; }
.graybg .ct .cl { background: transparent url("../images/corner-nw-1.gif") no-repeat top left; }
.graybg .cb { background: transparent url("../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.graybg .cb .cl { background: transparent url("../images/corner-sw.gif") no-repeat top left; left: -5px; }


/*-----------(MODULE CORNERS - GRAY BACKGROUND - NEW STYLE)-------------- */
.gray .ct { background: transparent url("../images/corner-ne-2.gif") no-repeat top right; top: 0px; }
.gray .ct .cl { background: transparent url("../images/corner-nw-2.gif") no-repeat top left; }
.gray .cb { background: transparent url("../images/corner-se-2.gif") no-repeat top right; bottom: -1px; }
.gray .cb .cl { background: transparent url("../images/corner-sw-2.gif") no-repeat top left; left: -5px; }

/*-----------(MODULE CORNERS - NO SHADOW ON TOP - NEW STYLE)-------------- */	

.noshadow .ct { background: transparent url("../images/corner-ne-noshadow.gif") no-repeat top right; top: -3px; }
.noshadow .ct .cl { background: transparent url("../images/corner-nw-noshadow.gif") no-repeat top left; }
.noshadow .cb { background: transparent url("../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.noshadow .cb .cl { background: transparent url("../images/corner-sw.gif") no-repeat top left; left: -5px; }



/*-----------(MODULE CORNERS - WHITE MODULE - OLD STYLE)-------------- */
.white .ct { background: transparent url("../images/corner-ne-w.gif") no-repeat top right; top: -1px; }
.white .ct .cl { background: transparent url("../images/corner-nw-w.gif") no-repeat top left; }
.white .cb { background: transparent url("../images/corner-se-w.gif") no-repeat top right; bottom: -1px; }
.white .cb .cl { background: transparent url("../images/corner-sw-w.gif") no-repeat top left; }


/*-----------(MODULE CORNERS - ALERT MODULE/RED - OLD STYLE)-------------- */
.alert .ct { background: transparent url("../images/corner-ne-alert.gif") no-repeat top right; top: -1px; }
.alert .ct .cl { background: transparent url("../images/corner-nw-alert.gif") no-repeat top left; }
.alert .cb { background: transparent url("../images/corner-se-alert.gif") no-repeat top right; bottom: -1px; }
.alert .cb .cl { background: transparent url("../images/corner-sw-alert.gif") no-repeat top left; }


/*----- NEW MODULES -----*/






/*-----------(FRAME STYLES FOR PICTURES)-------------- */	



/*-----------(BABY)-------------- */
.framesize-baby {
	margin: 0;
	padding: 0;
	}
	
.framesize-baby img {
	padding: 2px;
	margin: 2px; 
	border: 1px solid #e0e0e0;
	}
	
/*-----------(EXTRA SMALL)-------------- */	
.framesize-tiny {
	width: 40px; 
	position: relative;
	margin: 0;
	}
	.framesize-tiny .imgconstrain {
	width: 30px;
	height: 20px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
	.framesize-tiny .imgconstrain img {
	width: 50px;
	height: auto;
	margin: -5px 0 0 -5px;
	}


/*-----------(EXTRA SMALL)-------------- */	
.framesize-xsmall {
	width: 55px; 
	position: relative;
	margin: 0;
	}
	.framesize-xsmall .imgconstrain {
	width: 45px;
	height: 33px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
	
/*-----------(SMALL)-------------- */
.framesize-small {
	width: 85px; 
	position: relative;
	margin: 0;
	overflow: hidden;
	display: block;
	}
	.framesize-small .imgconstrain {
	width: 75px;
	height: 56px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}

/*-----------(MEDIUM)-------------- */
.framesize-medium {
	width: 110px; 
	position: relative;
	margin: 0;
	overflow: hidden;
	display: block;
	}
	.framesize-medium .imgconstrain {
	width: 100px;
	height: 75px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
	
		
/*-----------(LARGE)-------------- */
.framesize-large  {
	width: 140px;
	position: relative;
	margin: 0;
	}
	.framesize-large .imgconstrain {
	width: 130px;
	height: 98px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}


/*-----------(FRAME STYLES USED BY ALL SIZES)-------------- */

.frame .imgconstrain a:link, .frame .imgconstrain a {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #000000;
	text-decoration: none;
	}
	
.frame .imgconstrain a:hover, #chanpage .frame .imgconstrain a:hover {
	background-color: #000000;
	text-decoration: none;
	}


.frame {
	margin: 0;
	padding: 0 15px 0 15px;
	border: 1px solid #e0e0e0;
	background-color: #fdfdfd;
	position: relative;
	text-align: left;
	}


.noborder {
	border: none;
	}	


.frame a:link, .frame a:active, .frame a:visited, .frame a:hover{
	font-size:10px; 
	}


	
.frame .imgconstrain {
	margin: -1px -15px 0 -12px !important;
	margin: -1px -15px 0 -11px;
	padding: 0;
	display: block;
	text-align: center;
	}
	
.frame p, .module .frame p  {
	padding: 0;
	margin: 2px -15px 0 -10px;
	}
	
	.frame p a, .module .frame p a {
	padding: 0;
	display:block;
	word-wrap: break-word;
	height: 12px;
	overflow: hidden;
	width: 95%;
	}
	
	
.frame .location {
	font-size: 9px;
	padding: 0;
	margin: 0px -15px 0 -8px;
	color: #b4b4b4;
	}
	
.restricted {
	z-index: 100;
	background: transparent url("../images/restricted.gif") no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	display: block;
	}
	
.passrequired {
	z-index: 100;
	background: transparent url("../images/pass_content.gif") no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	display: block;
	}
	
.twentyone {
	z-index: 100;
	background: transparent url("../images/twentyone.gif") no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
	display: block;
	}


	
/*-----------(FRAME CORNERS)-------------- */

.frame .ct, .frame .ct .cl, .frame .cb, .frame .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 5px; position: relative;}
.frame .ct, .frame .cb { width: 100%; right: -16px;}
.frame .ct .cl, .frame .cb .cl { width: 5px; left: -32px; }
.frame .ct { background: transparent url("../images/framecorner-ne.gif") no-repeat top right; top: -1px; }
.frame .ct .cl { background: transparent url("../images/framecorner-nw.gif") no-repeat top left; }
.frame .cb { background: transparent url("../images/framecorner-se.gif") no-repeat top right; bottom: -1px; }
.frame .cb .cl { background: transparent url("../images/framecorner-sw.gif") no-repeat top left; }

.noborder .ct { background: transparent url("../images/framecorner-ne1.gif") no-repeat top right; top: -1px; }
.noborder .ct .cl { background: transparent url("../images/framecorner-nw1.gif") no-repeat top left; }
.noborder .cb { background: transparent url("../images/framecorner-se1.gif") no-repeat top right; bottom: -1px; }
.noborder .cb .cl { background: transparent url("../images/framecorner-sw1.gif") no-repeat top left; }

	

	
table .searchbox {
	padding-left: 15px;
	margin:  0;
	border-right: 1px solid #e8e7e7;
	border-top: none;
	border-bottom: none;
	border-left: none;
	}
	
#pageheader {
	background: #FFFFFF url("../images/bg_pageheader.jpg") repeat-x -5px left;
	margin: 0 0 0 0;
	padding: 2px 0 9px 0;
	}
	

h1#pageheader_blurb {
	padding-left: 12px; 
	padding-right: 12px; 
	color: #13667A; 
	margin: -8px 0 13px 0; 
	font-weight: normal;
	font-size: 12px;
	position: relative;
	}

	
#pagefooter {
	margin: 9px 0 0 0;
	padding: 2px 0 0 0;
	}
	
.graphiccallout {
	margin-bottom: 10px;
	}
	
a.selected:link, a.selected:visited {
	text-decoration: none;
	
	}
	
.searchnav a:link, .searchnav a:visited  {
	text-decoration: none;
	}
	
.searchnav a.selected:link, .searchnav a.selected:visited {
	text-decoration: none;
	background-color:#018AAA;
	color: #EEEEEE;
	padding: 2px;
	}
	
.greenbox {
	background-color: #e7f4f5;
	}
	
.greenbox p {
	color: #476163;
	}
	
	
/* this sections was added to specfically format the online icons for the various
sections and structure they fall in */	

/* this sections was added to specfically format the online icons for the various
sections and structure they fall in */    
p.online, span.online {
    background: transparent url("../images/widget_online_icon.gif") no-repeat 0 1px;
    text-indent: 15px;
    width: 75px;
    height: auto;
    display: block;
    text-align: left;
    }
    
.frame p.online {
    background-position: 10% 0%;
    text-indent: 25px;
    width: auto;
    text-align: left;
    }
    
p.online span.online {
    background-image: none;
    }   

      
span.online {
	background: transparent url("../images/widget_online_icon.gif") no-repeat 1px left;
	padding-left: 13px;
	margin-left: 10px;
	font-weight: normal;
    }
    
*/ 

/* end specialized online section  */

/*
* PAGE SPECIFIC CONTAINERS & STYLES
* ---------------------------------------------------- */	



/*-----------(MY KANEVA PAGE STYLES)-------------- */	
	
div.tip {
	margin: 5px 0 0 0;
	display: block;
	position: relative;
	text-align: center;
	padding: 5px 0 0 0;
	}	
	
table.messagechart {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	}	
	
table.messagechart tr {
	padding: 0;
	margin: 0;
	}
	
table.messagechart td {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #FFFFFF;
	height: 18px;
	}
	
table.messagechart td.chartnumber {
	padding: 0;
	margin: 0;
	background: #FFFFFF url("../images/chartrow_numberbg.gif") repeat-x top left;
	text-align: center;
	}
	


table.bulletins {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	}	
	
table.bulletins tr {
	padding: 0;
	margin: 0;
	}
	
table.bulletins td {
	padding: 4px;
	margin: 0;
	border-top: 1px dashed #CCCCCC;
	}
	
table.bulletins th {
	padding: 5px;
	margin: 0;
	text-align: left;
	width: 180px;
	}
	
table.bulletins th span {
	text-align: right;
	}
	

	
table.statsarea {
	background: #FFFFFF url("../images/statsarea_bg.gif") repeat-x top left;
	padding: 15px 0 0 0;
	}
	
table.statsarea td {
	padding: 5px;
	}
	
	
hr  {
	border: none 0; 
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
	width: 100%;
	height: 2px;
	margin: 10px auto 0 0;
	text-align: left;
	}
	
hr.contentsep  {
	border: none 0; 
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
	width: 100%;
	height: 2px;
	margin: 20px auto 20px 0;
	text-align: left;
	}
	
hr.sep  {
	border: none 0; 
	border-bottom: 1px solid #efefef;
	width: 100%;
	height: 1px;
	margin: 0;
	text-align: left;
	padding: 0;
	}
	
.centeralign {
	margin: 0 auto;
	}
	
/*-----------(PROFILE WIZARD STYLES)-------------- */

#wizard {
	width: auto;
	background: url("../images/DS_pagewide.jpg") no-repeat bottom left;
	padding: 0 0 34px 0;
	float: left;
	display: block;
	}
	
ul#profilewiz {
	width: 968px;
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	}
	
	ul#profilewiz li {
	float: left;
	}
	ul#profilewiz li h3 {
	font-size: 17px;
	color: #8f8f8f;
	padding: 15px 0 8px 50px;
	margin: 0 0 0 10px;
	}
	
	ul#profilewiz span.active h3, ul#profilewiz span.completed h3 {
	color: #ffffff;
	}
	
	
	
#profilewiz #one span {
	width: 184px;
	height: 52px;
	display: block;
	padding: 0;
	margin: 0;
	}
	#profilewiz #one span.incomplete {
	background: url("../images/wizard_account_one0.gif") no-repeat 0 0;
	}
	
	#profilewiz #one span.completed {
	background: url("../images/wizard_account_one1.gif") no-repeat 0 0;
	}
	#profilewiz #one span.completed h3 {
	background: url("../images/wiz_one1.gif") no-repeat 7px 9px;
	}
	
	
	#profilewiz #one span.active {
	background: url("../images/wizard_account_one2.gif") no-repeat 0 0;
	}
	#profilewiz #one span.active h3 {
	background: url("../images/wiz_one1.gif") no-repeat 7px 9px;
	}
	
	#profilewiz #one span h3 {
	background: url("../images/wiz_one0.gif") no-repeat 7px 9px;
	}
	
	
#profilewiz #two span {
	width: 194px;
	height: 52px;
	display: block;
	padding: 0;
	margin: 0;
	}
	#profilewiz #two span.incomplete {
	background: url("../images/wizard_account_two0.gif") no-repeat 0 0;
	}
	
	#profilewiz #two span.completed {
	background: url("../images/wizard_account_two1.gif") no-repeat 0 0;
	}
	#profilewiz #two span.completed h3 {
	background: url("../images/wiz_two1.gif") no-repeat 7px 9px;
	}
	
	#profilewiz #two span.active {
	background: url("../images/wizard_account_two2.gif") no-repeat 0 0;
	}
	#profilewiz #two span.active h3 {
	background: url("../images/wiz_two1.gif") no-repeat 7px 9px;
	}
	#profilewiz #two span h3 {
	background: url("../images/wiz_two0.gif") no-repeat 7px 9px;
	}
	
#profilewiz #three span {
	width: 225px;
	height: 52px;
	display: block;
	padding: 0;
	margin: 0;
	}
	#profilewiz #three span.incomplete {
	background: url("../images/wizard_account_three0.gif") no-repeat 0 0;
	}
	
	#profilewiz #three span.completed {
	background: url("../images/wizard_account_three1.gif") no-repeat 0 0;
	}
	#profilewiz #three span.completed h3 {
	background: url("../images/wiz_three1.gif") no-repeat 7px 9px;
	}
	
	#profilewiz #three span.active {
	background: url("../images/wizard_account_three2.gif") no-repeat 0 0;
	}
	#profilewiz #three span.active h3 {
	background: url("../images/wiz_three1.gif") no-repeat 7px 9px;
	}
	#profilewiz #three span h3 {
	background: url("../images/wiz_three0.gif") no-repeat 7px 9px;
	}
	
#profilewiz #four span {
	width: 162px;
	height: 52px;
	display: block;
	padding: 0;
	margin: 0;
	}
	#profilewiz #four span.incomplete {
	background: url("../images/wizard_account_four0.gif") no-repeat 0 0;
	}
	
	#profilewiz #four span.completed {
	background: url("../images/wizard_account_four1.gif") no-repeat 0 0;
	}
	#profilewiz #four span.completed h3 {
	background: url("../images/wiz_four1.gif") no-repeat 7px 9px;
	}
	
	#profilewiz #four span.active {
	background: url("../images/wizard_account_four2.gif") no-repeat 0 0;
	}
	#profilewiz #four span.active h3 {
	background: url("../images/wiz_four1.gif") no-repeat 7px 9px;
	}
	#profilewiz #four span h3 {
	background: url("../images/wiz_four0.gif") no-repeat 7px 9px;
	}
	
#profilewiz #five span {
	width: 203px;
	height: 52px;
	display: block;
	padding: 0;
	margin: 0;
	}
	#profilewiz #five span.incomplete {
	background: url("../images/wizard_account_five0.gif") no-repeat 0 0;
	}
	
	#profilewiz #five span.active {
	background: url("../images/wizard_account_five1.gif") no-repeat 0 0;
	}
	#profilewiz #five span.active h3 {
	background: url("../images/wiz_five1.gif") no-repeat 7px 9px;
	}
	#profilewiz #five span h3 {
	background: url("../images/wiz_five0.gif") no-repeat 7px 9px;
	}


.formspacer {
	height: 20px;
	}
	
.formspacer_small {
	height: 6px;
	}
	
.formspacer_messaging {
	height: 14px;
	}
	
.success {
	color: #009900;
	font-weight: bold;
	font-size: 10px;
	}
	
.failure {
	color: #cc0000;
	font-weight: bold;
	font-size: 10px;
	}
	
.module table.wizform, .module table.wizform table {
	margin: 0 auto;
	}

table.wizform p, table.wizform .module p {
	text-align: left;
	padding: 0 15px 10px 15px;
	}	


.wizform input.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}


.wizform textarea.biginput 
{
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
.wizform select.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
.wizform #preview_scrollbox {
	width: 240px;
	height: 325px;
	display: block;
	overflow: auto;
	border: 1px solid #CCCCCC;
	background: transparent url("../images/bg_altrow.gif") repeat top left;
	}
	
.wizform #preview_scrollbox img {
	border: 1px solid #CCCCCC;
	padding: 2px;
	}

table.wizform h1, table.wizform .module h1 {
	text-align: left;
	margin: 0 0 10px 15px;
	padding: 0;
	}
	
table.wizform h2, table.wizform .module h2 {
	margin: 0 0 10px 15px;
	padding: 0;
	}
	
table.nopadding h2, table.nopadding h1, table.nopadding .whitebox h1, table.nopadding p, div.nopadding h1, div.nopadding h2, div.nopadding h3 {
	padding: 0;
	margin: 0;
	}
	
.wizform .unselected h2 {
	color: #c6c6c6;
	}
	
.wizform .unselected td {
	color: #c6c6c6;
	}
	
.wizform .unselected .radiobg {
	background-color: #eeeeee;
	}
	
.wizform .selected .radiobg {
	background-color: #caedfd;
	}

	



	
	

/*-----------(MANAGE CREDITS WIZARD STYLES)-------------- */

#wizard {
	width: auto;
	background: url("../images/DS_pagewide.jpg") no-repeat bottom left;
	padding: 0 0 34px 0;
	float: left;
	display: block;
	}
	
ul#wizardProgress {
	width: 968px;
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	background: transparent url("../images/wizard_bg0.gif") repeat-x top left;
	}
	
	ul#wizardProgress li {
	float: left;
	height: 52px;
	}
	ul#wizardProgress li span {
	height: 52px;
	}
	
	ul#wizardProgress li h3 {
	font-size: 15px;
	color: #8f8f8f;
	padding: 17px 0 16px 47px;
	margin: 0;
	background-color: red;
	}
	
	
	

#wizardProgress #startcap {
	width: 10px;
	height: 52px;
	background: transparent url("../images/wizard_startcap1.gif") repeat-x top left;
	}
	
	
#wizardProgress .active, #wizardProgress .completed {
	background: transparent url("../images/wizard_bg1.gif") repeat-x top left;
	}
	

	
#wizardProgress  .active span{
	background: transparent url("../images/wizard_activepoint.gif") no-repeat top right;
	}
	#wizardProgress  span.last {
	background: transparent url("../images/wizard_endcap0.gif") no-repeat top right;
	}
	#wizardProgress .active span.last {
	background: transparent url("../images/wizard_endcap1.gif") no-repeat top right;
	}
	
	
#wizardProgress .completed span#one a:hover h3, #wizardProgress .completed span#two a:hover h3, #wizardProgress .completed span#three a:hover h3, #wizardProgress .completed span#four a:hover h3, #wizardProgress .completed span#five a:hover h3, #wizardProgress .completed span#six a:hover h3 {
	background-color: #58a2c3;
	color: #ffffff;
	text-decoration: none;
	}
	
#wizardProgress .completed span#one a, #wizardProgress .completed span#two a, #wizardProgress .completed span#three a, #wizardProgress .completed span#four a, #wizardProgress .completed span#five a, #wizardProgress .completed span#six a  {
	text-decoration: none;
	}
	
	
/*-----------(STEP ONE)-------------- */	

#wizardProgress  span#one {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	#wizardProgress  span#one h3 {
	background: url("../images/wiz_one0.gif") no-repeat 7px 9px;
	}
	
	#wizardProgress .active span#one h3, #wizardProgress .completed span#one h3 {
	background: url("../images/wiz_one1.gif") no-repeat 7px 9px;
	color: #ffffff;
	}
	
/*-----------(STEP TWO)-------------- */	
	
#wizardProgress span#two {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	#wizardProgress span#two h3 {
	background: url("../images/wiz_two0.gif") no-repeat 7px 9px;
	}
	
	#wizardProgress .active span#two h3, #wizardProgress .completed span#two h3 {
	background: url("../images/wiz_two1.gif") no-repeat 7px 9px;
	color: #ffffff;
	}

/*-----------(STEP THREE)-------------- */	
	
#wizardProgress span#three {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	#wizardProgress span#three h3 {
	background: url("../images/wiz_three0.gif") no-repeat 7px 9px;
	}
	
	#wizardProgress .active span#three h3, #wizardProgress .completed span#three h3 {
	background: url("../images/wiz_three1.gif") no-repeat 7px 9px;
	color: #ffffff;
	}

/*-----------(STEP FOUR)-------------- */	
	
#wizardProgress span#four {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	#wizardProgress span#four h3 {
	background: url("../images/wiz_four0.gif") no-repeat 7px 9px;
	}
	
	#wizardProgress .active span#four h3, #wizardProgress .completed#four span h3 {
	background: url("../images/wiz_four1.gif") no-repeat 7px 9px;
	color: #ffffff;
	}

/*-----------(STEP FIVE)-------------- */	
	
#wizardProgress span#five {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	#wizardProgress span#five h3 {
	background: url("../images/wiz_five0.gif") no-repeat 7px 9px;
	}
	
	#wizardProgress .active span#five h3, #wizardProgress .completed span#five h3 {
	background: url("../images/wiz_five1.gif") no-repeat 7px 9px;
	color: #ffffff;
	}
	




/*-----------(MANAGE CREDITS STYLES)-------------- */	

.badgeSpecial {
	background: transparent url("../images/special_badge.gif") no-repeat top left;
	width: 110px;
	height: 108px;
	position: absolute;
	top: -10px;
	left: -70px;
	display: block;
	padding: 0;
	margin: 0;
	clear: both;
	}

table.specialbox {
	border: 2px solid #ec923f;
	z-index: 5;
	padding: 0;
	background: #fae3b5 url("../images/specialbox_bg.jpg") repeat-x bottom left;
	position: relative;
	width: 546px !important;
	width: 550px;
	display: block;
	margin: 0px 0 20px 0;
	
	}
		
 table.specialbox h1 {
	margin: 10px 0px 4px 40px;
	padding: 0;
	display:block;
	font-size: 16px;
	}
	
table.specialbox h2 {
	padding: 0;
	margin: 0px 0px 2px 40px;
	border: 0;
	font-weight: bold;
	font-size: 11px;
	}
	
table.specialbox h3 {
	font-size: 17px;
	margin: 10px 0px 20px 40px;
	font-weight: bold;
	border: 0;
	padding: 0;
	}
		
table.specialbox p {
	padding: 4px 0 4px 4px;
	margin: 5px 0 2px 0;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	}
	
table.specialItems {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	font-size: 11px;
	vertical-align: top;
	text-align:left;
	width: 98%;
	}
	
tr.totalrow td {
	background-color: #e6f8fe;
	font-weight: bold;
	}
	
table#ordersummary {
	border: 3px solid #caedfd;
	background-color: #e6f8fe;
	}	

.whitebox {
	border: 3px solid #caedfd;
	background-color: #FFFFFF;
	}
	
#notspecial {
	width: 175px;
	height: 102px;
	display: block;
	position: absolute;
	top: 41px;
	left: 234px;
	background-color: #caedfd;
	border: 2px solid #026b84;
	}
	
	#notspecial h1 {
	color: #026b84;
	font-size: 13px;
	padding: 5px;
	margin: 0;
	text-align: center;
	}
	
	#notspecial p {
	color: #026b84;
	padding: 0 5px 5px 5px;
	margin: 0;
	text-align: center;
	}
	
	
#accessPass {
	display: block;
	width: 191px;
	height: 380px;
	position: relative;
	}
	
		
 table.buycreds {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	}	
	
table.buycreds tr {
	padding: 0;
	margin: 0;
	}
	
table.buycreds td, table.buycreds th {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	}
	
.off td {
	background-color: transparent;
	}
	
.on td {
	font-family: verdana, arial, sans-serif;
	color: #026b84;
	padding: 2px 8px 0 8px;
	margin: 0;
	background-color: #caedfd;
	font-size: 15px;
	}
	
.on td.special {
	color: #f4620a;
	background-color: #fae3b5;
	}
	
.buycreds label {
	margin: 0;
	font-size: 11px;
	font-weight: bold;
	display: block;
	cursor: pointer;
	padding: 5px;
	}
	
.buycreds .col1 label {
	width: 120px !important;/*PCIE BOX MODEL HACK*/
	width: 130px;/*PCIE BOX MODEL HACK*/
	padding: 4px 5px 4px 10px;
	}
	
.buycreds .col2 label {
	width: 45px !important;/*PCIE BOX MODEL HACK*/
	width: 65px;/*PCIE BOX MODEL HACK*/
	padding: 10px 10px 10px 10px;
	}
	
.buycreds .extrapadding label {
	padding: 10px 5px 10px 10px;
	}
	
.buycreds input {
	cursor: pointer;
	}
	
.buycreds label.special {
	width: 200px;
	}
	
.buycreds span {
	font-size: 9px;
 	margin: 0;
 	font-weight: normal;
	padding: 5px;
	}
	

/*-----------(DATA TABLE STYLES - GENERAL TABLE STYLE USED ON MY KANEVA PAGES)-------------- */	
	
 table.data {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	border-top: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	clear: both;
	}	
	
table.data tr {
	padding: 0;
	margin: 0;
	}
	
table.data td, table.data th {
	padding: 4px;
	margin: 0;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	}
	
	
table.data th {
	padding: 5px;
	margin: 0;
	text-align: center;
	}
	
table.data th.name {
	text-align: left;
	}
	
table.data th span {
	text-align: right;
	}
	
	
 table.data table {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	border-top: none;
	border-right: none;
	}	
	
table.data table tr {
	padding: 0;
	margin: 0;
	}
	
table.data table td, table.data table th {
	padding: 4px;
	margin: 0;
	border-bottom: none;
	border-left: none;
	}
	
.altrow {
	background: transparent url("../images/bg_altrow.gif") repeat top left;
	}
	
 table.white {
	border-top: 1px solid #caedfd;
	border-right: 1px solid #caedfd;
	}	
	

table.white td, table.white th {
	border-bottom: 1px solid #caedfd;
	border-left: 1px solid #caedfd;
	}
	
table.data th.gray, table.data td.gray {
	background-color: #fdfdfc;
	}
	
	
 table.evenpadding {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	clear: both;
	}	
	
table.evenpadding tr {
	padding: 0;
	margin: 0;
	}
	
table.evenpadding td, table.evenpadding th {
	padding: 3px;
	margin: 0;
	}
		
	
 table.thumb_table {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	/*border: 1px solid #f1f1f1;*/
	clear: both;
	}	
	
table.thumb_table tr {
	padding: 0;
	margin: 0;
	}
	
table.thumb_table td, table.data th {
	padding: 16px 4px 4px 4px;
	margin: 0;
	
	}
	
table.thumb_table p {
	padding: 0;
	margin: 0;
	}
	
	
 table.detail_table {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	/*border: 1px solid #f1f1f1;*/
	clear: both;
	}	
	
table.detail_table tr {
	padding: 0;
	margin: 0;
	}
	
table.detail_table td {
	padding: 4px 4px 4px 10px;
	margin: 0;
	}
	
table.detail_table table.stats td  {
	padding: 4px 0 0 0;
	margin: 0;
	}
	
table.detail_table p {
	padding: 0;
	margin: 0;
	}
		


/*-----------(VIRTUAL WORLD TAB STYLES)-------------- */


#vtab_callout {
	width: 670px;
	height: 288px;
	position: relative;
	margin: 0 0 10px 0;
	padding: 0;
	}
	#vtab_callout h1 {
	padding: 10px 0 0 0;
	margin: 0 0 0 10px;
	}
	#vtab_callout p {
	padding: 7px 0 0 0;
	margin: 0 0 0 10px;
	}
	#vtab_callout a:link, #vtab_callout a:visited, #vtab_callout a:active {
	color: #66dcf8;
	font-weight: bold;
	}
	#vtab_callout a:hover {
	color: #cccccc;
	font-weight: bold;
	}
	
#vtab_callout #one {
	float: left;
	padding: 0;
	display: block;
	width: 166px;
	height: 288px;
	text-decoration: none;
	background: transparent url("../images/vtab_callout_bg1.jpg") no-repeat 0 0;
	}
	
	
	
#vtab_callout #two {
	float: left;
	padding: 0;
	display: block;
	width: 168px;
	height: 288px;
	text-decoration: none;
	background: transparent url("../images/vtab_callout_bg2.jpg") no-repeat 0 0;
	}
	
	
#vtab_callout #three {
	float: left;
	padding: 0;
	display: block;
	width: 168px;
	height: 288px;
	text-decoration: none;
	background: transparent url("../images/vtab_callout_bg3.jpg") no-repeat 0 0;
	}
	
	
#vtab_callout #four {
	float: left;
	padding: 0;
	display: block;
	width: 168px;
	height: 288px;
	text-decoration: none;
	background: transparent url("../images/vtab_callout_bg4.jpg") no-repeat 0 0;
	}
	
/*#vtan {
	position: absolute;
	top: 229px;
	left: 213px;
	width: 200px;
	height: 20px;
	}*/
	
#vtanbtn a {
	display: block;
	width: 257px;
	height: 31px;
	position: absolute;
	left: 213px;
	top: 229px;
	margin: 0;
	padding: 0;
	text-indent: -5000px;
	}
	
/* NOT LOGGED IN BUTTON */	
#vtanbtn a {
	background: transparent url("../images/vtab_btn.gif") no-repeat 0 -31px;
	}
	#vtanbtn a:hover {
	background: transparent url("../images/vtab_btn.gif") no-repeat 0 0;
	}
	
/* LOGGED IN BUTTON */
	#vtanbtn.loggedin a {
	background: transparent url("../images/vtab_btn_loggedin.gif") no-repeat 0 -31px;
	top: 229px;
	}
	#vtanbtn.loggedin a:hover {
	background: transparent url("../images/vtab_btn_loggedin.gif") no-repeat 0 0;
	}
	
/* LOGGED IN - NO CLIENT BUTTON */
	#vtanbtn.noclient a {
	background: transparent url("../images/vtab_btn_noclient.gif") no-repeat 0 -31px;
	top: 229px;
	}
	#vtanbtn.noclient a:hover {
	background: transparent url("../images/vtab_btn_noclient.gif") no-repeat 0 0;
	}
	
/* LOGGED IN - HAS CLIENT BUTTON */
	#vtanbtn.hasclient a {
	background: transparent url("../images/vtab_btn_hasclient.gif") no-repeat 0 -31px;
	top: 229px;
	}
	#vtanbtn.hasclient a:hover {
	background: transparent url("../images/vtab_btn_hasclient.gif") no-repeat 0 0;
	}


	
#gettingin #stepOne {
	margin: 0;
	padding: 3px 0 0 30px;
	height: 30px;
	background: transparent url("../images/home_stepone_bg.gif") no-repeat 0 0;
	font-size: 14px;
	margin: auto 0px;
	font-weight: bold;
	}
#gettingin #stepTwo {
	margin: 0;
	padding: 3px 0 0 30px;
	height: 30px;
	background: transparent url("../images/home_steptwo_bg.gif") no-repeat 0 0;
	font-size: 14px;
	font-weight: bold;
	}
#gettingin #stepThree {
	margin: 0;
	padding: 3px 0 0 30px;
	height: 30px;
	background: transparent url("../images/home_stepthree_bg.gif") no-repeat 0 0;
	font-size: 14px;
	font-weight: bold;
	}

  #vtab_briannavid {
	height: 260px;
	margin: 0;
	padding: 0;
	}  
	
#vtab_callout h1 {
	color: #FFFF99;
	font-weight: bold;
	font-size: 13px;
	margin: 0 0 0 10px;
	}
	
#vtab_callout h2 {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 11px;
	margin: 0 0 0 0; 
	padding: 0 6px 0 10px;
	}
	
	
#vtab_callout p, #two ul {
	color: #FFFFFF;
	font-weight: normal;
	font-size: 11px;
	}
	
#two ul {
	padding: 10px 0 0 0;
	margin: 0 0 0 5px;
	list-style: none;
	width: 150px;
	display: block;
	}
	
#two li {
	padding: 3px 5px 5px 20px;
	list-style: none;
	margin: 0;
	}
	

	
.greenarrow li {
	padding-left: 20px;
	list-style: none;
	background: transparent url("../images/li_greenarrow.gif") no-repeat 0 4px;
	}
	
.purparrow li {
	padding-left: 20px;
	list-style: none;
	background: transparent url("../images/li_purparrow.gif") no-repeat 0 4px;
	}
	

ul.nopadding {
	padding: 0;
}
	
	
	
	
	
/*-----------(MEDIA DETAILS PAGE STYLES)-------------- */
 ul#mediaFullScreen {
	width: 450px;
	padding: 0;
	margin: 2px 0 2px 0;
	position: relative;
	display: block;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	}
	
 ul#mediaFullScreen li {
	padding: 0;
	margin: 0;
	list-style: none;
	}
	
 ul#mediaFullScreen li a {
	padding: 10px 0 10px 0;
	margin: 0;
	display: block;
	font-size: 11px;
	text-align: center;
	font-weight: normal;
    background: #eeeeee url("../images/mod_head_bg.gif") repeat-x 0 0;
	}
	
	ul#mediaFullScreen li a:hover {
	color: #ef7e03;
	background-color: #f8f8f8;
	}
	
ul#mediaFullScreen #full a {
	width: 100%;
	text-align:center;
	}
	
 ul#mediaNav {
	width: 450px;
	padding: 0;
	margin: 2px 0 30px 0;
	position: relative;
	display: block;
	float: left;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	}
	
 ul#mediaNav li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	}
	
 ul#mediaNav li a {
	padding: 10px 0 8px 0;
	margin: 0;
	display: block;
	float: left;
	font-size: 11px;
	text-align: center;
	font-weight: normal;
    background: #eeeeee url("../images/mod_head_bg.gif") repeat-x 0 0;
	}
	
	ul#mediaNav li a:hover {
	color: #ef7e03;
	background-color: #f8f8f8;
	}
	
ul#mediaNav li a img {
	vertical-align:middle;
	padding: 0;
	margin: 0 5px 0 0;
	}
	
ul#mediaNav #rave a {
	width: 93px;
	}
	
ul#mediaNav #add a {
	width: 144px;
	}
	
ul#mediaNav #share a {
	width: 99px;
	}

ul#mediaNav #report a {
	width: 112px;
	}

#related_media {
	width: 468px;
	position: relative;
	}

#related_content {
	width: 459px !important;
	width: 469px;
	height: 220px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	display: block;
	overflow: auto;
 	background-color: #f8f8f8;
	margin: 0;
	padding: 10px 0 0 8px;
	clear: both;
	}
	
	#related_content hr {
	margin: 8px 0 !important;
	margin: 3px 0;
	background-color: #f8f8f8;
	border-color: #f8f8f8;
	}
	
#related_header {
	padding: 3px 0 0 0;
	text-align: left;
	font-size: 10px;
	position: relative;
	float: left;
	}
	
	
ul.related_tabs  {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	width: 444px;
	position: relative;
	float: left;
	}



.related_tabs li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width:52px;
    text-align:center;
    }
    
.related_tabs .selected {
    background-color:#cdcdcd;
    }
    
.related_tabs a:link, .related_tabs a:visited, .related_tabs a:hover {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px; 
    text-decoration:none;
    font-weight: bold;
    background-color: transparent;
    padding:  5px 0 5px 0;
    margin: 1px 1px 0 1px;
    display: block;
    text-decoration: underline;
    }
    
    .related_tabs a:hover {
    text-decoration: underline;
	color: #018AAA;
    }


.related_tabs a:link.selected, .related_tabs a:visited.selected, .related_tabs a:hover.selected {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px; 
    text-decoration:none;
    font-weight: bold;
    color: #018AAA;
    background: #e1e1e1 url("../images/mod_head_bg.gif") repeat-x 0 0;
    padding: 5px 0 5px 0;
    margin: 0;
    display: block;
    border-top: 1px solid #999999;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    }
    

    

    
.related_tabs  a:link.selected, .related_tabs a:visited.selected, .related_tabs a:hover.selected {
    font-weight:bold;
    }

	
	
#related_footer {
	width: 456px !important;
	width: 468px;
	display: block;
	height: 16px !important;
	height: 20px;
	background-color: #f8f8f8;
	margin: 0;
	padding: 3px 0 0 10px;
	text-align: left;
	font-size: 10px;
	border-top: 1px solid #e3e3e3;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	}
	
#related_footer a {
	position: absolute;
    right: 6%;
    text-align: right;
    width: auto;
    font-weight: normal;
	}
	

 #promo1 {
 	background-color: #EEEEEE;
 	} 
 	#promo1 a {
 	display: block;
 	width: 468px;
 	height: 60px;
 	}
 	#promo1 a:hover {
 	background-color: transparent;
 	}
 	
 	#promo1 a:link h1, #promo1 a:visited h1, #promo1 a:hover h1 {
 	color: #b54b30;
 	text-decoration: none;
 	text-align: center;
 	}
 	
  #promo2 {
  	border: 1px solid #CCCCCC;
 	background-color: #EEEEEE;
 	} 
 	
 .fullbanner {
 	width: 468px;
 	height: 60px;
 	display: block; 
 	margin: 0 0 10px 0;
 	}
 	
 #commentsContainer {
 	width: 468px;
 	float: left;
 	background-color: transparent;
 	margin: 0;
 	position: relative;
 	}
 	
 .comment {
 	width: 440px !important;
 	width: 452px;
 	float: left;
 	margin: 0 0 3px 8px;
 	padding: 6px;
 	position: relative;
 	display: inline;
 	font-size: 12px;
 	}
 	
 .commentpoint {
 	width: 25px;
 	height: 24px;
 	position: absolute;
 	top: 16px;
 	left: 64px;
 	background: transparent url("../images/comment_point.gif") no-repeat 0 0;
 	}
 	

 	
.comment h3 {
 	height: 15px;
 	/*background-color: #FBF7E4;*/
 	background-color: #EEEEEE;
 	margin: 0 0 3px 0;
 	padding: 0;
 	text-align: left;
 	color: #535353;
 	}
 
 	
 .commenttext {
 	float: right;
 	width: 350px !important;
 	width: 358px;
 	display: block;
 	margin: 0 0 0 0;
 	padding: 3px;
 	background-color: #FFFFFF;
 	border: 1px solid #CCCCCC;
 	}
 	
 .commentpic {
 	float: left;
 	display: inline;
 	}
 
 	
  .reply .commenttext {
 	width: 320px !important;
 	width: 328px;
 	}
 	
 .reply .commentpic {
 	margin: 0 0 0 30px;
 	}
 	
 	
.reply .commentpoint {
 	width: 25px;
 	height: 24px;
 	position: absolute;
 	top: 16px;
 	left: 94px;
 	background: transparent url("../images/comment_point.gif") no-repeat 0 0;
 	}
 	
 .replyform {
 	clear: both;
 	background: #e8e8e8 url("../images/replyform_bg.jpg") repeat-x 0 0;
 	margin: 0 0 15px 0;
 	padding: 0 0 5px 0;
 	border-bottom: 2px solid #dbdbdb;
 	
 	}
 	
 .nocomment {
 	width: 440px !important;
 	width: 452px;
 	display: inline;
 	margin: 0 8px 0 0;
 	float: right;
 	}
 	
  .nocomment .commenttext {
 	width: 402px !important;
 	width: 412px;
 	float: left;
 	margin-left: 15px;
 	display: inline;
 	font-weight: bold;
 	background-color: transparent;
 	border: 1px solid transparent;
 	}
 	
	
 	

 .addedby div {
 	display: block;
 	margin: 1px 1px 0 0;
 	float: left;
 	padding: 0;
 	position: relative;
	}
	
	.addedby div .restricted {
	z-index: 2;
	background-color: red;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	display: block;
	background-image: none;
	font-size: 0;
	}
	
/*-----------(MEDIA LIBRARY PAGE STYLES)-------------- */

ul#librarynav, ul#playlistnav {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	background-color: #transparent;
	/*background-color: #edf0f5;
	background: #FFFFFF url("../images/bg_module.jpg") repeat-x 0 -3px;*/
	}
	#librarynav li, #playlistnav li {
	padding: 6px 0;
	list-style: none;
	display:block;
	position: relative;
	width: 100%;
	}
	#librarynav li a, #playlistnav li a {
	padding: 6px 0;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	text-indent: 42px;
	text-decoration: none;
	text-align: left;
	}
	
	#playlistnav li a {
	text-indent: 32px;
	}
	
	#librarynav li a span, #playlistnav li a span {
	position: absolute;
	right: 5%;
	}
	
	#librarynav li.selected a, #playlistnav li.selected a {
	width: 107%;
	color: #FFFFFF;
	background: transparent url("../images/librarynav_bg.gif") no-repeat -6px 0;
	font-weight: bold;
	}
	
	#librarynav li.selected a span, #playlistnav li.selected a span {
	right: 11%;
	}
	
	
	#librarynav li a:hover, #playlistnav li a:hover {
	/*width: 217px;*/
	background: transparent url("../images/librarynav_bg2.gif") no-repeat -6px 0;
	text-decoration: none;
	color: #333333;
	}
	
	
	#librarynav li.selected a:hover, #playlistnav li.selected a:hover {
	/*width: 217px;*/
	background: transparent url("../images/librarynav_bg.gif") no-repeat -6px 0;
	color: #FFFFFF;
	}
	
	#librarynav li span.navicon {
	width: 16px;
	height: 16px;
	position: absolute;
	display: block;
	top: 5px;
	left: 17px;
	z-index: 3;
	cursor: pointer;
	}
	
	#librarynav li.friendgroup span.navicon {
	background: transparent url("../images/activity_join.gif") no-repeat 0 0;
	}

	#librarynav li#all span.navicon {
	background: transparent url("../images/icon_all_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#videos span.navicon {
	background:  transparent url("../images/icon_videos_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#photos span.navicon {
	background:  transparent url("../images/icon_photos_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#music span.navicon {
	background: transparent  url("../images/icon_music_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#games span.navicon {
	background:  transparent url("../images/icon_games_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#patterns span.navicon {
	background:  transparent url("../images/icon_patterns_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#shared span.navicon {
	background:  transparent url("../images/icon_shared_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#tv span.navicon {
	background:  transparent url("../images/icon_tv_16.gif") no-repeat 0 0;
	}
	
	#librarynav li#widgets span.navicon {
	background:  transparent url("../images/icon_widget_16.gif") no-repeat 0 0;
	}

.playlistbox h3 {
	margin: 5px 5px 10px 0;
	}
	
.playlistbox h3 span {
	font-weight: bold;
	font-size: 11px;
	}
	
#playlistnav li span.navicon {
	width: 16px;
	height: 16px;
	position: absolute;
	display: block;
	top: 5px;
	left: 14px;
	z-index: 3;
	cursor: pointer;
	background: transparent url("../images/icon_playlist_13.gif") no-repeat 0 0;
	}
	

table.medialibrary {
	height: 400px;
	}

	
 table#controlbox {
	padding: 0 0 0 0;
	margin: 0 auto;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	}
	

	
 table#controlbox td {
	padding: 5px;
	margin: 0;
	}
	
	
	
table#controlbox td td {
	padding: 1px;
	margin: 0;
	font-size: 10px;
	}
	
table#controlbox td td a {
	font-size: 10px;
	}
	
	
	
table#controlbox td td img {
	vertical-align: top;
	padding: 0;
	margin: 0;
	}
	
table#controlbox a.button {
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #cccccc;
	padding: 2px 13px 2px 4px !important;
	padding: 2px 8px 2px 4px;
	margin: 0 15px 0 0;
	background-color: #FFFFFF;
	display: block;
	color: #333333;
	position: relative;
	}
	
table#controlbox a.button img {
	padding: 0;
	margin: 0;
	position: absolute;
	top: -3px;
	right: -12px !important;
	right: 0;
	}
	

/*-----------(MEDIA UPLOAD PAGE STYLES)-------------- */

h2#uploadOne {
	background: transparent url("../images/upload_one.gif") no-repeat 0 0;
	height: 30px;
	text-indent: 30px;
	margin-bottom: 5px;
	padding-top: 4px;
	}
	
h2#uploadTwo {
	background: transparent url("../images/upload_two.gif") no-repeat 0 0;
	height: 30px;
	text-indent: 30px;
	margin-top: 11px;
	margin-bottom: 5px;
	padding: 4px 0 0 15px;
	font-size: 15px;
	color: #018AAA;
	position: relative;
	text-align: left;
	}
	
h2#uploadThree {
	background: transparent url("../images/upload_three.gif") no-repeat 0 0;
	height: 30px;
	text-indent: 30px;
	margin-bottom: 5px;
	padding-top: 4px;
	}
	

table#mediauploadNav {
	padding: 0;
	margin: 0;
	position: relative;
	}

	
#mediauploadNav ul {
	width: 940px;
	margin: -4px -15px -4px -15px;
	padding: 0;
	position: relative;
	float: left;
	background: #eeeeee url("../images/mod_head_bg.gif") repeat-x 0 0;
	}
	
 #mediauploadNav ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	display: block;
	}
	
 #mediauploadNav ul li a {
	padding: 10px 15px 8px 15px;
	margin: 0;
	display: block;
	float: left;
	font-size: 13px;
	text-align: center;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
    border-right: 1px solid #d7d7d7;
	}
	
	#mediauploadNav ul li a:hover {
	background-color: #f8f8f8;
	}
	
#mediauploadNav ul li.selected a, #mediauploadNav ul li.selected a:hover {
	color: #ef7e03;
	background-color: #ffffff;
	}
	
#mediauploadNav ul li a img {
	vertical-align:middle;
	padding: 1px;
	margin: 0 0 0 0;
	}
	
.shadowsep {
	/*background: url("../images/DS_pagewide.jpg") no-repeat 0 1px;*/
	height: 10px;
	}
	
	
/*-----------(MAIN INDEX PAGE STYLES)-------------- */

#sortlinks {
	padding: 0;
	margin: 0;
	}
	
#sortlinks ul {
	padding: 0 0 15px 15px;
	margin: 0;
	}
	
#sortlinks ul#reveal {
	padding: 0 0 15px 0;
	margin: -8px 0 0 0;
	border-top: 1px solid #e8e8ad;
	}
	
#sortlinks li {
	padding: 0;
	margin: 0 0 2px 0;
	}
	#sortlinks li.header {
	font-size: 13px;
	font-weight: bold;
	
	/*color: #13667A;*/
	}
	
#browseMenu ul.subBrowse .submenu {
	padding: 0 0 0 0;
	margin: 5px 0 10px 0;
	}	

#sortlinks li a, #sortlinks ul.subBrowse .submenu  li a {
	font-size: 12px;
	text-decoration: none;
	color: #747474;
	border-left: 5px solid #eeeeee;
	padding: 0 0 0 5px;
	margin: 0;
	}
	
#sortlinks li.link {
	font-size: 12px;
	text-decoration: none;
	color: #747474;
	padding: 2px 0 2px 5px;
	margin: 0;
	background-color: #ffffcc;
	border-bottom: 2px solid #e8e8ad;
	cursor: pointer;
	display: block;
	width: auto !important;
	width: 100%;
	}
	
#sortlinks li.switchgroup1 table {
	font-size: 12px;
	text-decoration: none;
	color: #747474;
	padding: 0 0 6px 5px;
	margin: 0;
	border-bottom: 1px solid #e8e8ad;
	}
	
#sortlinks li a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
	}
	
#sortlinks li.selected a, #sortlinks ul.subBrowse .submenu  li.selected a {
	font-size: 12px;
	font-weight: bold;
	color: #ef7e03;
	text-decoration: none;
	border-left: 5px solid #ef7e03;
	padding-left: 5px;
	}
	
#sortlinks ul.subBrowse  li a {
	font-size: 12px;
	text-decoration: none;
	color: #747474;
	border-left: none;
	} 
	
	#sortlinks ul.subBrowse {
	margin-top: 10px;
	} 
	

	

/*-----------(BROWSE MENU)-------------- */

#browseMenu {
	padding: 0;
	margin: -8px 0 0 0;
	text-align: left;
	}
	
	#browseMenu .menutitle {
	padding: 4px 0 4px 8px;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	background-color: #f1f2f6;
	border-bottom: 1px solid #cccccc;
	color: #767661;
	cursor: hand;
	overflow: hidden;
	height: 15px !important;
	height: 23px;
	}
	
	#browseMenu .menutitle a {
	padding: 4px 0 4px 8px;
	margin: -4px 0 -4px -8px;
	font-size: 12px;
	font-weight: bold;
	background-color: transparent;
	color: #767661;
	text-decoration: none;
	display: block;
	height: 100%;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	}
	
	#browseMenu .menutitle img {
	vertical-align: top !important;
	vertical-align: middle;
	}
	
	#browseMenu .submenu {
	padding: 0 0 10px 0;
	margin: 5px 0 0 0;
	border-bottom: 1px solid #dfdfdf;
	display: block;
	}
	
	
	
#browseMenu .caton { 
    background-color: #d4d4d4;
 	}

.subon {
    font-size: 12px;
	font-weight: bold;
	color: #767661;
	}

#promotionBanner {
	width: 968px;
	height: 55px;
	display: block;
	padding: 0;
	margin: 0 0 10px 0; 
	background: transparent url("../images/promotionBanner_bg.gif") no-repeat 0 0;
	}

#promotionBanner table {
	padding: 16px 6px 6px 10px;
	width: 100%;
	}
	
#promotionBanner h1 {
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	padding: 0;
	margin: 0;
	display: inline;
	}	

	
/*-----------(Main Header Settings)-------------- */

	

#mainHeader {
	width: 968px;
	height: 130px;
	display: block;
	padding: 0;
	margin: 0 0 10px 0;
	position: relative;
	background-color: transparent;
	}


#mainHeader .avatar1 {
	display: block;
	position: absolute;
	top: -35px;
	right: 0;
	background-color: transparent;
	}
	

#mainHeader #headerContent {
	display: block;
	position: absolute;
	top: 26px;
	left: 24px;
	background-color: transparent;

	}

	#mainHeader #headerContent .nographic {
	display: block;
	position: absolute;
	top: 46px;
	left: 20px;
	background-color: transparent;
	}
	

#mainHeader #headerContent h1 {
	font-size: 26px;
	font-family: arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}


#mainHeader #headerContent h2 {
	font-size: 17px;
	font-family: arial;
	font-weight: bold;
	padding: 0;
	margin: 0;
	}

	#mainHeader #headerContent h2 .scream {
	font-size: 20px;
	font-weight: bold;
	}


#mainHeader #headerContent h3 {
	font-size: 13px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	}


#mainHeader #headerContent h4 {
	font-size: 11px; 
	font-weight: normal;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	}


#mainHeader #headerContent #statsarea {
	float: right;
	margin: 5px 0 0 0;
	padding: 0;
	width: 550px;
	height: 30px;
	}

	#mainHeader #headerContent #statsarea #statcontent {
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
	font-size: 15px;
	font-family: arial;
	line-height: 2.0;
	}

	#mainHeader #headerContent #statsarea  .stat {
	font-weight: bold;
	}

	



/*-----------(Virtual World settings)-------------- */

	

#virtualworld #mainHeader {
	background: transparent url("../images/header/indexpages/header-virtualworld4.jpg") no-repeat 0 0;
	}

	#virtualworld #mainHeader #headerContent h1 {
	color: #1d3451;
	}

	#virtualworld #mainHeader #headerContent h2 {
	color: #ffffff;
	}

	#virtualworld #mainHeader #headerContent h3 {
	color: #1d3451;
	}

	#virtualworld #mainHeader #headerContent #statsarea  {
	color: #1d3451;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

	

/*-----------(People settings)-------------- */

	

#people #mainHeader {
	background: transparent url("../images/header/indexpages/header-people4.jpg") no-repeat 0 0;
	}

	#people #mainHeader #headerContent h1 {
	color: #4d3c0f;
	}

	#people #mainHeader #headerContent h2 {
	color: #ffffff;
	}

	#people #mainHeader #headerContent h3 {
	color: #4d3c0f;
	}

	#people #mainHeader #headerContent #statsarea  {
	color: #4d3c0f;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}




/*-----------(Entertainment settings)-------------- */

	

#entertainment #mainHeader {
	background: transparent url("../images/header/indexpages/header-entertainment4.jpg") no-repeat 0 0;
	}

	#entertainment #mainHeader #headerContent h1 {
	color: #4f231e;
	}

	#entertainment #mainHeader #headerContent h2 {
	color: #ffffff;
	}

	#entertainment #mainHeader #headerContent h3 {
	color: #4f231e;
	}

	#entertainment #mainHeader #headerContent #statsarea  {
	color: #4f231e;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

	

/*-----------(Communities settings)-------------- */

	

#communities #mainHeader {
	background: transparent url("../images/header/indexpages/header-community4.jpg") no-repeat 0 0;
	}

	

	#communities #mainHeader #headerContent h1 {
	color: #084307;
	}

	#communities #mainHeader #headerContent h2 {
	color: #ffffff;
	}

	#communities #mainHeader #headerContent h3 {
	color: #084307;
	}

	#communities #mainHeader #headerContent #statsarea  {
	color: #084307;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}



/*-----------(Hot Tips Box)-------------- */

#hotTips {
	background-color: #3578ad;
	}
	
	#hotTips h2 {
	background: #214f73 url("../images/hottips_headerbg.gif") no-repeat 0 0;
	margin: -10px 0 0 0;
	padding: 5px 0 5px 10px;
	font-size: 15px;
	color: #ffffff;
	}
	
	#hotTips ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}
	
	#hotTips ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid #3c84bc;
	background: transparent url("../images/hottips_libg.gif") no-repeat left bottom;
	}
	#hotTips ul li div img {
	margin: 0 0 0 10px;
	display: block;
	}
	#hotTips ul li.last {
	border-bottom: none;
	}
	
	#hotTips ul li div p {
	font-size: 11px;
	color: #d3ebfd;
	padding: 0 10px 5px 10px;
	text-align: left;
	}
	
	
	#hotTips ul li a {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	text-align: left;
	color: #FFFFFF;
	height: 27px;
	line-height: 2.2;
	text-decoration: none;
	font-size: 13px;
	text-indent: 10px;
	overflow: hidden;
	}
	#hotTips ul li a:hover {
	background-color: transparent;
	}
	




/*-----------(SIGN IN PAGE)-------------- */

#joinBox {
	width: 645px;
	height: 484px;
	padding: 0;
	margin: 0 0 40px 0;
	background: transparent url("../images/login/joinbox_bg.jpg") no-repeat top left;
	}
	
#joinContent {
	margin: 0 0 0 35px;
	padding: 25px 0 0 0;
	text-align: left;
	}
	
	#joinBox h1 {
	padding: 0;
	margin: 0;
	font-size: 23px;
	color: #FFFFFF;
	font-weight: normal;
	}
	
	#joinBox h2 {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #beedfe;
	font-weight: normal;
	}
	
	#joinBox ul {
	padding: 0;
	margin: 20px 0 0 0;
	width: 475px;
	list-style: none;
	}
	
	#joinBox ul li img {
	float: left;
	display: block;
	padding: 1px 0 0 0;
	margin: 0 10px 0 0;
	}
	
	#joinBox ul li {
	padding: 0;
	margin: 0 0 0 10px;
	width: 440px;
	height: 70px;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: normal;
	display: block;
	}
	
	#joinBox ul h3 {
	padding: 0;
	margin: 0;
	font-size: 15px;
	color: #fffc84;
	}
	
	#joinBox ul p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	color: #ffffff;
	}
	
	#joinButton {
	padding: 10px 0 0 0;
	margin: 0 auto;
	width: 255px;
	clear: both;
	}
	

#signinBox {
	width: auto;
	height: 455px;
	padding: 0;
	margin: 0;
	}
	
#signinContent {
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
	text-align: left;
	}
	
	#signinBox h1 {
	padding: 0;
	margin: 0 0 0 7px;
	font-size: 22px;
	color: #FFFFFF;
	font-weight: normal;
	position: static;
	}
	
	#signinBox h2 {
	padding: 0;
	margin: 0 0 0 7px;
	font-size: 13px;
	color: #28505f;
	font-weight: normal;
	position: static;
	}
	
#signin {
	width: 286px;
	height: 246px;
	margin: 15px 0 0 0;
	padding: 20px 0 0 0;
	display: block;
	background: transparent url("../images/login/bg_login.gif") no-repeat top left;
	}
	
#signin table {
	padding: 0;
	margin: 0 0 0 35px;
	position: static;
	}




/*
* LINK STYLES
* ---------------------------------------------------- */

/*-----------(GLOBAL KANEVA LINKS)-------------- */	

a:link{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #018AAA;
	font-weight:normal;
	text-decoration:underline;
	}
	
a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #018AAA;
	font-weight:normal;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	text-decoration:none;
	font-weight:normal;
	background-color:#018AAA;
	color: #EEEEEE;
	}

a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#018AAA;
	font-weight:normal;
	text-decoration:underline;
	}
	
a.nohover:hover{
	background-color:transparent;
	}
	
/*-----------(ARROW LINK)-------------- */

.arrowlink a:link{
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	font-weight: bold;
	font-size: 12px;
	color: #018AAA;
	text-decoration:underline;
	}
	
.arrowlink a:visited{
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	font-weight: bold;
	font-size: 12px;
	color: #018AAA;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
.arrowlink a:hover{
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	font-weight: bold;
	font-size: 12px;
	color: #018AAA; 
	text-decoration:none;
	}

.arrowlink a:active{
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	font-weight: bold;
	font-size: 12px;
	color: #018AAA;
	}
	


	
/*-----------(CHANNEL LINK OVERRIDE)-------------- */	


#chanPage a:link{
	font-family: ; 
	font-size: ; 
	color:  ;
	font-weight: normal;
	text-decoration: ;
	}
	
#chanPage a:visited{
	font-family: ; 
	font-size: ; 
	color:  ;
	font-weight: normal;
	text-decoration: ;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
#chanPage a:hover{
	font-family: ; 
	font-size: ; 
	color:  ;
	font-weight: normal;
	text-decoration: ;
	background-color: transparent;
	}

#chanPage a:active{
	font-family: ; 
	font-size: ; 
	color:  ;
	font-weight: normal;
	text-decoration: ;
	}


/*-----------(SEARCH BOX NAV AND TABS)-------------- */	

.searchboxnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}

.searchboxnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    }

.searchboxnav li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width:52px;
    text-align:center;
    background-color: transparent;
    }
    
.searchboxnav .selected {
    background-color:#cdcdcd;
    }


.searchboxnav a:link.selected, .searchboxnav a:visited.selected, .searchboxnav a:hover.selected {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px; 
    text-decoration:none;
    font-weight:normal;
    color: #838383;
    background-color: cdcdcd;
    padding: 5px 0 5px 0;
    display: block;
    }
    
.searchboxnav a:link, .searchboxnav a:visited, .searchboxnav a:hover {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:10px; 
    text-decoration:none;
    font-weight:normal;
    color: #838383;
    background-color: transparent;
    padding:  5px 0 5px 0;
    display: block;
    }
    

    
.searchboxnav  a:link.selected, .searchboxnav a:visited.selected, .searchboxnav a:hover.selected {
    font-weight:bold;
    }


/*-----------(PAGENAV - USED ON TEXT/SEO PAGES)-------------- */	    
    
#pagenav ul  {
width: 200px;
border-left: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
list-style-type: none;
list-style-image: none;
padding: 0;
margin: 0;
}



#pagenav ul li {
list-style-type: none;
list-style-image: none;
width: 200px;
padding: 0;
margin: 0;
text-indent: 10px;
border-bottom: 1px solid #cccccc;
background: #FFFFFF url("../images/nav-bg_1.gif") repeat-x top left;
}

#pagenav ul a {
display: block;
width: 100%;
padding: 5px 0 5px 0;
margin: 0;
color: #4272b4;
font-weight: normal;
text-decoration: none;
}

#pagenav ul a:hover {
background-color: #f4f4f4;
background-image: none;
color: #4272b4;
}

#pagenav ul a.selected {
background-color: #c4dafa;
background-image: none;
font-weight: bold;
color: #4272b4;
}


/*-----------(INPAGENAV - USED ON NEW PAGES)-------------- */

#inpageNav {
	padding: 0;
	margin: 0 10px 10px 0;
	}
	
	#inpageNav a {
	font-size: 12px;
	}
    


/*-----------(FOOTER)-------------- */	


a.footerlink:link, a.footerlink:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #bbf3fe;
	font-weight:normal;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a.footerlink:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
	background-color:#018AAA;
	color: #EEEEEE;
	}

a.footerlink:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#bbf3fe;
	font-weight:normal;
	text-decoration:underline;
	}
	
.footerText {
	color: #bbf3fe;
	font-size: 10px;
	font-weight: normal;
	}
	
#footer_resourcebox td, #footer_resourcebox a {
	color: #7cd1e4;
	}
	
	




/*-----------(MISC LINKS)-------------- */	

p.calloutBlock {
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	}
	.calloutBlock a:link, .calloutBlock a:active, .calloutBlock a:visited {
	font-weight: bold;
	font-size: 12px;
	color: #00ab00;
	}
	.calloutBlock a:hover {
	background-color: #ffffcc;
	text-decoration: none;
	}


a.tabLink:hover {
	color: #EEEEEE;
	}
	
.floatleft {
	float: left;
	}
	
.floatright {
	float: right;
	}


.highlightbg {
	background-color: #ffffcc;
	}

.highlightborder {
	border: 1px solid #CCCCCC;
	padding: 5px;
	}
	
#smallpage_spacer{
	height: 70px;
	}
 
.hide {
display: none;
} 

.aligncenter {
	text-align: center;
	margin: 0 auto;
	}
	
.alignleft {
	text-align: left;
	}
	
.alignright {
	text-align: left;
	}
	
.bold, a.bold:link, a.bold:visited, a.bold:active {font-weight: bold;}	
	
.bold { font-weight: bold;}
	
.italic {font-style: italic;}
.large, a.large:link, a.large:visited, a.large:active {font-size: 13px;}
.small { font-size: 9px;}
	
.clearboth {clear:both;}
.clearleft {clear:left;}
.clearright {clear:right;}

.largebold, a.largebold {font-size: 12px; font-weight: bold;}	

.displayinline {display: inline;}

ul.bullet li {
	list-style: disc;
}

/*-----------(TEXT COLORS)-------------- */	

.purple {color: #6c376a;}
.pink {color: #a06194;}
.mediumgray {color: #6b6b6b;}
.red {color: #ff0000;}
.black {color: #000000;}
.darkGreen {color: #006400;} 
.darkRed {color: #8B0000;}


/*-----------(ERROR MESSAGE BOX)----------- */
.errBox
{
  width: 100%;
  border:solid red 1px;
  background-color:#ffebe8;
  padding:10px;
  text-align:left;
}

.infoBox
{
  width: 100%;
  border: solid 1px #006400;
  background-color: #ccffcc;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}
