/* HEADER */
/*
* Body Background / Margins
* ---------------------------------------------------- */

body 
{
    padding:0;
    margin:0;
    background-color:#ccc;
    font-family:verdana, arial, sans-serif;
    font-size:11px; 
    color: #656565;
    font-weight:normal;
    text-decoration:none;
    font-style:normal;
}

body a:link, body a:visited, body a:active
{
    color:#000;
    text-decoration:none;
    font-size:11px; 
}
		
body a:hover
{
    color:blue;
    text-decoration:underline;
    font-size:11px; 
}
		
h2 
{
	font-size:10px;
	font-weight:bold;
	font-family:verdana, arial, sans-serif;
	color:#656565;
	padding:0 15px 0 0;
	margin:10px 0 0 0;
}

/*-----------(MEDIUM)-------------- */
.framesize-medium {
	width:110px; 
	position:relative;
	margin:0;
	overflow:hidden;
	display:block;
	}
	.framesize-medium .imgconstrain {
	width:100px;
	height:75px;
	border:1px solid #e0e0e0;
	overflow:hidden;
	}

/*-----------(AUTHENTICATION CONTAINER & STYLES)------------------------ */
#securityLinks
{
	text-align:right;
	vertical-align:top;
	width:70px;
	top:-60px;
	height:60px;
	position:relative;
	float:right;
	padding-right:14px;
	font-size:14px; 
    font-weight:bold;
}

#securityLinks a:link, a:visited, a:active
{
    color:#000;
    text-decoration:none;
	font-size:14px; 
}

#securityLinks a:hover
{
    color:blue;
    text-decoration:underline;
	font-size:14px; 
}
		
/*-----------(BODY CONTAINER, MENU CONTAINERS)-------------- */

#container 
{
	position:relative;
	width:1198px;
	height:100%;
	margin:0 auto;
	padding:0;
	border:solid 2px #000;
	background-color:#aaa;
    text-align:left;
}

#mainnav
{
    position: relative;
	width:1198px;
	height:60px;
	padding:0;
    text-align:left;
    background-color:#b0c4de;
}

#reportpanel
{
	position:relative;
	width:100%;
	height:768px;
    overflow:auto;
    background-color:#fff;
}

#sidenav 
{
	position:absolute;
	width:200px;
	height:768px;
	margin:0 auto;
	padding:0;
	float:left;	
    text-align:left;
    overflow:auto;
    background-color:#b0c4de;
    
}

#content
{
    position:absolute;
    left:200px;
	width:998px;
	height:768px;
	padding:0;
    text-align:left;
    overflow:auto;
    background-color:#fff;
    border:solid 2px #000;
}

#siteselect
{
	position:relative;
	width:200px;
	height:60px;
	margin:0;
	padding:0;
}
	
#menu_container
{
	position:relative;
	top:-60px;
	height:60px;
	width:918px;
	margin:0;
	padding:0;
    text-align:left;
    float:right;
    border-bottom:solid 1px #000;
}

#menu_container td
{
    padding-right:20px; 
}

#menu_container a:link, a:visited, a:active
{
    color:#000;
    text-decoration:none;
    font-size:14px;
}

#menu_container a:hover 
{
    color:blue;
    text-decoration:underline;
    font-size:14px; 
}

#smenu_container
{
	position:relative;
	width:90%;
	margin:0;
	padding:20px 10px 0 10px;
	line-height:30px;
    text-align:left;
    overflow:auto; 
}

#smenu_container a:link, a:visited, a:active
{
    color:#000;
    text-decoration:none;
    font-size:14px; 
}

#smenu_container a:hover 
{
    color:blue;
    text-decoration:underline;
    font-size:14px; 
}

#ManagementLogo
{
	position:relative;
	width:200px;
	height:35px;
	margin:0;
	padding:0;
	float:left;
	background:#000;
	background:transparent url("../images/kaneva_logo.gif") no-repeat 12px 2px;
}

/*-- USER CONTROL SECTION --*/
    .sectionContainer
    {
        width:960px;
        text-align:left;
        margin:0 0 20px 10px;
    }
    .sectionHeader
    {
        text-align:left; 
        font-size:14px;
        font-weight:bold;
        margin:0;
    }
    .pageHeader
    {
        font-size:22px;
        text-align:center;
        line-height:24px;
        margin:10px 0;
    }
    .fieldset
    {
        padding:10px;
        width:98%; 
        margin:10px 0 0 10px;
    }
    
    #infoImage
    {
        float:left; 
        width:50px; 
        margin:0 10px 0 0;
        text-align:center;
    }
    
    #infoDetails
    {
        float:right; 
        width:830px;  
        margin:0 10px 0 0; 
    }
    #tipDiv
    {
        position:absolute;
        z-index:300;
        background-color:#fefefe;
        border:solid 2px #000;
        padding:10px 10px 10px 10px;
        top:-200px;
        left:-1000px;  
        width:300px;      
    }
    
    .securityPanel
    {
        width:759px;
    }

/*-----------(Table STYLES)-------------- */	
.lineItemColHeadCSR
{
	font-family:Arial; 
	font-style:normal;
	font-weight:bold;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	letter-spacing:normal;
	word-spacing:normal;
	background-color:#ccc;	
	font-size:11px; 
}

.lineItemColHeadCSR a:link,
.lineItemColHeadCSR a:active,
.lineItemColHeadCSR a:visited {color:#fff;}

.lineItemColHeadCSR a:hover {color:#FFC154;}

.lineItemEvenCSR
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-style:normal;
	background-color:#fff;
	letter-spacing:normal;
	word-spacing:normal;
	word-wrap:break-word;
	padding-left:4px;
	padding-top:2px;
	padding-bottom:2px;
}

.lineItemOddCSR
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	font-style:normal;
	background-color:#eee;
	letter-spacing:normal;
	word-spacing:normal;
	word-wrap:break-word;
	padding-left:4px;	
	padding-top:2px;
	padding-bottom:2px;
}

.error {font-size:12px;font-family:Verdana;font-weight:bold;color:#d3202a;}
.confirm {font-size:12px;font-family:Verdana;font-weight:bold;color:#00a651;}
.errBox{width:100%;border:solid red 1px;background-color:#ffebe8;padding:4px;text-align:left;}

/* Item Edit Bundles */
.pricing {background-color:#dbdbdb;width:330px;height:110px;padding:4px 4px 2px 2px;margin-top:16px;}
.pricing div {margin:0;}
.pricing .title {font-weight:bold;padding:0;margin:2px 0 2px 10px;color:#000;}
.pricing .row div, .pricing .line div, .pricing .total div {float:right;padding:0;margin-right:8px;}
.pricing .row {padding:0;margin:2px 0 2px 10px;}
.pricing .line {border-bottom:solid 1px #000;padding:0;margin:2px 0 2px 10px;line-height:14px;} 
.pricing .total {padding:0;margin:2px 0 2px 10px;} 
.pricing p {clear:both;font-size:11px;color:#9e9e9e;padding:0 0 0 10px;}

.listingHeader {padding:12px;}
.listingHeader a,
.listingHeader a:link,
.listingHeader a:visited,
.listingHeader a:active {
    text-decoration:underline;
}
.listingContainer {padding:12px;}
.listingContainer table {width: 100%;}