/* HEADER */
@charset "UTF-8";
/* CSS Document: Connect With Friends */
#ContentContainer 
{
	padding: 20px;
	position: relative;
}

h1 
{
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 0px;
}

h2
{
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

h3
{
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

h5
{
	font-size: 12px;
	font-weight: bold;
	padding: 30px 0 0 0;
	margin: 0px;
	
}

p
{
	font-size: 12px;
}

.stepHead
{
	background-color: #8cb6cf;
	width: 98%;
	padding:10px;
	margin: 0 0 30px 0;
}

.skipFriends
{
	text-align: right;
	padding: 20px 0 0 0;
}

.addButton
{
	margin-top:10px;
}

.friendHead 
{
	width: 400px;
	border: solid 1px #ccc;
	background-color:  #e5eef4;
}

.friendArea
{
	width: 400px;
	border: solid 1px #ccc;
	height: 180px;
	overflow: auto;
}

.chckBox
{	
	width:20px;
	display:inline-block;
	zoom: 1;
	*display: inline;
}

.name
{
	display:inline-block;
	width: 150px;
	font-size: 11px;		
	zoom: 1;
	*display: inline;
}

.email
{
	display:inline-block;
	font-size: 11px;
	zoom: 1;
	*display: inline;
}

#burst
{
	position: absolute;
	top: -46px;
	right: 20px;
	height:200px;
	width: 200px;	
	background: url('../../images/registration_flow/burst_free_rewards_204x145.gif') no-repeat left top;		
}

.headSteps #step2.headStep
{
	color: #FFFFFF;
}