/* HEADER */
﻿body {}
a, a:active, a:link, a:visited, a:hover {outline:none;}
.bold, .bold a, .bold a:hover, .bold a:active, .bold a:visited {font-weight:bold;}

table {height:auto;}
td.frBgIntMembers {padding:16px;}

h1 {font-size:36px;font-weight:normal;margin-bottom:10px;}

p {font-size:14px;padding:10px 4px;}
a.afb:link, a.afb:hover, a.afb:visited, a.afb:active {font-size:14px;text-decoration:none;outline:none;font-weight:bold;}
a.afb:hover {text-decoration:underline;}

div.signIn {width:400px;margin:auto;clear:both;}
ul {clear:both;}
li {float:left;list-style-type:none;}
li.inputField {color:#333;font-size:13px;font-weight:normal;width:80px;text-align:right;padding:7px 12px 0 0;}
li input.start {width:270px;height:26px;font-size:13px;}
li.button {width:352px;padding-top:10px;}
.signIn p {clear:both;font-weight:normal;text-align:left;margin-left:96px;}
input.next {width:180px;height:46px;font-size:15px;color:#584f52;font-weight:bold;float:right;}

/* Find Friends Page */
.frBgIntMembers a, .frBgIntMembers a:hover, .frBgIntMembers a:active, .frBgIntMembers a:visited {text-decoration:none;background:#fff;line-height:15px;}
.frBgIntMembers h1 {margin-bottom:0;}
.frBgIntMembers p {margin-bottom:14px;float:left;width:500px;}
.frBgIntMembers #aSkip {float:right;margin:20px 10px 0 0;}
.frBgIntMembers .listContainer {text-align:center;width:100%;clear:both;}
.frBgIntMembers .listContainer .fbFriendsList {overflow:auto;width:740px;height:422px;border:solid 1px #ccc;}
.frBgIntMembers .listContainer .fbFriendsList table {height:auto;}
.frBgIntMembers .listContainer .fbFriend {height:41px;width:358px;font-size:10px;color:#000;}
.frBgIntMembers .listContainer .fbFriend img {margin:6px 10px 0 10px;float:left;width:30px;height:30px;}
.frBgIntMembers .listContainer .fbFriend div {float:left;margin-top:14px;} 
.frBgIntMembers .listContainer .fbFriend button {color:#444;width:60px;height:26px;float:right;margin:7px 15px 0 0;}
.frBgIntMembers .listContainer .fbFriendsKaneva {overflow:auto;width:740px;height:380px;border:solid 1px #ccc;}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan {background:url(../../images/facebook/userframe.png) no-repeat;float:left;width:127px;height:172px;font-size:10px;color:#000;margin:10px 8px;}

.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan img {margin:12px 0 6px 0;}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan p.displayName {}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan p.username {}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan .button {margin:0;}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan img.loading {display:none;position:relative;left:0;top:-6px;}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan p.requested {background:url(../../images/facebook/requested.png) no-repeat;width:93px;height:37px;margin:15px 0 0 18px;}
.frBgIntMembers .listContainer .fbFriendsKaneva div.fbFriendKan p {padding:0;margin:0;width:127px;font-size:11px;text-align:center;overflow:hidden;}

.frBgIntMembers .sendAll {color:#444;width:200px;height:36px;float:right;margin:7px 0 0 0;} 
.frBgIntMembersGray .next {margin:20px 10px 20px 0;}

/* Invite Friends */
td.invitemenu {}
td.invitemenu p {width:180px;padding:1px 0;background-color:#fff;margin:3px 0;}
td.invitemenu p.fb a, td.invitemenu p.fb a:hover, td.invitemenu p.fb a:active, td.invitemenu p.fb a:visited {background:url(../../images/facebook/fbsmallicon_blue.png) no-repeat 30px 1px;width:180px;padding:1px;padding-left:56px;color:#3d77c4;line-height:16px;}
td.invitemenu p.mail a, td.invitemenu p.mail a:hover, td.invitemenu p.mail a:active, td.invitemenu p.mail a:visited {background:url(../../images/icons/icon_sendmessage_17x17.gif) no-repeat 30px 1px;width:180px;padding-bottom:1px;padding-left:56px;color:#3d77c4;line-height:16px;}
td.invitemenu p.selected, td.invitemenu p.selected a {font-weight:bold;background-color:#ccc;} 
td.invitemenu div {padding:12px 0 8px 0;height:50px;width:180px;margin-top:20px;border-top:2px solid #ebebeb;border-bottom:2px solid #ebebeb;}
table.findfriends {height:400px;}
table.findouter {height:auto;margin:auto;margin-bottom:40px;}
table.inviteemail {height:389px;}
td.invitecontent div.invitecontainer {padding-top:24px;}
div.invitecontainer h1.title {font-size:24px;font-weight:bold;border-bottom:1px solid #ebebeb;padding-bottom:10px;margin-bottom:14px;}
div.invitecontainer div.panel {/*height:350px;*/}
div.invitecontainer div.panel img {cursor:pointer;}
div.listpanel div.fbFriends {float:left;height:auto;}
div.listpanel div.fbOnKaneva {float:right;height:auto;}
div.listpanel h1 {padding:0;margin:0 0 10px 0;position:relative;font-weight:normal;font-size:20px;}
div.listpanel div.fbOnKaneva h1 {clear:both;width:234px;float:left;}
div.listpanel div.listframe {clear:both;border:solid 1px #ebebeb;overflow:auto;height:340px;width:330px;padding-top:5px;}
div.listpanel div.listframe a {cursor:pointer;}
div.listpanel div.listframe a.disabled {cursor:default;color:#cecece;}
div.listpanel .notfoundmsg {text-align:center;font-size:14px;padding:16px 0 0 0;margin:0;width:328px;}
div.listpanel .notfoundmsg2 {padding:0;font-size:12px;width:328px;text-align:center;}										   
div.fbOnKaneva a.button {float:left;cursor:hand;font-size:11px;}
div.fbOnKaneva a.button span {font-size:11px;}

div.listframe div.fbfriend, div.listframe div.kanfriend  {clear:both;height:56px;padding:2px 0 2px 5px;clear:both;margin-bottom:10px;text-align:left;}
div.fbfriend img.thumb, div.kanfriend img.thumb {width:50px;height:50px;float:left}
div.fbfriend div {float:left;width:200px;margin-left:8px;line-height:14px;font-size:11px;}
div.fbfriend a, div.fbfriend a {cursor:hand;}
div.listframe div.name {float:left;width:200px;margin-left:8px;line-height:14px;font-size:13px;}
div.listframe div.fbfriend a.button {margin-left:6px;}
div.name a, div.name a:hover,div.name a:active,div.name a:visited {font-size:13px;line-height:14px;} 					   
div.kanfriend .loc {float:left;width:200px;margin-left:8px;line-height:14px;font-size:11px;} 
div.kanfriend .btncontainer {width:127px;height:26px;float:left;margin-left:3px;}
div.kanfriend .btncontainer img {display:none;margin:5px 0 0 55px;position:relative;} 
div.kanfriend a.button {width:144px;cursor:hand;font-size:11px;}
div.kanfriend a.button span {margin:0 10px 0 0;padding:0 0 0 10px;font-size:11px;}
 
 
/* Invite from Facebook Landing Page */
table.inviteouter {height:260px;}
table.invite {height:230px;}
table.invite .frBgIntMembers p {font-size:12px;}
table.invite .frBgIntMembers p.desc {width:580px;padding:10px 0 25px 0;line-height:18px;}
table.invite .frBgIntMembers p.link {color:#4d4f75;float:left;width:200px;margin-left:14px;}
table.invite .frBgIntMembers p.link a,
table.invite .frBgIntMembers p.link a:hover,
table.invite .frBgIntMembers p.link a:visited,
table.invite .frBgIntMembers p.link a:active {color:#000;font-size:12px;font-weight:bold;letter-spacing:normal;}
table.invite .frBgIntMembers p.link a:hover {text-decoration:underline;}
table.invite .frBgIntMembers img {float:left;cursor:pointer;}

table.sociallogin .frBgIntMembers {padding-bottom:26px;}
table.sociallogin .frBgIntMembers h6 {text-align:left;margin-bottom:10px;}
table.sociallogin .frBgIntMembers .container {width:600px;margin:0 auto;}
table.sociallogin .frBgIntMembers p {margin:10px 0;color:#333;width:100%;text-align:left;}
table.sociallogin .frBgIntMembers p.lostpw {width:360px;text-align:right;margin-top:16px;}
table.sociallogin .frBgIntMembers .signIn {padding-top:20px;}
table.sociallogin .frBgIntMembers a:hover {text-decoration:underline;}
table.sociallogin .frBgIntMembers .btnHolder {text-align:right;}
table.sociallogin .frBgIntMembers .btnHolder .next {margin-right:0;}
table.sociallogin .frBgIntMembers .btnHolder li.button {width:366px;}
table.sociallogin .frBgIntMembers li.inputField {font-size:14px;}
table.sociallogin .frBgIntMembers li input.start {font-size:14px;color:#999;}

#footer {text-align:center;}

