/* HEADER */
﻿/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);

/* TOP-LEVEL OVERRIDES
*---------------------------------------------------------------------------*/	
html, body, form, #wrapper {
    height:100%;
}
input, a {
    outline:none;
}
.hidden {display:none;}
/* SIGNUP FORM & NON-SELECT INPUTS
*---------------------------------------------------------------------------*/	
.signupForm h2 {
    color:#333; 
    font-size:19px; 
    font-weight:normal; 
    position:relative;  
    margin:4px 0 14px 0;
    padding:0;
	text-align:center;
}
.signupForm .formContainer {
	width:270px;
	margin:0 auto;
	padding:0; 
}
.signupForm div {
    padding:0 0 6px 0; 
    line-height:24px;
    text-align:left;
    width:270px;
    margin:6px 0;
}
.signupForm label {
    color:#333; 
    font-size:11px; 
    font-weight:normal; 
    float:left; 
    margin:0 6px 0 0; 
    display:block; 
    width:72px; 
    text-align:right;
}
.signupForm .fbprofilepic {
	width:50px;
	height:50px;
	margin-left:0;
}
.signupForm .fbpicquestion {
	line-height:12px;
}
.signupForm .fbprofilerb {
	left:15px;
}
.signupForm .fbprofilerb input {
	top:-2px;	
}
.signupForm .fbprofilerb label {
	top:-6px;
	margin-right:10px;
}
.signupForm div.birthday { 
	margin-top:3px;
    margin-bottom:6px;
    padding-bottom:0; 
    height:40px;
}
.signupForm div.birthday label {
	font-size:14px;
	text-align:left;
	line-height:10px;
	margin-bottom:6px;
	padding-left:1px;
}
.signupForm div.birthday div {
	padding:0;
	margin:0;
}
.signupForm div.labeltxt {
	color:#999;
	font-size:16px;
	position:absolute;
	left:62px;
	line-height:18px;
	width:auto;
	padding:0;
    z-index:5;
}
.signupForm div.labeltxt.lastname {
	left:200px;
	float:right;
}
.signupForm .zipcontainer, .signupForm .country-zip {
	margin-bottom:0;
}
.signupForm div.zipcode {
	width:270px;
	margin:auto;
	margin-bottom:0; 
	display:inline-block;
}
.signupForm div.zipcode .labeltxt{
	left:234px;
}
.signupForm input {
    color:#000;
    font-size:16px;
    height:26px;
    border:1px solid #ccc;
    width:263px; 
    padding:2px 0 0 5px;
    margin:auto;
    background-color:#fff;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.signupForm input:focus {
	border-color:#999;
}
.signupForm .validate-err {
	border-color:#ee2d2a;
}
.signupForm input.name {
	width:125px; 
} 
.signupForm input.last.name {
	margin-right:0;
}
.signupForm .firstname-container, .signupForm .lastname-container {
    float:left;
    width:132px;
    margin:0;
    padding:0;
}
.signupForm .lastname-container {
    float:right;
}
.signupForm input.postalCode {
    width:91px;
    margin:0;
    float:right;
}
.signupForm .gender {
	color:#333;
	font-weight:normal;
	text-align:left;
	margin:2px 0 10px 0; 
    padding:0;
    height:30px;
    margin-left:-1px
}
.signupForm .gender input[type="radio"] {
	background:transparent;
	width:14px;
	height:14px;
	margin-right:8px;
	border:0px solid transparent;
}
.signupForm .gender div {
	padding:0;
	margin:0;
	width:91px;
	height:19px;
	display:inline-block;
	text-align:left;
    padding:5px 0 0 3px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border:1px solid transparent;
}
.signupForm .gender .gender-container {
    width:200px;
    float:left;
    padding:0;
    margin:0;
}
.signupForm .gender .validate-err {
    border-color:#ee2d2a;
    color:#333;
    font-weight:normal;
}
.signupForm .gender .male {
	text-align:left;
}
.btntallsmall {
	float:left;
}
.signupForm .gender span {
	position:relative;
	top:-5px;
}
a.btntallsmall:link, a.btntallsmall:visited {
	color:#fff;
	text-shadow:1px 1px #dc924f;
	text-decoration:none;	
}
.btntallsmall span {
	line-height:16px;
}
.signupForm .terms {
    line-height:11px;
    text-align:left; 
    font-size:10px; 
    color: #999;
    margin:0; 
    padding:0 0 30px 2px;
    overflow:visible;
    clear:both;
    width:99%; 
}
.signupForm div .suggestions {
	line-height:20px;
	margin:6px 0;
	padding:0;
}
.signupForm .captcha-container {
    clear:both;
    height:114px;
}
i.validateimg {
    background-image:url(../../images/inputFieldWarning_round.png);
    width:20px;
    height:20px;
	position:relative;
	left:245px;
    top:5px;
    display:none;
    margin-bottom:-20px;
}
.signupForm i.firstname, .signupForm i.lastname{
    left:107px;
}
.signupForm i.gender {
    top:-29px;
    left:246px;
    display:none;
    height:20px;
}
.signupForm i.birthdate {           
    top:3px;
}
.signupForm i.captcha {
    margin-top:-28px;
    top:-30px;
}
.signupForm .errmsgbox, .signupForm .errmsgbox.gender {
    display:none;
    position:relative;
    background: #C03737;
    border: 1px solid #830303;
    width: 240px;
    height: 36px;
    border-radius: 5px;
    left:280px;
    top:35px;
    padding:0;
    margin-top:-38px;
    z-index:20;
}
.signupForm .errmsgbox.short {
    width:180px;
}
.signupForm .errmsgbox:after, .errmsgbox:before {
    position: absolute;  
    content: "";
    width: 0; 
	height: 0; 
    top: 50%;
}
.signupForm .errmsgbox:before {
    left: -8px;
    margin-top: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid #830303; 
}
.signupForm .errmsgbox:after {
    left: -7px;
    margin-top: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent; 
	border-right: 7px solid #C03737; 
}
.signupForm .errmsgbox div.msg {
    position:relative;
    display:block;
    margin:3px 5px 3px 6px;
    padding:0;
    width:95%;
    color:#fff;
    line-height:13px;
    top:-62px;
    left:0;
    clear:both;
}
.signupForm .errmsgbox div.single {
    top:-57px;    
} 
.signupForm .errmsgbox.firstname{
    top:76px;
    left:0;
}
.signupForm .errmsgbox.firstname:after, .errmsgbox.firstname:before {
    position: absolute;  
    content: "";
    width: 0; 
	height: 0; 
    top: 50%;
}
.signupForm .errmsgbox.firstname:before {
    top: -8px;
    margin-left: 20px;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent; 
	border-bottom: 8px solid #830303; 
}
.signupForm .errmsgbox.firstname:after {
    top: -7px;
    margin-left: 20px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent; 
	border-bottom: 7px solid #C03737; 
}
.signupForm .errmsgbox.lastname{
    top:35px;
    left:142px;
}
.signupForm .errmsgbox.lastname div.msg, .signupForm .errmsgbox.firstname div.msg {
    top:-56px;
}
.signupForm .errmsgbox.birthdate{
    top:-5px;
}
.signupForm .errmsgbox.birthdate div.msg {
    top:-19px;
}
.signupForm .errmsgbox.gender{
    top:12px;
}
.signupForm .errmsgbox.gender div.msg {
    top:6px;
}
.signupForm .errmsgbox.captcha{
    top:-39px;
    left:280px;  
}
.signupForm .errmsgbox.captcha div.msg {
    top:1px;
}

/* JQUERY SELECTBOXES
*---------------------------------------------------------------------------*/	
/* Dropdown control */
.selectBox-dropdown {
    position: relative;
    float:left;
    color:#333333; 
    font-size:12px;
    height:28px;
    border:1px solid #ccc;
    padding:0;
    margin:0 5px 0 0;
    line-height: 24px;
	text-decoration: none;
	display: block;
	background-color:#fff;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.selectBox-dropdown:hover, 
.selectBox-dropdown:active,
.selectBox-dropdown:focus {
    text-decoration:none;
    color:#333333; 
    background-color:#fff;
}
.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
	padding: 0px 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
	background: url(../../jscript/selectBox/images/jquery.selectBox-arrow.gif) 50% center no-repeat;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border-style:none; /* should be the same border width as .selectBox-dropdown */
	background: #fff;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
	border:1px solid #fff;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}
.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
	font-size:12px;
	color:#333333;
}
.selectBox-options LI.selectBox-hover A {
    color:#333333;
	background-color: #ebebeb;
	text-decoration:none;
}
.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
	background-color: #ebebeb;
}
.selectBox-options .selectBox-optgroup {
	color: #333333;
	background: #fff;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
/* Individual Dropdowns - Selected by location in regards to the <select> */
.signupForm select.genderSelect + .selectBox-dropdown {
    color:#333333;
    min-width:226px;
    max-width:226px;
}
.signupForm select.genderSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.monthSelect + .selectBox-dropdown,
.signupForm select.yearSelect + .selectBox-dropdown,
.signupForm select.daySelect + .selectBox-dropdown {
    height:23px;
    text-align:left;
    line-height:23px;
}
.signupForm select.monthSelect + .selectBox-dropdown {
    color:#5f5f5f;
    min-width:94px;
    max-width:94px;
}
.signupForm select.monthSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.daySelect + .selectBox-dropdown {
    color:#5f5f5f;
    min-width:50px;
    max-width:50px;
}
.signupForm select.daySelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.yearSelect + .selectBox-dropdown {
    color:#5f5f5f;
    min-width:66px;
    max-width:66px;
}
.signupForm select.yearSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.countrySelect + .selectBox-dropdown {
    color:#5f5f5f;
    min-width:164px;
    max-width:164px;
    margin:0 3px 0 0;
    float:left;
    text-align:left;
    font-size:15px;
    line-height:26px;
    float:left;
}
.join-container {
    clear:both;
    height:32px;
    text-align:center;
}
.join-container .loading {
    margin:6px auto 0 auto;
    left:0;
    width:24px;
    height:24px;
}
.signupForm select.countrySelect + .selectBox-dropdown:focus {
    color:#333;
}
.signupForm a.joinNow:link, 
.signupForm a.joinNow:visited {
    background:url('../../images/home_signup/join_now_btn_sheet_270.png') 0 0;
    display:block; 
    width:270px; 
    height:33px; 
    margin:0;
} 
.signupForm a.joinNow:hover { background:url('../../images/home_signup/join_now_btn_sheet_270.png') -271px 0; } 
.signupForm a.joinNow:active { background:url('../../images/home_signup/join_now_btn_sheet_270.png') -542px 0; } 

.signupForm .captcha {
    margin-left:0;
    clear:both;
}
.signupForm .captcha span {
    line-height:12px;
    font-size:11px;
}
.signupForm .captcha input {
    margin:5px 0 0 -6px
}
