/* HEADER */
﻿.signupForm h2 {
    color:#ffffff; 
    font-size:16px; 
    left:78px; 
    margin:2px 0 10px 0;
    padding:0;
}
.signupForm label {
    color:#ffffff; 
}
.signupForm div.labeltxt {
	left:36px;
}
.signupForm div.labeltxt.lastname {
    left: 173px;
}
.signupForm div.zipcode .labeltxt {
    left: 208px;
}
.signupForm div .suggestions {
	line-height:20px;
	margin:6px 0;
	padding:0;border:1px solid yellow;
}



