/* HEADER */
@charset "UTF-8";
/* CSS Document: Connect With Friends */
#ContentContainer 
{
	padding: 40px;
	position: relative;
}

h1 
{
	line-height:32px;
}

h2
{
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

p
{
	font-size: 12px;
}

p.headline
{
	font-weight:bold;	
}

.small
{
	font-size: 10px;
}


.installHelp 
{	
	border: solid 1px #ccc;
	background-color:  #e5eef4;
	padding:20px;
}

.installImg
{
	float:right;
	padding:5px;
}

.installCount
{
	color: #0D4764;
}

.headSteps #step3.headStep
{
	color: #FFFFFF;
}