/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 10-14-08 */


/* REGISTRATION PAGE CONTENT
*---------------------------------------------------------------------------*/	
.content_wrapper {
	height: 593px;
	width: 990px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: url("../../images/registration_flow/register_backer.jpg") no-repeat;
}

/* :: Column One: Create your Avatar */
#create {
}
.formTop {
	margin: 19px 0px 0px;
	padding: 0px;
	height: 68px;
}
h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	padding: 10px 0px 10px 19px;
	text-align: left;
	width: 300px;
	display: block;
	float: left;
	line-height: 28px;
}
.indicator {
	background: url("../../images/registration_flow/step_indicator.jpg") no-repeat;
	height: 40px;
	width: 205px;
	float: right;
	padding-left: 8px;
	padding-top: 9px;
}
.indicator div {
	float: left;
}
.formArea {
	margin: 0px;
	padding: 0px;
}
.formArea form {
	margin: 0px;
	padding: 0px;
}
.formArea table {
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
	width: 600px;
}
.formArea th {
	font-weight: normal;
	text-align: right;
	width: 100px;
	font-size: 14px;
	vertical-align: top;
}
.formArea tr {
}
.formArea td {
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	padding-left: 10px;
	font-size: 11px;
}
.fname, .lname {
	float: left;
	width: 220px;
}
.gender {
	width: 155px;
	float: left;
}
.th {
	float: left;
	width: 70px;
	height: 35px;
	font-size: 14px;
}
.date {
	float: left;
	width: 240px;
}
.date_month {
	width: 105px;
	float: left;
}
.date_day {
	float: left;
	width: 65px;
}
.date_year {
	float: left;
	width: 70px;
}
.country {
	float: left;
	width: 315px;
}
.zip {
	float: left;
	width: 100px;
}
.passwords {
	float: left;
	width: 200px;
}
.alertMsg {
	color: #CC0000;
	text-decoration: none;
	padding-top: 3px;
	font-size: 11px;
	line-height: 12px;
	padding-bottom: 8px;
}
.success 
{
    color: Green;
}
.noMsg {
	text-decoration: none;
	padding-top: 3px;
	font-size: 11px;
	line-height: 12px;
	padding-bottom: 8px;
}
.formFoot {
	background: url("../../images/registration_flow/formFoot_backer.jpg") no-repeat center 0px;
	height: 55px;
	position: absolute;
	top: 513px;
	left: 25px;
	width: 632px;
	display: block;
}
.footL {
	text-align: left;
	width: 320px;
	padding-left: 30px;
	float: left;
	padding-top: 10px;
}
.footR {
	float: right;
	height: 49px;
	width: 178px;
	padding-right: 10px;
	padding-top: 3px;
}
.footR a:link, .footR a:visited {
	background: url("../../images/registration_flow/btn_next.gif") no-repeat 0px -49px;
	height: 49px;
	display: block;
	text-indent: -5000px;
}
.footR a:hover {
	background: url("../../images/registration_flow/btn_next.gif") no-repeat 0px 0px;
}


/* :: Column One: Download  */
.col1 {
	width: 632px;
	padding-left: 25px;
	float: left;
	position: relative;
}
.col1 .title {
	padding-top: 90px;
	width: 360px;
	margin-right: auto;
	margin-left: auto;
}
h3 {
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	line-height: 22px;
	margin: 0px;
	padding: 0px;
}
#download p {
	text-align: left;
	margin: 10px 0px;
	padding: 0px;
}
.installBtn {
	position: absolute;
	left: 25px;
	top: 315px;
	width: 632px;
}
.installBtn a:link, .installBtn a:visited {
	background: url("../../images/registration_flow/btn_install.gif") no-repeat center -49px;
	text-indent: -5000px;
	display: block;
	height: 49px;
}
.installBtn a:hover {
	background: url("../../images/registration_flow/btn_install.gif") no-repeat center 0px;
}

#download .terms {
	text-align: left;
	width: 325px;
	padding-left: 130px;
	padding-top: 10px;
}

/* :: Column Two */
.col2 {
	background: url("../../images/registration_flow/testimonial_backer.jpg") no-repeat center bottom;
	height: 343px;
	width: 324px;
	float: left;
	padding-top: 145px;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-align: left;
	line-height: 21px;
}
.t_image {
	float: left;
	height: 75px;
	width: 100px;
	background: #000000;
	margin-left: 20px;
	margin-bottom: 30px;
	display: inline;
	margin-top: 15px;
	border: 3px solid #FFFFFF;
}
.t_copy {
	padding-right: 20px;
	text-align: left;
	font-size: 11px;
	line-height: 13px;
	margin-top: 10px;
	padding-left: 20px;
}
.t_member {
	text-align: right;
	display: block;
	margin-top: 5px;
	height: 20px;
}
.t_additional {
	text-align: right;
	padding-right: 30px;
	display: none;
}
