/* HEADER */
@charset "UTF-8";
/* CSS Document */

/* 
** New Registration Page styles for 30 min. 2.1: 02/17/09  */
img {
	border-width: 0px;
	border-style: none;
}
.masthead {
	background:transparent url("../../images/registration_flow/masthead_banner.jpg") no-repeat 0px 0px;
	display:block;
	height:120px;
	margin:0px 0px 20px;
	padding:0px;
	position:relative;
	width:768px;
}
.masthead span {
	color: #FFFFFF;
	display: none;
}
.title {
	padding-bottom:15px;
	border-bottom:solid 1px #dddddd;
}
.title h1 {
	float: left;
}
.title .indicator {
	background: url("../../images/registration_flow/status_backer.gif") repeat-x 0px 0px;
	height: 33px;
	float: right;
	width: 311px;
}
.title .indicator .lEnd {
	float: left;
	width: 10px;
	background: url("../../images/registration_flow/status_leftEnd.gif") no-repeat 0px 0px;
	height: 33px;
}
.title .indicator .step1 {
	float: left;
	width: 91px;
	background: url("../../images/registration_flow/status_1.gif") no-repeat 0px 0px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .step1_on {
	background: url("../../images/registration_flow/status_1-on.gif") no-repeat 0px 0px;
	float: left;
	width: 91px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .step2 {
	float: left;
	width: 103px;
	background: url("../../images/registration_flow/status_2.gif") no-repeat 0px 0px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .step2_on {
	background: url("../../images/registration_flow/status_2-on.gif") no-repeat 0px 0px;
	float: left;
	width: 103px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .step3 {
	float: left;
	width: 91px;
	background: url("../../images/registration_flow/status_3.gif") no-repeat 0px 0px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .step3_on {
	background: url("../../images/registration_flow/status_3-on.gif") no-repeat 0px 0px;
	float: left;
	width: 91px;
	height: 33px;
	text-indent: -5000px;
}
.title .indicator .rEnd {
	float: left;
	width: 10px;
	background: url("../../images/registration_flow/status_rightEnd.gif") no-repeat 0px 0px;
	height: 33px;
}
.avatarForm {
	width: 450px;
	float: left;
	text-align: left;
	padding-left: 35px;
}
.avatarForm table {
	width: 439px;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
.avatarForm table.gender {
	width: 200px;
}

.avatarForm tr {}
.avatarForm td {
	padding-top: 8px;
	padding-bottom: 8px;
}
.avatarForm td p {}
.avatarForm td label {
	font-weight: bold;
	color: #00667a;
	display: block;
	padding-bottom: 2px;
}
ul.avatarThumb  {
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 439px;
}
ul.avatarThumb li {
	margin: 0px 4px 0px 0px;
	padding: 0px;
	float: left;
	width: 67px;
}
ul.avatarThumb li img {
	border: 2px solid #fff;

}
ul.avatarThumb li:hover img  {
	border: 2px solid #e89541;
}
ul.avatarThumb li.select img  {
	border: 2px solid #e89541;
}
.avatarPreview {
	float: left;
	width: 232px;
	padding-left: 10px;
}
.tdTitle {
	font-weight: bold;
	color: #00667a;
	padding-bottom: 4px;
}
.note {
	color: #535353;
}

/* Button Area */
.btnArea {
	text-align: center;
	margin: 20px auto 30px;
}
.btnWrap {
	text-align: center;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.tearms {
	text-align: center;
	float: left;
	width: 400px;
}
.nextBtn {
	float: left;
	width: 163px;
	padding-left: 9px;
}
.nextBtn a:link, .nextBtn a:visited {
	background: url("../../images/registration_flow/btn_next.gif") no-repeat 0px -34px;
	text-indent: -5000px;
	display: block;
	height: 34px;
	width: 163px;
}
.nextBtn a:hover {
	background: url("../../images/registration_flow/btn_next.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
