﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GameUserRetention.ascx.cs" Inherits="KlausEnt.KEP.SiteManagement.GameUserRetention" %>
<%@ Register TagPrefix="ajax" Namespace="MagicAjax.UI.Controls" Assembly="MagicAjax" %>
<%@ Register TagPrefix="CE" Namespace="CuteEditor" Assembly="CuteEditor" %>
<%@ Register TagPrefix="Kaneva" TagName="Pager" Src="../Pager.ascx" %>

<link href="../../css/base/base.css" type="text/css" rel="stylesheet">
<link href="../../css/Communities/GameUserRetention.css" type="text/css" rel="stylesheet">

<div id="vcContainer">

    <div id="divVCTitle" class="title">User Retention</div>
    <div id="divVCNote" class="note">Retention Goal to Achieve is 40% for 1-Day, 20% for 7-day, and 10% for 30-Day</div>
    <div id="divErrorTop" runat="server" class="error" style="display:none;"></div>
    
    <div id="vcData">
        <div id="data">
            <asp:repeater id="rptUserRetention" runat="server">
                <HeaderTemplate>
                    <div class="header">
                        <div class="dates">Date Range</div>
                        <div class="one_day_retention">One Day</div>
                        <div class="seven_day_retention">Seven Day</div>
                        <div class="thirty_day_retention">Thirty Day</div>
				    </div>
                </HeaderTemplate>
                <itemtemplate>
                    <div class="row">
                        <div class="retentionInfo">
						    <div class="dates"><%# DataBinder.Eval(Container.DataItem, "date_range").ToString()%></div>
                            <div class="one_day_retention"><%# DataBinder.Eval(Container.DataItem, "one_day_retention", "{0:0.00}") %>%</div>
                            <div class="seven_day_retention"><%# GetFormattedOutput(DataBinder.Eval(Container.DataItem, "seven_day_retention", "{0:0.00}")+"%", "seven_day_retention", Container.ItemIndex) %></div>
					        <div class="thirty_day_retention"><%# GetFormattedOutput(DataBinder.Eval(Container.DataItem, "thirty_day_retention", "{0:0.00}")+"%", "thirty_day_retention", Container.ItemIndex) %></div>
                         </div>
                    </div>
                </itemtemplate>
            </asp:repeater>
        </div>

        <div class="results"><asp:Label runat="server" id="lblSearch"/></div>
            
        <a name="details" href="javascript:void(0);"></a>
		<a id="aScroll" href="#details" style="visibility:hidden;"></a>
    </div>
</div>
