/* HEADER */
#EditorID {background-color:#CFE2FB!important; border: #9FBDDC 1px solid!important;}
#EditorID IMG { border:0px;display:inline;}

#EditorID .CuteEditorSelect { font:normal 11px Tahoma; margin-left:1px; margin-top:1px; height:20px; vertical-align:middle;}
#EditorID .CuteEditorDropDown { float: left; border: #9FBDDC 1px solid; margin:0 1px 0 1px;padding:0;}
#EditorID .CuteEditorDropDown Span {font:normal 11px Tahoma;}
#EditorID .CuteEditorToolbar {}
#EditorID .CuteEditorToolBarContainer {padding:3px 2px 1px 3px;height:1px;overflow-y:visible;}
#EditorID .CuteEditorFrameContainer {width:100%;height:100%;padding:1px 2px 1px 4px;}
#EditorID .CuteEditorBottomBarContainer {padding:2px;height:1px;overflow-y:visible;}
#EditorID .CuteEditorGroupMenu {font:normal 11px Tahoma;float: left;background-image: url(Load.ashx?type=theme&file=horizontal.background.gif&theme=Office2003_BlueTheme); background-repeat: repeat-x;  background-position: bottom; height:24px; vertical-align:middle;border-bottom : 1px solid  #4681BC; border-left : 1px solid  #4681BC; border-right:1px solid #CFE2FB; padding:1px}
#EditorID .CuteEditorGroupMenu span td{ vertical-align:middle}
#EditorID .CuteEditorGroupMenuCell{float:left;background-image: url(images/horizontal.start.gif); background-repeat:no-repeat; background-position:left center;padding-left:6px;}
#EditorID .CuteEditorGroupImage { margin:0; float:left;}
#EditorID .CuteEditorLineBreak {padding:0; height:0; margin:0}
#EditorID .CuteEditorFrame {width:100%;height:100%;padding:0;margin:0;border: #9FBDDC 1px solid!important;}
#EditorID .CuteEditorButton { margin:1px; vertical-align:middle;}
#EditorID .CuteEditorButtonActive { margin:0; vertical-align:middle; border:#0a246a 1px solid!important; background-color:#FFDBA3;background-image: url(Load.ashx?type=theme&file=toolbarbutton.over.gif&theme=Custom)}
#EditorID .CuteEditorButtonOver { margin:0;vertical-align:middle;border:#0a246a 1px solid!important; background-color:#FFDBA3;background-image: url(Load.ashx?type=theme&file=toolbarbutton.over.gif&theme=Custom);}
#EditorID .CuteEditorButtonDown { border-right: buttonhighlight 1px solid!important; border-TOP: buttonshadow 1px solid!important; border-left: buttonshadow 1px solid!important; border-bottom: buttonhighlight 1px solid!important; margin:0;vertical-align:middle; }
#EditorID .CuteEditorButtonDisabled { filter:alpha(opacity=50);	-moz-opacity:0.5; opacity:0.5;margin:1px; vertical-align:middle;}
#EditorID .ToolControl{}
#EditorID .ToolControlOver{}
#EditorID .ToolControlDown{}
#EditorID .separator {height:24px;background-image: url(Load.ashx?type=theme&file=Separator.gif&theme=Office2003_BlueTheme); background-repeat: no-repeat; vertical-align:middle; width:2px;margin-left:2px; margin-right:2px;	}
#EditorID .tagselector {font:normal 11px Tahoma;margin:0 2px 0 2px;padding:2px;cursor:hand;border: #9FBDDC 1px solid;}
#EditorID .tagselectorOver {font:normal 11px Tahoma;margin:0 2px 0 2px;padding:2px;cursor:hand;border: #9FBDDC 1px solid;background-image: url(Load.ashx?type=theme&file=toolbarbutton.over.gif&theme=Office2003_BlueTheme);background-repeat: repeat-x; }
#EditorID .WordCount {font:normal 11px Tahoma;}
#EditorID .WordSpliter {font:normal 11px Tahoma;}
#EditorID .CharCount {font:normal 11px Tahoma; padding-right:10px;}

/*case sensive for CSS1*/
#EditorID #cmd_tofullpage.CuteEditorButtonActive { display:none }
#EditorID #cmd_fromfullpage.CuteEditorButton { display:none }

.ceifdialogshadow
{
	background-color:#336699;
	z-index:10;
	cursor:not-allowed;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	opacity:0.2;
}
.ceifdialog
{
	 border:0;	 
}

.ceifdialogtl{
	margin:0 auto;
	width:15px;
	height:35px;	
	background:transparent url(Load.ashx?type=theme&file=t1.png&theme=Office2007) no-repeat;
}
.ie5ceifdialogtl{
	margin:0 auto;
	width:15px;
	height:35px;	
	background:transparent url(Load.ashx?type=theme&file=t1.gif&theme=Office2007) no-repeat;
}
.ceifdialogtop{
	height:35px;
	overflow:hidden;
	padding:2px 5px 2px 6px;
	color:#15428b;
	cursor:move;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	background:transparent url(Load.ashx?type=theme&file=t2.png&theme=Office2007) repeat-x;
	vertical-align:bottom;
}
.ie5ceifdialogtop{
	height:35px;
	overflow:hidden;
	padding:0 5px 0 6px;
	color:#15428b;
	cursor:move;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	background:transparent url(Load.ashx?type=theme&file=t2.gif&theme=Office2007) repeat-x;
	vertical-align:bottom;
}
.ceifdialogtr{
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=t3.png&theme=Office2007) no-repeat;
}
.ie5ceifdialogtr{
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=t3.gif&theme=Office2007) no-repeat;
}
.ceifdialogtitletext
{
	float:left;
	margin-top:6px;
}
.btnClose {
	float:right;
	width:28px;
	height:15px;
	text-align:right;
	margin-top:8px;
	background:transparent url(Load.ashx?type=theme&file=Close2.gif&theme=Office2007) no-repeat;
}
.ceifdialogleftbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=l1.png&theme=Office2007) repeat-y;
}
.ie5ceifdialogleftbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=l1.gif&theme=Office2007) repeat-y;
}
.ceifdialogrightbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=r1.png&theme=Office2007) repeat-y;
}
.ie5ceifdialogrightbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=r1.gif&theme=Office2007) repeat-y;
}
.ceifdialogcenter{
	border:1px solid .84A0C4; 
	background-color:#eeeeee;
	color:#15428b;
}
.ceifdialogbottom{
	height:15px;
	width:100%;
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=b1.png&theme=Office2007) repeat-x;
}
.ie5ceifdialogbottom{
	height:15px;
	width:100%;
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=b1.gif&theme=Office2007) repeat-x;
}
.ceifdialogbottomleft{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=l2.png&theme=Office2007) no-repeat;
}
.ie5ceifdialogbottomleft{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=l2.gif&theme=Office2007) no-repeat;
}
.ceifdialogbottomright{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=r2.png&theme=Office2007) no-repeat;
}
.ie5ceifdialogbottomright{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=r2.gif&theme=Office2007) no-repeat;
}