/* HEADER */

#EditorID { background-color:#CFE2FB!important; border: #9FBDDC 1px solid!important;}
#EditorID IMG { border:0px;display:inline;}

#EditorID .CuteEditorSelect { font:normal 11px Tahoma; margin-left:1px; margin-top:1px; height:21px; vertical-align:middle;}
#EditorID .CuteEditorDropDown {  display: block; float: left; clear:right;padding:0; margin:2px 1px 1px 1px; width:80px; vertical-align:middle;border: #9FBDDC 1px solid!important;}
#EditorID .CuteEditorDropDown Li {LIST-STYLE-TYPE: none;padding:0;}
#EditorID .CuteEditorDropDown Span {font:normal 11px Tahoma;}
#EditorID .CuteEditorToolbar {}
#EditorID .CuteEditorToolBarContainer {padding:3px 3px 1px 3px;height:1;overflow-y:visible;}
#EditorID .CuteEditorFrameContainer {width:100%;height:100%;padding:1px 4px 1px 4px;}
#EditorID .CuteEditorBottomBarContainer {padding:1px 3px 3px 3px;height:1;overflow-y:visible;}
#EditorID .CuteEditorGroupMenu {display: inline; float: left; background-image: url(images/horizontal.background.gif); background-repeat: repeat-x; background-position: bottom; height:24px; vertical-align:middle;border-bottom : 1px solid  #4681BC;border-left : 1px solid  #4681BC;}
#EditorID .CuteEditorGroupMenuCell{background-image: url(images/horizontal.start.gif); background-repeat:no-repeat; background-position:left center;padding-left:7px;}
#EditorID .CuteEditorLineBreak {}
#EditorID .CuteEditorFrame {width:100%;height:100%;padding:0;border: #9FBDDC 1px solid!important;}
#EditorID .CuteEditorTextArea {border: 1px solid #9FBDDC!important;}
#EditorID .CuteEditorButton { margin:1px; vertical-align:middle;}
#EditorID .CuteEditorButtonActive { margin:0; vertical-align:middle; border:#0a246a 1px solid!important; background-image: url(images/toolbarbutton.over.gif)}
#EditorID .CuteEditorButtonOver { margin:0;vertical-align:middle;border:#000080 1px solid!important;  background-image: url(images/toolbarbutton.over.gif)}
#EditorID .CuteEditorButtonDown { border-right: buttonhighlight 1px solid!important; border-TOP: buttonshadow 1px solid!important; border-left: buttonshadow 1px solid!important; border-bottom: buttonhighlight 1px solid!important; margin:0;vertical-align:middle; }
#EditorID .CuteEditorButtonDisabled { /* filter:gray alpha(opacity=25); margin:1px;vertical-align:middle; */ margin:1px;vertical-align:middle;}
#EditorID .ToolControl{}
#EditorID .ToolControlOver{}
#EditorID .ToolControlDown{}
#EditorID .separator {height:23px; background-repeat: no-repeat; vertical-align:middle; width:2px;margin-left:2px; margin-right:2px;	}

/*case sensive for CSS1*/
#EditorID #cmd_tofullpage.CuteEditorButtonActive { display:none }
#EditorID #cmd_fromfullpage.CuteEditorButton { display:none }

