/* HEADER */
/* CSS Document: Event Form 03-11-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(../base/nav.css);
@import url(../base/footer.css);

#cal1Container { display:none; position:absolute; z-index:100;}
#cal2Container { display:none; position:absolute; z-index:100;}
#cal3Container { display:none; position:absolute; z-index:100;}
		
.pageContainer {
	width: auto;
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    }

#wrapper {border:1px solid #ccc;border-top:none;background-color:#fff;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
.PageContainer {background-color:#fff;width:1004px;height:100%;border-top:solid 1px #fff;}

#formContainer {
	width:990px;
	background-color: white;
	text-align: left;
	padding: 10px 0px 20px;
    }
#formContainer h1 {width:250px;margin-left:30px;font-weight:bold;}
table.formData {
	border-collapse: collapse;
	padding: 0px;
	margin-left: auto;
	width: 830px;
	margin-top: 10px;
	border-width: 0px;
	border-style: none;
	display: block;
	text-align: center;
	margin-right: auto;
}
table.formData tr {}
table.formData th {}
table.formData td {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #535353;
	text-align: left;
	vertical-align: top;
}
table.dateTime {
	margin: 0px;
	padding: 0px;
	width: 400px;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
.trNote {
	top:0px;
	text-align: right;
	padding-right: 32px;
	font-size: 10px;
    }
.evFormNote {
      font-size: 8pt;
    }
.formFoot {
	text-align: center;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
/*-----------(ERROR MESSAGE BOX)----------- */
.errBox
{
  width: 100%;
  border:solid red 1px;
  background-color:#ffebe8;
  padding:10px;
  text-align:left;
}

.infoBox
{
  width: 100%;
  border: solid 1px #006400;
  background-color: #ccffcc;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

