/* HEADER */

#EditorID {}
#EditorID IMG { border:0px;display:inline;}

#EditorID .CuteEditorSelect { font:normal 11px Tahoma; vertical-align:middle;}
#EditorID .CuteEditorDropDown { float:left;border: #dddddd 1px solid; font:normal 11px Tahoma; padding:0; margin:0;}
#EditorID .CuteEditorDropDown Span {font:normal 11px Tahoma;}
#EditorID .CuteEditorToolbar {}
#EditorID .CuteEditorToolBarContainer {padding:3px 3px 1px 3px;height:1px;overflow:visible;}
#EditorID .CuteEditorFrameContainer {width:100%;height:100%;padding:1px 4px 1px 4px;}
#EditorID .CuteEditorBottomBarContainer {padding:3px 3px 3px 3px;height:1px;overflow:visible;}
#EditorID .CuteEditorGroupMenu {float: left;background-image: url(images/horizontal.background.gif); background-repeat: repeat-x; background-position: bottom; height:24px; vertical-align:middle;border-bottom : 1px solid  #c0c0c0; border-left : 1px solid  #c0c0c0;border-right: 1px solid  #eeeeee; }
#EditorID .CuteEditorGroupMenuCell{ float:left;background-image: url(images/horizontal.start.gif); background-repeat:no-repeat; background-position:left center;padding-left:4px;}
#EditorID .CuteEditorLineBreak {padding:0; height:0; margin:0}
#EditorID .CuteEditorFrame {width:100%;height:100%;padding:0;margin:0;}
#EditorID .CuteEditorButton { margin:1px; vertical-align:middle;}
#EditorID .CuteEditorButtonActive { margin:0; vertical-align:middle;border:#0a246a 1px solid!important; background-color:#d4d5d8;}
#EditorID .CuteEditorButtonOver { margin:0; vertical-align:middle;border:#0a246a 1px solid!important; background-color:#b6bdd2;}
#EditorID .CuteEditorButtonDown { margin:0; vertical-align:middle;border-right: buttonhighlight 1px solid!important; border-TOP: buttonshadow 1px solid!important; border-left: buttonshadow 1px solid!important; border-bottom: buttonhighlight 1px solid!important;  }
#EditorID .CuteEditorButtonDisabled { margin:1px;vertical-align:middle; /* filter:gray alpha(opacity=25); margin:1px;vertical-align:middle; */ }
#EditorID .ToolControl{}
#EditorID .ToolControlOver{}
#EditorID .ToolControlDown{}
#EditorID .separator {height:22px; background-repeat: no-repeat; vertical-align:middle; width:2px;margin-left:2px; margin-right:2px;	}

/*case sensive for CSS1*/
#EditorID #cmd_tofullpage.CuteEditorButtonActive { display:none }
#EditorID #cmd_fromfullpage.CuteEditorButton { display:none }
