<%@ Page MasterPageFile="~/masterpages/MainTemplatePage.Master" Language="C#" AutoEventWireup="true" CodeBehind="licenseInformation.aspx.cs" Inherits="KlausEnt.KEP.Developer.LicenseInformation" %>

<asp:Content ID="cnt_licenseInformation" runat="server" ContentPlaceHolderID="cph_Body">

<asp:Label runat="server" ID="lblLicenseInfo"></asp:Label><br/><br/>

This Trial License will be valid for 10 days.<br/><br/><br/>
License Info goes here...<br/><br/><br/><br/><br/>

<asp:imagebutton id="btnNext" imageurl="~/images/wizard_btn_beginpurchase.gif" runat="Server" onclick="btnNext_Click" alternatetext="Next" width="200" height="41" border="0"/>

</asp:Content>