<%@ Page Language="C#" MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="true" CodeBehind="OrderComplete.aspx.cs" Inherits="KlausEnt.KEP.Developer.OrderComplete" %>


<asp:Content ID="cnt_licenseOptions" runat="server" ContentPlaceHolderID="cph_Body">

    Thank you for your order<br/><br/><br/>
    
    
    Order summary.. <br/><br/>
    Nice Chart goes here<br/><br/><br/>
    
    
    <br/><br/>
    Order Info goes here
    
    <br/><br/>
    <a runat="server" href="~/games/gameResources.aspx">Download Now</a>

</asp:Content>