<%@ Page Language="C#" MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="true" CodeBehind="paypalFailure.aspx.cs" Inherits="Developer.license.paypalFailure" %>


<div><h1>Transaction Cancelled</h1></div>

<br />	
<p>Transaction cancelled.  Payment cancelled by the user or there was a problem receiving payment.</p>
																		
																		