<%@ Page Language="C#" MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="false" CodeBehind="registrationCompleted.aspx.cs" Inherits="KlausEnt.KEP.Developer.registrationCompleted" %>

<asp:Content ID="cnt_regCompleted" runat="server" ContentPlaceHolderID="cph_Body">
    
<!-- Google Code for STAR Developer Sign-up Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1065938872;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "000000";
if (0.75) {
  var google_conversion_value = 0.75;
}
var google_conversion_label = "TlOICNiJaxC436P8Aw";
//-->
</script>

<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1065938872/?value=0.75&amp;label=TlOICNiJaxC436P8Aw&amp;script=0"/>
</noscript>
</asp:Content>