/* HEADER */
@charset "UTF-8";
/* CSS Document: designer.kaneva.com 
 * ---------------------------------------------------- *
 * Update 11/19/08 
 * 
 * Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/*
* Imported Style Sheets
* ---------------------------------------------------- */
@import url(header.css);
@import url(nav.css);
@import url(footer.css);

/*
* Body Background / Margins
* ---------------------------------------------------- */

body {
	padding: 0px;
	margin: 0px;
	background: #737373;
	}
	
/*
* Global Type Style
* ---------------------------------------------------- */

body {
	color: #272727;
	font: 12px/16px Verdana, Arial, sans-serif;
	}
	
a:link, a:visited, a:active {
	color: #333399;
	text-decoration:underline;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	}

a:hover {
	text-decoration:none;
	font-weight: bold;
	}
	
h1, h2, h3 {
	font-weight: normal;
	color: #272727;
	}
	
h2 {
	margin: 0px;
	padding: 0px;
	}

h3 {
	padding: 0px;
	margin: 0px;
	}
	

/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

#wrapper {
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	float: left;
	background: #FFFFFF;
	}
	
#container {
	position: relative;
	width: 960px;
	margin: 0px auto;
	padding: 0px;
	background: #FFFFFF;
	}

	
/*-----------(HEADER)-------------- */	
/* See header.css */

#pageBody {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	float: left;
	background: url("../images/pageBody_background.png") no-repeat 190px 0px;
	}	

/*-----------(SITE NAVIGATION)-------------- */	
/* See nav.css for navigation and column styles */


/*-----------(MAIN CONTENT COLUNM)-------------- */	

#mainContent {
	padding: 0px 0px 19px;
	display: inline;
	margin: 0px 0px 0px 9px;
	position: relative;
	width: 720px;
	float: left;
	}
	
#mainContent h1, #mainContent h2 {
	font-weight: normal;
	color: #333333;
	float: left;
	width: auto;
	}

#mainContent h1 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}

#mainContent h2 {
	margin: 5px 0 0 15px;
	padding: 0;
	}	
	
/*-----------(COLUMN STRUCTURE)-------------- */	


/*
* CONTENT SPECIFIC STYLES
* ---------------------------------------------------- */	


/*-----------(BROWSE STYLES)-------------- */	

/*-----------(FEATURE COLUMN STYLES)-------------- */	

/*-----------(INVENTORY LIST STYLES)-------------- */
	
/*-----------(MY SALES STYLES)-------------- */
	
/*-----------(ITEM DESCRIPTION STYLES)-------------- */	

/*-----------(ITEM DETAIL STYLES)-------------- */

/*-----------(PURCHASE FORM STYLES)-------------- */	
	
/*-----------(LOGIN FORM STYLES)-------------- */	
	
/*-----------(ADD FORM STYLES)-------------- */	
	
/*-----------(EDIT FORM STYLES)-------------- */	

/*
* DESIGNER.KANEVA.COM STYLES
* ---------------------------------------------------- */	
#mainContent #designContent {
	padding-left: 15px;
}
#mainContent #designContent h2 {
	margin: 20px 0px 0px;
	padding: 0px;
	float: none;
	font-size: 18px;
}
#mainContent #designContent h3 {
	padding: 0px;
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px 0px;
}
#mainContent #designContent p {
	padding: 0px;
	margin: 5px 0px 10px;
}
#mainContent #designContent ul {
	padding: 0px;
	margin: 0px 0px 0px 15px;
}
#mainContent #designContent li {
	padding: 0px;
	margin-top: 4px;
}
.btn_getStarted {
	padding: 0px;
	float: right;
	width: 200px;
	margin-right: 20px;
}
.btn_getStarted a:link, .btn_getStarted a:visited {
	font-size: 30px;
	line-height: 36px;
}
.btn_getStarted a:hover {
	color: #CC0000;
}
#mainContent #designContent table {
	margin: 10px 0px 20px;
	padding: 0px;
	width: 90%;
	border-collapse: collapse;
	border-top: 1px solid #666666;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#mainContent #designContent tr {
}
#mainContent #designContent th {
	font-size: 14px;
	padding: 7px;
	font-weight: normal;
	line-height: 16px;
	text-align: left;
}
#mainContent #designContent td {
	text-align: left;
	padding: 7px;
	position: relative;
}

/*#mainContent #designContent td a.previewCSS:link,#mainContent #designContent td a.previewCSS:visited {
	position: relative;
	z-index: 1;
}
#mainContent #designContent td a.previewCSS div {
	display: none;
	position: absolute;
	top: 15px;
	right: 25%;
	border: 1px solid #FF0000;
}
#mainContent #designContent td a.previewCSS:hover {
	border-width: 0px;
	border-style: none;
	z-index: 1000;
}
#mainContent #designContent td a.previewCSS:hover div {
	display: block;
	border: 1px solid #FF3300;
	z-index: 500;
}
#mainContent #designContent td a.previewCSS img {
	border-width: 0px;
	border-style: none;
}*/


/* example script */
a.screen, a.screen:visited {
color:#c00; 
position:relative; 
z-index:1;
}
a.screen b {
position:absolute;
visibility:hidden; /* hide the image */
width:200px; /* give it a width */
height:0; /* no height to solve an Opera bug that makes it selectable when hidden */
border:1px solid #000; /* add a border */
left:0; /* position:the image */
top:-150px;
}
a.screen:hover {
text-decoration:none; 
border:0; /* needed for this to work in IE */ 
z-index:1000;
}
a.screen:hover b {
visibility:visible; /* make the image visible */
height:150px; /* now give it a height */
cursor:pointer; /* for IE */
z-index:500; 
}
a.screen:hover b img {
border:0; /* remove the link border */
}


/* -----------(FOOTER)-------------- */	
/* footer styles are located in teh footer.css file */



	
/*-----------(MISC)-------------- */	

.bold {
	font-weight: bold;
	}

.highlight {
	color: #CCCCCC;
	font-weight: bold;
	}

.strike {
	color: #777;
	}
	
.callOut {
	color: #990000;
	}
	
.clearit {
	clear: both;
	}
	
hr {
	display: none;
	}
	
p.sep {
	height: 1px;
	border-top: 1px dotted red;
	padding: 10px;
	}
	
.floatRight {
	float: right;
	}
	
.floatLeft {
	float: left
	}
	
.inline {
	display: inline;
	}
	
.alignLeft {
	text-align: center;
	}
	
.alignCenter {
	margin: 0 auto;
	}

.note {
	font-size: 11px;
	}

a img {
	border: none;
	}
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
.restrictedSymbol {
	background: url("../images/restricted.gif") no-repeat 20px 0px;
}

/*
* This is used by the image preview script
* ---------------------------------------------------- */
#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:block;
	color:#fff;
	}
