/* HEADER */
@charset "UTF-8";
/* CSS Document: designer.kaneva.com: footer
 * ---------------------------------------------------- *
 * Update 11/19/08                                      */

#footer {
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: block;
	float: left;
	background-color: #737373;
	border-top: 1px solid #333333;
	}
	
#footerContent {
	clear: both;
	width: 740px;
	margin: 0 auto;
	padding: 20px 0px 20px 200px;
	position: relative;
	display: block;
	color: #CCCCCC;
	}
	
#footer li.header {
	font-size: 18px;
	color: #CCCCCC;
	}
	
#footer li.header a {
	font-size: 18px;
	color: #CCCCCC;
	text-decoration: none;
	padding: 0px;
	}
	
#footer ul {
	padding: 0px;
	margin: 0px 30px 0px 0px;
	list-style: none;
	float: left;
	}
	
#footer a:link, #footer a:visited {
	text-decoration:underline; 
	font-weight: normal; 
	color: #999999;
	padding: 0px 10px;

	}
#footer a:hover {
	text-decoration:none; font-weight: normal; color: #CCCCCC;
	}
	
#footer p.copyright {
	padding: 30px 0px 0px 0px; float: right; width: 200px; text-align: right;
	}