/* HEADER */
@charset "UTF-8";
/* CSS Document: designer.kaneva.com: header
 * ---------------------------------------------------- *
 * Update 11/19/08 
 * 
 * Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */
#header {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	float: left;
	}
	
#headerContent {
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
	}
	
#headerTop {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	display: block;
	float: left;
	height: 40px;
	}
	
#logo {
	height: 37px;
	padding: 2px 0px 0px 13px;
	margin: 0px;
	width: 175px;
	float: left;
	background: transparent url("../images/kaneva_logo.gif") no-repeat 18px 7px;
	}
	
#logo a {
	display: block;
	width: 161px;
	height: 37px;
	}

#logo span {
	}
	
html>body #logo span {
	top: 8px;
	}

/*-----------(HEADER BOTTOM / SEARCH AREA)-------------- */	
	
#headerBottom {
	padding: 0;
	height: 45px;
	float: right;
	display: inline;
	background: url("../images/search_background.png") repeat-x;
	border-left: 1px solid #383838;
	position: relative;
	margin: 0px 40px 0px 0px;
	width: 720px;
	}
	
#headline {
	float: left;
	width: 720px;
	background: url(../images/search_endCapR.png) no-repeat right top;
	height: 45px;
	}

#headline h1, #headline h2 {
	font-weight: normal;
	color: #ffffff;
	float: left;
	width: auto;
	font-size: 24px;
	}

#headline h1 {
	margin: 0px;
	padding: 12px 0px 12px 19px;
	}

#headline h2 {
	margin: 0px;
	padding: 12px 0px 12px 6px;
	font-size: 24px;
	}
