/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* Body Background / Margins
* ---------------------------------------------------- */

body {
	padding: 0px;
	margin: 0px;
	background: #737373;
	}
	
/*
* Global Type Style
* ---------------------------------------------------- */

body {
	color: #272727;
	font: 12px/16px Verdana, Arial, sans-serif;
	}
	
a:link, a:visited, a:active {
	color: #333399;
	text-decoration:underline;
	font-weight: bold;
	}

a:hover {
	text-decoration:none;
	font-weight: bold;
	}
	
h1, h2, h3 {
	font-weight: normal;
	color: #272727;
	}
	
h2 {
	margin: 0px;
	padding: 0px;
	}

h3 {
	padding: 0px;
	margin: 0px;
	}
	

/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

#wrapper {
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	float: left;
	background: #FFFFFF;
	}
	
#container {
	position: relative;
	width: 960px;
	margin: 0px auto;
	padding: 0px;
	background: #FFFFFF;
	}

	
/*-----------(HEADER)-------------- */	


#header {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	float: left;
	}
	
#headerContent {
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
	}
	
#headerTop {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	display: block;
	float: left;
	height: 40px;
	}
	
#logo {
	height: 37px;
	padding: 2px 0px 0px 13px;
	margin: 0px;
	width: 175px;
	float: left;
	background: transparent url("../images/kaneva_logo.gif") no-repeat 18px 7px;
	}
	
#logo a  {
	display: block;
	width: 161px;
	height: 37px;
	}

#logo span {
	}
	
html>body #logo span {
	top: 8px;
	}


/*-----------(USER INFO)-------------- */		

#headerNav {
	display: block;
	float: right;
	padding: 0px 40 0 0;
	margin: 0px;
	width: 720px;
	}
	
#headerNav ul {
	padding: 0px;
	margin: 13px 0px 0px;
	display: block;
	list-style: none;
	font-size: 13px;
	font-weight: normal;
	}

ul#userInfo  {
	width: 250px;
	list-style: none;
	display: block;
	float: right;
	text-align: right;
	}
	
#userInfo li {
	float: left;
	list-style: none;
	margin: 3px 5px 0px;
	padding: 0px;
	line-height: 1.5em;
	display: block;
	}
	
#userInfo li span {
	font-weight: bold;
	}
	
#userInfo a {
	text-decoration: underline;
	color: #272727;
	overflow: hidden;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.5em;
	}
	
#userInfo a:hover,
#userInfo li.selected a {
	text-decoration: none;
	}
	

/*-----------(FORTUNE NAV)-------------- */	
	
ul#fortuneNav {
	width: 400px;
	list-style: none;
	display: block;
	float: left;
	margin 0;
	}
	
#fortuneNav li {
	float: left;
	list-style: none;
	margin: 0px 5px;
	padding: 0px;
	line-height: 1.5em;
	display: block;
	}
	
#fortuneNav li span {
	font-weight: bold;
	}
	
#fortuneNav a {
	display: block;
	text-decoration: none;
	color: #272727;
	overflow: hidden;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.5em;
	padding: 5px;
	}
	
#fortuneNav a:hover,
#fortuneNav li.selected a {
	text-decoration: underline;
	}
	
#fortuneNav li.selected a {
	font-weight: bold;
	}
	
/*-----------(PAGE LIST)-------------- */	

.colWidth {
	width: 400px;
	display: block;
	}	

#pageList {
	text-align: right;
	font-size: 10px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	}

#pageList ul {
	text-align: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

#pageList li {
	display: inline;
	margin-right: 2px;
	margin-left: 2px;
	}

#pageList a:link, #pageList a:visited {
	text-decoration: none;
	}

#pageList a:hover {
	text-decoration: underline;
	}

.currentPage a {
	color: #000000;
	}

	
/*-----------(HEADER BOTTOM / SEARCH AREA)-------------- */	
	
#headerBottom {
	padding: 0;
	height: 45px;
	float: right;
	display: inline;
	background: url("../images/search_background.png") repeat-x;
	border-left: 1px solid #383838;
	position: relative;
	margin: 0px 40px 0px 0px;
	width: 720px;
	}
	
.wide #mainContent, .wide #mainContent {
	width: 920px;
	}
	
.wide #headerBottom{
	width: 919px;
	}
	
#headline {
	float: left;
	width: 700px;
	}

#headline h1, #headline h2 {
	font-weight: normal;
	color: #ffffff;
	float: left;
	width: auto;
	font-size: 24px;
	}

#headline h1 {
	margin: 0px;
	padding: 12px 0px 12px 19px;
	}

#headline h2 {
	margin: 0px;
	padding: 12px 0px 12px 6px;
	font-size: 24px;
	}

#searchArea {
	width: 250px;
	display: block;
	margin: 0px;
	padding: 15px 0px 0px;
	list-style: none;
	float: right;
	background: url("../images/search_endCapR.png") no-repeat right top;
	height: 30px;
	position: relative;
	z-index: 10;
	}
	
#searchArea label {
	margin: 0px 5px 0px 0px;
	padding: 2px 0px 0px;
	width: 50px;
	height: 20px;
	text-align: right;
	float: left;
	color: #FFFFFF;
	}
	
#searchArea input {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 150px;
	height: 15px;
	float: left;
	}
	
#searchArea form {
	margin: 0px;
	padding: 0px;
	}

#searchArea .searchBTN {
	margin: 0;
	padding: 2px 0px 0px;
	width: 14px;
	height: 15px;
	float: left;
	display: inline;
	}
	

/*-----------(SITE NAVIGATION)-------------- */	

/* SEE NAVIGATION.CSS FOR NAV AND SUBNAV TEXT STYLE */

/*-----------(MAIN CONTENT COLUNM)-------------- */	

#pageBody {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	float: left;
	background: url("../images/pageBody_background.png") no-repeat 190px 0px;
	}

#mainContent {
	padding: 0px 0px 19px;
	display: inline;
	margin: 0px 0px 0px 9px;
	position: relative;
	width: 720px;
	float: left;
	}
	
#mainContent h1, #mainContent h2 {
	font-weight: normal;
	color: #333333;
	float: left;
	width: auto;
	}

#mainContent h1 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}

#mainContent h2 {
	margin: 5px 0 0 15px;
	padding: 0;
	}
	
#content  {
	position: relative;
	clear: both;
	}

#content p {
	padding: 10px 0 10px 10px;
 	margin: 0;
 	line-height: 1.4;
	}
	
	
/*-----------(COLUMN STRUCTURE)-------------- */	


.twoCol .column {
	width: 47%;
	}

.column {
	float: left;
	width: auto;
	padding: 0;
	margin: 0;
	padding: 9px;
	}

.colWidth {
	width: 342px;
	}
	
.column h3 {
	padding: 9px;
	text-align: center;
	color: #272727;
	}
	
.last {
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	float: right;
	}
	
.first {
	float: left;
	border-width: 0px;
	border-style: none;
	display: block;
	}
	
.wide #mainContent {
	float: left;
	width: 920px;
	}
	
.wide .column {
	width: 190px;
	float: right;
	}
	
.wide #content {
	width: 700px;
	float: left;
	background: #FFFFFF;
	}
	

/*
* CONTENT SPECIFIC STYLES
* ---------------------------------------------------- */	


/*-----------(BROWSE STYLES)-------------- */	

ul#browse {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-right: 1px solid #b1b1b1;
	border-top: 1px solid #b1b1b1;
	float: right;
	width: 100%;
	}
	
ul#browse li {
	float: left;
	display: block;
	width: 89px;
	height: 89px;
	overflow: hidden;
	border-left: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	background-color: #EEEEEE;
	}
	
ul#browse li a {
	display: block;
	width: 89px;
	height: 86px;
	position: absolute;
	color: #272727;
	text-align: center;
	word-wrap: break-word;
	text-indent: -5000px;
	cursor: pointer;
	font-weight: normal;
	padding: 3px 0px 0px;
	margin: 0px;
	}
	
ul#browse li a:hover {
	text-indent: 0px;
	background: #AB8B2B;
	}
	
ul#browse li a span {
	display: block;
	padding: 0;
	margin: 0;
	font-weight: bold;
	}

#related {
	float: right;
	width: 182px;
	display: inline;
	margin-right: 21px;
	}

#related h3 {
	margin-top: 42px;
	margin-bottom: 8px;
	text-align: center;
	}

.browseWidth {
	width: 720px;
	}

#related ul#browse {
	width: 180px;
	padding: 0px;
	margin: 0px;
	}
	
.browseAleign {
	margin-top: 20px;
	padding-left: 35px;
}

.leftPush {
	padding-left: 80px;
}
	
/*-----------(FEATURE COLUMN STYLES)-------------- */	
#mainContent #content h1, #mainContent #content h2 {
	float: none;
	}
	
#mainContent #content h2 {
	margin-bottom: 10px;
	margin-left: 0px;
	}

.flashArea {
	height: 269px;
	width: 720px;
	}
	
.flashArea2 {
	height: 315px;
	width: 718px;
	}
	
.flashArea3 {
	height: 180px;
	width: 720px;
	}
	
.flashArea4 {
	height: 180px;
	width: 410px;
	}	

.featColWrapper {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 0px 0px 0px 32px;
	width: 686px;
	height: 350px;
	float: left;
	}
	
.featFlshWrapper {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 1px 0px 0px;
	width: 718px;
	height: 350px;
	float: left;
	}	

.featureCol {
	float: left;
	display: inline;
	width: 202px;
	background: #FFFFFF url("../images/featureCol_Background.gif") repeat-y;
	margin: 25px 22px 0px 0px;
	padding: 0px;
	}
	
.featureCol2 {
	float: left;
	display: inline;
	width: 428px;
	background: #FFFFFF url("../images/featureCol_Bckgrnd_2wide.gif") repeat-y;
	margin: 25px 22px 0px 0px;
	padding: 0px;
	}
	
	
.head1, .head2, .head3, .head4 {
	height: 68px;
	color: #FFFFFF;
	padding-top: 13px;
	padding-left: 10px;
	width: 192px;
	font-size: 20px;
	}
	
.head1 {
	background: url("../images/featureCol_headBuy.jpg") no-repeat;
	}
	
.head2 {
	background: url("../images/featureCol_headDesign.jpg") no-repeat;
	}
	
.head3 {
	background: url("../images/featureCol_headStore.jpg") no-repeat;
	}
	
.head4 {
	background: url("../images/featureCol_head.jpg") no-repeat;
	}
	
.head1 span, .head2 span, .head3 span, .head4 span {
	display: none;	
	}

.featureContent {
	height: 167px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	}
	
.featureCol2 .setHeight, .featureCol .setHeight {
	height: 257px;
	}
	
.featureCol a:link, .featureCol a:visited {
	color: #272727;
	text-decoration: none;
	line-height: 1.5em;
	}
	
.featureCol a:hover {
	text-decoration: underline;
	}
	
.featureContent p {
	text-align: left;
	}

.featureCol ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	}

.featureCol  li {
	margin-top: 5px;
	padding: 2px;
	width: 178px;
	display: block;
	float: left;
	text-align: left;
	}

.endRule {
	margin: 0px;
	padding: 0px;
	width: 1px;
	float: left;
	}

#mainContent #content .featureCol p {
	padding: 0px;
	position: relative;
	line-height: 17px;
	margin: 0px 0px 10px 5px;
	}

.buyCredits {
	background-color: #FFFF00;
	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	width: 75px;
	font-size: 10px;
	text-align: center;
	clear: both;
	}

.buyCredits a:link, .buyCredits a:visited, .buyCredits a:hover {
	font-weight: normal;
	color: #000000;
	}

.shoppingLinks li img {
	float: left;
	margin-right: 5px;
	}

.flashWidth {
	width: 360px;
	}

/*-----------(INVENTORY LIST STYLES)-------------- */

#sortItems {
	float: right;
	padding-top: 7px;
	}

#sortItems form {
	margin: 0px;
	padding: 0px;
	}

#inventoryBTN {
	clear: both;
	padding-top: 10px;
	}

#inventoryBTN ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}

#inventoryBTN li {
	display: inline;
	width: 230px;
	margin-right: 10px;
	}

#inventoryBTN a:link, #inventoryBTN a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background: url("../images/btn_purchase.jpg") no-repeat;
	text-align: center;
	height: 16px;
	width: 144px;
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	padding: 7px 0px;
	}

#inventoryBTN a:hover {
	text-decoration: none;
	background: url("../images/btn_purchase-over.jpg") no-repeat;
	}

#sortItems .inventoryBtn a:link, #sortItems .inventoryBtn a:visited {}
#sortItems .inventoryBtn a:hover {}

#inventoryList {
	height: 350px;
	width: 700px;
	float: left;
	overflow: auto;
	display: block;
	}

#inventoryList form {
	margin: 0px;
	padding: 0px;
	}

#inventoryList ul {
	list-style: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 680px;
	display: block;
	}

#inventoryList ul li {
	text-align: left;
	padding: 0px;
	margin: 8px 0px 0px;
	list-style: none;
	float: left;
	width: 680px;
	display: block;
	}

#inventoryList ul ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 680px;
	}

#inventoryList ul ul li {
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	height: 25px;
	display: block;
	line-height: 1.7;
	}

#inventoryList ul ul li img {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	}

#inventoryList .highlightRow {
	background: #CCCCCC;
	height: 25px;
	}

#inventoryList .checkItem {
	width: 30px;
	text-align: center;
	background-color: #FFFFFF;
	}

#inventoryList .itemImage {
	width: 30px;
	background-color: #FFFFFF;
	}

#inventoryList .itemName {
	font-weight: bold;
	width: 125px;
	padding-left: 8px;
	}

#inventoryList .itemPrice {
	width: 90px;
	text-align: right;
	}

#inventoryList .itemsSold {
	width: 90px;
	text-align: right;
	}

#inventoryList .itemSales {
	width: 85px;
	text-align: right;
	}
	
#inventoryList .crEarned {
	width: 95px;
	text-align: right;
	}

#inventoryList .itemLink {
	width: 58px;
	text-align: center;
	}
	
	
/*-----------(MY SALES STYLES)-------------- */

#soldList {
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	}

#soldList ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 8px;
	}

#soldList li {
	display: inline;
	}

.soldMargin {
	margin-right: 8px;
	}

.listColumn {
	}

.listColumn .flashArea {
	width: 410px;
	}

.favoriteItems {
	width: 270px;
	}
	
.lrgButton {
	text-align: center;
	font-size: 14px;
	color: #000000;
	line-height: 5em;
	height: 72px;
	width: 270px;
	}
	
.lrgButton a:link, .lrgButton a:visited {
	width: 270px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background: url("../images/btn_addLarge.jpg") no-repeat;
	font-size: 18px;
	height: 72px;
	}

.lrgButton a:hover {
	text-decoration: underline;
	background: url("../images/btn_addLarge-over.jpg") no-repeat;
	}

#salesList {
	height: 350px;
	width: 410px;
	float: left;
	display: block;
	font-size: 11px;
	overflow: auto;
	}
	
#salesList h3 {
	text-align: left;
	margin: 5px 0px;
	padding: 0px;
	font-weight: bold;	
	}

#salesList form {
	margin: 0px;
	padding: 0px;
	}

#salesList ul {
	list-style: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 390px;
	display: block;
	}

#salesList ul li {
	text-align: left;
	padding: 0px;
	margin: 8px 0px 0px;
	list-style: none;
	float: left;
	width: 390px;
	display: block;
	}

#salesList ul ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 390px;
	}

#salesList ul ul li {
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	display: block;
	line-height: 1.5em;
	}
	
#salesList .highlightRow {
	background: #CCCCCC;
	}
	
#salesList .itemName {
	font-weight: bold;
	width: 125px;
	padding-left: 8px;
	}

#salesList .itemsSold {
	width: 85px;
	text-align: right;
	}

#salesList .itemSales {
	width: 85px;
	text-align: right;
	}

#salesList .itemWklySales {
	width: 85px;
	text-align: center;
	}
	
	
/*-----------(ITEM DESCRIPTION STYLES)-------------- */	

#mainContent #content #itemDescription {
	width: 350px;
	float: left;
	}
	
#itemDescription h2 {
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	margin-top: 18px;
	}

#itemDescription .itemImage {
	}

#itemDescription h3 {
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	}
	
#itemDescription ul {
	margin: 5px 0px 0px;
	padding: 0px;
	list-style: none;
	float: left;
	}
	
#itemDescription li {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	float: left;
	width: 95px;
	padding-left: 20px;
	}

#itemDescription li.checkMark {
	background: url("../images/checkCircle.jpg") no-repeat 2px 0px;
	}
	
a.btn_preview:link, a.btn_preview:visited {
	background: url("../images/btn_preview.jpg") no-repeat 20px 15px;
	height: 30px;
	width: 115px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	line-height: 2em;
	text-decoration: none;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 15px;
	}
	
a.btn_preview:hover {
	background: url("../images/btn_preview-over.jpg") no-repeat 20px 15px;
	}
	
a.btn_purchase:link, a.btn_purchase:visited {
	background: url("../images/btn_purchase.jpg") no-repeat 20px 15px;
	display: block;
	height: 30px;
	width: 144px;
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
	padding-top: 15px;
	}
	
a.btn_purchase:hover {
	background: url("../images/btn_purchase-over.jpg") no-repeat 20px 15px;
	}

/*-----------(ITEM DETAIL STYLES)-------------- */

.col2 {
	width: 322px;
	margin-top: 42px;
	margin-right: 5px;
	float: right;
}

.topTabSelect {
	width: 322px;
	font-size: 14px;
	float: right;
	margin: 0px;
	padding: 0px;
	}

.tabSelect {
	width: 322px;
	font-size: 14px;
	float: right;
	margin: 0px;
	}

.topSpace {
	margin-top: 25px;
	}

.topTabSelect ul, .tabSelect ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 11px;
	}

.topTabSelect li, .tabSelect li {
	float: left;
	}

.centerTop {
	background: url("../images/divider_top.gif") repeat-x;
	height: 26px;
	width: 1px;
	}
	
.centerBtm {
	background: url("../images/divider_btm.gif") repeat-x;
	height: 26px;
	width: 1px;
	}

#itemDetail, #userReview, #addReview {
	width: 322px;
	float: right;
	background: url("../images/itemDetail_background.gif") repeat-y;
	font-size: 12px;
	line-height: 16px;
	overflow: auto;
	height: 330px;
	}

#itemDetail {
	display: block;
	}

#userReview, #addReview {
	display: none;
	}
	
#addReview .addForm {
	padding-right: 10px;
	padding-left: 10px;	
	}

#addReview form {
	margin: 20px 0px 30px;
	padding: 0px;
	}
	
#addReview form h3 {
	margin-left: 0px;
	}
	
#addReview input {
	width: 150px;
	margin-top: 3px;
	}

a.tab_itemDetail {
	color: #FFFFFF;
	background: url("../images/tabL.jpg") no-repeat;
	height: 26px;
	width: 154px;
	display: block;
	line-height: 2em;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	}
	
li.selected a.tab_itemDetail{
	background: url("../images/tabL-selected.jpg") no-repeat;
	}
	
a.tab_itemReview {
	line-height: 2em;
	background: url("../images/tabR.jpg") no-repeat;
	height: 26px;
	width: 167px;
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	text-decoration: none;
	}
	
li.selected a.tab_itemReview {
	background: url("../images/tabR-selected.jpg") no-repeat;
	}

a.btn_addReview {
	color: #FFFFFF;
	background: url("../images/btn_bottomL.jpg") no-repeat;
	height: 27px;
	width: 155px;
	display: block;
	line-height: 2em;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	}
	
a.btn_addReview:hover {
	background: url("../images/btn_bottomL-over.jpg") no-repeat;
	}
	
a.btn_seeReview {
	line-height: 2em;
	background: url("../images/btn_bottomR.jpg") no-repeat;
	height: 27px;
	width: 166px;
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	text-decoration: none;
	}
	
a.btn_seeReview:hover {
	background: url("../images/btn_bottomR-over.jpg") no-repeat;
	}

#itemDetail table {
	border-collapse: collapse;
	width: 295px;
	border-width: 0px;
	border-style: none;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	}

#itemDetail tr {
	margin: 0px;
	padding: 0px;
	}

#itemDetail td {
	width: 48%;
	margin: 0px;
	padding: 0px;
	}

#itemDetail h3, #userReview h3, #addReview h3 {
	margin-top: 20px;
	margin-left: 10px;
	}

#itemDetail p, #userReview p,  #addReview p {
	margin: 0px 10px;
	padding: 5px 0px 30px;
	}

.user {
	line-height: 2.5em;
	width: 200px;
	margin-top: 10px;
	}

.userImg {
	width: 75px;
	margin: 10px 15px 0px 10px;
	padding: 0px;
	}

.sponsorLink {
	margin-top: 10px;
	margin-left: 10px;
	}

#noReview {
	text-align: center;
	display: block;
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.5em;
	border: 1px solid #333333;
	margin-right: 15px;
	margin-left: 15px;
	}

/*-----------(PURCHASE FORM STYLES)-------------- */	
	
.purchase {
	font-size: 12px;
	padding: 9px;
	margin: 0px 5px 0px 0px;
	float: right;
	width: 190px;
	}
	
.purchase table {
	margin: 0px 0px 5px;
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
	}
	
.purchase tr {
	margin: 0px;
	padding: 0px;
	}
	
.purchase td {
	padding: 2px;
	margin: 0px;
	vertical-align: baseline;
	}
	
.purchase td.tdWidth {
	width: 50px;
	text-align: right;
	}
	
.bold {
	font-weight: bold;
	}
	
.divBorder {
	border: 1px solid #000000;
	display: block;
	padding: 5px;
	margin-bottom: 15px;
	}
	
.rule {
	border-bottom: 1px solid #000000;
	}
	
.purchase .button1 a:link, .purchase .button1 a:visited {
	font-size: 14px;
	line-height: 1em;
	color: #000000;
	text-decoration: none;
	width: 100%;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	}
	
.purchase .button1 a:hover {
	text-decoration: underline;
	}

.purchase a.btn_cancel:link, .purchase a.btn_cancel:visited {
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	background: url("../images/btn_purchase.jpg") no-repeat;
	display: block;
	text-align: center;
	height: 30px;
	width: 144px;
	margin-right: auto;
	margin-left: auto;
	}
	
.purchase a.btn_cancel:hover {
	background: url("../images/btn_purchase-over.jpg") no-repeat;
	}
	
.purchase a.btn_buy:link, .purchase a.btn_buy:visited {
	font-size: 12px;
	line-height: 2.25em;
	color: #FFFFFF;
	text-decoration: none;
	background: url("../images/btn_buyCredits.jpg") no-repeat;
	display: block;
	text-align: center;
	height: 28px;
	width: 128px;
	margin-right: auto;
	margin-left: auto;
	}
	
.purchase a.btn_buy:hover {
	background: url("../images/btn_buyCredits-over.jpg") no-repeat;
	}

.aleignButton {
	margin-top: 20px;
	text-align: center;
	}

.purchase h3 {
	font-weight: bold;
	font-size: 18px;
	padding: 9px;
	}

.purchase h4 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	}

.purchase p {
	margin: 0px 0px 12px 9px;
	padding: 0px;
	}


/*-----------(LOGIN FORM STYLES)-------------- */	

#signin {}

#signin form {
	margin: 0px;
	padding: 0px;
	}
	
#signin ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	
#signin li {
	line-height: 1.5em;
	padding-top: 4px;
	padding-bottom: 4px;
	}
	
#signin label {}
#signin input {
	width: 165px;
	}
	
#signin input.btn {
	width: 125px;
	}
	
#signin input.checkBox {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	}
	
/*-----------(ADD FORM STYLES)-------------- */	
	
#content form {
	margin: 0px;
	padding: 0px;
	}

#pgAdd #content .column {
	width: 342px;
	}

.formStyle  {
	margin: 0;
	padding: 15px 0 0;
	}
	
.formStyle div {
	margin: 0;
	padding: 10px 0;
	}

.formStyle fieldset {
	border-width: 0px;
	border-style: none;
	margin: 0px 0px 20px;
	padding: 0px;
	}
	
.formStyle div label {
	margin: 0 10px 0 0;
	padding: 0;
	width: 100px;
	height: 20px;
	text-align: right;
	float: left;
	}
	
.formStyle div input, .formStyle div select {
	margin: 0;
	padding: 0;
	width: 160px;
	height: 20px;
	}
	
.formStyle div input.checkBox {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	}
	
.formStyle div textarea {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 80px;
	}
	
.formStyle div textarea#caption {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 40px;
	}
	
.formStyle div .radioBTN {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	}
	
.formStyle div .formBox {
	margin:0;
	padding:  0 0 10px 0;
	width: 200px;
	height: 20px;
	display: inline;
	}
	
.formStyle div .formBox label {
	margin: 0 0 0 20px;
	padding: 0;
	width: auto;
	height: 20px;
	text-align: right;
	float: none;
	}
	
.formStyle div .formBox span, .formNote {
	display: block;
	clear: both;
	margin: 0px 0px 0px 110px;
	padding: 5px 0px 0px;
	}
	
.formStyle div .formBox img {
	vertical-align: top;
	}
	
.formStyle .BTN a {
	text-align: center;
	width: 200px;
	background-color: orange;
	display: block;
	font-size: 16px;
	padding: 10px;
	color: #FFFFFF;
	border: 1px solid brown;
	}
	
.formStyle .itemPhoto {
	width: 90px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	float: left;
	}

.formStyle .getPhoto {
	text-align: left;
	float: right;
	width: 229px;
	}

.formStyle .getPhoto label {
	margin: 0px;
	padding: 0px;
	}

.formStyle .getPhoto input {
	}

.formStyle .getPhoto input.photoBtn {
	width: 90px;
	margin-right: 10px;
	}

.formBtns {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}

.formBtns input {
	width: 100px;
	}
	
/*-----------(EDIT FORM STYLES)-------------- */	


/*
* DESIGNER.KANEVA.COM STYLES
* ---------------------------------------------------- */	
#mainContent #designContent {
	padding-left: 15px;
}
#mainContent #designContent h2 {
	margin: 20px 0px 0px;
	padding: 0px;
	float: none;
	font-size: 18px;
}
#mainContent #designContent h3 {
	padding: 0px;
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px 0px;
}
#mainContent #designContent p {
	padding: 0px;
	margin: 5px 0px 10px;
}
#mainContent #designContent ul {
	padding: 0px;
	margin: 0px 0px 0px 15px;
}
#mainContent #designContent li {
	padding: 0px;
	margin-top: 4px;
}
.btn_getStarted {
	padding: 0px;
	float: right;
	width: 200px;
	margin-right: 20px;
}
.btn_getStarted a:link, .btn_getStarted a:visited {
	font-size: 30px;
	line-height: 36px;
}
.btn_getStarted a:hover {
	color: #CC0000;
}
#mainContent #designContent table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
#mainContent #designContent tr {
}
#mainContent #designContent th {
	width: 25%;
	font-size: 16px;
	padding: 4px;
	font-weight: normal;
}
#mainContent #designContent td {
	text-align: center;
	padding: 4px;
}


/*-----------(FOOTER)-------------- */	

#footer {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	float: left;
	background-color: #737373;
	border-top: 1px solid #333333;
	}
	
#footerContent {
	clear: both;
	width: 740px;
	margin: 0 auto;
	padding: 20px 0 20px 200px;
	position: relative;
	display: block;
	color: #CCCCCC;
	}
	
#footer li.header {
	font-size: 18px;
	color: #CCCCCC;
	}
	
#footer li.header a {
	font-size: 18px;
	color: #CCCCCC;
	text-decoration: none;
	padding: 0px;
	}
	
#footer ul {
	padding: 0;
	margin: 0 30px 0 0;
	list-style: none;
	float: left;
	}
	
#footer a:link, #footer a:visited {
	text-decoration:underline; 
	font-weight: normal; 
	color: #999999;
	padding: 0px 10px;

	}
#footer a:hover {
	text-decoration:none; font-weight: normal; color: #CCCCCC;
	}
	
#footer p.copyright {
	padding: 30px 0 0 0; float: right; width: 200px; text-align: right;
	}


	
/*-----------(MISC)-------------- */	

.bold {
	font-weight: bold;
	}

.highlight {
	color: #CCCCCC;
	font-weight: bold;
	}

.strike {
	color: #777;
	}
	
.callOut {
	color: #990000;
	}
	
.clearit {
	clear: both;
	}
	
hr {
	display: none;
	}
	
p.sep {
	height: 1px
	border-top: 1px dotted red;
	padding 10px;
	}
	
.floatRight {
	float: right;
	}
	
.floatLeft {
	float: left
	}
	
.inline {
	display: inline;
	}
	
.alignLeft {
	text-align: center;
	}
	
.alignCenter {
	margin: 0 auto;
	}

.note {
	font-size: 11px;
	}

a img {
	border: none;
	}
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
.restrictedSymbol {
	background: url("../images/restricted.gif") no-repeat 20px 0px;
}

/*
* Pop Up Window for Add Item
* ---------------------------------------------------- */

#popUpWin {
	width: 700px;
	background: #FFFFFF;
	text-align: center;
	padding: 40px 0px 10px;
	color: #990000;
	font-size: 14px;
	height: 275px;
	opacity:0.85;
	filter:alpha(opacity=85);
	display: none;
	margin: 0px;
	border: 1px solid #990000;
	position: absolute;
	left: 10px;
	top: 30px;
	}
	
#popUpWin div {
	background: #FFFFFF;
	padding-right: 50px;
	padding-left: 50px;
	opacity:1.0;
	filter:alpha(opacity=100);
	text-align: left;
	}
	
#popUpWin h1 {
	margin: 0px 0px 10px 5px;
	padding: 0px;
}
	
#popUpWin p {
	background: #FFFFFF;
	}

#popUpWin input {
	margin-top: 10px;
	width: 200px;
	}
	
.formBtns2 {
	text-align: center;
	padding-left: 120px;
	}
	
a.btn_submit:link, a.btn_submit:visited {
	background: url("../images/btn_purchase.jpg") no-repeat center 0px;
	height: 30px;
	width: 200px;
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
	display: block;
	float: left;
	padding-right: 20px;
	}
	
a.btn_submit:hover {
	background: url("../images/btn_purchase-over.jpg") no-repeat center 0px;
	}
