/* HEADER */
/* CSS Document: designer.kaneva.com 
 * ---------------------------------------------------- *
 * Update 11/19/08 
 * 
 * Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/* GLOBAL NAV STYLES
*---------------------------------------------------------------------------*/	
.navColumn {
	float: left;
	width: 191px;
}
#navigation, #subNav, #sortNav, #designerNav, #buyBtn  {
	margin: 0px;
	padding: 0px;
	display: block;
	}
	
	
#navigation ul, #subNav ul, #sortNav ul, #designerNav ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
	color: #CCCCCC;
	position: relative;
	display: block;
	}



/* =navigation
*---------------------------------------------------------------------------*/	

#navigation {
	}
	
#navigation li {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted #999999;
	}
#navigation li.last {
	border-bottom: 0px none;
	}

	
#navigation a {
	width: auto;
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	font-size: 18px;
	padding: 5px 0 5px 10px;
	margin: 0;
	line-height: 24px;
	}
	
#navigation a:hover {
	color: #006699;
	}
	

#navigation li.selected a {
	color: #006699;
	}

/* =major catagory nav
*---------------------------------------------------------------------------*/
#nav {
	padding-left: 15px;
}
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav li {
	margin-top: 5px;
	margin-bottom: 5px;
}
#nav a:link, #nav a:visited {
	color: #737373;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}
#nav a:hover {
	color: #000000;
}

/* =subnav
*---------------------------------------------------------------------------*/
#subNav1, #subNav2 {
	font-size: 10px;
	margin: 5px 0px 0px 5px;
	background: url("../images/subNav_btm.gif") no-repeat left bottom;
	padding-bottom: 7px;
	line-height: 12px;
	}
	
#subNav1 ul, #subNav2 ul {
	background: url("../images/subNav_top.gif") no-repeat;
	margin: 0px;
	padding: 7px 0px 0px;
	}

#subNav1 li, #subNav2 li {
	list-style: none;
	color: #333333;
	font-size: 15px;
	border-left: 1px solid #b1b1b1;
	border-top-style: none;
	border-bottom-style: none;
	margin: 0px;
	padding: 0px;
	}
	
	
#subNav1 li a, #subNav2 li a {
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	padding: 4px 0px 4px 15px;
	margin: 0px;
	border-style: none;
	font-size: 10px;
	line-height: 12px;
	}

#subNav1 a:hover, #subNav2 a:hover {
	color: #000000;
	}
	
#subNav1 li.selected a, #subNav2 li.selected a {
	font-weight: bold;
	color: #000000;
	}
		
/* =designer
*---------------------------------------------------------------------------*/

#designerNav h4 {
	margin: 0px 0px 3px 10px;
	padding: 0px;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}	

#designerNav {
	margin: 15px 0px 30px;
	padding-bottom: 7px;
	}
	
#designerNav ul {
	padding-top: 7px;
}
	
#designerNav li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #333333;
	font-size: 13px;
	}
	
#designerNav a {
	width: auto;
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	font-size: 15px;
	padding: 4px 0 4px 15px;
	margin: 0;
	}
	
#designerNav a:hover {
	color: #000000;
	}
	
#designerNav li.selected a {
	color: #000000;
	font-weight: bold;
	background: url("../images/smallTag.gif") no-repeat 0px 5px;
	}
