/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/* GLOBAL NAV STYLES
*---------------------------------------------------------------------------*/	
.navColumn {
	float: left;
	width: 191px;
}
#navigation, #subNav, #sortNav, #designerNav, #buyBtn  {
	width: 191px;
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	clear: both;
	}
	
	
#navigation ul, #subNav ul, #sortNav ul, #designerNav ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
	color: #CCCCCC;
	position: relative;
	display: block;
	float: left;
	}



/* =navigation
*---------------------------------------------------------------------------*/	

#navigation {
	clear: both;
	}
	
#navigation li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted #999999;
	}
#navigation li.last {
	border-bottom: 0px none;
	}

	
#navigation a {
	width: auto;
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	font-size: 18px;
	padding: 5px 0 5px 10px;
	margin: 0;
	line-height: 24px;
	}
	
#navigation a:hover {
	color: #006699;
	}
	

#navigation li.selected a {
	color: #006699;
	}



/* =subnav
*---------------------------------------------------------------------------*/

#subNav h4 {
	margin: 0px 0px 3px 10px;
	padding: 0px;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

#subNav  {
	font-size: 13px;
	margin: 15px 0px 0px;
	background: url("../images/subNav_btm.gif") no-repeat left bottom;
	padding-bottom: 7px;
	}
	
#subNav ul {
	background: url("../images/subNav_top.gif") no-repeat;
	margin: 0px;
	padding: 7px 0px 0px;
	}

#subNav li {
	float: left;
	width: 100%;
	list-style: none;
	color: #333333;
	font-size: 15px;
	border-left: 1px solid #b1b1b1;
	border-top-style: none;
	border-bottom-style: none;
	margin: 0px;
	padding: 0px;
	}
	
/* #subNav li.header {
	padding: 5px 0 5px 0;
	margin: 0;
	color: #333333;
	text-indent: 10px;
	} */
	
#subNav li a {
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	font-size: 15px;
	padding: 4px 0px 4px 15px;
	margin: 0px;
	border-style: none;
	}

#subNav a:hover {
	color: #000000;
	}
	#subNav li.selected a {
	font-weight: bold;
	color: #000000;
	}
	
/* =instruction
*---------------------------------------------------------------------------*/

#navText {
	width: 176px;
	margin: 20px 0px 0px;
	padding: 0px 0px 0px 15px;
	display: block;
	clear: left;
	float: left;
	}
	
#navText div {
	margin-bottom: 30px;
}

#navText h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	line-height: 24px;
}

	
/* =sort
*---------------------------------------------------------------------------*/

#sortNav  {
	margin: 0px;
	width: 182px;
	}
	
#sortNav ul  {
	padding: 3px 0px 5px;
	}
	
#sortNav li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #333333;
	font-size: 15px;
	}
	
#sortNav li.header {
	padding: 5px 0 5px 0;
	margin: 0;
	color: #333333;
	text-indent: 10px;
	}
	
#sortNav li a {
	width: auto;
	display: block;
	text-decoration: none;
	color: #666666;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	padding: 2px 0 2px 20px;
	margin: 0;
	}

#sortNav a:hover {
	color: #000000;
	}
	#sortNav li.selected a {
	font-weight: bold;
	color: #000000;
	}
	
.featureCol #sortNav {
	width: 182px;
}
	

	
/* =designer
*---------------------------------------------------------------------------*/

#designerNav h4 {
	margin: 0px 0px 3px 10px;
	padding: 0px;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}	

#designerNav {
	margin: 15px 0px 30px;
	padding-bottom: 7px;
	}
	
#designerNav ul {
	padding-top: 7px;
}
	
#designerNav li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #333333;
	font-size: 13px;
	}
	

#designerNav a {
	width: auto;
	display: block;
	text-decoration: none;
	color: #737373;
	overflow: hidden;
	font-weight: normal;
	font-size: 15px;
	padding: 4px 0 4px 15px;
	margin: 0;
	}
	
#designerNav a:hover {
	color: #000000;
	}
	
	#designerNav li.selected a {
	color: #000000;
	font-weight: bold;
	background: url("../images/smallTag.gif") no-repeat 0px 5px;
	}
#buyBtn {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
#buyBtn a:link, #buyBtn a:visited {
	color: #FFFFFF;
	background: url("../images/btn_buyCredits.jpg") no-repeat;
	height: 28px;
	width: 128px;
	display: block;
	line-height: 2.25em;
	text-decoration: none;
	font-size: 12px;
}
#buyBtn a:hover {
	background: url("../images/btn_buyCredits-over.jpg") no-repeat;
}
