﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ContestTabs.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.mykaneva.ContestTabs" %>
<%@ Register TagPrefix="Kaneva" TagName="TCLoader" Src="~/usercontrols/TabbedControlLoader.ascx" %>


<kaneva:Tcloader id="TclMainPanel" runat="server"></kaneva:Tcloader>
