<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Leaderboard.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.mykaneva.widgets.Leaderboard" %>



<div>
	<div id="divAjaxData"><img id="Img1" class="imgLoading" runat="server" src="~/images/ajax-loader.gif" height="24" width="24" alt="Loading..." border="0"/><div class="loadingText">Loading...</div></div> 
 
	<div class="modulePaging">
		<div id="divAjaxPager"><!-- pager --></div>  
	</div>
       
</div>
