<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WidgetLoader.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.mykaneva.widgets.WidgetLoader" %>

    <asp:Label runat="server" id="Messages" visible="false"></asp:Label>
    <asp:PlaceHolder runat="server" id="widgetShell"></asp:PlaceHolder>

