/* HEADER */
/* CSS Document: Sign-In error Page 01-26-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(../base/nav.css);
@import url(../base/old_footer.css);

/* SHARED ASSETS
*---------------------------------------------------------------------------*/
h1 {
	font-size: 19px;
	line-height: 24px;
	color: #333;
	font-weight:normal;
	text-decoration: none;
	margin:14px 0 30px 16px;
	text-align:left; 
}
h2 {
	font-size: 12px;
	font-weight: bold;
	color: #535353;
	margin: 0px 0px 10px;
	padding: 0px;
}
p {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #28505f;
	margin: 0px 0px 20px;
	padding: 0px;
}
.pageBody {padding-top:0;}
.content {
	background:#fff;
	width:744px;
	height:auto;
	padding:0 0 40px 0;
	margin:auto;
	margin-top:0;
	margin-bottom:250px;
	border:1px solid #ccc;
	border-top:none;
}

.signinForm {float:left;width:400px;border:0px solid black;}
.signupForm {float:right;width:290px;border:0px solid blue;}

.signinForm div {
    padding:0; 
    line-height:24px;
    margin:4px 0;
    clear:left;
    float:left;
}
.signinForm label {
    color:#333; 
    font-size:11px; 
    font-weight:normal; 
    float:left; 
    margin-right:10px; 
    display:block; 
    width:68px; 
    text-align:right;
    padding-top:2px;
}
.signinForm input {
    float:left;
    color:#333; 
    font-size:11px;
    line-height:24px;
    height:24px;
    border:1px solid #ccc;
    width:296px; 
    padding-left:5px;
    background-color:#F4F4F4;
    font-weight:normal;        
}
.signinForm input:focus {
    border:1px solid #0d4764;
    background-color:#fff;
    font-weight:normal;
}

.signinForm div.lostpw {margin:10px 0 0 0;padding:0;float:right;line-height:12px;margin-right:16px;}
.signinForm div.lostpw a {font-size:11px;}

.signinForm div.login {margin:6px 0 10px 78px;}
.signinForm div.login label {width:100px;text-align:left;line-height:24px;color:#999;margin-left:5px;}
.signinForm input[type=checkbox] {vertical-align:middle;width:auto;border:none;background:transparent;padding-left:0;}

a.btnsmall {clear:both;margin:0;margin-left:78px;}

.signupForm h1.title {margin-left:0;}
.signupForm p {margin-bottom:15px;}


/* Facebook Signup */
div.fbSignin {
    font-size:12px;
    color:#666;
    text-align:left;
    border-top:1px solid #ccc;
    margin-top:26px;
    padding:24px 0 0 75px;
    width:330px;
}
div.fbSignin img { cursor:pointer; }
div.fbSignin p {
    margin:0 0 14px 0;
    padding:0;
    color:#333;
    width:240px;
}

/* Errors */
.errBox {
    width:714px;
    border-style:none;
    padding:14px;
    font-size:11px;
    line-height:11px;
    color:#333333;
    margin:0 0 0 1px;
}
.signinForm a.error, .signinForm input.error{border:1px solid #ee2d2a;font-weight:normal;}
.signinForm input.error:focus {
    border:1px solid #ee2d2a;
    background-color:#fff;
    font-weight:normal;
}
.signinForm label.error { color:#ee2d2a; }
