/* HEADER */
﻿@charset "UTF-8";
/* CSS Document */

@import url(../base/base_new.css);
@import url(../base/buttons.css);
@import url(../userprofile.css);
@import url(../leftnav.css);

#wrapper {border:1px solid #ccc;border-top:none;background:url(../../images/backgrounds/graphic_1004x1_backgroundMsgCenter_leftGradient.gif) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
.PageContainer {width:1004px;margin:0 auto;height:auto !important;height:100%;background-color:white;clear:both;}
#leftRail {width:185px;margin:10px 0;padding:0;float:left;}
#rightRail {width:776px;margin:14px 15px 7px 10px;float:right;}

.framesize-medium .imgconstrain {width:100px;height:75px;overflow:hidden;border:solid 1px #e0e0e0;}

.pageHeader {width:100%;border-bottom:solid 1px #ebebeb;height:30px;}
.pageHeader h2.pageTitle {float:left;color:#333;font-size:20px;padding:0 0 8px 0;}
.pageHeader .back {float:right;margin-bottom:5px;}
.msgRow {width:100%;padding:10px 0 10px 3px;border-bottom:solid 1px #ebebeb;font-size:14px;font-weight:bold;color:#fe0002;text-align:left;}
.noResults {width:100%;padding:12px 0 18px 3px;border-bottom:solid 1px #ebebeb;height:30px;font-size:14px;font-weight:bold;text-align:left;}
.noResults .noResultMsg {color:#fe0002;}
.noResults .noResultCallout {margin-top:18px;}
.noResults a:link, .noResults a:hover, .noResults a:visited, .noResults a.active {font-size:14px;font-weight:bold;}
.buttonRow {width:100%;padding:3px 0 5px 0;clear:both;height:30px;}
.buttonRow div {float:left;margin-left:6px;}
.buttonRow .text {font-size:11px;font-weight:normal;padding-top:10px;color:#333;}
.btnRowBack {margin:10px 0 30px 0;}
.button {margin:2px 0 0 0;float:left;}
.button a, .button a span {
	background:transparent url('../../images/base/btn_grey_medium_blank.gif') no-repeat scroll left 0;
	margin:0 16px 0 0;		/* 15px == amount of background image to the right */
	padding:6px 0 0 16px;	/* 15px == amount of background image to the left */
	display:-moz-inline-box;/* Firefox 2 support for inline-block */
	display:inline-block;	/* Must be used so that height can be set */
	height:26px;			/* Same as height of background image */
	font:12px Verdana, Arial; /* Appropriate font size / line height */
	color:black;text-decoration:none;font-weight:normal;cursor:hand;}
.button a {background-position:right 0;margin:0;padding:0;}
.button a:hover {text-decoration:none;}
 a.buttonLarge {color:black;text-decoration:none;font-weight:normal;cursor:hand;}        
.disabled a, .disabled a span {cursor:default;color:#999;}
.header {background-color:#ebebeb;color:#333;font-size:11px;font-weight:bold;margin:0;padding:2px 0;width:100%;overflow:hidden;text-align:left;}
.header .select, .header .select a {font-size:10px;}
.backLink {width:510px;margin-top:7px;text-align:right;}
.note {font-size:10px;color:#999;width:100%;text-align:left;}

/* -------------Messages------------- */
.messages {}
.messages .header .select {float:left;width:68px;text-align:center;}
.messages .header .profile {float:left;width:185px;padding:6px 0 0 4px;}
.messages .header .subject {float:left;width:340px;padding:6px 0 0 0;}
.messages .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:36px;padding:2px 0;}
.messages .row .chkBox {float:left;width:18px;padding-top:6px;}
.messages .row .thumb {float:left;width:46px;}
.messages .row .framesize-xsmall {width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #ccc;}
.messages .row .framesize-xsmall .imgconstrain {width:30px;height:30px;overflow:hidden;}
.messages .row .profile {float:left;width:180px;text-align:left;padding:4px 0 0 4px;}
.messages .row .profile div {color:#999;font-size:10px;}
.messages .row .profile a {font-size:12px;}
.messages .row .subject {float:left;width:510px;padding:9px 0 0 4px;text-align:left;}
.messages .row .subject a {font-size:13px;}
.messages .unread {background-color:#f5f5f5;}
.messages .unread a {font-weight:bold;}

/* -------------Message Details------------- */
.msgDetails {}
.msgDetails .msgHeader {width:100%;height:70px;text-align:left;font-size:12px;padding:6px 0 0 8px;background-color:#f5f5f5;}
.msgDetails .thumb {float:left;width:85px;text-align:center;}
.msgDetails .framesize-square {width:50px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #ccc;}
.msgDetails .framesize-square .imgconstrain {width:50px;height:50px;overflow:hidden;}
.msgDetails .data {float:left;padding-top:3px;width:670px;}
.msgDetails .from, .msgDetails .date, .msgDetails .subject {clear:both;height:18px;}
.msgDetails .from div {float:left;}
.msgDetails .date div {float:left;}
.msgDetails .subject div {float:left;overflow:hidden;width:594px;}
.msgDetails div.label {width:70px;font-weight:bold;}
.msgDetails .msgBody {width:758px;;font-size:12px;font-weight:normal;padding:10px 10px 16px 10px;text-align:left;height:320px;overflow:auto;clear:both;}
.msgDetails .msgBody .bold {font-weight:bold;}
.msgDetails .bottom {border-top:solid 2px #ebebeb;}
.msgDetails .report {float:left;margin-top:8px;}
.msgDetails .report a {margin-left:14px;font-size:11px;}
.buttonRow div.btnBack {margin:2px 0 0 0;float:right;}
.btnBack a, .btnBack a span {background:transparent url('../../images/base/btn_grey_large_blank.gif') no-repeat scroll left 0;
	margin:0 12px 0 0;padding:6px 0 0 12px;display:-moz-inline-box;display:inline-block;height:26px;font:12px Verdana, Arial;color:black;text-decoration:none;font-weight:normal;cursor:hand;}
.btnBack a {background-position:right 0;margin:0;padding:0;}
.btnBack a:hover {text-decoration:none;}

.msgDetails .msgBody .eventmsg a.btnxsmall, .msgDetails .msgBody .eventmsg a.btnsmall {font-weight:normal;float:left;margin-bottom:30px;}
.msgDetails .msgBody .eventmsg a.btnmedium {float:left;margin-bottom:30px;}
.msgDetails .msgBody .eventmsg a.decline {float:left;margin:7px 0 0 40px;}
.msgDetails .msgBody .eventmsg p {clear:both;}

/* -------------Message Editor------------- */
.msgEditor {}
.msgEditor .msgHeader {width:770px;height:76px;text-align:left;font-size:12px;padding:0;background-color:#f5f5f5;}
.msgEditor .data {float:left;margin:8px 0 4px 0;}
.msgEditor .to, .msgEditor .date, .msgEditor .subject {clear:both;height:18px;margin-left:10px;}
.msgEditor .subject, .msgEditor .to {margin-left:15px;height:24px;}
.msgEditor .label {width:70px;font-weight:bold;}
.msgEditor .subject .label, .msgEditor .to .label {padding-top:3px;}
.msgEditor .to div {float:left;height:18px;}
.msgEditor .to .label {padding-left:0px;}
.msgEditor .to a {margin-left:5px;height:18px;padding-top:3px;}
.msgEditor .to input {border:solid 1px black;width:668px;height:20px;padding:1px 0 0 4px;}
.msgEditor .date div {float:left;margin-left:5px;}
.msgEditor .subject {width:700px;}
.msgEditor .subject div {float:left;}
.msgEditor .subject input {width:600px;height:14px;padding:1px 0 0 4px;}
.msgEditor .bottom {border-top:2px solid #ebebeb;margin-top:8px;text-align:left;}
.msgEditor .editor {width:768px;border:solid 1px #ddd;}
.msgEditor .CuteEditorGroupMenu {display:inline-block;}

/* -------------Friend Requests------------- */
.friendRequests {}
.friendRequests .header .select {float:left;width:68px;text-align:center;}
.friendRequests .header .profile {float:left;width:220px;padding:6px 0 0 4px;}
.friendRequests .header .age {float:left;width:60px;text-align:center;padding-top:6px;}
.friendRequests .header .gender {float:left;width:80px;text-align:center;padding-top:6px;}
.friendRequests .header .location {float:left;width:200px;padding-top:6px;}
.friendRequests .header .action {float:left;width:130px;padding:6px 0 0 4px;}
.friendRequests .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:40px;padding:6px 0 4px 0;}
.friendRequests .row .chkBox {float:left;width:18px;padding-top:12px;}
.friendRequests .row .thumb {float:left;width:46px;margin-top:2px;}
.friendRequests .row .profile {float:left;width:222px;text-align:left;padding:0 0 0 4px;}
.friendRequests .row .profile div {color:#999;font-size:10px;}
.friendRequests .row .profile a {font-size:11px;}
.friendRequests .row .profile p {font-size:11px;padding-top:2px;}
.friendRequests .row .age {float:left;width:60px;padding-top:10px;}
.friendRequests .row .gender {float:left;width:82px;padding-top:10px;}
.friendRequests .row .location {float:left;width:200px;text-align:left;padding-top:10px;}
.friendRequests .row .action {float:left;width:140px;padding:0;margin-top:2px;}
.friendRequests .row .action .ignore {font-size:10px;margin-top:7px;padding:0;}
.friendsAddedContainer {border-bottom:1px solid #ebebeb;}
.friendsNew {font-size:11px;margin-top:20px;}
.friendsNew a, .friendsNew a:hover, .friendsNew a:visited {font-size:11px;}
.friendsNew div {text-align:center;}
.friendsNew .wrapper {margin:0 8px;margin-bottom:20px;}
.friendsNew .framesize-medium {margin-bottom:6px;}
.friendsAddedCount {font-weight:bold;font-size:14px;color:#fe0002;padding:16px 0 10px 6px;width:100%;text-align:left;}

/* -------------Friend Requests Sent------------- */
.friendRequestsSent {}
.friendRequestsSent .header .select {float:left;width:68px;text-align:center;font-size:10px;}
.friendRequestsSent .header .profile {float:left;width:220px;padding:6px 0 0 4px;}
.friendRequestsSent .header .date {float:left;width:180px;text-align:center;padding-top:6px;}
.friendRequestsSent .header .blank {float:left;width:24px;border:solid 1px #ebebeb;}
.friendRequestsSent .header .status {float:left;width:130px;text-align:left;padding:6px 0 0 2px;}
.friendRequestsSent .header .action {float:left;width:140px;padding:6px 0 0 4px;text-align:left;}
.friendRequestsSent .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:36px;padding:2px 0;}
.friendRequestsSent .row .chkBox {float:left;width:18px;padding-top:6px;}
.friendRequestsSent .row .thumb {float:left;width:42px;border:solid 1px #fff;}
.friendRequestsSent .row .profile {float:left;width:230px;text-align:left;padding:4px 0 0 4px;}
.friendRequestsSent .row .profile div {color:#999;font-size:10px;}
.friendRequestsSent .row .profile a {font-size:12px;}
.friendRequestsSent .row .date {float:left;width:180px;padding-top:10px;}
.friendRequestsSent .row .blank {float:left;width:20px;border:solid 1px #fff;}
.friendRequestsSent .row .status {float:left;width:130px;padding-top:10px;text-align:left;}
.friendRequestsSent .row .action {float:left;width:144px;padding:0;margin-top:2px;text-align:left;}
.friendRequestsSent .row .action .remove {font-size:10px;margin-top:7px;padding:0;text-align:right;}

/* ------------Community Requests------------- */
.communityRequests {}
.communityRequests .header .select {float:left;width:68px;text-align:center;}
.communityRequests .header .profile {float:left;width:150px;padding:6px 0 0 4px;}
.communityRequests .header .community {float:left;width:186px;padding:6px 0 0 0;}
.communityRequests .header .age {float:left;width:46px;text-align:center;padding-top:6px;}
.communityRequests .header .gender {float:left;width:60px;text-align:center;padding-top:6px;}
.communityRequests .header .location {float:left;width:120px;padding-top:6px;}
.communityRequests .header .action {float:left;width:130px;padding:6px 0 0 4px;}
.communityRequests .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:36px;padding:2px 0;}
.communityRequests .row .chkBox {float:left;width:18px;padding-top:6px;}
.communityRequests .row .thumb {float:left;width:46px;}
.communityRequests .row .framesize-xsmall {width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.communityRequests .row .framesize-xsmall .imgconstrain {width:30px;height:30px;overflow:hidden;}
.communityRequests .row .profile {float:left;width:150px;text-align:left;padding:4px 0 0 4px;}
.communityRequests .row .profile div {color:#999;font-size:10px;}
.communityRequests .row .profile a {font-size:12px;}
.communityRequests .row .community {float:left;width:186px;padding-top:10px;text-align:left;padding-left:4px;}
.communityRequests .row .age {float:left;width:46px;padding-top:10px;}
.communityRequests .row .gender {float:left;width:60px;padding-top:10px;}
.communityRequests .row .location {float:left;width:120px;text-align:left;padding-top:10px;}
.communityRequests .row .action {float:left;width:140px;padding:0;margin-top:2px;}
.communityRequests .row .action .ignore {font-size:10px;margin-top:7px;padding:0;}
.membersAddedContainer {border-bottom:1px solid #ebebeb;}
.membersNew {font-size:11px;margin-top:20px;}
.membersNew a, .membersNew a:hover, .membersNew a:visited {font-size:11px;}
.membersNew div {text-align:center;}
.membersNew .wrapper {margin:0 8px;margin-bottom:20px;width:100px;}
.membersNew .framesize-medium {margin-bottom:6px;}
.membersAddedCount {font-weight:bold;font-size:14px;color:#fe0002;padding:16px 0 10px 6px;width:100%;text-align:left;}

/* ------------Community Invites------------- */
.communityInvites .header .select {float:left;width:68px;text-align:center;}
.communityInvites .header .profile {float:left;width:210px;padding:6px 0 0 4px;}
.communityInvites .header .community {float:left;width:340px;padding:6px 0 0 0;}
.communityInvites .header .action {float:left;width:140px;padding:6px 0 0 4px;}
.communityInvites .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:36px;padding:2px 0;}
.communityInvites .row .chkBox {float:left;width:18px;padding-top:6px;}
.communityInvites .row .thumb {float:left;width:46px;}
.communityInvites .row .framesize-xsmall {width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.communityInvites .row .framesize-xsmall .imgconstrain {width:30px;height:30px;overflow:hidden;}
.communityInvites .row .profile {float:left;width:210px;text-align:left;padding:4px 0 0 4px;}
.communityInvites .row .profile div {color:#999;font-size:10px;}
.communityInvites .row .profile a {font-size:12px;}
.communityInvites .row .community {float:left;width:340px;padding-top:10px;text-align:left;padding-left:4px;}
.communityInvites .row .action {float:left;width:140px;padding:0;margin-top:2px;}
.communityInvites .row .action .ignore {font-size:10px;margin-top:7px;padding:0;}

/* ------------3D App Requests------------- */
.appRequests .header {height:24px;}
.appRequests .header .profile {float:left;width:250px;padding:6px 0 0 0;text-align:center;}
.appRequests .header .msg {float:left;width:340px;padding-top:6px;}
.appRequests .header .action {display:none;float:left;width:230px;padding:6px 0 0 0;text-align:center;}
.appRequests .row {width:750px;clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;height:46px;padding:4px 0 10px 0;display:table; }
.appRequests .row .thumb {float:left;width:46px;margin-top:5px;}
.appRequests .row .framesize-square {width:40px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.appRequests .row .framesize-square .imgconstrain {width:40px;height:40px;overflow:hidden;}
.appRequests .row .profile {float:left;width:190px;text-align:left;padding:6px 0 0 4px;}
.appRequests .row .profile div {color:#999;font-size:10px;}
.appRequests .row .profile a {font-size:12px;}
.appRequests .row .msg {float:left;width:500px;text-align:left;padding:6px 0 6px 0;font-size:11px;font-weight:normal;}
.appRequests .row .msg table {width:100%}
.appRequests .row .action {clear:both;float:right;width:520px;padding:0 0 6px 0;margin-top:2px 0 10px 0;height:26px;}
.appRequests .row .action .options {clear:both;font-size:10px;height:20px;margin:6px 0 10px 16px;padding:4px 0 0 0;text-align:left;}
.appRequests .row .action .options a {font-size:10px;}
.appRequests .row .action a {text-align:left;padding-left:0px;outline:none;}
.appRequests .row .action .btnaccept {width:134px;}
.appRequests .row .action .btnaccept a {text-align:center;font-weight:bold;}
.appRequests .row .action .btndelete {width:64px;}
.appRequests .row .action #reqIgnoredMsg {font-size:10px;color:#999;display:none;float:left;margin:10px 0 0 30px;}
.appRequests .row .optionsContainer {display:none;clear:both;padding:0px 0 10px 0;text-align:left;float:right;width:520px;}
.appRequests .row .optionsContainer a:link, .appRequests .row .optionsContainer a:hover,
.appRequests .row .optionsContainer a:visited, .appRequests .row .optionsContainer a:active {color:#ee2d2a;font-size:10px;margin-right:15px;}

/* ------------Activities------------- */
.activities .header {height:24px;margin-top:6px;}
.activities .header .icon {float:left;width:40px;padding:6px 0 0 4px;}
.activities .header .subject {float:left;width:340px;padding:6px 0 0 0;}
.activities .row {clear:both;border-bottom:solid 1px #ebebeb;font-size:12px;padding:2px 0;}
.activities .row .icon {float:left;width:16px;height:16px;margin:7px 0 0 6px;}
.activities .row .subject {float:left;width:560px;height:16px;margin-top:9px;padding:0;text-align:left;}
.activities .row .subject a {font-size:13px;}
.activities .row .date {float:right;width:140px;height:16px;margin-top:9px;padding:0;text-align:left;color:#999;}
.activities .row .details {clear:both;}
.activities .row .details .container {font-size:12px;font-weight:normal;text-align:left;padding:10px 0 0 100px;}
.activities .row .details .container .title {font-size:14px;font-weight:bold;margin-bottom:20px;}
.activities .row .details .container .newtitle span {font-weight:bold;}
.activities .row .details .container .btmmargin {margin-bottom:20px;}
.activities .row .details .container .bonus span {font-weight:bold;}
.activities .row .details .container .clear {clear:both;}
.activities .row .details .container .itemContainer .floatL {float:left;}
.activities .row .details .container .itemContainer .itemImg {border:solid 1px #d4e1e7;overflow:hidden;width:90px;margin:0 8px 10px 0;}
.activities .row .details .container .itemContainer .itemDesc span {font-weight:bold;}
.activities .row .details .container .footnote {padding:20px 0 30px 0;}
.activities .row a.lvluplink {margin-left:30px;outline:none;text-align:right;font-size:11px;float:right;}

.activities .kaneva {margin: 8px 0; padding-left:20px; background-image:url(../../images/mykaneva/notificationKaneva.gif); background-repeat:no-repeat; background-position: top left; }
.activities .friend {margin: 8px 0; padding-left:20px; background-image: url(../../images/mykaneva/friendRequest.gif); background-repeat:no-repeat; background-position: top left; }
.activities .blog {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_blog.gif); background-repeat:no-repeat; background-position: top left; }
.activities .comment {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_comment.gif); background-repeat:no-repeat; background-position: top left; }
.activities .forum {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_forum.gif); background-repeat:no-repeat; background-position: top left; }
.activities .community {margin: 8px 0; padding-left:20px; background-image: url(../../images/mykaneva/communityInvite.gif); background-repeat:no-repeat; background-position: top left; }
.activities .profile {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_profile.gif); background-repeat:no-repeat; background-position: top left; }
.activities .gift {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_gift.gif); background-repeat:no-repeat; background-position: top left; }
.activities .fame {margin: 8px 0; padding-left:20px; background-image: url(../../images/activity_fame.gif); background-repeat:no-repeat; background-position: top left; }
.activities .rave {margin: 8px 0; padding-left:20px; background-image: url(../../images/mykaneva/notificationsRave.gif); background-repeat:no-repeat; background-position: top left; }
.activities .apps3d {margin: 8px 0; padding-left:20px; background-image: url(../../images/mykaneva/notificationsWorlds.jpg); background-repeat:no-repeat; background-position: top left; }



.confirmation {z-index:100000;text-align:left;border:solid 6px #1f4d72;background-color:#fff;width:380px;height:200px;padding:0;margin:0;}
.confirmation .msg {text-align:center;font-size:13px;font-weight:bold;margin:40px 10px 0 20px;width:340px;line-height:1.5em;}
.confirmation .actions {text-align:right;margin:26px 0 0 110px;width:190px;height:30px;padding:0 0px;}
.confirmation .button {margin:0;}
.confirmation .spacer {float:left;width:10px;border:solid 1px #fff;}
.facebox_overlay {position:fixed;top:0px;left:0px;background-color:#000;-moz-opacity:0.6;opacity:0.6;filter: alpha(opacity=60);}
* html .facebox_overlay_ { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* ------------ PAGER ---------*/
.pagerContainer{text-align:right;font-size:11px;font-weight:bold;margin:5px 0;padding-right:6px;}
span.pager {color:#000;margin:0;font-size:11px;}
a.pager, a.pager:hover, a.pager:active, a.pager:visited {color:#3d77c4;margin:0;font-size:11px;}
.results {color:#999;line-height:16px;font-size:10px;}

/*---- IMAGE FRAMES ----*/
/*---- SMALL ----*/
.framesize-xsmall {width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #e0e0e0;}
.framesize-xsmall .imgconstrain {width:30px;height:30px;overflow:hidden;}


/* -- Top Nav -- */
#navCredits a, #navRewards a {font-size:10px;}
#ddmenu div {margin-top:-3px;}


a.btnxsmall, a.btnsmall, a.btnmedium {padding-top:6px;}

