/* HEADER */
/* CSS Document: My 3D Apps 2010-03-10 */

/* PAGE CONTENT
*---------------------------------------------------------------------------*/
@import "../base/buttons.css";

.NoAccessPanel {width:630px;float:right;overflow:hidden;}
.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;padding-top:90px; }
.ContentWrapper {width:970px;height:600px;margin-top:8px;}

.playNowContainer {text-align:left;}
.playNowContainer a.buttonFixed {width:133px;height:26px;display:block;}
.playNowContainer a.buttonFixed:link, .playNowContainer a.buttonFixed:visited {background:url(../../images/playnowsmallUp.png) no-repeat 0px 0px;}
.playNowContainer a.buttonFixed:hover, .playNowContainer a.buttonFixed:active {background:url(../../images/playnowsmallOver.png) no-repeat 0px 0px;}

#contentBody {width:970px;overflow:hidden;background-color:#fff;padding:0;margin:0 0 50px 0;text-align:left;line-height:18px;}
#pageHeader {text-align:left;height:30px;}
.pageTitle {color:#333;font-size:18px;font-weight:bold;float:left;width:450px;padding:2px 4px 8px 8px;}
.downloadBtnContainer {float:right;height:30px;margin:0;width:500px;}
.downloadBtnContainer #sort {float:left;}
.downloadBtnContainer #c3dapp {float:right;width:260px;text-align:right;}
.pagerContainer {width:962px;clear:both;text-align:right;font-weight:bold;font-size:11px;margin-top:8px;padding-right:6px;}

/* Results */
#results {width:100%;}
.desc {width:750px;float:left;margin-left:10px;}
.actions {width:135px;float:left;}

#resultsHeader {font-weight:bold;color:#333;width:100%;height:30px;padding:0;background-color:#ccc;text-align:left;margin-bottom:6px;}
#resultsHeader div {padding:6px 0;}
#resultsHeader .desc {}
#resultsHeader .actions {}

.resultsRow {width:100%;padding:15px 0 12px 0;height:75px;border-bottom:solid 1px #d9e6e9;}
.resultsRow .desc .framesize-small {margin-right:14px;width:75px;height:56px;overflow:hidden;}
.resultsRow .info {font-size:11px;color:#000;float:left;width:636px;margin:2px 0 0 30px;}
.resultsRow .info .name {font-size:14px;font-weight:bold;width:100%;display:inline-block;}
.resultsRow .info .owner {display:none;float:left;width:250px;line-height:12px;margin-top:2px;}
.resultsRow .info .owner span {color:#000;font-weight:bold;}
.resultsRow .info .access {display:none;float:right;width:200px;line-height:12px;}
.resultsRow .info .desc {clear:none;width:450px;font-size:12px;overflow:hidden;margin:10px 0;line-height:13px;}
.resultsRow .info .tags {clear:both;}
.resultsRow .info span {font-weight:bold;}
.resultsRow .info a.gamename {float:left;}
.resultsRow .info a.balance {float:right;width:174px;font-size:10px;text-align:left;display:block;height:12px;padding-left:15px;background:url(../../images/icons/credits.gif) no-repeat 0px 0px;}
.private {width:100%;text-align:center;font-size:11px;color:#999;}
/* End Resutls */




/* CONTENT - adjust the content area for size */
#divContent {height:100%;}

