/* HEADER */
/* CSS Document: :personal info page 01-12-2010 */
/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;}
.hide 
{
	display: none;
} 

div.personalRow 
{
	width:86%;
	height:30px;
}

div.personalCol1
{
	width:20%;
	float:left;
	text-align:right;
}

div.personalCol2
{
	width:30%;
	float:left;
	text-align:left;
}

div.schoolCol1
{
	width:30%;
	float:left;
	text-align:right;
}

div.schoolCol2
{
	width:70%;
	float:left;
	text-align:left;
}

/* begin styling for various div sections */
#editBody
{
	width:920px;
	overflow: hidden;
	background-color:#fff;
	border: none;
	padding:10px 10px 30px 10px;
	margin:0;
	text-align:left;
	line-height:22px;	
}

#messageArea 
{
	width:900px;
	border: none;
	padding: 0px 10px 0px 10px;
}

#pageHeader
{
	width:900px;
	height:34px;
	text-align:left;
	background-color:#ccc;
	border-bottom: none;
	padding: 12px 10px 0px 10px;
}

#pageHeader .btnlarge {padding-top:1px;height:25px;}

#pageHeader .restrictions
{
	float:right; 
	position:relative; 
	top:-24px;
}

#personal
{
	width:900px;
	text-align:left;
	border-bottom: solid 1px #ebebeb;
	padding: 10px 10px 10px 10px;	
}

#education
{
	width:900px;
	text-align:left;
	border-bottom: solid 1px #ebebeb;
	padding: 10px 10px 10px 10px;	
}

#communityURL
{
	width:900px;
	text-align:left;
	border-bottom: solid 1px #ebebeb;
	padding: 10px 10px 10px 10px;	
}

#submitArea
{
	width:900px;
	text-align:left;
	border: none;
	padding: 10px 10px 10px 10px;	
}
/* end styling for div areas */

.spacer
{
	padding-left:10px;
}

/* styles for this implementation */
#myAutoComplete {
    width:15em; /* set width for widget here */
    display:block;
}
   
#lightbox{
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width:500px;
	height:130px;
	margin:-220px 0 0 -250px;
	border:3px solid #000;
	background:#FFFFFF;
	text-align:left;
}
.closeBtn
{
	padding: 2px;
	background-color: #ffffff;
	color: #4272b4;
	border: solid 1px #333333;
	width: 18px;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	margin:0px 0px 0 0;
	float: right;
	cursor: hand;	
}
.titleLB
{
	border-bottom: 1px solid #000000;
	text-align: center;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	background-color: #66dcf8;
	height: 24px;
}   
.data table {text-align:left;margin-left:0;}
a.btnmedium, a.btnxsmall {float:left;padding-top:2px;height:25px;line-height:auto;margin-right:10px;}