/* HEADER */
* html #outerFrame_content 
{
	HEIGHT: 1%;
}

.body { background-color: White; background-image:none; }

A:link {
	TEXT-DECORATION:underline;
}
A:visited {
	TEXT-DECORATION:underline;
}
A:hover
{
	text-decoration:underline;
	background-color:Transparent;
}

.wLeft{
	width:1px;
	background-image:url(../../images/widgets/widget_frame_l_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
}
.wRight{
	width:1px;
	background-image:url(../../images/widgets/widget_frame_r_bg.gif);
	background-repeat:repeat-y;
	background-position:right;
}

.wTop{
	height:1px;
	background-image:url(../../images/widgets/widgets_frame_t_bg.gif);
	background-repeat:repeat-x;
	background-position:top;
}


.wTable{
	padding:5px 5px 5px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	text-align:left;
	font-stretch: narrower;	
}

.wBottom{
	height:1px;
	background-image:url(../../images/widgets/widgets_frame_b_bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}



/*bg*/

.widgetThumb{
	width:94px;
	height:94px;
	background-repeat:no-repeat;
	background-position:center;
	padding-left:6px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

/*margins*/

.widgetMyPhoto{
padding:6px 6px 6px 6px;
}

.widgetPhoto{
padding-top:7px;
padding-left:7px;
padding-right:7px;
}
.tagName{
padding-top:3px;
padding-bottom:3px;
}
.wGrayLine{
    height:1px;
	border-top: 1px solid #d8d8d8;
	background-color: #f7f7fa;	
}

/*text*/

.widgetTitle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:12px;
}

.widgetTextBold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#484848;
	font-size:11px;
	font-weight:none;
	text-decoration:none;
}

.widgetTextBold:link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#484848;
	font-size:11px;
	font-weight:none;
	text-decoration:none;
}

.widgetTextBold:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#484848;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

.widgetTextBold10{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	font-weight:bold;
}


.widgetText9{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:9px;

}

.widgetText9:link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:9px;
	text-decoration: none;

}


.widgetText9:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:9px;
	text-decoration: none;

}

.widgetText9:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:9px;
	text-decoration: none;
}

.widgetText10{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;

}

.widgetText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	
}

/* Used for menu and title */
.widgetLinkBt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	text-align:left;
	font-weight:bold;
	text-decoration:none;
}

.widgetLinkBt a:link {
	text-decoration:none;
}

.widgetPagination:active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}

.widgetPagination:link{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}

.widgetPagination:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}

.widgetPagination:active{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}

.widgetPagination:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:10px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
}


/*separator*/
.separator{
    height:1px;
	border-top: 1px solid #d8d8d8;
	background-color: #f7f7fa;	
}

.innerSeparator{
 width:100%;
 padding-left:0px;
 padding-right:0px;
 height:1px;
 border-top:1px solid #C3C4C6;
 border-bottom:1px solid #F5F6F8;
}

/*outerFrame orginal color:#F5F5F5;*/

.outerFrame{
display:block
}
.outerFrame *{
display:block;
height:1px;
overflow:hidden;
background:#F5F5F5;
font-size:1px;
}
.outerFrame1{
border-right:1px solid #F5F5F5;
padding-right:1px;
margin-right:3px;
border-left:1px solid #F5F5F5;
padding-left:1px;
margin-left:3px;
background:#F5F5F5;
}
.outerFrame2{
border-right:1px solid #F5F5F5;
border-left:1px solid #F5F5F5;
padding:0px 1px;
background:#f6f6f6;
margin:0px 1px;
}
.outerFrame3{
border-right:1px solid #F5F5F5;
border-left:1px solid #F5F5F5;
margin:0px 1px;
}
.outerFrame4{
border-right:1px solid #F5F5F5;
border-left:1px solid #F5F5F5;
}
.outerFrame5{
border-right:1px solid #F5F5F5;
border-left:1px solid #F5F5F5;
}
.outerFrame_content{
padding:0px 5px;
background:#F5F5F5;
} 

/*inner frame style orignal color:#E7E7E9;*/
.innerFrame{
display:block
}
.innerFrame *{
display:block;
height:1px;
overflow:hidden;
background:#E7E7E9;
font-size:1px;
}
.innerFrame1{
border-right:1px solid #E7E7E9;
padding-right:1px;
margin-right:3px;
border-left:1px solid #E7E7E9;
padding-left:1px;
margin-left:3px;
background:#E7E7E9;
}
.innerFrame2{
border-right:1px solid #E7E7E9;
border-left:1px solid #E7E7E9;
padding:0px 1px;
background:#E7E7E9;
margin:0px 1px;
}
.innerFrame3{
border-right:1px solid #E7E7E9;
border-left:1px solid #E7E7E9;
margin:0px 1px;
}
.innerFrame4{
border-right:1px solid #E7E7E9;
border-left:1px solid #E7E7E9;
}
.innerFrame5{
border-right:1px solid #E7E7E9;
border-left:1px solid #E7E7E9;
}
.innerFrame_content{
height:100%;
padding:5px 0px;
background:#E7E7E9;
width:100%;
}

.innerFrameTitle_content{
height:20px;
padding:0px 10px;
background:#E7E7E9;
display:table;
width:100%;
}

/*divs*/

div.float {
  float: left;
   width:172px;
   text-align:center;
   border:0px solid #FF0000;
  }
div.floatStats {
  float: left;
   width:230px;
   text-align:center;
   border:0px solid #FF0000;
  }
  
div.floatMixedMedia {
  float: left;
   width:295px;
   text-align:center;
   border:0px solid #FF0000;
  }    
  
div.float p {
   text-align: center;
   width:100%;
   border:0px solid #FF0000;
   }
   
.tdcs{
padding-left:50px;
}

div.container {
   text-align: center;
   width:100%;
   border:0px solid #FFFF00;
}

#chanContent {
	
}

.widgetTitle 
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000000;
	text-decoration: normal;
}

.blogcontent {
	LINE-HEIGHT: 1.5; TEXT-ALIGN: left
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.innerFrameTitle_content {
	BACKGROUND: #E6E6E6; font-family:Verdana, Arial, Helvetica, sans-serif; color:666666; font-size:13; font-weight:bold;
}
.widgetEdit
{
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.titleText {
	FONT-SIZE: 26px
}
.titleText {
	TEXT-INDENT: 30px
}
.darkBoldVerdana12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #777777; FONT-FAMILY: verdana
}
.modulePreview {
	BORDER-RIGHT: #cccccc 1px solid; Z-INDEX: 100; LEFT: 0px; VISIBILITY: hidden; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.topmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; border-spacing: 0px
}
.menu {
	DISPLAY: block; TEXT-INDENT: 0px
}

.widgetContestSearch
{
	background-image:url(../../images/contests/header_bg.gif);
}

.widgetContestSearchResults
{
	padding:5px; 
}

.widgetContestPicture
{
	height:249;
	width:249;
	/*background:url(../../images/contests/lightbox_top.jpg) no-repeat;*/
}

.widgetContestLive {
background-color: #e4f3e4; 
}

.widgetContestPending {
background-color: #e9c6c0; 
}

#chanPage .contestSongTitle 
{
	font-size:medium;
}

#chanPage .contestUploaded
{
	font-size:medium;
}

#chanPage a.songCloudLargest
{
	font-size:22px;
}

#chanPage a.songCloudLarge
{
	font-size:20px;
}

#chanPage a.songCloudMedium
{
	font-size:18px;
}

#chanPage a.songCloudSmall
{
	font-size:15px;
}

#chanPage a.songCloudSmallest
{
	font-size:12px;
}

.cloudline {
	border-left: 1px solid #CCCCCC;
}

.callout {
	background-color: #d3d3d3;
	border: 1px solid #acacac;
	padding: 10px;
}

#chanPage a:link.widgetEditButton, #chanPage a:hover.widgetEditButton,
#chanPage a:visited.widgetEditButton, #chanPage a:active.widgetEditButton
{
	padding: 2px;
	background-color: #ffffff;
	color: #4272b4;
	border: solid 1px #333333;
	width: 35px;
	text-align: center;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	margin-left: 5px;	
}

#chanPage a:link.widgetRemoveButton, #chanPage a:hover.widgetRemoveButton,
#chanPage a:visited.widgetRemoveButton, #chanPage a:active.widgetRemoveButton
{
	padding: 2px;
	background-color: #ffffff;
	color: #4272b4;
	border: solid 1px #333333;
	width: 18px;
	text-align: center;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	margin-left: 5px;	
}

