/* HEADER */
.whiteTxt {
	FONT-SIZE: 10px; COLOR: #ffffff
}
.Verdana10White {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.verdanaWhte11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.verdanaBlack11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaWhte11 {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.whiteLink {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.whiteLink:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.whiteLink:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.whiteLink:hover {
	TEXT-DECORATION: none
}
.blueLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #016db4; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.blueLink:hover {
	TEXT-DECORATION: underline
}
.darkBlueLink {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #0047be; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.darkBlueLink:hover {
	TEXT-DECORATION: none
}
.darkBlueLinkN {
	FONT-SIZE: 10px; COLOR: #0047be; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.darkBlueLinkN:hover {
	TEXT-DECORATION: underline
}
.greyLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.greyLink:hover {
	TEXT-DECORATION: underline
}
.subNav0 {
	FONT-SIZE: 11px! important; COLOR: #016db4! important; FONT-FAMILY: Verdana! important; TEXT-DECORATION: underline! important
}
.subNav0:hover {
	TEXT-DECORATION: none! important
}
.subNav0_A {
	FONT-WEIGHT: bold! important; FONT-SIZE: 11px! important; COLOR: #016db4! important; FONT-FAMILY: Verdana! important; TEXT-DECORATION: none! important
}
.subNav0_A:hover {
	TEXT-DECORATION: underline! important
}
.aBar {
	FONT-SIZE: 11px; MARGIN-LEFT: 10px; COLOR: #0076b3; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.aBar:hover {
	TEXT-DECORATION: none
}
.blogTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 23px; PADDING-BOTTOM: 0px; COLOR: #444444; PADDING-TOP: 0px; FONT-FAMILY: Arial
}
.addBlog {
	PADDING-RIGHT: 5px; PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../../images/icons/plus.gif) no-repeat 0% 50%; PADDING-BOTTOM: 10px; MARGIN-LEFT: 10px; COLOR: #0047be; LINE-HEIGHT: 30px; PADDING-TOP: 9px; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.addBlog:hover {
	TEXT-DECORATION: none
}
.viewBtn {
	PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FONT-SIZE: 11px; BACKGROUND: url(../../images/icons/view_1.gif) no-repeat 0% 50%; PADDING-BOTTOM: 5px; COLOR: #0047be; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.viewBtn:hover {
	TEXT-DECORATION: none
}
.onlineStatus {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-SIZE: 10px; BACKGROUND: url(../../images/icons/online.gif) no-repeat left 50%; PADDING-BOTTOM: 1px; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: Verdana
}
.greyDash {
	MARGIN: 5px 0px; OVERFLOW: hidden; BORDER-BOTTOM: #999999 1px dashed; HEIGHT: 1px
}
.verdana10 {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana
}
.verdana10grey {
	FONT-SIZE: 10px; COLOR: #8e8e8e; FONT-FAMILY: Verdana
}
.verdanaWhite11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.verdana11grey {
	FONT-SIZE: 11px; COLOR: #8e8e8e; FONT-FAMILY: Verdana
}
.tagImage {
	LINE-HEIGHT: 14px
}
.tagItem {
	COLOR: #4c71d5; LINE-HEIGHT: 14px
}
.tagItem:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #4c71d5
}
.playListsItem A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0047be; TEXT-DECORATION: none
}
.playListsItem A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0047be; TEXT-DECORATION: underline
}
.playListsItemHL A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
.playListsItemHL A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: none
}
.verdanaDark10 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark10bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdana12 {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana
}
.verdanaBlue10 {
	FONT-SIZE: 10px; COLOR: #0047be; FONT-FAMILY: Verdana
}
.verdanaBlue11 {
	FONT-SIZE: 11px; COLOR: #0047be; FONT-FAMILY: Verdana
}
.verdanaBlue12 {
	FONT-SIZE: 12px; COLOR: #016db4; FONT-FAMILY: Verdana
}
.verdanaBlue12bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #016db4; FONT-FAMILY: Verdana
}
.verdanaGreen12 {
	FONT-SIZE: 12px; COLOR: #009900; FONT-FAMILY: Verdana
}
.verdanaDark11 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark11 A:hover {
	TEXT-DECORATION: none
}
.newFlag {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Verdana
}
.verdana11gray {
	FONT-SIZE: 11px; COLOR: #797979; FONT-FAMILY: Verdana
}
.verdana11grayBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #797979; FONT-FAMILY: Verdana
}
.verdana11darkgray {
	FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: Verdana
}
.postTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #204f6b; FONT-FAMILY: Verdana
}
.inputTextVerdana13grayBG {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #c9c9c9 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f3f7fa
}
.gCommentsAuthorPhoto {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.gCommentsAuthorPhoto IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; MARGIN: 2px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.verdanaDark13 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana
}
.verdanaDark13bold {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana
}
