/* HEADER */
.gallery_tbl {
	
}
.gallery_tbl_td {
	VERTICAL-ALIGN: top; WIDTH: 120px
}
.gallery_tbl TD {
	VERTICAL-ALIGN: top; WIDTH: 120px
}
.gPhoto {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.postAuthorPhoto {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.gPhoto IMG {
	DISPLAY: block
}
.postAuthorPhoto {
	DISPLAY: block
}
.person {
	FONT-SIZE: 10px; COLOR: #0076b3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.person A {
	TEXT-DECORATION: underline
}
.person:hover {
	TEXT-DECORATION: none
}
