/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sitefooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 220px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white
}
A.TopMenuAW2:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.TopMenuAW2:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.TopMenuAW2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.TopMenuAW2:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
.tab_a A {
	FONT-SIZE: 11px; COLOR: #095686; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.tab_n A {
	FONT-SIZE: 11px; COLOR: #095686; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.tab_a A:hover {
	TEXT-DECORATION: none
}
.tab_n A:hover {
	TEXT-DECORATION: none
}
#tabs_holder {
	MARGIN-LEFT: 170px
}
.blogContainer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 95px; WIDTH: 786px; PADDING-TOP: 5px
}
.sectionContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sectionItem {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.itemTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #494949; FONT-FAMILY: Georgia
}
.itemDate {
	FONT-SIZE: 10px; COLOR: #3b3323; FONT-FAMILY: Verdana
}
.itemContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #3b3323; LINE-HEIGHT: 17px; PADDING-TOP: 5px; FONT-FAMILY: Georgia
}
.itemContent A {
	FONT-SIZE: 11px; COLOR: #225588; LINE-HEIGHT: 17px; BORDER-BOTTOM: #225588 1px dashed; FONT-FAMILY: Georgia; TEXT-DECORATION: none
}
.itemContent A:hover {
	BORDER-BOTTOM: 0px
}
.itemBar {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana; TEXT-ALIGN: right
}
.sub_nav_tbl {
	PADDING-RIGHT: 30px; PADDING-LEFT: 100px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.aBarContainer {
	PADDING-RIGHT: 30px; PADDING-LEFT: 65px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #eeeeee
}
.blue_dash_spacer IMG {
	DISPLAY: block
}
.sb_blue_line {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND-COLOR: #4c71d5
}
.sb_gray_line {
	OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND-COLOR: #d6d6d6
}
.sb_gray_line IMG {
	DISPLAY: block
}
#green_dot {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% 50%; DISPLAY: inline; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../../images/pagelayout/greendot.gif); PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; WIDTH: 15px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.form_flds {
	BORDER-RIGHT: #016db4 1px solid; BORDER-TOP: #016db4 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #016db4 1px solid; COLOR: #000000; BORDER-BOTTOM: #016db4 1px solid; FONT-FAMILY: Verdana
}
.select_flds {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #222222; FONT-FAMILY: Verdana
}
.shadow {
	BORDER-RIGHT: #b4b4b4 1px inset; BORDER-TOP: 0px; DISPLAY: inline; BORDER-LEFT: 0px; BORDER-BOTTOM: #b4b4b4 1px solid
}
#spacer {
	OVERFLOW: hidden; HEIGHT: 1px
}
.boxShadow {
	BORDER-RIGHT: #b4b4b4 1px inset; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: #b4b4b4 1px solid
}
.blueBox {
	BORDER-RIGHT: #295a7b 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #295a7b 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #295a7b 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #295a7b 1px solid
}
.photoBorder {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; DISPLAY: block; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-DECORATION: none
}
A.photoBorder {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; DISPLAY: block; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-DECORATION: none
}
A.photoBorder:hover {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; DISPLAY: block; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-DECORATION: none
}
.photoBorder IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 2px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
SELECT {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana,tahoma,helvetica,arial,sans-serif; LETTER-SPACING: 0.05em; BACKGROUND-COLOR: #ffffff
}
