/* HEADER */
BODY {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyZone {
	width:100% !important;
	BACKGROUND-COLOR: #fafafa;

}
.headerZone {
	BACKGROUND-COLOR: #fafafa;
}


#tdContentLeft{
	text-align:center !important;
	background-image:url(../../images/bg_channel_column.gif);
	background-repeat:repeat-y;
	background-position:center;
}


#tdContentRight{
	text-align:center !important;
	background-image:url(../../images/bg_channel_column.gif);
	background-repeat:repeat-y;
	background-position:center;
}


.titleBar {
	BACKGROUND: url(../../images/pagelayout/modules/top_background.gif); WIDTH: 180px; CURSOR: move; POSITION: relative; HEIGHT: 8px
}
.titleBar-title {
	PADDING-LEFT: 2px; FLOAT: left; moz-user-select: none; khtml-user-select: none; user-select: none
}
.titleBar-edit {
	BACKGROUND: url(../../images/pagelayout/modules/edit.gif) no-repeat center center; FLOAT: right; WIDTH: 31px
}
.titleBar-delete {
	BACKGROUND: url(../../images/pagelayout/modules/delete.gif) no-repeat center center; FLOAT: right; WIDTH: 15px
}
.titleBar-right {
	BACKGROUND: url(../../images/pagelayout/modules/top_right.gif); FLOAT: right; WIDTH: 5px
}
.boxContents {
	BORDER-RIGHT: #4c71d5 1px solid; BORDER-LEFT: #4c71d5 1px solid
}
.boxContents IFRAME {
	
}
.resizeBar {
	BACKGROUND: url(../../images/pagelayout/modules/bottom_background.gif) repeat-x; CURSOR: row-resize; LINE-HEIGHT: 11px; HEIGHT: 11px; TEXT-ALIGN: center
}
.resizeBar-left {
	BACKGROUND: url(../../images/pagelayout/modules/bottom_left.gif) no-repeat left top; FLOAT: left; WIDTH: 5px
}
.resizeBar-bar {
	BACKGROUND: url(../../images/pagelayout/modules/resizebar.gif) no-repeat center top; FLOAT: left; WIDTH: 190px; HEIGHT: 11px; moz-user-select: none; khtml-user-select: none; user-select: none
}
.resizeBar-right {
	BACKGROUND: url(../../images/pagelayout/modules/bottom_right.gif) no-repeat left top; FLOAT: right; WIDTH: 5px
}
.bottomBar {
	
}
.bottomBar-left {
	BACKGROUND: url(../../images/pagelayout/modules/bottom_left_s.gif) no-repeat left top; FLOAT: left; WIDTH: 5px
}
.bottomBar-middle {
	FLOAT: left; WIDTH: 190px; LINE-HEIGHT: 11px; BORDER-BOTTOM: #4c71d5 1px solid; HEIGHT: 11px; moz-user-select: none; khtml-user-select: none; user-select: none
}
.bottomBar-right {
	BACKGROUND: url(../../images/pagelayout/modules/bottom_right_s.gif) no-repeat left top; FLOAT: right; WIDTH: 5px
}
.moduleContainer {
	POSITION: absolute; BACKGROUND-COLOR: #fff
}
