/* HEADER */
.mod-moveContent-border {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.mod-title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 200px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial; HEIGHT: 30px
}
.mod-group-title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 200px; COLOR: #4c71d5; FONT-FAMILY: Tahoma,Verdana,Arial; HEIGHT: 20px
}
.mod-text {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial; HEIGHT: 15px
}
.inline-text {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; COLOR: #000000; PADDING-TOP: 8px; FONT-FAMILY: Tahoma,Verdana,Arial
}
.text-title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana,Arial
}
