/* HEADER */
.sidebar {
	WIDTH: 187px
}
.sb_n_l {
	PADDING-LEFT: 4px; BACKGROUND: url(../../images/pagelayout/tabs/sb_n_l.gif) no-repeat left top
}
.sb_n_r {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../../images/pagelayout/tabs/sb_n_r.gif) no-repeat right top; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: Verdana
}
.sb_b_l {
	PADDING-LEFT: 3px; BACKGROUND: url(../../images/pagelayout/tabs/sb_b_l.gif) no-repeat left bottom
}
.sb_b_r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/pagelayout/tabs/sb_b_r.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.sb_container {
	BORDER-RIGHT: #4c71d5 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #4c71d5 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.sb_container TABLE {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.sb_heading {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #4c71d5 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #d6d6d6
}
.sb_heading A {
	COLOR: #000000
}
.sb_heading A:hover {
	TEXT-DECORATION: none
}
.sb_section {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.sb_blue_dash {
	FONT-SIZE: 1px; BACKGROUND-IMAGE: url(../../images/pagelayout/blue_dash.gif); OVERFLOW: hidden; HEIGHT: 1px
}
.sb_UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 8px; COLOR: #016db4; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Verdana; LIST-STYLE-TYPE: square
}
.sb_Ul A {
	FONT-SIZE: 11px; COLOR: #016db4; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.sb_UL A:hover {
	TEXT-DECORATION: none
}
.sb_txtFrm {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 1px solid; COLOR: #000000; BORDER-BOTTOM: #c9c9c9 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.sb_checkBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.sb_select {
	FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.sb_submit_btn {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; BORDER-LEFT: #999999 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 19px; BACKGROUND-COLOR: #eeeeee
}
.formButtonSubmit {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #f7e05c; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; COLOR: #000000; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 17px
}
.formButtonSubmitBorder2 {
	BORDER-RIGHT: #f7e05c 1px solid; BORDER-TOP: #f7e05c 1px solid; BORDER-LEFT: #f7e05c 1px solid; BORDER-BOTTOM: #f7e05c 1px solid
}
.formCancelButton {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #000000; MARGIN-RIGHT: 5px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 17px
}
