/* HEADER */
.tab_t_n_l {
	PADDING-LEFT: 8px; BACKGROUND: url(../../images/pagelayout/tabs/l_tab_n.gif) no-repeat left top
}
.tab_t_n_r {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../../images/pagelayout/tabs/r_tab_n.gif) no-repeat right top; PADDING-BOTTOM: 4px; COLOR: #016db4; PADDING-TOP: 4px; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.tab_t_a_l {
	PADDING-LEFT: 8px; BACKGROUND: url(../../images/pagelayout/tabs/l_tab_a.gif) no-repeat left top
}
.tab_t_a_r {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../../images/pagelayout/tabs/r_tab_a.gif) no-repeat right top; PADDING-BOTTOM: 4px; COLOR: #016db4; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.templ_selector {
	FONT-SIZE: 12px; WIDTH: 760px; COLOR: #000000; FONT-FAMILY: Verdana
}
.templ_menu {
	DISPLAY: block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-BOTTOM: #016db4 1px solid; BACKGROUND-COLOR: transparent
}
.templ_menu TABLE {
	Z-INDEX: 3; MARGIN-BOTTOM: 0px; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: transparent
}
.templ_container {
	BORDER-RIGHT: #016db4 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: 0px; PADDING-LEFT: 12px; Z-INDEX: 1; PADDING-BOTTOM: 12px; BORDER-LEFT: #016db4 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #016db4 1px solid; BACKGROUND-COLOR: transparent
}
.templ_textbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.greyLine {
	MARGIN: 5px 0px; OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND-COLOR: #cccccc
}
.templ_txtFrm {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 1px solid; WIDTH: 100px; COLOR: #000000; BORDER-BOTTOM: #c9c9c9 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.stempl_checkBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.templ_select {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 100px; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f5f5f5
}
.blue11bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #016db4; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana
}
.blue11bold:hover {
	TEXT-DECORATION: none
}
.dark11 {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana
}
.dark11:hover {
	TEXT-DECORATION: none
}
.BlueLink12 {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #0047be; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.BlueLink12:hover {
	TEXT-DECORATION: none
}
