/* HEADER */
.toolb_l {
	PADDING-LEFT: 3px; BACKGROUND: url(../../images/pagelayout/tabs/tool_bar_l.gif) no-repeat left top; WIDTH: 700px
}
.toolb_r {
	PADDING-RIGHT: 7px; PADDING-LEFT: 4px; BACKGROUND: url(../../images/pagelayout/tabs/tool_bar_r.gif) no-repeat right top; PADDING-BOTTOM: 5px; PADDING-TOP: 4px
}
.toolb_text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
.pages_n {
	COLOR: #000000
}
.pages_a {
	FONT-WEIGHT: bold; COLOR: #000000
}
