/* HEADER */
﻿/* CSS Document: Profile Landing Pages 10/30/2012 */
/* BROWSER FIXES FOR IE*/

.pageFooter .footerRuleImage { display:block; width:100%; }
.pageFooter .footerRuleTop, .pageFooter .footerRuleBottom { display:none; }