/* HEADER */
﻿/* CSS Document: Landing Pages 10/17/2012 */

/* TOP-LEVEL OVERRIDES
*---------------------------------------------------------------------------*/	
body {
    background: #ffffff url('../../images/landing_page/background_100x100_greyNoise.jpg') repeat 0px 0px;
}
.pageWrapper {
    width:100%;
    background-image:url('../../images/landing_page/graphic_400x76_greyNoiseHeader.jpg');
    background-repeat:repeat-x;
    background-position:left top;
}
.pageContent {
	width: 973px;
	margin: 0 auto 0 auto;
}
/* Chrome yellow outline fix */
input, a {
    outline:none;
}

/* HEADER
*---------------------------------------------------------------------------*/	
.pageHeader {
	position:relative;
	height:76px;
}
.pageHeader .logo {
    position:relative;
    float:left;
    top:21px;
}
.pageHeader .logo a,
.pageHeader .logo a:hover,
.pageHeader .logo a:visited,
.pageHeader .logo a:link
 {
    display: block;
    width:200px;
    height:32px;
    background:url('../../images/landing_page/login_form.png') -80px -30px;
}
.pageHeader .signIn {
	width: 507px;
	float: right;
	margin:0;
	padding:0;
	text-align: right; 
}
.pageHeader .signIn ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.pageHeader .signIn li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
	display: inline;
	float: left;
	font-size: 10px;
	line-height: 16px;
	color: #FFFFFF;
}
.pageHeader .signIn li.inputField {
	width: 180px;
	height:64px;
	padding:6px 0 6px 0;
    position:relative;
}
.pageHeader .signIn .inputField input {
    font-size:11px;
    color:#333333;
}
.pageHeader .signIn .chkRemember input {	
	margin:0;
	padding:0;
	position:relative;
	top:5px;
}
.pageHeader .signIn .keepSignedIn {	
	position:relative;
	top:2px;
}
.pageHeader .signIn li.fbButton a {
    display:block;
    width:36px;
    height:36px;
    position:relative;
    top:21px;
    text-align:right;
    cursor:pointer;
}
.pageHeader .signIn li.fbButton a,
.pageHeader .signIn li.fbButton a:link,
.pageHeader .signIn li.fbButton a:visited {
    background:url("../../images/landing_page/login_form.png") 0 -28px;
}
.pageHeader .signIn li.fbButton a:active,
.pageHeader .signIn li.fbButton a:hover {
    background:url("../../images/landing_page/login_form.png") -40px -28px;
}
.pageHeader .signIn .divider {
    margin:0 10px 0 10px;
    position:relative;
    top:1px;
}
.pageHeader .signIn li a.forgot:link, 
.pageHeader .signIn li a.forgot:visited {
    position:relative;
    top:5px;
    left:0;
    line-height:14px;
    display:inline;
    margin:0;
    text-decoration:none;
    color:#ffffff;
}
.pageHeader .signIn li a.forgot:hover, 
.pageHeader .signIn li a.forgot:active {
    text-decoration:underline;
}
.pageHeader .signIn li.button a {
    display: block;
    position:relative;
    top:19px;
    width:87px;
    height:27px;
}
.pageHeader .signIn li.button a:link, 
.pageHeader .signIn li.button a:visited {
    background:url("../../images/landing_page/login_form.png") 0 0;
}
.pageHeader .signIn li.button a:hover {
    background:url("../../images/landing_page/login_form.png") -89px 0;
}
.pageHeader .signIn li.button a:active {
    background:url("../../images/landing_page/login_form.png") -178px 0;
}
.headerLinks {
    float:right;
    margin-top:27px;
    color:#999999;
    font-size:11px;
    text-shadow:1px 1px #101010;
}
.headerLinks a, .headerLinks a:hover, .headerLinks a:active, .headerLinks a:visited {
    color:#ffffff !important;
    font-size:11px;
    text-shadow:1px 1px #101010;
    cursor:pointer;
}
.showSignIn { color:#ffffff; cursor:pointer; }
.showSignIn:hover { text-decoration:underline; }

/* BODY
*---------------------------------------------------------------------------*/	
.pageBody {
    position:relative;
    text-align:left;  
    font-size:12px;
    color:#333333;
    padding:14px 25px 14px 25px;
}

/* FOOTER
*---------------------------------------------------------------------------*/	
.pageFooter {
    clear:both;
    padding:14px 0;
}
.pageFooter .footer {
    color:#333333;
    font-size:11px;
}
.pageFooter .footer a:link, 
.pageFooter .footer a:visited {
    color:#333333;
    text-decoration:none;   
}
.pageFooter .footer a:hover, 
.pageFooter .footer a:active{
    color:#333333;
    text-decoration:underline;   
}
.pageFooter .footer li {
    margin-left:0px;
    margin-right:0px;
}
.pageFooter .footerRuleTop, .pageFooter .footerRuleBottom {
    margin:0;
    padding:0;
    height:1px;
    border-style:none;
}
.pageFooter .footerRuleTop {
    background-color:#cccccc;
}
.pageFooter .footerRuleBottom {
    background-color:#ffffff;
}