<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EmailLog.ascx.cs" Inherits="SiteManagement.usercontrols.mail.EmailLog" %>
<meta http-equiv="refresh" content="5" />
 
    <div id="dvLog">        
      <asp:GridView ID="gvLog" runat="server" AutoGenerateColumns="true">        
        <RowStyle BackColor="White"></RowStyle>
			  <HeaderStyle BackColor="LightGray" Font-Underline="True" Font-Bold="True" 
			    ForeColor="#000000" HorizontalAlign="Left"></HeaderStyle>
			  <AlternatingRowStyle BackColor="Gainsboro"></AlternatingRowStyle>
			  <FooterStyle BackColor="#FFffff"></FooterStyle>
        <Columns></Columns> 
      </asp:GridView>      
    </div>