<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva's Access Pass for Adults 18+
MetaDataTitle: <meta name="title" content="Kaneva's Access Pass for Adults 18+" />
MetaDataDescription: <meta name="description" content="Now available exclusively to adult members 18 and over... an access pass to the hottest entertainment and accessories available in the Virtual World! Meet other adults and chat in an over 18 community." />
MetaDataKeywords: <meta name="keywords" content="adult chat rooms, adult chat, adult community" />

<h2 id="page">Access Pass</h2>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td colspan="2">
            <p class="large">Over 18? Get Your Access Pass!</p>
           
            <p class="large">Now available exclusively to members 18 and over . . . an access pass to the hottest entertainment and accessories available in the Virtual World!</p>
            </td>
        </tr>
        <tr>
            <td><img alt="Access pass" src="http://images.kaneva.com/media/wokcommunity/access_pass.jpg" align="left" hspace="20" vspace="5" /> <!--
            <table align="right" border="0" cellpadding="0" width="100">
                <tbody>
                    <tr>
                        <td>        <img alt="Top drawer" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/topdrawer.jpg" height="67" width="100" />       </td>
                    </tr>
                    <tr>
                        <td class="note">        Access Pass items available at Top Drawer - North Wing       </td>
                    </tr>
                </tbody>
            </table>
            --></td>
            <td>Kaneva's Access Pass includes:
            <ul>
                <li>Access to restricted (18 and over) clubs and hangouts
                </li>
                <li>Exclusive clothing and accessories for restricted areas
                </li>
                <li>Special privileges only Access Pass members enjoy
                </li>
                <li>Access to private events
                </li>
                <li>And more! </li>
            </ul>            
            <br />
            <p align="center"><a href="http://www.kaneva.com/myKaneva/buyaccess.aspx" target="_blank">Buy Access Pass Now!</a> </p>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td>
            <h3>How Do I Get One?</h3>
            </td>
        </tr>
        <tr>
            <td align="right">
            <table border="0" cellpadding="3" cellspacing="0" width="90%">
                <tbody>
                    <tr>
                        <td width="25"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" height="25" width="25" /></td>
                        <td>In the Virtual World Mall, find a store that sells Access Pass-only items -- lingerie, for instance -- and attempt to buy the item. You'll be given the option to buy an Access Pass. Or, click the link above.</td>
                    </tr>
                    <tr>
                        <td><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" height="25" width="25" /></td>
                        <td>The next time you try to buy an Access Pass item, or enter an Access Pass hangout, you will be able to continue.</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
