<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: A Kaneva Cover Charge let's you earn Credits!
MetaDataTitle: <meta name="title" content="A Kaneva Cover Charge let's you earn Credits!" />
MetaDataDescription: <meta name="description" content="Are you the hottest virtual DJ? Own a popular community hangout? Here's your chance to earn by charging members a cover to get inside. Simply enter the amount you'd like them to pay. 10, 20, 50 credits . . . you decide what your virtual hangout's worth!" />
MetaDataKeywords: <meta name="keywords" content="virtual dj, virtual club, dj cover charge, make money" />


<h2 id="page">Cover Charge</h2>
<table border="0" cellpadding="0" width="722">
    <tbody>
        <tr>
            <td><img alt="Cover Charge" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/covercharge.jpg" align="left" hspace="20" vspace="5" />
            <h3>Own a Popular Hangout? Charge a Cover and Make Credits!</h3>
            <p>Is your hangout a favorite in the Virtual World? If so, here's your chance to earn credits by charging members a cover to get in.</p>
            <br />
            <p>To add a cover charge to your hangout, simply edit your hangout's settings and enter the amount you'd like members to pay. 10, 20, 50 credits . . . you decide what your hangout's worth!</p>
            <br />
            <p>Once paid, members have access to your hangout for 24 hours (at your discretion, of course). And, you keep 90% of your profits!</p>
            <br />
            <p>Earn the credits you deserve with Cover Charge!</p>
            <br />
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <h3>How Do I Use It?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>If you're an owner and want to set up a cover charge:</td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table border="0" cellpadding="3" cellspacing="0" width="90%">
                            <tbody>
                                <tr>
                                    <td width="25"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" alt="" height="25" width="25" /></td>
                                    <td>While in your home or hangout, click <strong>Settings</strong> in the <strong>Location Menu</strong>. </td>
                                </tr>
                                <tr>
                                    <td><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" alt="" height="25" width="25" /></td>
                                    <td>In       the <strong>Current Cover Charge</strong> box, enter the number of credits you'd like to charge, and click <strong>OK</strong>.</td>
                                </tr>
                                <tr>
                                    <td><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" alt="" height="25" width="25" /></td>
                                    <td>The       Credits you earn will be deposited to your account, minus Kaneva's 10% admin fee.</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td><br />
                        If you want to visit a home or hangout that charges a cover:</td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table border="0" cellpadding="3" cellspacing="0" width="90%">
                            <tbody>
                                <tr>
                                    <td width="25"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" alt="" height="25" width="25" /></td>
                                    <td>When       you enter a location that charges a cover, you&acute;ll be notified and asked if       you want to pay. (Cover charges can only be paid with Credits.) </td>
                                </tr>
                                <tr>
                                    <td><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" alt="" height="25" width="25" /></td>
                                    <td>Click <strong>OK</strong> to pay the cover charge and be admitted to the hangout. Once paid, you'll have access to the home or hangout for 24 hours (at the owner's discretion). </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p align="center"><a href="http://www.kaneva.com/myKaneva/buycredits.aspx"></a></p>
            </td>
        </tr>
    </tbody>
</table>
