<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Play Dance Party 3D Online
MetaDataTitle: <meta name="title" content="Play Dance Party 3D Online" />
MetaDataDescription: <meta name="description" content="The ultimate 3D dance game... Battle other dancers to become king of the dance floor. Be a virtual DJ, or build your own 3D dance club. It's easy, fun, and free! Play online now!" />
MetaDataKeywords: <meta name="keywords" content="virtual dance game, online dance game, dance mmo" />

<h2 id="page">Dance Party 3D</h2>
<table cellpadding="0" width="722" border="0">
    <tbody>
        <tr>
            <td><img alt="Dance party" hspace="10" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/danceparty3d.jpg" align="left" vspace="5" />
            <table cellpadding="0" width="100" align="right" border="0">
                <tbody>
                    <tr>
                        <td><img height="67" alt="Frame N Go" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/dancegear_mpc.jpg" width="100" /></td>
                    </tr>
                    <tr>
                        <td class="note">Floors and Gear Available at 3rd Dimension</td>
                    </tr>
                </tbody>
            </table>
            <h3>Now available at a club near you . . . Dance Party 3D!</h3>
            <p>It&acute;s the ultimate 3D dance contest, where:</p>
            <ul type="disc">
                <li>All it takes is the right combination of keystrokes to get on the leader board
                <li>You and your friends battle to become the hottest dance star
                <li>You can be a virtual DJ and open your own 3D dance club to win raves and rewards! </li>
            </ul>
            <br />
            <p>Get exclusive Dance Party 3D gear including the official Dance Party 3D Game Floor, where you can host your own dance competitions!</p>
            <br />
            <p><a href="http://www.kaneva.com/channel/DanceParty3D.channel" target="_blank">Go see the community!</a></p>
            <table cellspacing="0" cellpadding="3" width="100%" border="0">
                <tbody>
                    <tr>
                        <td>
                        <h3>How Does it Work?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>If you want to play:</td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table cellspacing="0" cellpadding="3" width="90%" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                                    <td>You can play Dance Party 3D In The Third Dimension, a public club, by clicking the <strong>Dance Party</strong> button at the bottom of your screen. <br />
                                    <br />
                                    Or, you can visit one of the many member-owned clubs that sport a DP3D dance floor. Virtual World, choose <strong>Dance Club 3D</strong> from the <strong>Go Places</strong> menu. </td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                                    <td>Once in the club, step up to the dance floor and you&acute;ll be asked if you want to play. </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <tr>
                        <td><br />
                        If you want to your own Dance Party 3D dance floor:</td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table cellspacing="0" cellpadding="3" width="90%" border="0">
                            <tbody>
                                <tr>
                                    <td width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                                    <td>Click <strong>Dance Party</strong> button at the bottom of your screen to travel to The Third Dimension club. </td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                                    <td>Walk straight ahead to the female shopkeeper (standing behind the counter) and press the Tab key on your keyboard, and purchase one of the available dance floors. </td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" width="25" /></td>
                                    <td>Return to your home or hangout and click the Inventory (clipboard) icon, select the dance floor, and click <strong>Use</strong>.</td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p align="center">&nbsp;</p>
            <div class="title">More Dance Party 3D Favorites</div>
            <br />
            <p>Share your Dance Party 3D experience with other members with these exclusive communities:</p>
            <table cellpadding="5" width="100%" border="0">
                <tbody>
                    <tr>
                        <td align="center"><a href="http://www.kaneva.com/channel/DanceStar3D.channel" target="_blank"><img height="74" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/dancestar.jpg" width="200" border="0" /></a></td>
                        <td align="center"><a href="http://www.kaneva.com/channel/DanceClub3D.channel" target="_blank"><img height="74" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/danceclub.jpg" width="200" border="0" /></a></td>
                        <td align="center"><a href="http://www.kaneva.com/channel/DanceMusic3D.channel" target="_blank"><img height="74" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/dancemusic.jpg" width="200" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td valign="top" align="left" width="33%">
                        <div align="justify">
                        <p><strong>Become a 3D Dance Star!<br />
                        </strong>Upload photos and videos of your super-star performance to win raves and rewards! See who&acute;s topping the Dance Party 3D Leader Board.</p>
                        </div>
                        </td>
                        <td valign="top" align="left" width="33%">
                        <div align="justify"><strong>Open your own 3D dance club!<br />
                        </strong>Promote your club with photos and videos. Share design tips with other club owners.</div>
                        </td>
                        <td valign="top" align="left" width="33%">
                        <div align="justify"><strong>Become a Virtual DJ!</strong><br />
                        Submit your own online music mix to the Dance Party 3D playlist! Win raves and rewards!</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
