<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Dance Party 3D - Dance Fame
MetaDataTitle: <meta name="title" content="Dance Party 3D - Dance Fame" />
MetaDataDescription: <meta name="description" content="Your guide to the virtual world. What's happening, what's hot, what's what. The news that's important in the virtual world and to your virtual life." />
MetaDataKeywords: <meta name="keywords" content="virtual life, create a virtual life, virtual life games, free virtual life games, my virtual life" />


<style type="text/css">
td, table, tr, span, li, p, div, textarea, DIV {font-family:verdana, arial, times new roman; color:000000; font-weight:normal; font-decoration:none; font-style:normal; background-color:transparent}

</style>

<style type="text/css">

#dancefame { position:relative; display:block; border: 0px; height: 1100px; background: url("http://streaming.kaneva.com/media/communities/kaneva/vworld/images/fame-bg.jpg") 0 0 no-repeat; }

#dancefame .maintitle { padding: 5px; position:relative; left:0%; margin-left:252px; top:226px; z-index:2; }
#dancefame .maintext { padding: 5px; position:relative; left:0%; margin-left:30px; top:222px; z-index:3; }
#dancefame .title1 { padding: 5px; position:relative; left:0%; margin-left:33px; top:506px; z-index:2; }
#dancefame .bullet1 { padding: 5px; position:absolute; left:0%; margin-left:90px; top:770px; z-index:2; width:inherit }
#dancefame .bullet2 { padding: 5px; position:absolute; left:0%; margin-left:90px; top:655px; z-index:2; width:inherit }
#dancefame .bullet3 { padding: 5px; position:absolute; left:0%; margin-left:90px; top:692px; z-index:2; width:inherit }
#dancefame .bullet4 { padding: 5px; position:absolute; left:0%; margin-left:90px; top:716px; z-index:2; width:inherit }
#dancefame .title2 { padding: 5px; position:relative; left:0%; margin-left:33px; top:479px; z-index:2; }
#dancefame .text2 { padding: 5px; position:relative; left:0%; margin-left:33px; top:477px; z-index:2; }
#dancefame .title3 { padding: 5px; position:relative; left:0%; margin-left:33px; top:500px; z-index:2; }
#dancefame .text3 { padding: 5px; position:relative; left:0%; margin-left:33px; top:480px; z-index:2; }
#dancefame .arrow1 { padding: 5px; position:relative; left:0%; margin-left:33px; top:617px; z-index:2; } 
#dancefame .arrow2 { padding: 5px; position:relative; left:0%; margin-left:33px; top:654px; z-index:2; } 
#dancefame .arrow3 { padding: 5px; position:relative; left:0%; margin-left:33px; top:684px; z-index:2; } 
#dancefame .arrow4 { padding: 5px; position:relative; left:0%; margin-left:33px; top:715px; z-index:2; } 
#dancefame .playnow { padding: 5px; position:absolute; left:0%; margin-left:549px; top:175px; z-index:2; }

#dancefame ul.splatter {
	padding: 0;
	margin: 0;
	position: relative;
	top: 470px;
	left: 30px;
	width: 350px;
	display: block;
	}
	
#dancefame ul.splatter li {
	padding: 0 0 0 60px;
	height: 60px;
	margin: 0;
	background: url("http://streaming.kaneva.com/media/communities/kaneva/vworld/images/fame-arrow-bullet.png") 0 0 no-repeat;
	color: #033874;
	font-size: 13px;
	list-style: none;
	}


</style>
<div id="dancefame">
<div class="maintitle"><b><font color="#7d0808" size="4" face="Arial, Helvetica, sans-serif">Strut your way to the Top!</font></b></div>
<div class="maintext">
 <font color="#7D0808" size="2" face="Arial, Helvetica, sans-serif">Now when you play Dance Party 3D, the fun doesn&rsquo;t stop when you leave the dance floor.<br />
  With new Dance Fame you&rsquo;ll climb your way from &ldquo;Newb Dancer&rdquo; to &ldquo;Dance Queen&rdquo; (or King),<br />
  and enjoy all the benefits of a rising star along the way.</font>
</div>
<!--<div class="playnow"><a href="#" class="link1 nohover"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/fame-play-btn.png" border="0" /></a></div>-->


<div class="title1"><b><font color="#7d0808" size="4" face="Arial, Helvetica, sans-serif">The Road to Fame</font></b></div>

<br><br><br>
<ul class="splatter">
	<li>Play Dance Party 3D in The Third Dimension The Underground, or on any private dance floor.</li>
    <li>As you score points within the game, you&rsquo;ll also earn Dance Fame Points.</li>
    <li>You can watch your Fame grow at My Kaneva.</li>
    <li>Each time you reach a new Fame Level, you&rsquo;ll earn Prizes and Rewards.</li>
</ul>






<div class="bullet1" width="200">
  <font color="033874" size="2" face="Arial, Helvetica, sans-serif"></font><br />
</div>

<div class="bullet2" width="200"><font color="033874" size="2" face="Arial, Helvetica, sans-serif">  </font><br />
</div>

<div class="bullet3" width="200"><font color="033874" size="2" face="Arial, Helvetica, sans-serif">  </font><br />
</div>

<div class="bullet4" width="200">
  <font color="033874" size="2" face="Arial, Helvetica, sans-serif">  </font><br />
</div>
<div class="title2"><b><font color="#7d0808" size="4" face="Arial, Helvetica, sans-serif">The Loot</font></b></div>
<div class="text2"><font color="033874" size="2" face="Arial, Helvetica, sans-serif">On your quest for Fame you&rsquo;ll win fabulous prizes,
including <b>Titles</b> (which appear <br>
above your avatar&rsquo;s name), <b>Trophies</b> you can display in your home, and <b>Dance <br>
Fashion</b>. <b>(Coming Soon: exclusive Animations &ndash; moves that only dance stars can show off.)</b></font></div>
<div class="title3"><b><font color="#7d0808" size="4" face="Arial, Helvetica, sans-serif">The Levels of Dance Fame</font></b></div>
<div class="title3"><b><font color="#7d0808" size="4" face="Arial, Helvetica, sans-serif"></font></b></div>
<div class="text3">
  <p><font color="033874" size="2" face="Arial, Helvetica, sans-serif">In addition to Prizes, every time you advance to the next
    level you&rsquo;ll win Rewards that you can spend in many of<br />
    Kaneva&rsquo;s shops. So while you 
  revel in the attention, you
  can spend like money&rsquo;s no object. (<a href="/3d-virtual-world/virtual-dance-game.kaneva">Learn more about<br />
  Dance Party 3D</a>)</font></p>
</div>
</div>

            <!-- End Main Content -->               
