<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva. A Virtual World full of Animated Avatars.
MetaDataTitle: <meta name="title" content="Kaneva. A Virtual World full of Animated Avatars." />
MetaDataDescription: <meta name="description" content="Create your own free animated avatar. Your avatar expresses the same emotions you do... crying, laughing, cheering, and more. But wait, there's more. We've also introduced hot new MoCap dance animations." />
MetaDataKeywords: <meta name="keywords" content="animated avatar, avatar games, avatar game, animated avatars" />

<span style="color:#13667a;font-size:17px;">Special Features</span>

<h2 id="page">Emotes &amp; Animations</h2>
<table cellpadding="0" width="722" border="0">
    <tbody>
        <tr>
            <td><img alt="Emotes" hspace="20" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/emotes.jpg" align="left" vspace="5" />
            <div class="title">Bring your avatar to life! </div>
            <p>You have expressions and animations, why shouldn&acute;t the 3D you? </p>
            <p>With Emotes &amp; Animations, you can:</p>
            <ul type="disc">
                <li>Display emotions (like crying, laughing, cheering, and more)
                <li>Show expressions
                <li>Show off movements (like walking, running, sitting, and more) </li>
            </ul>
            <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="3" width="100%" border="0">
    <tbody>
        <tr>
            <td>
            <h3>How Do They Work?</h3>
            </td>
        </tr>
        <tr>
            <td align="right">
            <table cellspacing="0" cellpadding="3" width="90%" border="0">
                <tbody>
                    <tr>
                        <td width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                        <td>In the Virtual World, click on the smiley face icon at the bottom of your screen. </td>
                    </tr>
                    <tr>
                        <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                        <td>Click one of the emote buttons to laugh, cheer, etc. </td>
                    </tr>
                    <tr>
                        <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" width="25" /></td>
                        <td>Or, click on the <strong>gesture</strong> or <strong>dance</strong> tabs to see other options. </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
