<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva l How-to Earn Rewards, Fame & Fortune
MetaDataTitle: <meta name="title" content="Kaneva l How-to Earn Rewards, Fame & Fortune" />
MetaDataDescription: <meta name="description" content="Build your Fame & Fortune by playing games, inviting friends, showing your creative side, and just hanging out on Kaneva. Earn plenty of free Rewards (credits), to spend in 3D shops. And prizes, like animated clothing for your Kaneva avatar or a ginormous TV for your 3D home." />
MetaDataKeywords: <meta name="keywords" content="earn rewards, free credits, earn credits, kaneva rewards, free rewards, fame points, kaneva credits" />


<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
			<td>

                
                <style type="text/css">
                
                 ul.greenarrow {
                	padding: 0 0 0 0;
                	margin: 0;
                	list-style: none;
                	}
                
               .greenarrow li {
                	background-position: 0 2px;
                	padding: 0 0 8px 20px;
                	margin: 0;
                	}
                
                
                </style>
				
				<img src="../images/world-fame-header.jpg"><br><br>
            	<h1>How to earn Fame in the World of Kaneva:</h1>
            	<p>In the World of Kaneva, you&rsquo;re on the path to Fame &amp; Fortune as soon as you step in the door.</p>
            	<p>Check My Kaneva daily for hints on where to go and what to do.</p>
            	<p>But if you're on the fast track, you can read about ways to earn fame below. Some will earn you Fame only once. Others keep on giving. And because your friends can help you out (by visiting and raving your home, hangout, or profile), you can even get Famous while you get your beauty sleep!

            	<table border="0" cellspacing="15" cellpadding="0">
					<tr>
						<td valign="top" width="40%">
						<h2>One-timers</h2><br />
							<ul class="greenarrow">
								<li><a href="#2">Sign in to the World of Kaneva 3D program</a></li>
								<li><a href="#1">Change the picture on your Profile page</a></li>
								<li><a href="#3">Visit the in-world Help Center</a></li>
								<li><a href="#4">Read the Fame pages</a></li>
								<li><a href="#5">Decorate your home </a></li>
								<li><a href="#6">Change your clothes</a></li>
								<li><a href="#7">Change wall and floor patterns</a></li>
								<li><a href="#8">Change what&rsquo;s playing on your TV</a></li>
								<li><a href="#10">Add a YouTube video</a></li>
								<li><a href="#11">Make new friends</a></li>
								<li><a href="#12">Use a hangout deed</a></li>
							</ul>
						
						
						</td>
						<td valign="top" width="40%">
						<h2>Repeaters</h2><br />
						<ul class="greenarrow">
								<li><a href="#13">Throw your own Dance Party.</a></li>
								<li><a href="#14">Have a few friends over.</a></li>
								<li><a href="#16">Get your Home or Hangout raved.</a></li>
								<li><a href="#18">Get your patterns, photos, and videos raved!</a></li>
								<li><a href="#19">Popular communities earn Fame.</a></li>
								<li><a href="#20">Get people to join Kaneva. We&rsquo;ll make you famous!</a></li>
								<li><a href="#21">Every day you go in-world and hang out you earn Fame!</a></li>
								<li><a href="#22">How to play Dance Party 3D</a></li>
								<li><a href="#23">How to play Ka-ching!</a></li>
								<li><a href="#24">Watch videos daily and earn!</a></li>
							</ul>
						
						
						
						
						</td>
					</tr>
				</table>
				
				<hr class="contentsep">
				
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>							
							<h6><a name="2"></a>How to sign in to the World of Kaneva 3D program</h6>
							<p>The World of Kaneva is both a social networking web site and a 3D virtual world. Entering the 3D world is easy and free.</p>
							<p>First, on your Windows computer, download the 3D program.</p>
							<p>Next, start the program by clicking the <b>World of Kaneva 2.0</b> icon on your Windows desktop. You&rsquo;ll see a Sign In screen.</p>
							<p>Sign in using the email address and password you gave us when you signed up for Kaneva.</p>
							<p>Once you click the <b>Sign In</b> button, the 3D world will load. If this is the first time you&rsquo;ve signed in, you&rsquo;ll find yourself in the Help Center &ndash; where you can learn the basics of getting around and having fun in 3D. </p>
							<p>(Earn Fame Points every time you go in-world)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
						
							<h6><a name="1"></a>How to change the picture on your Profile page</h6>
							<p>Your picture is shown on your Profile page, and next to any Blast you send.</p>
							<p>To change your picture, go to your Profile Page.  You can select My Profile from the top nav to get to your profile page. (you have to be signed in to view this page).</p>
							<p>Click the <b>Edit</b> button in the Profile section header (top left of the page just above your username). The <b>Edit:Profile Options</b> page will open. </p>
							<p>Click the <b>Browse</b> button in the Profile Photo section, select a picture file from your computer, then click <b>Save Changes</b>.</p>
							<p>(Earn Fame Points the first time you update your picture)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="3"></a>How to visit the in-world Help Center</h6>
							<p>Start the World of Kaneva program and sign in using the email address and password you gave us when you signed up for Kaneva.</p>
							<p>Next, click the orange <b>Go Places </b>button to display the <b>Kaneva World Map.</b>&nbsp; </p>
							<p>Click on the <b>Help Center</b> located near the top of the map, and you&rsquo;ll be transported. Videos showing in each room will tell you what you need to know, and the gold coins scattered throughout will give you Rewards to spend.</p>
							<p>(Earn Fame Points the first time you go through the Help Center)<br>
								<br>
								  <img src="../images/help-center.jpg"><br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="4"></a>Read all about Fame & Fortune</h6>
							<p>You're reading one of three pages about Fame & Fortune in the World of Kaneva. To learn more, scroll up to the top of this page and click Fame & Fortune (on the left).</p>
							<p>(Earn Fame Points the first time you visit these pages.)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="5"></a>How to decorate your home</h6>
							<p>Start the World of Kaneva program and sign in using the email address and password you entered when you signed up for Kaneva.</p>
							<p>Next, click on the <b>Inventory</b> <b>Icon</b> in the menu bar (it looks like a clipboard) to display your inventory.<br>
							  <br>
							  <img src="../images/inventory-btn.jpg"></p>
							<p>Click on the <b>Furniture</b> tab at the top of the Inventory menu.&nbsp; Click on an item from the list, then click <b>Use</b>.</p>
							<p>After closing the Inventory window, right-click<b> </b>on the item to position it. (Because items are dropped directly where your avatar stands, you may need to back up a bit first.). </p>
							<p>Use the green arrow buttons to rotate and move the object.<br>
							  <br>
							<img src="../images/move-item.jpg"></p>
							<p>(Earn Fame Points the first time you place an object in your home)<br>
								<br>
								<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="6"></a>How to wear different outfits</h6>
							<p>Start the World of Kaneva program and sign in using the email address and password you entered when you signed up for Kaneva.</p>
							<p>Next, click on the <b>Inventory Icon</b> in the menu bar (it looks like a clipboard) to display your inventory.<br>
											<br>
											<img src="../images/inventory-btn.jpg"></p>
							<p>Select a clothing item by clicking on it. </p>
							<p>Click the <b>Wear </b>button to put on the item. If you&rsquo;re already wearing the clothing you selected, you&rsquo;ll see a <b>Remove</b> button instead. Nope&hellip;you can&rsquo;t get naked. </p>
							<p>(Earn Fame Points the first time you change clothes)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="7"></a>How to change wall and floor patterns</h6>
							<p>Start the World of Kaneva program and sign in using the email address and password you entered when you signed up for Kaneva.</p>
							<p>Next, right-click on a wall or floor in your home to display options.</p>
							<p>Choose <b>Change Pattern</b> to display the <b>Pattern Browser. </b>&nbsp;A pattern is an image that can be repeated over the surface of an object, like wallpaper. </p>
							<p>You can choose a pattern or photo you&rsquo;ve uploaded to Kaneva.com, or click the <b>Featured Patterns</b> tab to select from 250+ popular patterns.</p>
							<p>(Earn Fame Points the first time you change the pattern of a wall)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="8"></a>How to change what&rsquo;s playing on your TV</h6>
							<p>Once you have signed in to the World of Kaneva program, go to your home and right-click your TV.</p>
							<p>Next, click the <b>Change Media</b> button and choose a category from the left column, and a video playlist from the right column.</p>
							<p>Or, type a keyword into the search field and click <b>Search</b>. Then select a video from the search results.</p>
							<p>Click <b>OK</b>, then click <b>OK</b> again.</p>
							<p>(Earn Fame Points the first time you change the media on your TV)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="10"></a>How to add a YouTube video</h6>
							<p>Start by opening YouTube.com in your web browser, and finding a video you like.</p>
							<p>Once you've selected a video, click <b>more share options</b> on the <b>Share</b> tab, and copy the link.</p>
							<p>On the Kaneva.com web site, click <b>My Kaneva</b>, then click <b>My Media Library</b>.</p>
							<p>Click the <b>Add to Media Library</b> button.</p>
							<p>Click the <b>Add YouTube</b> tab.</p>
							<p>Paste in the video embed code, and type in a title for the video.</p>
							<p>Agree with the Terms and Conditions, then click <b>Add Media</b>.</p>
							<p><a href="#8">Find out how to watch your video in-world!</a></p>
							<p>(Earn Fame Points the first time you add a YouTube video to your Media Library)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="11"></a>How to make new friends</h6>
							<p>Once you&rsquo;ve signed in to the Kaneva.com web site, click on <b>People</b> at the top of the page to search or browse for people within the Kaneva network. </p>
							<p>If you find someone you&rsquo;d like to get to know better, click on the name to visit his or her Profile page. Then click <b>Add to Friends</b> in the top-left box.</p>
							<p>Or&hellip; in-world, right-click on an avatar, and click <b>View Profile</b> and <b>Add to Friends.</b></p>
							<p>The person you&rsquo;ve chosen will get a &ldquo;friend request,&rdquo; which he or she can accept or refuse.</p>
							<p>(Earn Fame Points when you add 5 friends)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="12"></a>How to use a hangout deed</h6>
							<p>When you create a Community online at Kaneva.com, by default, you&rsquo;ll get a free hangout deed -- a small conference room.&nbsp; But conference rooms are for working, and chances are you&rsquo;ve got other things in mind. Here&rsquo;s how to upgrade.</p>
							<p>First, sign into the World of Kaneva and click <b>Go Places</b> from the menu bar.</p>
							<p>Next, click on <b>The Mall.</b></p>
							<p>Visit the <b>Kaneva Real Estate </b>store located in the North Wing of the Mall.&nbsp; Press the <b>TAB</b> key to pull up the store&rsquo;s inventory and buy a new hangout deed.</p>
							<p>Click <b>Go Places</b> in the menu bar again to view up the <b>Kaneva World Map.</b>&nbsp; Next, click on <b>Community Hangouts</b>, find your community in the Community Hangouts menu, then click <b>Go.</b></p>
							<p>Once you are in your hangout, open your inventory select the deed, and click <b>Use</b>, just like you are placing an object.&nbsp; Your community will then assume the floor plan of the deed you place in the community.</p>
							<p>(Earn Fame Points when you start a new Community)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="13"></a>How to earn Fame Points with your Dance Floor</h6>
							<p>Every 10 new players you get to dance on your Dance Floor will earn you Fame Points! So make a few friends, throw a party, and enjoy the spotlight!</p>
							<p>(Earn Fame Points with every 10 new players)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="14"></a>Have a few friends over!</h6>
							<p>For every 10 new visitors to your home, you&rsquo;ll earn Fame points!</p>
							<p>(Earn Fame Points with every 10 new visitors to your home, and with every 5 Raves)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="16"></a>The Power of TEN</h6>
							<p>For every 10 Raves you receive for your Profile, Home, or Hangout you will be awarded Fame Points!</p>
							<p>(Earn Fame Points with every 10 Raves on your Profile, Home, or Hangout)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="18"></a>Get your patterns, photos, and videos raved!</h6>
							<p>To get your patterns, photos, and videos raved you&rsquo;ll need to direct people to your profile page.&nbsp; You can display your patterns, photos, and videos on your profile page anyway you like. When someone raves your media, you earn Fame Points!</p>
							<p>(Earn Fame Points with every 10 Raves on your pattern, photo, or video)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="19"></a>Popular communities earn Fame!</h6>
							<p>Invite all your friends the communities you have created.&nbsp; You will earn Fame Points for every 5 new members that <b>JOIN</b> your community!</p>
							<p>(Earn Fame Points with every 5 members that join your community)</p>
							<p>&nbsp;</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="20"></a>Get people to join Kaneva. We&rsquo;ll make you famous!</h6>
							<p>Do you want to become REALLY famous?&nbsp; Get your friends to <b>Join</b> Kaneva and we will reward you with Fame Points!</p>
							<p>(Earn Fame Points for every 5 people you invite who join)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="21"></a>Every day you go in-world and hang out you earn Fame!</h6>
							<p>Every day you sign in to the World of Kaneva and stick around for a while we will reward you with Fame Points!</p>
							<p>(Earn Fame Points once per day for going in-world, and for hanging out for a while)<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="22"></a>How to play Dance Party 3D</h6>
							<p>Start the World of Kaneva program and sign in using the email address and password you entered when you signed up for Kaneva.</p>
							<p>Click the orange <b>Dance Party 3D </b>button to go to the Third Dimension dance club.</p>
							<p>Walk down the stairs and onto the dance floor.</p>
							<p>(Earn Fame Points once per day for playing Dance Party 3D to difficulty 10)<br>
							  <br>
							</p>
							
							<hr class="contentsep">
							
							<h6><a name="23"></a>How to play Ka-ching!</h6>
							<p>Ka-ching! is a FREE multi-player, third person, 3D shooting game played exclusively inside the 3D World of Kaneva.</p>
							<p>To play, sign in to the World of Kaneva using your email address and password.</p>
							<p>Click the <b>Show the Map</b> button and then click <b>Ka-ching!</b> to go to the Ka-ching! arena (or click the <b>Activities</b> button and click <b>Play Ka-ching!</b>). Walk up to one of the Arena Managers and either start a game, or join a game in progress.</p>
							<p>Team up with your friends to find, collect, and deposit the most coins (Ka-ching!), dodge foam darts, and check your opponents (send them back to the starting point) by firing foam darts.</p>
							<p>Earn Fame Points every day just for playing&#133;earn more for collecting coins, checking your opponents, and winning! The Fame Points add up and you progress through levels while earning status titles, special items, and Rewards. Go for Level 50&#151;become a famous Ka-ching! star&#151;and win more than 12,000 Rewards!<br>
							  <br>
							</p>
							
							
							<hr class="contentsep">
							
							<h6><a name="24"></a>View 3 media files daily and earn!</h6>
							<p>Sign in to the Kaneva.com web site using the email address and password you gave us when you signed up.</p>
							<p>Next, click on the <b>Entertainment</b> button in the top navigation. </p>
							<p>(Earn Fame Points once per day when you view 3 media files)<br>
							  <br>
							  <br>
							 
							</p>
						   
						
						</td>
						<td valign="top"><img src="../images/2avatars.jpg" width="206"></td>
					</tr>
					<tr>
						<td colspan="2"> <a href="world-of-kaneva-fame.kaneva"><img src="../images/worldfame-homepage-btn.jpg" border="0"></a><br></td>
					</tr>
				</table>


			</td>
		</tr>
	</tbody>
</table>