<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva has your favorite Flash Widgets 
MetaDataTitle: <meta name="title" content="Kaneva has your favorite Flash Widgets " />
MetaDataDescription: <meta name="description" content="Check out flash widgets - photo slideshows, animated graphics, clocks, text scrollers... See something you like? Showcase it on your 2D profile and in your FREE 3D HOME!" />
MetaDataKeywords: <meta name="keywords" content="flash widgets, photo slideshows, pics" />


<span style="color:#13667a;font-size:17px;">Special Features</span>

<h2 id="page">Flash Widgets</h2>
<table cellpadding="0" width="722" border="0">
    <tbody>
        <tr>
            <td><img alt="Flash Widget" hspace="20" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/flashwidgets.jpg" align="left" vspace="5" />
            <div class="title">Animated Flash Widgets in World! </div>
            <p>Showcase your favorite flash widgets like photo slideshows, animated graphics, clocks, text scrollers, and more on the wall of your 3D home or hangout!</p>
            <div><span style="font-size: 6pt">(Note: currently interactive Flash is not supported.)</span><br />
            &nbsp;</div>
            <div>&nbsp;</div>
            <p><a class="subtitle" href="http://www.kaneva.com/watch/watch.kaneva?type=8&amp;ob=adds&amp;wi=30"></a>&nbsp;</p>
            <p>&nbsp;</p>
            <table cellspacing="0" cellpadding="3" width="100%" border="0">
                <tbody>
                    <tr>
                        <td>
                        <h3>How Do They Work?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table cellspacing="0" cellpadding="3" width="90%" border="0">
                            <tbody>
                                <tr>
                                    <td width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                                    <td>Visit <a href="http://www.kaneva.com/watch/watch.kaneva?type=8&amp;ob=adds&amp;wi=30" target="_new">The Flash Widgets section</a> of the Entertainment pages, find a widget you like, and click&nbsp; <strong>Add to my library</strong>.</td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                                    <td>In the Virtual World, visit the Frame store in the Kaneva Mall to buy a Flash Frame.</td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" width="25" /></td>
                                    <td>In your 3D home, click the clipboard icon to open your inventory, select your new Flash Frame, and click <strong>Use</strong>.</td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/4_step.gif" width="25" /></td>
                                    <td>Finally, right-click the frame, click <strong>Change Widget</strong>, select a Flash widget to display, and click <strong>OK</strong>. </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
