<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Virtual World of Kaneva - Kaneva Community
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />


<table border="0" cellpadding="2" width="100%">
    <tbody>
        <tr>
            <td colspan="2">
            <div class="title">Kaneva Special Features Amp Up The Fun!</div>
            <p>Check out all of the newest, featured things that Kaneva offers. Ways to interact and get involved that will blow your mind.</p>
            <p>From Dancing in a game, to watching a streaming TV feed in the world, there are a ton of different ways to make Kaneva full of excitement.</p>
            </td>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/virtual-dance-game.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/danceparty3d.jpg" border="0" height="125" width="234" /></a></td>
        </tr>
        <tr>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/adult-chat-rooms.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/accesspass.jpg" border="0" height="125" width="234" /></a></td>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/virtual-dj.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/covercharge.jpg" border="0" height="125" width="234" /></a></td>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/tv-online.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/Streamingtv.jpg" border="0" height="125" width="234" /></a></td>
        </tr>
        <tr>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/create-3-d-objects.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/patterns.jpg" border="0" height="125" width="234" /></a></td>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/flash-widgets.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/flashwidgets.jpg" border="0" height="125" width="234" /></a></td>
            <td align="center" valign="middle"><a href="http://www.kaneva.com/3d-virtual-world/animated-avatars.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/emotes.jpg" border="0" height="125" width="234" /></a></td>
        </tr>
    </tbody>
</table>
