<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Create with thousands of Kaneva textures
MetaDataTitle: <meta name="title" content="Create with thousands of Kaneva textures" />
MetaDataDescription: <meta name="description" content="Or upload your own patterns. Make your 3D Home your own . . . you can now decorate (texture) furniture, walls and floors with your favorite photo or pattern." />
MetaDataKeywords: <meta name="keywords" content="textures, 3d patterns, create 3d objects" />

<span style="color:#13667a;font-size:17px;">Special Features</span>

<h2 id="page">Patterns</h2>
<img alt="Flash Widgets" hspace="20" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/patterns.jpg" align="left" vspace="5" />
<div class="title">Add patterns to your furniture, walls, and floors </div>
<br />
<p>Make your 3D Home your own . . . decorate furniture, walls and floors with your favorite pattern. Paint your walls, or change the fabric on your couch.</p>
<br />
<p>Select from thousands of patterns already added by Kaneva members, or upload your own.</p>
<p class="subtitle">&nbsp;</p>
<div><a class="subtitle" href="http://www.kaneva.com/watch/watch.kaneva?type=6&amp;ob=raves&amp;wi=0">Visit the Patterns section of the Entertainment pages for a huge selection!</a> </div>
<p>&nbsp;</p>
<table cellspacing="0" cellpadding="3" width="100%" border="0">
    <tbody>
        <tr>
            <td>
            <h3>How Does It Work?</h3>
            </td>
        </tr>
        <tr>
            <td align="right">
            <table cellspacing="0" cellpadding="3" width="90%" border="0">
                <tbody>
                    <tr>
                        <td width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                        <td>In your 3D home, right-click on furniture, walls, and click <strong>Change Pattern</strong>.</td>
                    </tr>
                    <tr>
                        <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                        <td>If there are no patterns available, click <strong>Upload New Pattern</strong> to open a web page where you can upload photos to use as repeating patterns. Or, you can search for patterns created by others to add to your Library. Then return to the game, close the Pattern Browser, and click <strong>Change Pattern</strong> again. </td>
                    </tr>
                    <tr>
                        <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" width="25" /></td>
                        <td>Select a pattern, and click <strong>OK</strong>. Then click <strong>OK</strong> again.</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
