<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Watch streaming TV in the 3D world of Kaneva
MetaDataTitle: <meta name="title" content="Watch streaming TV in the 3D world of Kaneva" />
MetaDataDescription: <meta name="description" content="Your favorite streaming TV channels - live sports, news, entertainment, and more on your 3D TV! Invite friends over to watch your favorite show in your 3D home." />
MetaDataKeywords: <meta name="keywords" content="streaming tv, online tv, watch tv online, virtual tv" />


<span style="color:#13667a;font-size:17px;">Special Features</span>


<h2 id="page">Streaming TV</h2>
<table cellpadding="0" width="722" border="0">
    <tbody>
        <tr>
            <td>
            <table cellpadding="0" width="100" align="right" border="0">
                <tbody>
                    <tr>
                        <td><img height="67" alt="Frame N Go" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/eshack.jpg" width="100" /></td>
                    </tr>
                    <tr>
                        <td class="note">TVs available at e-Shack - West Wing</td>
                    </tr>
                </tbody>
            </table>
            <img alt="Streaming TV" hspace="20" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/Streamingtv.jpg" align="left" vspace="5" />
            <div class="title">Watch Streaming TV in World!</div>
            <p>Watch your favorite streaming TV channels like live sports, news, entertainment, and more on your 3D TV! Invite friends over to watch your favorite show or host a party for the big game!</p>
            <p>&nbsp;</p>
            <p><a href="http://www.kaneva.com/watch/watch.kaneva?type=7&amp;ob=newest&amp;wi=7 ">Visit the Streaming section of the Entertainment section to look for streams!</a></p>
            <table cellspacing="0" cellpadding="3" width="100%" border="0">
                <tbody>
                    <tr>
                        <td>
                        <h3>How Does It Work?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                        <table cellspacing="0" cellpadding="3" width="90%" border="0">
                            <tbody>
                                <tr>
                                    <td width="25"><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1_step.gif" width="25" /></td>
                                    <td>Visit <a href="http://www.kaneva.com/asset/publishedItemsNew.aspx">My Media</a>, and click&nbsp; <strong>Add to Media Library</strong>.</td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/2_step.gif" width="25" /></td>
                                    <td>Click the <strong>Add TV Channels</strong> tab, and follow the directions on the right side of the page to find content and upload.</td>
                                </tr>
                                <tr>
                                    <td><img height="25" alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/3_step.gif" width="25" /></td>
                                    <td>In your 3D home, right-click on your television and click <strong>Change Media</strong>, select a playlist that contains streaming TV, and click <strong>OK</strong>. </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
