<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DuplicateGlids.ascx.cs" Inherits="SiteManagement.usercontrols.DuplicateGlids" %>


<table>
    <tr>
        <td style="vertical-align:top">Glid List</td>
        <td>
            <asp:TextBox ID="txtGlidList" runat="server" Columns="100" Rows="20" TextMode="MultiLine"></asp:TextBox>
        </td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td>
		</td>
		<td>
			<asp:Button ID="btnCopyGlids" Text="Save" OnClick="btnCopyGlids_Click" runat="server" />
		</td>
		<td>
		</td>
	</tr>
</table>
<table>
    <tr>
        <th>Old</th>
        <th>New</th>
    </tr>
    <asp:Literal id="litResults" runat="server"></asp:Literal>
</table>