<%@ Page language="c#" Codebehind="FullScreen.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.flash.omm.FullScreen" %>
<HTML>
	<HEAD>
		<title>Kaneva. Imagine What You Can Do.</title>
		<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<meta name="title" content="Kaneva. A Unique Online Community and 3D Social Network.">
		<meta name="description" content="Where your Profile, Friends, Media and favorite online Communities are teleported from the web into a 3D Virtual World full of people, places, entertainment and fun.  ">
		<meta name="keywords" content="online community, social network, meet people, friends, networking, games, mmo, movies, 3D, virtual world, sharing photos, trailers, video, journals, blog, bands, music, rate pics, digital, rpg, entertainment, join groups, forums, online social networking, caneva, kaneva, kaneeva, kanneva, kineva">
		<script language="JavaScript" type="text/javascript" src="../../jscript/SWFObject/swfobject.js"></script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<!--<asp:PlaceHolder runat="server" id="phStream" />-->
		</form>
	</body>
</HTML>
