/* HEADER */
/* CSS Document: Home Page 01-23-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(nav_home.css);
@import url(../base/footer.css);


/* HOME PAGE CONTENT
*---------------------------------------------------------------------------*/	
.content_wrapper {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}
#flash {
	background: url("../../images/home_A/home_flash_background.jpg") no-repeat 9px 0px;
	height: 425px;
	width: 974px;
	display: block;
	padding-left: 9px;
}
#flash .getFlash {
	padding-top: 21px;
	padding-left: 20px;
	text-align: left;
}
#flash .startBtn {
	padding-top: 283px;
	padding-left: 751px;
}
#flash .startBtn a:link, #flash .startBtn a:visited {
	text-indent: -5000px;
	background: url("../../images/home_A/btn_start.jpg") no-repeat 0px -54px;
	display: block;
	height: 54px;
}
#flash .startBtn a:hover {
	background: url("../../images/home_A/btn_start.jpg") no-repeat 0px 0px;
}
#flash .kanSignup 
{
	height:42px;
	width:90px;
	position:relative;
	top:374px;
	left:870px;
	color:#ccc;
}
#flash .kanSignup a {color:#fff;margin-left:6px;}
#flash .fbSignup
{
	height:42px;
	width:248px;
	position:relative;
	top:320px;
	left:620px;
}
#flash .chevrons
{
	background: url("../../images/home_A/chevrons.gif") no-repeat 9px 0px;
	height:55px;
	width:606px;
	position:relative;
	top:272px;
	left:4px;
}
#flash .chevrons img
{
	margin-top:14px;
}

.subFeature_area {
	padding-left: 9px;
}
.subFeature {
	background: url("../../images/home_A/subFeature_backer.jpg") no-repeat;
	height: 289px;
	width: 274px;
	float: left;
	text-align: left;
	margin: 5px 0px 0px;
	padding: 10px 25px 0px;
}
.subFeature h2 {
	margin: 0px;
	padding: 12px 0px 10px;
	font-weight: normal;
	font-size: 22px;
}
.subFeature p {
	margin: 10px 0px;
	padding: 0px;
}
.seo {
	color: #3ec3e3;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}
.seo h3 {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
}
.seo h4 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
}
.seo p {
	margin: 5px 0px;
	padding: 0px;
	font-size: 11px;
	text-align:left;
	color: #ffffff;
}
.seo a:link, .seo a:visited 
{
    color: #BBF3FE;
    text-decoration: underline;
    }
.seo a:hover 
{
    text-decoration: none;
    }
input.start {
	color: #999999;
}

/* ALTERNATE HOME PAGE CONTENT
*---------------------------------------------------------------------------*/	
#altFlash {
	width: 974px;
	display: block;
	padding-left: 9px;
	background: url("../../images/home_A/flash_backer.gif") no-repeat 9px 0px;
}
#altFlash .jpgArea {
	text-align: left;
	padding: 0px;
	height: 354px;
}
#altFlash .startBtn {
	padding: 0px;
	background: url("../../home_A/javascript_slideShow/slideShow_bottom.gif") no-repeat 0px 0px;
	height: 73px;
	width: 973px;
	margin: 0px;
	position: relative;
	text-align: left;
}
#altFlash .startBtn div {
	display: block;
	float: left;
	width: 740px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #022f43;
	height: 57px;
	line-height: 2em;
}
#altFlash .startBtn a:link, #altFlash .startBtn a:visited {
	text-indent: -5000px;
	background: url("../../images/home_A/btn_startNow.jpg") no-repeat 0px -58px;
	display: block;
	height: 57px;
	width: 212px;
	margin: 0px 13px 0px 0px;
	padding: 1px 0px 0px;
	float: right;
}
#altFlash .startBtn a:hover {
	background: url("../../images/home_A/btn_startNow.jpg") no-repeat 0px 0px;
}
