/* HEADER */
/* CSS Document: Home Page 01-23-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(nav_home.css);
@import url(../base/footer.css);


/* HOME PAGE CONTENT
*---------------------------------------------------------------------------*/	

.content_wrapper {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}

#ContentContainer {
	width: 988px;			
	text-align: left;
	background-color: #FFFFFF;
}

#column1 {
	width: 620px;		
	float: left;
	padding: 10px;
	overflow: hidden;
	background-color: #FFFFFF;
}

#column2 {
	width: 324px;	
	float: right;	
	background: #efefef;	
	/* overflow: hidden; */
	
	border-left: solid 1px #018aaa;
}

hr 
{
	margin: 10px 0 10px 0;
}

p {
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

ol li{
	list-style: none;
}


.homepageHead
{	
	color: #018aaa;	
	font-size:28px;	
	font-weight:bold;
	padding: 10px 0px 20px 0px;
}

.homepageHeadImg
{
	padding: 0 0 10px 0;
}

#homeWrapper 
{
	padding-left: 16px;
}

#homeWrapper label {
	color: #018aaa;	
	font-size:17px;
	font-weight: bold;
	display: block;
	padding-top: 15px;
	
}

#homeWrapper li 
{
	height: 85px;
}

.sideImage 
{
	float: left;
	padding-right: 5px;	
}

.homeCallout
{
	clear: both;
}

.headSteps
{
	color: #018aaa;	
	font-size:12px;	
	font-weight:bold;
	padding: 20px 0px 20px 300px;
}
.headStep
{
	float:left;
	height: 30px;
	width: auto;
	text-align: left;	
}
.headStepName
{
	font-size:18px;	
}
.headStepDivider
{
	font-size:18px;
	margin: 0 10px 0 10px;	
	color: #018aaa;
}


/* Registration Form 
*--------------------------------------------------------*/

.homepageJoin
{
	font-weight: bold;
	font-size: 41px;
}

.homepageFree
{
	font-weight: bold;
	font-size: 18px;
	margin: 0 0 10px 0;
	padding: 0px;
}

fieldset, legend, ol, li {
	margin: 0px;
	padding: 0px;
	border: none;
}


fieldset li {
	padding-bottom: 5px;
}

fieldset label 
{
	color: #000;
	text-align: right;
	float: left;
	width: 80px;
	padding: 0 10px 0 0;
	font-weight: bold;
}
	 
#homepageRegWrapper {
	background: #efefef;
	color: #13667a;	
	font: 11px Verdana;
	padding:10px;	
}

#homepageRegWrapper td {
	vertical-align: top;
}	

#homepageRegWrapper .formCol1 {
	width: 200px;
}	

.errBox {
	width: 90%; 
	overflow: hidden;
	margin-bottom: 5px;
}

.username 
{
	padding: 0 0 10px 80px;
}
.note {
	font-size: 10px;
	color:#898989
}

.regNextButton 
{
	margin-left: 160px;
	margin-bottom: 20px;
}


/* SEO 
*---------------------------------------------------*/

.seo {
	color: #3ec3e3;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}
.seo h3 {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
}
.seo h4 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
}
.seo p {
	margin: 5px 0px;
	padding: 0px;
	font-size: 11px;
	text-align:left;
	color: #ffffff;
}
.seo a:link, .seo a:visited 
{
    color: #BBF3FE;
    text-decoration: underline;
    }
.seo a:hover 
{
    text-decoration: none;
}

/*h1.seo {font-size: 14px; font-family: verdana, arial, sans-serif; color: #3ec3e3; padding: 10px 8px 0 8px; margin: 0; position: relative;line-height: 16px;}*/
h1.seo {font-size: 14px; text-align: left; color: #ffffff; padding: 10px 0px 0 0px; margin: 0; position: relative;line-height: 16px;}
h2.seo {font-size: 14px; text-align: left; color: #ffffff; padding: 0;margin: 0;line-height: 16px; }