/* HEADER */
/* CSS Document: Home Page 9/27/2012 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(nav_home.css);

/* TOP-LEVEL OVERRIDES
*---------------------------------------------------------------------------*/	
html, body, form, #wrapper {
    height:100%;
}
body {
    background-color:#000000;
    background-image:none;
}
#wrapper {
    min-height:778px;
    max-height:1280px;
    position:relative;
}
input, a {
    outline:none;
}


/* HOMEPAGE HEADER
*---------------------------------------------------------------------------*/	
.nav_wrapper {
    width:100%;
    height:76px;
    background:#ffffff url('../../images/home_signup/graphic_400x76_greyNoiseHeader.jpg') repeat-x left top;
}
.mastHead .logo {
    width:200px;
    height:32px;
    margin-top:21px;
    margin-left:9px;
    background:url('../../images/landing_page/login_form.png') -80px -30px;
}
.mastHead .logo a { 
    width:200px;
    height:32px;
}
.mastHead .signIn {
    width:507px;
    margin-right:8px;
    margin-top:7px;
}
.mastHead .signIn .divider {
    margin:0px 10px 0 10px;
    position:relative;
    top:-7px;
}
.mastHead .signIn .fbButton {
    margin:2px 0 0 0;
}
.mastHead .signIn .inputField {
    padding-top:0px;
    position:relative;
}
.mastHead .signIn .inputField input {
    padding-left:5px;
    margin-top:2px;
    font-size:11px;
    color:#333333;
}
.mastHead .signIn .chkRemember {
    margin:0;
    position:relative;
    top:3px;
}
.mastHead .signIn .chkRemember input {
    padding:0;
}
.mastHead .signIn .keepSignedIn {
    position:absolute;
    top:40px;
    left:20px;
}
.mastHead .signIn li a.forgot:link, 
.mastHead .signIn li a.forgot:visited {
    position:absolute;
    top:40px;
    left:0;
    line-height:14px;
    display:inline;
    margin:0;
    text-decoration:none;
    color:#ffffff;
}
.mastHead .signIn li a.forgot:hover, 
.mastHead .signIn li a.forgot:active {
    text-decoration:underline;
}
.mastHead .signIn li.button a {
    margin-top:12px;
    width:87px;
    height:27px;
}
.mastHead .signIn li.button a:link, 
.mastHead .signIn li.button a:visited {
    background:url("../../images/landing_page/login_form.png") 0 0;
}
.mastHead .signIn li.button a:hover {
    background:url("../../images/landing_page/login_form.png") -89px 0;
}
.mastHead .signIn li.button a:active {
    background:url("../../images/landing_page/login_form.png") -178px 0;
}
.mastHead .signIn li.fbButton {
    margin-top:14px;
}
.mastHead .signIn li.fbButton a {
    display:block;
    width:36px;
    height:36px;
}
.mastHead .signIn li.fbButton a,
.mastHead .signIn li.fbButton a:link,
.mastHead .signIn li.fbButton a:visited {
    background:url("../../images/landing_page/login_form.png") 0 -28px;
}
.mastHead .signIn li.fbButton a:active,
.mastHead .signIn li.fbButton a:hover {
    background:url("../../images/landing_page/login_form.png") -40px -28px;
}
.watermark {
    color:#999999;
}

/* HOMEPAGE MAIN CONTENT
*---------------------------------------------------------------------------*/	
.content_wrapper {
    width:862px; 
    height:413px;
    text-align:left; 
    margin: 0 auto 0 auto;
    padding:36px 64px 0 64px;
}
.welcomeMessage {
    float:left;    
    position:relative;
}
.welcomeMessage h1 {
    font-size:34px;
    color:#0E4B60;
    font-weight:normal;
    line-height:28px;
}
.welcomeMessage h2 {
    font-size:16px;
    color:#0E4B60;
    font-weight:normal;
    margin-left:2px;
}
.welcomeMessage .flyingElephant {
    position:absolute;
    top:140px;
    left:200px;
}


/* SIGNUP FORM & NON-SELECT INPUTS
*---------------------------------------------------------------------------*/	
.signupForm {
    width:322px; 
    height:383px;
    float:right; 
    position:relative;
    background:url('../../images/home_signup/graphic_327x413_boxStartNow.png') no-repeat left top;
    padding:15px 4px 15px 4px;
}
.signupForm h2 {
    color:#ffffff; 
    font-size:16px; 
    font-weight:normal; 
    position:relative; 
    left:78px; 
    margin:2px 0 10px 0;
    padding:0;
}
.signupForm .formContainer {
	width:270px;
	margin:0 auto;
	padding:0; 
}
.signupForm div {
    padding:0 0 6px 0; 
    line-height:24px;
    text-align:left;
    width:270px;
    margin:6px 0;
}
.signupForm label {
    color:#ffffff; 
    font-size:11px; 
    font-weight:normal; 
    float:left; 
    margin:0 6px 0 0; 
    display:block; 
    width:72px; 
    text-align:right;
}
.signupForm div.birthday { 
	margin-top:0;
    margin-bottom:2px;
}
.signupForm div.birthday label {
	font-size:14px;
	text-align:left;
	line-height:10px;
	margin-bottom:6px;
	padding-left:1px;
}
.signupForm div.birthday div {
	padding:0;
	margin:0;
}
.signupForm div.labeltxt {
	color:#999;
	font-size:16px;
	position:absolute;
	left:36px;
	line-height:18px;
	width:auto;
	padding:0;
}
.signupForm div.labeltxt.lastname {
	left:173px;
	float:right;
}
.signupForm .zipcontainer {
	margin-bottom:0;
}
.signupForm div.zipcode {
	width:270px;
	margin:auto;
	margin-bottom:0; 
	display:inline-block;
}
.signupForm div.zipcode .labeltxt{
	left:208px;
}
.signupForm input {
    color:#000;
    font-size:16px;
    height:26px;
    border:1px solid #555;
    width:263px; 
    padding:2px 0 0 5px;
    margin:auto;
    background-color:#fff;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.signupForm input:focus {
	border-color:yellow;
}
.signupForm input .error {
	border-color:red;
}
.signupForm input.name {
	width:125px; 
} 
.signupForm input.last.name {
	margin-right:0; 
	float:right;
}
.signupForm input.postalCode {
    width:91px;
    margin:0;
    float:right;
}
.signupForm a.startNow:link, 
.signupForm a.startNow:visited {
    background:url('../../images/home_signup/join_now_btn_sheet_270.png') no-repeat 0 0;
    display:block; 
    width:270px; 
    height:35px;
    float:left; 
} 
.signupForm a.startNow:hover {
    background:url('../../images/home_signup/join_now_btn_sheet_270.png') no-repeat -271px 0;
} 
.signupForm a.startNow:active {
    background:url('../../images/home_signup/join_now_btn_sheet_270.png') no-repeat -542px 0;
} 
.signupForm .terms {
    line-height:11px;
    text-align:left; 
    font-size:10px; 
    color: #999;
    margin:0; 
    padding:5px 0 0 2px;
    overflow:visible;
    clear:both;
    width:99%; 
}
.signupForm .terms a {
    color: #ccc; 
}
.signupForm .gender {
	color:#ddd;
	font-weight:normal;
	text-align:left;
	margin:auto auto 10px 2px; 
    height:14px;
}
.signupForm .gender input[type="radio"] {
	background:transparent;
	width:14px;
	height:14px;
	margin-right:8px;
	border:0px solid transparent;
}
.signupForm .gender div {
	padding:0;
	margin:0;
	width:90px;
	height:14px;
	display:inline-block;
	text-align:left;
}
.signupForm .gender .male {
	text-align:left;
}
.signupForm .gender span {
	position:relative;
	top:-3px;
}

/* HOMEPAGE BOTTOM CONTENT
*---------------------------------------------------------------------------*/	
.bottom_outer_wrapper {
    height: 234px;
	width:100%; 
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
}
.bottom_inner_wrapper {
    height: 234px;
    text-align:left; 
    text-shadow:1px 1px #101010;
    margin:0 auto 0 auto;
    padding:0;
    background:url("../../images/home_signup/graphic_1x234_footerBackground.png") repeat-x left top;
}
.seo_wrapper {
    width:970px;
    margin: 0 auto 0 auto;
}
.seo {
	color: #3ec3e3;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}
.seo h1 {
    font-size: 14px; 
    font-family: verdana, arial, sans-serif; 
    text-align: left; 
    color: #ffffff; 
    padding: 10px 0px 0 0px; 
    margin: 0; 
    position: relative;
    line-height: 16px;
    font-weight:bold;
}
.seo h2 {
    font-size: 14px;
    font-family: verdana, arial, sans-serif;
    color: #ffffff; 
    text-align: left; 
    padding: 0;
    margin: 0;
    line-height: 16px;
}
.seo h3 {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
}
.seo h4 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
}
.seo p {
	margin: 5px 0px;
	padding: 0px;
	text-align:left;
	font-size:12px; 
	color:#ffffff;
}
.seo a:link, 
.seo a:visited {
    font-weight:bold;
    text-decoration: underline;
    font-size:12px; 
    color:#ffffff;
}
.seo a:hover {
    text-decoration: none;
}
.footer a:link, 
.footer a:visited {
    text-decoration:none;   
}
.footer a:hover, 
.footer a:active{
    text-decoration:underline;   
}
.footer li {
    margin-left:1px;
    margin-right:1px;
}


/* JQUERY SELECTBOXES
*---------------------------------------------------------------------------*/	
/* Dropdown control */
.selectBox-dropdown {
    position: relative;
    float:left;
    color:#333333; 
    font-size:12px;
    height:28px;
    border:1px solid #555;
    padding:0;
    margin:0 5px 0 0;
    line-height: 24px;
	text-decoration: none;
	display: block;
	background-color:#fff;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.selectBox-dropdown:hover, 
.selectBox-dropdown:active,
.selectBox-dropdown:focus {
    text-decoration:none;
    color:#333333; 
    background-color:#fff;
}
.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
	padding: 0px 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
	background: url(../../jscript/selectBox/images/jquery.selectBox-arrow.gif) 50% center no-repeat;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border-style:none; /* should be the same border width as .selectBox-dropdown */
	background: #fff;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
	border:1px solid #fff;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}
.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
	font-size:12px;
	color:#333333;
}
.selectBox-options LI.selectBox-hover A {
    color:#333333;
	background-color: #ebebeb;
	text-decoration:none;
}
.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
	background-color: #ebebeb;
}
.selectBox-options .selectBox-optgroup {
	color: #333333;
	background: #fff;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
/* Individual Dropdowns - Selected by location in regards to the <select> */
.signupForm select.genderSelect + .selectBox-dropdown {
    color:#333333;
    min-width:226px;
    max-width:226px;
}
.signupForm select.genderSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.monthSelect + .selectBox-dropdown,
.signupForm select.yearSelect + .selectBox-dropdown,
.signupForm select.daySelect + .selectBox-dropdown {
    height:23px;
    text-align:left;
    line-height:23px;
}
.signupForm select.monthSelect + .selectBox-dropdown {
    color:#333333;
    min-width:94px;
    max-width:94px;
}
.signupForm select.monthSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.daySelect + .selectBox-dropdown {
    color:#333333;
    min-width:50px;
    max-width:50px;
}
.signupForm select.daySelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.yearSelect + .selectBox-dropdown {
    color:#333333;
    min-width:66px;
    max-width:66px;
}
.signupForm select.yearSelect + .selectBox-dropdown:focus {
    color:#333333;
}
.signupForm select.countrySelect + .selectBox-dropdown {
    color:#333333;
    min-width:164px;
    max-width:164px;
    margin:0 3px 0 0;
    float:left;
    text-align:left;
    font-size:15px;
    line-height:26px;
    float:left;
}
.signupForm select.countrySelect + .selectBox-dropdown:focus {
    color:#333333;
}

/*-----------(HOMEPAGE Footer)-------------- */	
.footer {text-align:center;margin-right:auto;margin-left:auto;padding-top:10px;padding-bottom:10px;color:#fff;font-size:10px;clear:both;}
.footer ul {list-style:none;margin:5px 0;padding:0;}
.footer li {display:inline;margin-right:3px;margin-left:3px;margin-bottom:10px;}
.footer a:link, .footer a:visited {color:#fff;text-decoration:underline;}
.footer a:hover {text-decoration:none;color:#fff;}
