/* HEADER */
/* CSS Document */


/* HOME PAGE NAVIGATION
*---------------------------------------------------------------------------*/	

.nav_wrapper {
	height: 73px;
}
.mastHead {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
.logo {
	width: 275px;
	height: 45px;
	background: url("../../images/home/kaneva_logo_275x45.gif") no-repeat;
	float: left;
	margin-top: 17px;
	margin-bottom: 0px; 
}
.logo a {
	display: block;
	height: 43px;
	width: 265px;
}
.logo span {
	display: none;
}
.signIn {
	width: 524px;
	float: right;
	padding: 0px;
	margin: 9px 0px 0px;
	text-align: right; 
		}
.signIn ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
		}
.signIn li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: left;
	display: inline;
	float: left;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
		}
.signIn li.inputField {
	width: 180px;
	padding-top: 5px;
		}
.signIn .chkRemember input 
{	
	margin:4px 0px 0px 0px;	
}

.signIn li a.forgot {
	margin-top: 6px;
	display: block;
		}
.signIn li a:link, .signIn li a:visited {
	font-size: 10px;
	line-height: 12px;
	font-weight: normal;
	color: #B3D6F2;
	text-decoration: underline;
		}
.signIn li a:hover  {
	color: #FFFFFF;
	text-decoration: none;
        }
.signIn li.button a:link, .signIn li.button a:visited {
	display: block;
	padding: 0px;
	margin: 11px 0px 0px;
	background: transparent url("../../images/home/btn_signIn1.gif") no-repeat 0px -37px;
	text-indent: -5000px;
	height: 37px;
	width: 84px;
		}
.signIn li.button a:hover  {
	display: block;
	background: transparent url("../../images/home/btn_signIn1.gif") 0px 0px;
	text-indent: -5000px;
        }

.signIn li.divider {margin:11px 18px 0 10px;}
.signIn li.fbText {margin-top:15px;text-align:right}
.signIn li.fbText span {font-weight:bold;}
.signIn li.fbButton {margin:11px 10px 0 0;text-align:right;cursor:pointer;}