<%@ Control Inherits="CuteEditor.EditorUtilityCtrl" Language="c#" AutoEventWireup="false" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<div id="outer"><div id="div_demo">[[DemoText]]</div></div>
<script type="text/javascript">

var OxOb3b7=["cssText","style"];function UpdateState(){div_demo[OxOb3b7[1]][OxOb3b7[0]]=element[OxOb3b7[1]][OxOb3b7[0]];} ;function SyncToView(){} ;function SyncTo(element){} ;

</script>
