/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */

body 
{ 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #535353;
	background: #FFFFFF url("../../images/themes-join/tnt/tnt_bg.jpg");
	}
	

/*-----------(PAGE HEADER STYLE)-------------- */

#templateHeader 
{
	width: 768px;
	height: 120px;
	display: block;
	background: transparent url("../../images/themes-join/tnt/tnt_header.jpg") top left no-repeat;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	}
	
#templateHeader h1 {
	display: none;
	}

/*-----------(REGISTER INFO PAGE)-------------- */

.registerButton  
{
	display: block;
	background-image: url("../../images/themes-join/tnt/tnt_btn_next.gif");
	width: 89px;
	height: 25px;
} 

/*-----------(COMPLETION PAGE)-------------- */

#redeemCardText {
    display:none;
}

#redeemCardButton {
    display:none;
}

.nextButton  
{
	display: block;
	background-image: url("../../images/themes-join/tnt/tnt_btn_lets_go.gif");
	width: 89px;
	height: 25px;
	float: none;
	margin: 50px 0 0 170px;
}

#avatarImage
{
	display: block;
	background-image: url("../../images/themes-join/tbs/tbs_avatars.jpg") ;
	width: 230px;
	height: 323px;
	float: none;
}