/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */


body 
{ 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #535353;
	background: #FFFFFF url("../../images/themes-join/tbs/tbs_bg.jpg");
	}
	

/*-----------(PAGE HEADER STYLE)-------------- */

#templateHeader 
{
	width: 768px;
	height: 120px;
	display: block;
	background-color: #FFFFFF;
	background: url("../../images/themes-join/tbs/tbs_header.jpg") top left no-repeat;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	}
	
#templateHeader h1 {
	display: none;
	}

#templateHeader img {
	display: block;
	}


/*-----------(REGISTER INFO PAGE)-------------- */

.registerButton  
{
	display: block;
	background-image: url("../../images/themes-join/tbs/tbs_btn_next.jpg");
	width: 153px;
	height: 48px;
} 

/*-----------(COMPLETION PAGE)-------------- */

#redeemCardText {
    display:none;
}

#redeemCardButton {
    display:none;
}

.nextButton 
{
	display: block;
	background-image: url("../../images/themes-join/tbs/tbs_btn_lets_go.jpg");
	width: 149px;
	height: 45px;
	float: none;
	margin: 40px 0 0 140px;
}

#avatarImage
{
	display: block;
	background-image: url("../../images/themes-join/tbs/tbs_avatars.jpg");
	width: 230px;
	height: 323px;
	float: none;
}