/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */


body 
{ 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #535353;
	background: #FFFFFF url("../../images/themes-join/dp3d/dp3d_bg.jpg");
	}
	

/*-----------(PAGE HEADER STYLE)-------------- */

#templateHeader 
{
    
	width: 768px;
	height: 120px;
	display: block;
	background: transparent url("../../images/themes-join/dp3d/header.jpg") top left no-repeat;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	}
	
#templateHeader h1 {
	display: none;
	}


/*-----------(COMPLETION PAGE)-------------- */

#redeemCardText {
    display:inline;
    padding-top:50px;
}

#redeemCardButton {
    display:inline;
}

.nextButton  
{
	margin: 20px 0 0 60px;
}
