/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */


body {
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #535353;
	/* background: #FFFFFF url("../../images/dp3d_bg.jpg"); */
	}
	


/*-----------(PAGE HEADER STYLE)-------------- */

#templateHeader {
	width: 768px;
	height: 120px;
	display: block;
	background: transparent url("../../images/themes-join/bzzagent/header.jpg") top left no-repeat;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	}
	
#templateHeader h1 {
	display: none;
	}


/*-----------(COMPLETION PAGE)-------------- */

#redeemCardText {
    display:none;
}

#redeemCardButton {
    display:none;
}

.nextButton  
{
	float:none;
	margin: 30px 0 0 190px;
}
