/* HEADER */

/*
* Body Background / Margins
* ---------------------------------------------------- */


body {
	background-color: #CCCCCC;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	color: #535353;
	background-image: none;
	}
	





/*
* Global Type Styles
* ---------------------------------------------------- */

h1 {
	font-size: 19px;
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #13667A;
	}
	

	
h1 a:link, h1 a:visited, h1 a:hover {
	font-size: 16px;
	}
	

	
h2 {
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	color: #13667A;
	padding: 0;
	margin: 0;
	}
	
h3 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #476163;
	margin: 0 0 10px 0;
	margin: 0;
	position: relative;
	}
	
h4 {
	font-size: 13px;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	padding: 0;
	margin: 0;
	}


p, td, th {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #535353;
	}
	
p {
	padding: 10px 0 0 0;
	margin: 0;
	}
	
ul {
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px 0 0px 0;
	text-align: left;
	}
	
	ul li {
	padding-bottom: 5px;
	text-align: left;
	}
	
.note {
 	font-size: 9px;
 	color: #999999;
 	}
 	 .note a:link, .note a:hover, .note a:visited, .note a:active, .small a:link, .small a:active, .small a:hover, .small a:visited {
 	font-size: 9px;
 	}
 	


/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

/*-----------(BODY CONTAINER, CORNER IMAGES)-------------- */

.frTopLeft{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frTopLeft.gif");
	background-repeat: no-repeat;
	background-position:top right;
	
	}
	
.frTop{
	height: 6px;
	background-image:url("../../images/boxes/frTop.gif");
	background-position: top;
	}


.frTopRight{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frTopRight.gif");
	background-repeat: no-repeat;
	background-position: top left;
	}
	

.frBorderLeft{
	width: 6px;
	height: 100%;
	background-color: #FFFFFF; 
	border-left: 1px solid #DBDBDB;
	background-image: none;
	}
	
.frBgIntMembers {
	background-color: #FFFFFF;
	padding:  3px 5px 0 5px;
	background-image: none;
	}
	
.frBorderRight{
	width: 6px;
	height: 100%;
	background-color: #FFFFFF; 
	border-right: 1px solid #DBDBDB;
	background-image: none;
	}

.frBorderLeftGray{width:6px;height:100%;background-color:#eeeeee;border-left:1px solid #dbdbdb;background-image:none;}
.frBorderRightGray{width:6px;height:100%;background-color:#eeeeee;border-right:1px solid #dbdbdb;background-image:none;}
.frBgIntMembersGray {background-color:#eeeeee;padding:3px 5px 0 5px;background-image:none;}
.frBgIntMembersGray a.footlink, .frBgIntMembersGray a.footlink:hover, .frBgIntMembersGray a.footlink:active, .frBgIntMembersGray a.footlink:visited {font-size:10px;}
.registerfooter a.footlink, .registerfooter a.footlink:active, .registerfooter a.footlink:visited {text-decoration:none;color:#214f73;}
.registerfooter a.footlink:hover {background:transparent;text-decoration:underline;color:#214f73;}
.registerfooter td {font-size:10px;} 
 
.frBottomLeft{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frBottomLeft.gif");
	background-repeat: no-repeat;
	background-position: top right;
	}
	
.frBottom{
	height: 6px;
	background-image:url("../../images/boxes/frBottom.gif");
	background-position: bottom;
	}

.frBottomRight{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frBottomRight.gif");
	background-repeat: no-repeat;
	background-position: top left;
	}

.frBottomLeftGray{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frBottomLeft_gray.gif");
	background-repeat: no-repeat;
	background-position: top right;
	}
	
.frBottomGray{
	height: 6px;
	background-image:url("../../images/boxes/frBottom_gray.gif");
	background-position: bottom;
	}

.frBottomRightGray{
	width: 6px;
	height: 6px;
	background-image: url("../../images/boxes/frBottomRight_gray.gif");
	background-repeat: no-repeat;
	background-position: top left;
	}

	
/*-----------(MODULE STYLES USED THROUGHOUT SITE)-------------- */	

.module {
	margin: 0 0 10px 0;
	padding: 0;
	border-left: 1px solid #d4d5da;
	border-right: 1px solid #d4d5da;
	border-bottom: 1px solid #d4d5da;
	background: #FFFFFF url("../../images/bg_module.jpg") repeat-x 0 0;
	position: relative;
	display: block;
	text-align: center;
	}
	
	
.module span {
	text-align: left;
	}
	
 .module h1 {
	text-align: left;
	margin: 0 0 10px 0;
	padding: 0 0 0 15px;
	}
	
	
.module h2, .module .module h2 {
	margin: -2px 0 10px 0;
	padding: 0 0 0 15px;
	font-size: 13px;
	color: #13667A;
	position: relative;
	text-align: left;
	}
	
.module h2 img {
	vertical-align: middle;
	 margin:0 5px 0 0;
	}
	
.module td h2 {
	margin: 0 0 10px 0;
	padding: 0;
	}
	
.module h1 span.small {
	font-size: 13px;
	}
	
.module h2 span.hlink, h1 span.hlink, .module h3 span.hlink {
    position: absolute;
    right: 2%;
    text-align: right;
    width: auto;
    font-weight: normal;
    }
    
h1 span.smlink a {
    font-size: 12px;
    }
    
 
	
.module h2.tall {
	margin: -2px 0 0 0;
	padding: 0 0 0 15px;
	height: 35px;
	}
	
.module h2.tall span {
	font-size: 10px;
	font-weight: normal;
	}
	
.module h2.white {
	background-image: none;
	color: #476163;
	}
	
.module h3 {
	font-size: 12px;
	font-weight: normal;
	color: #535353;
	padding: 0 0 0 15px;
	margin: -10px 0 0 0;
	text-align: left;
	}

.module ul {
	padding-left: 35px;
	}
	
.module ul li {
	padding-bottom: 0;
	}
	
.module p, .module .module p {
	padding: 0;
	margin: 0;
	}
	
.module table {
	position: relative;
	margin-bottom: -5px;
	}
	
.whitebg {
	background: #FFFFFF url("../../images/bg_module_white.gif") repeat-x 0 0;
	}
	
/*-----------(MODULE CORNERS - STANDARD MODULE - NEW STYLE)-------------- */	
.module .ct, .module .ct .cl, .module .cb, .module .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 13px; position: relative;}
.module .ct, .module .cb { width: 100%; right: -3px;}
.module .ct .cl, .module .cb .cl { width: 12px; left: -6px; }
.module .ct { background: transparent url("../../images/corner-ne.gif") no-repeat top right; top: 0px; }
.module .ct .cl { background: transparent url("../../images/corner-nw.gif") no-repeat top left; }
.module .cb { background: transparent url("../../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.module .cb .cl { background: transparent url("../../images/corner-sw.gif") no-repeat top left; left: -5px; }

/*-----------(PAGE HEADER STYLE)-------------- */
#templateHeader 
{
    
	width: 768px;
	height: 120px;
	display: block;
	background: transparent url("../../images/themes-join/kaneva/header.jpg") top left no-repeat;
	padding: 0;
	margin: 0 0 20px 0;
	position: relative;
	}
	
#templateHeader h1 {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	color: #FFFFFF;
	top: 38%;
	left: 5%;
	font-size: 26px;
	}
	
#templateHeader h1 {
	display: none;
	}
	
/*-----------(FORM STYLES)-------------- */
.formspacer {
	height: 20px;
	}
	
.formspacer_small {
	height: 6px;
	}
	
.formspacer_messaging {
	height: 14px;
	}
	
.success {
	color: #009900;
	font-weight: bold;
	font-size: 10px;
	}
	
.failure {
	color: #cc0000;
	font-weight: bold;
	font-size: 10px;
	}
	
.module table.wizform, .module table.wizform table {
	margin: 0 auto;
	}

table.wizform p, table.wizform .module p {
	text-align: left;
	padding: 0 15px 10px 15px;
	}	


.wizform input.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}


.wizform textarea.biginput 
{
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
.wizform select.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
.wizform #preview_scrollbox {
	width: 240px;
	height: 325px;
	display: block;
	overflow: auto;
	border: 1px solid #CCCCCC;
	background: transparent url("../../images/bg_altrow.gif") repeat top left;
	}
	
.wizform #preview_scrollbox img {
	border: 1px solid #CCCCCC;
	padding: 2px;
	}

table.wizform h1, table.wizform .module h1 {
	text-align: left;
	margin: 0 0 10px 15px;
	padding: 0;
	}
	
table.wizform h2, table.wizform .module h2 {
	margin: 0 0 10px 15px;
	padding: 0;
	}
	
table.nopadding h2, table.nopadding h1, table.nopadding .whitebox h1, table.nopadding p {
	padding: 0;
	margin: 0;
	}
	
.wizform .unselected h2 {
	color: #c6c6c6;
	}
	
.wizform .unselected td {
	color: #c6c6c6;
	}
	
.wizform .unselected .radiobg {
	background-color: #eeeeee;
	}
	
.wizform .selected .radiobg {
	background-color: #caedfd;
	}

.wizform .fbprofilepic {float:left;} 
.wizform .fbprofilecb {float:left;}	

/*
* LINK STYLES
* ---------------------------------------------------- */

/*-----------(GLOBAL KANEVA LINKS)-------------- */	

a:link{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #018AAA;
	font-weight:normal;
	text-decoration:underline;
	}
	
a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #018AAA;
	font-weight:normal;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	text-decoration:none;
	font-weight:normal;
	background-color:#018AAA;
	color: #EEEEEE;
	}

a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#018AAA;
	font-weight:normal;
	text-decoration:underline;
	}
	
a.nohover:hover{
	background-color:transparent;
	}



/*-----------(MISC LINKS)-------------- */	

p.calloutBlock {
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../../images/li_greenarrow.gif") no-repeat right 4px;
	}
	.calloutBlock a:link, .calloutBlock a:active, .calloutBlock a:visited {
	font-weight: bold;
	font-size: 12px;
	color: #00ab00;
	}
	.calloutBlock a:hover {
	background-color: #ffffcc;
	text-decoration: none;
	}


a.tabLink:hover {
	color: #EEEEEE;
	}
	
.floatleft {
	float: left;
	display: block;
	}
	
.floatright {
	float: right;
	display: block;
	}


.highlightbg {
	background-color: #ffffcc;
	}

.highlightborder {
	border: 1px solid #CCCCCC;
	padding: 5px;
	}
	
#smallpage_spacer{
	height: 70px;
	}
 
.hide {
display: none;
} 

.aligncenter {
	text-align: center;
	margin: 0 auto;
	}
	
.alignleft {
	text-align: left;
	}
	
.alignright {
	text-align: left;
	}
	
.bold, a.bold:link, a.bold:visited, a.bold:active {font-weight: bold;}	
	
.bold {
	font-weight: bold;
	}
	
.italic {font-style: italic;}
.large, a.large:link, a.large:visited, a.large:active {font-size: 13px;}
.small { font-size: 10px;}
	
.clearboth {clear:both;}
.clearleft {clear:left;}
.clearright {clear:right;}

.largebold, a.largebold {font-size: 12px; font-weight: bold;}	



ul.bullet li {
	list-style: disc;
}


#primary, #tertiary
{
    display: none; 
}

.red {color: #ff0000;}

/*-----------(ERROR MESSAGE BOX)----------- */
.errBox
{
  width:100%;
  border:solid red 1px;
  background-color:#ffebe8;
  padding:10px;
  text-align:left;
}

/*-----------(REGISTER INFO PAGE)-------------- */

.registerButton  
{
	display: block;
	background-image: url("../../images/wizard_btn_next.gif");
	width: 136px;
	height: 41px;
} 

/*-----------(COMPLETION PAGE)-------------- */

#redeemCardText {
    padding-top: 20px;
    display: block;
}

#redeemCardButton {
    float: left;
    margin: 20px 0 0 70px;
	padding: 0 0 20px 0;
}

.nextButton  
{
	display: block;
	background-image: url("../../images/btn_letsgo.gif");
	width: 135px;
	height: 41px;
	float:left;
	margin: 20px 0 0 60px;
}

#avatarImage
{
	display: block;
	background-image: url("../../images/male_avatar.jpg");
	width: 132px;
	height: 250px;
	float: none;
}

.mastHead {
	color: #214f73;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.mastHead h1 {
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 10px;
	padding: 0px;
	font-weight: normal;
}
.mastHead p {
	margin: 0px 0px 3px;
	padding: 0px;
	color: #214f73;
}
.mastHead p.bold {
	font-weight: bold;
}
.masthead h1 {float:left;width:300px;}
.masthead img {float:right;margin:10px 20px 0 0;cursor:pointer;}
.masthead p {clear:both;}


