/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Abstract/abstract_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#415B25;
	border-right:1px solid #415B25;
	border-left:1px solid #415B25;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#415B25;
}
#chanPage .separator
{
	background-color: #415B25;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#DCF99D;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Abstract/abstract_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#A8C56A;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#A8C56A;
	border-right:1px solid #A8C56A;
	border-left:1px solid #A8C56A;
}

/* Text */
#chanPage .widgetText 
{
	color:#0B2E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#0B2E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#2A7A0A;
}
#chanPage A
{
}
#chanPage A:link {
	color:#0B2E00;
}
#chanPage A:active {
	color:#0B2E00;
}
#chanPage A:visited {
	color:#0B2E00;
}
#chanPage A:hover {
	color:#0B2E00;
}

