/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Game/game_bg.jpg) repeat fixed; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#CAD9A5;
	border-right:1px solid #CAD9A5;
	border-left:1px solid #CAD9A5;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#CAD9A5;
}
#chanPage .separator
{
	background-color: #CAD9A5;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#D4EF90;
	border-right:1px solid #D4EF90;
	border-left:1px solid #D4EF90;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Game/game_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#000000;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}

/* Text */
#chanPage .widgetText 
{
	color:#7BAC00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#7BAC00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#000000;
}
#chanPage A
{
}
#chanPage A:link {
	color:#7BAC00;
}
#chanPage A:active {
	color:#7BAC00;
}
#chanPage A:visited {
	color:#7BAC00;
}
#chanPage A:hover {
	color:#7BAC00;
}

