/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Fantasy/fantasy_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#020221;
	border-right:1px solid #020221;
	border-left:1px solid #020221;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#020221;
}
#chanPage .separator
{
	background-color: #020221;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#6CE5E0;
	border-right:1px solid #6CE5E0;
	border-left:1px solid #6CE5E0;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Fantasy/fantasy_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#B3E9E7;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#B3E9E7;
	border-right:1px solid #B3E9E7;
	border-left:1px solid #B3E9E7;
}

/* Text */
#chanPage .widgetText 
{
	color:#001C34;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#001C34;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#020221;
}
#chanPage A
{
}
#chanPage A:link {
	color:#001C34;
}
#chanPage A:active {
	color:#001C34;
}
#chanPage A:visited {
	color:#001C34;
}
#chanPage A:hover {
	color:#001C34;
}

