/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Music/music_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#000000;
}
#chanPage .separator
{
	background-color: #000000;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#AAD46E;
	border-right:1px solid #AAD46E;
	border-left:1px solid #AAD46E;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Music/music_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#E6E6E6;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#E6E6E6;
	border-right:1px solid #E6E6E6;
	border-left:1px solid #E6E6E6;
}

/* Text */
#chanPage .widgetText 
{
	color:#4D8400;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#4D8400;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#000000;
}
#chanPage A
{
}
#chanPage A:link {
	color:#4D8400;
}
#chanPage A:active {
	color:#4D8400;
}
#chanPage A:visited {
	color:#4D8400;
}
#chanPage A:hover {
	color:#4D8400;
}

