/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Grungy/grungy_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#342D14;
	border-right:1px solid #342D14;
	border-left:1px solid #342D14;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#342D14;
}
#chanPage .separator
{
	background-color: #342D14;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#555306;
	border-right:1px solid #555306;
	border-left:1px solid #555306;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Grungy/grungy_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#D5D3A9;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#D5D3A9;
	border-right:1px solid #D5D3A9;
	border-left:1px solid #D5D3A9;
}

/* Text */
#chanPage .widgetText 
{
	color:#302E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#302E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#FFFFFF;
}
#chanPage A
{
}
#chanPage A:link {
	color:#302E00;
}
#chanPage A:active {
	color:#302E00;
}
#chanPage A:visited {
	color:#302E00;
}
#chanPage A:hover {
	color:#302E00;
}

