/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Travel/travel_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#392702;
	border-right:1px solid #392702;
	border-left:1px solid #392702;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#392702;
}
#chanPage .separator
{
	background-color: #392702;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#3E3621;
	border-right:1px solid #3E3621;
	border-left:1px solid #3E3621;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Travel/travel_boxborder_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#E5DD98;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#E5DD98;
	border-right:1px solid #E5DD98;
	border-left:1px solid #E5DD98;
}

/* Text */
#chanPage .widgetText 
{
	color:#181500;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#181500;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#DCB91E;
}
#chanPage A
{
}
#chanPage A:link {
	color:#181500;
}
#chanPage A:active {
	color:#181500;
}
#chanPage A:visited {
	color:#181500;
}
#chanPage A:hover {
	color:#181500;
}

