/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/HipHop/hiphop_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#FF7F01;
	border-right:1px solid #FF7F01;
	border-left:1px solid #FF7F01;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#FF7F01;
}
#chanPage .separator
{
	background-color: #FF7F01;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#747474;
	border-right:1px solid #747474;
	border-left:1px solid #747474;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/HipHop/hiphop_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#FBE370;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#FBE370;
	border-right:1px solid #FBE370;
	border-left:1px solid #FBE370;
}

/* Text */
#chanPage .widgetText 
{
	color:#006078;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#006078;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#011413;
}
#chanPage A
{
}
#chanPage A:link {
	color:#006078;
}
#chanPage A:active {
	color:#006078;
}
#chanPage A:visited {
	color:#006078;
}
#chanPage A:hover {
	color:#006078;
}

