/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Sport/sport_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#152D02;
	border-right:1px solid #152D02;
	border-left:1px solid #152D02;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#152D02;
}
#chanPage .separator
{
	background-color: #152D02;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#C9FFA0;
	border-right:1px solid #C9FFA0;
	border-left:1px solid #C9FFA0;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: #C9FFA0;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#FFFFFF;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#FFFFFF;
}

/* Text */
#chanPage .widgetText 
{
	color:#0B2E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#0B2E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#152D02;
}
#chanPage A
{
}
#chanPage A:link {
	color:#0B2E00;
}
#chanPage A:active {
	color:#0B2E00;
}
#chanPage A:visited {
	color:#0B2E00;
}
#chanPage A:hover {
	color:#0B2E00;
}

