/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
	background-color: White; background-image:none;
}
#chanPage A
{
	font-size: 14px;
	font-family: FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
#chanPage A:link {
	text-decoration:none;
	color:#666666;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}
#chanPage A:active {
	text-decoration:none;
	color:#666666;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}
#chanPage A:visited {
	text-decoration:none;
	color:#666666;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}
#chanPage A:hover {
	text-decoration:none;
	color:#666666;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
}

.innerFrameTitle_content {
	BACKGROUND: #E6E6E6; font-family:Verdana, Arial, Helvetica, sans-serif; color:666666; font-size:13; font-weight:bold;
}


