/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Fashion/fashion_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#CCF394;
	border-right:1px solid #CCF394;
	border-left:1px solid #CCF394;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#CCF394;
}
#chanPage .separator
{
	background-color: #CCF394;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#823B2B;
	border-right:1px solid #823B2B;
	border-left:1px solid #823B2B;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/fashion/fashion_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#F6D3BB;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#F6D3BB;
	border-right:1px solid #F6D3BB;
	border-left:1px solid #F6D3BB;
}

/* Text */
#chanPage .widgetText 
{
	color:#AE0024;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#AE0024;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#D1EB8C;
}
#chanPage A
{
}
#chanPage A:link {
	color:#AE0024;
}
#chanPage A:active {
	color:#AE0024;
}
#chanPage A:visited {
	color:#AE0024;
}
#chanPage A:hover {
	color:#AE0024;
}

