/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/georgiatech/pageBg.jpg) #f2f2f2 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#chanPage A:link {
	COLOR: yellow;
}
#chanPage A:active {
	COLOR: yellow;
}
#chanPage A:visited {
	COLOR: yellow;
}
#chanPage A:hover {
	COLOR: green;
}
#chanHeaderZone .innerFrame_content {
	BACKGROUND: #6699CC;
	border: 0px solid #cccccc;
}
#chanHeaderZone .innerFrame_content {
	BACKGROUND: url(../../images/themes/georgiatech/widgetTableBg.gif) repeat-x 0% 100%
}
#chanFooterZone .innerFrame_content {
	BACKGROUND: #6699CC;
	border: 0px solid #cccccc;
}
#chanFooterZone .innerFrame_content {
	BACKGROUND: url(../../images/themes/georgiatech/widgetTableBg.gif) repeat-x 0% 100%
}
#chanBodyZone .innerFrame_content {
	BACKGROUND: #6699CC;
	border: 0px solid #cccccc;
}
#chanColumnZone .innerFrame_content {
	BACKGROUND: #6699CC;
	border: 0px solid #cccccc;
}
#chanBodyZone .innerFrame_content {
	BACKGROUND: url(../../images/themes/georgiatech/widgetTableBg.gif) repeat-x 0% 100%
}
#chanColumnZone .innerFrame_content {
	BACKGROUND: url(../../images/themes/georgiatech/widgetTableBg.gif) repeat-x 0% 100%
}
.widgetTitle 
{
	color: #FFFFFF;
}
.widgetHeaderbk {
	BACKGROUND: url(../../images/themes/georgiatech/widgetHeaderBg.gif) repeat-x left top
}
.header .widgetHeaderbk {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu .widgetHeaderbk {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.innerFrameTitle_content {
	BACKGROUND: ""; PADDING-RIGHT: 0px; PADDING-LEFT: 13px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 7px; MARGIN: 0px 2px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Arial
}
.titleText {
	BACKGROUND: url(../../images/themes/georgiatech/widgetTitleBg.jpg) #FFFF00 no-repeat; PADDING-TOP: 30px; HEIGHT: 85px
}
.titleText .innerFrame_content {
	FONT-SIZE: 42px; COLOR: #ffffff; FONT-FAMILY: Georgia,Arial; border:2px solid #cccccc;
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px
}
H3 {
	FONT-SIZE: 15px
}
.h4 {
	FONT-SIZE: 12px
}
P {
	BACKGROUND-COLOR: transparent
}
STRONG {
	FONT-WEIGHT: bold
}
.menu UL {
	LIST-STYLE-TYPE: none
}
.menu LI {
	BORDER-RIGHT: #bd7428 1px solid
}
#chanHeaderZone .menu {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
.HTML .innerFrame_content {
	PADDING-TOP: 30px
}
