/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Space/space_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: url(../../images/themes/Space/space_bg2.jpg) repeat left top;
	border-right:1px solid #CFCFCF;
	border-left:1px solid #CFCFCF;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: url(../../images/themes/Space/space_bg2.jpg) repeat left top;
}
#chanPage .separator
{
	background-color: #878787;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND-color:transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND-color: transparent;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND: #9EA2A7 url(../../images/themes/Space/space_module_bg.jpg) repeat left top;
	border-right:1px solid #85898E;
	border-left:1px solid #85898E;
	
}
#widgetBody .innerFrame * 
{
	BACKGROUND: #9EA2A7 url(../../images/themes/Space/space_module_bg.jpg) repeat left top;
	border-right:1px solid #85898E;
	border-left:1px solid #85898E;
		border-bottom:1px solid #85898E;

}

/* Text */
#chanPage .widgetText 
{
	color:#444649;
	font-size:12px;
	font-weight:normal;
}
#chanPage .widgetTextBold 
{
	color:#444649;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#8D250B;
	font-family: Helvetica, arial, sans-serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#8D250B;
}
#chanPage A:active {
	color:#8D250B;
}
#chanPage A:visited {
	color:#8D250B;
}
#chanPage A:hover {
	color:#8D250B;
}

