/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #000000 url(../../images/themes/Papyrus/papyrus_bg2.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: #e2c279 url(../../images/themes/Papyrus/papyrus_module_bg.jpg) repeat-x left top;
	border-left: 1px dashed #AD8431;
	border-right: 1px dashed #AD8431;
	border-bottom: 1px dashed #AD8431;
}
#chanPage .separator
{
	background-color: #574431;
	border-top: 1px solid #B9A48D;
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND-color:transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND-color: transparent;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	
}
#widgetBody .innerFrame * 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;

}

/* Text */
#chanPage .widgetText 
{
	color:#2A2015;
	font-size:12px;
	font-weight:normal;
}
#chanPage .widgetTextBold 
{
	color:#2A2015;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#593404;
	font-family: Times, serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#BB6A01;
}
#chanPage A:active {
	color:#E79B01;
}
#chanPage A:visited {
	color:#E79B01;
}
#chanPage A:hover {
	color:#E79B01;
}

