/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #FFFF99 url(../../images/themes/comedy/comedy_bg.gif) no-repeat center top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#ff6e00;
	border-right:1px solid #ff6e00;
	border-left:1px solid #ff6e00;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#ff6e00;
}
#chanPage .separator
{
	background-color: #ff6e00;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#ffe400;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/comedy/comedy_title_bg.gif) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#ffffad;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#ffffad;
}

/* Text */
#chanPage .widgetText 
{
	color:#823800;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#823800;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#ff6e00;
}
#chanPage A
{
}
#chanPage A:link {
	color:#823800;
}
#chanPage A:active {
	color:#823800;
}
#chanPage A:visited {
	color:#823800;
}
#chanPage A:hover {
	color:#823800;
}

