/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Diy/diy_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#2C250F;
	border-right:1px solid #2C250F;
	border-left:1px solid #2C250F;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#2C250F;
}
#chanPage .separator
{
	background-color: #2C250F;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#665A34;
	border-right:1px solid #665A34;
	border-left:1px solid #665A34;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Diy/diy_boxtitle_bg.jpg) repeat-x left top;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#DFCD91;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#DFCD91;
	border-right:1px solid #DFCD91;
	border-left:1px solid #DFCD91;
}

/* Text */
#chanPage .widgetText 
{
	color:#805E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#805E00;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#0A0800;
}
#chanPage A
{
}
#chanPage A:link {
	color:#805E00;
}
#chanPage A:active {
	color:#805E00;
}
#chanPage A:visited {
	color:#805E00;
}
#chanPage A:hover {
	color:#805E00;
}

