/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #000000 url(../../images/themes/Zen/papyrus_bg.jpg) repeat-y top center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: #9D907F url(../../images/themes/Zen/papyrus_module_bg.jpg) repeat-x left top;
	border-left: 1px solid #8F8170;
	border-right: 1px solid #8F8170;
	border-bottom: 1px solid #8F8170;
}
#chanPage .separator
{
	background-color: #574431;
	border-top: 1px solid #B9A48D;
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND-color:transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND-color: transparent;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	
}
#widgetBody .innerFrame * 
{
	BACKGROUND: transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;

}

/* Text */
#chanPage .widgetText 
{
	color:#2A2015;
	font-size:12px;
	font-weight:normal;
}
#chanPage .widgetTextBold 
{
	color:#2A2015;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#FFFFFF;
	font-family: arial, verdana, sans-serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#651423;
}
#chanPage A:active {
	color:#651423;
}
#chanPage A:visited {
	color:#651423;
}
#chanPage A:hover {
	color:#651423;
}

