/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/LivingLarge/livinglarge_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#F7F7F7;
	border-right:1px solid #F7F7F7;
	border-left:1px solid #F7F7F7;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#F7F7F7;
}
#chanPage .separator
{
	background-color: #F7F7F7;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#7E681D;
	border-right:1px solid #7E681D;
	border-left:1px solid #7E681D;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/LivingLarge/livinglarge_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#000000;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#000000;
}

/* Text */
#chanPage .widgetText 
{
	color:#684800;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#684800;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#011413;
}
#chanPage A
{
}
#chanPage A:link {
	color:#684800;
}
#chanPage A:active {
	color:#684800;
}
#chanPage A:visited {
	color:#684800;
}
#chanPage A:hover {
	color:#684800;
}

