/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/dp3d/dp3d_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: url(../../images/themes/dp3d/dp3d_bg2.jpg) repeat left top;
	border-right:1px solid #ec2e23;
	border-left:1px solid #ec2e23;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: url(../../images/themes/dp3d/dp3d_bg2.jpg) repeat left top;
}
#chanPage .separator
{
	background-color: red; /* lines seperating content */	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND-color:transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND-color: transparent;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND: #f8a53a url(../../images/themes/dp3d/dp3d_module_bg.jpg) repeat left top;
	border-right:1px solid #eb2b24;
	border-left:1px solid #f38321;
	
}
#widgetBody .innerFrame * 
{
	BACKGROUND: #f8a53a url(../../images/themes/dp3d/dp3d_module_bg.jpg) repeat left top;
	border-right:1px solid #eb2b24;
	border-left:1px solid #eb2b24;
	border-bottom:1px solid #eb2b24;/* lines top of widget boxes */

}

/* Text */
#chanPage .widgetText 
{
	color:#000000;
	font-size:12px;
	font-weight:normal;
}
#chanPage .widgetTextBold 
{
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#faab38;
	font-family: Helvetica, arial, sans-serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#8D250B;
}
#chanPage A:active {
	color:#8D250B;
}
#chanPage A:visited {
	color:#8D250B;
}
#chanPage A:hover {
	color:#8D250B;
}

