/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/ExtremeSport/extremesport_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#38CCEC;
	border-right:1px solid #38CCEC;
	border-left:1px solid #38CCEC;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#38CCEC;
}
#chanPage .separator
{
	background-color: #38CCEC;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#E5DAA8;
	border-right:1px solid #E5DAA8;
	border-left:1px solid #E5DAA8;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/ExtremeSport/extremesport_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#BFE2E9;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#BFE2E9;
	border-right:1px solid #BFE2E9;
	border-left:1px solid #BFE2E9;
}

/* Text */
#chanPage .widgetText 
{
	color:#04112F;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#04112F;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#04112F;
}
#chanPage A
{
}
#chanPage A:link {
	color:#04112F;
}
#chanPage A:active {
	color:#04112F;
}
#chanPage A:visited {
	color:#04112F;
}
#chanPage A:hover {
	color:#04112F;
}

