/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Vacation/vacation_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#CAECf4;
	border-right:1px solid #CAECf4;
	border-left:1px solid #CAECf4;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#CAECf4;
}
#chanPage .separator
{
	background-color: #CAECf4;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#00D8FF;
	border-right:1px solid #00D8FF;
	border-left:1px solid #00D8FF;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Vacation/vacation_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#EDEDED;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#EDEDED;
	border-right:1px solid #EDEDED;
	border-left:1px solid #EDEDED;
}

/* Text */
#chanPage .widgetText 
{
	color:#7C7C7C;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#7C7C7C;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#FFFFFF;
}
#chanPage A
{
}
#chanPage A:link {
	color:#7C7C7C;
}
#chanPage A:active {
	color:#7C7C7C;
}
#chanPage A:visited {
	color:#7C7C7C;
}
#chanPage A:hover {
	color:#7C7C7C;
}

