/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/ugtv/movies_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#b10000;
	border-right:1px solid #b10000;
	border-left:1px solid #b10000;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#b10000;
}
#chanPage .separator
{
	background-color: #b10000;	
}

/* Header */
.widgetTitle
{
	color:ffbb00;
}
#widgetHeader .innerFrame *
{
	BACKGROUND:#000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: #000000;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#000000;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}

/* Text */
#chanPage .widgetText 
{
	color:#ff0f0f;
	font-size:12px;
}

#chanPage .widgetTextBold 
{
	color:#ff0f0f;
	font-size:12px;
}
#chanPage A
{
}
#chanPage A:link {
	color:#ff0f0f;
}
#chanPage A:active {
	color:#ff0f0f;
}
#chanPage A:visited {
	color:#ff0f0f;
}
#chanPage A:hover {
	color:#ff0f0f;
}





