/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/ExtremeEdgy/extremeedgy_bg.jpg) repeat fixed; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#EBD124;
	border-right:1px solid #EBD124;
	border-left:1px solid #EBD124;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#EBD124;
}
#chanPage .separator
{
	background-color: #EBD124;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#1E1B0F;
	border-right:1px solid #1E1B0F;
	border-left:1px solid #1E1B0F;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/ExtremeEdgy/extremeedgy_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#1E1B0F;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#1E1B0F;
	border-right:1px solid #1E1B0F;
	border-left:1px solid #1E1B0F;
}

/* Text */
#chanPage .widgetText 
{
	color:#FFD643;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#FFD643;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#EBD123;
}
#chanPage A
{
}
#chanPage A:link {
	color:#FFD643;
}
#chanPage A:active {
	color:#FFD643;
}
#chanPage A:visited {
	color:#FFD643;
}
#chanPage A:hover {
	color:#FFD643;
}

