/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/film/film_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#AAAAAA;
	border-right:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#AAAAAA;
}
#chanPage .separator
{
	background-color: #AAAAAA;	
}

/* Header */
.widgetTitle
{
	color:#d6ff6c;
}
#widgetHeader .innerFrame *
{
	BACKGROUND:#363636;
	border-right:1px solid #363636;
	border-left:1px solid #363636;
	BACKGROUND: url(../../images/themes/film/film_title_bg.gif) repeat left top;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/film/film_title_bg.gif) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#000000;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#000000;
	border-right:1px solid #000000;
	border-left:1px solid #000000;
}

/* Text */
#chanPage .widgetText 
{
	color:#9c9c9c;
	font-size:12px;
}

#chanPage .widgetTextBold 
{
	color:#9c9c9c;
	font-size:12px;
}

#chanPage A
{
}
#chanPage A:link {
	color:#9c9c9c;
}
#chanPage A:active {
	color:#9c9c9c;
}
#chanPage A:visited {
	color:#9c9c9c;
}
#chanPage A:hover {
	color:#9c9c9c;
}



