/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/TeenMale/teenmale_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#F9F9F9;
	border-right:1px solid #F9F9F9;
	border-left:1px solid #F9F9F9;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#F9F9F9;
}
#chanPage .separator
{
	background-color: #F9F9F9;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#A8011F;
	border-right:1px solid #A8011F;
	border-left:1px solid #A8011F;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/TeenMale/teenmale_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#E9E9E9;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#E9E9E9;
	border-right:1px solid #E9E9E9;
	border-left:1px solid #E9E9E9;
}

/* Text */
#chanPage .widgetText 
{
	color:#4C8B19;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#4C8B19;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#000000;
}
#chanPage A
{
}
#chanPage A:link {
	color:#4C8B19;
}
#chanPage A:active {
	color:#4C8B19;
}
#chanPage A:visited {
	color:#4C8B19;
}
#chanPage A:hover {
	color:#4C8B19;
}

