/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Anime/anime_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#B8B8B8;
	border-right:1px solid #B8B8B8;
	border-left:1px solid #B8B8B8;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#B8B8B8;
}
#chanPage .separator
{
	background-color: #B8B8B8;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#BA0202;
	border-right:1px solid #BA0202;
	border-left:1px solid #BA0202;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Anime/anime_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#E6E6E6;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#E6E6E6;
	border-right:1px solid #E6E6E6;
	border-left:1px solid #E6E6E6;
}

/* Text */
#chanPage .widgetText 
{
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#F7E0E0;
}
#chanPage A
{
}
#chanPage A:link {
	color:#000000;
}
#chanPage A:active {
	color:#000000;
}
#chanPage A:visited {
	color:#000000;
}
#chanPage A:hover {
	color:#000000;
}

