/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/TeenFemale/teenFemale_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#FDEFF6;
	border-right:1px solid #FDEFF6;
	border-left:1px solid #FDEFF6;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#FDEFF6;
}
#chanPage .separator
{
	background-color: #FDEFF6;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#D287A5;
	border-right:1px solid #D287A5;
	border-left:1px solid #D287A5;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/TeenFemale/teenfemale_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#E6E6E6;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#E6E6E6;
	border-right:1px solid #E6E6E6;
	border-left:1px solid #E6E6E6;
}

/* Text */
#chanPage .widgetText 
{
	color:#6A002B;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#6A002B;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#792C4A;
}
#chanPage A
{
}
#chanPage A:link {
	color:#6A002B;
}
#chanPage A:active {
	color:#6A002B;
}
#chanPage A:visited {
	color:#6A002B;
}
#chanPage A:hover {
	color:#6A002B;
}

