/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Camo/camo_bg2.gif) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: url(../../images/themes/Camo/camo_bg3.gif) repeat left top;
	border-right:1px solid #7C6E4B;
	border-left:1px solid #7C6E4B;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: url(../../images/themes/Camo/camo_bg3.gif) repeat left top;
}
#chanPage .separator
{
	background-color: #6E6242;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#323C19;
	border-right:1px solid #323C19;
	border-left:1px solid #323C19;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Camo/camo_boxtitle_bg.gif) repeat left top;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#C2B491;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#C2B491;
	border-right:1px solid #C2B491;
	border-left:1px solid #C2B491;
}

/* Text */
#chanPage .widgetText 
{
	color:#4C4229;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#4C4229;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#FFFFFF;
	font-family: Helvetica, arial, sans-serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#446703;
}
#chanPage A:active {
	color:#446703;
}
#chanPage A:visited {
	color:#446703;
}
#chanPage A:hover {
	color:#446703;
}

