/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/Teen/teen_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND:#C0E3Df;
	border-right:1px solid #C0E3Df;
	border-left:1px solid #C0E3Df;
}
#chanPage .outerFrame_content 
{
	BACKGROUND:#C0E3Df;
}
#chanPage .separator
{
	background-color: #C0E3Df;	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND:#ffe400;
	border-right:1px solid #C0E3Df;
	border-left:1px solid #C0E3Df;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND: url(../../images/themes/Teen/teen_boxtitle_bg.jpg) repeat left top
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND:#4089B1;
}
#widgetBody .innerFrame * 
{
	BACKGROUND:#4089B1;
	border-right:1px solid #4089B1;
	border-left:1px solid #4089B1;
}

/* Text */
#chanPage .widgetText 
{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTextBold 
{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#012437;
}
#chanPage A
{
}
#chanPage A:link {
	color:#FFFFFF;
}
#chanPage A:active {
	color:#FFFFFF;
}
#chanPage A:visited {
	color:#FFFFFF;
}
#chanPage A:hover {
	color:#FFFFFF;
}

