/* HEADER */
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/themes/kaneva_kewl/kaneva_kewl_bg.jpg) repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}

/* Outer Border */
#chanPage .outerFrame * 
{
	BACKGROUND: url(../../images/themes/kaneva_kewl/kaneva_kewl_bg2.jpg) repeat left top;
	border-right:1px solid #0029a1;
	border-left:1px solid #0029a1;
}
#chanPage .outerFrame_content 
{
	BACKGROUND: url(../../images/themes/kaneva_kewl/kaneva_kewl_bg2.jpg) repeat left top;
}
#chanPage .separator
{
	background-color: 0029a1; /* lines seperating content */	
}

/* Header */
#widgetHeader .innerFrame *
{
	BACKGROUND-color:transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
}
#widgetHeader .innerFrameTitle_content {
	BACKGROUND-color: transparent;
}

/* Body */
#widgetBody .innerFrame_content 
{
	BACKGROUND: #0029a1 url(../../images/themes/kaneva_kewl/kaneva_kewl_module_bg.jpg) repeat left top;
	border-right:1px solid #0029a1;
	border-left:1px solid #0029a1;
	
}
#widgetBody .innerFrame * 
{
	BACKGROUND: #f8a53a url(../../images/themes/kaneva_kewl/kaneva_kewl_module_bg.jpg) repeat left top;
	border-right:1px solid #0029a1;
	border-left:1px solid #0029a1;
	border-bottom:1px solid #0029a1;/* lines top of widget boxes */

}

/* Text */
#chanPage .widgetText 
{
	color:#ffffff;
	font-size:12px;
	font-weight:normal;
}
#chanPage .widgetTextBold 
{
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
}
#chanPage .widgetTitle
{
	color:#ffffff;
	font-family: Helvetica, arial, sans-serif;
}
#chanPage A
{
}
#chanPage A:link {
	color:#00b4ff;
}
#chanPage A:active {
	color:#00b4ff;
}
#chanPage A:visited {
	color:#00b4ff;
}
#chanPage A:hover {
	color:#00b4ff;
}

