/* HEADER */
.facebox_btn a:link, .facebox_btn a:visited, .facebox_btn input{
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:10pt;
	color:White;
	padding:0px 11px;
	height: 16px;
	border:solid 1px #346B94;
	font-weight:normal;
}

.facebox_btn_mega a:link, .facebox_btn_mega a:visited, .facebox_btn_mega input{
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:7pt;
	color:White;
	padding:0px 11px;
	height: 16px;
	border:solid 1px #346B94;
	font-weight:normal;
}
.facebox_btn_mega a:hover {
	
}

.facebox_btn_disable a:link, .facebox_btn_disable a:visited
{
	background-image: url("../images/facebox/btnBkgdImg_Inactive.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:7pt;
	color:Gray;
	padding:2px 11px;
	height: 18px;
	border:solid 1px #767676;
}
	
.clearit {clear:both;}

.payment_btn {
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	width:135px;
	height: 20px;
}
.payment_btn a:link {
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
	color:White;
	padding:1px 8px 1px 8px;
	border:solid 1px #346B94;
	font-weight:normal;
	width:135px;
}
.payment_btn_disable {
	background-image: url("../images/facebox/btnBkgdImg_Inactive.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	width:135px;
	height: 18px;
	border:solid 1px #808080;
	text-decoration:none;
	font-size:10pt;
	color:#C0C0C0;
	padding:2px 11px;
	font-weight:normal;
}
.payment_btn_disable a:link, .payment_btn_disable a.disabled {
	background-image: url("../images/facebox/btnBkgdImg_Inactive.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:10pt;
	color:#C0C0C0;
	padding:2px 11px;
	font-weight:normal;
	width:135px;
}