/* HEADER */
﻿@charset "UTF-8";
/* CSS Document */

/*
* Body Background / Margins
* ----------------------------------------------------  */

body {
	padding: 0px;
	margin: 0px;
	background: #ccc;
	}
	
/*
* Global Type Style
* ----------------------------------------------------  */

body {
	color: #272727;
	font: 12px/16px Verdana, Arial, sans-serif;
	}
	
a:link, a:visited, a:active {
	color: #333399;
	text-decoration:underline;
	font-weight: bold;
	outline:none;
	}

a:hover {
	text-decoration:none;
	font-weight: bold;
	}
	
h1, h2, h3 {
	font-weight: normal;
	color: #272727;
	}
	
h2 {
	margin: 0px;
	padding: 0px;
	}

h3 {
	padding: 0px;
	margin: 0px;
	}
	
.clear {
	clear: both;
}

/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

#wrapper {
	position: relative;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	float: left;
	background-image:url(../images/header/background_100x100_greyNoise.jpg);
	}
	
#container {
	position: relative;
	width: 920px;
	margin: 0px auto;
	padding: 0px;
	background: #fff;
	}

	
/*-----------(HEADER)-------------- */	


#header {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	float: left;
	}
	
#headerContent {
	position: relative;
	padding: 0px;
	margin: 0px;
	float: left;
	}
	
#headerTop {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 960px;
	display: block;
	float: left;
	height: 40px;
	}
	
#logo {
	height: 37px;
	padding: 2px 0px 0px 13px;
	margin: 0px;
	width: 175px;
	float: left;
	background: transparent url("../images/kaneva_logo.gif") no-repeat 18px 7px;
	}
	
#logo a  {
	display: block;
	width: 161px;
	height: 37px;
	}

#logo span {
	}
	
html>body #logo span {
	top: 8px;
	}


/*-----------(USER INFO)-------------- */		

#headerNav {
	display: block;
	float: right;
	padding: 0px 40px 0px 0px;
	margin: 0px;
	width: 721px;
	}
	
#headerNav ul {
	padding: 0px;
	margin: 13px 0px 0px;
	display: block;
	list-style: none;
	font-size: 11px;
	font-weight: normal;
	}

ul#userInfo  {
	width: 365px;
	list-style: none;
	display: block;
	float: right;
	text-align: right;
	font-size: 11px;
	}
	
#userInfo li {
	float: right;
	list-style: none;
	margin: 3px 5px 0px;
	padding: 0px;
	line-height: 1.5em;
	display: block;
	text-align: right;
	}
	
#userInfo li span {
	font-weight: bold;
	}
	
#userInfo a {
	text-decoration: underline;
	color: #272727;
	overflow: hidden;
	font-weight: normal;
	line-height: 1.5em;
	}
	
#userInfo a:hover,
#userInfo li.selected a {
	text-decoration: none;
	}
	

/*-----------(FORTUNE NAV)-------------- */	
	
ul#fortuneNav {
	width: 350px;
	list-style: none;
	display: block;
	float: left;
	margin 0;
	font-size: 11px;
	}
	
#fortuneNav li {
	float: left;
	list-style: none;
	margin: 0px 5px;
	padding: 0px;
	line-height: 1.5em;
	display: block;
	}
	
#fortuneNav li span {
	font-weight: bold;
	}
	
#fortuneNav a {
	display: block;
	text-decoration: none;
	color: #272727;
	overflow: hidden;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.5em;
	padding: 5px;
	}
	
#fortuneNav a:hover,
#fortuneNav li.selected a {
	text-decoration: underline;
	}
	
#fortuneNav li.selected a {
	font-weight: bold;
	}
	
/*-----------(PAGE LIST)-------------- */	

.colWidth {
	width: 342px;
	display: block;
	padding: 9px;
	float: left;  
	}	

#pageList {
	text-align: right;
	font-size: 10px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	}

#pageList ul {
	text-align: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

#pageList li {
	display: inline;
	margin-right: 2px;
	margin-left: 2px;
	}

#pageList a:link, #pageList a:visited {
	text-decoration: none;
	}

#pageList a:hover {
	text-decoration: underline;
	}

.currentPage a {
	color: #000000;
	}

	
/*-----------(HEADER BOTTOM / SEARCH AREA)-------------- */	
	
#titleBar { 
	padding: 0;
	height: 45px;
	float: none;
	display: block;
	background: url("../images/search_title_background.png") repeat-x;
	border-left: 0px solid #383838;
	position: relative;
	margin: 0px 40px 0px 0px;
	width: 721px;
	}
	
.wide #mainContent, .wide #mainContent {
	width: 920px;
	}
	
#titleBar.wide {
	width: 920px;
	}
	
#headline {
	float: left;
	width: 425px;
	}

#headline h1.title, #headline h2 {
	font-weight: normal;
	color: #ffffff;
	float: left;
	width: auto;
	font-size: 24px; 
	}

#headline h1.title {
	margin: 0px;
	padding: 12px 0px 12px 19px;
	}

#headline h2 {
	margin: 0px;
	padding: 12px 0px 12px 6px;
	font-size: 24px;
	}

#searchArea {
	width: 250px;
	display: block;
	margin: 0px;
	padding: 15px 0px 0px;
	list-style: none;
	float: right;
	height: 30px;
	position: relative;
	z-index: 10;
	}
	
#searchArea label {
	margin: 0px 5px 0px 0px;
	padding: 2px 0px 0px;
	width: 50px;
	height: 20px;
	text-align: right;
	float: left;
	color: #FFFFFF;
	}
	
#searchArea input {
	margin: 0px 10px 0px 0px;
	padding: 0px;
	width: 150px;
	height: 15px;
	float: left;
	}
	
#searchArea form {
	margin: 0px;
	padding: 0px;
	}

#searchArea .searchBTN {
	margin: 0;
	padding: 2px 0px 0px;
	width: 14px;
	height: 15px;
	float: left;
	display: inline;
	}
	

/*-----------(SITE NAVIGATION)-------------- */	

/* SEE NAVIGATION.CSS FOR NAV AND SUBNAV TEXT STYLE */

/*-----------(MAIN CONTENT COLUNM)-------------- */	

#pageBody {
	width: 920px;
	margin: 0 auto;
	padding:76px 4px 0 4px;
	position: relative;
	float: left;
	background: url("../../images/pageBody_background.png") no-repeat 190px 0px;
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	}

#mainContent {
	padding: 0px 0px 19px;
	display: inline;
	margin: 0;
	position: relative;
	width: 721px;
	float: left;
	background:#fff;
	}
	
#mainContent h1, #mainContent h2 {
	font-weight: normal;
	color: #333333;
	float: left;
	width: auto;
	}

#mainContent h1 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}

#mainContent h2 {
	margin: 5px 0 0 15px;
	padding: 0;
	}
	
#content  {
	position: relative;
	clear: both;
	}

#content p {
	padding: 10px 0 10px 10px;
 	margin: 0;
 	line-height: 1.4;
	}
	
	
/*-----------(COLUMN STRUCTURE)-------------- */	


.twoCol .column {
	width: 47%;
	}

.column {
	float: left;
	width: auto;
	padding: 0;
	margin: 0;
	padding: 9px;
	}
	
.column h3 {
	padding: 9px;
	text-align: center;
	color: #272727;
	}
	
.last {
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	float: right;
	}
	
.first {
	float: left;
	border-width: 0px;
	border-style: none;
	display: block;
	}
	
.wide #mainContent {
	float: left;
	width: 920px;
	}
	
.wide .column {
	width: 190px;
	float: right;
	}
	
.wide #content {
	width: 700px;
	float: left;
	background: #FFFFFF;
	}
	

/*
* CONTENT SPECIFIC STYLES
* ---------------------------------------------------- */	


/*-----------(BROWSE STYLES)-------------- */	

.restricted 
{
	background: url("../images/pass_content.gif") no-repeat right top; 
	position: absolute; z-index: 10; 
	height: 15px; 
	width: 15px; 
	right: 5px; 
	bottom: 5px; 
	}
.animation 
{
	background: url("../images/animation_15x15.gif") no-repeat right top; 
	position: absolute; z-index: 10; 
	height: 15px; 
	width: 15px; 
	right: 70px; 
	bottom: 5px; 
	}
.smart 
{
    color: #999999;
	position: absolute; z-index: 10; 
	height: 21px; 
	width: 85px; 
	right: 0px; 
	bottom: -3px; 
	font-size: 10px;
	background-color: #ffffff;
	padding-top: 3px;
	padding-left: 4px;
	zoom: 1;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
.lightbox 
{
    display:none;
}

ul#browse {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-right: 1px solid #b1b1b1;
	border-top: 1px solid #b1b1b1;
	float: right;
	width: 100%;
	}
	
ul#browse li {
	float: left;
	display: block;
	width: 89px;
	height: 89px;
	overflow: hidden;
	border-left: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	background-color: #EEEEEE;
	position: relative;
	}
	
		
ul#browse li a {
	display: block;
	width: 79px;
	height: 84px;
	position: absolute;
	color: #000000;
	text-align: left;
	word-wrap: break-word;
	text-indent: -5000px;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 5px 0px;
	margin: 0px;
	font-size: 11px;
	line-height: 14px;
	
	}
	
ul#browse li a:hover {
	text-indent: 0px;
	background: #ffffff;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	}
	
ul#browse li a span {
	display: block;
	padding: 0;
	margin: 0;
	font-weight: bold;
	color: #006699;
	font-size: 14px;
	}

#related {
	float: right;
	width: 182px;
	display: inline;  
	margin-right:14px; 
	}

#related h3 {
	margin-top: 40px;
	margin-bottom: 8px;
	text-align: center;
	}

.browseWidth {
	width: 721px;
	}
	
	
#related ul#browse {
	width: 180px;
	padding: 0px;
	margin: 0px;
	}
	
.browseAleign {
	margin-top: 20px;
	padding-left: 35px;
}

.leftPush {
	padding-left: 70px;
}
.catCol1 {
	float: left;
	width: 200px;
	padding-top: 20px;
	padding-left: 50px;
}
.catCol2 {
	float: right;
	margin-top: 10px;
	padding: 15px;
	width: 430px;
}
.catCopy {
	float: right;
	width: 150px;
	font-style: italic;
	padding-top: 15px;
	padding-right: 10px;
}
.catCopy_border {
	border: 1px solid #b1b1b1;
}
	
/*-----------(FEATURE COLUMN STYLES)-------------- */	
#mainContent #content h1, #mainContent #content h2 {
	float: none;
	}
	
#mainContent #content h2 {
	margin-bottom: 10px;
	margin-left: 0px;
	}

.flashArea {
	height: 269px;
	width: 721px;
	background: #000000;
	}
	
.flashArea2 {
	height: 315px;
	width: 718px;
	background: #000000;
	}
.flashArea2_long {
	height: 920px;
	width: 718px;
	background: #000000;
	}
	
.flashArea3 {
	height: 180px;
	width: 721px;
	background: #000000;
	}
	
.flashArea4 {
	height: 180px;
	width: 410px;
	background: #000000;
	}	

.featColWrapper {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 0px 0px 0px 32px;
	width: 687px;
	height: 350px;
	float: left;
	}
	
.featFlshWrapper {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 1px 0px 0px;
	width: 719px;
	height: 350px;
	float: left;
	}
.featFlshWrapper_long {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 1px 0px 0px;
	width: 719px;
	height: 950px;
	float: left;
	}	

.genericFlshWrapper {
	background: url("../images/content_Background.jpg") repeat-x;
	margin: 0px;
	padding: 1px 0px 0px;
	width: 719px;
	/*height: 950px;*/
	float: left;
	}	
	
	.genericFlashArea {
	/*height: 920px;*/
	width: 718px;
	background: #000000;
	}
	
.featureCol {
	float: left;
	display: inline;
	width: 202px;
	background: #FFFFFF url("../images/featureCol_Background.gif") repeat-y;
	margin: 25px 22px 0px 0px;
	padding: 0px;
	}
	
.featureCol2 {
	float: left;
	display: inline;
	width: 428px;
	background: #FFFFFF url("../images/featureCol_Bckgrnd_2wide.gif") repeat-y;
	margin: 25px 22px 0px 0px;
	padding: 0px;
	}
	
	
.head1, .head2, .head3, .head4 {
	height: 68px;
	color: #FFFFFF;
	padding-top: 13px;
	padding-left: 10px;
	width: 192px;
	font-size: 20px;
	}
	
.head1 {
	background: url("../images/featureCol_headBuy.jpg") no-repeat;
	}
	
.head2 {
	background: url("../images/featureCol_headDesign.jpg") no-repeat;
	}
	
.head3 {
	background: url("../images/featureCol_headStore.jpg") no-repeat;
	}
	
.head4 {
	background: url("../images/featureCol_head.jpg") no-repeat;
	}
	
.head1 span, .head2 span, .head3 span, .head4 span {
	display: none;	
	}

.featureContent {
	height: 167px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	}
	
.featureCol2 .setHeight, .featureCol .setHeight {
	height: 257px;
	}
	
.featureCol a:link, .featureCol a:visited {
	color: #272727;
	text-decoration: none;
	line-height: 1.4em;
	}
	
.featureCol a:hover {
	text-decoration: underline;
	}
	
.featureContent p {
	text-align: left;
	}

.featureCol ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
	}

.featureCol  li {
	margin-top: 5px;
	padding: 2px;
	width: 178px;
	display: block;
	float: left;
	text-align: left;
	}

.endRule {
	margin: 0px;
	padding: 0px;
	width: 1px;
	float: left;
	}

#mainContent #content .featureCol p {
	padding: 0px;
	position: relative;
	line-height: 17px;
	margin: 0px 0px 10px 5px;
	}

.buyCredits {
	background-color: #FFFF00;
	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	width: 75px;
	font-size: 10px;
	text-align: center;
	clear: both;
	}

.buyCredits a:link, .buyCredits a:visited, .buyCredits a:hover {
	font-weight: normal;
	color: #000000;
	}

.shoppingLinks li img {
	float: left;
	margin-right: 5px;
	}

.flashWidth {
	width: 360px;
	}

/*-----------(INVENTORY LIST STYLES)-------------- */

#sortItems {
	float: right;
	padding-top: 7px;
	}

#sortItems form {
	margin: 0px;
	padding: 0px;
	}

#inventoryBTN {
	clear: both;
	padding-top: 10px;
	}

#inventoryBTN ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	}

#inventoryBTN li {
	display: inline;
	margin-right: 10px;
	}

#inventoryBTN a:link, #inventoryBTN a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background: url(../images/btn_merch.jpg) no-repeat center;
	text-align: center;
	height: 16px;
	width: 190px;
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	padding: 7px 0px;
	}

#inventoryBTN a:hover {
	text-decoration: none;
	background: url(../images/btn_merch-over.jpg) no-repeat center;
	}

#sortItems .inventoryBtn a:link, #sortItems .inventoryBtn a:visited {}
#sortItems .inventoryBtn a:hover {}

#inventoryList {
	height: 350px;
	width: 700px;
	float: left;
	overflow: auto;
	display: block;
	}

#inventoryList form {
	margin: 0px;
	padding: 0px;
	}

#inventoryList ul {
	list-style: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 680px;
	display: block;
	font-size: 11px;
	}
	
#inventoryList ul.bold {
	font-size: 10px;
	}

#inventoryList ul li {
	text-align: left;
	padding: 0px;
	margin: 8px 0px 0px;
	list-style: none;
	float: left;
	width: 680px;
	display: block;
	}

#inventoryList ul ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 680px;
	}

#inventoryList ul ul li {
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	height: 25px;
	display: block;
	line-height: 1.7;
	}

#inventoryList ul ul li img {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	}

#inventoryList .highlightRow {
	background: #CCCCCC;
	height: 25px;
	}

#inventoryList .checkItem {
	width: 30px;
	text-align: center;
	background-color: #FFFFFF;
	}

#inventoryList .itemImage {
	width: 30px;
	background-color: #FFFFFF;
	}

#inventoryList .itemName {
	font-weight: bold;
	width: 155px;
	padding-left: 8px;
	}

#inventoryList .itemPrice {
	width: 85px;
	text-align: right;
	}

#inventoryList .itemsSold {
	width: 80px;
	text-align: right;
	}

#inventoryList .itemSales {
	width: 80px;
	text-align: right;
	}
	
#inventoryList .crEarned {
	width: 110px;
	text-align: right;
	}

#inventoryList .itemLink {
	width: 50px;
	text-align: center;
	}
	
	
/*-----------(MY SALES STYLES)-------------- */

#soldList {
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #333333;
	}

#soldList ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 8px;
	}

#soldList li {
	display: inline;
	}

.soldMargin {
	margin-right: 8px;
	}

.listColumn {
	}

.listColumn .flashArea {
	width: 410px;
	}

.favoriteItems {
	width: 271px;
	}
	
.lrgButton {
	text-align: center;
	font-size: 14px;
	color: #000000;
	line-height: 5em;
	height: 72px;
	width: 270px;
	}
	
.lrgButton a:link, .lrgButton a:visited {
	width: 270px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	background: url("../images/btn_addLarge.jpg") no-repeat;
	font-size: 18px;
	height: 72px;
	}

.lrgButton a:hover {
	text-decoration: underline;
	background: url("../images/btn_addLarge-over.jpg") no-repeat;
	}
.smlButton {height:46px;width:190px;margin-top:2px;}
.smlButton a:link, .smlButton a:visited {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	background:url(../images/btn_merch-over.jpg) no-repeat center;
	text-align:center;
	height:16px;
	width:190px;
	display:block;
	float:none;
	margin:4px 0 0 38px;
	font-size:12px;
	padding:7px 0; 
	}
.smlButton a:hover {text-decoration:underline;background:url(../images/btn_merch.jpg) no-repeat center;}
	
#salesList {
	height: 312px;
	width: 410px;
	float: left;
	display: block;
	font-size: 11px;
	overflow: auto;
	}
	
#salesList h3 {
	text-align: left;
	margin: 5px 0px;
	padding: 0px;
	font-weight: bold;	
	}

#salesList form {
	margin: 0px;
	padding: 0px;
	}

#salesList ul {
	list-style: none;
	text-align: left;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 390px;
	display: block;
	}
#salesList ul.bold {
	font-size: 10px;
	}

#salesList ul li {
	text-align: left;
	padding: 0px;
	margin: 8px 0px 0px;
	list-style: none;
	float: left;
	width: 390px;
	display: block;
	}

#salesList ul ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 390px;
	}

#salesList ul ul li {
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	display: block;
	line-height: 1.5em;
	}
	
#salesList .highlightRow {
	background: #CCCCCC;
	}
	
#salesList .itemName {
	font-weight: bold;
	width: 120px;
	padding-left: 8px;
	}

#salesList .itemsSold {
	width: 80px;
	text-align: right;
	}

#salesList .itemSales {
	width: 80px;
	text-align: right;
	}

#salesList .itemWklySales {
	width: 100px;
	text-align: center;
	}
	
/* :: Added 11/07/08 */
.salesTracker {
}
.salesTracker a:link, .salesTracker a:visited {
	background: url(../images/btn_tracker2.jpg) no-repeat center -28px;
	color: #FFFFFF;
	display: block;
	height: 23px;
	padding-top: 5px;
	text-decoration: underline;
	font: bold 13px Verdana, Arial, sans-serif;
	text-align: center;
	width: 189px;
}

.salesTracker a:hover {
	background: url(../images/btn_tracker2.jpg) no-repeat center 0px;
	text-decoration: none;
}
	
	
/*-----------(ITEM DESCRIPTION STYLES)-------------- */	

#mainContent #content #itemDescription {
	width: 355px;
	float: left;
	margin-left:6px;
	}
	
#itemDescription h2 {
	text-align: right;
	font-size: 17px;
	font-weight: bold;
	margin-top: 18px;
	}

.editLink {
	font-size: 12px;
}

#itemDescription .itemImage {text-align:center; position:relative;margin:10px 0 20px 0;}
	
#itemDescription table {
	width: 250px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-width: 0px;
	border-style: none;
	}
	
#itemDescription th {
	font-weight: bold;
	text-align: left;
	}
	
#itemDescription td {
	}

#itemDescription h3 {
	font-size: 13px;
	text-align: right;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	display: inline-block;
	position: relative;
	}
	
#itemDescription ul {
	margin: 5px 0px 0px;
	padding: 0px;
	list-style: none;
	float: left;
	}
	
#itemDescription li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	display: block;
	float: left;
	width: 105px;
	/*padding-left: 20px;*/
	}

#itemDescription h3 a {font-size:12px;font-weight:normal;}

#itemDescription li.checkMark {
	background: url("../images/checkCircle.jpg") no-repeat 2px 0px;
	}
	
#itemDescription .smartObjectMarker {
    color: #999999;
    font-size: 14px;
    line-height: 20px;
    float:right;
    padding-right: 10px;
    position: relative;
}

#itemDescription .smartObjectMarker a.infoButton {
    background: url("../images/icons/icon_info.jpg") no-repeat 0px 0px;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top:4px;
}

#itemDescription .smartObjectInfo {
    background: #ffffff url("../images/icons/icon_smart_objects.jpg") no-repeat 6px 12px;
    display: inline-block;
    padding: 24px 0 24px 70px;
    width: 234px;
    height: 35px;
    position: absolute;
    top: 34px;
    left: -26px;
    color: #333333;
    font-size: 11px;
    line-height: 12px;
    border:1px solid #ccc;
    box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
    z-index: 10;
}

.csstransforms #itemDescription .triangle-with-shadow {
   width: 40px;
   height: 13px;
   position: absolute;
   top: -13px;
   left: 115px;
   overflow: hidden;
   box-shadow: 0 16px 10px -17px rgba(0,0,0,0.5);
   z-index: 11;
}

.csstransforms #itemDescription .triangle-with-shadow:after {
   content: "";
   position: absolute;
   width: 25px;
   height: 25px;
   background: #ffffff;
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   top: 8px;
   left: 6px;
   box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.5);
}

a.btn_preview:link, a.btn_preview:visited {
	background: url("../images/shopTryThisOff.gif") no-repeat ;
	height: 60px;
	width: 166px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	line-height: 2em;
	text-decoration: none;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 15px;
	}
	
a.btn_preview:hover {
	background: url("../images/shopTryThisOver.gif") no-repeat ;
	}
	
a.btn_purchase:link, a.btn_purchase:visited {
	background: url("../images/shopBuyThisOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 15px;
	}
	
a.btn_purchase:hover {
	background: url("../images/shopBuyThisOver.gif") no-repeat;
	}
	

/*-----------(ITEM DETAIL STYLES)-------------- */

.col2 {
	width: 322px;
	margin:42px 0 0 16px;
	float: left; 
}

.topTabSelect {
	width: 322px;
	font-size: 14px;
	float: right;
	margin: 0px;
	padding: 0px;
	}

.tabSelect {
	width: 322px;
	font-size: 14px;
	float: right;
	margin: 0px;
	}

.topSpace {
	margin-top: 25px;
	}

.topTabSelect ul, .tabSelect ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 11px;
	}

.topTabSelect li, .tabSelect li {
	float: left;
	}

.centerTop {
	background: url("../images/divider_top.gif") repeat-x;
	height: 26px;
	width: 1px;
	}
	
.centerBtm {
	background: url("../images/divider_btm.gif") repeat-x;
	height: 26px;
	width: 1px;
	}

#itemDetail, #userReview, #addReview {
	width: 322px;
	float: right;
	background: url("../images/itemDetail_background.gif") repeat-y;
	font-size: 12px;
	line-height: 16px;
	overflow: auto;
	height: 330px;
	}

#itemDetail {
	display: block;
	}

#userReview, #addReview {
	display: none;
	}
	
#addReview .addForm {
	padding-right: 10px;
	padding-left: 10px;	
	}

#addReview form {
	margin: 20px 0px 30px;
	padding: 0px;
	}
	
#addReview form h3 {
	margin-left: 0px;
	}
	
#addReview input {
	width: 150px;
	margin-top: 3px;
	}

a.tab_itemDetail {
	color: #FFFFFF;
	background: url("../images/tabL.jpg") no-repeat;
	height: 26px;
	width: 154px;
	display: block;
	line-height: 2em;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	}
	
li.selected a.tab_itemDetail{
	background: url("../images/tabL-selected.jpg") no-repeat;
	}
	
a.tab_itemReview {
	line-height: 2em;
	background: url("../images/tabR.jpg") no-repeat;
	height: 26px;
	width: 167px;
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	text-decoration: none;
	}
	
li.selected a.tab_itemReview {
	background: url("../images/tabR-selected.jpg") no-repeat;
	}

a.btn_addReview {
	color: #FFFFFF;
	background: url("../images/btn_bottomL.jpg") no-repeat;
	height: 27px;
	width: 155px;
	display: block;
	line-height: 2em;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	}
	
a.btn_addReview:hover {
	background: url("../images/btn_bottomL-over.jpg") no-repeat;
	}

a.btn_addReview.disabled {
	background: url("../images/btn_bottomL-over.jpg") no-repeat;
    cursor: default;
	}
	
a.btn_seeReview {
	line-height: 2em;
	background: url("../images/btn_bottomR.jpg") no-repeat;
	height: 27px;
	width: 166px;
	color: #FFFFFF;
	text-align: center;
	display: block;
	font-size: 14px;
	text-decoration: none;
	}
	
a.btn_seeReview:hover {
	background: url("../images/btn_bottomR-over.jpg") no-repeat;
	}

a.btn_deleteReview {
    font-size: 10px;
}

#itemDetail table {
	border-collapse: collapse;
	width: 295px;
	border-width: 0px;
	border-style: none;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	}

#itemDetail tr {
	margin: 0px;
	padding: 0px;
	}

#itemDetail td {
	width: 48%;
	margin: 0px;
	padding: 0px;
	}

#itemDetail h3, #userReview h3, #addReview h3 {
	margin-top: 20px;
	margin-left: 10px;
	}

#itemDetail p, #userReview p,  #addReview p {
	margin: 0px 10px;
	padding: 5px 0px 30px;
	}

.user {
	line-height: 2.5em;
	width: 200px;
	margin-top: 10px;
	}

.userImg {
	width: 75px;
	margin: 10px 15px 0px 10px;
	padding: 0px;
	}

.sponsorLink {
	margin-top: 10px;
	margin-left: 10px;
	}

#noReview {
	text-align: center;
	display: block;
	margin-top: 20px;
	font-size: 18px;
	line-height: 1.5em;
	border: 1px solid #333333;
	margin-right: 15px;
	margin-left: 15px;
	}
	
.ownerBtn {
	padding-top: 10px;
	clear: both; height:30px;
}
.ownerBtn ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.ownerBtn li {
	float: left;
	text-align: center;
	color: #FFFFFF;
	height: 28px;
	vertical-align: middle;
}
.ownerBtn a:link, .ownerBtn a:visited {
	color: #FFFFFF;
	display: block;
	height: 23px;
	padding-top: 5px;
	text-decoration: underline;
	font: bold 13px Verdana, Arial, sans-serif;
}
.ownerBtn a:hover {
	text-decoration: none;
}
.ownerBtn a.btnEdit {
	width: 136px;
	background: url("../images/btn_editItem.jpg") no-repeat 0px -28px;
}
.ownerBtn a.btnEdit:hover {
	width: 136px;
	background: url("../images/btn_editItem.jpg") no-repeat 0px 0px;
}
.ownerBtn a.btnTracker {
	width: 186px;
	background: url("../images/btn_tracker.jpg") no-repeat 0px -28px;
}
.ownerBtn a.btnTracker:hover {
	width: 186px;
	background: url("../images/btn_tracker.jpg") no-repeat 0px 0px;
}

.bundleItems {margin-top:20px;}
.bundleItems .biRow {margin:2px 0;padding:2px 0 2px 0;}
.bundleItems .biRow img {vertical-align:middle;margin-right:3px;}
.bundleItems .biRow a {margin-right:5px;}
.biContainer {border:solid 1px #fff;padding:4px;width:330px;height:260px;overflow:auto;}

/*-----------(PURCHASE FORM STYLES)-------------- */	
.purchase {
	font-size: 12px;
	padding: 0;
	margin: 10px 5px 0 0;
	float: right;
	width: 190px; 
	}
	
.purchase table {
	margin: 0px 0px 5px;
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
	}
	
.purchase tr {
	margin: 0px;
	padding: 0px;
	}
	
.purchase td {
	padding: 2px;
	margin: 0px;
	vertical-align: baseline;
	}
	
.purchase td.tdWidth {
	text-align: right;
	}
	
.bold {font-weight:bold;}
.warning {color:#ff0000;}	
.divBorder {
	border: 1px solid #000;
	display: block;
	padding: 5px;
	margin-bottom: 15px;
	}
	
.rule {
	border-bottom: 1px dotted #000;
	}

.inputTextDefault {color:#999;font-style:italic;}
.inputTextNormal {color:#000;font-style:normal;}		
.purchase .button1 a:link, .purchase .button1 a:visited {
	font-size: 14px;
	line-height: 1em;
	color: #000000;
	text-decoration: none;
	width: 100%;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	}
	
.purchase .button1 a:hover {
	text-decoration: underline;
	}

.purchase a.btn_cancel:link, .purchase a.btn_cancel:visited {
	font-size: 14px;
	line-height: 2em;
	color: #fff;
	text-decoration: none;
	background: transparent url("../images/btn_purchase.jpg") no-repeat;
	display: block;
	text-align: center;
	height: 30px;
	width: 144px;
	margin-right: auto;
	margin-left: auto;
	border:none;
	}
	
.purchase a.btn_cancel:hover {
	background: url("../images/btn_purchase-over.jpg") no-repeat;border:none;
	}
	
.purchase a.btn_buy:link, .purchase a.btn_buy:visited {
	font-size: 12px;
	line-height: 2.25em;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url("../images/btn_buyCredits.jpg") no-repeat;
	display: block;
	text-align: center;
	height: 28px;
	width: 128px;
	margin-right: auto;
	margin-left: auto;
	}
	
.purchase a.btn_buy:hover {
	background: url("../images/btn_buyCredits-over.jpg") no-repeat;
	}

.aleignButton {
	margin-top: 20px;
	text-align: center;
	}

.purchase h3 {
	font-weight: bold;
	font-size: 18px;
	padding: 9px;
	width:200px;
	}

.purchase h4 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	}

.purchase p {
	margin: 0px 0px 12px 9px;
	padding: 0px;
	}
.purchase p.selection {margin:6px 10px 0 10px;font-size:11px;}
.purchase .bold {font-weight:bold;}
.purchase .bold {color:Red;}
.purchase input[type=text], .purchase select {margin-bottom:5px;}
.purchase #divProcessing {display:none;width:99%;text-align:center;padding-bottom:10px;color:Green;}



.purchasenew {font-size:12px;padding:0 0 10px 0;margin:0 10px 0 0;float:right;width:497px;border:none;}
.purchasenew .inlineerr {color:#ee2d2a;}
.purchasenew p {margin:0;padding:0;}
.purchasenew .boxTop {background: url(../images/purchase/container_4x497_greyRoundTop.png) no-repeat top center;width:497px;height:4px}	
.purchasenew .boxMiddle {background:#ebebeb;width:477px;padding:0 10px;}
.purchasenew .zonesmiddle {height:310px;}
.purchasenew .boxMiddle .buttonalign {padding:4px 0 6px 0;margin:0;overflow:hidden;}
.purchasenew .boxMiddle .buttonalign a {float:right;}
.purchasenew .boxMiddle .chkbox {float:right;margin-top:5px;}
.purchasenew .boxMiddle .chkbox input {width:13px;height:13px;padding:0;margin:0 5px 0 0;vertical-align:bottom;position:relative;top:-2px;*overflow:hidden;}

.purchasenew .boxBottom {background: url(../images/purchase/container_4x497_greyRoundBottom.png) no-repeat top center;width:497px;height:10px}
.purchasenew table {margin:0 0 5px 0;padding:0;border-collapse:collapse;width:100%;}
.purchasenew tr {margin:0;padding:0;}
.purchasenew td {padding:2px;margin:0;}
.purchasenew td.tdWidth {text-align:right;color:#999;font-size:11px;font-weight:normal;}
.purchasenew td.price {color:#000;font-weight:bold;}
.purchasenew .buywithbtn {float:right;}
                        
                        
.purchasenew td.tdWidth .price {color:#93782b;font-size:18px;font-weight:bold;}
.purchasenew .divBorder {border:none;margin-bottom:0;padding-bottom:0;}
.purchasenew .zoneselect {height:225px;}
.purchasenew .rule {border-bottom:1px dotted #ccc;}
.purchasenew .inputText {border:1px solid #ccc;margin:0;}
.purchasenew .inputTextDefault {color:#999;font-style:italic;border:1px solid #000;}
.purchasenew .inputTextNormal {color:#000;font-style:normal;}		
.purchasenew .button1 a:link, .purchasenew .button1 a:visited {
	font-size: 14px;
	line-height: 1em;
	color: #000000;
	text-decoration: none;
	width: 100%;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	}
.purchasenew .button1 a:hover {text-decoration:underline;}
.purchasenew a.btn_cancel:link, .purchasenew a.btn_cancel:visited {
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url("../images/btn_purchase.jpg") no-repeat;
	display: block;
	text-align: center;
	height: 30px;
	width: 144px;
	margin-right: auto;
	margin-left: auto;border:none;
	}
.purchasenew a.btn_cancel:hover {background:url("../images/btn_purchase-over.jpg") no-repeat;}
.purchasenew a.btn_buy:link, .purchasenew a.btn_buy:visited {
	font-size: 12px;
	line-height: 2.25em;
	color: #fff;
	text-decoration: none;
	background: transparent url("../images/purchase/Gold_shopbtns_453x34.png") no-repeat 0 0;
	display: block;
	text-align: center;
	height: 27px;
	width: 146px;
	margin-right:0;
	padding:3px 0 0 1px;border:none;
	}
.purchasenew a.btn_buy:hover {background-position:-151px 0;border:none;}
.purchasenew .aleignButton {margin-top:20px;text-align:center;}

.purchasenew a.disabled:link, .purchasenew a.disabled:visited,
.purchasenew a.disabled:hover {background-position:-302px 0;color:#feffff;cursor:default;}

.purchasenew h3 {font-weight:bold;font-size:12px;color:#333;padding:4px 0 8px 0;width:200px;float:left;}
.purchasenew h4 {font-weight:bold;font-size:14px;text-align:center;line-height:18px;}
.purchasenew hr {clear:both;display:block;width:100%;height:0;border:none;border-bottom:solid 1px #fff;border-top:solid 1px #ccc;margin:0;padding:0;}
.purchasenew hr.dotted {clear:both;display:block;width:100%;height:0;border:none;border-top:1px dotted #ccc;margin:10px 0;padding:0;}
.purchasenew hr.solid {clear:both;display:block;width:100%;height:0;border:none;border-top:1px solid #ccc;margin:8px 0 6px 0;padding:0;} 
.purchasenew hr.nobottommargin {margin-bottom:0;}
.purchasenew p {margin:0 0 12px 9px;padding:0;}
.purchasenew #radNew3DAppMsg, .purchasenew #radExistingMsg, .purchasenew #radImportMsg{height:133px;background:#f2f2f2;border:1px solid #b6b6b6;border-top:none;border-bottom-left-radius:4px;border-bottom-right-radius:4px;} 
.purchasenew div.selection {margin:4px 10px 0 22px;font-size:11px;height:auto;display:inline-block;padding:0;}
.purchasenew div.selection img {vertical-align:middle;margin:0 4px 10px 0;}
.purchasenew div.indent {padding:0;margin:0 0 0 10px;float:left;width:430px;}
.purchasenew div.indent .inputText {background:#fff url("../images/txtbox_background.gif") no-repeat 0 0;margin:8px 0 10px 14px;border:1px solid #ccc;color:#999;font-size:11px;padding:1px 0 0 4px;height:18px;}
.purchasenew div.indent .inputText.clicked {background-image:none;}
.purchasenew div.indent .worldlist {margin:8px 0 6px 14px;outline:none;border-color:#ccc;color:#999;font-size:11px;padding:1px 0 0 4px;height:20px;}
.purchasenew div.indent p {margin:0 0 10px 0;padding:0;}
.purchasenew div.indent .inlineerr {margin:-5px 0 5px 14px;display:none;font-size:11px;}
.purchasenew #radExistingMsg div.indent .inlineerr {float:right;width:200px;margin:10px}
.purchasenew #radExistingMsg div.indent .inlineerr.existing {margin-right:0;}
.purchasenew div.selection div.templatemsg {float:left;display:inline-block;width:168px;height:133px;padding:20px 6px;background:url(../images/purchase/newWorld_180x173_messageBox.png) no-repeat;margin:28px 0 0 6px;}
.purchasenew div.selection div.templatemsg p {padding:0;margin-bottom:4px;}
.purchasenew div.selection select {float:left;border:2px solid #cba155;width:214px;height:144px;margin:8px 0 4px 20px;overflow:auto;}
.purchasenew div.selection .existingmsg {float:right;width:154px;height:124px;padding:12px 14px;margin:6px 0 0 10px;background:url(../images/purchase/existingWorld_180x148_messageBox.png) no-repeat;}
.purchasenew div.selection .existingmsg p {padding:0;margin: 0 0 2px 0;font-size:12px;}
.purchasenew div.selection .homemsg {font-size:11px;background:#fff;height:80px;width:382px;padding:2px 16px;margin:0 0 4px 2px;
    border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border:1px solid #ccc;}
.purchasenew div.selection .homemsg p {padding:0;margin:6px 0 2px 0;font-size:12px;}
.purchasenew #radImportMsg div.selection .homemsg {margin-top:8px;}

.purchasenew .divBorder span.radiolabel {font-size:11px;position:relative;top:-2px;}
.purchasenew .divBorder input[type=radio] {margin:3px 0;outline:none;visibility:hidden;}
.purchasenew .divBorder input[type=radio].nopad {margin-bottom:0;}

.purchasenew .bold {font-weight:bold;}
.purchasenew a {background-color:#d6d6d6;display:block;font-weight:normal;text-decoration:none;clear:both;
	border: 1px solid #b6b6b6;
	border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	margin-top:4px;
	font-weight: normal;
	color: #555555;            
 }
.purchasenew a:hover {background-color:#ccc;border-color:#999;}
.purchasenew a.selected {background-color:#f2f2f2;border-bottom-left-radius:0;border-bottom-right-radius:0;border-color:#b6b6b6;}
.purchasenew a.selected:hover {background-color:#f2f2f2;border-color:#b6b6b6;}

.purchasenew .boxTopWhite {background: url(../images/purchase/container_4x476_whiteRoundTop.png) no-repeat top center;width:476px;height:4px;}	
.purchasenew .boxMiddleWhite {background:#fff;width:454px;padding:0 10px;border:solid 1px #fff;}
.purchasenew .boxMiddleWhite.desc {padding:0 10px 10px 10px;}
.purchasenew .boxBottomWhite {background: url(../images/purchase/container_4x476_whiteRoundBottom.png) no-repeat top center;width:476px;height:4px;}

.purchasenew .boxMiddleWhite .balances td.label {padding:10px 0 0 0;height:50px;}
.purchasenew .boxMiddleWhite .balances td .purchase_msg {font-size:11px;font-weight:normal;margin:0;padding:0;position:relative;top:-3px;height:11px;}
.purchasenew .boxMiddleWhite .balances .purchase_msg a:link,
.purchasenew .boxMiddleWhite .balances .purchase_msg a:visited,
.purchasenew .boxMiddleWhite .balances .purchase_msg a:active {color:#3d77c4;font-weight:normal;}
.purchasenew .boxMiddleWhite .balances td .alert {color:#ee2d2a;}
.purchasenew .zonecopy {color:#999;font-size:11px;width:100%;text-align:center;}


#divBuy.purchasenew {font-size:11px;}
#divBuy.purchasenew .divBorder {padding:0;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table {margin-bottom:0;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table .hide {display:none;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table.rule {border-bottom:1px dotted #a1a1a1;margin-top:6px;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table.rule td {padding:2px 0;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table.rule tr.tdBottomBorder td {padding:4px 0 10px 0;}
#divBuy.purchasenew .divBorder .boxMiddleWhite table.border {margin:3px 0 4px 0;}
#divBuy.purchasenew .boxMiddleWhite #divProcessing {border:1px solid transparent;background:url(../images/progress_bar.gif) no-repeat center center;padding:0;display:none;width:240px;height:120px;text-align:center;margin:0 auto;color:#333;font-size:12px;font-weight:bold;}
#divBuy.purchasenew .boxMiddleWhite #divProcessing div {margin:30px auto 0 auto;}
#divBuy.purchasenew .boxMiddleWhite #divCancel {height:30px;}

#divBuy.purchasenew .margintop {margin-top:10px;}
#divBuy.purchasenew .divBorder #divComplete {clear:both;height:30px;padding:0 0 0 80px;margin:8px 0 4px 0;}
#divBuy.purchasenew .divBorder .btn_buy {float:right;}
#divBuy.purchasenew .boxMiddle p.note {border-top:1px dotted #a1a1a1;color:#999;text-align:center;margin:auto;margin-top:10px;margin-bottom:10px;padding:10px 0 0 0;width:420px;line-height:13px;}
#divBuy.purchasenew .boxMiddle .aleignButton {padding:3px 0 3px 0;margin:0;}

#divComplete.purchasenew .divBorder {padding:0;}
#divComplete.purchasenew .divBorder .boxMiddleWhite {height:170px;text-align:center;}
#divComplete.purchasenew .divBorder .boxMiddleWhite p {text-align:left;float:left;margin:6px auto;font-size:11px;width:270px;}
#divComplete.purchasenew .divBorder .boxMiddleWhite p span {font-weight:bold;}
#divComplete.purchasenew .divBorder .boxMiddleWhite img {margin-left:10px;}
#divComplete.purchasenew .divBorder .boxMiddleWhite a {clear:none;}
#divComplete.purchasenew .divBorder .boxMiddleWhite div {float:left;width:80px;margin-top:4px;padding-right:5px;text-align:center;font-size:11px;}
#divComplete.purchasenew .divBorder .boxMiddleWhite div.btncontainer {margin:0 auto;float:none;width:348px;width:100%;margin-top:10px;padding:16px 0 0 0;border-top:1px dotted #999;text-align:center;}
#divComplete.purchasenew .divBorder .boxMiddleWhite div.holder {width:348px;margin:0 auto;float:none;display:inline-block;}
#divComplete.purchasenew .divBorder hr.solid {margin:10px 0;}
#divComplete.purchasenew .divBorder div.aleignButton {padding:3px 0 3px 0;margin-top:0;}
#divComplete.purchasenew .divBorder .btn_cancel {margin-top:0;}
#divComplete.purchasenew .margintop {margin-top:10px;}

#divComplete.purchasenew .divBorder {padding:0;}
#divComplete.purchasenew .divBorder .boxMiddleWhite div.btncontainer {margin:0 auto;height:28px;margin-top:10px;}
#divComplete.purchasenew .divBorder .boxMiddleWhite p {text-align:center;margin:6px auto;font-size:11px;}
#divComplete.purchasenew .divBorder .boxMiddleWhite a#lbContinueShopping {border:none;clear:none;display:block;font-size:11px;color:#3d77c4;background-color:transparent;float:left;font-weight:bold;}


#divComplete.purchasenew .divBorder .boxMiddleWhite a.playnow:link, #divComplete.purchasenew .divBorder .boxMiddleWhite a.playnow:visited {
	float:right;
	text-decoration: none;
	background: url("../images/purchase/playnowsmallup.png") no-repeat;
	display: inline-block;
	height: 26px;
	width: 133px;
	margin:0 0 0 0;
	}
#divComplete.purchasenew .divBorder .boxMiddleWhite a.playnow:hover {background:url("../images/purchase/playnowsmallover.png") no-repeat;}


#divCompleteZone.purchasenew .divBorder {padding:0;}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite {height:90px;text-align:center;padding-top:20px;}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite div.btncontainer {margin:0 auto;height:28px;width:286px;margin-top:10px;}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite p {text-align:center;margin:6px auto;font-size:11px;}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite a {clear:none;display:block;font-size:11px;color:#3d77c4;background-color:transparent;border:none;float:left;padding-top:3px;font-weight:bold;margin-right:30px;}
#divCompleteZone.purchasenew .divBorder hr.solid {margin:10px 0;}
#divCompleteZone.purchasenew .divBorder div.aleignButton {margin-top:0;}
#divCompleteZone.purchasenew .divBorder .btn_cancel {margin-top:0;}
#divCompleteZone.purchasenew .boxMiddle {height:172px;}
#divCompleteZone.purchasenew .margintop {margin-top:10px;}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite a.playnow:link, #divCompleteZone.purchasenew .divBorder .boxMiddleWhite a.playnow:visited {
	float:right;
	text-decoration: none;
	background: url("../images/purchase/playnowsmallup.png") no-repeat;
	display: block;
	height: 26px;
	width: 133px;
	margin:3px 0 0 0;
	}
#divCompleteZone.purchasenew .divBorder .boxMiddleWhite a.playnow:hover {background:url("../images/purchase/playnowsmallover.png") no-repeat;}

/*-----------(LOGIN FORM STYLES)-------------- */	

#signin {}

#signin form {
	margin: 0px;
	padding: 0px;
	}
	
#signin ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	
#signin li {
	line-height: 1.5em;
	padding-top: 4px;
	padding-bottom: 4px;
	}
	
#signin label {}
#signin input {
	width: 165px;
	}
	
#signin input.btn {
	width: 125px;
	}
	
#signin input.checkBox {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	}
	
/*-----------(ADD FORM STYLES)-------------- */	
	
#content form {
	margin: 0px;
	padding: 0px;
	}

.formStyle .fieldNote {text-align:left;margin:0;padding:0;font-size:10px;color:#999;}

.formStyle .labelUMD {
	width: 120px;
	text-align: right;
	background-color:Blue;
	position:absolute;
	}
	
.formStyle .divDO {
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 10px;
	}
	
.formStyle  {
	margin: 0px;
	padding: 15px 0 0;
	}
	
.formStyle div {
	margin: 0px;
	padding: 10px 0px 10px 0;
	}

.formStyle fieldset {
	border-width: 0px;
	border-style: none;
	margin: 0px 0px 20px;
	padding: 0px;
	}
	
.formStyle div label {
	margin: 0 8px 0 0;
	padding: 0;
	width: 112px;
	height: 20px;
	text-align: left;
	clear:both; 
	}
	
.formStyle div input, .formStyle div select {
	margin:0;
	padding:0;
	width:300px;
	height:20px;
	}

.formStyle div input.checkBox {
	margin:0 0 0 14px; 
	padding:0;
	width:12px;
	height:12px;  
	}

.formStyle .publicLabel {width:120px;padding:0 8px 0 0;}
	
.formStyle div textarea {
	margin:0;
	padding:0;
	width:280px;
	height:30px;
	}
	
.formStyle div textarea#caption {
	margin: 0;
	padding: 0;
	width: 200px;
	height: 40px;
	}
	
.formStyle div .radio {
	margin: 0;
	padding: 0;
	width: 14px;
	height: 14px;
	}
	
.formStyle div .formBox {
	margin:0;
	padding0 0 10px 0;
	width: 200px;
	height: 20px;
	display: inline;
	}
	
.formStyle div .formBox label {
	margin:0 0 0 20px;
	padding: 0;
	width: auto;
	height: 20px;
	text-align: right;
	float: none;
	}

.formStyle .validator {color:red;margin:0 0 0 12px;}
.formStyle .validator1 {color:red;margin:0 0 0 1px;}

.formStyle .formNote {color:#777;margin:0 0 0 25px;}	
.formStyle div .formBox span, .formNote { 
	display: block;
	clear: both;
	margin:0; 
	padding:5px 0 0 0;
	font-size: 11px; 
	}
.uploadDate {
	display: block;
	clear: both;
	padding: 5px 0px 0px;
	font-size: 11px;
	}
	
.formStyle div .formBox img {
	vertical-align: top;
	}
	
.formStyle .BTN a {
	text-align: center;
	width: 200px;
	background-color: orange;
	display: block;
	font-size: 16px;
	padding: 10px;
	color: #FFFFFF;
	border: 1px solid brown;
	}
.formStyle .indent {margin-left:23px;}
.formStyle .itemName {margin-bottom:6px;}	
.formStyle .itemPhoto {
	width: 90px;
	text-align: left;
	margin:0 0 0 23px;
	padding: 0px;
	float: left;
	}
.formStyle .itemPhoto img {
	max-width: 90px;
	}

.formStyle .getPhoto {
	text-align: left;
	width: 229px;
	padding-bottom:3px;
	}

.formStyle .getPhoto label {
	margin: 0px;
	padding: 0px;
	}

.formStyle .getPhoto input {
	}

.formStyle .getPhoto input.photoBtn {
	width: 90px;
	margin-right: 10px;
	}

.formBtns {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	}

.formBtns input {
	width: 100px;
	}
.formStyle div.textureArea {
	display: block;
	padding: 0px;
	margin: 0px;
}	
.formStyle div.textureTitle {
	float: left;
	width: 182px;
	text-align: right;
	padding-top: 15px;
}
.formStyle div.textureTitle h2 {
	font-size: 18px;
}
.formStyle div.textureImage {
	float: right;
	width: 90px;
	margin-right: 60px;
	display: inline;
}
.formStyle .desc {
	padding: 5px 40px;
	text-align: center;
}
.formStyle .passType {padding:0;}
.errSum {width:450px;padding-top:10px;color:Red;margin-left:50px;}
.errSumCenter {width:99%;padding:0;margin:20px 0 10px 0;text-align:center;}
	
/*-----------(EDIT FORM STYLES)-------------- */	


/*
* DESIGNER.KANEVA.COM STYLES
* ---------------------------------------------------- */	
#mainContent #designContent {
	padding-left: 15px;
}
#mainContent #designContent h2 {
	margin: 20px 0px 0px;
	padding: 0px;
	float: none;
	font-size: 18px;
}
#mainContent #designContent h3 {
	padding: 0px;
	float: none;
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px 0px;
}
#mainContent #designContent p {
	padding: 0px;
	margin: 5px 0px 10px;
}
#mainContent #designContent ul {
	padding: 0px;
	margin: 0px 0px 0px 15px;
}
#mainContent #designContent li {
	padding: 0px;
	margin-top: 4px;
}
.btn_getStarted {
	padding: 0px;
	float: right;
	width: 200px;
	margin-right: 20px;
}
.btn_getStarted a:link, .btn_getStarted a:visited {
	font-size: 30px;
	line-height: 36px;
}
.btn_getStarted a:hover {
	color: #CC0000;
}
#mainContent #designContent table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
#mainContent #designContent tr {
}
#mainContent #designContent th {
	width: 25%;
	font-size: 16px;
	padding: 4px;
	font-weight: normal;
}
#mainContent #designContent td {
	text-align: center;
	padding: 4px;
}


/*-----------(MISC)-------------- */	

.bold {
	font-weight: bold;
	}

.highlight {
	color: #CCCCCC;
	font-weight: bold;
	}

.strike {
	color: #777;
	}
	
.callOut {
	color: #990000;
	}
	
.clearit {
	clear: both;
	}
	
hr {
	display: none;
	}
	
p.sep {
	height: 1px;
	border-top: 1px dotted red;
	padding: 10px;
	}
	
.floatRight {
	float: right;
	}
	
.floatLeft {
	float: left
	}
	
.inline {
	display: inline;
	}
	
.alignLeft {
	text-align: center;
	}
	
.alignCenter {
	margin: 0 auto;
	}

.note {
	font-size: 11px;
	}

a img {
	border: none;
	}
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}
	
.restrictedSymbol {
}

/*-----------(STANDARD BUTTON STYLES)-------------- */	

/* All buttons */
a.btntiny {height:19px;width:49px;display:block;padding:4px 0 0 0;font-size:11px;font-weight:normal;text-align:center;}
a.btnxsmall {height:21px;width:90px;display:block;padding:6px 0 0 0;font-size:12px;font-weight:bold;text-align:center;}
a.btnsmall {height:23px;width:134px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btntallsmall {height:26px;width:117px;display:block;padding:7px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnmedium {height:23px;width:145px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnlarge {height:23px;width:173px;display:block;padding:4px 0 0 0;font-size:14px;font-weight:bold;text-align:center;}
a.btnxlarge {height:28px;width:163px;display:block;padding:8px 0 0 0;font-size:16px;font-weight:bold;text-align:center;}

a.btntiny.inline {display:inline-block;}
a.btnxsmall.inline {display:inline-block;}
a.btnsmall.inline {display:inline-block;}
a.btntallsmall.inline {display:inline-block;}
a.btnmedium.inline {display:inline-block;}
a.btnlarge.inline {display:inline-block;}
a.btnxlarge.inline {display:inline-block;}

a.grey {color:#333;text-shadow:1px 1px #fff;text-decoration:none;}
a.black {color:#fff;text-shadow:1px 1px #111;text-decoration:none;}
a.orange {color:#fff;text-shadow:1px 1px #dc924f;text-decoration:none;}
a.green {color:#fff;text-shadow:1px 1px #518108;text-decoration:none;}
a.blue {color:#fff;text-shadow:1px 1px 3px #122c42;text-decoration:none;}

/* Grey */
.btntiny.grey:link {background:url(../images/buttons/button_151x23_tinyGrey.png) no-repeat 0 0;}
.btntiny.grey:hover {background-position:-51px 0;text-decoration:none;}
.btntiny.grey:active {background-position:-102px 0;}

.btnxsmall.grey:link {background:url(../images/buttons/button_274x27_xtrasmallGrey.png) no-repeat 0 0;}
.btnxsmall.grey:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.grey:active {background-position:-184px 0;}

.btnsmall.grey:link {background:url(../images/buttons/button_403x27_smallGrey.png) no-repeat 0 0;}
.btnsmall.grey:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.grey:active {background-position:-270px 0;}

.btnmedium.grey:link {background:url(../images/buttons/button_439x27_mediumGrey.png) no-repeat 0 0;}
.btnmedium.grey:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.grey:active {background-position:-294px 0;}

.btnlarge.grey:link {background:url(../images/buttons/button_523x27_largeGrey.png) no-repeat 0 0;}
.btnlarge.grey:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.grey:active {background-position:-350px 0;}

.btnxlarge.grey:link {background:url(../images/buttons/button_493x36_xlGrey.png) no-repeat 0 0;}
.btnxlarge.grey:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.grey:active {background-position:-330px 0;}

/* Orange */
.btnxsmall.orange:link {background:url(../images/buttons/button_274x27_xtrasmallOrange.png) no-repeat 0 0;}
.btnxsmall.orange:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.orange:active {background-position:-184px 0;}

.btnsmall.orange:link {background:url(../images/buttons/button_403x27_smallOrange.png) no-repeat 0 0;}
.btnsmall.orange:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.orange:active {background-position:-270px 0;}

.btntallsmall.orange:link {background:url(../images/buttons/button_355x33_tallsmallOrange.png) no-repeat 0 0}
.btntallsmall.orange:hover {background-position:-119px 0;text-decoration:none;}
.btntallsmall.orange:active {background-position:-238px 0;}

.btnmedium.orange:link {background:url(../images/buttons/button_439x27_mediumOrange.png) no-repeat 0 0;}
.btnmedium.orange:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.orange:active {background-position:-294px 0;}

.btnlarge.orange:link {background:url(../images/buttons/button_523x27_largeOrange.png) no-repeat 0 0;}
.btnlarge.orange:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.orange:active {background-position:-350px 0;}

.btnxlarge.orange:link {background:url(../images/buttons/button_493x36_xlOrange.png) no-repeat 0 0;}
.btnxlarge.orange:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.orange:active {background-position:-330px 0;}

/* Black */
.btnxsmall.black:link {background:url(../images/buttons/button_274x26_xtrasmallBlack.png) no-repeat 0 0;}
.btnxsmall.black:hover {background-position:-92px 0;text-decoration:none;}
.btnxsmall.black:active {background-position:-184px 0;}

.btnsmall.black:link {background:url(../images/buttons/button_403x27_smallBlack.png) no-repeat 0 0;}
.btnsmall.black:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.black:active {background-position:-270px 0;}

.btnmedium.black:link {background:url(../images/buttons/button_439x27_mediumBlack.png) no-repeat 0 0;}
.btnmedium.black:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.black:active {background-position:-294px 0;}

.btnlarge.black:link {background:url(../images/buttons/button_523x27_largeBlack.png) no-repeat 0 0;}
.btnlarge.black:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.black:active {background-position:-350px 0;}

.btnxlarge.black:link {background:url(../images/buttons/button_493x36_xlBlack.png) no-repeat 0 0;}
.btnxlarge.black:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.black:active {background-position:-330px 0;}

/* Green */
.btnsmall.green:link {background:url(../images/buttons/button_403x27_smallGreen.png) no-repeat 0 0;}
.btnsmall.green:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.green:active {background-position:-270px 0;}

.btnmedium.green:link {background:url(../images/buttons/button_439x27_mediumGreen.png) no-repeat 0 0;}
.btnmedium.green:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.green:active {background-position:-294px 0;}

.btnlarge.green:link {background:url(../images/buttons/button_523x27_largeGreen.png) no-repeat 0 0;}
.btnlarge.green:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.green:active {background-position:-350px 0;}

.btnxlarge.green:link {background:url(../images/buttons/button_493x36_xlGreen.png) no-repeat 0 0;}
.btnxlarge.green:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.green:active {background-position:-330px 0;}

/* Blue */
.btnsmall.blue:link {background:url(../images/buttons/button_403x27_smallBlue.png) no-repeat 0 0;}
.btnsmall.blue:hover {background-position:-135px 0;text-decoration:none;}
.btnsmall.blue:active {background-position:-270px 0;}

.btnmedium.blue:link {background:url(../images/buttons/button_439x27_mediumBlue.png) no-repeat 0 0;}
.btnmedium.blue:hover {background-position:-147px 0;text-decoration:none;}
.btnmedium.blue:active {background-position:-294px 0;}

.btnlarge.blue:link {background:url(../images/buttons/button_523x27_largeBlue.png) no-repeat 0 0;}
.btnlarge.blue:hover {background-position:-175px 0;text-decoration:none;}
.btnlarge.blue:active {background-position:-350px 0;}

.btnxlarge.blue:link {background:url(../images/buttons/button_493x36_xlBlue.png) no-repeat 0 0;}
.btnxlarge.blue:hover {background-position:-165px 0;text-decoration:none;}
.btnxlarge.blue:active {background-position:-330px 0;}

/*-----------(FOOTER)-------------- */	

#footer {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0 0 30px 0;
	position: relative;
	display: block;
	float: left;
	background-color: transparent;
	color:#333;
	}
	
#footerContent {
	clear: both;
	width: 730px;
	margin: 0 auto;
	padding: 20px 0 20px 200px;
	position: relative;
	display: block; 
	}
	
#footer li.header 
{
	
	margin-bottom:10px;
	}
	
#footer li.header a:link {
	text-decoration: none;
	padding: 0px;
	text-decoration:none;
	font-weight:bold;
	}
	
#footer ul {
	padding: 0;
	margin: 0 50px 0 0;
	list-style: none;
	float: left;
	text-align:left;
	}
#footer ul li 
{
	height:20px;
}
	
#footer a:link, #footer a:visited {
	text-decoration:underline;
	font-weight: normal;
	padding: 0px;
	text-decoration:none;
	color:#333;
	}
#footer a:hover {
	text-decoration:underline; font-weight: normal; 
	}
	
#footer p.copyright {
	padding: 30px 0 0 0; float: right; width: 200px; text-align: right;
	}

#footerContent  {margin-bottom:4px;text-align:center;padding:20px 0 0 0;clear:both;font-family:verdana, arial, helvetica, sans-serif;}
#footer > hr {display:block;height:1px;background-color:#fff;width:800px;border:none;border-top:1px solid #ccc;margin:70px auto 10px auto;}

	



/*
* Pop Up Window for Add Item
* ---------------------------------------------------- */

#popUpWin {
	width: 700px;
	background: #FFFFFF;
	text-align: center;
	padding: 40px 0px 10px;
	color: #990000;
	font-size: 14px;
	height: 275px;
	display: none;
	margin: 0px;
	border: 1px solid #990000;
	position: absolute;
	left: 10px;
	top: 30px;
	z-index: 999;
	}
	
#popUpWin div {
	background: #FFFFFF;
	padding-right: 50px;
	padding-left: 50px;
	opacity:1.0;
	filter:alpha(opacity=100);
	text-align: left;
	}
	
#popUpWin h1 {
	margin: 0px 0px 10px 5px;
	padding: 0px;
	font-size: 24px;
}
	
#popUpWin p {
	background: #FFFFFF;
	}

#popUpWin input{
  padding: 2px 7px;

  background-image: url('../images/buttons/blueButtonOff.gif');
  background-repeat:repeat-x;
  text-align: center;
  text-decoration: none;
  color: white;
  border-style:none;

	}
	
#popUpWin2 
{
  background: #FFFFFF;
  width: 523px;
  padding: 0px 0px 10px;	      
  font-size: 14px;
  height: 275px;	
  display: none; 
  margin: 0px;				
  position: absolute;
  left: 10px;
  top: 30px;
  }				
	
#popUpWin2 div {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  }
	
#popUpWin2 input, #popUpWin2 input[disabled]{
  background-image: url('../images/buttons/blueButtonOff.gif');
  background-repeat:repeat-x;
  background-color: #264B64;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border-style:none;
  }
  
#popUpWin2 .popUpWinMsgTitleBar input
{
    background-image: url('../images/buttons/closeoutButton.gif');
    background-repeat: no-repeat;
    background-color: Transparent;
    padding-right: 20px;
    float: right;
}
	
	
.popUpWinMsg {border: 1px solid #264B64; }

.popUpWinMsgTitleBar 
{
  text-align: left;
  background-image: url('../images/backgrounds/windowHeader.gif');
  background-repeat: no-repeat;        
  color: #FFFFFF;
  padding: 5px;	
	overflow: hidden;
	height: 16px;
}
	
.formBtns2 {
	text-align: center;
	margin-left: 160px;
	}
	
a.btn_submit:link, a.btn_submit:visited {
	background: url("../images/btn_purchase.jpg") no-repeat center 0px;
	height: 30px;
	width: 200px;
	font-size: 14px;
	line-height: 2em;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	}
	
a.btn_submit:hover {
	background: url("../images/btn_purchase-over.jpg") no-repeat center 0px;
	}

.highlightRow 
{
	background: #CCCCCC;
}

#divbtn a:link, #divbtn a:visited
{
  padding: 2px 7px;
  width: 100px;
  background-image: url('../images/buttons/blueButtonOff.gif');
  background-repeat: repeat-x;
  text-align: center;
  text-decoration: none;
  color: white;
}

#divbtn a:hover
{
  background-image: url('../images/buttons/blueButtonOver.gif');
}

#ravethis a, #ravethis a span 
{
    background: transparent url('../images/rave_base.gif') no-repeat scroll left 0;
    margin: 0 2px 0 0;       /* == amount of background image to the right */
    padding: 0 0 0 50px;      /* == amount of background image to the left */
    display: -moz-inline-box; /* Firefox 2 support for inline-block */
    display: inline-block;    /* Must be used so that height can be set */
    height: 20px;             /* Same as height of background image */
    font: 11px/19px Verdana, Arial; /* Appropriate font size / line height */
    color: #fff;
    text-decoration: none;
}

#ravethis a {
    background-position: right 0;
    margin: 0;
    padding: 0;
}

#addthisStuff 
{
    height: 26px;
}

/* Bundles */
.clearit {clear:both;}
.divider {border-bottom:1px solid #ddeefe;height:20px;margin:0;}
#itemsContainer {padding:10px 14px 0 14px;}
#itemsContainer .note {color:#999;}
#itemsContainer #PopUp {display:none;position:absolute;left:-10px;top:36px;background-color:transparent;font-size:12px;width:339px;height:169px;}
.gids a.aGID {color:#038aaa;text-decoration:none;}
.gids #btn {float:right;margin-right:14px;}
#itemsContainer .errSum {margin:10px 0 0 0;padding:0;}
.addedItemsContainer {margin-top:14px;}
.tblHeader {color:#999;font-weight:bold;font-size:11px;}
.tblHeader .name {float:left;width:290px;padding-left:8px;}
.tblHeader .price {float:left;width:60px;text-align:center;}
.tblHeader .id {float:left;width:100px;text-align:right;}
.tblHeader .ap {float:left;width:40px;text-align:center;padding-left:7px;}
.bundleList {border:solid 1px #ccc;width:520px;height:142px;float:left;overflow:auto;}
#tblItems tr {font-weight:bold;}
#tblItems tr.unchecked {background-color:#fff;}
#tblItems tr.checked {background-color:#ddeefe;}
#tblItems td {padding:2px 0;}
#tblItems td.name {width:290px;padding-left:8px;}
#tblItems td.price {width:60px;text-align:center;}
#tblItems td.spacer {width:16px;}
#tblItems td.id {width:84px;text-align:right;}
#tblItems td.ap {width:40px;text-align:center;padding-left:6px;}
.deleteItem {float:left;padding-left:10px;}
.deleteItem .apimg {margin-top:10px}
.pricing {background-color:#dbdbdb;width:330px;height:110px;padding:20px;}
.pricing div {margin:0;}
.pricing .title {font-weight:bold;padding:0;margin:2px 0 2px 10px;}
.pricing .row div, .pricing .line div, .pricing .total div {float:right;padding:0;margin-right:8px;}
.pricing .row {padding:0;margin:2px 0 2px 10px;}
.pricing .line {border-bottom:solid 1px #000;padding:0;margin:2px 0 2px 10px;} 
.pricing .total {padding:0;margin:2px 0 2px 10px;} 
.pricing p {clear:both;font-size:11px;color:#9e9e9e;padding:0 0 0 10px;}
#bundles .formStyle {padding-top:0;}

a.buttonFixed, a:hover.buttonFixed,  a:active.buttonFixed{
background:url(../../images/buttons/btn_grey_medium_blank.gif);
display:block;
color:#000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:133px;
}
.addbtn{background:url(../../images/icons/icon_add_17x17.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
.deletebtn {background:url(../../images/icons/icon_delete_16x16.gif) no-repeat 6px 4px;text-indent:26px;display:block;}

.updating {position:absolute;left:120px;top:100px;background-color:#eee;padding:10px;font-size:12px;width:300px;height:50px;text-align:center;border:1px solid black;}
.nosales {text-align:center;width:95%;margin-top:50px;}
.red {color:red;}

.btn_rpt {font-size:10px;}

/*
* Media Library Lightbox
* ---------------------------------------------------- */
.mediaLibraryFrame {
    width: 584px;
    height: 508px;
    background-color: #fff;
}
.mediaLibraryContent {
    background-color: #fff;
    height: 508px;
    padding: 6px 0;
}
.mediaLibraryContent .title {
    margin-bottom:10px;
    margin-left: 6px;
}
.mediaLibraryContent .mediaLibraryPager {
    float:right;
    margin-right: 7px;
}
.mediaLibraryPhotos {
    margin-bottom: 8px;
    margin-top: 12px;
    height: 364px;
}
.mediaLibraryPhotos .imageNameContainer {
    height: 75px;
}
.mediaLibraryPhotos .lineItemThumb #objectContainer {
    position:relative;
    border: 1px solid #a0a0a0;
    width: 100px;
    margin-bottom: 10px;
    margin-right: 6px;
}
.mediaLibraryPhotos .lineItemThumb #objectContainer.selected {
    border: 1px solid blue;
}
.mediaLibraryPhotos .lineItemThumb #radioContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.mediaLibraryBtnContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
    clear: both;
}
.mediaLibraryBtnContainer .btnsmall {
    font-size:12px;
    padding-top: 6px;
}
.mediaLibraryUpdateProgress {
    background-color: #fff;
    height: 508px;
}
.mediaLibraryEmptyMsg {
      margin-top: 190px;
      display: block;
      text-align: center;
}

/*
* Deed Upload
* ---------------------------------------------------- */
#divData.deedData #requiredFieldMsg {
    clear: both;
    color: #9e9e9e;
    font-size: 10px;
    padding: 6px 0 0 10px;
    display: block;
    width: 100%;
}
#divData.deedData .colWidth {
    padding-top:0;
}
#divData.deedData .formStyle {
    padding-top:6px;
}
#divData.deedData .formStyle .columnTitle {
    margin-left:0;
}
#divData.deedData .formStyle hr {
  margin-top: 24px;
  margin-bottom: 6px;
  border: 0;
  border-top: 1px solid #ebebeb;
  height: 0;
  display:block;
  clear: both;
}
#divData.deedData .formStyle input.checkBox {
    margin:0;
}
#divData.deedData .formStyle .formNote,
#thumbnailEditContainer .formNote {
    margin:0 0 12px 0;
    padding: 0;
    line-height: 14px;
}
#divData.deedData .formStyle .validator {
    margin-left:-20px;
}
#divData.deedData .imgLoading {
    position: absolute;
    top: 70px;
    right: 198px;
}

#divData.deedData .pricing {width:334px;height:314px;background-color:#f6f6f6;padding-right:10px;}
#divData.deedData .pricing a {font-weight:normal; color:#3d78c6;}
#divData.deedData .pricing .row {margin-bottom:12px;}
#divData.deedData .pricing .row input[type="text"] {text-align:right;float:right;margin-right:6px;}
#divData.deedData .pricing .line {margin:-4px 0 6px 10px;}
#divData.deedData .pricing .total {font-weight:bold;}
#divData.deedData .pricing .total.vip {color:#f7941d;}

#divData.deedData .deedItems {height:314px;}
#divData.deedData .deedItems .iIRow {margin:2px 0;padding:2px 0 2px 0;}
#divData.deedData .deedItems .iIRow img {vertical-align:middle;margin-right:3px;}
#divData.deedData .deedItems .iIRow a {margin-right:5px;}
#divData.deedData .deedItems .iIContainer {
  border-top: solid 1px #e3e3e3;
  padding: 4px;
  width: 312px;
  max-height: 254px;
  overflow: auto;
  margin-left: 12px;
}
#divData.deedData .deedItems .columnHeader {font-weight: bold; font-size: 11px; margin: -2px 14px 2px 14px;}
#divData.deedData .deedItems .columnHeader .priceColumn {margin-right:20px;}
#divData.deedData .deedItems .priceColumn {float:right;margin-right:10px;}

#divData.deedData .formBtns2 {
    margin:0;
    padding-top: 34px;
}

#thumbnailEditContainer {
    position: relative;
    float: left;
    min-width: 300px;
}
#thumbnailEditContainer img {
    float: left;
    margin-left: 24px;
    max-width: 120px;
}
#divData.deedData #thumbnailEditContainer img {
    margin-left: 0;
}
#thumbnailEditContainer #thumbnailEditButtons {
    position:relative;
    float: left;
    margin: 0 0 10px 10px;
    padding: 0;
    width: 186px;
    height: 110px;
}
#thumbnailEditContainer input[type="button"] {
    width: 108px;
    display: block;	
    margin-bottom: 2px;
}
#thumbnailEditContainer input[type="file"] {
   filter: alpha(opacity=0);
   opacity: 0;
   position: absolute;
   width:108px;
}