/* HEADER */
/*-----------MODULE-------------- */	
.module {
	border-style:none;
	background-image:none;
}	
.module h1, .module h2, .module ul, .module li,
.module p, .module td, .module th {
    color:#333333;
}	
.module h1, .module h2 {
    margin:0;
    padding:0;
}
.module table {
	margin-bottom:0;
}

/*-----------MEDIA NAV-------------- */	
ul#mediaNav {
    width:465px;
    padding:0;
    background-color:#ffffff;
    border-style:none;
    border-bottom:1px solid #cccccc;
    margin-bottom:0;
}
ul#mediaNav li a {
    background-color:#ffffff;
}
ul#mediaNav .rave {
    background-image:none;
    text-indent:0px;
}
ul#mediaNav .rave a,
ul#mediaNav .rave a:hover {
    margin-left:0;
}
ul#mediaNav .rave a,
ul#mediaNav .rave a:hover,
ul#mediaNav #share a,
ul#mediaNav #share a:hover,
ul#mediaNav #fullscreen a,
ul#mediaNav #fullscreen a:hover,
ul#mediaNav #report a,
ul#mediaNav #report a:hover {
    background-color:#ffffff;
    margin-top:7px;
    margin-bottom:0;
    height:62px;
    padding-bottom:0;
}

/*-----------RELATED MEDIA-------------- */	
#related_media {
	width: 450px;
}
#related_content {
    width: 450px !important;
    width: 450px;
    border:1px solid #cccccc;
    border-bottom-style:none;
    background-color: #f8f8f8;
}
#related_content hr {
    margin: 8px 0 !important;
    margin: 3px 0;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}	
#related_content .framesize-small,
#related_content .framesize-small .frame {
    position:static;
}
.related_tabs a:link, 
.related_tabs a:visited, 
.related_tabs a:hover {
    color: #999999;
    background:#EBEBEB none;
    border: 1px solid #CCCCCC;
    border-bottom-style:none;
    text-decoration:none;
}        
.related_tabs a:link.selected, 
.related_tabs a:visited.selected, 
.related_tabs a:hover.selected {
    color: #333333;
    background:#EEEEEE none;
    border-top: 1px solid #CCCCCC;
    text-decoration:none;
}
#related_footer {
	width: 448px !important;
	width: 448px;
	background-color: #f8f8f8;
	border-top: 1px solid #CCCCCC;
}
 	
/*-----------COMMENTS-------------- */		
#commentsContainer {
    width: 460px;
}
#commentsContainer table {
    width: 100%;
}
#commentsContainer .comment {
    width: 460px !important;
    width: 460px;
    font-size: 11px;
    color:#333333;
    padding-left:0;
    padding-right:0;
    margin-left:0;
}	
#commentsContainer .comment h3 {
    line-height:15px;
}	
#commentsContainer .comment .commenttext {
    width: 364px !important;
    width: 364px;
}	
#commentsContainer .reply .commenttext {
    width: 330px !important;
    width: 330px;
} 	 	
#commentsContainer .nocomment {
    width: 440px !important;
    width: 440px;
    display: inline;
    margin: 0 8px 0 0;
    float: right;
}
#commentsContainer .nocomment .commenttext {
    width: 402px !important;
    width: 402px;
    float: left;
    margin-left: 15px;
    display: inline;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
}
					
/*-----------LINKS-------------- */	
a:link, a:visited {
    color:#3E77C6;
    text-decoration:none;
    background-color:transparent;
    line-height:12px;
}
a:hover, active {
	color:#3E77C6;
    text-decoration:underline;
    background-color:transparent;
    line-height:12px;
}

	
/*-----------LANDINGPAGEBASE.CSS OVERRIDES-------------- */	
.pageBody {
    background-color:#ffffff;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:0;
    margin-bottom:30px;
    border:1px solid #cccccc;
    border-top-style:none;
}

.pageHeader .signIn a {
    font-size:10px
}

/*-----------PAGE WRAPPING-------------- */
.assetPageWrapper:before, .assetPageWrapper:after {
    content:"";
    display:table;
}
.assetPageWrapper:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.assetPageWrapper {
    zoom:1;
}

/*-----------ACCESS MESSAGE-------------- */
.accessMessageWrapper {
    padding-left:100px;
    padding-right:100px;
    padding-bottom:24px;
    position:relative;
}
.accessMessageWrapper:before, .accessMessageWrapper:after {
    content:"";
    display:table;
}
.accessMessageWrapper:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.accessMessageWrapper {
    zoom:1;
}
.accessMessageWrapper .accessMessageImage {
    float:left;
}
.accessMessageWrapper .accessMessageImage h2 {
    margin-bottom:14px;
}
.accessMessageWrapper .accessMessageText {
    float:right;
    width:350px;
    margin-top:150px;
}

/*-----------LEFT COLUMN-------------- */
.leftColumn {
    border-right:1px solid #cccccc;
    padding-right:2px; 
    margin-bottom:17px;  
}
.leftColumn .assetTitle {
    margin-bottom:14px;
    margin-left:14px;
    color:#333333;
}
.leftColumn, .leftColumn .module {
    width:476px;
    position:relative;
    float:left;
    font-size:11px;
}
.leftColumn .module .mediaPlayer {
    width:450px;
    background-color:#FFFFFF;
    overflow:hidden;
    border:1px solid #e0e0e0;
    margin:6px auto 0 auto;   
}
.leftColumn .module .mediaToolbar {
    width:450px;
    height:106px;
    margin-left:auto;
    margin-right:auto;
}
.leftColumn .detailContainer {
    position:relative;
    margin-left:15px;
    margin-right:15px;
    clear:both;
}
.leftColumn .detailContainer .subColumnLabel,
.leftColumn .detailContainer .subColumn {
    float:left;   
    margin:0 0 22px 0;
    padding:0;
    text-align:left;
}        
.leftColumn .detailContainer .subColumnLabel {
    width:88px;
}
.leftColumn .detailContainer .subColumnLabel,
.leftColumn .detailContainer .subColumn .framesize-small {
    margin-right:10px;
}
.leftColumn .detailContainer .subColumn {
    max-width:340px;
}
.leftColumn .detailContainer .subColumn h2 {
    padding-left:0;
}
.leftColumn .detailContainer .subColumn li {
    margin:0;
    padding:0;
}
.leftColumn .detailContainer .subColumn .fakeTextBox {
    width:338px;
    min-height:17px;
    max-height:60px;
    overflow:auto;
    border:1px solid #cccccc;
    padding:3px;
}
.leftColumn .detailContainer .subColumn .addedBy img {
    border:1px solid #ffffff;
}
.leftColumn .detailContainer .subColumn .addedBy img:hover {
    border:1px solid #3E77C6;
}

/*-----------RIGHT COLUMN-------------- */
.rightColumn {
    float:left;
    width:474px;
    position:relative;
    padding-left:0;
}
.rightColumn .module {
    width:460px;
    border-top:1px solid #cccccc;
    padding-top:10px;
    padding-left:14px;
}
.rightColumn #related_media {
    margin-bottom:14px;   
    margin-left:14px;
}   
.rightColumn .promiseContainer {
    border:1px solid #cccccc;
    padding:10px 10px 10px 10px;
    height:68px;
    background-color:#EEEEEE;
    margin:3px 0 10px 14px;
}
.rightColumn .promiseContainer h2 {
    color:#333333; 
    font-size:14px;
    padding:0; 
    margin:0 0 8px 0;
}
.rightColumn .promiseContainer .upsellImageWrapper {
    display:block;
    float:left; 
    width:50px;
    height:50px;
    margin-right:10px;
    text-align:center;
}
.rightColumn .promiseContainer .upsellImage {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.rightColumn .promiseContainer .videoUpsell {
    background:url('../../../images/landing_page/promise_types.png') 0 0;
    width:38px;
    height:38px;
}
.rightColumn .promiseContainer .musicUpsell {
    background:url('../../../images/landing_page/promise_types.png') -38px 0;
    width:42px;
    height:42px;
}
.rightColumn .promiseContainer .imageUpsell {
    background:url('../../../images/landing_page/promise_types.png') -80px 0;
    width:48px;
    height:48px;
}
.rightColumn .promiseContainer a {
    position:relative;
    top:10px;
    padding:0;
    background-image:none;
    background-color:transparent;
    color:#3E77C6;
}
.rightColumn .promiseContainer a:hover,
.rightColumn .promiseContainer a:active {
    text-decoration:underline;
    cursor:pointer;
}
.rightColumn .promiseContainer a.joinNow {
    display:block; 
    width:133px; 
    height:27px; 
    padding:0;
    margin:5px 8px 0 0;
    float:left;
    position:relative;
    top:0px;
}
.rightColumn .promiseContainer a.joinNow:link, 
.rightColumn .promiseContainer a.joinNow:visited {
    background:url('../../../images/landing_page/join_now_buttons.png') 0 0; 
} 
.rightColumn .promiseContainer a.joinNow:hover { background:url('../../../images/landing_page/join_now_buttons.png') -134px 0; } 
.rightColumn .promiseContainer a.joinNow:active { background:url('../../../images/landing_page/join_now_buttons.png') -268px 0; }
    