/* HEADER */
﻿/* CSS Document: Media Landing Pages 10/30/2012 */
body {
     background-image:none;
     background-color:#ffffff;  
}
#h1AssetTitle.pseudoLink {
    cursor:pointer;
}
#h1AssetTitle.pseudoLink:hover {
    text-decoration:underline;
}
ul#mediaNav li.promiseContainer {
    border-left:1px solid #cccccc;
    width:300px; 
    padding:5px 0 5px 10px;
    margin-top:10px;
}
ul#mediaNav li.promiseContainer h2 {
    color:#333333; 
    font-size:14px; 
    margin:0;
    padding:0;
}
ul#mediaNav li.promiseContainer .upsellImageWrapper {
    display:block;
    float:left; 
    width:50px;
    height:50px;
    margin-right:10px;
    text-align:center;
}
ul#mediaNav li.promiseContainer .upsellImage {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
ul#mediaNav li.promiseContainer .videoUpsell {
    background:url('../../../images/landing_page/promise_types.png') 0 0;
    width:38px;
    height:38px;
}
ul#mediaNav li.promiseContainer .musicUpsell {
    background:url('../../../images/landing_page/promise_types.png') -38px 0;
    width:42px;
    height:42px;
}
ul#mediaNav li.promiseContainer .imageUpsell {
    background:url('../../../images/landing_page/promise_types.png') -80px 0;
    width:48px;
    height:48px;
}
ul#mediaNav li.promiseContainer a {
    margin:12px 0 0 0;
    padding:0;
    background-image:none;
    background-color:transparent;
    color:#3E77C6;
    text-decoration:none;
}
ul#mediaNav li.promiseContainer a:hover,
ul#mediaNav li.promiseContainer a:active {
    text-decoration:underline;
    cursor:pointer;
}
ul#mediaNav li.promiseContainer a.joinNow {
    display:block; 
    width:133px; 
    height:27px; 
    padding:0;
    margin:8px 8px 0 0;
    float:left;
}
ul#mediaNav li.promiseContainer a.joinNow:link, 
ul#mediaNav li.promiseContainer a.joinNow:visited {
    background:url('../../../images/landing_page/join_now_buttons.png') 0 0; 
} 
ul#mediaNav li.promiseContainer a.joinNow:hover { background:url('../../../images/landing_page/join_now_buttons.png') -134px 0; } 
ul#mediaNav li.promiseContainer a.joinNow:active { background:url('../../../images/landing_page/join_now_buttons.png') -268px 0; } 