/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* Registration Page Styles
* ---------------------------------------------------- */

.registerContent {
	background: url("../images/5050_bg.jpg") no-repeat 0px 0px;
	padding-top: 85px;
	padding-left: 70px;
	padding-right: 70px;
	/*height: 560px;*/
}
.registerContent h1 {
	font-size: 26px;
	color: #fcbb6f;
	margin: 0px;
	padding: 0px;
}
.registerContent h1.account {
	background: transparent url("../images/h1_account.png") no-repeat left top;
	text-indent: -5000px;
	}
.registerContent p {
	margin: 0px;
	padding: 0px 0px 15px;
}
.col1 {
	float: left;
	width: 384px;
}
.col2 {
	float: right;
	width: 384px;
	}
.col1 table, .col2 table {
	border-collapse: collapse;
	width: 382px;
	margin: 0px;
	padding: 0px;
}
.col1 tr, .col2 tr {
}
.col1 th, .col2 th {
	font-weight: normal;
	text-align: right;
	vertical-align: top;
	margin: 0px;
	padding: 8px;
}
.col1 td, .col2 td {
	padding: 8px;
	text-align: left;
	vertical-align: top;
}
.submitForm {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}
