/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* Contains the styles from Master.
* Navigation was split into seperate Nav files 
* and linked into the header.cc
* ---------------------------------------------------- */

/*-----------(HEADER)-------------- */	

@import url(header.css);
/* NOTE: includes navigational css files */

/*-----------(FOOTER)-------------- */	

@import url(footer.css);

/*
* Body Background / Margins
* ---------------------------------------------------- */

body {
	padding: 0px;
	margin: 0px;
	background-color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px; 
	color: #cccccc;
	font-weight: normal;
}

a:link, a:visited, a:active {
	color: #16a2d0; 
	text-decoration:underline; 
	font-weight: bold;
}

a:hover {
	color: #16a2d0; 
	text-decoration:none; 
	font-weight: bold;
}
	
h1, h2, h3 {
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
    text-align:left;
}
	
h2 {
	font-size: 1.6em;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-size: 1.3em;
	padding: 0px;
	margin: 0px;
}
	


/*
* SITE-WIDE CONTAINERS & STYLES
* ---------------------------------------------------- */

/*-----------(EDIT STYLES)-------------- */	

#pageheader {
	width: 854px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	}
	
#pageheader h1 {
	text-align: left;
	}
	
h1 span {
	font-size: 14px;
	padding-left:10px;
	}

.dataContainer {
	background: #192E3A;
	border: 1px solid #1f3946;
	padding: 0px 0px 20px;
	width: 854px;
	text-align: left;
	margin: 20px 0px 0px;
	}
	
.dataContainer h3 {
	background: #13252f;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 20px;
	border-bottom: 1px solid #1f3946;
	text-align: left;
	margin: 0px 0px 0px 0px;
	font-size: 20px;
	}
	
.imgBasic {
	float: left;
	margin: 20px;
}

.framesize-medium {}

table.tblLicensing {
	text-align: left;
	width: 780px;
	border-collapse: collapse;
	margin: 15px 0px 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}

table.tblLicensing th {
	padding: 4px;
	text-align: right;
	vertical-align: middle;
	width:150px;
}

table.tblLicensing td {
	padding: 4px;
}

table.tblPatchURL {
	text-align: left;
	width: 780px;
	border-collapse: collapse;
	margin: 15px 0px 0px 20px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
    color: #000066;
    font-size:12px;
}

table.tblPatchURL th {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
}

table.tblPatchURL td {
	padding: 4px;
}

table.tblServers {
	text-align: left;
	width: 780px;
	border-collapse: collapse;
	margin: 15px 0px 0px 20px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
    color: #000066;
    font-size:12px;
}

table.tblServers th {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
}

table.tblServers td {
	padding: 4px;
}

table.tblBasic {
	text-align: left;
	width: 694px;
	border-collapse: collapse;
	margin: 15px 0px 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}

table.tblBasic tr {}

table.tblBasic th {
	padding: 4px;
	text-align: right;
	vertical-align: top;
}

table.tblBasic td {
	padding: 4px;
}

table.tblDescription {
	width: 814px;
	margin-left: 20px;
	margin-top: 15px;
	border-collapse: collapse;
	border-width: 0px;
	border-style: none;
}
table.tblDescription th {
	padding: 4px;
	text-align: right;
	vertical-align: top;
}

table.tblDescription td {
	padding: 4px;
}

table.tblPreview td {
	padding: 4px;
}

table.tblPreview {
	width: 814px;
	margin-left: 20px;
	margin-top: 15px;
	border-collapse: collapse;
	border-width: 0px;
	border-style: none;
}

table.tblPreview tr {}

table.tblPreview th {
	padding: 4px;
	text-align: right;
	vertical-align: top;
}

table.tblPreview td {
	padding: 4px;
	width:100%
}

table.tblPreview table {
	border-collapse: collapse;
	border-width: 0px;
	border-style: none;
	text-align:center;
	margin: 0px;
	padding: 0px;
	width: 142px;
}

table.tblPreview table td {
	padding: 0px 0px 10px;
}

table.tblCat {
	width: 814px;
	margin-left: 20px;
	margin-top: 15px;
	border-collapse: collapse;
	border-width: 0px;
	border-style: none;
}

table.tblCat tr {}

table.tblCat th {
	padding: 4px;
	text-align: right;
	vertical-align: top;
	width: 142px;
}

table.tblCat td {
	padding: 4px;
}

table.tblCat table {
	border-collapse: collapse;
	border-width: 0px;
	border-style:none;
	margin: 0px;
	padding: 0px;
	width: 130px;
}

table.tblCat table td {
	padding: 0px 0px 10px;
}

/*-----------(RESOURCES STYLES)-------------- */	

.downStyle, .docStyle, .licsStyle {
	background: #192E3A;
	border: 1px solid #1f3946;
	margin: 20px 40px;
	padding: 0px 0px 20px;
}

.downStyle h3, .docStyle h3, .licsStyle  {
	background: #13252f;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 20px;
	border-bottom: 1px solid #1f3946;
}

.downStyle h4, .docStyle h4, .licsStyle  {
	margin: 0px;
	padding: 20px 0px 0px 20px;
	font-size: 1.2em;
}

.downStyle ul, .docStyle ul {
	margin: 0px;
	padding: 0px 0px 0px 30px;
	list-style: none;
	font-weight: normal;
	
}
.licsStyle ul {
	margin: 0px;
	padding: 0px 0px 0px 30px;
	font-weight: normal;
	
}

.downStyle li, .docStyle li, .licsStyle li {
	margin-top: 8px;
	}

.licsStyle p 
{
	line-height:2px;
}
/*-----------(BODY CONTAINER, CORNER IMAGES)-------------- */


#wrapper {
	position: relative;
	width: 990px;
	height: auto;
	margin: 0px auto;
	padding: 0px;
	display: block;
	text-align:left;
	}

#container {
	position: relative;
	width: 990px;
	height: auto;
	margin: 0px auto;
	padding: 0px;
	float: left;
	}

/*-----------(MAIN CONTENT COLUNM)-------------- */	

#content, #contentWide {
	width: 990px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	float: left;
	background: transparent url("../images/down_bg.jpg") no-repeat 0px -38px;
	}
	
#content.homePage {
	background: transparent url("../images/home_contentBG.jpg") no-repeat 0px 353px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	}

#main {
	width: auto;
	float: left;
	padding: 0px 0px 30px 70px;
	margin: 90px 0px 0px 0px;
	display: inline;
	}
	
#content.homePage #main {
	margin-top: 60px;
	}
	
#main_content {
	width: 490px;
	float: left;
	margin: 10px 0px 0px;
	}
	
#content.homePage #main_content {
	width: 550px;
	}

#contentWide  {
	background: transparent url("../images/downWide_bg.jpg") no-repeat 0px -38px;
	}

#contentWide #main_content {
	width: 850px;
	}

#main_content h1, #page_content h1 {
	font-size: 26px;
	padding: 6px 0px 10px 10px;
	margin: 15px 0px 0px 70px;
	position: absolute;
	top: 30px;
	left: 0px;
	width: 85%;
	color: #fcbb6f;
	}
	
.homePage #main_content h1 {
	margin: 15px 0px 0px 0px;
	background: transparent url("../images/h1_1.png") no-repeat center bottom;
	position: absolute;
	top: 333px;
	left: 0px;
	text-align: center;
	text-indent: -5000px;
	}
	
#main_content h1.two {
	background: transparent url("../images/h1_2.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.three {
	background: transparent url("../images/h1_3.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.four {
	background: transparent url("../images/h1_4.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.five {
	background: transparent url("../images/h1_5.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.six {
	background: transparent url("../images/h1_6.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.seven {
	background: transparent url("../images/h1_7.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.eight {
	background: transparent url("../images/h1_8.png") no-repeat left bottom;
	text-indent: -5000px;
	}
	
#main_content h1.welcome {
	background: transparent url("../images/h1_welcome.png") no-repeat left bottom;
	text-indent: -5000px;
	}
#main_content h1.management {
	background: transparent url("../images/h1_management.png") no-repeat left bottom;
	text-indent: -5000px;
	}
#main_content h1.resource {
	background: transparent url("../images/h1_resources.png") no-repeat left bottom;
	/*background: transparent url("../images/h1_downloads.png") no-repeat left bottom;*/
	text-indent: -5000px;
	}
#main_content h1.starsDir {
	background: transparent url("../images/h1_stars.png") no-repeat left bottom;
	text-indent: -5000px;
	}
#main_content h1.license 
{
		font-size: 28px;
	/*background: transparent url("../images/h1_downloads.png") no-repeat left bottom;*/
	}

#main_content h1.license span 
{
	font-size: 14px;
	padding-left:10px;
	color:#16a2d0;
}	
#main_content h1.thirdparty 
{
		font-size: 28px;
	/*background: transparent url("../images/h1_downloads.png") no-repeat left bottom;*/
	}

#main_content h1.thirdparty span 
{
	font-size: 14px;
	padding-left:10px;
	color:#16a2d0;
}		
#main_content h2 {
	font-size: 20px;
	padding: 6px 0px 10px 10px;
	margin: 15px 0px 0px 0px;
	background: transparent url("../images/body_h1_bg.gif") repeat-x 0px 0px;
	text-align: left;
	}
	
#main_content p {
	padding: 10px 0px 10px 10px;
 	margin: 0px;
 	line-height: 1.4;
	}
	
#contentLeft {
	margin: 14px 0px;
	padding: 0px;
	float: left;
	width: 400px;
	}

#contentRight {
	margin: 14px 0px;
	padding: 0px;
	float: right;
	width: 430px;
	}

table#avatarData {
	margin: 0px;
	padding: 0px;
	width: 400px;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
	}

#avatarData td {
	padding: 4px;
	}
	
#colSplit {
	padding: 0px;
	margin: 0px;
	float: left;
	}
	
#colSplit.twoCol .column {
	width: 400px;
	}
	
#colSplit.twoCol .seventy {
	width: 600px;
	}
	
#colSplit.twoCol .thirty {
	width: 200px;
	}
	
#colLeft {
	float: left;
	margin: 20px 0px 0px;
	}
	
#colRight {
	float: left;
	margin: 0px 0px 0px 40px;
	}

	
.seperate {
	padding: 2px;
	margin: 0px;
	border-bottom: 1px dotted #D7D7D7;
	height: 1px;
	}
	
a.flashTrigger {
	background: transparent url("../images/trigger_bg.gif") repeat-x 0px -3px;
	
	}
a.flashTrigger:link {
	color: #797979; 
	text-decoration:none; 
	font-weight: normal;
	}
a.flashTrigger:visited {
	color: #797979; 
	text-decoration:none; 
	font-weight: normal;
	}
a.flashTrigger:active {
	color: #797979; 
	text-decoration:none; 
	font-weight: normal;
	}
a.flashTrigger:hover {
	color: #ffffff; 
	text-decoration:none; 
	font-weight: normal;
	}
	


/*-----------(APPLY NOW FORM)-------------- */	

	
#signupForm {
	width: 500px;
	text-align: left;
	
	}

#signupForm table {
	padding: 0px 20px 15px 20px;
	margin: 10px 0px 30px 0px;
	}
	
#signupForm table td {
	padding: 2px 7px 6px 7px;
	margin: 0px;
	text-align: left;
	}
	
#signupForm input.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}

#signupForm textarea.biginput {
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
#signupForm select.biginput {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	}
	
.formError {
	padding: 10px;
	margin: 20px;
	border: 2px solid #8c2828;
	background-color: #e16161;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
	}
	
.formError ul {
	padding: 10px 0px 0px 0px;
	margin: 0px;
	}
	
.formError ul li {
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 35px;
	font-weight: normal;
	}
	
.oops {
	color: #ce3b3b;
	font-size: 16px;
	font-weight: normal;
	}
	
#signupForm fieldset {
	clear: both;
	border-color: inherit;
	border-width: 0px;
	border-style: none;
	padding: 10px;
	margin: 20px 0px 0px 0px;
	}
  
#signupForm fieldset legend {
	margin: 0px 0px 0px 0px;
	padding: 0px 5px;
	}
  
#signupForm fieldset legend h2 {
	width: 100%;
	}
  
#signupForm fieldset label {
  width: 100px;
  float: left;
  text-align: right;
  margin: 0px 10px 0px 0px;
  line-height: 1.8;
  }
  
#signupForm fieldset div {
  padding: 10px;
  margin: 0px;
  }

/*-----------(MY STARS STYLES)-------------- */	

 table#controlbox {
	padding: 0px 0px 0px 0px;
	margin: 0px auto;
	border-bottom: 2px solid #13252f;
	background-color: #eeeeee;
	}
	
 table#controlbox td {
	padding: 5px;
	margin: 0px;
	}
	
table#controlbox td td {
	padding: 1px;
	margin: 0px;
	font-size: 10px;
	}
	
table#controlbox td td a {
	font-size: 10px;
	}
		
table#controlbox td td img {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	}
	
table#controlbox a.button {
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #cccccc;
	padding: 2px 13px 2px 4px !important;
	padding: 2px 8px 2px 4px;
	margin: 0px 15px 0px 0px;
	background-color: #FFFFFF;
	display: block;
	color: #333333;
	position: relative;
	}
	
table#controlbox a.button img {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -3px;
	right: -12px !important;
	right: 0px;
	}
	
 table.data {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px auto;
	border-top: 1px solid #1f3946;
	border-right: 1px solid #1f3946;
	background-color: #1f3946;
	color: #EEEEEE;
	font-size: 11px;
	}	
	
table.data tr {
	padding: 0px;
	margin: 0px;
	}
	
table.data td, table.data th {
	padding: 4px;
	margin: 0px;
	border-bottom: 1px solid #1f3946;
	border-left: 1px solid #1f3946;
	background-color: #192e3a;
	}
	
table.data th {
	padding: 5px;
	margin: 0px;
	text-align: center;
	}
	
table.data th.name {
	text-align: left;
	}
	
table.data th span {
	text-align: right;
	}
	
 table.data table {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px auto;
	border-top: none;
	border-right: none;
	}	
	
table.data table tr {
	padding: 0px;
	margin: 0px;
	}
	
table.data table td, table.data table th {
	padding: 4px;
	margin: 0px;
	border-bottom: none;
	border-left: none;
	}
	
table.data .altrow td {
	background-color: #13252f;
	}


/*-----------(STAR DIRECTORY)-------------- */	



 table.detail_table {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px auto;
	/*border: 1px solid #f1f1f1;*/
	clear: both;
	}	
	
table.detail_table tr {
	padding: 0px;
	margin: 0px;
	}
	
table.detail_table td {
	padding: 4px 4px 4px 10px;
	margin: 0px;
	}
	
table.detail_table table.stats td  {
	padding: 4px 0px 0px 0px;
	margin: 0px;
	}
	
table.detail_table p {
	padding: 0px;
	margin: 0px;
	}



/*-----------(FRAME STYLES FOR PICTURES)-------------- */	


	
/*-----------(EXTRA SMALL)-------------- */	
.framesize-tiny {
	width: 40px; 
	position: relative;
	margin: 0px;
	}
.framesize-tiny .imgconstrain {
	width: 30px;
	height: 20px;
	border: 1px solid #264658;
	overflow: hidden;
	}
.framesize-tiny .imgconstrain img {
	width: 50px;
	height: auto;
	margin: -5px 0px 0px -5px;
	}

/*-----------(EXTRA SMALL)-------------- */	
.framesize-xsmall {
	width: 55px; 
	position: relative;
	margin: 0px;
	}
.framesize-xsmall .imgconstrain {
	width: 45px;
	height: 33px;
	border: 1px solid #264658;
	overflow: hidden;
	}

	
/*-----------(SMALL)-------------- */
.framesize-small {
	width: 85px; 
	margin: 0px;
	overflow: hidden;
	display: block;
	}
.framesize-small .imgconstrain {
	width: 75px;
	height: 56px;
	border: 1px solid #264658;
	overflow: hidden;
	}




/*-----------(FRAME STYLES USED BY ALL SIZES)-------------- */

.frame .imgconstrain a:link, .frame .imgconstrain a {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #13252f;
	text-decoration: none;
	}
	
.frame {
	margin: 0px;
	padding:3px;
	border: 1px solid #467087;
	background-color: #162b36;
	text-align: left;
	}

.noborder {
	border: none;
	}	

.frameFloat {
	float: left;
	width: 86px;
	}

/* Adding Overflow: auto; tells this div to wrap teh floated ones */
.relatedWrapper {
	width: 400px;
	display: block;
	}
	
.itemWrapper {
	margin-bottom: 10px;
	overflow: auto;
	display: block;
	}

.relatedUser {
	font-size: 12px;
	float: left;
	margin-left: 10px;
	width: 250px;
	padding-top: 15px;
	display: block;
	}

.frame a:link, .frame a:active, .frame a:visited, .frame a:hover {
	font-size:10px; 
	}

.frame .imgconstrain {
	padding: 0px;
	display: block;
	text-align: center;
	}
	
	
/*-----------(MEDIA DETAILS PAGE STYLES)-------------- */


 ul#mediaNav {
	width: 398px;
	padding: 0px;
	margin: 2px 0px 30px;
	position: relative;
	display: block;
	float: left;
	border: 1px solid #1f3946;
	background-color: #192e3a;
	overflow: auto;
	}
	
 ul#mediaNav li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	float: left;
	}
	
 ul#mediaNav li a {
	padding: 10px 0px 8px 0px;
	margin: 0px;
	display: block;
	float: left;
	font-size: 11px;
	text-align: center;
	font-weight: normal;
    background: #192e3a url("../images/mod_head_bg.gif") repeat-x 0px 0px;
    text-decoration: none;
	}
	
ul#mediaNav li a:hover {
	color: #ef7e03;
	background-color: #1f3946;
	}
	
ul#mediaNav li a img {
	vertical-align:middle;
	padding: 0px;
	margin: 0px 5px 0px 0px;
	}
	
ul#mediaNav #rave a {
	width: 93px;
	}
	
ul#mediaNav #add a {
	width: 144px;
	}
	
ul#mediaNav #share a {
	width: 99px;
	}

ul#mediaNav #report a {
	width: 112px;
	}

#related_media {
	width: 430px;
	position: relative;
	}

#related_content {
	width: 421px !important;
	width: 389px;
	height: 160px;
	border-top: 1px solid #1f3946;
	border-left: 1px solid #1f3946;
	display: block;
	overflow: auto;
	background-color: #192e3a;
	margin: 0px;
	padding: 10px 0px 0px 8px;
	clear: both;
	}
	
#related_content hr {
	margin: 8px 0px !important;
	margin: 3px 0px;
	background-color: #192e3a;
	border-color: #192e3a;
	}
	
#related_header {
	padding: 3px 0px 0px 0px;
	text-align: left;
	font-size: 10px;
	position: relative;
	float: left;
	}
	
ul.related_tabs  {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: block;
	width: 430px;
	position: relative;
	float: left;
	}

.related_tabs li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: left;
    width:52px;
    text-align:center;
    }
    
.related_tabs .selected {
    background-color:#192e3a;
    }
    
.related_tabs a:link, .related_tabs a:visited, .related_tabs a:hover {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px; 
    text-decoration:none;
    font-weight: bold;
    background-color: transparent;
    padding:  5px 0px 5px 0px;
    margin: 1px 1px 0px 1px;
    display: block;
    text-decoration: underline;
    }
    
    .related_tabs a:hover {
    text-decoration: underline;
	color: #018AAA;
    }

.related_tabs a:link.selected, .related_tabs a:visited.selected, .related_tabs a:hover.selected {
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px; 
    text-decoration:none;
    font-weight: bold;
    color: #018AAA;
    background-color: #13252f;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    display: block;
    border-top: 1px solid #1f3946;
    border-right: 1px solid #1f3946;
    border-left: 1px solid #1f3946;
    }

.related_tabs  a:link.selected, .related_tabs a:visited.selected, .related_tabs a:hover.selected {
    font-weight:bold;
    }

#related_footer {
	width: 418px !important;
	width: 389px;
	display: block;
	height: 16px !important;
	height: 20px;
	background-color: #13252f;
	margin: 0px 0px 14px;
	padding: 3px 0px 0px 10px;
	text-align: left;
	font-size: 10px;
	border: 1px solid #1f3946;
	}
	
#related_footer a {
	position: absolute;
    right: 6%;
    text-align: right;
    width: auto;
    font-weight: normal;
	}
	

 #promo1 {
 	background-color: #EEEEEE;
 	} 
 	#promo1 a {
 	display: block;
 	width: 468px;
 	height: 60px;
 	}
 	#promo1 a:hover {
 	background-color: transparent;
 	}
 	
 	#promo1 a:link h1, #promo1 a:visited h1, #promo1 a:hover h1 {
 	color: #b54b30;
 	text-decoration: none;
 	text-align: center;
 	}
 	
  #promo2 {
  	border: 1px solid #CCCCCC;
 	background-color: #EEEEEE;
 	} 
 	
 .fullbanner {
 	width: 468px;
 	height: 60px;
 	display: block; 
 	margin: 0px 0px 10px 0px;
 	}
 	
 #commentsContainer {
	width: 379px;
 	float: left;
 	margin: 0px;
 	position: relative;
 	}
 	
 .comment {
 	width: 369px !important;
	width: 379px;
 	float: left;
 	margin: 0px 0px 3px 8px;
 	padding: 6px 0px;
 	position: relative;
 	display: inline;
 	font-size: 12px;
 	}
 	
 #main_content table p {
	padding: 0px;
	margin: 0px;
	}
 	
 .commentpoint {
 	width: 25px;
 	height: 24px;
 	position: absolute;
 	top: 16px;
 	left: 64px;
 	background: transparent url("../images/comment_point.gif") no-repeat 0px 0px;
 	}

.comment h3 {
	height: 25px;
	margin: 0px 0px 3px 0px;
	padding: 0px;
	text-align: left;
	color: #535353;
	font-size: 16px;
 	}
 
 .commenttext {
	float: right;
	width: 300px !important;
	width: 310px;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 3px;
	border: 1px solid #1f3946;
	background: #192E3A;
 	}
 	
 .commentpic {
 	float: left;
 	display: inline;
 	}
 
  .reply .commenttext {
 	width: 270px !important;
 	width: 280px;
 	}
 	
 .reply .commentpic {
 	margin: 0px 0px 0px 30px;
 	}
 	
 .reply .commentpoint {
 	width: 25px;
 	height: 24px;
 	position: absolute;
 	top: 16px;
 	left: 94px;
 	background: transparent url("../images/comment_point.gif") no-repeat 0px 0px;
 	}
 	
 .replyform {
 	clear: both;
 	background: #e8e8e8 url("../images/replyform_bg.jpg") repeat-x 0px 0px;
 	margin: 0px 0px 15px 0px;
 	padding: 0px 0px 5px 0px;
 	border-bottom: 2px solid #dbdbdb;
 	}
 	
 .nocomment {
 	width: 440px !important;
 	width: 452px;
 	display: inline;
 	margin: 0px 8px 0px 0px;
 	float: right;
 	}
 	
  .nocomment .commenttext {
 	width: 402px !important;
 	width: 412px;
 	float: left;
 	margin-left: 15px;
 	display: inline;
 	font-weight: bold;
 	background-color: transparent;
 	border: 1px solid transparent;
 	}

 .addedby div {
 	display: block;
 	margin: 1px 1px 0px 0px;
 	float: left;
 	padding: 0px;
 	position: relative;
	}
	
.addedby div .restricted {
	z-index: 2;
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	display: block;
	background-image: none;
	font-size: 0px;
	}
	
.detail_table td table {
	padding: 0px 0px 20px 0px;
	}
	
#sortlinks ul {
	list-style: none;
	}
	
#sortlinks li.selected a{
	color: #FFFFFF;
	background-color: #333333;
	}
	
#sortlinks li a{
	text-decoration: none;
	}


/*-----------(QUOTE STYLES)-------------- */	
	
	
dl#convo dt {
	float: left;
	display: block;
	width: 600px;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}
	
dl#convo dt {
	float: left;
	display: block;
	width: 100px;
	text-align: right;
	}
	
dl#convo dd {
	float: left;
	display: block;
	width: 440px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 15px;
	}
	
.quote {
	width: 300px;
	display: block;
	padding: 0px;
	padding: 20px 0px 0px  0px;
	color: #CCCCCC;
	font-size: 20px;
	font-style: italic;
	margin: 0px auto;
	}
	
.quote .mark {
	color: #666666;
	font-style: normal;
	font-size: 2.5em;
	line-height: .5em;
	}
	
.quote .left {
	margin-left: -20px;
	position: absolute;
	padding-top: 10px;
	}
	
.quote .right {
	position: absolute;
	display: inline;
	margin-left: 5px;
	padding-top: 10px;
	}
	
.quote .reference {
	color: #999999;
	font-size: 12px;
	display: block;
	text-align: right;
	padding: 5px 0px 0px 0px;
	font-style: normal;
	}


/*-----------(SIDEBAR CONTENT COLUMN)-------------- */	


#sidebar {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	display: inline;
	overflow: visible !important;
	overflow: hidden;
	}
	
#sidebar h2 {
	font-size: 14px;
	padding: 9px 0px 0px 10px;
	margin: 0px;
	font-weight: bold;
	color: #bc4a0b;
	}
	
#sidebar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	background: transparent url("../images/liSep_bg.gif") no-repeat top right;
	}
	
#sidebar ul li {
	padding: 10px 0px 40px 0px;
	margin: 0px;
	background: transparent url("../images/liSep_bg.gif") no-repeat bottom right;
	}
	
#sidebar ul li.first {
	padding: 20px 0px 40px 0px;
	}
	
#sidebar ul li.first span, #sidebar ul li.second span, #sidebar ul li.third span {
	width: 52px;
	height: 52px;
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: left;
	}
	
#sidebar ul li.first span {
	background: transparent url("../images/home_li_bg1.gif") no-repeat 0px -5px;
	}
	
#sidebar ul li.second span {
	background: transparent url("../images/home_li_bg2.gif") no-repeat 0px -5px;
	}
	
#sidebar ul li.third span {
	background: transparent url("../images/home_li_bg3.gif") no-repeat 0px -5px;
	}
	
#sidebar p, #sidebar ul, #sidebar li {
	font-size: 12px;
	margin-top: 20px;
	}
	
#sidebar p {
	margin-top: 20px;
	padding: 0px 0px 0px 10px;
	}
	
ul#why_sidebar {
	padding: 0px;
	list-style: none;
	background-image: none;
	margin: 35px 0px 0px 90px;
	}
	
ul#why_sidebar li {
	padding: 0px 0px 30px 60px;
	width: 195px;
	}
	
ul#why_sidebar li span {
	display: none;
	}
	
ul#why_sidebar li span.highlight {
	display: inline;
	}
	
ul#why_sidebar li.experience {
	background: transparent url("../images/why_experience.png") no-repeat 0px 0px;
	}	
	
ul#why_sidebar li.control {
	background: transparent url("../images/why_control.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.persistence {
	background: transparent url("../images/why_persistence.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.network {
	background: transparent url("../images/why_network.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.interaction {
	background: transparent url("../images/why_interaction.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.security {
	background: transparent url("../images/why_security.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.scalability {
	background: transparent url("../images/why_scalability.png") no-repeat 0px 0px;
	}
	
ul#why_sidebar li.economy {
	background: transparent url("../images/why_economy.png") no-repeat 0px 0px;
	}
		
#flashRail {
	position: relative;
	padding: 0px;
	margin: 0px 0px 0px 65px;
	}
	
.component_sidbar {
	margin: 15px 0px 0px 85px;
	width: 250px;
	}	

.login_sidbar {
	margin: 15px 0px 0px 90px;
	width: 250px;
	}	

.platform_sidbar {
	margin: 30px 0px 0px 105px;
	width: 250px;
	}	

ul#universe_sidebar {
	width: 250px;
	height: 740px;
	display: block;
	margin: 25px 0px 0px 90px;
	padding: 0px;
	list-style: none;
	background: transparent url("../images/rightcol_universe.png") no-repeat 0px 0px;
	}
	
ul#universe_sidebar li {
	padding: 0px 0px 15px 10px;
	width: 185px;
	height: 70px;
	background-image: none;
	position: relative;
	color: #BBBBBB;
	}
	
ul#universe_sidebar li span.highlight {
	display: inline;
	}
	
ul#universe_sidebar li.one {
	top: 125px;
	}	
	
ul#universe_sidebar li.two {
	top: 230px;
	}
	
ul#universe_sidebar li.three {
	top: 315px;
	}
	
ul#universe_sidebar li.four {
	top: 410px;
	}
	

/*-----------(HOME FLASH)-------------- */	


#homeFlash {
	width: 990px;
	height: 353px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	float: left;
	background: transparent url("../images/main_home.jpg") no-repeat 0px 0px;
	}
	

/*-----------(NEXT PAGE)-------------- */	


#nextPage {
	width: 990px;
	height: 90px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	float: left;
	background: transparent url("../images/nextPage_bg.gif") no-repeat -50px 0px;
	}
	
#nextPage a {
	width: 990px;
	height: 51px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	float: right;
	text-indent: -5000px;
	top: 35px;
	}
	
#nextPage.whybuild3d a {
	width: 421px;
	background: transparent url("../images/next_whybuild3d.gif") no-repeat right top;
	}
	
#nextPage.virtualuniverse a {
	width: 461px;
	background: transparent url("../images/next_thevirtualuniverse.gif") no-repeat right top;
	}
	
#nextPage.whykaneva a {
	width: 401px;
	background: transparent url("../images/next_whykaneva.gif") no-repeat right top;
	}
	
#nextPage.theelements a {
	width: 401px;
	background: transparent url("../images/next_theelements.gif") no-repeat right top;
	}
	
#nextPage.kanevaorigins a {
	width: 470px;
	background: transparent url("../images/next_kanevastarservices.gif") no-repeat right top;
	}
	
#nextPage.applynow a {
	width: 351px;
	background: transparent url("../images/next_applynow.gif") no-repeat right top;
	}
	
	
/*-----------(MISC)-------------- */	

div#tipDiv {
  position: absolute; 
  visibility: hidden; 
  left: 0px; 
  top: 0px; 
  z-index: 10000;
  background-color: #FFFFCC; 
  border: 1px solid #336; 
  width: 300px; 
  padding: 8px;
  color: #000; 
  font-size: 14px; 
  line-height: 1.4;
  }

.blueInfo {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 12px; 
	font-style: normal;
	font-weight: normal;
	color: #4863a2;
	}

.note {
 	font-size: 9px;
 	color: #999999;
 	}

.note a:link, .note a:hover, .note a:visited, .note a:active, 
.small a:link .small a:hover, .small a:visited, .small a:active, {
 	font-size: 9px;
 	}
 	
ul.checkList {
	padding: 0px 0px 0px 30px;
	margin: 0px;
	list-style: none;
	}
	
ul.checkList li {
	padding: 10px 0px 10px 40px;
	margin: 0px;
	list-style: none;
	background: transparent url("../images/bullet_check.png") no-repeat 0px 50%;
	}

.note {
	font-size: 11px;
	padding-top: 5px;
	}

.highlight {
	color: #BFBFBF;
	font-weight: bold;
	}

.strike {
	color: #777;
	}
	
.italic {
	font-style: italic;
	}
	
br.clear-both {
	clear: both;
	}
	
.clear {
	clear: both;
	height: 0px;
	}
	
hr {
	display: none;
	}
	
p.sep {
	height: 1px;
	border-top: 1px dotted red;
	padding: 10px;
	}
	
.floatright {
	float: right;
	display: block;
	}
	
.floatleft {
	float: left;
	}


.centered {
	text-align: center;
	}

a img {
	border: none;
	}
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0px 0px 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0px 7px 2px 0px;
	display: inline;
	}
	
.small {
	font-size: 12px;
	}
	
.smallest {
	font-size: 10px;
	}
	
.searchnav {
	font-size: 11px;
}
