/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* Footer
* ---------------------------------------------------- */

#footer {
	clear: both; 
	width: 990px;
	height: 115px;
	padding: 0px;
	margin: 0px auto;
	font-size: 14px;
	color: #1b323a;
	text-align: center;
	position: relative;
	background: transparent url("../images/footer_bg.jpg") no-repeat 0px 0px;
	}
#footer a:Link {
	text-decoration: underline; 
	font-weight: normal;
}
#footer a:Visited {
	text-decoration: underline; 
	font-weight: normal;
}
#footer a:Active {
	text-decoration: underline; 
	font-weight: normal;
}
#footer a:Hover {
	text-decoration: none; 
	font-weight: normal;
}
#footer p {
	padding: 30px 0px 0px 0px; 
	width: 800px;
	margin: 0px auto; 
	line-height: 2;
}
#footer p.copyright {
	padding: 0px;
}
#footer a {
	color: #0d5168; 
	padding: 0px 10px 0px 10px;
}