/* HEADER */
@charset "UTF-8";
/* CSS Document */

#page_content #colLeft {}
#page_content #colLeft table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width: 500px;
	border-width: 0px;
	border-style: none;
}
#page_content #colLeft tr {}
#page_content #colLeft th {}
#page_content #colLeft td {}

#page_content #colRight {
	margin: 0px;
	padding: 25px 0px 0px 80px;
}
