/* HEADER */
/*-----------(SITE NAVIGATION)-------------- */	

@import url(nav.css);
@import url(nav_secondary.css);
@import url(nav_tertiary.css);
@import url(nav_subNav.css);
@import url(nav_subNav2.css);


/*
* Header
* ---------------------------------------------------- */

#header {
	width: 990px;
	display: block;
	}

#logo {
	width: 250px;
	height: 35px;
	padding: 0;
	margin: 0;
	float: left;
	background: transparent url("../images/kaneva_logo.gif") no-repeat 25px 7px;
	}
#logo a  {
	border-style: none;
	display: block;
	width: 175px;
	height: 30px;
	}

#logo span {
	position: absolute;
	top: 7px;
	left: 25px;
	width: 185px;
	height: 30px;
	}
html>body #logo span {
	top: 7px;
	}
