/* HEADER */
#akst_form {
	background: #999;
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	width: 350px;
	z-index: 999;
}
#akst_form a.akst_close {
	color: #fff;
	float: right;
	margin: 5px;
}
#akst_form ul.tabs {
	border: 1px solid #999;
	list-style: none;
	margin: 10px 10px 0 10px;
	padding: 0;
}
#akst_form ul.tabs li {
	background: #ccc;
	border-bottom: 1px solid #999;
	cursor: pointer;
	float: left;
	margin: 0 3px 0 0;
	padding: 3px 5px 2px 5px;
}
#akst_form ul.tabs li.selected {
	background: #fff;
	border-bottom: 1px solid #fff;
	cursor: default;
	padding: 4px 5px 1px 5px;
}
#akst_form div.clear {
	clear: both;
	float: none;
}
#akst_social, #akst_email, #akst_blast, #akst_private {
	background: #fff;
	border: 1px solid #fff;
	padding: 10px;
}
#akst_social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#akst_social ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 45%;
}
#akst_social ul li a {
	background-position: 0px 2px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 24px;
	padding: 4px 0 0 22px;
	vertical-align: middle;
}
#akst_delicious {
	background-image: url("../images/icons/networks/delicious.gif");
}
#akst_digg {
	background-image: url("../images/icons/networks/digg.gif");
}
#akst_furl {
	background-image: url("../images/icons/networks/furl.gif");
}
#akst_netscape {
	background-image: url("../images/icons/networks/netscape.gif");
}
#akst_yahoo_myweb {
	background-image: url("../images/icons/networks/yahoo_myweb.gif");
}
#akst_stumbleupon {
	background-image: url("../images/icons/networks/stumbleupon.gif");
}
#akst_google_bmarks {
	background-image: url("../images/icons/networks/google_bmarks.gif");
}
#akst_technorati {
	background-image: url("../images/icons/networks/technorati.gif");
}
#akst_blinklist {
	background-image: url("../images/icons/networks/blinklist.gif");
}
#akst_newsvine {
	background-image: url("../images/icons/networks/newsvine.gif");
}
#akst_magnolia {
	background-image: url("../images/icons/networks/magnolia.gif");
}
#akst_reddit {
	background-image: url("../images/icons/networks/reddit.gif");
}
#akst_windows_live {
	background-image: url("../images/icons/networks/windows_live.gif");
}
#akst_tailrank {
	background-image: url("../images/icons/networks/tailrank.gif");
}
#akst_email, #akst_social, #akst_private {
	display: none;
	text-align: left;
}
#akst_blast {
    text-align: left;
}
#akst_email form, #akst_email fieldset, #akst_blast form, #akst_blast fieldset, #akst_private form, #akst_private fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
#akst_email fieldset legend, #akst_private fieldset legend {
	display: none;
}
#akst_email ul, #akst_blast ul, #akst_private ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#akst_email ul li, #akst_blast ul li, #akst_private ul li {
	margin: 0 0 7px 0;
	padding: 0;
}
#akst_email ul li label, #akst_blast ul li label, #akst_private ul li label {
	color: #555;
	display: block;
	margin-bottom: 3px;
}
#akst_email ul li input, #akst_blast ul li input, #akst_private ul li input {
	padding: 3px 10px;
}
#akst_email ul li input.akst_text, #akst_private ul li input.akst_text {
	padding: 3px;
	width: 280px;
}
.akst_share_link {
	background: 1px 0 url(share-icon-16x16.gif) no-repeat;
	padding: 1px 0 3px 22px;
}
