/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* MyTeam Page Styles
* ---------------------------------------------------- */

.contentWrapper {
	background: url("../images/downBG_subnav2.jpg") no-repeat 0px 0px;
	padding-left: 70px;
	min-height: 550px;
	clear: both;
	padding-top: 45px;
}
.contentWrapper h1 {
	font-size: 26px;
	color: #fcbb6f;
	height: 40px;
	margin: 0px;
	padding: 0px 0px 15px;
}
.contentWrapper h1.editRole {
	background: transparent url("../images/h1_roles.png") no-repeat left top;
	text-indent: -5000px;
	}
.contentWrapper h1.team {
	background: transparent url("../images/h1_team.png") no-repeat left top;
	text-indent: -5000px;
	}
	
.col1 {
	float: left;
	width: 500px;
}
.colL {
	float: left;
	width: 45%;
}
.colR {
	float: right;
	width: 45%;
	text-align: right;
}
.result {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	padding-top: 3px;
}
.col1 .myTeam, .col1 .myInvites {
	padding-bottom: 30px;
}
.col1 table {
	border-collapse: collapse;
	margin: 10px 0px 5px;
	padding: 0px;
	width: 500px;
	border: 1px solid #1F3946;
}
.col1 tr {
	background: #192E3A;
}
.col1 th {
	background: #13252f;
	text-align: left;
	padding-left: 4px;
	padding-top: 8px;
	padding-bottom: 4px;
}
.col1 td {
	text-align: left;
	padding-left: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#div_MyTeam {
	padding-bottom: 20px;
}

.col2 {
	float: right;
	width: 300px;
	padding-right: 40px;
}
.col2 h3 {
	color: #bc4a0b;
}
.col2 .frmField {
	margin-top: 10px;
}
.col2 form {
	margin: 0px;
	padding: 0px;
}
.col2 label {
	padding-bottom: 5px;
	display: block;
}
#roles, #privileges {
	padding-bottom: 30px;
}
.enterRole {
	padding-bottom: 5px;
}
