/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/* =navigation
*---------------------------------------------------------------------------*/	

#navigation {
	width: 976px;
	margin: 0px;
	padding: 0px 7px;
	background: url("../images/nav_bg.gif") no-repeat;
	height: 50px;
	}
	
#nav, #nav2 {
	color: #FFFFFF;
	display: block;
	float: left;
	margin: 0px;
	position: relative;
	width: 534px;
	list-style: none;
	padding: 0px;
	}
	
#nav:after, #nav2:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#nav ul, #nav2 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#nav li, #nav2 li  {
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#nav a, #nav2 a {
	text-indent: -5000px;
	text-decoration: none;
	color: #FFFFFF;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	height: 50px;
	display: block;
	margin: 0px;
	padding: 0px;
	}
	
#nav a:hover, 
#nav2 a:hover, 
#nav li.selected a, 
#nav2 li.selected a, 
#secondary a:hover, 
#secondary li.selected a, 
#tertiary a:hover, 
#tertiary li.selected a, 
#subNav2 a:hover, 
#subNav2 li.selected a {
	background-image: none;
	color: #16a2d0;
	}

/* NAV NOT LOGGED IN
*---------------------------------------------------------------------------*/
#nav-vision {
	width: 144px;
	background: transparent url("../images/nav-vision.gif") no-repeat 0px -50px;
	}
#nav-vision a {
	background: transparent url("../images/nav-vision.gif") no-repeat 0px 0px;
	}


#nav-motivation {
	width: 206px;
	background: transparent url("../images/nav-motivation.gif") no-repeat 0px -50px;
	}
#nav-motivation a {
	background: transparent url("../images/nav-motivation.gif") no-repeat 0px 0px;
	}


#nav-platform {
	width: 184px;
	background: transparent url("../images/nav-platform.gif") no-repeat 0px -50px;
	}
#nav-platform a {
	background: transparent url("../images/nav-platform.gif") no-repeat 0px 0px;
	}

/* NAV LOGGED IN
*---------------------------------------------------------------------------*/

#nav-stars {
	width: 152px;
	background: transparent url("../images/nav-stars.gif") no-repeat 0px -50px;
	}
#nav-stars a {
	background: transparent url("../images/nav-stars.gif") no-repeat 0px 0px;
	width: 152px;
	}
#nav-directory {
	width: 224px;
	background: transparent url("../images/nav-directory.gif") no-repeat 0px -50px;
	}
#nav-directory a {
	background: transparent url("../images/nav-directory.gif") no-repeat 0px 0px;
	width: 224px;
	}

#nav-about {
	width: 229px;
	background: transparent url("../images/nav-about.gif") no-repeat 0px -50px;	
	}
#nav-about a {
	background: transparent url("../images/nav-about.gif") no-repeat 0px 0px;
	}
	

#nav-spacer {
	width: 248px;
	height: 50px;
	background-color: transparent;
	display: block;
	}
