/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */


/* TERTIARY
*---------------------------------------------------------------------------*/


#tertiary {
	width: 250px;
	list-style: none;
	color: #FFFFFF;
	text-align: right;
	float: right;
	}
	
ul#tertiary {
	height: 35px;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	}


#tertiary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
	
#tertiary li {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #333333;
	line-height: 2;
	}
	
#tertiary a {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	font-weight: normal;
	font-size: 12px;
	padding: 0 8px 0 8px;
	}
