/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */


/* SECONDARY
*---------------------------------------------------------------------------*/


#secondary {
	list-style: none;
	color: #FFFFFF;
	position: relative;
	display: block;
	float: right;
	margin: 0;
	width: 374px;
	padding: 0px;
	}
	
#secondary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#secondary ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#secondary li {
	float: left;
	padding: 0px;
	margin: 0px;
	}
	
#secondary a {
	display: block;
	height: 50px;
	text-indent: -5000px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	
	}
	
#nav-acctmanagement {
	width: 237px;
	background: transparent url("../images/nav-account.gif") no-repeat 0px -50px;
	}
#nav-acctmanagement a {
	background: transparent url("../images/nav-account.gif") no-repeat 0px 0px;
	}
	
#nav-resources {
	width: 137px;
	background: transparent url("../images/nav-resources.gif") no-repeat 0px -50px;
	}
#nav-resources a {
	background: transparent url("../images/nav-resources.gif") no-repeat 0px 0px;
	}
