/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */


/* SubNav2
*---------------------------------------------------------------------------*/


#subNav2 {
	list-style: none;
	color: #FFFFFF;
	text-align: left;
	background: url("../images/subNav2_backer.jpg") no-repeat 0px 0px;
	height: 20px;
	padding-left: 40px;
	clear: both;
	}
	
#subNav2 ul {
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: hidden;
	}


#subNav2:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
	}
	
#subNav2 li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #333333;
	line-height: 1.5em;
	float: left;
	}
	
#subNav2 a {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	font-weight: normal;
	font-size: 12px;
	padding: 0 8px 0 8px;
	}
