/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/* =subnav
*---------------------------------------------------------------------------*/


#subnavigation {
	width: 990px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	background: transparent url(../images/subnav_backer.jpg) no-repeat 0px 0px;
	height: 30px;
	}
	
#subnavigation ul {
	height: 23px;
	margin: 0;
	padding: 5px 0px 0px 30px;
	list-style: none;
	float: left;
	}
	
#subnavigation ul#navArea {
	display: none;
	}
	
#subnavigation li {
	height: 23px;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	}
	
#subnavigation a {
	display: block;
	width: auto;
	height: 23px;
	padding: 0 15px 0 10px;
	text-decoration: none;
	overflow: hidden;
	color: #cccccc;
	font-weight: normal;
	font-size: 14px;
	float: left;
	}

#subnavigation a:hover,
#subnavigation li.selected a {
	color: #16a2d0;
	}
	
