/* HEADER */
/* Copyright (c) 2008 Kaneva, Inc.  All rights reserved. */

/* =navigation
*---------------------------------------------------------------------------*/	

#navigation {
	width: 990px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	float: left;
	}
	
#nav, #nav2 {
	list-style: none;
	color: #FFFFFF;
	position: relative;
	display: block;
	float: left;
	padding-left: 5px;
	margin: 0;
	}
	
#nav:after, #nav2:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
	
#nav li, #nav2 li  {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	}
	
#nav a, #nav2 a {
	display: block;
	height: 50px;
	text-indent: -5000px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	
	}
	
#nav a:hover, 
#nav2 a:hover,
#nav li.selected a,
#nav2 li.selected a, 
#secondary a:hover, 
#secondary li.selected a, 
#tertiary a:hover, 
#tertiary li.selected a {
	background-image: none;
	color: #16a2d0;
	}

#nav-vision {
	width: 144px;
	background: transparent url("../images/nav-vision.gif") no-repeat 0 -50px;
	}
#nav-vision a {
	background: transparent url("../images/nav-vision.gif") no-repeat 0 0;
	}


#nav-motivation {
	width: 206px;
	background: transparent url("../images/nav-motivation.gif") no-repeat 0 -50px;
	}
#nav-motivation a {
	background: transparent url("../images/nav-motivation.gif") no-repeat 0 0;
	}


#nav-platform {
	width: 184px;
	background: transparent url("../images/nav-platform.gif") no-repeat 0 -50px;
	}
#nav-platform a {
	background: transparent url("../images/nav-platform.gif") no-repeat 0 0;
	}

/* NAV LOGGED IN
*---------------------------------------------------------------------------*/

#nav-stars {
	width: 139px;
	background: transparent url("../images/nav-stars.gif") no-repeat 0 -50px;
	}
#nav-stars a {
	background: transparent url("../images/nav-stars.gif") no-repeat 0 0;
	}


#nav-directory {
	width: 203px;
	background: transparent url("../images/nav-directory.gif") no-repeat 0 -50px;
	}
#nav-directory a {
	background: transparent url("../images/nav-directory.gif") no-repeat 0 0;
	}
	
#nav-acctmanagement {
	width: 281px;
	background: transparent url("../images/nav-account.gif") no-repeat 0 -50px;
	}
#nav-acctmanagement a {
	background: transparent url("../images/nav-account.gif") no-repeat 0 0;
	}


#nav-about {
	width: 229px;
	background: transparent url("../images/nav-about.gif") no-repeat 0 -50px;	
	}
#nav-about a {
	background: transparent url("../images/nav-about.gif") no-repeat 0 0;
	}
	
#nav-resources {
	width: 124px;
	background: transparent url("../images/nav-resources.gif") no-repeat 0 -50px;
	}
#nav-resources a {
	background: transparent url("../images/nav-resources.gif") no-repeat 0 0;
	}
	
	
#nav-spacer {
	width: 248px;
	height: 50px;
	background-color: transparent;
	display: block;
	}


/* SECONDARY
*---------------------------------------------------------------------------*/


#secondary {
	list-style: none;
	color: #FFFFFF;
	position: relative;
	display: block;
	float: right;
	padding-left: 5px;
	margin: 0;
	}
	
#secondary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
	
#secondary li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	}
	
#secondary a {
	display: block;
	height: 50px;
	text-indent: -5000px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	overflow: hidden;
	font-weight: normal;
	font-size: 12px;
	
	}
	




/* TERTIARY
*---------------------------------------------------------------------------*/


#tertiary {
	width: 200px;
	list-style: none;
	color: #FFFFFF;
	position: absolute;
	display: block;
	top: -35px;
	right: 20px;
	text-align: right;
	}
	
ul#tertiary {
	height: 35px;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	}


#tertiary:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
	
#tertiary li {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #333333;
	line-height: 2;
	}
	
#tertiary a {
	display: inline;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	font-weight: normal;
	font-size: 12px;
	padding: 0 8px 0 8px;
	}


/* =subnav
*---------------------------------------------------------------------------*/


#subnavigation {
	width: 990px;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	background: transparent url("../images/subnavBG.jpg") no-repeat 0 0;
	height: 40px;
	}
	
#subnavigation ul {
	height: 23px;
	margin: 0;
	padding: 15px 0 0 30px;
	list-style: none;
	float: left;
	}
	
#subnavigation ul#navArea {
	display: none;
	}
	
#subnavigation li {
	height: 23px;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	}
	
#subnavigation a {
	display: block;
	width: auto;
	height: 23px;
	padding: 0 15px 0 10px;
	text-decoration: none;
	overflow: hidden;
	color: #cccccc;
	font-weight: normal;
	font-size: 14px;
	float: left;
	}

#subnavigation a:hover,
#subnavigation li.selected a {
	color: #16a2d0;
	}
	
