/* HEADER */
@charset "utf-8";
/* CSS Document */

/* ----------Method 1, Variable width, no icon---------- */

#dialog a, #dialog a span {
    background: transparent url('../../images/Brochure/Buttons/btn_grey_medium_blank_variable.gif') no-repeat scroll left 0;
    margin: 0 15px 0 0;       /* 15px == amount of background image to the right */
    padding: 0 0 0 15px;      /* 15px == amount of background image to the left */
    display: -moz-inline-box; /* Firefox 2 support for inline-block */
    display: inline-block;    /* Must be used so that height can be set */
    height: 26px;             /* Same as height of background image */
    font: 12px/24px Verdana, Arial; /* Appropriate font size / line height */
    color: black;
    text-decoration: none;
}
#dialog a {
    background-position: right 0;
    margin: 0;
    padding: 0;
}

#dialogbig a, #dialogbig a span {
	background: transparent url('../../images/Brochure/Buttons/btn_grey_big_blank_variable.gif') no-repeat scroll left 0;
	margin: 0 20px 0 0;       /* 15px == amount of background image to the right */
	padding: 6px 0 0px 15px;      /* 15px == amount of background image to the left */
	display: -moz-inline-box; /* Firefox 2 support for inline-block */
	display: inline-block;    /* Must be used so that height can be set */
	height: 38px;             /* Same as height of background image */
	font: 18px/24px Verdana, Arial; /* Appropriate font size / line height */
	color: black;
	text-decoration: none;
	font-weight: bold;
}
#dialogbig a {
    background-position: right 0;
    margin: 0;
    padding: 0;
}




/* ----------Method 2, Fixed width, with icon---------- */
/* -------------------- */
/* BUTTON BASE */
/* -------------------- */
a.button{
background:url(../../images/Brochure/Buttons/btn_grey_medium_blank.gif);
display:block;
color:#000000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:133px;
}
a:hover.button{
color:#000000;
}

/* -------------------- */
/* BUTTON BASE NARROW*/
/* -------------------- */
a.buttonnarrow{
background:url(../../images/Brochure/Buttons/btn_grey_narrow_blank.gif);
display:block;
color:#000000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:100px;
}
a:hover.buttonnarrow{
color:#000000;
}

/* -------------------- */
/* BUTTON BASE LARGE    */
/* -------------------- */
a.buttonlarge{
background:url(../../images/Brochure/Buttons/btn_grey_large_blank.gif);
display:block;
color:#000000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:200px;
}
a:hover.buttonlarge{
color:#000000;
}

/* -------------------- */
/* ICON CLASSES */
/* -------------------- */
.apps{
background:url(../../images/Brochure/Buttons/icon_3dapps_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.addfriend{
background:url(../../images/Brochure/Buttons/icon_addfriend_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.addmedia{
background:url(../../images/Brochure/Buttons/icon_addmedia_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.meetin3d{
background:url(../../images/Brochure/Buttons/icon_meetin3d_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.megarave{
background:url(../../images/Brochure/Buttons/icon_megarave_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.rave{
background:url(../../images/Brochure/Buttons/icon_rave_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.sendmessage{
background:url(../../images/Brochure/Buttons/icon_sendmessage_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.tellothers{
background:url(../../images/Brochure/Buttons/icon_tellothers_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.buynow{
background:url(../../images/Brochure/Buttons/icon_buynow_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.add{
background:url(../../images/Brochure/Buttons/icon_add_17x17.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.disc{
background:url(../../images/Brochure/Buttons/icon_disc_16x16.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}
.cancel{
background:url(../../images/Brochure/Buttons/icon_cancel_16x16.gif) no-repeat 8px 4px;
text-indent:30px;
display:block;
}