/* HEADER */
@import url("button.css");

.PageContainer {width:1004px;padding:0;margin:0;}
a {outline:none;}
/*--OVER VIEW STYLES --*/
#overview {text-align:center;padding:0;width:1004px;margin:4px 0 0 0;}
#overview p.member {border-top:1px solid #b6d1dc;padding-top:6px;}
#overview2 {text-align:left;padding:0;width:895px;margin:10px 0 10px 0;position:absolute;}
.header {margin:10px 0 22px 0;padding:10px 0 0 0;width:1004px;}
.header span {color:#0d4764;font-size:26px;font-weight:bold;}
#emailContainer {clear:both;width:1000px;height:58px;float:none;text-align:center;padding:0;margin:0;background-color:#0d678a;}
#emailContainer #txt {margin:12px 0 0 14px;float:left;color:White;line-height:30px;font-size:29px;font-weight:bold;}
#emailContainer	#email {float:left;font-size:11px;font-weight:bold;margin-top:5px;}
#emailContainer	#email #label {text-align:left;color:#fff;font-size:10px;font-weight:normal;}
#emailContainer	#email input {width:200px;}
#emailContainer #dialogbig {float:right;margin:5px 16px 0 1px;}
#emailContainer .err {font-size:10px;color:orange;padding:0;text-align:left;}
#emailContainer .err span {margin:0;padding:0;}
#emailContainer img {background-color:#0d678a;}
#overviewSummary {margin:10px;padding:0;width:760px;}
#overviewListing {list-style-image: url(../../images/Brochure/kaneva_developers_bullet_9x9.gif);padding:0 0 0 20px;line-height:20px;margin:0;}
#overviewInfoArea {margin:20px 0px 10px 0px;padding:0 0 10px 0;width:950px;height:130px;text-align:center;}
.overviewInfoBlock {width:214px;margin:0 20px;float:left;text-align:left;}
.overviewInfoBlock {margin:0 50px;}
.blurb {margin:0;padding:0;}
.blurb p{margin:2px 0 8px 0;padding:0;}
.blurb span{color:#0d4764;font-size:27px;font-weight:bold;}
#publishBlurb {width:190px;}
#getStarted {margin:30px 0 0 0;padding:0;height:60px;float:left;width:760px;}
#getStarted .getStB {font-weight:bold;}

#download {padding:0;width:1004px;margin:10px 0 0 0;}
#download .header div {margin-top:14px;}
#download #install {background-color:#e5e4e4;width:960px;height:294px;font-size:11px;}
#download #install .step {float:left;margin:16px 12px 18px 12px;line-height:13px;width:216px;text-align:left;}
#download #install .step span {font-weight:bold;}
#download #install .imgcontainer {height:200px;clear:both;}
#download #install #linky {clear:both;text-align:right;margin:0 6px 0 0;}

#downloadSummary {clear:both;margin:10px;padding:0;width:960px;text-align:center;}
#downloadInfoArea {margin:20px 0 10px 0px;padding:0 0 0 60px;width:960px;text-align:center;height:200px;}
.downloadInfoBlock {width:350px;margin:0 50px 0 0;padding:0;float:left;}
#getstartedlisting {line-height:20px;margin:0;}
#getstartedlisting h4 {color:#0d4764;font-size:27px;font-weight:bold;text-align:left;padding:0;margin:0;width:410px;}
#getstartedlisting ol {text-align:left;padding-left:22px;margin-bottom:6px;}
#getstartedlisting a {float:left;margin-left:3px;}
#getstartedlisting li a {float:none;margin-left:0;}
#resourcesListing {list-style-type:circle;line-height:20px;margin:0;}
#resourcesListing h4 {color:#0d4764;font-size:27px;font-weight:bold;text-align:left;padding:0;margin:0;width:214px;}
#resourcesListing ul {text-align:left;padding-left:18px;}
.firstblock {margin-left:0px;}
.secondblock {width:420px;}
.secondblock p {padding:0 0 6px 5px;margin:0;}
.thirdblock {width:240px;}
.lastblock {margin-right:0;width:170px;}

/*---DEVELOP STYLES--*/
/*--- NAV AREA --*/
#steps
{
	text-align:left;
	padding:0;
	width:760px;
	margin:10px;
	position:absolute;
	height:190px;
	float:left;
}

#NavigationArea
{
	margin:8px 8px 40px 6px;
	padding:0;
	width:970px;
	font-size:13px;
	float:left;
}

 #Navigation
 {
 	margin:0 24px 0 0;
	width:164px;	
	display:block;
	float:left;
	height:188px; 
}

.navContainer
{
	border-top:solid 1px #018aaa;
	border-left:solid 1px #018aaa;
	border-right:solid 1px #018aaa;
	height:135px;
 	margin:0 0 10px 0;
}

div.menuItemBox
{
	width:150px;	
 	margin:0;
	padding:7px 0 0 14px;
	border-bottom:solid 1px #018aaa;
	font-weight:bold;
	height:26px;
}

div.menuItemBox a
{
	color:#018aaa;
}

div.menuSelected
{
	width:148px;	
 	margin:0;
	padding:7px 0 0 14px;
	border-bottom:solid 1px #018aaa;
	font-weight:bold;
	height:26px;
	background-color:#eee;
}

div.menuSelected a
{
	color:#000;
}

.summary
{
	width:782px;
	float:left;
}

.summaryImage
{
	margin:0;
	padding:0;
	width:188px;
	float:left;
}

.summaryText
{
	float:left;
	margin:0 0 0 30px;
	padding:0;
	width:380px;
}

.summaryText p
{
	margin:10px 0 0 0;
	padding:0;
}

.summaryText span
{
	color:#0d4764;
	font-size:27px;
	font-weight:bold;
}
/*--INFO AREA --*/
#InformationArea
{
	margin:10px 8px 0 6px;
	padding:0;
	float:left;
}

.stepHeader
{
	margin:0 0 6px 0;
	padding:0;
	width:970px;
	float:left;
	height:30px;
	line-height:26px;
	border-bottom:solid 1px #018aaa;
}

.stepHeader span
{
	color:#0d4764;
	font-weight:bold;
}

.stepBody
{
	border-bottom:solid 1px #018aaa;
	margin:0 0 30px 0;
	padding:0 0 6px 0;
	width:970px;
	float:left;
}

.ContainerLeft
{
	width:480px;
	margin:0;
	padding:0;
	float:left;
}

.ContainerRight
{
	width:480px;
	margin:0;
	padding:0;
	float:left;
}

.stepItemContainerLeft
{
	width:480px;
	margin:0 0 14px 0;
	padding:0;
	line-height:15px;
	float:left;
}

.stepItemImage
{
	float:left;
	margin:0;
	padding:0;
	width:50px;
}

.stepItemText
{
	float:left;
	width:420px;
	margin:0;
	padding:0;
}

.stepItemText p
{
	margin:0;
	padding:0;
}

#keyFeatures
{
	margin:0 0 0 14px;
	padding:0;
}

.stepItemContainerRight
{
	width:480px;
	margin:0 0 14px 0;
	padding:0;
	line-height:15px;
	float:left;
}

.stepNext
{
	margin:0;
	padding:0;
	width:970px;
	height:30px;
	line-height:30px;
	text-align:right;
}

#infoLinks
{
	padding-top:50px;
	clear:both;
}

h1
{
	font-size:24px;
	color: #0d4764;	
}

h2
{
	font-size:20px;
	color: #14688a;	
}

.developerh2
{
	font-size:20px;
	color: #14688a;
	margin:5px 0 5px 0;
	padding:0 !important;
}

#rightSideBar
{
	float:right;
	width:260px;
	padding-left:10px;			
}

#rightSideBarBox1
{
	border: 1px solid #18698a;
	background-color: #d6e8ed;
	padding:0 10px;
	margin:0 0 10px 0;
}

#rightSideBarBox2
{
	margin:0 0 10px 0;
	border:1px solid #d0d0d0;
	background-color:#fff;	
	padding:10px;
}

#contest #download {padding:8px 0;}
#contest div {margin-top:6px;text-align:center;}