/* HEADER */
﻿@import url("button.css");

.PageContainer
{
	width:1004px;
	text-align:left;
	
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/*--OVER VIEW STYLES --*/
#overview
{
	text-align:left;
	padding: 0px 0px 0px 0px;
	width:760px;
	margin: 10px 10px 10px 10px;
	position:absolute;
}

#overview2
{
	text-align:left;
	padding: 0px 0px 0px 0px;
	width:895px;
	margin: 10px 0px 10px 0px;
	position:absolute;
}


.header
{
	margin: 10px 10px 22px 10px;
	padding:10px 0px 0px 0px;
	width:760px;
}

.header span
{
	color:#0d4764;
	font-size:30px;
	font-weight:bold;
}

#overviewSummary
{
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
	width:760px;
}

#overviewListing
{
	list-style-image: url(../../images/Brochure/kaneva_developers_bullet_9x9.gif);
	padding: 0px 0px 0px 20px;
	line-height:20px;
	margin: 0px 0px 0px 0px;
}

#overviewInfoArea
{
	margin: 40px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
	width:780px;
}

.overviewInfoBlock
{
	width:214px;
	margin: 0px 40px 0px 0px;
	float:left;
}

.blurb
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.blurb p
{
	margin: 2px 0px 8px 0px;
	padding: 0px 0px 0px 0px;
}

.blurb span
{
	color:#0d4764;
	font-size:27px;
	font-weight:bold;
}

#getStarted
{
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:60px;
	float:left;
	width:760px;
}

#getStarted .getStB
{
	font-weight:bold;
}

/*---DEVELOP STYLES--*/
/*--- NAV AREA --*/
#steps
{
	text-align:left;
	padding: 0px 0px 0px 0px;
	width:760px;
	margin: 10px 10px 10px 10px;
	position:absolute;
	height:190px;
	float:left;
}

#NavigationArea
{
	margin: 8px 8px 40px 6px;
	padding: 0px 0px 0px 0px;
	width:970px;
	font-size:13px;
	float:left;
}

 #Navigation
 {
 	margin: 0px 24px 0px 0px;
	width:164px;	
	display:block;
	float:left;
	height:188px;
}

.navContainer
{
	border-top: solid 1px #018aaa ;
	border-left: solid 1px #018aaa ;
	border-right: solid 1px #018aaa ;
	height:135px;
 	margin: 0px 0px 10px 0px;
}

div.menuItemBox
{
	width:150px;	
 	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 14px;
	border-bottom: solid 1px #018aaa ;
	font-weight: bold;
	height:26px;
}

div.menuItemBox a
{
	color:#018aaa;
}

div.menuSelected
{
	width:148px;	
 	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 14px;
	border-bottom: solid 1px #018aaa ;
	font-weight: bold;
	height:26px;
	background-color:#eeeeee;
}

div.menuSelected a
{
	color:#000000;
}

.summary
{
	width:782px;
	float:left;
}

.summaryImage
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:188px;
	float:left;
}

.summaryText
{
	float:left;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
	width:380px;
}

.summaryText p
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.summaryText span
{
	color:#0d4764;
	font-size:27px;
	font-weight:bold;
}
/*--INFO AREA --*/
#InformationArea
{
	margin: 10px 8px 0px 6px;
	padding: 0px 0px 0px 0px;
	float:left;
}

.stepHeader
{
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 0px 0px;
	width:970px;
	float:left;
	height:30px;
	line-height:26px;
	border-bottom: solid 1px #018aaa ;
}

.stepHeader span
{
	color:#0d4764;
	font-weight:bold;
}

.stepBody
{
	border-bottom: solid 1px #018aaa ;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 6px 0px;
	width:970px;
	float:left;
}

.ContainerLeft
{
	width:480px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:left;
}

.ContainerRight
{
	width:480px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:left;
}

.stepItemContainerLeft
{
	width:480px;
	margin: 0px 0px 14px 0px;
	padding: 0px 0px 0px 0px;
	line-height:15px;
	float:left;
}

.stepItemImage
{
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:50px;
}

.stepItemText
{
	float:left;
	width:420px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.stepItemText p
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#keyFeatures
{
	margin: 0px 0px 0px 14px;
	padding: 0px 0px 0px 0px;
}

.stepItemContainerRight
{
	width:480px;
	margin: 0px 0px 14px 0px;
	padding: 0px 0px 0px 0px;
	line-height:15px;
	float:left;
}

.stepNext
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:970px;
	height:30px;
	line-height:30px;
	text-align:right;
}

#infoLinks
{
	padding-top:50px;
	clear:both;
	
}

h1
{
	font-size: 24px;
	color: #0d4764;	
	
}

h2
{
	font-size: 20px;
	color: #0d4764;	
}

.developerh2
{
	font-size: 20px;
	color: #0d4764;
	margin:5px 0px 5px 0px;
	padding: 0px 0px 0px 0px !important;
}

#rightSideBar
{
	float:right;
	width:260px;
	padding-left:10px;			
}

#rightSideBarBox1
{
	border: 1px solid #18698a;
	background-color: #d6e8ed;
	padding:0px 10px 0px 10px;
	margin: 0px 0px 10px 0px;
}

#rightSideBarBox2
{
	margin:0px 0px 10px 0px;
	border: 1px solid #d0d0d0;
	background-color: #ffffff;	
	padding:10px;
}

#emailContainer	#email {float:left;}
#emailContainer	#email {font-size:11px;font-weight:bold;}
#emailContainer	#email input {margin-right:16px;width:200px;}
#emailContainer	#dialogbig {padding-top:2px;}
#emailContainer .err {font-size:10px;color:Red;}