<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RegisterConversionTracking.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.RegisterConversionTracking" %>
<!-- Google Code for pageview Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1065938872;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
if (2.0) {
  var google_conversion_value = 2.0;
}
var google_conversion_label = "pageview";
//-->
</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js"> [^]
</script>
<noscript>
<img height=1 width=1 border=0 src="http://www.googleadservices.com/pagead/conversion/1065938872/?value=2.0&label=pageview&script=0"> [^]
</noscript>
