/* HEADER */
@charset "UTF-8";
/* CSS Document */

.cif_wrapper {
	text-align: center;
	padding: 0px;
	width: 766px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 40px;
	top: 25px;
	z-index: 5;
}
.cif_top {
	background: url("../../images/community_invite/cif_topBorder.jpg") no-repeat 0px 0px;
	height: 24px;
	width: 766px;
}
.cif_backer {
	background: url("../../images/community_invite/cif_midBacker.gif") no-repeat 0px 0px;
	text-align: center;
	height: 552px;
	width: 766px;
	margin-right: auto;
	margin-left: auto;
}
.cif_title {
	text-align: left;
	padding-right: 35px;
	padding-left: 35px;
}
.cif_title h1 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.cif_title p {
	font-weight: bold;
	color: #FFFFFF;
	margin: 4px 0px 0px;
	padding: 0px;
}
table.cif_Search {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
}
table.cif_Search tr {}
table.cif_Search td {
	color: #FFFFFF;
	text-align: left;
}
table.cif_Search td a:link, table.cif_Search td a:visited {
	background: url("../../images/community_invite/cif_btnSearch.gif") 0px -25px;
	text-indent: -5000px;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 80px;
}
table.cif_Search td a:hover {
	background: url("../../images/community_invite/cif_btnSearch.gif") 0px 0px;
	text-indent: -5000px;
}


.cif_insetBox {
	text-align: center;
	padding-right: 35px;
	padding-left: 35px;
}
.cif_selectAll {
	margin-top: 4px;
	text-align: right;
	padding-right: 10px;
}
.cif_whtBox {
	height: 345px;
	overflow: auto;
	margin: 15px 20px 24px;
	display: block;
}
.cif_whtBox ul {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	list-style: none;
	display: block;
	height: 160px;
}
.cif_whtBox li {
	float: left;
	text-align: center;
	border: 1px solid #FFFFFF;
	padding: 0px;
	margin: 0px 16px 0px 0px;
}
.cif_whtBox li.select {
	border: 1px solid #668a98;
}
.cif_thumb {
	height:84px;
	width:105px;
	background: url("../../images/community_invite/cif_imageBorder.gif") no-repeat 0px 0px;
	padding-top: 5px;
	padding-left: 4px;
}
.cif_thumb a:link, .cif_thumb a:visited, .cif_thumb a:hover {
	height:75px;
	width:100px;
	display: block;
	border: 1px solid #e0e0e0;
	position: relative;
	text-align: center;
	background-color: transparent;
}
.cif_thumb img {
	border-width: 0px;
	border-style: none;
}
.cif_buttons {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}

.cif_btnSend {
	float: left;
	width: 116px;
}
.cif_btnSend a:link, .cif_btnSend a:visited {
	background: url("../../images/community_invite/cif_btnSend.gif") no-repeat 0px -30px;
	text-indent: -5000px;
	display: block;
	height: 30px;
	width: 116px;
}
.cif_btnSend a:hover {
	background: url("../../images/community_invite/cif_btnSend.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

.cif_btnSkip {
	float: left;
	width: 72px;
	margin-left: 15px;
}
.cif_btnSkip a:link, .cif_btnSkip a:visited {
	background: url("../../images/community_invite/cif_btnSkip.gif") no-repeat 0px -30px;
	text-indent: -5000px;
	display: block;
	height: 30px;
	width: 72px;
}
.cif_btnSkip a:hover {
	background: url("../../images/community_invite/cif_btnSkip.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}

.cif_btnMore {
	float: right;
	width: 179px;
}
.cif_btnMore a:link, .cif_btnMore a:visited {
	background: url("../../images/community_invite/cif_btnInviteMore.gif") no-repeat 0px -29px;
	text-indent: -5000px;
	display: block;
	height: 29px;
	width: 179px;
}
.cif_btnMore a:hover {
	background: url("../../images/community_invite/cif_btnInviteMore.gif") no-repeat 0px 0px;
	text-indent: -5000px
	}

.cif_btm {
	background: url("../../images/community_invite/cif_btmBorder.jpg") no-repeat 0px 0px;
	height: 24px;
	width: 766px;
}
