/* HEADER */
/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.3.0
*/
/* styles for entire widget */
.yui-skin-sam .yui-ac {
    position:relative;font-family:arial;font-size:100%;
}

/* styles for input field */
.yui-skin-sam .yui-ac-input {
    position:absolute;width:100%;
}

/* styles for results container */
.yui-skin-sam .yui-ac-container {
    position:absolute;top:1.6em;width:100%;
}

/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
    position:absolute;width:100%;border:1px solid #808080;background:#fff;overflow:hidden;z-index:9050;
}

/* styles for container shadow */
.yui-skin-sam .yui-ac-shadow {
    position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}

/* styles for results list */
.yui-skin-sam .yui-ac-content ul{
    margin:0;padding:0;width:100%;
}

/* styles for result item */
.yui-skin-sam .yui-ac-content li {
    margin:0;padding:2px 5px;cursor:default;white-space:nowrap;
}

/* styles for prehighlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#B3D4FF;
}

/* styles for highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#426FD9;color:#FFF;
}
