/* HEADER */
@charset "UTF-8";
/* CSS Document: Sign-In error Page 01-26-09 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../base/base.css);
@import url(../base/nav.css);
/* @import url(footer.css); */

/* SHARED ASSETS
*---------------------------------------------------------------------------*/
.wrapper {
	text-align: center;
	width: 971px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: transparent;
}
.content {
	background: url("../../images/base/tray_full_mid.gif") repeat-y 0px 0px;
	width: 971px;
}
.topCap {
	background: url("../../images/base/tray_full_top.gif") no-repeat 0px 0px;
	height: 15px;
	width: 971px;
}
.message {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	color: #535353;
	padding-top: 40px;
	padding-bottom: 40px;
}
table {
	border-collapse: collapse;
	width: 830px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
tr {}
th {}
td {
	width: 415px;
	text-align: left;
	vertical-align: top;
	padding: 4px;
}
ol {
	margin: 0px 0px 10px;
	color: #535353;
}
li {
	margin-top: 4px;
	margin-bottom: 4px;
}
.btmCap {
	background: url("../../images/base/tray_full_btm.gif") no-repeat 0px 0px;
	height: 14px;
	width: 971px;
}
.content h4 {
	margin: 0px;
	padding: 0px;
	color: #053b53;
}
