/* HEADER */
﻿#abContainer { padding:10px; width:90%; margin-left:40px; }

#abContainer {}

#abContainer .textbox { margin-bottom:10px; }
#abContainer .label { width:230px; text-align:right; margin-right:6px; font-weight:bold; padding-top:3px; }
#abContainer .text  { width:280px; text-align:left;  margin-right:6px; padding:3px 0 0 239px; }
#abContainer .title { font-size:20px; font-weight:bold; padding:10px 0 16px 0; border-bottom:solid 1px #ebebeb; }
#abContainer .error, #abContainer .confirm {text-align:center;padding-bottom:20px;line-height:14px;width:99%;}

#abSearch	{float:right; padding:5px 0 10px 0;}

#abContainer .buttons {float:right;width:50%; padding:20px 0;}
#abContainer .buttons a {float:right;margin-left:16px;}
#abContainer .buttons .delete {text-indent:30px;}

#abContainer .subsection { float: left; padding:30px 0; width:50%; height:20px;}
#abContainer .subsection .subsectiontitle { font-size:18px; font-weight:bold;}

#abData {margin-bottom:6px; width:99%; color:#000; padding:20px 0;}
#abData #data {clear:both;}

#abData .dataRow {width:100%; height:58px; padding:10px 0px; border-top:solid 1px #ebebeb;}

#abData .dataRow .experimentInfo {float:left; width: 60%;}
#abData .dataRow .experimentInfo .name {font-size:13px;font-weight:bold;padding-bottom:3px;}
#abData .dataRow .experimentInfo .desc {font-size:12px;line-height:14px;}

#abData .dataRow .experimentDetails {float:right; width: 40%;}
#abData .dataRow .experimentDetails .detailslabel {padding-bottom:10px; text-align:right; font-weight:bold; float:left; width:50%}
#abData .dataRow .experimentDetails .detailstext {padding-bottom:10px; text-align:right; float:right; width:50%}
#abData .dataRow .experimentDetails .edit {padding-bottom:10px; text-align:right; float:right; width:100%}


#abData .pager {width:100%;clear:both;text-align:right;padding-right:1px;padding-top:6px;font-size:11px;}
#abData .results {width:50%;margin-top:12px;text-align:right;float:right;font-weight:bold;font-size:11px;}

#abData .detailsContainer {margin-top:20px;padding-top:20px;display:none;}
#abData .detailsContainer .title {margin-bottom:20px;font-size:18px;font-weight:bold;padding-bottom:16px;border-bottom:solid 1px #ebebeb;}
#abData .detailsContainer .note {font-size:9px;color:#999;font-weight:normal;}

#abData .detailsContainer .dataContainer {width:590px;float:left;margin-bottom:16px;}
#abData .detailsContainer .dataContainer > div {margin-top:12px;}
#abData .detailsContainer .dataContainer .label {float:left;width:140px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}

#abData .detailsContainer .dataContainer #nameInput .nameInput {width:250px; margin-left:2px;}
#abData .detailsContainer .dataContainer #groupInput .groupInput {margin-left:2px;}

#abData .detailsContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:30px;border-top:solid 1px #ebebeb;}

