/* HEADER */
/* CSS Document: Community Page 10-30-09 */

/* CSS for the access denied control 
*---------------------------------------------------------------------------*/
@import url(ProfileAccess.css);

/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.LeftProfilePanel {width:330px;float:left;margin-right:14px;overflow:hidden;}
.RightProfilePanel {width:630px;float:right;overflow:hidden;margin-right:10px;}
.CenterPanel {width:900px;display:block;}
.NoAccessPanel {width:650px;float:right;overflow:hidden;}
.PageContainer {border:1px solid #ccc;border-top:none;background:url(../../images/backgrounds/graphic_1004x1_backgroundProifleCommunity_leftGradient.jpg) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
.ContentWrapper {width:1004px;height:600px;margin-top:15px;}
.status {font-size:11px;color:#898989}
.buynow {background:url(../../images/icons/icon_buynow_17x17.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
a {outline:none;}
a.btnxsmall {padding-top:7px;}
a.btnmedium {margin:0 10px 5px 0;padding-top:6px;float:left;height:21px;}
a.btnlarge {margin:0;padding-top:6px;}

/*----  3DAPP CONTROL PANEL WIDGET -----*/
#controlPanel3DApp {text-align:left;padding-bottom:10px;}
#controlPanel3DApp .name {color:#3d77c4;font-size:14px;line-height:16px;font-weight:bold;width:100%;text-align:left;margin:0 0 8px 0;}
#controlPanel3DApp .description {text-align:left;font-size:11px;margin:0 0 10px 0;}
#controlPanel3DApp .imageContainer {width:135px;height:106px;margin:0;float:left;}
#controlPanel3DApp .manageThumnailContainer {float:left;width:128px;height:20px;margin:40px 0 0 16px;}
#controlPanel3DApp .manageThumnailContainer a {font-size:10px;}
#controlPanel3DApp .infoContainer {width:99%;text-align:left;clear:left;}
#controlPanel3DApp .date {color:#898989;font-size:10px;padding:0 0 15px 0;clear:left;text-align:left;}
#controlPanel3DApp .tags {text-align:left;width:100%;text-align:left;}
#controlPanel3DApp .tags div {font-weight:bold;margin:0;}
#controlPanel3DApp .tags p {margin:3px 0 10px 0;}
#controlPanel3DApp .news {background-image:url(../../images/icons/icon_news_14x15.gif);background-repeat:no-repeat;background-position:center left;padding:4px 0 0 25px;height:16px;}
#controlPanel3DApp .meet3D {width:133px;height:26px;display:block;margin:0;}
#controlPanel3DApp .smallStaticText {font-size:10px;color:#898989;}
#controlPanel3DApp .reportAbuse{width:100%;text-align:left;margin:4px 0 8px 2px;clear:both;}
#controlPanel3DApp .reportAbuse a{margin-right:10px;font-size:10px;}
#controlPanel3DApp .pending{margin:10px 0 0 25px;display:block;color:#ee2d2a;line-height:14px;}
#controlPanel3DApp .buttonsLeftCol{float:left;text-align:left;clear:both;}
#controlPanel3DApp .buttonsRightCol{float:left;text-align:left;margin-left:5px;}
#controlPanel3DApp .buttonsContainer{width:100%;}
#controlPanel3DApp .framesize-large{float:left;}

/*---- LINKS ----*/
#controlPanel3DApp #links {text-align:left;margin:18px 0 0 0;min-height:60px;height:auto;color:#3d77c4;font-size:12px;}
#controlPanel3DApp #links div {background-repeat: no-repeat;background-position:center left;padding:4px 0 0 25px;height:16px;margin:2px 0;}
#controlPanel3DApp .rave {background:url(../../images/icons/icon_rave_17x17.gif) no-repeat;text-indent:25px;display:block;height:16px;padding-top:4px;}
#controlPanel3DApp .addfriend {background:url(../../images/icons/icon_addfriend_17x17.gif);}
#controlPanel3DApp .raves {background-image:url(../../images/nav/sideNav_16x16_raveGrey.jpg);}
#controlPanel3DApp .videos {background-image:url(../../images/icons/icon_video_16x16.gif);}
#controlPanel3DApp .members {background-image:url(../../images/mykaneva/communityInvite.gif);}
#controlPanel3DApp .event {background-image:url(../../images/icons/event_icon_17x21.png);}
#controlPanel3DApp .photos {background-image:url(../../images/icons/icon_photos_16x16.gif);}
#controlPanel3DApp .contact {background-image:url(../../images/icons/icon_sendmessage_17x17.gif);}
#controlPanel3DApp .manage {background-image:url(../../images/icons/icon_widgets_16x16.gif);}
#controlPanel3DApp #links div.report {background-image:none;margin-top:24px;}
#controlPanel3DApp #links div.report a {font-size:10px;}
#controlPanel3DApp #links div.quit {background-image:none;height:12px;padding-top:0;}
#controlPanel3DApp #links div.quit a {font-size:10px;}


/*---- ICONS ----*/
#controlPanel3DApp .delete {background:url(../../images/icons/icn_addfriend_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel3DApp .user {background:url(../../images/icons/icn_share_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel3DApp .addMedia {background:url(../../images/icons/icon_addmedia_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel3DApp .join {background:url(../../images/icons/icn_addfriend_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
/*---- SUMMARY COUNTS -----*/
#controlPanel3DApp .url {width:100%;text-align:left;margin:10px 0 20px 0;}
#controlPanel3DApp .createDate {width:100%;text-align:left;margin:8px 0 12px 0;}

.controlPanelFame .buttonsContainer {height:14px;margin-bottom:0;padding-bottom:0;}
.controlPanelFame #summaryCounts {padding:0 0 0 8px;}
/* Override Default button values */
#controlPanel3DApp a.btnsmall {font-size:11px;margin-bottom:3px;text-align:left;height:23px;padding:4px 0 0 0;}
#controlPanel3DApp a.btnsmall.meet3d {font-size:14px;text-align:center;padding-top:5px;height:21px;margin:0;}
#controlPanel3DApp .meet3D:visited {background:url(../../images/playnowsmallUP.png) no-repeat 0px 0px;}
#controlPanel3DApp .meet3D:active {background:url(../../images/playnowsmallOver.png) no-repeat 0px 0px;}

/*---------------(DATA ROWS)------------------*/
/*----Styles the horizontal rule between data items----*/
hr.dataSeparator {background-color:#ebebeb;color:#ebebeb;height:1px;clear:both;border:none;}

/*----Styles the main panel data row items----*/
.dataRow {line-height:14px;width:100%;height:86px;}
.noData {color:#898989;margin:40px 0;text-align:center;clear:both;}
.noData div {margin-top:12px;clear:both;}
.dateSort {padding-right:10px;}
.dateSort a {margin:0 4px;}

/*---- ABOUT ----*/
#about {width:99%;}
#about #divSave {float:right;margin:10px 0;}
#about #divSave a {text-align:center;}
#about .content {width:100%;}
#about .content div {clear:both;line-height:normal;}
#about .content div span {display:inline;padding:0;height:99%;}
#about .content a.btnmedium {float:none;margin-bottom:10px;}
#about .editor {margin-top:50px;}
#about .editor > a.btnxsmall {margin-bottom:10px;}

/*---- VIDEOS, MUSIC, GAMES ----*/ 
#media .dataRow .image {width:16%;float:left;padding-top:4px;}
#media .dataRow .data {width:81%;float:right;text-align:left;padding:4px 4px 4px 4px;}
#media .dataRow .name {font-weight:bold;font-size:12px;}
#media .dataRow .desc {font-size:11px;margin-bottom:10px;}
#media .edit {text-align:left;position:relative;top:-32px;margin-top:42px;height:26px;}
#media .raves,#media .Music,#media .Video,#media .Game {float:left;font-size:11px;background-repeat:no-repeat;background-position: center left;margin-right:14px;padding: 1px 0 1px 26px;} 
#media .raves {background-image:url(../../images/mykaneva/iconRave.jpg);padding-left:20px;}
#media .Music {background-image:url(../../images/icons/icon_music_16x16.gif);}
#media .Video {background-image:url(../../images/icons/icon_video_16x16.gif);}
#media .Game {background-image:url(../../images/icons/icon_games_16x16.gif);}
#media .framesize-medium {float:left;}

/*---- MEMBERS ----*/
#communityMembers .status {margin-top:0;}
#communityMembers table {margin-top:0px;clear:both;}
#communityMembers .dataRow {padding-top:10px;height:84px;vertical-align:top;width:210px;}
#communityMembers .dataRow .image {width:100px;float:left;margin:0 0 2px 0;text-align:left;}
#communityMembers .dataRow .data {width:140px;overflow:hidden;float:left;text-align:left;margin:0 0 0 8px;}
#communityMembers .dataRow .data div {overflow:hidden;}
#communityMembers .dataRow .data p {margin:0;padding:0;}
#communityMembers .dataRow .date {color:#898989;font-size:10px;line-height:12px;margin-top:3px;}
#communityMembers .dataRow .role {height:13px;font-weight:bold;}
#communityMembers .dataRow .framesize-square {float:left;margin-right:6px;}
#communityMembers td {vertical-align:top;}
#communityMembers .edit {height:30px;position:relative;top:24px;}
#communityMembers .dataSeparator.top {margin-top:26px;}

/*---- PHOTOS ----*/
#photos .dataRow {height:140px;text-align:center;}
#photos .image {padding-top:4px;width:160px;height:80px;text-align:center;}
#photos .name {text-align:center;width:160px;font-size:11px;}
#photos .edit {text-align:left;position:relative;top:-32px;margin-top:42px;height:26px;}
#photos .framesize-medium {margin-left:30px;}

/*---- PREMIUM ITEMS ----*/
#premiumItems td {padding-bottom:16px;height:auto;}
#premiumItems .dataRow {text-align:center;height:99%;width:99%;}
#premiumItems .dataRow .data {width:208px;overflow:hidden;float:left;text-align:left;margin:0;}
#premiumItems .dataRow p {margin:2px 0 0 0;text-align:left;font-size:11px;}
#premiumItems .image {padding-top:4px;width:900px;height:90px;text-align:center;}
#premiumItems .name {text-align:left;width:100%;font-size:14px;color:#0d4764;font-weight:bold;}
#premiumItems .price {text-align:left;color:#3d77c4;font-weight:bold;margin:5px 0;}
#premiumItems .edit {text-align:left;position:relative;top:0;}
#premiumItems .framesize-large {width:90px;position:relative;margin:0;float:left;margin-right:8px;}
#premiumItems .framesize-large .imgconstrain {width:90px;height:90px;border:1px solid #e0e0e0;overflow:hidden;}
#premiumItems .buttonFixed {width:100px;}
#premiumItems .buynow {background:url(../../images/icons/icon_buynow_16x16.gif) no-repeat 5px 0;text-indent:20px;height:16px;display:block;}
#premiumItems a.btnxsmall {padding:5px 0 0 0;margin-left:0;float:left;height:21px;}

/*---- BLOGS ----*/
#blogs {margin-bottom:30px;width:99%;}
#blogs .edit {text-align:left;}
#blogs .dataRow {padding:10px 0 0 0;width:100%;min-height:94px;clear:both;height:auto;}
#blogs .data {text-align:left;width:100%;float:left;color:#898989;}
#blogs  date {line-height:16px;}
#blogs .title {font-weight:bold;margin-bottom:15px;}
#blogs .body {width:99%;clear:both;padding-bottom:10px;}
#blogs .editLinks {width:99%;float:left;padding:6px 0 6px 0;clear:both;}
#blogs .editLinks div {float:right;margin-left:10px;text-align:center;}
#blogs .editLinks .comments {width:80px;}
#blogs .editLinks .detail {width:60px;}
#blogs .editLinks .edit {width:60px;}
#blogs .separator {clear:both;}

/*---- FORUMS ----*/
#forums {margin:16px 0px 10px 0px;}
#forums .edit {text-align:left;position:relative;top:-8px;}
#forums .header {width:628px;line-height:24px;font-weight:bold;}
#forums .header div {float:left; text-align:left}
#forums .header .topics {width:338px;}
#forums .header .poster {width:100px;}
#forums .header .date {width:130px;}
#forums .header .replies {width:60px;}
#forums .data {width:100%;line-height:30px;padding:0;overflow:hidden;}
#forums .data div {float:left;text-align:left;}
#forums .data .post {width:338px;font-weight:bold;}
#forums .data .image {width:100px;}
#forums .data .date {width:130px;}
#forums .data .replies {width:61px;}
#forums #links {clear:both;padding-top:8px;width:300px;text-align:right;float:right;}
#forums #links a {margin:6px 5px 0 0;}
#forums .dataSeparator {margin:0;}
#forums .edit a.btnmedium {margin-bottom:0;}

/*---- EVENTS ----*/
#events .dlContainer {margin:10px 0px 10px 0px;width:99%;text-align:left;}
#events .dlContainer .edit {text-align:left;position:relative;top:0px;padding-bottom:6px;margin-bottom:10px;}
#events .dlContainer .title {width:80%;}
#events .dlContainer .invites {width:17%;padding-right:5px;}
#events .dlContainer .header {width:100%;height:24px;display:none;}
#events .dlContainer .header div {float:left;text-align:left;padding:6px 0 0 5px;}
#events .dlContainer .header .invites {height:18px;padding-left:12px;overflow:visible;}
#events .dlContainer .dataRow {width:100%;padding:15px 0;height:auto;border-bottom:1px solid #eee;display:inline-block;} 
#events .dlContainer .dataRow div {float:left;height:100%;font-size:11px;padding-left:5px;}
#events .dlContainer .dataRow .title {padding:0 0 0 3px;}
#events .dlContainer .dataRow .title a {font-weight:bold;font-size:14px;}
#events .dlContainer .dataRow .title span, #events .dlContainer .dataRow .title span a {font-size:10px;font-weight:normal;}
#events .dlContainer .dataRow .title p {font-size:12px;margin-top:6px;clear:both;}
#events .dlContainer .dataRow .title p.time {margin-top:2px;font-size:11px;color:#999;}
#events .dlContainer .dataRow .invites {padding:0 0 0 10px;overflow:visible;color:#999;}
#events .dlContainer .dataRow .invites div {line-height:16px; width:98%;}
#events .dlContainer .dataRow .invites div div {width:30px;}
#events .dlContainer .edit a.btnxsmall {float:left;margin-bottom:5px;}

/*---- Badges ----*/
#badges {margin:0;padding:0;width:100%;color:#333;}
#badges .title {clear:both;height:32px;}
#badges .title h2 {color:#1d3b53;width:400px;font-size:18px;float:left;line-height:20px;text-align:left;margin:0;padding:0;}
#badges .title div {float:right;}
#badges .gameStats {border-top:solid 1px #ebebeb;padding:8px 0;text-align:left;background:url(../../images/icons/icon_badge_21x21.gif) no-repeat 8px 10px;text-indent:36px;display:block;}
#badges .gameStats .counts {font-weight:bold;}
#badges .gameStats .points{font-size:10px;font-weight:normal;}
#badges .dataRow {width:100%;height:66px;padding:6px 0px;border-top:solid 1px #ebebeb;}
#badges .rowOff {filter:alpha(opacity=40);opacity:.4;z-index:50;background-color:#CCC;}
#badges .dataRow .info {color:#333;width:370px;font-size:12px;float:left;text-align:left;overflow:hidden;}
#badges .dataRow .info .name {font-size:13px;font-weight:bold;padding:0 0 3px 0;;margin-bottom:0;}
#badges .dataRow .info .desc {font-size:11px;line-height:11px;height:22px;}
#badges .dataRow .gameBadges {float:right;height:58px;text-align:left;padding-right:4px;display:block;width:120px;}
#badges .dataRow .info .points {font-weight:bold;font-size:12px;margin-top:3px;}
#badges .dataRow .info .date {line-height:14px;font-size:11px;color:#999;}
#badges .dataRow .framesize-small {float:left;margin:0 6px 0 7px;width:64px;height:64px;}
#badges .dataRow .framesize-small .imgconstrain {width:64px;height:64px;}

/*---- LEADERBOARD ----*/
#leaderboard {margin-bottom:6px;width:99%;}
#leaderboard .header {width:100%;height:15px;font-size:11px;font-weight:bold;padding:3px 0 0 4px;background-color:#ebebeb;text-align:left;margin:10px 0 10px 0;color:#333;}
#leaderboard .header .rank {float:left;padding:0 0 0 2px;width:95px;}
#leaderboard .header .player {float:left;padding:0 0 0 0;}
#leaderboard .dataRow {width:100%;height:58px;padding:4px 0px;border-top:solid 1px #ebebeb;}
#leaderboard .dataRow .rank {width:100px;height:56px;float:left;}
#leaderboard .dataRow .rank div {font-size:24px;font-weight:bold;line-height:22px;color:#cecece;padding-left:3px;text-align:left;}
#leaderboard .dataRow .image {width:75px;float:left;}
#leaderboard .dataRow .player {width:200px;float:left;text-align:left;overflow:hidden;font-size:11px;}
#leaderboard .dataRow .player a {font-size:12px;font-weight:bold;}
#leaderboard .dataRow .playerTitle {color:#b0b0b0;font-weight:bold;}
#leaderboard .dataRow .level {color:#b0b0b0;line-height:14px;}
#leaderboard .dataRow .points {float:right;text-align:right;padding-right:4px;display:block;}
#leaderboard .dataRow .points .remove {font-size:11px;padding-top:12px;}
#leaderboard .dataRow .label {line-height:18px;}
#leaderboard .dataRow .points .value {font-weight:bold;padding-top:2px;}
#leaderboard .dataRow .framesize-square {float:left;margin-right:6px;}
#leaderboard .currentUser {background-color:#f3f7f8;}

/*---- LEFT PANEL ----*/
.dataRowSideLight {width:100%;line-height:14px;margin-bottom:4px;height:86px;text-align:left;}

/*---- MEMBERS ----*/
#communityMembers {margin-bottom:16px;}
#communityMembers .dataRowSideLight {margin-left:8px;height:60px;width:97%;}
#communityMembers .dataRowSideLight .image {width:50px;float:left;margin-right:18px;}
#communityMembers .dataRowSideLight .data {width:200px;float:left;text-align:left;overflow:hidden;display:block;}
#communityMembers .dataRowSideLight .role {line-height:12px;font-weight:bold;font-size:11px;}
#communityMembers .dataRowSideLight .framesize-square {float:left;margin-right:14px;}

/*---- EVENTS ----*/
#events .rptContainer .title {width:170px;}
#events .rptContainer .time {width:78px;}
#events .rptContainer .type {width:12%;}
#events .rptContainer .dataRow, #events .rptContainer .header {text-align:left;font-size:11px;}
#events .rptContainer .dataRow div, #events .rptContainer .header div {float:left;}
#events .rptContainer .dataRow {border-bottom:solid 1px red;}
#events .rptContainer .dataRow a {word-break:break-all;}
#events .rptContainer .dataRow .title {padding-left:5px;}
#events .rptContainer .dataRow .time {padding-left:3px;}
#events .rptContainer .dataRow .type {padding-left:3px;}
#events .rptContainer .header {width:100%;background-color:#ddd;height:24px;}
#events .rptContainer .header div {padding:6px 0 0 5px;height:24px;}
#events .rptContainer .header .time {width:76px;height:18px;}

#events .rptContainer table.event {width:95%;font-size:.8em;margin-left:10px;}
#events .rptContainer table.event td {text-align:left;padding:5px 0 6px 0;border-bottom:1px solid #eee;color:#999;}
#events .rptContainer table.event td.date {width:70px;text-align:right;}

/*---- PREMIUM ITEMS ----*/
#premiumItems .rptContainer {margin-left:8px;}
#premiumItems .rptContainer .dataRow {text-align:center;min-height:110px;width:99%;}
#premiumItems .rptContainer .dataRow .data {width:208px;overflow:hidden;float:left;text-align:left;margin:0;}
#premiumItems .rptContainer .dataRow p {margin:2px 0 0 0;text-align:left;font-size:11px;}
#premiumItems .rptContainer .image {padding-top:4px;width:900px;height:90px;text-align:center;}
#premiumItems .rptContainer .name {text-align:left;width:100%;font-size:14px;color:#3d77c4;font-weight:bold;}
#premiumItems .rptContainer .price {text-align:left;color:#3d77c4;font-weight:bold;margin:5px 0;}
#premiumItems .rptContainer .edit {text-align:left;position:relative;top:0;}
#premiumItems .rptContainer .framesize-large {width:90px;position:relative;margin:0;float:left;margin-right:8px;}
#premiumItems .rptContainer .framesize-large .imgconstrain {width:90px;height:90px;border:1px solid #e0e0e0;overflow:hidden;}
#premiumItems .rptContainer .buttonFixed {width:100px;}

.loadingData {background-image:url('../../images/ajax-loader.gif');background-repeat:no-repeat;background-position:center;height:30px;text-align:center;margin-top:20px;}
.loadingText {font-size:10px;font-weight:none;width:99%;text-align:center;color:#999;margin-top:5px;}

/*-----------(SORTING CONTROLS)-------------- */	
#dateSort {float:right;}
#alphaSort {float:left;margin:4px 0px -10px 10px;text-align:center;display:inline-block;vertical-align:middle;font-size:11px;}
#alphaSort a {text-align:center;width:11px;display:inline-block;}
#sortControl {float:right;margin:0px 0px 10px 2px;}

/*-----------(TABBED CONTROL)--------------*/
#tabContainer {background:url(../../images/icons/leaderboard/bg_altrow.gif);width:622px;height:21px;padding:10px 0px 0px 8px;margin-bottom:10px;border-bottom:solid 1px #999;}
#tabContainer div {background-color:#ccc;height:21px;padding:0;margin-right:1px;float:left;position:relative;}
#tabContainer div a {color:#fff;height:17px;padding-top:3px;display:block;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-top:solid 1px #ccc;}
#tabContainer div a:hover {color:#3d77c4;display:block;border-left:solid 1px #ebebeb;border-right:solid 1px #ebebeb;border-top:solid 1px #ebebeb;text-decoration:none;background:#ebebeb;}
#tabContainer div a:hover:active {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:#fff;}
#tabContainer div.selected {background-color:#fff;padding:0;margin-right:1px;color:#0d4764;float:left;}
#tabContainer div.selected a {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:transparent;}}

#tabContainer div.About {width:54px;}
#tabContainer div.About a {width:52px;}
#tabContainer div.Blasts {width:54px;}
#tabContainer div.Blasts a {width:52px;}
#tabContainer div.Games {width:54px;}
#tabContainer div.Games a {width:52px;}
#tabContainer div.Videos {width:54px;}
#tabContainer div.Videos a {width:52px;}
#tabContainer div.Music {width:54px;}
#tabContainer div.Music a {width:52px;}
#tabContainer div.Photos {width:54px;}
#tabContainer div.Photos a {width:52px;}
#tabContainer div.Events {width:54px;}
#tabContainer div.Events a {width:52px;}
#tabContainer div.Blogs {width:54px;}
#tabContainer div.Blogs a {width:52px;}
#tabContainer div.News {width:54px;}
#tabContainer div.News a {width:52px;}
#tabContainer div.Forums {width:56px;}
#tabContainer div.Forums a {width:54px;}
#tabContainer div.Members {width:66px;}
#tabContainer div.Members a {width:64px;}
#tabContainer div.Premium_Items {width:108px;}
#tabContainer div.Premium_Items a {width:106px;}
#tabContainer div.Leaders {width:60px;}
#tabContainer div.Leaders a {width:58px;}
#tabContainer div.Badges {width:54px;}
#tabContainer div.Badges a {width:52px;}

.loadingTabData {height:60px;text-align:center;padding:60px 0;font-size:10px;font-weight:normal;}
.loadingTabData p {margin-top:6px;color:#999;}

/* ------------AJAX PAGER---------*/
.pagerContainer{clear:both;text-align:right;font-size:11px;font-weight:bold;border-top:solid 1px #ebebeb;margin:5px 0;padding-right:6px;}
.pager {color:#3d77c4;margin:0 2px;}
.pagerCurrentPage {color:#333;margin:0 2px;}
span.pagerPrevious {display:none;}
span.pagerNext {display:none;}
.pageReport {color:#999;line-height:16px;}

/* ------------MEDIA WIDGETS---------*/
#raves {background-image:url(../../images/mykaneva/iconRave.jpg);background-repeat:no-repeat;background-position:center left;padding-left: 20px;margin-right:14px;}
#views.Music {background-image:url(../../images/icons/icon_music_16x16.gif);background-repeat:no-repeat;background-position:center left;padding-left:26px;margin-right:14px;}
#views.Video {background-image:url(../../images/icons/icon_video_16x16.gif);background-repeat:no-repeat;background-position:center left;padding-left:26px;margin-right:14px;}
#views.Game {background-image:url(../../images/icons/icon_games_16x16.gif);background-repeat:no-repeat;background-position:center left;padding-left:26px;margin-right:14px;}
.mediaButtons {text-align:left;position:relative;top:-32px;}

/* ------------SIDE CONTAINER WIDGETS --------- */
.widgetHeaders{width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;background-color:#ebebeb;text-align:left;margin:0 0 10px 0;color:#333;}
.widgetHeaders span{padding-right:10px;font-size:10px;}
div.widgetHeaders .widgetTitle{float:left;font-weight:bold;}
div.widgetHeaders .widgetEdit{float:right;}
.widget_container {margin-left:8px;}
#widget_frame{min-height:150px;}
div.edit{text-align:left;}

/* WIDGETS */
#pBlasts .imgLoading{margin:20px 0 0 60px;}
#pBlasts .loadingText{margin-top:8px;font-size:10px;font-weight:none;width:100%;text-align:center;color:#999;}

/* -------------BLAST BOX------------- */
.BlastBox {width:100%;background-color:#f5f5f5;background-image:url(../../images/mykaneva/blastbox_nopointer_508x53.gif);background-repeat:no-repeat;background-position:top left;margin:0 0 10px 0;padding:0;}
.BlastBox img {margin:5px 0 5px 10px;}
.BlastBox p {font-size:11px;margin:2px 0 5px 40px;}
#blastComment{padding:0;margin:0;width:470px;text-align:left;float:left;}
#blastComment textarea {margin-left:10px;width:484px;outline:none;border:0;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
#blastComment #divCounter {text-align:right;width:480px;height:12px;margin-top:4px;}
#blastComment #counter {display:none;font-size:10px;}
#blastComment #divCounter {color:#898989;}
#blastIt {margin:7px 6px 0 0;float:right;}
#blastIt a, #blastIt a span {
	background:transparent url('../../images/base/btn_grey_big_blank_variable.gif') no-repeat scroll left 0;
	margin:0 8px 0 0;		/* 15px == amount of background image to the right */
	padding:6px 0 0 8px;	/* 15px == amount of background image to the left */
	display:-moz-inline-box;/* Firefox 2 support for inline-block */
	display:inline-block;	/* Must be used so that height can be set */
	height:38px;			/* Same as height of background image */
	font:18px/24px Verdana, Arial; /* Appropriate font size / line height */
	color:black;text-decoration:none;font-weight:bold;cursor:hand;}
#blastIt a {background-position:right 0;margin:0;padding:0;}
#blastError {width:500px;font-size:11px;color:Red;margin:10px 0 0 10px;padding-top:0px;text-align:left;float:left;}
/* -------------THESE ARE THE BLAST LINKS---------------- */
#blastLinks {clear:both;padding:12px 0 0 0;margin:0;height:auto;}
#blastLinks ul {margin:0;padding:0;height:22px;}
#blastLinks li {text-align:left;float:left;list-style:none;margin:3px 0 0 0;}
#blastLinks li a {background-repeat:no-repeat;background-position:left center;background-color:#f5f5f5;padding:0 0 0 18px;margin:8px 0 0 16px;font-size:11px;}
#blastLinks li a:link, #blastLinks li a:visited {color:#666;}
#blastLinks li a:hover, #blastLinks li a:active {color:#3d77c4;}
li.blastLinksIntro {padding:0 0 0 25px;color:#666;font-size:11px;}
li.blastLinksVideo a:link, li.blastLinksVideo a:visited {background-image:url(../../images/blast/blast_16x16_videoGrey.png);}
li.blastLinksVideo a:hover, li.blastLinksVideo a:active {background-image:url(../../images/blast/blast_16x16_videoColor.png);}
li.blastLinksPhoto a:link, li.blastLinksPhoto a:visited {background-image:url(../../images/blast/blast_16x16_photoGrey.png);padding-left:22px;}
li.blastLinksPhoto a:hover, li.blastLinksPhoto a:active {background-image:url(../../images/blast/blast_16x16_photoColor.png);padding-left:22px;}
li.blastLinksLink a:link, li.blastLinksLink a:visited,  
li.blastLinksLink a:hover, li.blastLinksLink a:active {background-image:url(../../images/blast/blast_16x16_linkAll.png);}
li.blastLinksHome a:link, li.blastLinksHome a:visited {background-image:url(../../images/blast/blast_16x16_placeGrey.png);padding-left:20px;}
li.blastLinksHome a:hover, li.blastLinksHome a:active {background-image:url(../../images/blast/blast_16x16_placeColor.png);padding-left:20px;}
li.blastLinksFilter {display:none;background-color:#f5f5f5;padding:0;margin-left:15px;font-size:10px;color:#666;}
li.blastLinksFilter.blastFilter{width:80px;vertical-align:middle;}
li.blastFacebook {background-image:url(../../images/facebook/fbsmallicon_blue.png);background-position:right center;padding:0 20px 0 0;}
li.blastFacebook input[type=checkbox] {margin:0;}

/* -------------FEEDS SECTION------------- */
.feed {width:100%;background-color:white;margin:4px 0 4px 0px;padding:0 0 8px 0;border-bottom:1px solid #ebebeb;clear:both;min-height:60px;float:left;}
.feedImg {width:80px;height: 100%;min-height: 100%;padding:0;position:relative;float:left;text-align:left;}
.feedText {width:538px;_width:434px;margin:0;position:relative;clear:right;padding:0 0 10px 0;display:block;overflow:visible;}
.feedText h4{font-size: 13px;font-weight:bold;text-align:left;line-height:18px;padding:0;margin:0;} 
.feedText p, .feedText div {font-size:11px;font-style:normal;_line-height:15px;word-wrap:break-word;text-align:left;padding:0;margin:2px 0 4px 0;}
.feedText .time {font-size:10px;font-style:normal;color:#999;margin-top: 1px;clear:left;}
.feedText .time a:link, .feedText .time a:hover,
.feedText .time a:visited, .feedText .time a:active {font-size:10px;font-style:normal;font-weight:normal;margin-right:6px;}
.feedText a:link, .feedText a:hover, 
.feedText a:visited, .feedText a:active {font-weight:bold;font-size:12px;}
.feedText a.worldLink{margin-top:5px;display:block;}
.feedText a.plainLink{font-weight:normal;}
.feedText img {margin:5px 5px 0 0;float:left;}
.feedAchievementText {float:left;width:302px;margin:5px 0 0 0px;font-size: 11px;font-style:normal;font-weight:normal;}
.feedAchievementText div {margin:1px 0;}
.feedAchievementText .bold {font-weight:bold;}
.feedContestText{float:left;width:302px;margin:5px 0 3px 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedContestText div {margin:1px 0;padding:0;line-height:12px;}
.feedContestText .bold {font-weight:bold;}
.feedContestText a.small {font-size:11px;font-weight:normal;}
.feedPhotoText {float:left;width:302px;margin:5px 0 0 0px;font-size: 11px;font-style:normal;font-weight:normal;}
.feedVideoText {float:left;width:300px;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.vidThumbContainer {width:130px;overflow:hidden;height:98px;cursor:hand;cursor:pointer;float:left;}
.vidImgPlay {position:relative;left:6px;top:-36px;border:none;}
.vidImgThumb {position:relative;left:0;}
.feed-imgTextContainer {height:auto;_height:60px;}
.feed-imgContainer {float:left;height:100%;width:78px;}
.feed-textContainer {float:right;width:540px;}
.feedText .linkBlast {font-size:11px;}
.feedText .linkBlast a:link, .feedText .linkBlast a:hover, 
.feedText .linkBlast a:visited, .feedText .linkBlast a:active {line-height:20px;font-size:11px;}
.feedText .linkPlace div {font-size:11px;margin:3px 0;}
.feedText .linkPlace span.label {font-size:11px;margin:0 6px 0 0;font-weight:bold;}
.textInput {border:solid 1px #999;background:white;width:400px;color:#999;font-size:12px;font-family:Verdana, Geneva, sans-serif;font-style:italic;padding-left:10px;}
.meet3DContainer{position:relative;_top:0px;float:right;padding:0;width:70px;overflow:visible;}

/* -------------COMMENT SECTION OF FEEDS------------- */
.commentBox {background-color:#f5f5f5;padding:5px 10px 2px 10px;text-align:left;}
.commentBox textarea {width:460px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;color:#999;}
.commentBox a.button_add {clear:both;color:#fff;border:none;background-color:#f5f5f5;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #DC924F;width:135px;height:27px;text-align:center;padding-top:7px;margin:9px 0 0 0;font-size:12px;}
.commentBox a.button_add, .commentBox a.button_add:visited {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.commentBox a.button_add:hover {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none;
}
.commentBox a.button_add:active {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}
.feedbackBox {background-color:#f5f5f5;padding:2px 5px 3px 5px;margin:0 0 2px 0;border-bottom:1px solid #e8e8e8;min-height:45px;height:auto;overflow:hidden;_height:40px;_overflow:visible;}
.feedbackBox img {position:inherit;margin-top:2px;max-height:40px;}
.feedbackImg {width:56px;_width:58px;padding-right:2px;float:left;overflow:hidden;text-align:left;}
.feedbackText {width:462px;margin:0 0 0 2px;padding:0;position:relative;clear:right;display:block;float:right;text-align:left;}
.feedbackText p a:link, .feedbackText p a:hover, 
.feedbackText p a:visited, .feedbackText p a:active {font-size:12px;font-weight:bold;line-height:14px;} 
.feedbackText p {font-size:11px;font-style:normal;clear:inherit;line-height:14px;margin:0;padding:0;}
.feedbackText .time {font-size:10px;color:#999;margin-top:1px;}
.feedbackbadge {width:58px;padding:0 5px 0 0;}
.allComments {background-image:url(../../images/mykaneva/comments.jpg);background-color:#f5f5f5;background-position:top left;background-repeat:no-repeat;padding:0 0 2px 20px;height:17px;}
.allComments a:link {font-size:11px;font-weight:normal;}
.commentText .loadingText {margin:0 0 6px 0;font-size:10px;width:100%;text-align:center;color:#999;font-weight:normal;}
.admin {width:520px;float: left;background-color:white;margin:0px 0 3px 0;padding:5px;clear:both;}
.admin .feedText p, .admin .feedText a:link, .admin .feedText a:hover,
.admin .feedText a:visited, .admin .feedText a:active {font-size:11px;font-weight:normal;}
.admin .feedImg {float:left;width:40px;}
.admin .feedText {float:left;}
.alert {border-bottom:1px solid #d62322;background-color:#ffcece;}
.blastPager {text-align:right;padding-bottom:10px;}

.nobold {font-weight:normal;}

/* CONTENT - adjust the content area for size */
#divContent {height:100%;}
