/* HEADER */
/* CSS Document: Community Edit Page 11-18-09 */
/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;padding-bottom:50px;}
.photoPreview div {border-right:#e0e0e0 1px solid;border-top:#e0e0e0 1px solid;vertical-align:middle;overflow:hidden;border-left:#e0e0e0 1px solid;width:130px;border-BOTTOM:#e0e0e0 1px solid;height:98px;background-color:#fff;text-align:center;}

/* begin styling for various div sections */
#editBody {width:920px;overflow:hidden;background-color:#fff;padding:10px;margin:0;text-align:left;line-height:22px;}
#messageArea {width:900px;border:none 1px #000;padding:0px 10px 0px 10px;}
#pageHeader {width:900px;height:34px;text-align:left;background-color:#ebebeb;padding:12px 10px 0px 10px;}
#pageHeader span {color:#333;padding-right:10px;}
#describeCommity {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;}
#restrictions {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;}
#tabs {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;clear:both;display:inline-block;}
#tabs #tablist, #tabs #tabdefault {float:left;}
#tabs #tabdefault {margin-left:50px;}
#profilePhoto {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;float:left;}
#profilePhoto .photo {float:left;margin:0 0 10px 0;width:140px;text-align:center;}
#profilePhoto .photoDescription {padding-left:10px;width:750px;line-height:16px;float:right;margin:0 0 10px 0;}
#profilePhoto .photoLink {margin-top:0;padding-top:0;height:24px;width:898px;float:left;}
#backgroundOptions {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;clear:both;}
#communityURL {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:10px;}
#submitArea {width:900px;text-align:left;padding:10px;}
a.btnsmall {padding-top:2px;float:left;margin-right:10px;height:25px;}
/* end styling for div areas */

/*styling for the media library photos (selectPhotoFromLibrary.ascx) */
#libraryContainer {margin: 10px 5px 10px 5px;width:800px;}
#objectContainer {width:140px;height:106px;text-align:center;border:solid 1px #ccc;padding:0;margin:2px;}
#radioContainer {width:20px;height:98px;float:left;}
#imageNameContainer{width:120px;height:98px;position:relative;padding-top:4px;top:0;left:0;float:right;}
.btnphotolibselect{float:left;padding-top:6px;margin-right:12px;}

/*end styling for the media library photos */
.spacer {padding-left:10px;}

