/* HEADER */
/* CSS Document: Community Creation Page 6-6-2012 */
/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.PageContainer {background-color:#fff;width:1004px;height:100%;border:solid 1px #ccc;border-top:none;}

/* begin styling for various div sections */
#contentBody {width:970px;background-color:#fff;border:none 2px #000;padding:15px 10px 15px 10px;margin:0;text-align:left;line-height:16px;}
#pageHeader {width:950px;height:34px;text-align:left;background-color:#ebebeb;border-bottom:none 1px #000;padding:12px 10px 0px 10px;color:#0d4764;margin-bottom:14px;}
#pageHeader span {color:#0d4764;padding-right:10px;}
#commityBody {width:970px;text-align:left;position:relative;}
#templateInfo {float: left; width: 632px;}
#communityInfo {float: right; width: 307px; min-height:340px; border-left:1px solid #F2F2F2; padding-left:15px;}
#communityInfo input, #communityInfo select, #communityInfo textarea { border: 1px solid #cccccc; width:306px; margin:6px 0; }
#communityInfo p { font-weight:bold; margin-bottom:4px; }
#communityInfo .error { border: 1px solid #ee2d2a; font-weight: normal; }
#divCreateSuccess {width:900px;padding:157px 35px 157px 35px;text-align: center;}
#submitArea {width:900px;text-align:left;border:none 1px #000;padding:10px;}
.successMsg {font-size:20px;font-weight:bold;}
.errBox {border-style:none;padding:14px 12px 14px 20px;font-size:11px;line-height:16px;color:#333333;margin:-14px 0 15px -16px;}
.errBox ul {margin:6px 0 10px 16px;}

/* end styling for div areas */
#contentBody li { list-style:disc none; margin-left: 15px; }

#imgTemplatePreview { float: left; }
#divTemplateDescription { margin-left:15px; width:362px; float:left; line-height:20px; }
#divTemplateDescription ul { list-style-position: inside; margin:8px 0 0 20px; }
#divTemplateDescription p { font-size:16px; font-weight:bold;  }

/* styling for success and failure messages */
.success {color: #009900; font-weight: bold; font-size: 10px;}
.failure {color: #cc0000; font-weight: bold;font-size: 10px;}

/* Play Now styling */
#communityInfo .btnsmall.blue {margin:0; float:right;}

a.originalCommLink:link, a.originalCommLink:visited {font-size:10px;}
a.originalCommLink:hover, a.originalCommLink:active {font-size:10px;}

#divLoading table {margin:0 auto;}
#divLoading table tr th.loadingText {text-align:center;}
#divLoading table tr th.loadingText div {margin:0 auto;}

#vipUpsell {
    position: absolute;
    background-color: rgb(256, 256, 256);
    width: 308px;
    top: 48px;
}
#vipUpsell img {margin-left: 90px;margin-top:32px;}
#vipUpsell p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 16px;
    font-weight: normal;
    font-size: 14px;
    width: 258px;
    line-height: 20px;
}
#vipUpsell a.btnsmall.blue {float: none; margin-left:80px;}