/* HEADER */
﻿#achContainer {padding:10px 0 10px 10px;margin:0 auto;margin-bottom:40px;width:90%;}

#achContainer .buttons {float:right;padding:10px 0;width:50%;}
#achContainer .buttons a {float:right;margin-left:16px;}
#achContainer .buttons .delete {text-indent:30px;}

#achData {margin-bottom:6px;width:99%;color:#000;}
#achData #data {clear:both;}
#achData .dataRow {width:100%;height:58px;padding:6px 0px;border-top:solid 1px #d9e6e9;}
#achData .dataRow .info {color:#000;width:370px;font-size:12px;float:left;text-align:left;overflow:hidden;}
#achData .dataRow .info .name {font-size:13px;font-weight:bold;padding-bottom:3px;}
#achData .dataRow .info .desc {font-size:12px;line-height:14px;}
#achData .dataRow .gameBadges {float:right;height:58px;text-align:left;padding-right:4px;display:block;width:140px;}
#achData .dataRow .gameBadges .points {font-weight:bold;padding-bottom:10px;}
#achData .dataRow .gameBadges .edit {line-height:18px;}
#achData .dataRow .gameBadges .edit a {line-height:18px;}
#achData .dataRow .framesize-small {float:left;margin-right:6px;}

#achData .pager {width:100%;clear:both;text-align:right;padding-right:1px;padding-top:6px;font-size:11px;}
#achData .results {width:50%;margin-top:12px;text-align:right;float:right;font-weight:bold;font-size:11px;}

#achData .error {text-align:center;padding-bottom:16px;line-height:14px;}
#achData .errtop {text-align:left;float:left;padding:0;width:380px;margin-top:20px;line-height:14px;}

#achData .detailsContainer {margin-top:20px;padding-top:20px;display:none;}
#achData .detailsContainer .title {margin-bottom:20px;font-size:16px;font-weight:bold;padding-bottom:16px;border-bottom:solid 1px #d9e7ea;}
#achData .detailsContainer .dataContainer {width:540px;float:left;}
#achData .detailsContainer .note {font-size:9px;color:#999;font-weight:normal;}
#achData .detailsContainer .dataContainer .label {float:left;width:120px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}
#achData .detailsContainer .imgContainer {float:left;width:124px;margin-bottom:10px;}
#achData .detailsContainer .imgconstrain {width:128px;height:128px;border:solid 1px #999;overflow:hidden;}
#achData .detailsContainer .input {margin:0 0 6px 0;}
#achData .detailsContainer .input input {width:250px;}
#achData .detailsContainer .points input {width:40px;float:left;}
#achData .detailsContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:30px;border-top:solid 1px #d9e7ea;}
#achData .availPts {float:left;padding:5px 0 0 20px;}
#achData .availPts .note {padding-top:3px;}
#achData .availPts span {color:red;}