/* HEADER */
#piContainer {padding:10px 0 10px 10px;margin-bottom:40px;}

#piData {}
#piData .buttons {float:right;padding:10px 0;width:50%;}
#piData .buttons a {float:right;margin-left:16px;}

#piData .header {width:100%;padding:3px 0 0 0;margin-bottom:5px;clear:both;height:30px;font-weight:bold;font-size:10px;}
#piData .header div {float:left;}

#piData .row {width:100%;padding:4px 0 0 0;clear:both;border-bottom:solid 1px #ebebeb;height:30px;line-height:14px;}
#piData .row div {float:left;}

#piData .chkbox {width:30px;}
#piData .thumb {width:35px;overflow:hidden;}
#piData .name {width:248px;padding-left:6px;}
#piData .id {width:90px;}
#piData .price {width:62px;}
#piData .qty {width:62px;}
#piData .sales {width:72px;}
#piData .status {width:62px;}
#piData .approval {width:62px;}
#piData .edit {width:40px;text-align:right;}

#piData .row .chkbox {padding-top:3px;}
#piData .row .name, .row .id, .row .price, .row .qty,
#piData .row .sales, .row .status, .row .approval, .row .edit {padding-top:7px;}

#piData .pager {width:100%;clear:both;text-align:right;padding-right:1px;padding-top:6px;font-size:11px;}
#piData .results {width:50%;margin-top:12px;text-align:right;float:right;font-weight:bold;font-size:11px;}
#piData .approvalRequest {float:left;width:40%;margin-top:12px;line-height:14px;}

#piData .error {text-align:center;padding-bottom:16px;line-height:14px;}
#piData .errtop {text-align:left;float:left;padding:0;width:380px;margin-top:20px;line-height:14px;}

#piData .detailsContainer {margin-top:20px;padding-top:20px;display:none;}
#piData .detailsContainer .title {margin-bottom:20px;font-size:16px;font-weight:bold;padding-bottom:16px;border-bottom:solid 1px #ebebeb;}
#piData .detailsContainer .dataContainer {width:540px;float:right;}
#piData .detailsContainer .note {font-size:9px;color:#999;font-weight:normal;}
#piData .detailsContainer .dataContainer .label {float:left;width:80px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}
#piData .detailsContainer .dataContainer .desc {margin:16px 0 0 0;}
#piData .detailsContainer .dataContainer span {font-weight:bold;padding-left:20px;}
#piData .detailsContainer .dataContainer span.id {font-weight:normal;padding-left:2px;}
#piData .detailsContainer .priceContainer {width:500px;clear:both;height:60px;margin:0 0 10px 192px;}
#piData .detailsContainer .priceContainer span {font-weight:bold;}
#piData .detailsContainer .priceContainer span.note {font-weight:normal;padding-left:10px;}
#piData .detailsContainer .price {width:450px;}
#piData .detailsContainer .status {width:150px;text-align:right;margin:16px 0 0 54px;float:left;}
#piData .detailsContainer .approval {width:160px;text-align:right;margin:16px 0 0 40px;float:left;}
#piData .detailsContainer .reason {clear:left;padding:20px 0 0 34px;}
#piData .detailsContainer .label {float:left;width:80px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}
#piData .detailsContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:30px;border-top:solid 1px #ebebeb;}