/* HEADER */
#lbContainer {padding:10px 0 10px 10px;margin:0 auto;margin-bottom:40px;width:90%;}
#lbContainer > div {margin-top:20px;}
#lbContainer .textbox {margin-bottom:10px;}
#lbContainer .label {float:left;width:80px;text-align:right;margin-right:6px;font-weight:bold;padding-top:3px;}
#lbContainer .title {margin-bottom:20px;margin-top:0;font-size:16px;font-weight:bold;padding:10px 0 16px 0;border-bottom:solid 1px #ebebeb;}


#lbContainer .type table {float:left;}
#lbContainer .type table td {padding-right:20px;}
#lbContainer .type span.label {padding:0;}
#lbContainer .type {padding-bottom:10px;}

#lbContainer .sort {text-align:left;clear:both;margin-top:20px;display:block;}
#lbContainer .sort span.label {padding:0;}
#lbContainer .sort table {float:left;}
#lbContainer .sort table td {padding-right:20px;}

#lbContainer .type .label, #lbContainer .sort .label {padding-top:6px;}
#lbContainer .error, #lbContainer .confirm {text-align:center;padding-bottom:20px;line-height:14px;width:99%;}

#lbContainer .resetButton {padding:40px 0 10px 80px;clear:both;}
#lbContainer .updateButtons {clear:both;width:100%;text-align:right;padding-top:6px;margin-bottom:30px;border-top:solid 1px #ebebeb;}


