/* HEADER */
#transContainer {padding:10px 0 10px 10px;}
#transContainer .info {clear:both;color:#999;font-size:9px;font-weight:none;margin-bottom:30px;}
#transContainer .info a {font-size:1em;}
#transContainer .noasterisk {padding-left:7px;}
#transContainer .btmborder {border-bottom:solid 1px #ebebeb;margin-bottom:8px;}

#transContainer .pagerContainer {clear:both;width:99%;padding-right:10px;margin-top:12px;font-size:10px;text-align:right;font-weight:bold;}
#transContainer .pagerContainer span.results {padding-right:14px;}
#transContainer .pager {margin-right:0;padding-right:2px;}

#transContainer .title {clear:both;width:100%;font-size:14px;font-weight:bold;padding-bottom:8px;}
#currentBalance {font-size:13px;border-bottom:solid 1px #ebebeb;margin-bottom:4px;padding-left:6px;height:43px;overflow:visible;}
#currentBalance .credits {float:none;width:235px;text-align:center;line-height:14px;}
#currentBalance .cash {clear:both;width:235px;text-align:center;line-height:14px;}
#currentBalance .redeem {float:left;position:relative;top:-16px;left:380px;}
#currentBalance .redeem a.btnmedium {padding-top:7px;}
#currentBalance .heading {color:#999;padding-bottom:6px;float:left;width:130px;text-align:left;}
#currentBalance .totalbalance {padding-bottom:6px;text-align:right;float:left;margin:auto;width:80px;}

#transContainer .date {width:55px;}
#transContainer .buyer {width:140px;}
#transContainer .name {width:165px;}
#transContainer .price {width:70px;}
#transContainer .total {width:90px;}
#transContainer .status {width:80px;}
#transContainer .status span.redeemed {color:#999;}
#transContainer .status span.available {color:#00a74f;}

table {width:100%;font-size:11px;}
thead {font-size:10px;padding:0;width:100%;background-color:#ebebeb;}
thead tr.head {height:20px;}
thead th {font-weight:bold;}
thead tr.head th.date {padding-left:17px;}
tbody {font-size:10px;}
tbody tr.row {height:20px;border-bottom:solid 1px #ebebeb;}
tbody tr.row td.date {padding-left:3px;}

.pagerContainer {margin-bottom:50px;}