/* HEADER */
#infoContainer {padding:10px;width:90%; margin-left:30px;}

#infoData {}
input[type="checkbox"] {position:relative;top:1px;margin-right:5px;}
select {}
#infoData div.section {padding:5px 0;}
#infoData .title {width:200px;float:left;margin-bottom:12px;line-height:16px;}
#infoData .title h4 {font-weight:bold;}
#infoData .error {text-align:left;width:550px;float:right;line-height:14px;padding-top:2px;}
#infoData .confirm {padding-top:2px;}

#infoData div {margin-bottom:5px;}
#infoData div.tags {padding-top:10px;height:74px;}
#infoData div.info {color:#999;font-size:10px;margin-top:4px;width:700px;}
#infoData div.info span {font-weight:bold;}
#infoData div.info a {font-size:10px;}
#infoData div.bump-right-15{margin-left:15px;}
#infoData div.bump-down-10{margin-top:10px}

#infoData .name {height:24px;}
#infoData .name .label {float:left;}
#infoData .name input {width:400px;}
#infoData .owner {width:320px;height:20px;text-align:left;padding-top:4px;line-height:14px;}

#infoData .section .txtbox {padding:2px 4px; width:445px;}
#infoData .category table td {padding:2px 0;width:25%;}
#infoData .category table td label {}

#infoData .tabs .tablist {width:300px; float:left; margin-bottom:22px;}
#infoData .tabs .tabdefault {width:300px; float:left;}
#infoData .tabs .tabdefault p {margin-bottom:2px;}
#infoData .tabs table {width:100%;}
#infoData .tabs table td {padding:2px 0;}

#infoData .auth {margin:10px 0 10px 10px;clear:both;}
#infoData .auth .label {float:left;}
#infoData .restrictions {padding-top:10px;}
#infoData .restrictions div {margin:5px 0;line-height:14px;}

#infoData .restrictions div {clear:both;margin-top:2px;display:inline-block;width:100%;}
#infoData .restrictions input[type="checkbox"] {float:left;}
#infoData .restrictions label {display:block;float:left;}
#infoData .restrictions span {font-weight:bold;font-size:12px;color:#000;}
#infoData .backgroundOptions input[type="text"] {width:250px; margin-right:4px;}
#infoData div.access {margin-top:16px;clear:both;}
#infoData div.access .label {padding-top:2px;}

#profilePhoto {text-align:left;padding:0 0 10px 0;float:left;}
#profilePhoto .photo {float:left;margin:4px 0 16px 0;text-align:center;clear:left;}
#profilePhoto .photoDescription {color:#999;font-size:10px;font-weight:bold;width:200px;float:left;margin:35px 0 0 10px;}
#profilePhoto .photoLink {margin-top:0;padding-top:0;height:24px;width:500px;clear:both;}
#profilePhoto h4 {padding-bottom:8px;}

#infoData hr.divider {width:100%;margin:16px 0;}
#infoData .label {margin-right:6px;font-weight:bold;}

#infoData .communityURL .warning {line-height:16px;}
#infoData .gdatabutton {float:left; margin:0 12px 22px 0;}
#infoData .submitContainer {clear:both;margin:50px auto 30px auto;height:30px;}
.delete_link {float:right;}
#infoData .inlineSubmitContainer {float:right;width:210px;margin:0 auto;}
#infoData .subLabel { color:#999; margin-left:18px;line-height:16px; }

/*styling for the media library photos (selectPhotoFromLibrary.ascx) */
#libraryContainer {margin: 10px 5px 10px 5px;width:734px;}
#objectContainer {width:140px;height:106px;text-align:center;border:solid 1px #ccc;padding:0;margin:2px;}
#radioContainer {width:20px;height:98px;float:left;}
#imageNameContainer{width:120px;height:98px;position:relative;padding-top:4px;top:0;left:0;float:right;}
#infoData .btnphotolibselect{float:left;padding-top:6px;margin-right:12px;}

.warning {color:#ee2d2a;}