/* HEADER */
﻿#vcContainer {padding:10px 0 10px 10px; margin-bottom:40px; margin-left:40px; width:90%}

#vcContainer .title {float:left;font-size:20px;font-weight:bold;padding:10px 0 16px 0;width:25%;border-bottom:solid 1px #ebebeb; }
#vcContainer .note {float:right;font-size:10px;font-weight:bold;padding:10px 0 16px 0;width:75%;text-align:right;border-bottom:solid 1px #ebebeb;}

#vcData {}
#vcData .buttons {float:right;padding:10px 0;width:50%;}
#vcData .buttons a {float:right;margin-left:16px;}

#vcData .header {width:100%;padding:3px 0 0 0;margin-bottom:5px;clear:both;height:30px;font-weight:bold;font-size:10px;}
#vcData .header div {float:left;}

#vcData .row {width:100%;padding:4px 0 0 0;clear:both;border-bottom:1px solid #ebebeb;height:30px;line-height:14px;}
#vcData .row div {float:left;}

#vcData .dates				{width:170px; padding:0 6px 0 0; text-align:left; }
#vcData .one_day_retention	{width:150px;  padding:0 6px 0 0; text-align:center; }
#vcData .seven_day_retention  {width:150px; padding:0 6px 0 0; text-align:center; }
#vcData .thirty_day_retention {width:150px; padding:0 6px 0 0; text-align:center; }

#vcData .row .dates				{width:170px; padding:7px 6px 0 0; text-align:left; }
#vcData .row .one_day_retention	{width:150px;  padding:7px 6px 0 0; text-align:center; }
#vcData .row .seven_day_retention  {width:150px; padding:7px 6px 0 0; text-align:center; }
#vcData .row .thirty_day_retention {width:150px; padding:7px 6px 0 0; text-align:center; }

#vcData .pager {width:100%;clear:both;text-align:right;padding-right:1px;padding-top:6px;font-size:11px;}
#vcData .results {width:50%;margin-top:12px;text-align:right;float:right;font-weight:bold;font-size:11px;}
#vcData .approvalRequest {float:left;width:40%;margin-top:12px;line-height:14px;}

#vcData .error {text-align:center;padding-bottom:16px;line-height:14px;}
#vcData .errtop {text-align:left;float:left;padding:0;width:380px;margin-top:20px;line-height:14px;}
