/* HEADER */
/* CSS Document: Profile Access 01-18-2013 */
/*----- PAGE CONTENT ------*/
.accessDenied {text-align:left;margin:10px auto;width:600px;}
.accessDenied div.messageContainer {float:left;margin:0;padding:0;line-height:18px;}
.accessDenied h6 {line-height:24px;font-size:16px;margin-bottom:4px;font-weight:bold;color:#333;}
.accessDenied .privacyMessage {width:600px;float:left;margin:24px 0 0 0;line-height:14px;font-size:11px;display:none;}
.accessDenied div > p {font-size:12px;margin:10px 0;}
.accessDenied div ul li {font-size:14px;margin:8px 0 8px 40px;line-height:15px;padding:0 0 0 16px;background:url('../../images/apvip/bullet_arrow_11x15.png') no-repeat 0px 0px;}
.accessDenied div p.promo {font-size:14px;font-weight:bold;padding-top:20px;clear:both;}
.accessDenied div p.btns {margin-top:20px;}
.accessDenied div a.btnxlarge {float:left;margin-right:30px;}
.accessDenied div a.btnlarge {float:left;padding-top:3px;height:24px;margin:13px 30px 0 0;}
.accessDenied div a.btnmedium {float:left;padding-top:3px;height:24px;margin:13px 30px 0 0;}
.accessDenied div a.btnxsmall {float:left;padding-top:3px;height:24px;margin-top:13px;}
.accessDenied div a.btntiny {float:left;padding-top:3px;height:24px;margin-top:13px;}

.accessDenied hr {background:#ebebeb;height:1px;border:none;width:100%;}
