/* HEADER */
/* CSS Document: Profile Page 10-30-09 */

/* CSS for the access denied control 
*---------------------------------------------------------------------------*/
@import url(ProfileAccess.css);

/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.LeftProfilePanel {width:330px;float:left;margin-right:14px;overflow:hidden;}
.RightProfilePanel {width:630px;float:right;overflow:hidden;margin-right:10px;}
.CenterPanel {width:900px;display:block;}
.NoAccessPanel {width:630px;float:right;overflow:hidden;}
.PageContainer {border:1px solid #ccc;border-top:none;background:url(../../images/backgrounds/graphic_1004x1_backgroundProifleCommunity_leftGradient.jpg) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
.ContentWrapper {width:1004px;height:600px;margin-top:15px;}

a {outline:none;}
a.btnmedium {margin:0 10px 5px 0;padding-top:6px;float:left;height:21px;}
a.btnlarge {margin:0 0 0 0;padding-top:6px;}

/*---- CONTROL PANEL WIDGET -----*/
#controlPanel .imageContainer {width:70px;margin:0 10px 16px 0;height:97px;text-align:left;float:left;}
#controlPanel .image {border:solid 1px #fff;width:100px;height:75px;}
#controlPanel .passes {width:99%;text-align:left;margin:3px 0 0 0;height:15px;}
#controlPanel .passes img {margin-right:6px;}
#controlPanel .infoContainer {clear:right;width:200px;height:97px;text-align:left;float:left;overflow:hidden;}
#controlPanel .userName {color:#3d77c4;font-size:14px;font-weight:bold;width:99%;margin:0 0 4px 0;line-height:16px;}
#controlPanel .displayName {font-size:12px;margin-bottom:2px;}
#controlPanel .location, #controlPanel .gender, #controlPanel .age {font-size:11px;line-height:14px;}
#controlPanel .status {font-size:11px;line-height:14px;color:#898989}
#controlPanel .framesize-square {float:left;width:50px;height:50px;}
#controlPanel .smallStaticText {font-size:10px;color:#898989;}
#controlPanel .reportAbuse {width:100%;text-align:left;margin:0 0 20px 2px;clear:both;line-height:14px;}
#controlPanel .reportAbuse a {margin-right:10px;font-size:10px;}
#controlPanel .buttonsLeftCol {clear:both;float:left;text-align:left;}
#controlPanel .buttonsRightCol {float:left;text-align:left;margin-left:5px;}
#controlPanel .buttonsContainer {width:100%;}
#controlPanel .buttonsContainer span {text-indent:30px;display:block;}
#controlPanel .fbIcon {clear:both;margin:2px 0 14px 0;float:left;} 
#controlPanel .member {width:100%;text-align:left;margin:2px 0 0 0;clear:both;}
#controlPanel .url {width:100%;text-align:left;margin:6px 0 10px 0;}
                                             
/*---- CONTROL PANEL ICONS ----*/
#controlPanel .tellOthers {background:url(../../images/icons/icon_tellothers_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .meet3D {background:url(../../images/icons/icon_meetin3d_17x17.gif) no-repeat 6px 0;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .megaRave {background:url(../../images/icons/icon_megarave_17x17.gif)	no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .addFriend {background:url(../../images/icons/icn_addfriend_17x17.gif) no-repeat 6px 1px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .sendMessage {background:url(../../images/icons/icon_sendmessage_17x17.gif) no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .rave {background:url(../../images/icons/icon_rave_17x17.gif)	no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
#controlPanel .ravePlus {background:url(../../images/icons/icon_rave_17x17.gif)	no-repeat 6px 2px;text-indent:30px;display:block;height:16px;padding-top:4px;}
/*---- CONTROL PANEL SUMMARY COUNTS -----*/
#controlPanel #summaryCounts {text-align:left;margin:18px 0 0 0;min-height:50px;height:auto;color:#3d77c4;font-size:12px;clear:both;}
#controlPanel .sumCountLeftCol {float:left;width:150px;}
#controlPanel .sumCountRightCol {float:left;}
#controlPanel .sumCountRightCol div, #controlPanel .sumCountLeftCol div {background-repeat: no-repeat;background-position:center left;padding:4px 0 0 25px;height:16px;}
#controlPanel .videos {display:none;background-image:url(../../images/icons/icon_video_16x16.gif);}
#controlPanel .3dapps {background-image:url(../../images/icons/icon_games_16x16.gif);}
#controlPanel .friends {background-image:url(../../images/mykaneva/communityInvite.gif);}
#controlPanel .photos {background-image:url(../../images/icons/icon_photos_16x16.gif);}
#controlPanel .music {display:none;background-image:url(../../images/icons/icon_music_16x16.gif);}
/* Override Default button values */
#controlPanel a.btnsmall {font-size:11px;margin-bottom:3px;text-align:left;height:23px;padding:4px 0 0 0;}

/*---------------(DATA ROWS)------------------*/
/*----Styles the horizontal rule between data items----*/
hr.dataSeparator {background-color:#ebebeb;color:#ebebeb;height:1px;clear:both;border:none;}

/*----Styles the main panel data row items----*/
.dataRow {line-height:14px;width:99%;height:86px;padding-top:10px;}
.noData {color:#898989;margin:40px 0;text-align:center;height:20px;clear:both;}
.noData div {margin:0 auto;margin-top:12px;}

/*---- VIDEOS, MUSIC, GAMES ----*/ 
#media .dataRow .image {width:16%;float:left;padding-top:4px;}
#media .dataRow .data {width:81%;float:right;text-align:left;padding:4px;}
#media .dataRow .name a {font-weight:bold;font-size:12px;}
#media .dataRow .desc {font-size:11px;margin-bottom:10px;}
#media .edit {text-align:left;position:relative;top:-32px;margin-top:42px;height:26px;}
#media .raves, #media .Music, #media .Video, #media .Game {float:left;font-size:11px;background-repeat: no-repeat;background-position: center left;margin-right:14px;padding: 1px 0 1px 26px;} 
#media .raves {background-image:url(../../images/mykaneva/iconRave.jpg);padding-left:20px;}
#media .Music {background-image:url(../../images/icons/icon_music_16x16.gif);}
#media .Video {background-image:url(../../images/icons/icon_video_16x16.gif);}
#media .Game {background-image:url(../../images/icons/icon_games_16x16.gif);}
#media .framesize-medium {float:left;}

/*---- FRIENDS ----*/
#friends {margin-top:30px;}
#friends table {width:614px;margin-top:12px;}
#friends .dataRow {padding-top:10px;padding-bottom:4px;height:60px;}
#friends .dataRow .image {width:100px;float:left;margin:2px 2px 2px 0;text-align:left;}
#friends .dataRow .data {width:140px;overflow:hidden;float:left;text-align:left;margin:2px 0 2px 8px;}
#friends .status {margin-top:8px;font-size:11px;line-height:14px;color:#898989;}
#friends .framesize-square {float:left;}
#friends .edit {height:30px;position:relative;top:0px;clear:both;}
#friends .edit #editFriends {margin-top:0;display:inline-block;}
#friends .dataSeparator.top {margin-top:0px;}

/*---- COMMUNITIES ----*/
#communities table {margin-top:12px;}
#communities .dataRow {min-height:86px;padding:6px 0;border-bottom:1px solid #ebebeb;}
#communities .dataRow .image {width:75px;;float:left;padding-top:4px;text-align:center;}
#communities .dataRow .image div {font-weight:bold;color:#999;text-align:center;}
#communities .dataRow .data {width:81%;float:right;text-align:left;padding:4px;}
#communities .dataRow .owner span {color:#999;line-height:14px;}
#communities .dataRow .counts {padding-right:16px;}
#communities .dataRow .desc {margin-top:6px;font-size:11px;}
#communities .dataRow .name {font-size:12px;line-height:18px;}
#communities .dataRow .name a {font-weight:bold;}
#communities .dataRow .private {font-weight:bold;color:#ee2d2a;}
#communities .dataRow .counts span {margin-right:10px;}
#communities .framesize-small {float:left;}
#communities .edit .btnlarge {font-size:13px;}
#communities .edit {height:30px;position:relative;top:24px;}
#communities .dataSeparator.top {margin-top:16px;}

/*---- PHOTOS ----*/
#photos .dataRow {height:140px;text-align:center;}
#photos .image {padding-top:4px;width:160px;height:80px;text-align:center;}
#photos .name {text-align:center;width:160px;font-size:11px;}
#photos .edit {text-align:left;position:relative;top:-32px;margin-top:42px;height:26px;}
#photos .framesize-medium {margin-left: 30px;}

/*---- BLOGS ----*/
#blogs {margin-bottom:30px;width:99%;}
#blogs .edit {text-align:left;}
#blogs .dataRow {padding:10px 0 0 0;width:100%;min-height:94px;clear:both;height:auto;}
#blogs .data {text-align:left;width:100%;float:left;color:#898989;}
#blogs  date {line-height:16px;}
#blogs .title {font-weight:bold;margin-bottom:15px;}
#blogs .body {width:99%;clear:both;padding-bottom:10px;}
#blogs .editLinks {width:99%;float:left;padding:6px 0 6px 0;clear:both;}
#blogs .editLinks div {float:right;margin-left:10px;text-align:center;}
#blogs .editLinks .comments {width:80px;}
#blogs .editLinks .detail {width:60px;}
#blogs .editLinks .edit {width:60px;}
#blogs .separator {clear:both;}

/*---- WORLDS ----*/
#worlds table {margin-top:12px;}
#worlds .dataRow {min-height:86px;padding:6px 0;border-bottom:1px solid #ebebeb;}
#worlds .dataRow .image {width:75px;;float:left;padding-top:4px;text-align:center;}
#worlds .dataRow .image div {font-weight:bold;color:#999;text-align:center;}
#worlds .dataRow .image div.private {color:#999;font-size:11px;width:78px;font-weight:normal;}
#worlds .dataRow .data {width:81%;float:right;text-align:left;padding:4px;}
#worlds .dataRow .owner span {color:#999;line-height:14px;}
#worlds .dataRow .counts {padding-right:16px;}
#worlds .dataRow .desc {margin-top:6px;font-size:11px;}
#worlds .dataRow .name {font-size:12px;line-height:18px;}
#worlds .dataRow .name a {font-weight:bold;}
#worlds .dataRow .counts span {margin-right:10px;}
#worlds .framesize-small {float:left;}
#worlds .edit .btnlarge {font-size:13px;}
#worlds .edit {height:30px;position:relative;top:24px;}
#worlds .dataSeparator.top {margin-top:16px;}


/*---- User Fame ----*/
#userFame {margin-bottom:10px;width:99%;color:#333;}
#userFame .fameStats {text-align:left;margin-bottom:6px;}
#userFame .fameStats .raves {float:left;width:166px;font-weight:bold;line-height:24px;background:url(../../images/icons/icon_rave_22x22.gif) no-repeat 2px 0px;text-indent:30px;display:block;}
#userFame .fameStats .counts {float:left;background:url(../../images/icons/icon_badge_21x21.gif) no-repeat 2px 1px;text-indent:30px;display:block;}
#userFame .fameStats .counts .badges {font-weight:bold;}
#userFame .fameStats .counts .points {font-size:10px}
#userFame .dataContainer {clear:both;padding-top:5px;}
#userFame .dataRow {width:100%;height:78px;padding:6px 0px;border-top:solid 1px #ebebeb;clear:both;}
#userFame .dataRow .info {color:#333;width:320px;font-size:12px;float:left;text-align:left;overflow:hidden;}
#userFame .dataRow .info .name {padding-top:5px;margin-bottom:28px;}
#userFame .dataRow .info .name a {font-size:14px;font-weight:bold;}
#userFame .dataRow .info .title {font-size:12px;line-height:16px;font-weight:bold;}
#userFame .dataRow .info .level {font-size:10px;}
#userFame .dataRow .gameBadges {float:right;height:58px;text-align:right;display:block;width:180px;}
#userFame .dataRow .gameBadges .count {font-weight:bold;}
#userFame .dataRow .gameBadges .points {font-size:10px;padding-bottom:3px;}
#userFame .dataRow .gameBadges .thumbs {height:35px;text-align:right;}
#userFame .dataRow .gameBadges .thumbs img {}
#userFame .dataRow .gameBadges .more a {font-size:11px;}
#userFame .dataRow .framesize-medium {float:left;margin-right:8px;}
#userFame .dataRow .gameBadges .thumbs .imgconstrain {float:right;margin-left:2px;border:solid 1px #ccc;width:32px;height:32px;overflow:hidden;}
/*---- Badges ----*/
#badges {margin:0;padding:0;width:100%;color:#333;}
#badges .title {clear:both;height:32px;}
#badges .title h2 {color:#1d3b53;width:400px;font-size:18px;float:left;line-height:20px;text-align:left;margin:0;padding:0;}
#badges .title div {float:right;}
#badges .gameStats {border-top:solid 1px #d9e6e9;padding:8px 0;text-align:left;background:url(../../images/icons/icon_badge_21x21.gif) no-repeat 8px 10px;text-indent:36px;display:block;}
#badges .gameStats .counts {font-weight:bold;}
#badges .gameStats .points{font-size:10px;font-weight:normal;}
#badges .dataRow {width:100%;height:66px;padding:6px 0px;border-top:solid 1px #ebebeb;}
#badges .rowOff {filter:alpha(opacity=40);opacity:.4;z-index:50;background-color:#ccc;}
#badges .dataRow .info {color:#333;width:370px;font-size:12px;float:left;text-align:left;overflow:hidden;}
#badges .dataRow .info .name {font-size:13px;font-weight:bold;padding:0 0 3px 0;;margin-bottom:0;}
#badges .dataRow .info .desc {font-size:11px;line-height:11px;height:22px;}
#badges .dataRow .info .points {line-height:14px;font-weight:bold;}
#badges .dataRow .info .date {line-height:14px;font-size:11px;color:#999;}
#badges .dataRow .gameBadges {float:right;height:58px;text-align:left;padding-right:4px;display:block;width:120px;}
#badges .dataRow .gameBadges .points {font-weight:bold;font-size:12px;margin-top:3px;}
#badges .dataRow .gameBadges .date {line-height:14px;font-size:11px;}
#badges .dataRow .framesize-small {float:left;margin-right:6px;}
#badges .dataRow .framesize-small {float:left;margin:0 6px 0 7px;width:64px;height:64px;}
#badges .dataRow .framesize-small .imgconstrain {width:64px;height:64px;}

/*---- FORUMS ----*/
#forums {margin:16px 0px 10px 0px;}
#forums .edit {text-align:left;}
#forums .header {width:100%;line-height:24px;}
#forums .header div {float:left; text-align:left}
#forums .header .topics {width:50%;}
#forums .header .poster {width:20%;}
#forums .header .date {width:20%;}
#forums .header .replies {width:10%;}
#forums .data {width:100%;line-height:30px;}
#forums .data div {float:left;text-align:left;}
#forums .data .post {width:50%;}
#forums .data .image {width:20%;}
#forums .data .date {width:20%;}
#forums .data .replies {width:10%;}
#forums .links {padding-top:10px 0 0 16px;width:100%;text-align:right;}

/*---- PERSONAL INFO ----*/
#personalInfo #personal {margin-bottom:20px;}
#personalInfo #interests .header {width:100%;line-height:20px;height:20px;padding:8px 4px 8px 8px;background-color:#ebebeb;text-align:left;margin-bottom:8px;color:#333;font-size:16px;font-weight:bold;}	
#personalInfo .btntiny {padding-top:5px;float:right;margin-bottom:3px;}
#personalInfo .callout {width:100%; margin-top:20px;text-align:center;color:#999;}
#personalInfo .share {text-align:center;}
#personalInfo .dataGrouping {margin-bottom:14px;}
#personalInfo tr.dataLines {line-height:16px;}
#personalInfo .categoryData {line-height:14px;margin:0 5px 0 0;}
#personalInfo .categoryTitle {font-weight:bold;margin-right:8px;}
#personalInfo .category {line-height:14px;}
#personalInfo #interests .data .categoryTitle {font-weight:bold;margin:12px 8px 0 0;line-height:14px;}
#personalInfo .interestData {line-height:16px;margin:0 5px 0 5px;}
#personalInfo .add {margin-right:2px;}
#personalInfo .hilite {background-color:#FFFF99;border:solid 1px #FFFF66;}

/*----Styles the left panel data row items----*/
.dataRowSideLight {width:99%;line-height:14px;margin-bottom:4px;height:80px;text-align:left;}

/*---- FAME ----*/
#userFameSmall {margin-bottom:8px;margin-left:8px;}
#userFameSmall .fameStats {text-align:left;height:28px;margin-top:-4px;margin-bottom:8px;}
#userFameSmall .fameStats .raves {float:left;width:140px;font-weight:bold;line-height:24px;background:url(../../images/icons/icon_rave_22x22.gif) no-repeat 2px 0px;text-indent:30px;display:block;}
#userFameSmall .fameStats .counts {float:left;background:url(../../images/icons/icon_badge_21x21.gif) no-repeat 2px 1px;text-indent:30px;display:block;}
#userFameSmall .fameStats .counts .badges {font-weight:bold;}
#userFameSmall .fameStats .counts .points {font-size:10px;margin-top:3px;}
#userFameSmall .dataRowSideLight {width:99%;height:50px;padding:3px 0px;border-top:solid 1px #ebebeb;clear:both;}
#userFameSmall .dataRowSideLight .info {margin-top:7px;color:#333;width:180px;font-size:12px;float:left;text-align:left;overflow:hidden;}
#userFameSmall .dataRowSideLight .info .name {font-size:12px;font-weight:bold;padding-top:2px;}
#userFameSmall .dataRowSideLight .info .name a {font-weight:bold;}
#userFameSmall .dataRowSideLight .title {clear:both;float:right;margin-top:0;position:relative;top:-8px;}
#userFameSmall .dataRowSideLight .title a {font-size:10px;}
#userFameSmall .dataRowSideLight .info .level {font-size:10px;}
#userFameSmall .dataRowSideLight .gameBadges {float:right;text-align:right;display:block;width:50px;padding-top:3px;}
#userFameSmall .dataRowSideLight .gameBadges .thumbs {height:35px;text-align:right;}
#userFameSmall .dataRowSideLight .gameBadges .thumbs img {}
#userFameSmall .dataRowSideLight .gameBadges .thumbs .imgconstrain {float:right;margin-left:2px;border:solid 1px #e0e0e0;width:32px;height:32px;overflow:hidden;}
#userFameSmall .dataRowSideLight .framesize-small {float:left;margin-right:8px;margin-top:5px;width:50px;height:37px;}
#userFameSmall .dataRowSideLight .framesize-small img {width:50px;}
#userFameSmall .dataRowSideLight .imgconstrain {float:right;margin-left:2px;border:solid 1px #e0e0e0;width:50px;height:37px;overflow:hidden;}
#userFameSmall .famespacer {height:10px;}

/*---- MY COMMUNITIES ----*/
#communities .dataRowSideLight {padding:5px 0 5px 8px;;height:70px;}
#communities .dataRowSideLight .image {width:75px;float:left;margin-right:10px;text-align:center;color:#999;}
#communities .dataRowSideLight .data {width:228px;float:left;text-align:left;font-size:11px;}
#communities .dataRowSideLight .owner, #communities .dataRowSideLight .counts {line-height:14px;}
#communities .dataRowSideLight .name a {font-size:12px;font-weight:bold;}
#communities .dataRowSideLight .counts span {margin-right:10px}

/*---- FRIENDS ----*/
#friends {margin-bottom:16px;margin-left:8px;}
#friends .dataRowSideLight {margin:2px 0;height:60px;}
#friends .dataRowSideLight .data {width:200px;text-align:left;overflow:hidden;}
#friends .dataRowSideLight .data div {line-height:15px;}
#friends .dataRowSideLight .status {margin-top:4px;}
#friends .dataRowSideLight .framesize-square {float:left;margin-right:14px;}

/*---- MY WORLDS ----*/
#worlds .dataRowSideLight {padding:5px 0 5px 8px;;height:70px;}
#worlds .dataRowSideLight .image {width:75px;float:left;margin-right:10px;text-align:center;color:#999;}
#worlds .dataRowSideLight .data {width:228px;float:left;text-align:left;font-size:11px;}
#worlds .dataRowSideLight .owner, #worlds .dataRowSideLight .counts {line-height:14px;}
#worlds .dataRowSideLight .name a {font-size:12px;font-weight:bold;}
#worlds .dataRowSideLight .counts span {margin-right:10px}

.loadingData {background-image:url(../../images/ajax-loader.gif);background-repeat:no-repeat;background-position:center;height:30px;text-align:center;margin-top:20px;}
.loadingText {font-size:10px;font-weight:none;width:99%;text-align:center;color:#999;margin-top:5px;}

/*-----------(SORTING CONTROLS)-------------- */	
#dateSort {float:right;}
#alphaSort {float:left;margin:5px 0px 10px 5px;text-align:center;display:inline-block;vertical-align:middle;font-size:11px;}
#alphaSort a {text-align:center;width:11px;display:inline-block;}
#sortControl {float:right;margin:0px 0px 10px 14px;}

/*-----------(TABBED CONTROL)-------------- */	
#tabContainer {background:url(../../images/icons/leaderboard/bg_altrow.gif);width:622px;height:21px;padding:10px 0px 0px 8px;margin-bottom:10px;border-bottom:solid 1px #999;}

#tabContainer div {background-color:#ccc;height:21px;padding:0;margin-right:1px;float:left;position:relative;}
#tabContainer div a {color:#fff;height:17px;padding-top:3px;display:block;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-top:solid 1px #ccc;}
#tabContainer div a:hover {color:#3d77c4;display:block;border-left:solid 1px #ebebeb;border-right:solid 1px #ebebeb;border-top:solid 1px #ebebeb;text-decoration:none;background:#ebebeb;}
#tabContainer div a:hover:active {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:#fff;}
#tabContainer div.selected {background-color:#fff;padding:0;margin-right:1px;color:#0d4764;float:left;}
#tabContainer div.selected a {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:transparent;}}

#tabContainer div.Blasts {width:54px;}
#tabContainer div.Blasts a {width:52px;}
#tabContainer div.Videos {width:54px;}
#tabContainer div.Videos a {width:52px;}
#tabContainer div.Music {width:54px;}
#tabContainer div.Music a {width:52px;}
#tabContainer div.Photos {width:54px;}
#tabContainer div.Photos a {width:52px;}
#tabContainer div.Blogs {width:54px;}
#tabContainer div.Blogs a {width:52px;}
#tabContainer div.Games {width:54px;}
#tabContainer div.Games a {width:52px;}
#tabContainer div.Friends {width:64px;}
#tabContainer div.Friends a {width:62px;}
#tabContainer div.Communities {width:98px;}
#tabContainer div.Communities a {width:95px;}
#tabContainer div.Info {width:44px;}
#tabContainer div.Info a {width:42px;}
#tabContainer div.Fame {width:54px;}
#tabContainer div.Fame a {width:52px;}
#tabContainer div.Worlds {width:64px;}
#tabContainer div.Worlds a {width:62px;}

.loadingTabData {height:60px;text-align:center;padding:60px 0;font-size:10px;font-weight:normal;}
.loadingTabData p {margin-top:6px;color:#999;}

/* ------------AJAX PAGER---------*/
.pagerContainer{text-align:right;font-size:11px;font-weight:bold;border-top:solid 1px #ebebeb;margin:5px 0;padding-right:6px;}
.pager {color:#3d77c4;margin:0 2px;}
.pagerCurrentPage {color:#333;margin:0 2px;}
span.pagerPrevious {display:none;}
span.pagerNext {display:none;}
.pageReport {color:#999;line-height:16px;}
.error {margin-top:40px;}

/* ------------PERSONAL INFO WIDGET --------- */
#interestHeader{width:100%;height:20px;text-align:left;background-color:#ccc;padding:8px 0px 0px 8px;}
#interestHeader span{color:#004444;padding-right:10px;font-size:18px;}
.vipBadge {display:block;float:right;height:40px;width:40px;}

/* --- FAME WIDGET -- */
/*--- controls the entire fame widget --*/
#fame {margin-bottom:20px;}
/*--- controls the rave and member data div --*/
#fame #userStats {margin:10px 0;text-align:left;}
/*--- controls the rave part of the data div --*/
#fame #userStats #raves {margin-right:46px;}
/*--- controls the entire fame div --*/
#fame .stats .fameLevel {display:block;width:98%;height:20px;margin:0px 0px 4px 0px;padding:0px;}
/*--- controls the look of fame description area (fame words) --*/
#fame .stats .fameLevel span {display:block;width:35%;float:left;text-align:right;margin:0px 6px 0px 0px;height:14px !important;height:16px;}
#fame .stats .fameLink {line-height:16px;}
/*--- controls the look of fame graphics area (blue bars) --*/
#fame .stats .fameLevel ul {display:block;width:180px;height:14px !important;height:16px;font-size:11px;font-weight:normal;padding:0;margin:0;list-style:none;border:1px solid #083e58;overflow:hidden;background:transparent url(../../images/levelBG.gif) repeat-x  left top;cursor:crosshair;position:relative;float:left;}
#fame .stats .fameLevel ul li {display:block;width:auto;height:14px;font-size:9px;font-weight:normal;padding:0 2px 0 0;margin:0;list-style:none;float:left;position:absolute;}
#fame .stats .fameLevel ul li.current {text-align:left;text-indent:4px;color:#90c8f2;top:0;left:0;z-index:3;}
	/*--- controls the look of the points earned over total possible points list item area --*/
#fame .stats .fameLevel ul li.total {color:#90c8f2;z-index:2;top:0;right:0;font-size:9px;width:105px;}
#fame .stats .fameLevel ul li.total span {width:100px;}
/*--- controls the look of the yellow progress bar --*/
#fame .stats .fameLevel ul li.status {width:113px;background: transparent url(../../images/levelStatusBG.png) no-repeat  left top;position:absolute;top:0;left:0;z-index:1;}

/* ------------SIDE CONTAINER WIDGETS --------- */
.widgetHeaders{width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;background-color:#ebebeb;text-align:left;margin:0 0 10px 0;color:#333;}
.widgetHeaders span{padding-right:10px;font-size:10px;}
div.widgetHeaders .widgetTitle{float:left;font-weight:bold;}
div.widgetHeaders .widgetEdit{float:right;}
.widget_container {margin-left:8px;}
#widget_frame{min-height:150px;}
div.edit{text-align:left;}

/* -------------BLAST BOX------------- */
.BlastBox {width:100%;background-color:#f5f5f5;background-image:url(../../images/mykaneva/blastbox_nopointer_508x53.gif);background-repeat:no-repeat;background-position:top left;margin:0 0 10px 0;padding:0;}
.BlastBox img {margin:5px 0 5px 10px;}
.BlastBox p {font-size:11px;margin:2px 0 5px 40px;}
#blastComment{padding:0;margin:0;width:470px;text-align:left;float:left;}
#blastComment textarea {margin-left:10px;width:484px;outline:none;border:0;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
#blastComment #divCounter {text-align:right;width:480px;height:12px;margin-top:4px;}
#blastComment #counter {display:none;font-size:10px;}
#blastComment #divCounter {color:#898989;}
#blastIt {margin:7px 6px 0 0;float:right;}
#blastIt a, #blastIt a span {
	background:transparent url('../../images/base/btn_grey_big_blank_variable.gif') no-repeat scroll left 0;
	margin:0 8px 0 0;		/* 15px == amount of background image to the right */
	padding:6px 0 0 8px;	/* 15px == amount of background image to the left */
	display:-moz-inline-box;/* Firefox 2 support for inline-block */
	display:inline-block;	/* Must be used so that height can be set */
	height:38px;			/* Same as height of background image */
	font:18px/24px Verdana, Arial; /* Appropriate font size / line height */
	color:black;text-decoration:none;font-weight:bold;cursor:hand;}
#blastIt a {background-position:right 0;margin:0;padding:0;}
#blastError {width:500px;font-size:11px;color:Red;margin:10px 0 0 10px;padding-top:0px;text-align:left;float:left;}
/* -------------THESE ARE THE BLAST LINKS---------------- */
#blastLinks {clear:both;padding:12px 0 0 0;margin:0;height:auto;}
#blastLinks ul {margin:0;padding:0;height:22px;}
#blastLinks li {text-align:left;float:left;list-style:none;margin:3px 0 0 0;}
#blastLinks li a {background-repeat:no-repeat;background-position:left center;background-color:#f5f5f5;padding:0 0 0 18px;margin:8px 0 0 16px;font-size:11px;}
#blastLinks li a:link, #blastLinks li a:visited {color:#666;}
#blastLinks li a:hover, #blastLinks li a:active {color:#3d77c4;}
li.blastLinksIntro {padding:0 0 0 25px;color:#666;font-size:11px;}
li.blastLinksVideo a:link, li.blastLinksVideo a:visited {background-image:url(../../images/blast/blast_16x16_videoGrey.png);}
li.blastLinksVideo a:hover, li.blastLinksVideo a:active {background-image:url(../../images/blast/blast_16x16_videoColor.png);}
li.blastLinksPhoto a:link, li.blastLinksPhoto a:visited {background-image:url(../../images/blast/blast_16x16_photoGrey.png);padding-left:22px;}
li.blastLinksPhoto a:hover, li.blastLinksPhoto a:active {background-image:url(../../images/blast/blast_16x16_photoColor.png);padding-left:22px;}
li.blastLinksLink a:link, li.blastLinksLink a:visited,  
li.blastLinksLink a:hover, li.blastLinksLink a:active {background-image:url(../../images/blast/blast_16x16_linkAll.png);}
li.blastLinksHome a:link, li.blastLinksHome a:visited {background-image:url(../../images/blast/blast_16x16_placeGrey.png);padding-left:20px;}
li.blastLinksHome a:hover, li.blastLinksHome a:active {background-image:url(../../images/blast/blast_16x16_placeColor.png);padding-left:20px;}
li.blastLinksFilter {display:none;background-color:#f5f5f5;padding:0;margin-left:15px;font-size:10px;color:#666;}
li.blastLinksFilter.blastFilter{width:80px;vertical-align:middle;}
li.blastFacebook {background-image:url(../../images/facebook/fbsmallicon_blue.png);background-position:right center;padding:0 20px 0 0;}
li.blastFacebook input[type=checkbox] {margin:0;}

/* -------------FEEDS SECTION------------- */
.feed {width:100%;background-color:white;margin:4px 0 4px 0px;padding:0 0 8px 0;border-bottom:1px solid #ebebeb;clear:both;min-height:60px;float:left;}
.feedImg {width:80px;height: 100%;min-height: 100%;padding:0;position:relative;float:left;text-align:left;}
.feedText {width:538px;_width:434px;margin:0;position:relative;clear:right;padding:0 0 10px 0;display:block;overflow:visible;}
.feedText h4{font-size: 13px;font-weight:bold;text-align:left;line-height:18px;padding:0;margin:0;} 
.feedText p, .feedText div {font-size:12px;font-style:normal;_line-height:15px;word-wrap:break-word;text-align:left;padding:0;margin:2px 0 4px 0;}
.feedText .time {font-size:10px;font-style:normal;color:#999;margin-top: 1px;clear:left;}
.feedText .time a:link, .feedText .time a:hover,
.feedText .time a:visited, .feedText .time a:active {font-size:10px;font-style:normal;font-weight:normal;margin-right:6px;}
.feedText a:link, .feedText a:hover, 
.feedText a:visited, .feedText a:active {font-weight:bold;font-size:12px;}
.feedText a.worldLink{margin-top:5px;display:block;}
.feedText a.plainLink{font-weight:normal;}
.feedText img {margin:2px 5px 0 0;float:left;}
.feedAchievementText {float:left;width:302px;margin:5px 0 0 0px;font-size: 11px;font-style:normal;font-weight:normal;}
.feedAchievementText div {margin:1px 0;}
.feedAchievementText .bold {font-weight:bold;}
.feedContestText{float:left;width:302px;margin:5px 0 3px 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedContestText div {margin:1px 0;padding:0;line-height:12px;}
.feedContestText .bold {font-weight:bold;}
.feedContestText a.small {font-size:11px;font-weight:normal;}
.feedPhotoText {float:left;width:302px;margin:5px 0 0 0px;font-size: 11px;font-style:normal;font-weight:normal;}
.feedScreenShotText{clear:both;width:99%;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedScreenShotText p {color:#999;font-size:10px;padding-top:3px;margin-bottom:0;}
.feedVideoText {float:left;width:300px;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.vidThumbContainer {width:130px;overflow:hidden;height:98px;cursor:hand;cursor:pointer;float:left;}
.vidImgPlay {position:relative;left:6px;top:-36px;border:none;}
.vidImgThumb {position:relative;left:0;}
.feed-imgTextContainer {height:auto;_height:60px;}
.feed-imgContainer {float:left;height:100%;width:78px;}
.feed-textContainer {float:right;width:540px;}
.feedText .linkBlast {font-size:11px;}
.feedText .linkBlast a:link, .feedText .linkBlast a:hover, 
.feedText .linkBlast a:visited, .feedText .linkBlast a:active {line-height:20px;font-size:11px;}
.feedText .linkPlace div {font-size:11px;margin:3px 0;}
.feedText .linkPlace span.label {font-size:11px;margin:0 6px 0 0;font-weight:bold;}
.textInput {border:solid 1px #999;background:white;width:400px;color:#999;font-size:12px;font-family:Verdana, Geneva, sans-serif;font-style:italic;padding-left:10px;}
.meet3DContainer{position:relative;_top:0px;float:right;padding:0;width:70px;overflow:visible;}

/* -------------COMMENT SECTION OF FEEDS------------- */
.commentBox {background-color:#f5f5f5;padding:5px 10px 2px 10px;text-align:left;}
.commentBox textarea {width:460px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;color:#999;}
.commentBox a.button_add {clear:both;color:#fff;border:none;background-color:#f5f5f5;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #DC924F;width:135px;height:27px;text-align:center;padding-top:7px;margin:9px 0 0 0;font-size:12px;}
.commentBox a.button_add, .commentBox a.button_add:visited {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.commentBox a.button_add:hover {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none;
}
.commentBox a.button_add:active {
	background-image:url(../../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}
.feedbackBox {background-color:#f5f5f5;padding:2px 5px 3px 5px;margin:0 0 2px 0;border-bottom:1px solid #e8e8e8;min-height:45px;height:auto;overflow:hidden;_height:40px;_overflow:visible;}
.feedbackBox img {position:inherit;margin-top:2px;max-height:40px;text-align:left;}
.feedbackImg {width:56px;_width:58px;padding-right:2px;float:left;overflow:hidden;}
.feedbackText {width:462px;margin:0 0 0 2px;padding:0;position:relative;clear:right;display:block;float:right;text-align:left;}
.feedbackText p a:link, .feedbackText p a:hover, 
.feedbackText p a:visited, .feedbackText p a:active {font-size:12px;font-weight:bold;line-height:14px;} 
.feedbackText p {font-size:11px;font-style:normal;clear:inherit;line-height:14px;margin:0;padding:0;}
.feedbackText .time {font-size:10px;color:#999;margin-top:1px;}
.feedbackbadge {width:58px;padding:0 5px 0 0;}
.allComments {background-image:url(../../images/mykaneva/comments.jpg);background-color:#f5f5f5;background-position:top left;background-repeat:no-repeat;padding:0 0 2px 20px;height:17px;}
.allComments a:link {font-size:11px;font-weight:normal;}
.commentText .loadingText {margin:0 0 6px 0;font-size:10px;width:100%;text-align:center;color:#999;font-weight:normal;}
.admin {width:520px;float: left;background-color:white;margin:0px 0 3px 0;padding:5px;clear:both;}
.admin .feedText p, .admin .feedText a:link, .admin .feedText a:hover,
.admin .feedText a:visited, .admin .feedText a:active {font-size:11px;font-weight:normal;}
.admin .feedImg {float:left;width:40px;}
.admin .feedText {float:left;}
.alert {border-bottom:1px solid #d62322;background-color:#ffcece;}
.blastPager {text-align:right;padding-bottom:10px;}

.nobold {font-weight:normal;}

/* CONTENT - adjust the content area for size */
#divContent {height:100%;}

/*----- HIGHSLIDE -----*/
.highslide-html {background-color:white;}
.highslide-html-blur {}
.highslide-html-content {position:absolute;display:none;}
.highslide-loading {display:block;color:black;font-size:8pt;font-family:sans-serif;font-weight:bold;text-decoration:none;padding:2px;border:1px solid black;background-color:white;padding-left:22px;background-image:url(../../images/highslide/loader.white.gif);background-repeat:no-repeat;background-position:3px 1px;}
a.highslide-credits,
a.highslide-credits i {padding:2px;color:silver;text-decoration:none;font-size:10px;}
a.highslide-credits:hover,
a.highslide-credits:hover i {color:white;background-color:gray;}
/* Styles for the popup */
.highslide-wrapper {background-color:white;}
.highslide-wrapper .highslide-html-content {width:400px;padding:5px;}
.highslide-wrapper .highslide-header div {}
.highslide-wrapper .highslide-header ul {margin:0;padding:0;text-align:right;}
.highslide-wrapper .highslide-header ul li {display:inline;padding-left:1em;}
.highslide-wrapper .highslide-header ul li.highslide-previous, .highslide-wrapper .highslide-header ul li.highslide-next {display:none;}
.highslide-wrapper .highslide-header a {font-weight:bold;color:gray;text-transform:uppercase;text-decoration:none;}
.highslide-wrapper .highslide-header a:hover {color:black;}
.highslide-wrapper .highslide-header .highslide-move a {cursor:move;}
.highslide-wrapper .highslide-footer {height:11px;}
.highslide-wrapper .highslide-footer .highslide-resize {float:right;height:11px;width:11px;background:url(../../images/highslide/resize.gif);}
.highslide-wrapper .highslide-body {}
.highslide-move {cursor:move;}
.highslide-resize {cursor:nw-resize;}
/* These must be the last of the Highslide rules */
.highslide-display-block {display:block;}
.highslide-display-none {display:none;}

