/* HEADER */
/* CSS Document: :Profile Edit Page 01-11-2010 */
/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.PageContainer {background-color:#fff;width:1004px;height:100%;border:1px solid #ccc;border-top:none;padding-bottom:50px;}
.photoPreview div
{
	BORDER-RIGHT: #e0e0e0 1px solid; 
	BORDER-TOP: #e0e0e0 1px solid; 
	VERTICAL-ALIGN: middle; 
	OVERFLOW: hidden; 
	BORDER-LEFT: #e0e0e0 1px solid; 
	WIDTH: 130px; 
	BORDER-BOTTOM: #e0e0e0 1px solid; 
	HEIGHT: 98px; 
	BACKGROUND-COLOR: #ffffff; 
	TEXT-ALIGN: center
}


/* begin styling for various div sections */
#editBody
{
	width:920px;
	overflow: hidden;
	background-color:#ffffff;
	border: none 2px #000000;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
	text-align:left;
	line-height:22px;	
}

#messageArea 
{
	width:900px;
	border: none 1px #000000;
	padding: 0px 10px 0px 10px;
}

#pageHeader
{
	width:900px;
	height:34px;
	text-align:left;
	background-color:#ebebeb;
	padding: 12px 10px 0px 10px;
}

#pageHeader .restrictions
{
	float:right; 
	position:relative; 
	top:-24px;
}

#pageHeader span
{
	color:#333;
	padding-right:10px;
}

#viewOptions
{
	width:900px;
	text-align:left;
	border-bottom: solid 1px #ebebeb;
	padding: 16px 10px 16px 10px;
	display:inline-block;
}
h4 {font-weight:bold;}
#accessGroups {margin:14px 0 14px 0;}
#accessGroups .items span {padding:0 10px 0 10px;}
input[type="radio"] {margin:0 5px 0 10px;}
input[type="checkbox"] {margin-right:8px;}
#profilePhoto {width:900px;text-align:left;border-bottom:solid 1px #ebebeb;padding:16px 10px 16px 10px;float:left;}
#profilePhoto h4 {margin-bottom:10px;}
#profilePhoto .photo {float:left;margin:0 0 10px 0;width:50px;text-align:center;}

#profilePhoto .photoDescription {padding:0;width:150px;line-height:16px;float:left;margin:20px 0 10px 30px;}
#profilePhoto .photoLink {margin-top:0;padding-top:0;height:24px;width:898px;float:left;}
#profilePhoto .photoLink #btnFBProfilePic {margin-left:40px;}

#contentRestrictions {width:900px;text-align:left;border-bottom:1px solid #ebebeb;padding:10px;clear:both;}
#backgroundOptions {width:900px;text-align:left;border-bottom:1px solid #ebebeb;padding:16px 10px 16px 10px;}
#backgroundOptions p {margin:2px 0;}
#communityURL {width:900px;text-align:left;border-bottom:1px solid #ebebeb;padding:16px 10px;}
#communityURL p {margin-top:10px;}
#submitArea {width:900px;text-align:left;padding:16px 10px 10px 10px;display:inline-block;}
a.btnsmall {padding-top:2px;float:left;margin-right:10px;height:25px;}

/* end styling for div areas */

/*styling for the media library photos (selectPhotoFromLibrary.ascx) */

#libraryContainer
{
	margin: 10px 5px 10px 5px;
	width:800px;
}


#objectContainer
{
	width:140px;
	height:106px;
	text-align:center;
	border: solid 1px #cccccc;
	padding: 0px 0px 0px 0px;
	margin: 2px 2px 2px 2px;
}

#radioContainer
{
	width:20px;
	height:98px;
	float:left;
}

#imageNameContainer
{
	width:120px;
	height:98px;
	position:relative;
	padding-top:4px;
	top:0px;
	left:0px;
	float:right;
}

/*end styling for the media library photos */
.spacer {padding-left:10px;}
