<%@ Page language="c#" Codebehind="userInGame.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.kgp.UserInGame" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
	<body>
		Your WOK Avatar is logged into the virtual world. You can not change it via the 
		website.
	</body>
</html>
