Title: Virtual World of Kaneva - Kaneva Community
MetaDataTitle: <meta name="title" content="Virtual World of Kaneva - Kaneva Community" />
MetaDataDescription: <meta name="description" content="Kaneva's Virtual World of Kaneva Community includes Videos, Photos, Music, Blogs, and Forums. Join now. More" />
MetaDataKeywords: <meta name="keywords" content="Virtual World of Kaneva, Videos, Photos, Music, Blogs, Forums" />
JavaScript: 
StyleSheets: 

<style>
@import url("../css/Communities/CommunityPage.css");

/*
* MISC. STYLES
* ---------------------------------------------------- */

.greenarrow li {
list-style: none;
background: transparent url("../images/li_greenarrow.gif") no-repeat 0 4px;
padding: 3px 0 5px 20px;
}

ul {
padding: 10px 10px 10px 35px;
}

li {
padding: 3px 0 3px 0;
}

h1 {
font-size: 17px;
color: #13667A;
font-weight: bold;
}

h2 {
font-size: 15px;
color: #13667A;
font-weight: bold;
}

h2 {
font-size: 13px;
color: #13667A;
font-weight: bold;
}

h4 {font-weight: normal;}

#wrapper
{
    background-color:#fff;
    width:1004px;
    height:100%;
    border-top:solid 1px #fff;
}

#PageBody
{
	width:920px;
	overflow: hidden;
	background-color:#ffffff;
	border: none 1px #000000;
	padding: 10px 10px 10px 10px;
	margin: 10px 0px 0px 0px;
	text-align:left;
	line-height:22px;	
}

#downloadSteps
{
	width:600px;
	padding: 10px 10px 10px 10px;
	margin: 0px 20px 0px 0px;
	border: solid 1px #d9e7ea;
	float:left;
}

.step
{
	width:596px;
    margin: 10px 0px 10px 0px;
	float:left;
}

.stepHeader
{
	width:80px;
    margin: 0px 10px 0px 0px;
    text-align:center;
	float:left;
}

.stepInfo
{
	width:500px;
    margin: 0px 0px 0px 0px;
	border: solid 1px #d9e7ea;
	float:right;
}

#infoWrapper
{
	float:right;
	width:276px;
	padding: 0px 0px 0px 0px;
}

#Header
{
	margin: 0px 0px 10px 0px;
	padding: 0px 10px 10px 10px;
}

.sideInfo
{
	width:260px;
	border: solid 1px #d9e7ea;
	float:right;
	line-height:17px;
	margin: 0px 0px 10px 0px;
	padding: 4px 5px 10px 5px;
}


body {
	background-color: F6f6f6;
	background-image: none;
	}
	a:hover{
	background-color:white;
}

</style>

<br/><br/><br/><br/>
<br/><br/><br/><br/>

<a id="aDownload" href="../register/kaneva/registerCompleted.aspx">
<img runat="server" BORDER=0 src="http://www.kaneva.com/images/download/download_internal.png" />
</a>
</br>

<div style="position:absolute;  top:275px; bottom: 0px; left:0; right:0; margin-left:auto;  margin-right:auto;">
    <hr style="color:#c4d730;height:1px;" />
</div>

<img id="imgDownload" runat="server" src="http://www.kaneva.com/images/download/explorer.png" />

<script type="text/javascript">
    window.onload = show;

    function show() {

        if (Prototype.Browser.Gecko) {
            $('imgDownload').setAttribute("src", 'http://www.kaneva.com/images/download/firefox.png');
        }
  
        if (Prototype.Browser.WebKit) {
            $('imgDownload').setAttribute ("src", 'http://www.kaneva.com/images/download/chrome.png');
        }
    }
</script>