Title: Kaneva Careers Center - Kaneva Community
MetaDataTitle: <meta name="title" content="Kaneva Careers Center - Kaneva Community" />
MetaDataDescription: <meta name="description" content="Kaneva's Kaneva Careers Center Community includes Videos, Photos, Music, Blogs, and Forums. Join now. More..." />
MetaDataKeywords: <meta name="keywords" content="Kaneva Careers Center, Videos, Photos, Music, Blogs, Forums" />
JavaScript: 
StyleSheets:

<div id="PageBody">

    <div id="Header">
        <img border="0" alt="" src="http://images.kaneva.com/media/communities/kaneva/careers/kaneva-careers-header.jpg" width="973" height="100" />
    </div>
    <div id="menu">
        <a  href="#" onclick="DisplaySelectedDiv('press')">Main</a>
    </div>    
    <div id="careersSummary">
        <h1><b>Work at Kaneva</b></h1>
        <p class="intro">Kaneva is changing the Internet Entertainment industry!</p>
        <p>To keep up with the market demand for Kaneva products and services, we are seeking the best-of-the-best talent who are focused individuals able to contribute significantly to our fast-paced growth.</p>
            <div>
                Based in Atlanta, GA, we offer competitive salaries, medical/dental, life insurance, long term disability, 401(k) and stock options. <br /><br />
            </div>
            <div>If you are an A+ candidate seeking a challenging position in a demanding environment, <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#97;&#114;&#101;&#101;&#114;&#115;&#64;&#107;&#97;&#110;&#101;&#118;&#97;&#46;&#99;&#111;&#109;">please submit your resume via email</a> and include your salary requirements. </div>
            <div></div>
            <div>**<strong>No Agencies please**</strong></div>
        <br />
    </div>

    <div id="press" class="job">
		<h1><b>Openings</b></h1>
		<div class="shout">
            <p class="source">Engineering</p>
            <p class="title"><a title="Interface Architect" href="#" onclick="DisplaySelectedDiv('se')">Software Engineer</a></p>
            <p class="blurb">Kaneva is looking for an experienced software engineer with more than four years experience in commercial product development using C++ and Microsoft Visual Studio.</p>
        </div>
        <div class="shout">
            <p class="source">Engineering</p>
            <p class="title"><a title="Virtual world producer" href="#" onclick="DisplaySelectedDiv('gd')">Game Designer</a></p>
            <p class="blurb">Kaneva is looking for an experienced 3D designer to help create and implement places in the 3D world that serve as the primary meeting points for players.</p>
        </div>
        <div class="shout">
            <p class="source">Engineering</p>
            <p class="title"><a title="C++  engineer" href="#" onclick="DisplaySelectedDiv('cd')">C++ Application Developer</a></p>
            <p class="blurb">Kaneva is looking for an experienced C++ Application Engineer with more than five years experience in commercial product development using C++ and Microsoft Visual Studio.</p>
        </div>
        <div class="shout">
            <p class="source">Graphics</p>
            <p class="title"><a title="Experienced 3d graphics programmer" href="#" onclick="DisplaySelectedDiv('gp')">Experienced 3D Graphics Programmer</a></p>
            <p class="blurb">Kaneva is looking for an Experienced 3D Graphics Programmer to help develop the 3D Virtual World of Kaneva and the supporting platform that fuels the next generation of MMOG development.</p>
        </div>
        <div class="shout">
            <p class="source">Platform Senior Server Engineer<br />
            </p>
            <p class="title"><a title="Quality  engineer" href="#" onclick="DisplaySelectedDiv('sse')">Platform Senior Server Engineer</a></p>
            <p class="blurb">Kaneva is looking for 5+ years of server development experience</p>
        </div>
        <div class="shout">
            <p class="source">Game Design/Scripter</p>
            <p class="title"><a title="Quality  engineer" href="#" onclick="DisplaySelectedDiv('gds')">Game Design/Scripter</a></p>
            <p class="blurb">Kaneva is looking for a Game Design/Scripter, responsible for working with the programmer and art teams to design and build game systems for the Virtual World of Kaneva.</p>
        </div>
    </div>
	<div id="pm" class="job" style="display:none">
		<h1><b>Product Manager</b></h1> 
		<p><b>Job Description</b></p>
		<ul class="requirements">
			<li>In this position you will be responsible for the product and solution offering</li>
			<li>Interviewing customers to determine their business objectives, understand their technical needs, determine commercial viability of a solution and identify use cases that illustrate what an ideal and marketable solution would need to accomplish</li>
			<li>Writing whole product requirements documents that identify the key features and services necessary to win in the market</li>
			<li>Managing the product and solution lifecycle processes</li>
			<li>Analyzing competitor offerings to identify feature differences and determining an appropriate course of action</li>
			<li>Publishing competitive briefings and guidelines on how to compete with specific competitors to the sales force</li>
			<li>Participate in sales engagements</li>
			<li>Analyze customer wins and losses to determine implications for product enhancements</li>
		</ul>
		<p><b>Requirements</b></p>
		<ul class="requirements">
			<li>At least 5+ years in Product design or Product management experience in Social networking or Consumer space</li>
			<li>Experience with Online Consumer Business Models </li>
			<li>Demonstrated experience in gathering design requirements into a product vision.</li>
			<li>Demonstrated ability to work with a team to rapidly produce prototypes and Iterations</li>
			<li>Superb Quantitative analytical abilities</li>
			<li>Experience with structuring complex business requirements</li>
			<li>Experience with agile methods and rapid development iteration is a plus</li>
			<li>Proven track record with software-as-a-service solutions and understanding of the challenges and considerations of the software-as-a-solution delivery model</li>
			<li>Ability to work effectively with engineers and have a love and understanding for technology</li>
			<li>Public speaking in the Web 2.0/Online Game space is a plus</li>
		</ul>
		<p><b>Additional Traits</b></p>
		<ul class="requirements">
			<li>Ability to work effectively in a team environment</li>
			<li>Ability to work in a start-up</li>
			<li>Able to adopt to change</li>
			<li>Enthusiastic</li>
			<li>Leadership</li>	
		</ul>
        <div style="text-align: right;"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#97;&#114;&#101;&#101;&#114;&#115;&#64;&#107;&#97;&#110;&#101;&#118;&#97;&#46;&#99;&#111;&#109;">Contact
        us about this position &gt;</a></div>
        <p>&nbsp;</p>
        <br />
	</div>
    <div id="se" class="job" style="display:none">
        <h1><b>Software Engineer</b></h1>    
        <p>Must hold a Master's Degree or the foreign equivalent in computer science, human-computer interaction, or a related field and four years of commercial product development experience using C++ and Microsoft Visual Studio.</p>
        <p>In lieu of a Master's Degree, will accept a Bachelor's degree or the foreign equivalent in computer science, human-computer interaction, or a related field and eight years of progressive experience as stated.</p>
        <p>Education or experience must also include: performing GUI development using C++, MFC, and Win32; performing 3D graphics programming; debugging problems in multi-user/threaded environments; using 3D algorithm math for programming in C++/3D; and using Vertex, Pixel, and FX Shaders, animation and skinning, lighting techniques, special effects, and DirectX API or OpenGL API.</p>
    </div>
    <div id="gd" class="job" style="display:none">
        <h1><b>Game Designer</b></h1>
        <p>
            The ideal game designer candidate will have a strong passion for games, 
            especially classic arcade and casual games.&nbsp; Must have the ability to 
            find the fun factor and create an experience around it to promote 
            retention and fun.&nbsp; Must be able to analyze game data and create level 
            curves and other detailed game reward and leveling systems.&nbsp; Must be 
            able to work directly with the producer to collect requirements and 
            brainstorm with a small studio team.&nbsp; Must have a good understanding of 
            the following concepts:
        </p>
            <ul>
                <li>Designing elements such as characters, levels, puzzles, etc.</li>
                <li>Art and animation</li>
                <li>Coding and programming</li>
                <li>Leveling design and analysis</li>
                <li>Testing</li>
            </ul>

        <p><b>Skills Needed</b></p>
        <p>
            Enthusiasm and Knowledge - Must demonstrate a great enthusiasm for 
            games and their design.&nbsp; Must have a good knowledge of many game play 
            styles and have had experience in designing online or casual computer 
            games in the past.
        </p>
        <p>        
            Computer Skills - Technology is an integral part of the computer game 
            design industry. Experience with game engines such as unreal or Kaneva 
            is a plus.
        </p>
        <p>
            Artistic Ability - Graphics and animation are a crucial component of 
            computer game design. Must be able to communicate with artists and work 
            through art issues and concepts.&nbsp; Knowledge of 3DSMax is a plus.
        </p>
        <p>
            Teamwork - Working in a collaborative environment comes with the 
            territory in a computer game design.&nbsp; Must be able to cooperate with 
            many people to meet goals and deadlines, and communicate your ideas 
            clearly and effectively, both verbally and in writing.
        </p>
    </div>
    <div id="cd" class="job" style="display:none">
        <h1><b>C++ Application Engineer </b></h1>    
        <p class="intro">Kaneva is looking for an experienced C++ Application Engineer to join our talented development team.</p>
        <br />
        <h2>Qualifications:</h2>
        <ul class="requirements">
            <li>5+ experience
            in commercial product development using C++ and Microsoft Visual
            Studio</li>
            <li>5+ years extensive experience in GUI
            development using C++/MFC</li>
            <li>Must have programmed in
            DirectX API or equivalent</li>
            <li>Must be able to quickly
            analyze and assimilate large application code bases and be able to
            start working on them rapidly</li>
            <li>Knowledge of low
            level Windows System/GDI calls is expected</li>
            <li>Experience in one or more of the following areas is desired:
            <ul>
                <li>Flash/C++ Video player development and
                interfacing</li>
                <li>Interfacing Flash games to a C++
                framework</li>
                <li>Video games development</li>
                <li>Interfacing with Streaming back-ends like Flash Communication
                server, custom Streaming servers</li>
            </ul>
            </li>
            <li>Scripting exposure with Python, LUA is a plus</li>
            <li>Experience in C#/.NET development is a plus</li>
            <li>Knowledge of Java is a plus</li>
            <li>Excellent
            written and oral communication skills</li>
            <li>Previous
            start-up experience is a plus</li>
            <li>B.S in computer
            science or equivalent discipline is
            desired</li>
        </ul>
        <h2>Traits:</h2>
        <ul class="requirements">
            <li>Enthusiastic</li>
            <li>Ability to work effectively
            in a team environment</li>
            <li>Be willing to work on
            different technologies and projects</li>
            <li>Must be able
            to take direction and be open to critique</li>
            <li>Self-motivated</li>
            <li>Bias for
            action</li>
            <li>Deadline oriented</li>
            <li>Pride in producing quality output</li>
            <li>Willing to do what it takes to get the job done</li>
            <li>Well-organized</li>
            <li>Be able to adopt to
            quickly changing priorities and issues</li>
        </ul>
        <div style="text-align: right;"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#97;&#114;&#101;&#101;&#114;&#115;&#64;&#107;&#97;&#110;&#101;&#118;&#97;&#46;&#99;&#111;&#109;">Contact
        us about this position &gt;</a></div>
        <p>&nbsp;</p>
        <br />
        <ul></ul>
            <ul></ul>
    
    </div>
    <div id="gp" class="job" style="display:none">
        <h1><b>Experienced 3D Graphics Programmer (2 Openings)</b></h1>    
        <p class="intro">Kaneva is looking for an Experienced 3D Graphics Programmer to join our talented Graphics team in developing the 3D Virtual World of Kaneva and the supporting platform that fuels the next generation of MMOG development.</p>
        <h2>Core Competencies</h2>
        <ul class="requirements">
            <li>3D graphics programming game industry experience on major titles preferred
            </li>
            <li>A solid background in object-oriented C++ programming
            </li>
            <li>Demonstrable experience in using DirectX API
            </li>
            <li>Experience in one or more of the following technologies including Vertex, pixel and fx shaders, Animation and skinning , Advanced lighting techniques, Particle systems and Special effects
            </li>
            <li>Expertise in the 3DS Max API
            </li>
            <li>Strong 3D math and computer graphics skills required
            </li>
            <li>Experience using the Visual Studio development environment a plus
            </li>
            <li>Robust coding, debugging and testing skills
            </li>
            <li>Must work well in a team environment and be open to direction and critique
            </li>
            <li>Must be able to work under tight schedules and reliably meet milestones
            </li>
            <li>Excellent written and oral communication skills
            </li>
            <li>Exceptional problem-solving and troubleshooting skills
            </li>
            <li>Ability to remain current on all aspects of cutting edge programming as it relates to the video game industry
            </li>
            <li>True passion for video game programming
            </li>
            <li>Must live or relocate to Atlanta, GA</li>
        </ul>
        <div style="text-align: right;"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#97;&#114;&#101;&#101;&#114;&#115;&#64;&#107;&#97;&#110;&#101;&#118;&#97;&#46;&#99;&#111;&#109;">Contact
        us about this position &gt;</a></div>
        <p>&nbsp;</p>
        <br />
    </div>
    <div id="sse" class="job" style="display:none">
        <h1><b>Platform Senior Server Engineer</b></h1>    
        <p>Are you a gamer? Are you passionate about   Server and Platform development? Our fast growing 3D Virtual World of Kaneva   utilizes this technology. In this position you have the opportunity to shape the   future of digital entertainment. </p>
        <h2>Requirements</h2>
        <ul class="requirements">
            <li>5+ years of server development experience is required</li>
            <li> Expert level in C++   development</li>
            <li> Extensive experience in Database and multi-threaded application   development</li>
            <li> Thorough knowledge and experience in the Visual Studio   development environment</li>
            <li> Must be able to quickly analyze and assimilate large   application code bases and be able to start working on them rapidly<br />
            </li>
        </ul>
    </div>
    <div id="gds" class="job" style="display:none">
        <h1><b>Game Design/Scripter </b></h1>    
        <p>The Game Design/Scripter will be responsible for working   with the programmer and art teams to design and build game systems for the   Virtual World of Kaneva. Tasks will include game design documentation, UI   scripting, and other duties assigned by the Game Producer.</p>
        <h2>Requirements</h2>
        <ul class="requirements">
            <li>Experience with scripting languages such as LUA and Python</li>
            <li> Experience using   Photoshop or other graphics programs</li>
            <li> Experience with Visual Studio</li>
        </ul>
    
    </div>
</div>

<script type="text/javascript">
<!--

function HideAllDivs()
{
	$('pm').style.display = "none";
	$('se').style.display = "none";
    $('gd').style.display = "none";
    $('cd').style.display = "none";
    $('gp').style.display = "none";
    $('sse').style.display = "none";
    $('gds').style.display = "none";
    $('press').style.display = "none";
}

function DisplaySelectedDiv(controlName)
{
   //first hide the previously viewed div
   HideAllDivs();

   //show the selected control
   $(controlName).style.display = "block";
}

//-->
</script>
<link href="../css/Communities/CommunityPage.css" type="text/css" rel="stylesheet">
<style>
    #wrapper {
        background-color: #fff;
        width: 1004px;
        height: 100%;
        border-top: solid 1px #fff;
    }

    /*
    * SECTION SPECIFIC CONTAINERS & STYLES
    * ---------------------------------------------------- */

    /*-----------(PRESS SECTION)-------------- */
    #press h1 {
        margin: 0 0 10px 0;
        padding: 0;
    }
    #press .shout {
        width: 270px;
        height: 160px;
        display: block;
        float: left;
        margin: 0 20px 40px 10px;
        padding: 0;
        overflow: hidden;
    }
    #press .image {
        display: none;
    }
    #press .shout .date {
        width: 30px;
        font-size: 11px;
        text-align: center;
        padding: 3px;
        display: block;
        float: left;
        border: 1px solid #E1E1E1;
        background-color: #f6f6f6;
        margin: 0;
        font-weight: bold;
    }
    #press .shout .date .year {
        font-size: 10px;
        text-align: center;
        clear: both;
        font-weight: normal;
    }
    #press .shout .source {
        font-size: 10px;
        font-weight: bold;
        color: #B7B7B7;
        width: 212px;
        float: left;
        text-align: left;
    }
    #press .shout .title {
        margin: 0 0 6px 0;
        width: 250px;
        float: left;
        text-align: left;
    }
    #press .shout .title a {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2;
    }
    #press .shout .blurb {
        font-size: 11px;
        font-weight: normal;
        line-height: 1.4;
        clear: both;
    }
    /*-----------(PRESS HOME SECTION WITH IMAGES)-------------- */
    #press .home1 {
        height: 293px;
        width: 260px;
    }
    #press .home1 .image {
        display: block;
    }
    #press .home1 .title {
        width: 212px;
    }
    #press .home1 .source {
        width: 212px;
    }
    #press .home2 {
        height: 156px;
        width: 570px;
        margin: 0 0 40px 10px;
    }
    #press .home2 .image {
        display: block;
        float: left;
        margin: 0 30px 0 0;
    }
    #press .home2 .blurb {
        width: 262px;
        display: inline;
        float: left;
        clear: none;
    }
    .archivelink {
        clear: both;
        width: 100%;
        display: block;
        margin: 20px 0 0 0;
        padding: 0;
        text-align: right;
    }
    #press .bullet {
        width: 430px;
        height: 60px;
        display: block;
        float: left;
        margin: 0 25px 5px 10px;
        padding: 0;
        overflow: hidden;
    }
    #press .bullet .date {
        width: 30px;
        font-size: 11px;
        text-align: center;
        padding: 3px;
        display: block;
        float: left;
        border: 1px solid #E1E1E1;
        background-color: #f6f6f6;
        margin: 0;
        font-weight: bold;
    }
    #press .bullet .date .year {
        font-size: 10px;
        text-align: center;
        clear: both;
        font-weight: normal;
    }
    #press .bullet .source {
        font-size: 10px;
        font-weight: bold;
        color: #B7B7B7;
        width: 89%;
        float: right;
        text-align: left;
        display: block;
        margin: 0;
    }
    #press .bullet .title {
        margin: 0;
        width: 89%;
        float: right;
        text-align: left;
    }
    #press .bullet .title a {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2;
    }
    #press .bullet .blurb {
        display: none;
    }
    #press .bullet .image {
        display: none;
    }
    .intro {
        font-size: 14px;
        padding: 0 0 10px 0;
        font-weight: bold;
    }
    ul.requirements {
        font-size: 11px;
        width: 80%;
        margin: 10px 0 15px 40px;
        line-height: 17px;
    }
    ul.requirements li {
        padding: 0 0 5px 0;
    }
    #PageBody {
        width: 980px;
        overflow: hidden;
        background-color: #ffffff;
        border: none 1px #000000;
        padding: 10px 10px 10px 10px;
        margin: 0;
        text-align: left;
        line-height: 22px;
    }
    #careersSummary {
        width: 270px;
        padding: 10px 10px 10px 10px;
        margin: 0 20px 0 4px;
        border: solid 1px #d9e7ea;
        line-height: 17px;
        float: left;
        font-size: 11px;
    }
    #Header {
        margin: 0;
        padding: 0;
    }
    #menu {
        margin: 0;
        padding: 0 0 10px 4px;
    }
    .job {
        float: right;
        width: 620px;
        padding: 10px 10px 10px 10px;
        margin: 0 20px 0 0 !important;
        margin: 10px 20px 0 0;
        border: solid 1px #d9e7ea;
        line-height: 17px;
        font-size: 11px;
    }
</style>
