Title: Kaneva Safety Tips and Parental Resources - Kaneva Community
MetaDataTitle: <meta name="title" content="Kaneva Safety Tips and Parental Resources - Kaneva Community" />
MetaDataDescription: <meta name="description" content="Kaneva's Kaneva Safety Tips and Parental Resources Community includes Videos, Photos, Music, Blogs, and Forums. Join now. More..." />
MetaDataKeywords: <meta name="keywords" content="Kaneva Safety Tips and Parental Resources, Videos, Photos, Music, Blogs, Forums" />
JavaScript: 
StyleSheets:

<style>

@import url(../css/Communities/CommunityPage.css);

ol {padding:0 0 0 20px; margin:0;}ol li {padding:0; margin:0; line-height: 1.3;}
#wrapper
{
    background-color:#fff;
    width:1004px;
    height:100%;
    border-top:solid 1px #fff;
}

#PageBody
{
	width:920px;
	overflow: hidden;
	background-color:#ffffff;
	border: none 1px #000000;
	padding: 30px 10px 10px 10px;
	margin:0;
	text-align:left;
	line-height:22px;
	margin:0 auto;
}

.greenarrow li {
	list-style: none;
	background: transparent url("../images/li_greenarrow.gif") no-repeat 0 4px;
	padding: 3px 0 5px 20px;
	}
	
.floatleft {
	float: left;
	}
	
.floatright {
	float: right;
	}
	
p.answer {
font-weight: normal;
}

p.question {
font-weight: bold;
font-size: 14px;
}

ul {font-weight: normal;}
h1 {color:#333;}
</style>


<div id="PageBody">
<h1><b>Kaneva, Safety and You</b></h1>
<br />
<div>Kaneva is committed to providing a positive experience for all of our users.&nbsp;However, as in any social environment &#8211; whether in real life or on the Web &#8211; not everyone will follow the accepted rules of good citizenship &nbsp;Below, are ways to make your Kaneva experiences more safe and enjoyable. <br />
<br />
<br />
</div>
<h1><b>Safety Tips and Important Facts</b></h1>
<div><br />
</div>
<div><strong>Parent&#8217;s Safety Guide</strong> &#8211; We&#8217;ve published a separate guide for parents below. <br />
<br />
</div>
<div><strong>Kaneva&#8217;s age limitation</strong> &#8211; You MUST be 13 years old or older to use the Kaneva website and to access the Virtual World.&nbsp;Users who circumvent this policy will have their profile deleted and their access immediately blocked. <br />
<br />
</div>
<div><strong>Personal Information means private information</strong> &#8211; Never disclose personal information to those you meet online.&nbsp;This includes your phone number, address, financial information, account passwords, etc. <br />
<br />
</div>
<div><strong>Online friends are not the same as real friends</strong> &#8211; There is no guarantee that your virtual friends are who they say they are.&nbsp;Don&#8217;t automatically trust those you meet online.&nbsp; <br />
<br />
</div>
<div><strong>Be selective when you make your Profile</strong> &#8211; You may inadvertently divulge private information when you fill out your Profile.&nbsp;Be selective about what you reveal. Keep this in mind when posting pictures or videos of yourself or your family. <br />
<br />
</div>
<div><strong>Keep a separate email for social networking sites</strong> &#8211; Yahoo, Gmail, Hotmail, etc. all offer free email services.&nbsp;By using a separate email account for online socializing, you won&#8217;t have to worry about anybody abusing your main, personal email account. <br />
<br />
</div>
<div><strong>Don&#8217;t disclose your Kaneva password</strong> &#8211; Do not divulge your password to any Kaneva member &#8211; or anyone who claims to be a Kaneva employee.&nbsp;Customer Service/Support personnel at Kaneva do not need to ask for your password, and never will. <br />
<br />
</div>
<div><strong>Be careful where you click</strong> &#8211; Never download or open files if you don&#8217;t know the source of the file &#8211; and are not 100% sure what the file contains.&nbsp;Make sure you have a good anti-virus program and firewall.&nbsp;Beware of ANY unknown links and watch URL&#8217;s carefully to guard against phishing scams.<br />
<br />
</div>
<div><strong>Talk to the Kaneva Community</strong> &#8211; There is a growing community of expert (and helpful) Kaneva users. &nbsp;While we recommend you address support or policy questions to us by submitting our Feedback form, you can always &nbsp;post general questions to the Kaneva Community Forums here.&nbsp;&nbsp; Our members often provide the best answers to questions about the Kaneva site and the Virtual World. <br />
</div>
<div><strong>Let Kaneva know about problems</strong> &#8211; If you want to report a violation of Kaneva&#8217;s Member Guidelines or have suggestions about how to make Kaneva even better, please contact us at Feedback. <br />
<br />
</div>
<div><br />
</div>
<h1><b>Kaneva&#8217;s Resources for Parents</b></h1>
<div><br />
</div>
<div>
<div>At Kaneva, we take our responsibility to safeguard our members seriously.&nbsp;If you are a parent or guardian of a Kaneva member under the age of 18, please note the following:<br />
<br />
</div>
<div><strong>Kaneva Minimum Age</strong> &#8211; Users at Kaneva MUST be 13 years old or older.&nbsp;We will delete immediately any user&#8217;s profile if there is any indication that the user is under age 13.<br />
<br />
</div>
<div><strong>Make sure you read the Member Guidelines</strong>&#8211; Our <a href="/overview/guidelines.aspx">Member Guidelines</a> outline the rules of conduct while using the Kaneva service.&nbsp;Violations of the Member Guidelines, such as harassment and inappropriate content, should be reported to <a title="Kaneva Feedback Form" href="http://www.kaneva.com/suggestions.aspx" target="_blank">Kaneva Support</a>. <br />
<br />
</div>
<div><strong>Members should not provide misleading information about their age</strong> &#8211; Kaneva restricts certain kinds of content to users 18 and over.&nbsp;Users with profiles under 18 are not &nbsp;able to view restricted content or to visit restricted Communities.&nbsp;It is much more difficult to protect minors if they are misleading about their age.<br />
<br />
</div>
<div><strong>Deleting a child&#8217;s account</strong> &#8211; If you would like us to delete the account of your child, follow the steps below:
<ul type="disc">
    <li>Sign in to the account
    <li>Click the &#8220;feedback&#8221; link at the bottom of the Kaneva website
    <li>Type &#8220;Cancel Account&#8221; in the subject line and send the message </li>
</ul>
<p><strong>Communication is the key</strong> &#8211; It&#8217;s important to talk to your child about their activites on Kaneva &nbsp;They should be aware of our guidelines and follow our Safety Tips to ensure their experience is fun &#8211; and age-appropriate.</p>
</div>
<br />
<br />
</div>
</div>
