/* HEADER */
/* CSS Document: Error Page 2-16-2010 */

td.validate_nav {top:0px;}

/* PAGE CONTENT
*---------------------------------------------------------------------------*/
.PageContainer {background-color:#fff;width:1004px;height:100%;border:solid 1px #ccc;border-top:none;margin-top:0;display:inline-block;}
.errorContainer{margin:40px 0 20px 0;padding:0 0 0 154px;text-align:left;height:400px;}
.errorHeading{padding:10px 0 0 0;margin:10px 0 30px 0;color:#0d4764;font-size:18px;font-weight:bold;}
.errorOptions ul{margin:0;padding:0;}
.errorOptions li{margin:0;line-height:16px;}
p.infoBlock{line-height:16px;margin:0;}

