/* HEADER */
﻿/* CSS Document: Registration Landing Page 11/1/2012 */

/* Page Container*/
.pageBody {
    margin-left:114px;
    margin-right:114px;
    margin-bottom:36px;
    padding-left:14px;
    padding-right:14px;
    padding-top:0;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-top-style:none;
}

/* Footer */
.pageFooter {
    display:block;
    margin-top:60px;
}
.pageFooter .footer {
    color: #999;
}
.pageFooter .footer a:link,
.pageFooter .footer a:visited {
    color:#999;
}
/* Errors */
.errBox {
    width:713px;
    border-style:none;
    padding:14px;
    font-size:11px;
    line-height:16px;
    color:#333333;
    margin:0 0 0 -13px;
}
.signupForm a.error, .signupForm input.error{ border:1px solid #ee2d2a; font-weight:normal; }
.signupForm label.error { color:#ee2d2a; }

/* Upsell Promise */
.promiseContainer {
    margin-left:auto;
    margin-right:auto;
    margin-top:14px;
    width:694px;
    height:52px;
    padding:10px;   
    background:url("../../../images/landing_page/container_714x91_greyRegist_shortName.png") no-repeat left top;
}
.promiseContainer.promiseContainerLarge {
    width:694px; 
    height:72px;
    background:url("../../../images/landing_page/container_714x91_greyRegist_longName.png") no-repeat left top;
}
.promiseContainer .promiseImageFrame {
    margin: 0 10px 0 6px;
    padding:0;
    float:left;
    overflow:hidden;
    position:relative;
}
.promiseContainer .promiseImageFrame.profileUpsell {
    width:50px;
    height:50px;
    padding:1px;
    border:1px solid #cccccc;
    background-color:#ffffff;
    box-shadow:0 1px #cccccc;
}
.promiseContainer .promiseImageFrame.imageUpsell {
    width:48px;
    height:48px;
    margin-top:5px;
}
.promiseContainer .promiseImageFrame.videoUpsell {
    width:38px;
    height:38px;
    margin-top:5px;
}
.promiseContainer .promiseImageFrame.musicUpsell {
    width:42px;
    height:42px;
    margin-top:5px;
}
.promiseContainer .promiseImageFrame img {
    position:relative;
}
.promiseContainer .promiseImageFrame img.videoUpsell {
    left:0;
    top:0;
}
.promiseContainer .promiseImageFrame img.musicUpsell {
    left:-38px;
    top:0;
}
.promiseContainer .promiseImageFrame img.imageUpsell {
    left:-80px;
    top:0;
}
.promiseContainer .promiseMessageFrame {
    margin:0;
    padding:0;
    float:left;
    margin-top:12px;
}
.promiseContainer .promiseMessageFrame h1 {
    color:#333333;
    font-size:14px;
    font-weight:bold;  
    line-height:24px;
    width:600px;
     
}
.promiseContainer .promiseMessageFrame h2 {
    color:#333333;
    font-size:11px; 
    font-weight:normal; 
    margin-top:4px; 
}
.defaultPromise h1 {
    color:#333333;
    margin:0 0 10px 7px;
}

/* Signup Form*/
.signupForm {
    width:382px; 
    position:relative;
    padding-right:14px;
    float:left;
    margin-top:14px;
} 
.signupForm div {
    padding:0 0 6px 0; 
    line-height:24px;
}
.signupForm:before, .signupForm:after,
.signupForm div:before, .signupForm div:after,
.signupForm .terms:before, .signupForm .terms:after,
.pageBody:before, .pageBody:after {
    content:"";
    display:table;
}
.signupForm:after,
.signupForm div:after,
.signupForm .terms:after,
.pageBody:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.signupForm,
.signupForm div,
.signupForm .terms,
.pageBody {
    zoom:1;
}
.signupForm label {
    color:#333333; 
    font-size:11px; 
    font-weight:normal; 
    float:left; 
    margin-right:10px; 
    display:block; 
    width:68px; 
    text-align:right;
}
.signupForm input {
    float:left;
    color:#333333; 
    font-size:11px;
    line-height:24px;
    height:24px;
    border:1px solid #cccccc;
    width:296px; 
    padding-left:5px;
    background-color:#F4F4F4;
            
}
.signupForm input:focus {
    border:1px solid #0d4764;
    background-color:#ffffff;
}
.signupForm a.joinNow:link, 
.signupForm a.joinNow:visited {
    background:url('../../../images/landing_page/join_now_buttons.png') 0 0;
    display:block; 
    width:133px; 
    height:27px; 
    margin:8px 0 8px 78px;
} 
.signupForm a.joinNow:hover { background:url('../../../images/landing_page/join_now_buttons.png') -134px 0; } 
.signupForm a.joinNow:active { background:url('../../../images/landing_page/join_now_buttons.png') -268px 0; } 
.signupForm p.terms {
    line-height:normal; 
    font-size:10px; 
    color: #999999;
    position:relative; 
    left:76px; 
    top:3px; 
    margin:0px; 
    padding:0;
}
.signupForm p.terms a { color: #bde2ff; }
.signupForm .captcha {
    margin-left:73px;
}
.signupForm div.terms a { color: #ccc; }
.signupForm div.terms {color:#ccc;}
.signupForm .loading {
    display: block;
    position: relative;
    left: 77px;
    width:16px;
    height:16px;
    margin-top:8px;
    margin-bottom:19px;
}

/* Signup Form Dropdown control */
.selectBox-dropdown {
    position: relative;
    float:left;
    color:#333333; 
    font-size:11px;
    height:24px;
    border:1px solid #cccccc;
    padding:0;
    margin:0;
    line-height: 24px;
	text-decoration: none;
	display: block;
    background-color:#F4F4F4;
}
.selectBox-dropdown:focus {
    border:1px solid #0d4764;
    background-color:#ffffff;
}
.drpCountry + .selectBox-dropdown, .drpGender + .selectBox-dropdown {
    max-width:301px;
    min-width:301px;  
}
.drpMonth + .selectBox-dropdown {
    max-width:130px;
    min-width:130px;   
}
.drpDay + .selectBox-dropdown {
    max-width:60px;
    min-width:60px;
    margin-left:5px;
    margin-right:5px;   
}
.drpYear + .selectBox-dropdown {
    max-width:97px;
    min-width:97px;   
}
.selectBox-dropdown:hover, 
.selectBox-dropdown:active,
.selectBox-dropdown:focus {
    text-decoration:none;
    color:#333333; 
    background-color:F4F4F4;
}
.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
	padding: 0px 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
	background: url(../../../jscript/selectBox/images/jquery.selectBox-arrow.gif) 50% center no-repeat;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border:1px solid #cccccc; /* should be the same border width as .selectBox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}
.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
	font-size:11px;
	color:#333333;
}
.selectBox-options LI.selectBox-hover A {
    color:#333333;
	background-color: #EBEBEB;
	text-decoration:none;
}
.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
	background-color: #EBEBEB;
}
.selectBox-options .selectBox-optgroup {
	color: #333333;
	background: #FFFFFF;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}

/* Facebook Signup */
.fbSignup {
    float:right;
    font-size:12px;
    color:#666666;
    text-align:center;
    width:225px;
    height:212px;
    padding:110px 40px 0 20px;
    margin-right:5px;
    background:url("../../../images/landing_page/graphic_285x362_registration_facebookStripes.jpg") no-repeat -18px top;
}
.fbSignup img { cursor:pointer; }
.fbSignup p {
    margin:0 0 14px 0;
    padding:0;
    text-shadow:1px 1px #ffffff;
}
.signupForm .fbprofilepic {
    border:1px solid #cccccc;
    margin-left:16px;
}
.signupForm .fbpicquestion {
    position:absolute;
    top:1px;
    left:78px;
    font-size:11px;
}
.signupForm .fbprofilerb {
    position:relative;
    left:20px;
}
.signupForm .fbprofilerb input {
    float:none;
    width:16px;
    height:16px;
    padding:0;
    margin:0 0 0 6px;
    border-style:none;
    background-color:#ffffff;
    position:relative;
    top:-9px;
}
.signupForm .fbprofilerb label {
    float:none;
    text-align:left;
    margin:0 2px 0 2px;
    font-size:10px;
    width:250px;
    line-height:normal;
    display:inline;
    position:relative;
    top:-13px;
    left:4px;
}
.signupForm .fbprofilepiccontainer {
    position:relative;
}