///////////////////////////////////////////////////////////////////////////////
// Copyright Kaneva 2001-2020
// This file is licensed under the PolyForm Noncommercial License 1.0.0
// https://polyformproject.org/licenses/noncommercial/1.0.0/ 
///////////////////////////////////////////////////////////////////////////////

BODY {
	FONT-SIZE: 11px; BACKGROUND-IMAGE: none; MARGIN-LEFT: 1px; COLOR: black; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
P {
	FONT-SIZE: 11px; COLOR: black; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #bd2020; LINE-HEIGHT: normal; FONT-FAMILY: Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; COLOR: #00008e; LINE-HEIGHT: normal; BACKGROUND-REPEAT: repeat; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: white; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: none; COLOR: #cc66cc; LINE-HEIGHT: normal; BACKGROUND-REPEAT: repeat; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	COLOR: black; LIST-STYLE-TYPE: square
}
A:link {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:active {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #00008e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.nav:link {
	FONT-WEIGHT: bold; COLOR: #b7b7b7; TEXT-DECORATION: none
}
A.nav:visited {
	FONT-WEIGHT: bold; COLOR: #b7b7b7; TEXT-DECORATION: none
}
A.nav:active {
	FONT-WEIGHT: bold; COLOR: #b7b7b7; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; COLOR: #blue; TEXT-DECORATION: none
}
A.blurb:link {
	FONT-WEIGHT: normal; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blurb:visited {
	FONT-WEIGHT: normal; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blurb:active {
	FONT-WEIGHT: normal; COLOR: blue; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.blurb:hover {
	FONT-WEIGHT: bold; COLOR: navy; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.footer:link {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Tahoma FONT-SIZE:9px; TEXT-DECORATION: none
}
A.footer:visited {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Tahoma FONT-SIZE:9px; TEXT-DECORATION: none
}
A.footer:active {
	FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Tahoma FONT-SIZE:9px; TEXT-DECORATION: none
}
A.footer:hover {
	FONT-WEIGHT: bold; COLOR: navy; FONT-FAMILY: Tahoma FONT-SIZE:9px; TEXT-DECORATION: none
}
A.home:link {
	FONT-WEIGHT: bold; COLOR: #b5b3b5; TEXT-DECORATION: none
}
A.home:visited {
	FONT-WEIGHT: bold; COLOR: #b5b3b5; TEXT-DECORATION: none
}
A.home:active {
	FONT-WEIGHT: bold; COLOR: #b5b3b5; TEXT-DECORATION: none
}
A.home:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.link2 {
	FONT-SIZE: 11px; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menulink {
	FONT-SIZE: 10px; COLOR: gray; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.boldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.sidebar {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: navy; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: navy; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footercopyright {
FONT-WEIGHT: bold; COLOR: gray; FONT-FAMILY: Tahoma FONT-SIZE:9px; TEXT-DECORATION: none
}
.newscol {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #b5b3b5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bolderlink {
	FONT-WEIGHT: bolder; FONT-SIZE: 10px; COLOR: #333399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.date {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333399; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.presshdr {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #993333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.presshdr2 {
	FONT-SIZE: 12px; COLOR: #3366cc; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titlehead {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #993333; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.lineright {
	BORDER-RIGHT: #b1b0b0 1px solid
}

.rowOdd
{
	background-color: #eeeeee;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	padding-left: 4px;
	padding-right: 4px;	
}

.rowEven
{
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	padding-left: 4px;
	padding-right: 4px;	
}

.paramTitle
{
	background-color: #ffffff;
	font-style: italic;
	font-family: Arial;
	font-size: 14px;
	line-height: 14px;
	padding-left: 4px;
	padding-right: 4px;	
}

.inputField
{
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	line-height: 13px;
	border: 1px solid #666666;
}

.title1 
{
	font-weight: bold;
	font-family: Arial;
	font-size: 15px;
	color: #666666;
}

.title2
{
	font-weight: bold;
	font-family: Arial;
	font-size: 11px;
	line-height: 14px;
}

.adminButton 
{
	font-family: Arial;
	font-size: 10px; 
	line-height: 11px;
	cursor: hand;
}