<%@ Page language="c#" Codebehind="listDetails.aspx.cs" AutoEventWireup="True" Inherits="KEPAdmin.main" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<TITLE>Kaneva Dashboard - Administrator</TITLE>
	</HEAD>
	<FRAMESET border="0" frameSpacing="0" frameBorder="0" cols="381,2,58%">
		<FRAMESET rows="0,100%">
			<FRAME name="code" src="tree-menu/code.aspx?oid=<%# oid %>">
			<FRAME name="menu" marginWidth="0" marginHeight="0" src="tree-menu/menu_empty.html" noResize
				scrolling="auto">
		</FRAMESET>
		<FRAME name="midBar" marginWidth="0" marginHeight="0" src="listMidBar.htm" noResize scrolling="no">
		<FRAME name="accountDetails" marginWidth="0" marginHeight="0" src="NoItem.htm" noResize
			scrolling="auto">
	</FRAMESET>
</HTML>
