/* HEADER */
@charset "UTF-8";
/* CSS Document: Home Page 10-14-08 */

/* FOOTER
*---------------------------------------------------------------------------*/	

.footer {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-size: 10px;
	
}
.footer ul {
	list-style: none;
	margin: 5px 0px;
	padding: 0px;
}
.footer li {
	display: inline;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 10px;
}
.footer a:link, .footer a:visited {
	color: #FFFFFF;
	text-decoration: underline;
	background-color: Transparent;
	font-size: 10px;
	font-weight:normal;
	
}
.footer a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: Transparent;
	font-size: 10px;
	font: normal normal normal inherit;
}
