/* HEADER */
/* CSS Document: Home Page 01-23-09 */

/* CONSTANTS
*---------------------------------------------------------------------------*/	
body {
	margin: 0px;
	padding: 0px;
	font: 12px/16px Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #018aaa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #018aaa;
	background: transparent;
}

img {
	border-width: 0px;
	border-style: none;
}

form {
	margin: 0px;
	padding: 0px;
}

.wrapper {
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background: #FFFFFF;
	padding-bottom: 20px;  
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 19px;
	font-weight:normal;
	color: #0d4764;
	margin: 0px;
	padding: 0px;
}
	
h2 {
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	padding: 0 15px 0px 0;
	margin: 10px 0 0 0;
	}
	
h3 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	padding: 2px 8px 0 8px;
	margin: 0;
	position: relative;
	} 
	
h4 {
	font-size: 14px;
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
	}
	
h5 {
    font-size: 16px;
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    }
    
h6 {
    font-family: verdana, arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size:22px;
	font-weight:bold;
    }
   
 hr {
	background-color: #d9e6e9;
	color: #d9e6e9;
	height: 1px;
	border: 0;
}
   
/*-----------(ERROR MESSAGE BOXES)----------- */
.errBox
{
  width: 100%;
  border:solid red 1px;
  background-color:#ffebe8;
  padding:4px;
  text-align:left;
}

.warningBox
{
  width: 100%;
  border: solid 1px #000000;
  background-color: #fffea9;
  padding: 4px;
  text-align: left;
  font-size: 12px;
}

.infoBox
{
  width: 100%;
  border: solid 1px #000000;
  background-color: #def3fc;
  padding: 4px;
  text-align: left;
  font-size: 12px;
}

.successBox
{
  width: 100%;
  border: solid 1px #000000;
  background-color: #ccffcc;
  padding: 4px;
  text-align: left;
  font-size: 12px;
}

.info
{
	line-height:12px;
	font-size:10px;
	color:#777777;
}

.warning
{
	line-height:14px;
	font-size:12px;
	color:Maroon;
	font-weight:bold;
}
.noresults {width:100%;text-align:center;color:#999;font-size:14px;font-weight:none;padding-top:40px;}
.pager {margin-top:16px;}
/*End error and message box section*/

/* Beging button formatting */
a.button, a.button span
{
    background: transparent url('../../images/base/btn_grey_medium_blank_variable.gif') no-repeat scroll left 0;
    margin: 0 15px 0 0;       /* 15px == amount of background image to the right */
    padding: 0 0 0 15px;      /* 15px == amount of background image to the left */
    display: inline-block;    /* Must be used so that height can be set */
    height: 26px;             /* Same as height of background image */
    font: 12px/24px Verdana, Arial; /* Appropriate font size / line height */
    color: black;
    text-decoration: none;
}

a.button
{
    background-position: right 0;
    margin: 0;
    padding: 0;
}

a.buttonFixed{
background:url(../../images/base/btn_grey_medium_blank.gif);
display:block;
color:#000000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:133px;
}
a:hover.buttonFixed{
color:#000000;
}
/* -------------------- */
/* BUTTON BASE NARROW*/
/* -------------------- */
a.buttonnarrow{
background:url(../../images/base/btn_grey_narrow_blank.gif);
display:block;
color:#000000;
height:26px;
font: 12px/24px Verdana, Arial;
margin-bottom:4px;
text-decoration:none;
width:100px;
}
a:hover.buttonnarrow{
color:#000000;
}

table.detail_table {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
	clear: both;
	}	
table.detail_table tr {
	padding: 0;
	margin: 0;
	}
table.detail_table td {
	padding: 0px 0px 4px 3px;
	margin: 0; 
	}
table.detail_table p {
	padding: 0;
	margin: 0;
	}
table.detail_table table.stats td  {
	padding: 4px 0 0 0;
	margin: 0;
	}
table.detail_table p {
	padding: 0;
	margin: 0;
	}

/*-----------(MODULE STYLES USED THROUGHOUT SITE)-------------- */	
.module {font-size:11px;}
.module {
	margin: 0 0 10px 0;
	padding: 0;
	border-left: 1px solid #d4d5da;
	border-right: 1px solid #d4d5da;
	border-bottom: 1px solid #d4d5da;
	background: #fff url("../../images/bg_module_white.jpg") repeat-x 0 0;
	position: relative;
	display: block;
	text-align: center;
	width:280px;
	color:#535353;
	}
.module span, .bodyModule span {
	text-align: left;
	}
.module table {
	position: relative;
	margin-bottom: -5px;
	}
.module table table, .module table table table {
	position: relative;
	padding: 0;
	margin: 0;
	}
.module p, .module .module p {
	padding: 0;
	margin: 0;
	}
.module table p {
	padding: 0;
	margin: 0;
	}
.whitebg {
	background: #FFFFFF url("../../images/bg_module_white.gif") repeat-x 0 0;
	}
.whitebg table {
	margin : 0 auto;
	text-align: left;
	}
.module .ct, .module .ct .cl, .module .cb, .module .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 13px; position: relative;}
.module .ct, .module .cb { width: 100%; right: -3px;}
.module .ct .cl, .module .cb .cl { width: 12px; left: -6px; }
.module .ct { background: transparent url("../../images/corner-ne.gif") no-repeat top right; top: 0px; }
.module .ct .cl { background: transparent url("../../images/corner-nw.gif") no-repeat top left; }
.module .cb { background: transparent url("../../images/corner-se.gif") no-repeat top right; bottom: -1px; }
.module .cb .cl { background: transparent url("../../images/corner-sw.gif") no-repeat top left; left: -5px; }
.framesize-small {
	width: 85px; 
	position: relative;
	margin: 0;
	overflow: hidden;
	display: block;
	}
	.framesize-small .imgconstrain {
	width: 75px;
	height: 56px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
.frame .imgconstrain a:link, .frame .imgconstrain a {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #000000;
	text-decoration: none;
	}
.frame .imgconstrain a:hover {
	background-color: #000000;
	text-decoration: none;
	}
.frame {
	margin: 0;
	padding: 0 15px 0 15px;
	border: 1px solid #e0e0e0;
	background-color: #fdfdfd;
	position: relative;
	text-align: left;
	}
.frame a:link, .frame a:active, .frame a:visited, .frame a:hover{
	font-size:10px; 
	}
.frame .imgconstrain {
	margin: -1px -15px 0 -12px !important;
	margin: -1px -15px 0 -11px;
	padding: 0;
	display: block;
	text-align: center;
	}
.frame .ct, .frame .ct .cl, .frame .cb, .frame .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 5px; position: relative;}
.frame .ct, .frame .cb { width: 100%; right: -16px;}
.frame .ct .cl, .frame .cb .cl { width: 5px; left: -32px; }
.frame .ct { background: transparent url("../../images/framecorner-ne.gif") no-repeat top right; top: -1px; }
.frame .ct .cl { background: transparent url("../../images/framecorner-nw.gif") no-repeat top left; }
.frame .cb { background: transparent url("../../images/framecorner-se.gif") no-repeat top right; bottom: -1px; }
.frame .cb .cl { background: transparent url("../../images/framecorner-sw.gif") no-repeat top left; }

.small {font-size:9px;line-height:12px;}
#contest .title {color:#fd9220;font-size:25px;font-weight:bold;padding:0 0 20px 18px;}
#contest h2 {font-size:20px;color:#14688a;text-align:left;}
