/* HEADER */

#navigation
{
	background-color: #0d4764;
	width:100%;
	height:55px;
	background-image: url(../../images/Brochure/kaneva_developers_tile_7x55.gif);
	background-repeat:repeat-x;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

 #navBar
 {
	width:1004px;
	text-align:center;
	height:55px;	
	vertical-align:middle;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
 
 #logo
 {
	margin: 0px 4px 0px 20px;
	width:170px;
	text-align:left;
	padding:0px 0px 0px 0px;
	float:left;
	height:55px;
 }
 
 #menu
 {
 	margin: 15px 0px 0px 20px;
	float:right;
	height:25px;
	display:block;
	text-align:right;
}


/*#menu li
{
	list-style: none;	
}

#menu li a
{
	color: #FFFFFF;
	padding: 0 0 0 0px;
	margin: 0;
	list-style: none;	
}*/

.navItemContainer
{
	border-right: 2px solid orange;
	float:left;
	padding: 0 8px 0 8px;
	margin: 2px 0px 0px 0px;
	line-height:20px;
}

.navItemContainer a
{
	color: #FFFFFF;	
}

.navItemContainerEnd
{
	padding: 0 8px 0 8px;
	margin: 2px 0px 0px 0px;
	float:left;
	line-height:20px;
	color: #FFFFFF;	
}

.navItemContainerEnd a
{
	color: #FFFFFF;	
}

