/* HEADER */

#EditorID {}
#EditorID IMG { border:0px;display:inline;}

#EditorID .CuteEditorSelect { font:normal 11px Tahoma; margin-left:1px; margin-top:1px; height:21px; vertical-align:middle;}
#EditorID .CuteEditorDropDown { display: block; float: left; clear:right; padding:0; margin:2px 1px 1px 1px; width:80px; vertical-align:middle;border: #dddddd 1px solid!important;}
#EditorID .CuteEditorDropDown Li {LIST-STYLE-TYPE: none;padding:0;}
#EditorID .CuteEditorDropDown Span {font:normal 11px Tahoma;}
#EditorID .CuteEditorToolbar {}
#EditorID .CuteEditorToolBarContainer {padding:3px 3px 1px 3px;height:1;overflow-y:visible;}
#EditorID .CuteEditorFrameContainer {width:100%;height:100%;padding:0;margin:2px 0 0px 0px;}
#EditorID .CuteEditorBottomBarContainer {padding:3px 3px 3px 3px;height:1;overflow-y:visible;}
#EditorID .CuteEditorGroupMenu {display: inline; float: left; height:24px; vertical-align:middle;}
#EditorID .CuteEditorGroupMenuCell{background-image: url(images/horizontal.start.gif); background-repeat:no-repeat; background-position:left center;padding-left:7px;}
#EditorID .CuteEditorLineBreak {padding:0px; height:0px; margin:0px}
#EditorID .CuteEditorFrame {width:100%;height:100%;padding:0px 0 0px 0px;border-top: #dddddd 1px solid!important;border-bottom: #cccccc 1px solid!important;border-left: #ffffff 0px solid!important;border-right: #ffffff 0px solid!important;}
#EditorID .CuteEditorButton { margin:1px; vertical-align:middle;}
#EditorID .CuteEditorButtonActive { margin:0px; vertical-align:middle; border:#0a246a 1px solid!important; background-color:#d4d5d8;}
#EditorID .CuteEditorButtonOver { margin:0px;vertical-align:middle;border:#0a246a 1px solid!important; background-color:#b6bdd2;}
#EditorID .CuteEditorButtonDown { border-right: buttonhighlight 1px solid!important; border-TOP: buttonshadow 1px solid!important; border-left: buttonshadow 1px solid!important; border-bottom: buttonhighlight 1px solid!important; margin:0px;vertical-align:middle; }
#EditorID .CuteEditorButtonDisabled { /* filter:gray alpha(opacity=25); margin:1px;vertical-align:middle; */ margin:1px;vertical-align:middle;}
#EditorID .ToolControl{}
#EditorID .ToolControlOver{}
#EditorID .ToolControlDown{}
#EditorID .separator {background-image: url(images/Separator.gif); height:22px; background-repeat: no-repeat; vertical-align:middle; width:2px;margin-left:2px; margin-right:2px;	}

/*case sensive for CSS1*/
#EditorID #cmd_tofullpage.CuteEditorButtonActive { display:none }
#EditorID #cmd_fromfullpage.CuteEditorButton { display:none }

