/* HEADER */
/* CSS Document: Home Page 9/27/2012 */


/* IMPORTED STYLE SHEETS
*---------------------------------------------------------------------------*/	
@import url(../homeTestBase.css);
@import url(../homeTestNav.css);
@import url(../homeTestFooter.css);


/* TOP-LEVEL OVERRIDES
*---------------------------------------------------------------------------*/	
html, body, form, #wrapper {
    height:100%;
}
body {
    background-color:#000000;
    background-image:none;
}
#wrapper {
    min-height:778px;
    max-height:1280px;
    position:relative;
}
input, a {
    outline:none;
}


/* HOMEPAGE HEADER
*---------------------------------------------------------------------------*/	
.nav_wrapper {
    width:100%;
    height:62px;
    background:#ffffff url('../../../images/home_signup/graphic_400x62_greyNoiseHeader.jpg') repeat-x left top;
}
.mastHead .logo {
    width:165px;
    height:35px;
    margin-top:18px;
    margin-left:20px;
    background:url('../../../images/home_signup/logo_165x26_kanevaLogo.png') no-repeat left top;
}
.mastHead .logo a {
    width:165px;
    height:35px;
}
.mastHead .signIn {
    color:#999999;
    font-size:11px;
    margin:20px 32px 0 0;
    padding:0;
    text-shadow:1px 1px #101010;
}
.mastHead .signIn a:link, .mastHead .signIn a:visited, .mastHead .signIn a {
    text-decoration:none;
    color:#ffffff;
}
.mastHead .signIn a:hover, .mastHead .signIn a:active {
    text-decoration:underline;
}

/* HOMEPAGE MAIN CONTENT
*---------------------------------------------------------------------------*/	
.content_wrapper {
    width:862px; 
    height:413px;
    text-align:left; 
    margin: 0 auto 0 auto;
    padding:36px 64px 0 64px;
}
.welcomeMessage {
    float:left;    
    position:relative;
}
.welcomeMessage h1 {
    font-size:28px;
    color:#0E4B60;
    font-weight:normal;
    line-height:20px;
    margin:0;
}
.welcomeMessage h2 {
    font-size:16px;
    color:#0E4B60;
    font-weight:normal;
    margin-left:2px;
}
.welcomeMessage .flyingElephant {
    position:absolute;
    top:140px;
    left:200px;
}


/* SIGNUP FORM & NON-SELECT INPUTS
*---------------------------------------------------------------------------*/	
.signupForm {
    width:322px; 
    height:383px;
    float:right; 
    position:relative;
    background:url('../../../images/home_signup/graphic_327x413_boxStartNow.png') no-repeat left top;
    padding:15px 10px 15px 5px;
}
.signupForm h2 {
    color:#ffffff; 
    font-size:16px; 
    font-weight:normal; 
    position:relative; 
    left:78px; 
    margin:0 0 12px 0;
    padding:0;
}
.signupForm div {
    padding:0 0 6px 0; 
    line-height:24px;
}
.signupForm label {
    color:#ffffff; 
    font-size:11px; 
    font-weight:normal; 
    float:left; 
    margin:0 6px 0 0; 
    display:block; 
    width:72px; 
    text-align:right;
}
.signupForm input {
    float:left;
    color:#333333; 
    font-size:11px;
    height:24px;
    border-style:none;
    width:221px; 
    padding:0 0 0 5px;
    background:url("../../../images/home_signup/input_226x24_mainLongUp.png") no-repeat left top;
}
.signupForm input:focus {
    background:url("../../../images/home_signup/input_226x24_mainLongSelected.png") no-repeat left top;
} 
.signupForm input.postalCode {
    width:45px;
    background:url("../../../images/home_signup/input_50x24_zipCODEUp.png") no-repeat left top;
}
.signupForm input.postalCode:focus {
    background:url("../../../images/home_signup/input_50x24_zipCODESelected.png") no-repeat left top;
}
.signupForm a.startNow:link, 
.signupForm a.startNow:visited {
    background:url('../../../images/home_signup/btn_117x33_orangeStartNowUp.png') no-repeat left bottom;
    display:block; 
    width:118px; 
    height:35px; 
    position:relative; 
    left:76px; top:3px;
} 
.signupForm a.startNow:hover {
    background:url('../../../images/home_signup/btn_117x33_orangeStartNowOver.png') no-repeat left bottom;
} 
.signupForm a.startNow:active {
    background:url('../../../images/home_signup/btn_117x33_orangeStartNowDown.png') no-repeat left bottom;
} 
.signupForm p.terms {
    line-height:normal; 
    font-size:10px; 
    color: #bde2ff; 
    position:relative; 
    left:76px; 
    top:3px; 
    margin:0px; 
    padding:0;
}
.signupForm p.terms a {
    color: #ffffff;
}
.signupForm p.terms a:link, .signupForm p.terms a:visited {
    text-decoration:none;
}
.signupForm p.terms a:hover, .signupForm p.terms a:active {
    text-decoration:underline;
}



/* HOMEPAGE BOTTOM CONTENT
*---------------------------------------------------------------------------*/	
.bottom_outer_wrapper {
    height: 234px;
	width:100%; 
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    padding:0;
}
.bottom_inner_wrapper {
    height: 234px;
    text-align:left; 
    text-shadow:1px 1px #101010;
    margin:0 auto 0 auto;
    padding:0;
    background:url("../../../images/home_signup/graphic_1x234_footerBackground.png") repeat-x left top;
}
.seo_wrapper {
    width:970px;
    margin: 0 auto 0 auto;
}
.seo {
	color: #3ec3e3;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
}
.seo h1 {
    font-size: 14px; 
    font-family: verdana, arial, sans-serif; 
    text-align: left; 
    color: #ffffff; 
    padding: 10px 0px 0 0px; 
    margin: 0; 
    position: relative;
    line-height: 16px;
}
.seo h2 {
    font-size: 14px;
    font-family: verdana, arial, sans-serif;
    color: #ffffff; 
    text-align: left; 
    padding: 0;
    margin: 0;
    line-height: 16px;
}
.seo h3 {
	margin: 10px 0px 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
}
.seo h4 {
	margin: 0px 0px 10px;
	padding: 0px;
	font-size: 12px;
	line-height: 16px;
}
.seo p {
	margin: 5px 0px;
	padding: 0px;
	text-align:left;
	font-size:12px; 
	color:#ffffff;
}
.seo a:link, 
.seo a:visited {
    font-weight:bold;
    text-decoration: underline;
    font-size:12px; 
    color:#ffffff;
}
.seo a:hover {
    text-decoration: none;
}
.footer a:link, 
.footer a:visited {
    text-decoration:none;   
}
.footer a:hover, 
.footer a:active{
    text-decoration:underline;   
}
.footer li {
    margin-left:1px;
    margin-right:1px;
}


/* JQUERY SELECTBOXES
*---------------------------------------------------------------------------*/	
/* Dropdown control */
.selectBox-dropdown {
    position: relative;
    float:left;
    color:#333333; 
    font-size:11px;
    height:24px;
    border-style:none;
    padding:0;
    margin:0 5px 0 0;
    line-height: 24px;
	text-decoration: none;
	display: block;
}
.selectBox-dropdown:hover, 
.selectBox-dropdown:active,
.selectBox-dropdown:focus {
    text-decoration:none;
    color:#333333; 
}
.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
	padding: 0px 5px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
	background: url(../../../jscript/selectBox/images/jquery.selectBox-arrow.gif) 50% center no-repeat;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border-style:none; /* should be the same border width as .selectBox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}
.selectBox-options LI A {
	line-height: 1.5;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
	font-size:11px;
	color:#333333;
}
.selectBox-options LI.selectBox-hover A {
    color:#333333;
	background-color: #EBEBEB;
	text-decoration:none;
}
.selectBox-options LI.selectBox-disabled A {
	color: #888;
	background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
	background-color: #EBEBEB;
}
.selectBox-options .selectBox-optgroup {
	color: #333333;
	background: #FFFFFF;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
/* Individual Dropdowns - Selected by location in regards to the <select> */
.signupForm select.genderSelect + .selectBox-dropdown {
    color:#333333;
    min-width:226px;
    max-width:226px;
    background:url("../../../images/home_signup/input_226x24_mainLongUp.png") no-repeat left top;
}
.signupForm select.genderSelect + .selectBox-dropdown:focus {
    color:#333333;
    background:url("../../../images/home_signup/input_226x24_mainLongSelected.png") no-repeat left top;
}
.signupForm select.monthSelect + .selectBox-dropdown {
    color:#333333;
    min-width:94px;
    max-width:94px;
    background:url("../../../images/home_signup/input_94x24_monthUp.png") no-repeat left top;
}
.signupForm select.monthSelect + .selectBox-dropdown:focus {
    color:#333333;
    background:url("../../../images/home_signup/input_94x24_monthSelected.png") no-repeat left top;
}
.signupForm select.daySelect + .selectBox-dropdown {
    color:#333333;
    min-width:61px;
    max-width:61px;
    background:url("../../../images/home_signup/input_61x24_dayyearUp.png") no-repeat left top;
}
.signupForm select.daySelect + .selectBox-dropdown:focus {
    color:#333333;
    background:url("../../../images/home_signup/input_61x24_dayyearSelected.png") no-repeat left top;
}
.signupForm select.yearSelect + .selectBox-dropdown {
    color:#333333;
    min-width:61px;
    max-width:61px;
    background:url("../../../images/home_signup/input_61x24_dayyearUp.png") no-repeat left top;
}
.signupForm select.yearSelect + .selectBox-dropdown:focus {
    color:#333333;
    background:url("../../../images/home_signup/input_61x24_dayyearSelected.png") no-repeat left top;
}
.signupForm select.countrySelect + .selectBox-dropdown {
    color:#333333;
    min-width:226px;
    max-width:226px;
    margin:0;
    background:url("../../../images/home_signup/input_226x24_mainLongUp.png") no-repeat left top;
}
.signupForm select.countrySelect + .selectBox-dropdown:focus {
    color:#333333;
    background:url("../../../images/home_signup/input_226x24_mainLongSelected.png") no-repeat left top;
}