body{font-family: Verdana; font-weight: normal; font-size: 11px;}
#dvMailerNav {padding: 10px 5px; background: #cccccc; }

#dvContent {padding-top: 10px;}

#dvRside {float: right; border-left: 1px solid #000000; padding-top: 20px; padding-left: 20px;}
#dvRside div {margin-bottom:10px;}

#dvLsideNav {float: left; padding-right:20px; padding-top:10px; height:1000px;}
#dvLsideNav ul { padding-left:20px; }

#dvTypeHelper {width:300px;}
#dvTemplatePreview {width:610px;}
#dvTemplateEdit{ width:610px;}
#dvTypeEdit {padding: 10px 0px; }


#dvFilters {width: 800px; background-color: #EFF2D2; margin-bottom:10px; margin-top:10px; }
p{padding: 0px; margin: 5px; }
td,th{vertical-align:top;padding:4px;}