<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TemplateActivity.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.Administration.Tools.Email.Mailer.TemplateActivity" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <table>
      <tr>
        <td>Template</td>
        <td>Date First</td>
        <td>Date Last</td>
        <td>Sent</td>
        <td>Opens</td>
        <td>Clicks</td>
        <td>Joins</td>
        
      </tr>
    
    </table>
    
    </div>
    </form>
</body>
</html>
