<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Check out Kaneva 3D Member Homes
MetaDataTitle: <meta name="title" content="Check out Kaneva 3D Member Homes" />
MetaDataDescription: <meta name="description" content="Design and decorate your ultimate 3D home... Show off your favorite videos, pics and cool stuff! Check out these cool 3D homes. Every Kaneva member gets a free 3D home. What are you waiting for?" />
MetaDataKeywords: <meta name="keywords" content="3d home, 3-d home" />




<span class="widgetTitle">
<p>Member Homes<br /></p>
</span>


<table border="0" cellpadding="0" cellspacing="20" width="100%">
    <span style="font-weight: bold; font-size: 10pt; color: rgb(126, 103, 31); font-family: Verdana;">Give Your Home A Signature Style<br />
    </span>Make your 3D home your own. Personalize wallpaper, change the flooring, select from a variety of furniture styles -- contemporary American, Euro chic, retro -- and display your favorite photos on your walls. Best of all, you can buy an expanding array of premium home decor items to give your crib its signature style.
    <tbody>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="20" width="100%">
    <tbody>
    </tbody>
</table>
<center>
<div style="text-align: center;"><br />
<embed name="featured-homes" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://streaming.kaneva.com/media/communities/wok/homes/featured-homes.swf" type="application/x-shockwave-flash" quality="high" bgcolor="#ffffff" allowscriptaccess="sameDomain" align="center" height="390" width="460"></div>
    </center>
    <div style="text-align: left;"><span style="font-weight: bold; font-size: 10pt; color: rgb(126, 103, 31); font-family: Verdana;">Floor Plans<br />
    </span>Everyone in the Virtual World receives the deed to a starter studio apartment.&nbsp; Need more room? Upgrade to a more elaborate floor plan.&nbsp; Click below to scan your options:<br />
    <br />
    <center><a href="http://shop.kaneva.com/Catalog.aspx?cId=4"><img alt="" src="http://images.kaneva.com/media/wokcommunity/4-floorplans.jpg" border="0" height="74" width="486" /></a> </center><br />
    </div>
    <br />


Move-In Special Manor Home

<span style="font-weight: bold; font-size: 10pt; color: rgb(126, 103, 31); font-family: Verdana;">Move In Special</span><br />
<br />
Want the biggest crib on the block?&nbsp; Get the Move In Special, a first-time buyer bonus pack with 9,000 Credits, an exclusive Manor House, stairway, big screen TV and more.&nbsp; Also included: building blocks so you can create a personalized "McMansion" in 3D, custom lighting, and more.<br />
<br />
<div align="center"><img alt="" src="http://images.kaneva.com/media/wokcommunity/custom-manor.jpg" height="405" width="521" /></div>
<br />


Move Up, Live Large!

<br />
<table border="0" cellpadding="0" cellspacing="20" width="100%">
    <span style="font-weight: bold; font-size: 10pt; color: rgb(126, 103, 31); font-family: Verdana;">Live Your Dreams<br />
    </span>For the right price, you can upgrade your apartment for a Loft, Condo or -- for serious strivers -- a City Home with spectacular skyline view of the surrounding metropolis.&nbsp;&nbsp;
    <tbody>
    </tbody>
</table>
<div style="text-align: center;"><br />
<img alt="" src="http://images.kaneva.com/media/wokcommunity/custom-shower.jpg" height="295" width="380" /><br />
<br />
<img alt="" src="http://images.kaneva.com/media/wokcommunity/kerryangels-manor.jpg" height="283" width="380" /><br />
<br />
<img alt="" src="http://images.kaneva.com/media/wokcommunity/custom-tub.jpg" height="283" width="380" /><br />
<br />
<br />
</div>
<table border="0" cellpadding="0" cellspacing="20" width="100%">
    <tbody>
    </tbody>
</table>

