<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva Avatar Community Hangouts
MetaDataTitle: <meta name="title" content="Kaneva Avatar Community Hangouts" />
MetaDataDescription: <meta name="description" content="Build your own 3D hangout. Every avatar community needs a place to hang out! When you start a Kaneva community, you get a FREE 3D hangout to host events, chat, and share video. Find a community centered around an interest of yours, and meet people you have something in common with." />
MetaDataKeywords: <meta name="keywords" content="online avatar community, avatar 3d hangouts, create a community, virtual community" />



<table cellspacing="20" cellpadding="0" width="100%" border="0">
<tr>
<td>
    <span style="font-weight: bold; font-size: 10pt; color: #7e671f; font-family: Verdana">Meet up, Chat, Share Media, Party!</span><br />
    Running a Kaneva Community that's attracting Raves and members?&nbsp; In the Virtual World, every Community receives a FREE 3D hangout to host events, chat and share video. <br />
    <br />
</td>
</tr>
</table>


<div style="text-align: center"><embed name="featured-hangouts" pluginspage="http://www.macromedia.com/go/getflashplayer" align="center" src="http://streaming.kaneva.com/media/communities/wok/hangouts/featured-hangouts.swf" width="460" height="390" type="application/x-shockwave-flash" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high"><br />
</div>

<table cellspacing="20" cellpadding="0" width="100%" border="0">
<tr>
<td>
    <span style="font-weight: bold; font-size: 10pt; color: #7e671f; font-family: Verdana">Laughster in 3D</span> <br />
    Go to a place where laughter reigns and hilarity is king. Club Laughster is the new 3D hangout for Kaneva's <a title="Laughster" href="http://kaneva.com/laughster">popular comedy community</a>, featuring a stage for virtual stand-ups, a sleek bar, a neon-infused dance floor and a poster gallery of comedy greats. <br />
    <br />
</td>
</tr>
</table>

<div style="text-align: center"><img style="width: 521px; height: 405px" height="405" alt="" src="http://images.kaneva.com/media/wokcommunity/laughster-community.jpg" width="521" /><br />
</div>
<br />

<table cellspacing="20" cellpadding="0" width="100%" border="0">
<tr>
<td>
    <span style="font-weight: bold; font-size: 10pt; color: #7e671f; font-family: Verdana">Mod Cars, Hot Chics ... Virtual Clubhouse</span> <br />
    Nothing says "fast and furious" like NOPI.&nbsp; A leading retailer of accessories for the mod car crowd, NOPI is also well known for its full throttle national car shows -- a weekend of revved-up racing, burn-outs and swimsuit showdowns. <br />
    <br />
    NOPI fans now have their own pimped out clubhouse in the Virtual World, launched in conjunction with two new Kaneva contests -- the&nbsp; Get Your Ride Raved Giveaway and the <a title="Raved models" href="/channel/NOPICHIC.channel">Most Raved Model Search</a>.&nbsp; Check 'em out! <br />
    <br />
    <br />
    <div style="text-align: center"><img style="width: 521px; height: 405px" height="405" alt="" src="http://images.kaneva.com/media/wokcommunity/nopi-community.jpg" width="521" /><br />
    </div>
    <br />
    <hr />

</td>
</tr>
</table>

<table cellspacing="20" cellpadding="0" width="100%" border="0">
<tr>
<td>
    <span style="font-weight: bold; font-size: 10pt; color: #7e671f; font-family: Verdana">Anime Fans, Unite (in 3D)! </span><br />
    Are you all things Anime?&nbsp; Now you and fellow Fanimes can chat, dance to the beats of AMVs (Anime Music Videos for the uninitiated), and peruse a 3D gallery of fine FanArt in the new&nbsp;<a title="Hardcore Anime" href="http://kaneva.com/anime">Hardcore Anime</a> 3D club.&nbsp;&nbsp;&nbsp;Get there by searching "Hardcore Anime" under Hangouts. <br />
    <br />
    <br />
    <div style="text-align: center"><img style="width: 521px; height: 405px" height="405" alt="" src="http://images.kaneva.com/media/wokcommunity/hardcore-anime-avatars.jpg" width="521" /> <br />
    </div>
    <br />

</td>
</tr>
</table>
