<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva News for Your Virtual Life
MetaDataTitle: <meta name="title" content="Kaneva News for Your Virtual Life" />
MetaDataDescription: <meta name="description" content="Your guide to the virtual world. What's happening, what's hot, what's what. The news that's important in the virtual world and to your virtual life." />
MetaDataKeywords: <meta name="keywords" content="virtual life, create a virtual life, virtual life games, free virtual life games, my virtual life" />


<style type="text/css">
<!--
.style1 {
font-size: 9px;
font-style: italic;
}
-->
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
 
                           <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>New Avatar Faces are Coming Soon!</h5>
                                    <i>Posted July 29, 2008</i>

                                    <p>You asked, and we listened. Due to popular demand, we've made some exciting design changes to Avatar faces.</p>

                                    <p>Coming soon, your all-new Avatar will have:</p>

                                    <ul><li>More realistic features: Every day is now a good hair day in Kaneva&#151;you'll love your life-like hair.
                                    <p></p>
                                    <li>More customizable options: New and improved facial features allow you to better express the real you!
                                    <p></p>
                                    <li>More variety: The combinations are endless . . . and you can recreate your Avatar at any time for FREE!</li></ul>

                                    <p>Get ready to reveal your new face to the World! Stay tuned for more details.</p>

                                    <p>For more information and discussion, <a href="http://forums.kaneva.com" target="_blank">check out the Kaneva forums.</a> </p>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />  
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                        <h5>Chat with the Cast of My Boys &#151; Live, in the World of Kaneva</h5>
                                        <i>Posted July 18, 2008</i>

                                        <p>Join us <b>Thurday, July 24th at 10 p.m. Eastern</b> in the TBS HQ to chat live with the stars of My Boys&#151;the hit TBS comedy about a Chicago sports writer and her posse of guy friends.</p>


                                        <p>Get the inside scoop on the Crowley's gang from the stars themselves, and have your questions answered live!</p>

                                        <p>Set to participate in the chat are <b>Jordan Spiro</b> (PJ), <b>Reid Scott</b> (Brendan), <b>Jamie Kaler</b> (Mike), <b>Michael Bunin</b> (Kenny), <b>Kyle Howard</b> (Bobby), and <b>Kellee Stewart</b> (Stephanie).</p>

                                        <p>Episodes of My Boys air on TBS Thursdays at 9:30 Eastern.</p>

                                        <a href="http://www.kaneva.com/kgp/playwok.aspx?goto=C-29"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/myboys_chatThursday_300x250.jpg" border=0 /></a>

                                        <p><b>New to Kaneva?</b></p>

                                        <p>To join us, follow these simple instructions:</p>

                                        <p><i>Important: The time it takes to download the software varies, so start early (no later than 9 p.m. Eastern).</i></p>

                                        <p><b>Step 1: Join Kaneva & Download the World of Kaneva 3D program</b></p>

                                        <p>Point your web browser to www.kaneva.com, click the <b>Join</b> link at the top of the page, and then follow the instructions.</p>

                                        <p><b>Step 2: Enter the World of Kaneva</b></p>

                                        <ul><li>Double-click the World of Kaneva icon on your Windows desktop.
                                        <p></p>
                                        <li>Sign in using your email address and password. 
                                        <p></p>
                                        <li>Create your Avatar, and then click the <b>Play</b> button. </li></ul>

                                        <p>You will find yourself in the Help Center, which is a short series of rooms where you can learn how to get around the World of Kaneva. Follow the green arrows through the rooms, and ultimately to your apartment.</p>

                                        <ul><li>Click the <b>Go Places</b> button at the bottom of your screen.
                                        <p></p>
                                        <li>Click the <b>TBS HQ</b> icon on the World Map that appears. </li></ul>
                                        <p>You'll be instantly transported to the TBS Headquarters. Enter the building on your left and then follow the signs (and the crowd) to the giant TV in the lobby.</p>
                                    </td>
                              </tr>
                            </tbody>
                        </table> 
                        
                        
                        
                        <hr /><br />      
                        
                        
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
<h5>Rooftop Fashion & Merchandise Show -- Live in the World of Kaneva</h5>
<i>Posted June 12, 2008</i>

<p>Join us <b>Thursday, June 12, at 9:00 pm Eastern</b> in Kaneva City for the Rooftop Fashion & Merchandise Show. Come check out the latest and greatest Kaneva fashions and must-have accessories! You won't want to miss it!</p>

<img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/1741_300x250_v0.jpg" border="0">

<p><b>New to Kaneva?</b></p>

<p>To join us, follow these simple instructions:</p>

<p class="note">Important: The time it takes to download the software varies, so start early (no later than 8 pm Eastern).</p>

<p>Step 1: Join Kaneva & Download the World of Kaneva 3D program</p>

<p>Point your web browser to www.kaneva.com, click the <b>Join</b> link at the top of the page, and then follow the instructions.</p>

<p>Step 2: Enter the World of Kaneva</p>

<p>Double-click the World of Kaneva icon on your Windows desktop, then sign in using your email address and password. Once you've signed in, create your avatar, and then click the <b>Play</b> button. You will find yourself in the Help Center, which is a short series of rooms where you can learn how to get around the World of Kaneva.

<p>Follow the green arrows through the rooms, and ultimately to your apartment.

<p>Click the <b>Go Places</b> button at the bottom of your screen and choose <b>Kaneva City</b>. You'll be instantly transported to Kaneva City, where you can follow the signs and the crowd!</p>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />
                        
                        
                        
                        
                        
                        
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Islands in the Sun Contest Winners</h5>
                                    <p><em>Posted June 11, 2008</em></p>
                                    <p>
                                    	If the ocean's calling you but Summer vacation is still weeks away, we've  got the perfect escape. Kick off your shoes and visit the winners of our latest building contest.
                                    </p>
									  <p>
                                      <strong>The 7 Third Place winners, in no particular order, are as follows.</strong>
                                      </p>
                                      <ol>
                                      	<li>BigCity  &#8212; Kokomo Island</li>
                                      	<li>Jay_Larsen  &#8212; Jungle Island</li>
                                      	<li>foxyde  &#8212; Topaz Isle</li>
                                      	<li>Jaydman  &#8212; Island Excotica</li>
                                      	<li>SumGurl07  &#8212; Lust Island</li>
                                      	<li>gameboy432  &#8212; Beach Island</li>
                                      	<li>CADILLAC_JACK_007  &#8212; Safe_harbor</li>
                                      </ol>
                                      <p>
										  <strong>The 2 Second Prize winners are as   follows:</strong>
                                      </p>
                                      <ul style="list-style: none;">
                                      	<li>zanygal  &#8212; Pirate Cove</li>
                                      	<li>NyMinute  &#8212; New York Breezy Point </li>
                                      </ul>
                                      <p>
										  <strong>And the   Grand Prize winner is:</strong><br />
                                      nailcreations, with The Bermuda Triangle. Congratulations!
                                      </p>
                                      <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/bermuda_triangle.gif" alt="The Bermuda Triangle"  hspace="5" border="0" />                                    </p>
                                    <p>These are all 3D hangouts, so to visit them, sign in to the World of Kaneva 3D program, click <b>Go Places</b> then <b>Community Hangouts</b>, then type in the hangout name and click <b>Search</b>.
                                    </p>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />
                        
                          <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Earth Day Safari Winners</h5>
                                    <em>Posted May 7, 2008</em><br />
                                    <br />
                                    <p>We challenged you to use your Green Acres deed to make an outdoor space and boy, did you guys come through! There were so many great entires, it was tough picking winners, but here they are;<br />
                                      <br />
                                      <strong>The 7 Third Place winners, in no particular order, are as follows.</strong><br />
                                      <br />
                                      1. gameboy432   &#8212;Yellowstone park <br />
                                      <br />
                                      2. nailcreations    &#8212;Nailcreations and EvilvOGs   Cottage<br />
                                      <br />
                                      3. lexluthorswife    &#8212;Tree huggers<br />
                                      <br />
                                      4. Anastasia_baby    &#8212;Sensual   Touch<br />
                                      <br />
                                      5. MrsCaptainHarley    &#8212;Harleys<br />
                                      <br />
                                      6. carrieg    &#8212;Kaneva   Vegas<br />
                                      <br />
                                      7. Lady_Dianne    &#8212;D greenery<br />
                                      <br />
                                      <strong>The 2 Second Prize winners are as   follows:</strong><br />
                                      <br />
                                      InvaderV    &#8212;Secret Oasis<br />
                                      <br />
                                      BigCity    &#8212;Eagles Nest<br />
                                      <br />
                                      <strong>And the   Grand Prize winner is:</strong> Qchele with Garden of Hidden Secrets. Congrats Q!<br /><br />
                                      <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/qchele.jpg" alt=""  hspace="5" border="0" />                                    </p>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Let's Go On Safari!</h5>
                                    <em>Posted April 10, 2008</em><br />
                                    <br />
                                    <p>It's time for the Kaneva Earth Day Great Outdoors Contest. Build  one of the best outdoor destinations and win your spot on the Safari.&nbsp; It could be a nature reserve, an animal park,  a garden, or even a spectacular waterfall &ndash; anything nature and earth-related built  &nbsp;using a Green Acres deed!</p>
                                    <p>                                      Then we go on Safari! Kaneva members from far and wide will join  us in a tour of the winning spaces, dodging wild animals and ducking under  waterfalls.</p>
                                    <p>                                      The winners and Safari destinations will be announced April  22nd, Earth Day. &nbsp;Corelli will lead the  adventure, starting at 9pm eastern time. </p>
                                    <p>For all the rules and to enter, visit <a href="http://forums.kaneva.com/showthread.php?t=3489" target="_blank">this thread</a> in the forums!<br />
                                    </p>
                                  <p>See you on Safari! </p></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />

                  <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>We've Got The Whole World, On Our Map</h5>
                                    <em>Posted April 2, 2008</em><br />
                                    <br />
                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/worldmap.jpg"  hspace="5" border="0" align="right" />
                                    <p>If you were traveling the whole world, you'd need a map. So, now, in the Virtual World, we give you one. Introducing the new Travel Map!</p>
                                    <p>Simply click &quot;Go Places&quot; in your menu bar, and you will see the magical wonder that is the Travel Map. It shows you all the Public Kaneva places you can visit with a single click of your mouse.</p>
                                    <p>Also listed is the Community Hangouts area, where you can see the current Hangouts, filled with party people. </p>
                                    <p>Check it out. Click &quot;Go Places&quot; in world, and see the entire Virtual World at once.<br />
                                    </p>
                                    <p><br />
                                    </p></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />


                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Kaneva Announces Dance Fame and Renovated 3rd Dimension Club</h5>
                                    <em>Posted March 21, 2008</em><br />
                                    <br />
                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/dp3d_theWomb_300x250.jpg"  hspace="5" border="0" align="left" />
                                    <p>Dance Party 3D &ndash; the DDR-style game that&rsquo;s kept Kaneva clubs hopping &ndash; is taking the fun to a whole new level.</p>
                                    <p>NOW: Dance your way to Rewards, prestige, and prizes with <a href="http://www.kaneva.com/3d-virtual-world/dp3d-dance-fame.kaneva">Dance Fame</a>.</p>
                                    <p>And to kick it off, we&rsquo;re throwing the party of the year in the 3rd Dimension and Underground clubs, with House DJs streaming live directly from the Winter Music Conference in Miami, Florida. Join us for the party, and get on the Road to Fame and Fortune!</p>
                                    <p><br />
                                    </p></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr /><br />
                       
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>St Patty's Pubs Win with the Luck of the Irish</h5>
                                    <em>Posted March 19, 2008</em><br />
                                    <br />
                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/stpattys_clubs2.jpg" width="480" height="296"  hspace="5" border="0" />
                                    <p>Check out the March contest winners on the Contest Page</p>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>A Whole New Dimension</h5>
                                    <em>Posted March 13, 2008</em><br />
                                    <br />
                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/new3rd-dim.jpg" width="480" height="381" hspace="5" border="0" />
                                    <p>The 3rd Dimension Dance Club is undergoing a serious refurbishing, and its looking hot! With laser lights, two huge aquariums, a killer curved bar, not to mention a huge dance floor, the new and improved club will really knock your socks off.</p><p>Coming soon!</p>
                                                                       </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>A "Radial" New Way To Learn About People!</h5>
                                    <em>Posted March 5, 2008</em><br />
                                    <br />
                                    <p><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/new_profile_menu.jpg" hspace="5" border="0" align="left" /></a>Coming soon, when you right click on an avatar to learn more about them, you will be presented with Kaneva's new "Radial" Profile Menu. </p>
                                  <p>The menu choices, such as Rave and Add To Friends, will surround the avatar you've clicked on. Their profile picture and name will appear as well. Also, when you click "View Profile" it will take you directly to that person's web profile page!</p>
                                  <p>Good looking and easy? Who could ask for anything more?</p></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                        
                        
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Collectibles are hot and going fast!</h5>
                                    <em>Posted February 22, 2008</em><br />
                                    <br />
                                    <p><a href="http://shop.kaneva.com/CatalogLanding.aspx?cId=35"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/limitedtime-sticker2.jpg" width="154" height="155" hspace="5" border="0" align="right" /></a>Did you miss Seattle? </p>
                                  <p>Both the Seattle and the Hollywood snow globe are no longer is stores, and can only be attained in a trade! Thusly begins the in-world fun that is <i>Collectibles.</i> </p><p>Look for the Limited Time badge to see items that are in stores now, but only for a shot time. Rare badges mean you can't buy them anymore and will have to trade.</p>Go see the <a href="http://shop.kaneva.com/CatalogLanding.aspx?cId=35">Collectibles Page</a> for all the info.                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                        
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Full Family Guy Episodes In the Family Guy House!</h5>
                                    <em>Posted February 15, 2008</em><br />
                                    <br />
                                    <p><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/FamilyGuy_kaneva.png" width="300" height="250" hspace="5" border="0" align="left" />Starting today, full episodes of Family Guy episodes will be streaming on the TV in the Family Guy house!</p>
                                  <p>Check out Stewie's antics, Bryan's adventures, and see the guys hanging at the Drunken Clam. Its non-stop 24-7 Lois, Peter, and the gang.</p>
                                  <p>To get to the Family Guy house, visit the TBS zone, and take the elevators in the back of the lobby. These wil take you right in the front door of the Family Guy house! (See if you can locate the monkey.)</p></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Valentine's Day Contest Winners</h5>
                                    <em>Posted February 14, 2008</em><br />
                                    <br />
                                    <p>Tons of great entries in the Valentine's Day Contest, which made it difficult to pick winners. But we did it. So check them all out!</p>
                                    
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Kaneva City</h5>
                                    <em>Posted January 28, 2008</em><br />
                                    <br />
                                    <p>Maybe you've looked out at the impressive skyline bordering the Plaza and wondered what's out there. Are people going about their business on the way to work, or having lunch in a diner?</p>
                                    <p><a href="http://www.kaneva.com/3d-virtual-world/kaneva-city.kaneva">Check out Kaneva's newest place to hang out.</a></p>
                                  <a href="http://www.kaneva.com/3d-virtual-world/kaneva-city.kaneva"><img src="http://images.kaneva.com/media/communities/kaneva/virtualworld/whatsnew/kanevacity_whatsnew.jpg" alt="" border="0" /></a>                                    
                                  
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr /> 
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>SAG Awards&#8482; Pre-show &#8212; Live, in the World of Kaneva</h5>
                                    <em>Posted January 25, 2008</em><br />
                                    <br />
                                    <p>Join us <strong>Sunday, January 27, 6:20-8:00 pm EST in the TNT Backlot</strong> to watch the stars as they walk the red carpet. Wear your best duds, chat with your friends, and have your picture taken for a keepsake. This event is not to be missed!<br />
                                    <br />
                                    </p>
                                    <p><img src="http://images.kaneva.com/media/communities/kaneva/virtualworld/whatsnew/300x250sag08knv.gif" alt="" height="250" width="300" /></p>
                                    <p class="style1">Feel free to copy the image above and add it to your blog or home page. Just link it to www.kaneva.com/redcarpet</p>                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        
                        
                        <hr />
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Major MyKaneva Update</h5>
                                    <em>January 18, 2008</em><br />
                                    <br />
                                    <p>Everything you need to know, right at your fingertips, the new My Kaneva is all about you, your friends, and your journey through the World of Kaneva.</p>
                                    <p><img src="http://images.kaneva.com/media/communities/kaneva/virtualworld/whatsnew/my_kaneva_top.jpg" alt="My Kaneva Top" height="91" width="470" />                                    </p>
                                    <p>Ready for a slew of new activities slated for this year, My Kaneva lets you easily see your Fame and Fortune right at the top of your screen,  with hints to help you along the road (look for more on Fame and Fortune later this quarter).</p>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="283">
                                                <p><img src="http://images.kaneva.com/media/communities/kaneva/virtualworld/whatsnew/my_kaneva_blast.jpg" alt="My Kaneva Blasts" height="228" width="283" /></p>                                                </td>
                                                <td valign="top">
                                                <p>Front and center, you'll find Blasts -- a great way to keep up with all your friends -- with powerful options to quickly share video, photos, and interesting web pages you run across.</p>
                                                <p>You can even send out an Event Blast to tell everyone about your next party!</p>                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>And there's  more to see at the new My Kaneva, so check it out! Click on the <strong>My Kaneva</strong> link at the top of this page.</p>                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Valentine's Day Contest</h5>
                                    <em>January 10, 2008</em><br />
                                    <br />
                                    <p>What would Valentine's Day be without building a fantastic hangout to show how   you feel about <em goog_docs_charindex="246">amore</em>?<br goog_docs_charindex="259" />
                                    <br goog_docs_charindex="261" />
                                    We therefore officially   announce Kaneva's Valentine's Day Contest, where we will be picking the best   home or hangout in Kaneva that is built around the Valentine's theme.</p>
                                                                       </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Happy New Year!</h5>
                                    <em>January 3, 2008</em><br />
                                    <br />
                                    <p>What does 2008 look like? Better than ever, with more places to go and more things to do! Coming Soon: My Kaneva undergoes a revamp to support our future plans for more features. Stay tuned.</p>                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5><a href="http://www.kaneva.com/community/CommunityPage.aspx?communityId=%201118&amp;pageId=4173178"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/holiday_trophy.jpg" align="right" border="0" /></a>Holiday Contest Winners</h5>
                                    <em>December 21, 2007</em><br />
                                    <br />
                                    <p>The Holiday Hangout and Home Contest is over and winners have been announced.</p>
                                    <p>Check out the Contest Page to see the winners and to watch for new Contest announcements in the following weeks.</p>                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Channel Surfing in 3D</h5>
                                    <em>Posted on December 12, 2007</em><br />
                                    <br />
                                    <img alt="The New Media Browser" src="http://images.kaneva.com/media/communities/kaneva/virtualworld/whatsnew/071212_MediaBrowser.jpg" />
                                    <p style="padding-top: 10px;">Next time you launch the World of Kaneva, look for a hidden, but groundbreaking new feature. With the new Media Browser, choosing what plays on your in-world TV, or changing the pattern of objects (like your walls) is easier than ever. </p>
                                    <p>Just right-click on your TV, for instance, click Choose Media, and you'll be able to pick from pre-selected playlists of top videos and TV Channels.</p>
                                    <p>But that's just the start.</p>
                                    <p>Type in a keyword on the <strong>Entertainment</strong> tab, and you'll have instant access the Kaneva community's collective media library. Everything. Select a video, click <strong>OK</strong>, and it starts playing. It's as easy as that.</p>
                                    <p>Items you choose from search results are added to a special In-World Playlist. So now you can update videos on-the-fly while you party in your 3D hangout. </p>
                                    <p>&nbsp;</p>                                    </td>
                                </tr>
                            </tbody>
                        </table>			
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>The Tutorial Zone, A new starter home and more!</h2>
                                    <p>November 20, 2007<br />
                                    <br />
                                    There is a brand new tutorial to help out all of our new players with the basics of the game. When you log in for the very first time you will automatically be in the tutorial. Using video and text, the tutorial guides you through the basics of how to move, chat, interact, go places, buy items and more. We've added a coin game to the tutorial to bump up its fun factor as well.<br />
                                    <br />
                                    There is a new starting house all new players get. You start out with more basic building blocks and furniture, both in the house and in your inventory.<br />
                                    <br />
                                    You can also purchase this new home, called the City Loft, from the realtor in the mall.<br />
                                    <br />
                                    We have 6 new costumes! For the women we have the Fairy Tale Princess and Wicked Witch and French Maid costumes. For the men you can purchase the Vegas Performer Devil costume, a Pirate costume and a Gorilla outfit. Each of these can be found in the costume store in the mall and all are wearable anywhere.<br />
                                    The Toga and Female Police Officer outfits are also now wearable everywhere.<br />
                                    <br />
                                    On your Heads up Display (HuD) we have added back a permanent display of your current Credits and Rewards.<br />
                                    <br />
                                    From the contest we held awhile back, we have changed the names of the dances with numbers in them to those chosen from you the players. The dance moves are still in the same spot as before; they just have better descriptive names now. <br />
                                    <br />
                                    We have changed a number of the animations of the current emotes. We have also added more movement to the idle animations, including breathing, blinking and more leg movement so you look and feel less static.<br />
                                    <br />
                                    The winners of the Halloween Hangout Contest will be receiving their special items and trophies this week. Sorry for the delay on getting these in game, winners!<br />
                                    <br />
                                    The timers at the high levels in the dance game have been adjusted down by .5 seconds to make the gamer more challenging. Starting TODAY we will be doing a new High Score Contest. The winners previous to this day will be calculated and awarded their Rewards. Starting today and through the end of the month there will be a 2nd set of high score winners for November to reflect the changes to the Dance Game.<br />
                                    <br />
                                    <br />
                                    Some fixes we have made include:<br />
                                    <br />
                                    A number of the womens dresses and Turner clothing that were tearing have been fixed.<br />
                                    <br />
                                    You can now zone in to the correct spots in the Plaza from the other public places in world. All the gates to other spots in the world (except hangouts) are now functioning correctly as well.<br />
                                    <br />
                                    A number of the log in and connection issues associated with V 2.0 have been corrected.<br />
                                    <br />
                                    You should no longer crash when minimizing your window.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>So you want to go outside?</h2>
                                    <p class="date">Posted on November 2, 2007</p>
                                    <img alt="Kaneva Central" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/kaneva_central_4.jpg" align="right" hspace="10" />
                                    <p>How many times have you tried to pass through that revolving door in the Mall?</p>
                                    <p>"There's a dude out there," you say.</p>
                                    <p>"How come he gets to go outside?"</p>
                                    <p>Well now the moment you've been waiting for is here. The doors are now open to The Plaza. </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>The Plaza, The Fall Special and more!</h2>
                                    October 29, 2007<br />
                                    <br />
                                    <h2></h2>
                                    <p class="MsoNormal">We have 2 new costumes: The Female Police Officer outfit and the Male Toga Outfit. Both are Access Pass only items and are available in the Costume Shop in the Mall.<br />
                                    <br />
                                    We have a brand new bundle package, our Fall special! This includes 4000 Credits and a costume based on your avatar's gender. For the females you get the Pixie Fairy costume and for the males you get the Pimped Out Costume. All this for only $24.99! <br />
                                    <br />
                                    Kaneva Central (also known as The Plaza) is now open! This is the basis for all our outdoor zones and you can walk directly into your home, the Turner spaces (TNT and TBS), both public dance clubs (The Underground is still Access Pass only) and eventually to your hangouts.<br />
                                    <br />
                                    We have reopened the plant store in The Plaza. It's bigger and better than ever with over 30 new fauna and you can find it in the Atrium which is itself inside The Plaza<br />
                                    <br />
                                    There are new dance clothes which you can find in the stores in the dance clubs, over 30 new items.<br />
                                    <br />
                                    We have added some fixes in for the stability issues including the connection interruptions and failed sign-ins on V 2.0<br />
                                    <br />
                                    Video and Media will throttle back to fewer frames if the overall frame rate is too low for useful game play. In these situations, your video playback may resemble a slide show more than a continuous video feed. This is a new experimental feature; report any side effects in the <a href="http://forums.kaneva.com/forumdisplay.php?f=8" target="_blank">Tech Issues</a> section of the Forums. <o:p></o:p></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>Announcing World of Kaneva Beta 2.0!</h2>
                                    <p class="date">Posted on October 18, 2007</p>
                                    <p>Shorter waits for downloads and updates, new camera control, better performance in your Kaneva virtual places?these are just a few of the things you'll like about the newest release of the World of Kaneva program.</p>
                                    <p>But the first thing you'll notice is the new Launcher-- signing in and updating is now done in a larger window that also includes special messages from Kaneva, and convenient links.</p>
                                    <p>If you've already installed the World of Kaneva beta, you'll receive the new Launcher next time you sign in. If you want to take advantage of all the enhancements of beta 2.0, you'll need to (this is important) uninstall Kaneva, and delete the Kaneva program directory, and then click the <strong>Install Now!</strong> button above.</p>
                                    <p>For more information and discussion, visit the <a href="http://forums.kaneva.com/showthread.php?t=1558">Kaneva Forums</a>.</p>
                                    <p>&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>Halloween Hangout (and Home) Contest</h2>
                                    <p class="date">Posted on October 17, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    <p>Don't scare us. But if you've got the wickedest or most imaginative <strong>Halloween-themed Hangout or Home</strong>, we want to see it. </p>
                                    <p>On second thought ... go ahead and scare us.</p>
                                    <p>Entries must be in by Friday, October 26th.</p>
                                    <p>Contest Official Corelli says entries will be judged on "originality, theme, 'spookiness', atmosphere and that intangible feel they give me when I look around."</p>
                                    <p>Winners will be announced on October 31st.</p>
                                    <p><strong>The Grand Prize Winner</strong> will receive a special trophy, a unique Halloween item (which can never be purchased and only gained through winning this contest) and 3150 in Rewards (a $20 value).</p>
                                    <p><strong>The 2nd Place Winners</strong>, of which there will be two, will receive the special trophy, a unique Halloween item and 2250 in Rewards (a $15 value).</p>
                                    <p><strong>The 3rd Place Winners</strong>, all seven of them, will receive a special trophy and 1500 in Rewards (a $10 value).<br />
                                    </p>
                                    <strong>To Enter</strong>
                                    <p>Follow this <a title="Halloween Contest Post" href="http://forums.kaneva.com/showthread.php?t=1501">link to the Kaneva Forums</a> and click the <strong>Post Reply</strong> button. If you're entering a Hangout, gives us the name. If you're entering your home, just say so.</p>
                                    <p>Happy Spooking!</p>
                                    <p>&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>The Award Winning Clubs of Kaneva!</h2>
                                    <p class="date">Posted on October 3, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    <p><img alt="Coolest place" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/club/images/cool.jpg" /><br />
                                    After spending a good deal of time in each club that was entered so we could get a feel for the place and the dance playlist we culled the 120 entries down to 25.<br />
                                    <br />
                                    Then, a "crack" team of Kaneva employees brought that list down to the top 10 and after some hard debate, we picked our top 3 winners.<br />
                                    <br />
                                    It was a pleasure to visit and spend time in each club. Some of the open spaces were exceptionally well built but because this was a Dance Club contest it was the actual dance section that carried the majority of the grade.<br />
                                    <br />
                                    Each club was graded on Atmosphere, Originality, the Playlist, and type of theme.<br />
                                    <br />
                                    Our Grandprize Winner is: Skaff_Hogan with his "Coolest Place on Earth" club. The ice theme just blew us all away here. He gets himself a large dance floor and $20 in Rewards.<br />
                                    <br />
                                    Our Second Prize winners (in no particular order) are: DuWayne and his Krash Inn, and dodgeman19821982's The Merge. Both win a medium dance floor and $15 in Rewards.<br />
                                    <br />
                                    Our Third Place winners are (again in no particular order):<br />
                                    <br />
                                    Shortkut and JiffyJam's Afterburn<br />
                                    NickBogey's Nick's Speakeasy<br />
                                    Sumgurl07's Club 306<br />
                                    Irish07's Club Chaos<br />
                                    Kerryangels's University of Kaneva Town 1 Coyote Ugly<br />
                                    ladyhawke75's Shipwrecked<br />
                                    Daddio's Kaneva Tattoo Shop<br />
                                    <br />
                                    Each third place winner receives $10 in Rewards. </p>
                                    <p>&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>Dance Floors Are Here!</h2>
                                    <p class="date">Posted on September 21, 2007</p>
                                    <p>The big news is that you can now purchase your very own dance floors! They come in 3 sizes, are purchasable with credits only and cost 150 for the small, 375 for the medium and 750 for the large dance floor. There are new merchants in the both the Third Dimension and The Underground dance clubs who will sell you the dance floors.</p>
                                    <p>Over 60 new items are now available to help decorate your dance clubs. That's right, over 60 items specifically created to help accessorize and customize your own clubs. Mixing boards, microphones, lights, ceiling fans, speakers, bars, bottles, taps, tables, chairs, speakers, metal trusses, ropes for lights...even a disco ball! Everything you need to make your club the place to be! Check out all the new items in the new stores found in the public dance clubs.</p>
                                    <p>Over 30 new clothing items for men and over 60 for women! It's all clothing for looking your hottest on the dance floor. Be sure to check them all out in the dance clubs where they are sold.</p>
                                    <br />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h2>Happening Now! The HUGE DanceParty3D!</h2>
                                    <p class="date">Posted on September 13, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    <p><strong>Dance Party 3D: </strong>It's the ultimate dance contest in 3D. Battle other Kaneva members to become king or queen of the 3D dance floor.</p>
                                    <p>And ... </p>
                                    <ul>
                                        <li>Show off your moves and earn Raves in the new Dance Star 3D Community
                                        </li>
                                        <li>Buy the game floor and put it in your own 3D Dance Club
                                        </li>
                                        <li>Upload your own dance music to top the Dance Music 3D charts </li>
                                    </ul>
                                    <p align="center"><strong>In-World Now!</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                    <h2>New for You: The All New Access Pass</h2>
                                    <p class="date">Posted on September 6, 2007</p>
                                    <p>Ready to have some serious fun in the Virtual World of Kaneva? We're introducing an amazing feature -- tailor-made for those who seek the privilege of exclusive access</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                    <div align="center"><img alt="" src="http://images.kaneva.com/media/wokcommunity/access_pass.jpg" width="100" /></div>
                                    </td>
                                    <td width="20"><br />
                                    </td>
                                    <td><strong>Access Pass: </strong>It's THE ticket to special privileges for members 18 and over. Get in on exclusive content, 3D hangouts, special events and items. Limited introductory offer of $24.99 for an annual Access Pass includes ...<br />
                                    <ul>
                                        <li>Access to restricted (18+) areas and content
                                        </li>
                                        <li>Exclusive clothing and items
                                        </li>
                                        <li>Access to exclusive spaces and events
                                        </li>
                                        <li>Ability to use items with other pass holders </li>
                                    </ul>
                                    <p align="center"><strong>Now Available in the World!</strong></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                    <h2>Get Off Your Feet!</h2>
                                    <p class="date">Posted on August 24, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                    <p><img alt="Sitting Down" src="http://images.kaneva.com/filestore3/11358/4033010/VirtualWorld_animation_sitdown.jpg" width="237" /></p>
                                    <p><img alt="Lying Down" src="http://images.kaneva.com/filestore3/11358/4033006/VirtualWorld_animation_laydown.jpg" width="237" /></p>
                                    </td>
                                    <td width="20"><br />
                                    </td>
                                    <td valign="top">
                                    <p>Take a break with our new sit and lay animations. You'll find them in your Emotes menu.</p>
                                    <p>&nbsp;</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                    <h2>Own a Piece of the Great Outdoors</h2>
                                    <p class="date">Posted on August 15, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/shop/images/greenacres_img.jpg" width="150" /></td>
                                    <td width="20"><br />
                                    </td>
                                    <td>
                                    <p>Now you can stake your claim in the Virtual World. "Green Acres" is the first home and hangout deed which gives a you an expansive plot of 3D land to build the place of your dreams. Buy the texture-ready building pieces you need to construct a country home, a McMansion - or a huge hangout. Also: Transform your outdoors with new lawn and garden items -- trees, outdoor furniture and landscaping items.</p>
                                    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                    <h2>Beauty Makeover</h2>
                                    <p class="date">Posted on August 15, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"><img alt="" src="http://images.kaneva.com/media/wokcommunity/images/Female_Faces.jpg" width="175" /></td>
                                    <td width="20"><br />
                                    </td>
                                    <td>
                                    <p>The women inside the World of Kaneva are sporting a new look today. We've performed cosmetic surgery to the face features of our female avatars. The result is a much broader range of facial expression and diversity so you create a more true-to-form 3D you.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                    <h2>New Menu -- More Dances!</h2>
                                    <p class="date">Posted on August 9, 2007</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <p>To make your travels -- and interactions -- in the World even easier, we've moved the primary navigation bar to the bottom of the screen, allowing players to enjoy more of their 3D surroundings. But wait, there's more. We've also introduced two hot new dance animations called "Sexy" for club-hopping girls and guys.</p>
                                   
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
            </td>
        </tr>
    </tbody>
</table>
