<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva News for Your Virtual Life
MetaDataTitle: <meta name="title" content="Kaneva News for Your Virtual Life" />
MetaDataDescription: <meta name="description" content="Your guide to the virtual world. What's happening, what's hot, what's what. The news that's important in the virtual world and to your virtual life." />
MetaDataKeywords: <meta name="keywords" content="virtual life, create a virtual life, virtual life games, free virtual life games, my virtual life" />


<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                      <td><h1>What's New</h1></td>
                      <td>&nbsp;</td>
                      <td width="220" rowspan="2" valign="top">
                      
                      <p><a href="http://www.kaneva.com/3d-virtual-world/adult-chat-rooms.kaneva"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/access4.jpg" border="0" height="216" width="220" /></a></p>
                                                                   
                      <p><a href="http://www.kaneva.com/share/default.aspx"><img alt="" src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/pioneermember4.jpg" border="0" height="192" width="220" /></a></p>
                                                                  
                      </td>
                    </tr>
                    <tr>
                      <td>
                        
                         <!-- BEGIN FIRST CONTENT ITME HERE -->
                         <!-- BEGIN FIRST CONTENT ITME HERE -->
                          <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Join Us for Ka-ching! Fame Week!</h5>
                                    <i>Posted March 10, 2009</i>
                                    
                                    <p>Now you can earn Fame Points just for playing Ka-ching!&#8230;and you'll earn more for collecting coins, checking your opponents, and winning! Fame Points add up to give you status titles, special items, and Rewards!</p>
                                    
                                    <img src="http://images.kaneva.com/filestore7/4107328/5155517/2541_kaching300x197_v1.jpg" border="0">
                                    
                                    <p>To celebrate the launch of Ka-ching! fame, we're having two exciting events:</p>
                                    
                                    <ul>
                                	
                                	<li><b>Battle Your Favorite Kaneva Employees&#8212;Wednesday, March 11th</b></p>
                                	<p>We'll be shedding our invulnerability and earning Ka-ching! Fame alongside our members, so you can finally lay the foam smack down us! </p>
                                	
                                	                                 
                                   	<p>The event kicks off at 8 p.m. Eastern in the Ka-ching! arenas.</p>
                                   
                                   	<p>Get more details <a href="http://forums.kaneva.com" target="_blank">by visiting the Kaneva Forums</a>! </p></li>
                                   	
                                   	<li><b>Ka-ching! Team Leaderboard Contest&#8212;March 14th-18th</b></p>
                                   	
                                   	<p>Register your four-member team to compete in the Ka-ching! Team Leaderboard Contest.</p>
                                   	<p>Check out the <a href="http://www.kaneva.com/3d-virtual-world/ka-ching-leaderboard.kaneva" target="_blank">Ka-ching! Leaderboard</a>. The team with the best average for WINS for each team member can win fabulous prizes:</p>
                                   	
                                  <ul>
                                  <li>Every member of the top ranked team will win 5,000 Rewards EACH.</li>
								   <p></p>
								   <li>Every member of the 2nd place team will win 2,000 Rewards EACH.</li>
									<p></p>
									<li>Every member of the 3rd through 5th place teams will win 1,000 Rewards EACH.</li>
									<p></p>
									<li>Every member of the 6th through 10th place teams will win 500 Rewards EACH.</li>
									</ul>
                                  
                                  <p>Register your team by Midnight EST on March 13th. Competition ends at Midnight Eastern on March 18th. (Each Kaneva member can only be on one team.)</p>
                                  
                                  <p><a href="http://forums.kaneva.com" target="_blank">Sign up now</a>! </p></li>
                                  </ul>
                                  
                                  
								   <img src="http://images.kaneva.com/filestore8/4107328/5441413/kaching_bundle.jpg" border="0">
								   
                                  
                                  <p>Dress for foam-fighting success with the Ka-ching! Armor Bundle. It includes 2,000 Credits plus 10 additional items:</p>
                                   
                          
                                   								 
								<ul>
                                   <li>1 Red Jumpsuit, 1 Blue Jumpsuit</li>
                                   <p></p>
                                   <li>1 Set of Red Elbow Pads, 1 Set of Blue Elbow Pads</li>
                                   <p></p>
                                   <li>1 Set of Red Shin Guards, 1 Set of Blue Shin Guards</li>
                                   <p></p>
                                   <li>1 Red Chest Guard, 1 Blue Chest Guard
                                  <p></p>
                                   <li>1 Pair Red Boots, 1 Pair Blue Boots
                                  
                                   </ul>
                                   
								   <p><a href="http://www.kaneva.com/myKaneva/buycredits.aspx">Get the Ka-ching Armor Bundle Now </a></p>

                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />

                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Party With Us for Mardi Gras Week &amp You Could Win 20,000 Rewards!</h5>
                                    <i>Posted February 23, 2009</i>
                                    
                                    <p>Celebrate Mardi Gras every night this week&#151;Monday, February 23rd-Friday, February 27th&#151;from 9:30-10:30 p.m. Eastern.</p>
                                    
                                    <p>You'll earn 500 Rewards Monday, Wednesday, Thursday, and Friday&#151;plus one lucky member will receive <b>20,000 Rewards in our Fat Tuesday Giveaway</b>!</p>
                                
                                	<img src="http://images.kaneva.com/filestore8/4107328/5400438/MgWeek.jpg" border="0">
                                	
                                	<p>Fat Tuesday kicks off at <b>8 p.m. Eastern</b> with multiple parties, including an all-access Mardi Gras parade and an Access Pass only costume party in the Underground. The Fat Tuesday Giveaway winner will be announced live before 11 p.m.</p>
                                	
                                	                                 
                                   	<p>Experience the ultimate New Orleans tradition&#151;complete with beads, masks, and floats&#151;with all your Kaneva friends.</p>
                                   
                                   	<p>Dress the part with our <a href="http://www.kaneva.com/mykaneva/buycredits.aspx" target="_blank">Mardi Gras Special on sale now for $9.99</a>! The Mardi Gras Special includes 2,000 Credits plus three exclusive items:</p>
                                   
                                   
                                   								 
								<ul>
                                   <li>1 Mardi Gras costume&#151;not available in stores!</li>
                                   <p></p>
                                   <li>1 Mardi Gras mask</li>
                                   <p></p>
                                   <li>1 Mardi Gras bead necklace</li>
                                   </ul>
                                   
								   <img src="http://images.kaneva.com/filestore8/4107328/5400439/MGSpec.jpg" border="0">
								   
								   <p>Invite your krewe and join us for one of the biggest parties of the year!</p>
									<p><a href="http://forums.kaneva.com/showthread.php?t=10311" target="_blank">Find out more </a></p>

                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Get Your Fame &#38; Fortune Stats Front &#38; Center</h5>
                                    <i>Posted February 9, 2009</i>
                                    <p>Starting today&#151;you'll notice some exciting changes to your Kaneva profile!</p>
                                
                                   <ul>
                                   <li><b>Fame Widget:</b> Check out the all-new Fame widget in the top-left corner of your page!
                                   <p>The Fame widget contains all your Kaneva stats like how long you've been a Kaneva member, the number of Raves you've received, as well as your World Fame, Dance Fame, and Ka-ching! Fame levels.</p>
                                   <p>Now you can easily boast to your friends and challenge them to some friendly 3D competition! The Fame widget makes it easy to see your friend's stats on their profile page too!</p>
                                   <p>Show off what a Kaneva power player you really are with the all-new Fame widget!</p></li>
                                   <li><b>Multiple Profile Pages:</b> Did you know you have extra profile pages that you can customize?
                                   <p>A unique feature to Kaneva, you can easily add and customize multiple profile pages to suit your interests, personal info., and media library!</p></li>
                                   </ul>
                                 
								 <p><b>What's next?</b></p>
								 
								<ul>
                                   <li><b>Update your new profile page:</b> Your all-new default Profile page will feature the Fame widget in the top-left corner of the page.  Add &#38; customize new widgets on your page like interests, blogs, pictures, and comments. It's a whole new page to showcase!</li>
                                   <p></p>
                                   <li><b>Update your profile's page 2:</b> Your existing Profile page will now move to Page 2. You can add as many more pages as you need!</li>
                                   <p></p>
                                   <li><b>Look for more interactive widgets soon:</b> Get ready for more interactive widgets to add to your profile page.</li>
                                   </ul>
								   
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Join Us for Sweetheart Week&#151;and Earn 500 Rewards Every Night!</h5>
                                    <i>Posted February 9, 2009</i>
                                    <p>Join us every night this week&#151;<b>Monday, February 9th-Friday, February 13th</b>&#151;from <b>9:30-10:30 p.m. Eastern</b> for Sweetheart Week.</p>
                                    
                                    <img src="http://images.kaneva.com/filestore8/4107328/5378040/SHWeek.jpg" border="0">
                                    
                                    <p>Come party with us and earn <b>500 Rewards</b> every night&#151;that's <b>2,500 possible Rewards</b> for the week! Plus if you log in ALL five days, you'll earn an exclusive Valentine-themed item, not available in stores!</p>
                                    
                                   <p>Use your Rewards to buy a Valentine surprise for your sweetie!</p>
                                   
                                   <p>On sale for a limited time&#151;Tuesday, February 10th through Monday, February 23rd:</p>
                                   
                                   <ul>
                                   <li>Heart-shaped bed: Only 750 Credits (regularly 1000 Credits)</li>
                                   <p></p>
                                   <li>Wine Glass hot tub: Only 750 Credits (regularly 1000 Credits)</li>
                                   </ul>
                                 
								 
								 <p>Visit the Holiday Store in Kaneva City, or <a href="http://shop.kaneva.com" target="_blank">shop.kaneva.com</a>! Hurry&#151;this offer won't last long!</p>
								  
								  
								  
								<p>Happy Valentine's Day from Kaneva!</p>
								  
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Introducing Kaneva Ideas and the Official Kaneva Blog</h5>
                                    <i>Posted January 20, 2009</i>
                                    <p>We're kicking off 2009 with the launch of two all-new community resources: Kaneva Ideas and the Kaneva Blog.</p>
                                    
                                    <p>These exciting new resources will give you&#151;our valuable members&#151;the power to share ideas, interact with the Kaneva team, and offer comments and suggestions. They'll also help us stay in touch and focus on the features and functionality that you want!</p>
                                    
                                   <p>Here's how to get involved:</p>

								 	<p> <a href="http://ideas.kaneva.com" target="_blank"><img src="http://images.kaneva.com/filestore8/243611/5326894/idea170x99.jpg" border="0"></a> <br>
								 						 
								 <p><b>Kaneva Ideas:</b> Share your ideas and opinions for all things Kaneva! Suggest new features, product improvements, and positive solutions. </p>
								  
								  <p>Vote for ideas you like and provide insightful comments to other's ideas. Spread the word about Kaneva Ideas in world with your friends!</p>
								  
								<p>Visit <a href="http://ideas.kaneva.com" target="_blank">Ideas.Kaneva.com</a></p>
								  
								  <p> <a href="http://blog.kaneva.com" target="_blank"><img src="http://images.kaneva.com/filestore8/243611/5326893/blog170x99.jpg" border="0"></a> <br>
								  
								  <p><b>Kaneva Blog:</b> Get to know the Kaneva team and find out about new Kaneva features, events, and contests. Read and discuss ideas related to Kaneva and the 3D virtual world industry.</p>
								 
								  
								 <p>Visit <a href="http://blog.kaneva.com" target="_blank">Blog.Kaneva.com</a></p>
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />                         
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Get a Job and Earn Rewards!</h5>
                                    <i>Posted January 14, 2009</i>
                                    <p>You asked for more ways to earn Kaneva Rewards, and we listened! Starting today, you have a job in Kaneva! Visit the <b>One Click Employment Agency</b>&#151;where we reward you just for showing up to work!</p>
                                    
                                    <p>Available from the travel map (click the <b>Show The Map</b> button near the bottom of your screen), the One Click Employment Agency allows you to work every six hours and earn Rewards!</p>
                                    
                                   <p>Simply walk up to an open computer at the One Click Employment Agency and press TAB to get your Rewards. It's that easy!</p>

								 <img src="http://images.kaneva.com/filestore8/4107328/5311310/jobwhatsnew.jpg" border="0">
								 
								 <p>Use your Rewards to get more furniture for your home and hangout, and the latest fashions and must-have accessories for your Avatar! Kaneva Rewards are more valuable than ever! Due to popular demand, you can continue to buy ALL Kaneva-made items using Credits or Rewards!</p>
								  
								  <p>Plus, if you invite your friends, you'll earn even more! For every five new friends that you get to join Kaneva, you'll earn 500 bonus Rewards. You'll also get an additional 1,000 bonus Rewards after they sign in to the 3D world! In addition to these one-time bonuses, you'll earn more each time you visit the One Click Employment Agency. Our Vice Presidents earn 90 Rewards every six hours! Your income level will skyrocket&#8230;just for inviting your friends!</p>
								  
								<p>Share Kaneva with friends and reap the Rewards! You've earned it!</p>
								  
								  
								 
								  
								 
                                    
                                    </td>
                              </tr>
                            </tbody>
                         </table>
                         <hr />
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Buy with Credits OR Rewards&#151;for a Limited Time</h5>
                                    <i>Posted December 16, 2008</i>
                                    <p>We're excited to announce that for a limited time, you can buy ALL Kaneva items&#151;including furniture, clothes, and home deeds&#151;using Credits OR Rewards!</p>
                                    
                                   

								 
								  
								  <p>Visit <a href="http://shop.kaneva.com" target="_blank">shop.kaneva.com</a> or your favorite stores in Kaneva to stock up on everything you need for your Avatar, home, and hangout. Shop for yourself and your friends! Check out all the amazing Kaneva holiday items, available for a limited time.</p>
								  
								  <img src="http://images.kaneva.com/filestore7/243611/5251300/ourGift.jpg" border="0">
								 
								  <p>Shop now . . . this offer is good for the month of December! It's the Kaneva Stimulus Package!</p>
								 
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />                         
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>The Kaneva Gingerbread House Building Contest</h5>
                                    <i>Posted December 9, 2008</i>
                                    <p>Get ready for our tastiest building contest ever: The Kaneva Gingerbread House Building Contest!</p>
                                    
                                   

								 
								  
								  <p>We have added tons of candy delights and gingerbread house accessories in the Holiday Store in Kaneva City for you to create your delicious designs!</p>
								  
								 
								  <ul>
								  <li>Grand Prize winner will receive 10,000 Rewards AND a December item of their choice (excluding the snow globe dance floor)!</li>
								  <p></p>
								  <li>Second place winner will receive 5,000 Rewards AND a December item of their choice (excluding the snow globe dance floor)!</li>
								  <p></p>
								  <li>Third place winner will receive 2,500 Rewards AND a December item of their choice (excluding the snow globe dance floor)!</li>
								  </ul>
								  <p>plus</p>
								  <ul>
								  <li>4th through 10th place winners will receive 500 Rewards</li>
								  <p></p>
								  <li>11th through 25th place winners will receive 250 Rewards</li>
								  <p></p>
								  <li>And even if you don't place, you'll still receive 100 Rewards just for entering!</li>
								  </ul>
								  
								  <p>So gather up some icing and start building something tasty . . . just try not to snack on the finished product!</p>
								  
								  <p><b>How to Enter</b></p>
								  <ol>
								  <li>Build your sinfully delicious gingerbread design.</li>
								  <p></p>
								  <li>Go to <a href="http://www.kaneva.com/channel/TopDesignersCommunity.channel" target="_blank">Kaneva's Top Designer Community</a>!</li>
								  <p></p>
								  <li>Enter your home or hangout's name.</li>
								  <p></p>
								  <li>Get Raves to win!</li>
								  </ol>
								  
								  <p>All entries must be submitted by <b>midnight Eastern on December 31st</b>.</p>
								  
								  <p>Winning designs will be announced on <b>Friday, January 2nd</b> with a special Ginger-crawl of the winning houses on <b>January 3rd</b>. Stay tuned for more details. </p>
								 
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                         
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Design Your Own Kaneva Spiritware Contest</h5>
                                    <i>Posted November 18, 2008</i>
                                    <p>We have spirit, yes we do. We have spirit, how 'bout you?</p>
                                    
                                   

								  <img src="http://images.kaneva.com/filestore7/4107328/5187558/2551_cheer300x197_v1.jpg" border="0">
								  
								  <p>Show off your Kaneva spirit by designing your own Kaneva spiritware!</p>
								  
								  <ul>
								  <li>First place winner will receive 5,000 Rewards</li>
								  <p></p>
								  <li>Second place winner will receive 2,500 Rewards</li>
								  <p></p>
								  <li>Third place winner will receive 1,000 Rewards</li>
								  </ul>
								  <p>plus</p>
								  <ul>
								  <li>Top 10 designers will receive 500 Rewards</li>
								  <p></p>
								  <li>Top 25 designers will receive 250 Rewards</li>
								  <p></p>
								  <li>Top 100 designers will receive 100 Rewards</li>
								  </ul>
								  <p><b>How to Enter</b></p>
								  <ol>
								  <li>Create your design.</li>
								  <p></p>
								  <li>Upload your design.</li>
								  <p></p>
								  <li>Get Raves to win!</li>
								  </ol>
								  <p>To enter, visit <a href="http://www.kaneva.com/channel/TopDesignersCommunity.channel" target="_blank">Kaneva's Top Designer Community!</a> </p>
								  
								  <p>All entries must be submitted by <b>November 30th</b>, but the earlier you get your submissions in, the more opportunities you have to get Raves!</p>
								  
								  <p>Winning designs will be showcased in a fashion show on <b>December 2nd</b>! Stay tuned for more details. </p>

                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                         
                          <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Coming Soon Exclusively to the World of Kaneva&#151;Ka-ching!</h5>
                                    <i>Posted November 3, 2008</i>
                                    <p>Get ready to play Ka-ching!&#151;our all-new, FREE, multi-player, third person, 3D shooting game.</p>
                                    
                                   <p>Team up with your friends to find, collect, and deposit the most coins (Ka-ching!), dodge foam darts, and defeat the opposing team. You can assemble a team with your Kaneva friends, or join one in progress.</p>

								  <img src="http://images.kaneva.com/filestore7/4107328/5155517/2541_kaching300x197_v1.jpg" border="0">
								  
								  <p>Available from the <b>Go Places</b> travel map, Ka-ching! can be played in one of two arenas:</p>
								  
								  <ul>
								  <li>The Office: A fast-paced, action-packed arena that's sure to be a stress reliever. Make sure to watch out for the cubicles&#151;you never know where an opponent is hiding.</li>
								  <p></p>
								  <li>The Octagon: In this arena, intense action is lurking around every corner. You can use the jump pads to leap to upper levels, where you'll find hidden coins.</li>
								  </ul>
								  
								  <p>All you need to play Ka-ching! is your keyboard and mouse. Key controls allow you to move, shoot, change weapons, and reload. </p>
								  
								  <p>Stay tuned for more details. For more information and discussion, <a href="http://forums.kaneva.com" target="_blank">check out the Kaneva forums.</a> </p>

                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr />
                                           
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>The Thirteen Days of Halloween</h5>
                                    <i>Posted October 13, 2008</i>
                                    <p>Make 13 your lucky number this month, and join us for 13 days of Halloween fun! </p>                                  
                                                           
                                   <img src=" http://images.kaneva.com/filestore7/243611/5127683/3021_13Days300x197_v1.jpg" border="0"> 
                                    
                                    <ul>
                                    <li><b>October 19:</b> <a href="http://www.kaneva.com/myKaneva/buycredits.aspx" target="_blank">Buy the Haunted Halloween Bundle</a> and build your own haunted house</li>
                                    <p></p>
                                    
                                    <li><b>October 20:</b> Start the Kaneva Halloween candy adventure</li>
                                    <p></p>
                                    
                                    <li><b>October 21:</b> Visit the haunted mall</li>
                                    <p></p>
                                    
                                    <li><b>October 22:</b> Submit your best scream video</li>
                                    <p></p>
                                    
                                    <li><b>October 23:</b> Read your frightfully spooky Kaneva newsletter</li>
                                    <p></p>
                                    
                                    <li><b>October 24:</b> Design a spooktacular costume and enter it in our Halloween design contest</li>
                                    <p></p>
                                    
                                    <li><b>October 25:</b> Go to the fall festival at The Plaza</li>
                                    <p></p>
                                    
                                    <li><b>October 26:</b> Last day to enter the Halloween hangout building contest</li>
                                    <p></p>
                                    
                                    <li><b>October 27:</b> Attend the Halloween fashion show</li>
                                    <p></p>
                                    
                                    <li><b>October 28:</b> Be in our Halloween parade in The Plaza</li>
                                    <p></p>
                                    
                                    <li><b>October 29:</b> Join the trick-or-treat extravaganza and visit the winners of the Halloween hangout building contest</li>
                                    <p></p>
                                    
                                    <li><b>October 30:</b> Go to the Halloween Costume Ball (9-11 p.m. Eastern)</li>
                                    <p></p>
                                    
                                    <li><b>October 31:</b> Watch classic Halloween movies in The Underground</li></ul>                                 



									<p>For more information and discussion, <a href="http://forums.kaneva.com" target="_blank">check out the Kaneva forums.</a> </p>





                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr /><br />
                         
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Trick-or-Treat&#151;and Halloween Building Contest</h5>
                                    <i>Posted October 7, 2008</i>
                                    <p>It's time for the Kaneva Halloween Hangout Building Contest! Design and build one of the most spooktacular Halloween hangouts and win your spot on our Trick-or-Treat route! </p>
                                    
                                    <ul><li>The grand prize winner will receive 10,000 Rewards, plus an exclusive Halloween trophy and October item of their choice.</li>
                                    <p></p>
                                    <li>Two second prize winners will receive 5,000 Rewards, plus a Halloween trophy and October item of their choice. </li>
                                    <p></p>
                                    <li>Seven third prize winners will receive 2,500 Rewards, plus a Halloween trophy.</li></ul>
                                    
                                    <p>Hangouts will be judged on spookiness, humor (if it is a humorous-themed place), atmosphere, and originality. Bonus points will be awarded for Halloween sound effects and music.</p>

                                    <p>The winners will be announced on October 28th. Then we go a haunting! Kaneva members from far and wide will take a ghostly tour of the winners on <b>October 29th</b>. Corelli will lead the trick-or-treating, starting at <b>9 p.m. Eastern time</b>.</p>

                                    <p>For all the rules and to enter, visit <a href="http://forums.kaneva.com/showthread.php?t=7134" target="blank">this thread</a> in the forums!</p>

                                    <p><b>All entries must be submitted by midnight Eastern, October 26th</b>. So start building your haunted house now!</p>
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr /><br />
                        
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Get Your Kaneva Gear&#151;Now Available Exclusively from Caf&#233; Press.</h5>
                                    <i>Posted September 22, 2008</i>
                                    
                                    <p>Now you (not just your Avvy) can wear your Kaneva gear with pride! Kaneva is proud to announce the launch of our Caf&#233; Press logo wear store with three featured designs, including Dance Party 3D!</p>

								    <p>Caf&#233; Press handles the printing, the payment, and the delivery. We've tried to keep the items affordable for all of our members, so there is no Kaneva mark-up. </p>
    								
								    <p>To get your Kaneva gear, visit <a href="http://www.cafepress.com/Kaneva" target="_blank">www.cafepress.com/Kaneva.</a> There are many products including apparel (T-shirts, jackets, hats, etc.), bags, posters, calendars, clocks, mugs, and lots more. Check back often as we add new designs!</p> 

                                    <p>The Kaneva Store regularly spotlights members of the Kaneva community. Add a picture of yourself wearing your Kaneva T-shirt to your media library and send ShamelessPlugs the link. You may be our next featured member!</p>

                                    <img src="http://images.kaneva.com/filestore7/243611/5066416/2496476.jpg" border="0">
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr /><br />
                   
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Faces Reveal Party Hour and Fashion Show Winners</h5>
                                    <i>Posted September 10, 2008</i>
                                    
                                    <p>Thanks to everyone who joined us for the Faces Reveal Party Hour and Fashion Show. The event was a lot of fun!</p>
                                    <p>We challenged you to design your own threads and show them off on the runway. And you guys delivered! There were so many great, unique designs that we awarded 500 Credits to the following members:</p>

                                    <ul><li>Franck5559 for his <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3005883" target="_blank">Smurf PJs.</a></li>
                                    <p></p>
                                    <li>LordWhiteTiger for his <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3000529" target="_blank">Kaneva policeman's outfit.</a></li>
                                    <p></p>
                                    <li>YingDawg for his <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3002395" target="_blank">FBI (Female Body Inspector) shirt.</a></li>
                                    <p></p>
                                    <li>Briennah for her <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3001066" target="_blank">Green Hand Dyed Silk Scarf Skirt.</a></li>
                                    <p></p>
                                    <li>Lovelykisses25 for her <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3005802" target="_blank">Hawaiian Skirt.</a></li>
                                    <p></p>
                                    <li>Lexluthorswife for her <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3002930" target="_blank">Dollars dress.</a></li>
                                    <p></p>
                                    <li>Foxyde for her <a href="http://shop.kaneva.com/ItemDetails.aspx?gId=3000074" target="_blank">Red Dazzler dress.</a></li></ul>
                                    <p>Congratulations and keep designing!</p>                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr /><br />
                        
                         <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>The Faces Reveal Party Hour &#151; Live, in the World of Kaneva</h5>
                                    <i>Posted August 29, 2008</i>
                                    
                                    <p>Join us <b>Wednesday, September 3rd at 9 p.m. Eastern in Kaneva City</b> for the ultimate Party Hour. Come party with us and earn 250 Rewards (now increased from 100)!</p> 
									<p>Stroll through the streets to find your friends. Don't recognize them? Right-click on an Avatar to see his or her "before" profile picture.</p>
									<p>Shop for a new outfit at <a href="http://shop.kaneva.com" target="_blank">shop.kaneva.com</a> or create your own designer threads and show off your unique look! Check out the stage in Kaneva City where you can showcase your runway-worthy designs.</p>
									<p>We look forward seeing you in-world during Party Hours &#151;held Mondays, Wednesdays, and Saturdays each week. Sign in from 9:30 to 10:30 p.m. Eastern to meet friends, have fun, and earn the 250 Rewards. That's a potential total of 750 Rewards each week!</p>
				
										<p>For more information and discussion, <a href="http://forums.kaneva.com" target="_blank">check out the Kaneva forums.</a> </p>
                                    
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                         <hr /><br />
                         
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>Avatar Faces: Get Ready for the Ultimate Reveal Party</h5>
                                    <i>Posted August 12, 2008</i>

                                    <p>In anticipation of new Avatar faces, we'd like you to upload a "before" picture of your Avatar as your profile picture. </p>
                                    <p>Simply go in-world, take a screenshot, and upload it to My Kaneva. Don't procrastinate&#151;once you create your new Avatar, your current face will be gone forever! </p>
                                    <p>Get ready to see the before and after views of your favorite Kaneva friends! It's the ultimate reveal party.</p>

                                    <p><b>How to take your Avatar's picture:</b></p>

                                    <ol><li>Go in-world.</li>
                                    <p></p>
                                    <li>Change the view, so you can see your Avatar's face by clicking the <b>Change View</b> icon. The <b>Change View</b> icon is located in the middle of the Heads Up Display (HUD) menu at the bottom of your screen.</li>
                                    <p></p>
                                    <li>Press the PRNT SCRN key on your keyboard to capture a screenshot of your Avatar's face.</li>
                                    <p></p>
                                    <li>Open an image-authoring program like Microsoft Paint or Photoshop.</li>
                                    <p></p>
                                    <li>Press CTRL + V keys to paste the image in the program.</li>
                                    <p></p>
                                    <li>Crop your screenshot, so that only your Avatar face appears and save it as a JPEG file.</li>
                                    <p></p>
                                    <li>Upload your Avatar face as your new profile picture on My Kaneva. <a href="http://www.kaneva.com/3d-virtual-world/fame-how-to.kaneva#2" target="_blank">For help, click here.</a> </li>
                                    </td>
                              </tr>
                            </tbody>
                        </table>
                                       
                        <hr /><br />
                  
                        
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" valign="top">
                                    <h5>My Boys Chat Recap</h5>
                                    <i>Posted August 5, 2008</i>

                                    <p>Thanks to everyone who joined us for the My Boys Chat on July 24th. The event was a huge success!</p>

                                    <p>Kaneva's TBS Headquarters was packed with over 500 Kaneva members socializing and watching the live chat on the big screen.</p>

                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/MyBoys_01.jpg" border="0">

                                    <p>Most of the cast plus <b>Betsy Thomas</b> (My Boys creator and writer) participated and answered live questions from the audience. <b>Jordan Spiro</b> (PJ) mentioned Kaneva a few times in her answers! </p>

                                    <img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/MyBoys_02.jpg" border="0">

                                    <p>To join the TBS My Boys community, <a href="http://www.kaneva.com/channel/TBSMyBoys.channel" target="_blank">click here.</a> </p>

                                    <p>Look for more events like this in the World of Kaneva.</p>

                                    </td>
                              </tr>
                            </tbody>
                        </table>
                        
                        <hr /><br />
                         
                                         
<br />
</tr>
</tbody>
</table>

          </td>
        </tr>
    </tbody>
</table>
<a href="news-archive.kaneva">News Archive</a>
