<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Official Kaneva Help Center
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />


<table border="0" cellpadding="0" cellspacing="0" width="730">
    <tbody>
        <tr>
            <td colspan="3" align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/helpc_main.jpg" alt="" height="469" width="730" /></td>
        </tr>
        <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
        </tr>
        <tr>
            <td align="left"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/helpc_1.jpg" alt="" /></td>
            <td align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/helpc_2.jpg" alt="" height="218" width="234" /></td>
            <td align="right"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/helpc_3.jpg" alt="" height="218" width="234" /></td>
        </tr>
        <tr>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>The  Kaneva Help Center gets you up to speed fast, with a series of short tutorial  videos that show you the basics.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>Learn  about shopping, different kinds of currency, how to chat with others, and how  to get around the World.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>After  you&acute;ve collected your coins, hit the road! If you ever need a refresher, just  look for The Help Center in your Go Places menu. </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
