<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva City
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />


<table border="0" cellpadding="0" cellspacing="0" width="721">
    <tbody>
        <tr>
            <td colspan="3" align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/kcity_main.jpg" alt="" height="469" width="721" /></td>
        </tr>
        <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
        </tr>
        <tr>
            <td align="left"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/kcity_1.jpg" alt="" height="218" width="229" /></td>
            <td align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/kcity_2.jpg" alt="" height="218" width="234" /></td>
            <td align="right"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/kcity_3.jpg" alt="" height="218" width="230" /></td>
        </tr>
        <tr>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>Whether you&acute;re meeting friends, or just out for a stroll,  the Kaneva City map will help you find your way around.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>There&acute;s no better way to see the sites than the roofs and  balconies. But you&acute;re going to have to get nosy to find them.&nbsp; Along the way, you might even stumble across  some of our secret places.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <div>
                        <div> </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>Many of the more exclusive merchants formerly doing business  in the Mall have snapped up retail space in this up-and-coming area of town.  See their new shops, and check out the merchandise.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
