<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Places to go inside the World of Kaneva
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<table border="0" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="3">
            <table border="0" cellpadding="3" cellspacing="0" width="75%">
                <tbody>
                    <tr>
                        <td>
                        <p>Kaneva&acute;s not just full of great people &#8212; there are tons of  places to hang out in and explore. We&acute;re talking 3D here, so you&acute;ll want to  install the World of Kaneva program to visit them.</p>
                        <h2>How do you get around?</h2>
                        <br />
                        <h4><strong>Walk</strong> (of course)</h4>
                        Many of the public places are centered around the Plaza, so  when you exit the Mall, for instance, you&acute;ll find yourself outside, where you  can walk to the entrances of other places.
                        <br />
                        <br />
                        <h4><strong>Travel</strong></h4>
                        Click the <strong>Show the Map</strong> menu at the bottom of your screen. The window that opens will list every place  you can go to in-world, but they&acute;re divided into tabs: Public Places, Hang Outs, and Homes. Click  on a place, then click the <strong>Go</strong> button. It&acute;s that simple.
                        <p>We&acute;ve taken a few snapshots of our favorite Public Places.  Take a minute to check the pages out, then go in-world to experience them for  yourself.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            <div> </div>
            </div>
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place_city.jpg" alt="" border="0" height="247" width="230" /></td>
          <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place-underg.jpg" alt="" border="0" height="247" width="230" /></td>
          <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place-3rd.jpg" alt="" border="0" height="247" width="230" /></td>
      </tr>
        <tr>
            <td colspan="3" align="center" valign="middle"><hr noshade="noshade" />
            <br />
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place-help.jpg" alt="" border="0" height="247" width="230" /></td>
          <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place_tnt.jpg" alt="" border="0" height="247" width="230" /></td>
          <td align="center" valign="middle"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/place-tbs.jpg" alt="" border="0" height="247" width="230" /></td>
      </tr>
    </tbody>
</table>
