<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva Plaza
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />

<table border="0" cellpadding="0" cellspacing="0" width="721">
    <tbody>
        <tr>
            <td colspan="3" align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/plaza_main.jpg" alt="" height="469" width="723" /></td>
      </tr>
        <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
        </tr>
        <tr>
            <td align="left"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/plaza_1.jpg" alt="" height="218" width="234" /></td>
          <td align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/plaza_2.jpg" alt="" height="218" width="234" /></td>
          <td align="right"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/plaza_3.jpg" alt="" height="218" width="227" /></td>
      </tr>
        <tr>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>Find new places, like the Greenhouse, where you can buy any of the luscious   plant life that surrounds you. Then go back to your spot and place them. Viola. Instant foliage.</td>
                              </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>There are many ponds and streams to play or chill in. The central pond is the deepest. Explore the water works, ducking under bridges along your way.</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <div>
                        <div> </div>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>Kaneva Tower, with breathtaking views of the park below, is home to all new   residents, and includes a number of versatile floor plans that offer room to   grow.</td>
                              </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
