<!--
 Copyright Kaneva 2001-2020
 This file is licensed under the PolyForm Noncommercial License 1.0.0
 https://polyformproject.org/licenses/noncommercial/1.0.0/ 
-->

Title: Kaneva Third Dimension Dance Club
MetaDataTitle: <meta name="title" content="" />
MetaDataDescription: <meta name="description" content="" />
MetaDataKeywords: <meta name="keywords" content="" />

<table border="0" cellpadding="0" cellspacing="0" width="730">
    <tbody>
        <tr>
            <td colspan="3" align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/thirddim_main.jpg" alt="" height="469" width="730" /></td>
        </tr>
        <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
        </tr>
        <tr>
            <td align="left"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/thirddim_1.jpg" alt="" height="218" width="234" /></td>
            <td align="center"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/thirddim_2.jpg" alt="" height="218" width="234" /></td>
            <td align="right"><img src="http://streaming.kaneva.com/media/communities/kaneva/vworld/images/thirddim_3.jpg" alt="" height="218" width="234" /></td>
        </tr>
        <tr>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>Get great clubwear and party gear form the shopkeepers. Plenty of selections to suit all your party needs.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>Meet new people and catch up with current friends on the dance floor, or on several different balconies.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td>
                        <p>There are prizes to be won and people to be impressed with your Dance Game skills. Show them off and win.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
