/* HEADER */
/* CSS Document */

 .accountTable{
 	padding:5px 5px 5px 5px;
}
	
 .accountTitle{
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#7D7D7D;
	
 
 }
 
  .accountTitleWhite{
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	
 
 }
 
  .accountText{
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#7D7D7D;
 
 }
 
 /*black box*/
 
 .blackBoxTopLeft{
 width:10px;
 height:10px;
 background-image:url(../images/boxes/blackTopleft.gif);
 background-repeat:no-repeat;
 
 }
 
  .blackBoxTopRight{
 width:10px;
 height:10px;
 background-image: url(../images/boxes/blackTopright.gif);
 background-repeat:no-repeat;
 
 }
 
 .blackBoxBottomLeft{
 width:10px;
 height:10px;
 background-image: url(../images/boxes/blacktBottomleft.gif);
 background-repeat:no-repeat;
 
 }
 
  .blackBoxBottomRight{
 width:10px;
 height:10px;
 background-image:url(../images/boxes/blacktBottomright.gif);
 background-repeat:no-repeat;
 
 } 
 
 .blackBottom{
 background-image:url(../images/boxes/blackBottom.gif);
 background-repeat:repeat-x;
 
 }
 
  .blackTop{
 background-image:url(../images/boxes/blackTop.gif);
 background-repeat:repeat-x;
 
 }
 
 .blackBoxtable{
 background-image:url(../images/boxes/blackbg.gif);
 background-repeat:repeat-x;
 
 }
 