/* HEADER */
﻿@import url(base/base_new.css);
@import url(base/buttons.css);
@import url(userprofile.css);
@import url(leftnav.css);

/* CSS Document */
#wrapper {border:1px solid #ccc;border-top:none;background:url(../images/backgrounds/graphic_1004x1_backgroundMsgCenter_leftGradient.gif) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
#leftRail {width:185px;margin:10px 0;padding:0;float:left;text-align:left;}
#centerRail {width:540px;margin:14px 0 7px 0;_margin:14px 0 7px 0;float:left;}
#rightRail {width:216px;margin:14px 0 7px 20px;float:right;overflow:hidden;text-align:left;}

#contest_container {width:1004px;margin-top:-12px;}
#datacontainer {text-align:left;height:auto;float:right;margin:0 12px 0 0;}
a.btnxsmall {float:left;}
a.btnxsmall.left {margin-right:10px;}

#sectionTitle {font-size:20px;font-weight:bold;text-align:left;color:#333;padding:20px 0 16px 0;float:left;width:500px;}
#back {float:right;width:150px;padding-top:10px;}
#search {border-bottom:solid 1px #ebebeb;border-top:solid 1px #ebebeb;padding:6px 0;clear:both;}
#search input {width:270px;}
#search span {color:#6f6f6f;font-weight:bold;}
#search a.btnxsmall {display:inline-block;margin-right:0;float:none;}
.create {margin-left:22px;cursor:pointer;}
.create img {vertical-align:middle;}
#sort {font-size:10px;padding:2px 0 10px 0;font-weight:normal;}
#sort a {font-size:10px;}
#sort a.selected, #sort a:hover.selected {font-weight:bold;color:#000;text-decoration:none;}

#usernotify {clear:both;background-color:#fee4c9;margin-bottom:5px;padding:2px 0 10px 0;height:auto;}
#usernotify .heading {font-size:16px;font-weight:bold;line-height:20px;}
#usernotify .subheading {width:454px;float:right;font-size:15px;font-weight:bold;line-height:20px;color:#018aaa;margin-bottom:6px;}
#usernotify .subheading a {font-weight:bold;}
#usernotify .subheading a:hover {text-decoration:none;}
#usernotify .close {position:relative;top:0;left:530px;color:#6f6f6f;width:8px;height:8px;}
#usernotify .notifyfooter {clear:both;}
#usernotify .notifycontainer {padding:10px 0;}
#notifyimg {float:left;margin:2% 20px 0 14px;}

.noaccess {text-align:center;width:296px;}
.noaccess div {}
.noaccess .heading {font-weight:bold;margin:20px 0;}
.noaccess .content {height:30px;}

.errmsg {text-align:center;width:400px;height:150px;}
.errmsg div {}
.errmsg .heading {font-weight:bold;margin:20px 0;}

.vote, .vote_entry {clear:both;height:50px;width:76px;Background: url(../images/contests/vote_bg_1x50.gif) repeat-x;text-align:center;}
.voted {clear:both;height:50px;width:76px;Background: url(../images/contests/voted_bg_1x50.gif) repeat-x;text-align:center;}
.votenobtn {clear:both;height:24px;width:76px;Background: url(../images/contests/vote_bg_1x50.gif) repeat-x;text-align:center;}
.vote div, .vote_entry div, .votenobtn div {padding:4px 0 0 0;line-height:16px;width:76px;height:16px;color:#fff;font-weight:bold;font-size:18px;}
.vote_entry div {padding:2px 0 3px 0;}

.contest {text-align:left;clear:both;height:auto;border-top:solid 1px #ebebeb;padding:8px 0;}

.contest .left {float:left;width:107px;margin-bottom:20px;}
.contest .amount {height:35px;width:107px;color:#fff;background-color:#d56e07;Background:url(../images/contests/amount_background_1x27.jpg) repeat-x;}
.contest .amount div {background-color:#d56e07;padding:0 0 2px 17px;font-size:10px;font-weight:normal;text-align:center;}
.contest .amount div.value {height:17px;line-height:14px;font-weight:bold;font-size:18px;Background:url(../images/contests/coins_17x17.gif) 4px 4px;background-repeat:no-repeat;padding:4px 4px 0 22px;margin-top:2px;text-align:center;}
.contest .time {border:solid 1px #ccc;height:22px;margin-bottom:3px;}
.contest .time .label {float:left;color:#999;text-align:right;font-size:7pt;width:30px;line-height:9px;margin:2px 0 0 0;}
.contest .time .remaining {color:#101010;float:right;font-weight:bold;font-size:14px;padding:5px 3px 0 0;text-align:right;}
.contest .time .countdown {font-weight:normal;padding:5px 3px 0 0;}
.contest .time .alert {color:#ee2d2a;background:transparent;border:none;}
.contest .follow {height:40px;}

.contest .middle {float:left;width:310px;padding-left:10px;overflow:hidden;}
.contest .middle .title {line-height:22px;margin:0;}
.contest .middle .title  a {font-weight:bold;font-size:18px;}
.contest .middle .title  a:hover {text-decoration:none;}
.contest .middle .desc {font-size:12px;line-height:14px;clear:both;padding-bottom:10px;}

.contest .right {float:right;width:112px;font-size:9px;}
.contest .creator {float:right;text-align:right;color:#535353;}
.contest .framesize-xsmall {float:right;width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #fff;}
.contest .framesize-xsmall .imgconstrain {width:30px;height:32px;overflow:hidden;}
.contest .framesize-xsmall .imgconstrain img {width:30px}
.contest .data {text-align:left;clear:both;color:#6f6f6f;margin:3px 0 6px 0;font-size:11px;height:14px;}
.contest .data .entries {float:left;width:80px;}
.contest .data .votes {float:left;}
.contest .data .winner {float:left;margin-right:20px;font-weight:bold;}
.contest .follow {background:url(../images/icons/icon_follow_18x15.png) no-repeat 8px 5px;text-indent:30px;display:block;}
.contest .unfollow {background:url(../images/icons/icon_delete_16x16.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
.contest .info {font-size:11px;font-weight:normal;margin-bottom:5px;padding:4px 0 4px 10px;background-color:#f9f9f9;color:#aaa;border-top:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;}

.ended .time {border:solid 1px #909090;height:22px;margin-bottom:3px;}
.ended .amount {background-color:#909090;background-image:none;}
.ended .amount div {background-color:#909090;}
.ended .entry {border-top:none;}
.ended .award {clear:both;padding-top:10px;text-align:center;}

#details .contest {height:auto;}
#details .middle {width:420px;margin-bottom:15px;}
#details .middle .desc img {clear:both;}
#details .datacontainer {float:left;width:308px;margin-bottom:16px;}
#details .ownercontainer {float:right;width:112px;font-size:9px;}
#details .ownercontainer .creator {float:right;text-align:right;color:#535353;}
#details .ownercontainer .framesize-xsmall {float:right;width:30px;position:relative;margin:0;overflow:hidden;display:block;border:1px solid #fff;}
#details .ownercontainer .framesize-xsmall .imgconstrain {width:30px;height:32px;overflow:hidden;}
#details .ownercontainer .framesize-xsmall .imgconstrain img {width:30px}
#details #enter {border-top:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;height:64px;text-align:center;clear:both;}
#details #enter img {margin-top:10px;}
#details h2 {height:17px;font-size:14px;padding:4px 0 0 6px;background-color:#ccc;text-align:left;margin:2px 0 3px 0;color:#333;}

#details #entries h2 {margin-top:20px;}
#details #entries .nodata {clear:both;color:#6f6f6f;height:40px;border-bottom:solid 1px #ebebeb;text-align:center;width:100%;padding-top:15px;}
#details #entries .feedText div, #details .winner .feedText div {clear:both;}

#details #comments {border-bottom:solid 1px #ebebeb;padding-bottom:2px;clear:both;}
#details #usernotify {height:auto;background-color:#fee4c9;margin-bottom:4px;clear:both;padding:0;font-size:16px;font-weight:bold;line-height:20px;}

#details .txt {margin:0 0 0 12px;padding:10px 0;}
#details #usernotify span {font-size:12px;font-weight:bold;line-height:20px;color:red;}
#details #usernotify .txtwinner {height:66px;}
#details #usernotify .txtwinner div {margin:22px 0 0 6px;float:left;}
#details #usernotify .txtwinner #notifyimg {float:left;margin:0 10px 0 8px;}

#details .winner {width:100%;border:none;margin-bottom:14px;}
#details .winner img.ribbon {float:left;margin:4px 5px 0 0;}
#details .winner .winnertype {float:left;font-size:11px;font-weight:bold;margin:3px 0 0 0;}
#confirmvote {padding:0 6px;}
#confirmvote div {margin:16px 0 26px 0;}
#confirmvote .bold {font-weight:bold;margin:0;}
#contestpreviewcontainer {padding:0 5px 5px 5px;}
#contestpreviewcontainer .contest .data {text-align:left;font-size:11px;margin:8px 0;} 
#contestpreviewcontainer .contest .time {backgroung-color:#fff;margin-top:3px;}
#contestpreviewcontainer .contest .time .remaining {padding:2px 5px 0 0;}
#contestpreviewcontainer .contest {border:none;height:auto;padding-top:5px;}

#contest_widget h2 {width:210px;height:22px;font-size:15px;padding:3px 0 0 6px;background-color:#ccc;text-align:left;margin:0;color:#333;}
#contest_widget .widget {margin-bottom:10px;background-color:#f5f5f5;padding-bottom:4px;}
#contest_widget .widget h2 {margin-bottom:10px;line-height:18px;} 
#contest_widget .count {font-weight:bold;font-size:12px;padding:8px 4px;}
#contest_widget .row {clear:both;background-color:transparent;height:64px;overflow:hidden;}
#contest_widget .pts {float:left;width:62px;padding:0 2px 0 2px;}
#contest_widget .pts img {margin:4px 0 0 3px;}
#contest_widget .amt {border:solid 2px #d76e03;font-size:12px;font-weight:normal;padding:2px 1px 0 1px;text-align:center;}
#contest_widget .amt span{font-size:8px;font-weight:normal;}
#contest_widget .info {float:left;width:142px;margin-left:2px;}
#contest_widget .title {color:#018aac;font-size:13px;line-height:14px;overflow:hidden;max-height:28px;}

#contest_widget .entries, #contest_widget .votes {color:#6f6f6f;font-size:11px;float:left;width:70px;margin:4px 0;}
#contest_widget .remaining {color:#000;font-size:11px;clear:both;}
#contest_widget .alert {color:#ee2d2a;background:transparent;border:none;}
#contest_widget .divide {margin:0 0 8px 0;}
#contest_widget .top {background-color:#ebebeb;height:1px;}
#contest_widget .btm {background-color:#fff;height:1px;}

#mycontests .section_spacer {height:25px;clear:both;}
#mycontests .secheading {clear:both;font-size:10px;font-weight:bold;margin:0;padding:4px 0 4px 4px;background-color:#f5f5f5;color:#aaa;border-top:solid 1px #ebebeb;border-bottom:solid 1px #ebebeb;}
#mycontests .topsection {margin-top:0;}
#mycontests .nodata {clear:both;color:#6f6f6f;height:50px;text-align:center;width:100%;margin-top:10px;}
#mycontests .contest {border:none;}
#mycontests .separator {clear:both;color:#ebebeb;height:1px;}
#contests .nodata {clear:both;color:#6f6f6f;height:50px;text-align:center;width:100%;margin-top:30px;}

.loadingData {background-image:url(../images/ajax-loader.gif);background-repeat:no-repeat;background-position:center;height:30px;text-align:center;margin-top:20px;}
.loadingText {font-size:10px;font-weight:none;width:99%;text-align:center;color:#999;margin-top:5px;}

/*-----------(TABBED CONTROL)-------------- */	
#tabContainer {background:url(../images/icons/leaderboard/bg_altrow.gif);width:532px;height:21px;padding:10px 0px 0px 8px;margin-bottom:10px;border-bottom:solid 1px #999;}
#tabContainer div {background-color:#ccc;height:21px;padding:0;margin-right:1px;float:left;position:relative;text-align:center;}
#tabContainer div a {color:#fff;height:17px;padding-top:3px;display:block;border-left:solid 1px #ccc;border-right:solid 1px #ccc;border-top:solid 1px #ccc;}
#tabContainer div a:hover {color:#3d77c4;display:block;border-left:solid 1px #ebebeb;border-right:solid 1px #ebebeb;border-top:solid 1px #ebebeb;text-decoration:none;background:#ebebeb;}
#tabContainer div a:hover:active {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:#fff;}
#tabContainer div.selected {background-color:#fff;padding:0;margin-right:1px;color:#0d4764;float:left;}
#tabContainer div.selected a {color:#3d77c4;font-weight:bold;border:1px solid #999;border-bottom:1px solid #fff;background:transparent;}}

#tabContainer div.Contests {width:102px;}
#tabContainer div.Contests a {width:100px;}
#tabContainer div.My_Contests {width:102px;}
#tabContainer div.My_Contests a {width:100px;}

.loadingTabData {height:60px;text-align:center;padding-top:100px;font-size:10px;font-weight:normal;color:#999;}

/* ------------AJAX PAGER---------*/
.pagerContainer{text-align:right;font-size:11px;font-weight:bold;border-top:solid 1px #ebebeb;margin:5px 0;padding-right:6px;}
.pager {color:#018aaa;margin:0 2px;}
.pagerCurrentPage {color:#000;margin:0 2px;}
span.pagerPrevious {display:none;}
span.pagerNext {display:none;}
.pageReport {color:#999;line-height:16px;}
.error {margin-top:40px;}

#createcontest {}
.pagetitle {height:30px;padding-top:0;width:550px;font-size:21px;font-weight:bold;color:#333;}
#createcontest #entryfields {width:598px;height:340px;border:solid 1px #ccc;background-color:#ededed;}
#entryfields table {}
#entryfields table td {padding:3px 1px;}
#entryfields table td.lbl {text-align:right;color:#535353;font-weight:bold;}
#entryfields table td.desc {vertical-align:top;padding-top:5px;}
#entryfields table td.fields {width:480px;text-align:left;} 
#entryfields input[type="text"] {width:475px;}
#entryfields input[type="radio"] {padding:0;outline:none;width:14px;vertical-align:middle;}
#entryfields table td.fields input[type="checkbox"] {vertical-align:middle;margin-bottom:2px;margin-right:3px;}
#entryfields table td.fields label {vertical-align:middle;}
#entryfields table td.fields .prizeamt {width:50px;height:12px;padding-bottom:1px;font-size:11px;}
#entryfields table tr.xtrapad td {padding:10px 0 4px 0;}
#entryfields .note {color:#999;font-size:11px;height:10px;width:140px;display:inline;}
#entryfields ul {}
#entryfields li {float:left;margin:0 12px 0 2px;font-size:12px;}
#entryfields li.nomargin {margin:0 0 0 2px;}
#entryfields input[type="text"].endDate {color:#999;width:82px;margin-left:2px;}
#createcontest .msg, #entercontest .msg {height:30px;margin-top:6px;text-align:center;color:Red;} 

#buttons {clear:both;padding:0;margin:10px 0 0 0;width:99%;text-align:center;height:30px;}
.btncontainer {margin:auto;height:29px;width:100px;}
.twobtn {Width:190px;}

#entercontest {font-size:12px;width:480px;}
#entercontest .msg {height:20px;}
#contestblasts input[type="checkbox"]{margin:12px 0 0 18px;}
#contestblasts {background-color:#ededed;height:40px;width:476px;border:solid 1px #ddd;border-top:none;}

#previewcontest {}
#previewcontest {width:590px;height:280px;overflow:auto;border:solid 1px #ddd;padding-left:6px;}
#previewContainer .msg {height:12px;text-align:center;color:Red;}
#previewContainer #details .contest .time {margin-top:4px;}
#previewContainer #details .middle {width:426px;} 
#subtitle {color:#000;font-size:12px;font-weight:bold;}
.cost {font-size:14px;padding-top:12px;margin-bottom:10px;font-weight:bold;text-align:center;width:598px;}
.notenough span.warning {color:Red;font-size:14px;}
.note {clear:both;color:#999;font-size:9px;text-align:center;width:598px;padding-top:6px;}
.terms {clear:both;color:#333;font-size:11px;text-align:center;width:100%;padding-top:6px;}

.buttons a, .buttons button{display:block;float:left;margin:10px 0 5px 20px;background-color:#2f5e77;background-image:url(../images/mykaneva/buttonBkgd.jpg);background-repeat:repeat-x;background-position:top left;border:1px solid #2f5e77;font-family:Verdana, Geneva, sans-serif;font-size:100%;line-height:130%;text-decoration:none;color:white;cursor:pointer;padding:5px 10px 6px 7px;}
.buttons button{width:auto;overflow:visible;padding:4px 10px 3px 7px; /* IE6 */}
.buttons button[type]{padding:2px 10px 2px 7px; /* Firefox */line-height:17px; /* Safari */}
*:first-child+html button[type]{padding:3px 10px 2px 7px; /* IE7 */}
.buttonnarrow {float:left;margin-right:4px;}

.feed {width:520px;float:left;background-color:white;margin:4px 0;padding:0 0 8px 0;border-bottom:1px solid #ebebeb;clear:both;}
.feedImg {width:80px;height:100%;min-height:100%;padding:0;position:relative;float:left;margin-bottom:12px;}
.feedText {width:432px;_width:434px;margin:0;position: relative;clear:right;padding-bottom:10px;display: block;overflow:hidden;}
.feedText h4{font-size:13px;font-weight:bold;line-height:18px;} 
.feedText h4 span {color:#000;}
.feedText p, .feedText div {font-size:11px;font-style:normal;_line-height:15px;word-wrap:break-word;}
.feedText .time {font-size:10px;font-style:normal;color:#999;margin-top:1px;clear:left;}
.feedText .time a:link, .feedText .time a:hover,
.feedText .time a:visited, .feedText .time a:active {font-size:10px;font-style:normal;font-weight:normal;}
.feedText a:link, .feedText a:hover, 
.feedText a:visited, .feedText a:active {font-weight:bold;font-size:12px;}
.feedText img{margin:5px 5px 0 0;float:left;}
.feed-imgTextContainer {height:auto;_height:60px;}
.feed-imgContainer {float:left;height:100%;width:78px;}
.feed-textContainer {float:right;width:434px;}
.feedText .linkBlast {font-size:11px;}
.feedText .linkBlast a:link, .feedText .linkBlast a:hover, 
.feedText .linkBlast a:visited, .feedText .linkBlast a:active{line-height:20px;font-size: 11px;}

/* -------------COMMENT SECTION OF FEEDS------------- */
#contestcomments .feedbackText {width:470px;}

/* */
.commentBox {background-color:#f5f5f5;padding:5px 10px 2px 10px;text-align:left;}
.commentBox textarea {width:460px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
.commentBox a.button_add {font-size:12px;clear:both;color:#fff;border:none;background-color:#f5f5f5;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #dc924f;width:130px;height:27px;text-align:center;padding:2px;padding-top:6px;margin:9px 0 0 0;}
.commentBox a.button_add, .commentBox a.button_add:visited {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.commentBox a.button_add:hover {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none;
}
.commentBox a.button_add:active {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}

.feedbackBox {background-color:#f5f5f5;padding:2px 5px 3px 5px;margin:0 0 2px 0;border-bottom:1px solid #e8e8e8;min-height:45px;height:auto;overflow:hidden;_height:40px;_overflow:visible;}
.feedbackBox img {position:inherit;margin-top:2px;max-height:40px;}
.feedbackImg {width:56px;_width:58px;padding-right:2px;float:left;overflow:hidden;}
.feedbackImg img {width:40px;}
.feedbackText {width:360px;margin:0 0 0 2px;padding:0;position:relative;clear:right;display:block;float:right;text-align:left;}
.feedbackText p a:link, .feedbackText p a:hover, 
.feedbackText p a:visited, .feedbackText p a:active {font-size:12px;font-weight:bold;line-height:14px;} 
.feedbackText p {font-size:11px;font-style:normal;clear:inherit;line-height:14px;margin:0;padding:0;}
.feedbackText .time {font-size:10px;color:#999;margin-top:1px;}
.feedbackText .time a {font-size:10px;}
.feedbackbadge {width:58px;padding:0 5px 0 0;}
.allComments {background-image:url(../images/mykaneva/comments.jpg);background-color:#f5f5f5;background-position:top left;background-repeat:no-repeat;padding:0 0 2px 20px;height:17px;}
.allComments a:link {font-size:11px;font-weight:normal;}
.commentText .loadingText {margin:0 0 6px 0;font-size:10px;width:100%;text-align:center;color:#999;font-weight:normal;}
.ownercomment {background-color:#ebebeb;}

/* Override the comments settings for the entries area */
#details #entries .feed {width:540px;}
#details #entries textarea {width:410px;}

.blastPager {text-align:right;padding-bottom:10px;}

a.btnmedium {padding-top:5px;}