/* HEADER */
@charset "UTF-8";
/* CSS Document */

#wrapper {
	position: relative;
	width: 990px;
	height: 100%;
	min-height: 800px;
	margin: auto auto;
	padding-top: 25px;
}
#topCap {
	margin:0;
	width:990px;
	height:12px;
	line-height:12px;
	background-image: url(../images/create/topCap.gif);
	background-repeat: no-repeat;
	background-position:top left;				
}
#stage {
	margin: 0;
	width: 990px;	
	min-height: 700px;
	background-color: white;
	background-image: url(../images/create/stageGrad.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
	position: relative;
}
#bottomCap {
	margin:0;
	width:990px;
	height:12px;
	background-image: url(../images/create/bottomCap.gif);
	background-repeat: no-repeat;
	background-position:top left;
}
#leadCopy {
	position: relative;
	margin: 0 12px 20px 30px;      text-align:left;
	width: 880px;
}
#leadCopy h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	font-weight: lighter;
	color: #0d6585;    margin:0;padding-left:0;
}
#leadCopy p{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color:#707070;		 margin:0;
}
#content {
	width:920px;
	position:relative;
	margin: auto auto;
	padding-bottom: 12px;	text-align:center;
}
#content h4{
	margin: 215px 0 5px 30px;
}

#content h4 a{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight:bold;
	text-decoration:none;
	color:#066990;
}

#content h4 a:hover{
	color:#FFF;
}


#content p{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color:#707070;
	margin: 0 0 0 30px;
}
#games {
	position: relative;
	margin:0;
	float: left;
	width:301px;
	background-image: url(../images/create/imageGames.jpg);
	background-repeat: no-repeat;
	background-position: top left;										text-align:left;
}
#fashion {
	position: relative;
	margin:0;
	float: left;
	width:301px;
	background-image: url(../images/create/imageFashion.jpg);
	background-repeat: no-repeat;
	background-position: top left;										text-align:left;
}
#communities {
	position: relative;
	margin:0;
	float: left;
	width:301px;
	background-image: url(../images/create/imageCommunities.jpg);
	background-repeat: no-repeat;
	background-position: top left;										text-align:left;
}
#ads {
	position: relative;
	float: left;
	margin: 12px 10px 5px 22px;
}
#blog {
	position: relative;
	float: left;
	margin: 44px 10px 5px 12px;
}
#footer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 990px;
	margin-bottom: 12px;
}
#footer p {
	color: #C4E9E8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: center;
	line-height: 22px;
}
#footer a{
	color:#C4E9E8;
	text-decoration: none;
}
#footer a:hover {
	color: white;
	text-decoration: underline;
}