/* HEADER */
body {
	background: #ffffff url("../images/spacer.gif") repeat-x 0 0;
	font-size: 9px;
	font-family: verdana, arial, sans-serif;
	color: #656565;
	}

.lineItemColHeadCSR
{
	font-family: Arial; 
	font-style: normal;
	font-weight:bold;
	color: white;
	text-align: center;
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;
	background-color: #cccccc;	
}

.lineItemColHeadCSR A:link
{
	color: #ffffff;
}

.lineItemColHeadCSR A:active
{
	color: #ffffff;
}

.lineItemColHeadCSR A:visited
{
	color: #ffffff;
}

.lineItemColHeadCSR A:hover
{
	color: #FFC154;
}

.lineItemEvenCSR
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	background-color: #ffffff;
	letter-spacing: normal;
	word-spacing: normal;
	word-wrap:break-word;
	padding-left: 4px;
}

.lineItemOddCSR
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	background-color: #eeeeee;
	letter-spacing: normal;
	word-spacing: normal;
	word-wrap:break-word;
	padding-left: 4px;	
	padding-top:2px;
	padding-bottom:2px;
}

.assetStoreStats
{
	color: #B0B0B0;
	font-family: Arial;
	font-size: 10px;
}

/*-----------(TEXT COLORS)-------------- */	

.red {color: #ff0000;}
.black {color: #000000;}
.darkGreen {color: #006400;} 
.darkRed {color: #8B0000;}

/*-----------(ERROR MESSAGE BOX)----------- */
.errBox
{
  width: 80%;
  border: solid 1px red;
  background-color: #ffebe8;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}

.infoBox
{
  width: 80%;
  border: solid 1px #006400;
  background-color: #ccffcc;
  padding: 10px;
  text-align: left;
  font-size: 12px;
}
