/* HEADER */
.pagePermissions
{
	FONT-SIZE: 14px; 
	COLOR: #669933; 
	FONT-FAMILY: Arial, Helvetica, Verdana;
	font-weight:bold;
}

.insideBottomBoxGray{
	background-image:url(../images/head/bottomBorderGray.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideTopBoxGray{
	background-image:url(../images/head/topBorderGray.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideLeftBoxGray{
	background-image:url(../images/head/leftBorderGray.gif); width:5px; height:1px;background-repeat:repeat-y;
}

.insideRightBoxGray{
	background-image:url(../images/head/rightBorderGray.gif); width:5px; height:1px;background-repeat:repeat-y;
}

.insideRightBoxGrayContent{
	background-image:url(../images/content/rightBorderGray.gif); width:5px; height:1px;background-repeat:repeat-y;
}

.bottomBoxContent{
	background-image:url(../images/head/bottomBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.topBoxContent{
	background-image:url(../images/head/topBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.leftBoxContent{
	background-image:url(../images/head/borderLeft.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.rightBoxContent{
	background-image:url(../images/head/borderRight.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.insideBottomBoxContent{
	background-image:url(../images/content/insideBottomBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideTopBoxContent{
	background-image:url(../images/content/insideTopBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideLeftBoxContent{
	background-image:url(../images/content/insideBorderLeft.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.insideRightBoxContent{
	background-image:url(../images/content/insideBorderRight.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.insideBottomBoxGrayContent{
	background-image:url(../images/content/bottomBorderGray.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideTopBoxGrayContent{
	background-image:url(../images/content/topBorderGray.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideLeftBoxGrayContent{
	background-image:url(../images/content/leftBorderGray.gif); width:5px; height:1px;background-repeat:repeat-y;
}

.titleBarSC {
	background-image: url(../images/pagelayout/Modules/top_backgroundSC.gif);
	background-repeat: no-repeat;
	width: 175px;
	/* cursor: move; */
	position: relative;
	height: 19px;
}

.titleBarTitleSC {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: White;
	font-weight: normal;
	padding-left: 7px;
	padding-top: 4px;
	/* cursor: move; */
	position: relative;
}

.titleBarMove {
   cursor: move;
}

.pageLayoutBg
{
	background-image: url(../images/boxes/pageLayoutBg.jpg);
}
.modMoveContentLeftSC {
	background-image: url(../images/pagelayout/Modules/left_backgroundSC.gif);
	background-repeat: repeat-y;
	width: 7px;
}

.modMoveContentLeftBottomSC {
	background-image: url(../images/pagelayout/Modules/leftbottom_backgroundSC.gif);
	background-repeat: no-repeat;
	width: 7px;
	height: 7px;
}

.modMoveContentBottomSC {
	background-image: url(../images/pagelayout/Modules/bottom_backgroundSC.gif);
	background-repeat: repeat-x;
	height: 7px;
}

.modMoveContentRightBottomSC {
	background-image: url(../images/pagelayout/Modules/rightbottom_backgroundSC.gif);
	background-repeat: no-repeat;
	width: 7px;
	height: 7px;
}

.modMoveContentRightSC {
	background-image: url(../images/pagelayout/Modules/right_backgroundSC.gif);
	background-repeat: repeat-y;
	width: 7px;
}

.modeMoveContentBgSC {
	width: 175px; 
	height: 40px;
	background-color: #F6F6F6;
}

.mod-textSC {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #585858;
	font-weight: normal;
}

.movContMainBoxTopLeft
{
	background-image: url(../images/boxes/movContMainBox_TopLeft.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxTop
{
	background-image: url(../images/boxes/movContMainBox_Top.gif); 
	height: 7px;
	background-repeat: repeat-x;
}

.movContMainBoxTopRight
{
	background-image: url(../images/boxes/movContMainBox_TopRight.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxLeft
{
	background-image: url(../images/boxes/movContMainBox_Left.gif); 
	width: 7px;
	background-repeat: repeat-y;
	border-left-style: none; 
	border-top-style: none; 
	border-bottom-style: none; 
	border-right-style: none;
}

.movContMainBoxRight
{
	background-image: url(../images/boxes/movContMainBox_Right.gif); 
	width: 7px;
	background-repeat: repeat-y;
}

.movContMainBoxMidTopLeft
{
	background-image: url(../images/boxes/movContMainBox_MidTopLeft.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxMidTop
{
	background-image: url(../images/boxes/movContMainBox_MidTop.gif); 
	height: 7px;
	background-repeat: repeat-x;
}

.movContMainBoxMidTopRight
{
	background-image: url(../images/boxes/movContMainBox_MidTopRight.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxBottomLeft
{
	background-image: url(../images/boxes/movContMainBox_BottomLeft.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxBottom
{
	background-image: url(../images/boxes/movContMainBox_Bottom.gif); 
	height: 7px;
	background-repeat: repeat-x;
}

.movContMainBoxBottomRight
{
	background-image: url(../images/boxes/movContMainBox_BottomRight.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.movContMainBoxText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	border-left-style: none; 
	border-top-style: none; 
	border-bottom-style: none; 
	border-right-style: none;
}

.movContMainBoxTextLt
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}

.movContMainBoxSep1
{
	background-image: url(../images/boxes/movContMainBox_Sep1.gif);
	height: 21px;
	background-repeat: repeat-x;
	border: thin;
}

.movConDivider
{
	background-color: #D7D7D7;
	width: 2px;
	border-right: 1px solid #FF0000;
}

.movContMainBoxSepT
{
	border: 1px outset #C4C4C4;
	border-bottom-style: none;
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
}

.dottedLineVert
{
	background-image: url(../images/dottedLineVert.gif);
	background-repeat: repeat-y;
	width: 1px;
}

.transparentButton {filter: alpha(opacity=50); opacity: .10} 

.bgbutton
{
	background-image:url(../images/buttons/suve_bt.gif);width:44px;height:23px; background-repeat:no-repeat; text-align:center;
}
.textBoxInput{ color:#4e4e4e; font-size:10px;font-family: Verdana; width:90px;}

.editChannelsInBoxLeft {
	background-image:url(../images/editChannelsInBox_left.gif); 
	background-repeat: no-repeat;
	width: 7px;
	height: 47px;
}

.editChannelsInBoxBg {
	background-image:url(../images/editChannelsInBox_bg.gif); 
	background-repeat: repeat-x;
	height: 47px;
}

.editChannelsInBoxRight {
	background-image:url(../images/editChannelsInBox_right.gif); 
	background-repeat: no-repeat;
	width: 7px;
	height: 47px;
}

.editChannelText10 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
}

.saveChangesBt{
	background-image:url(../images/buttons/saveChangesBtn.gif); width:98px; height:18px; background-repeat:no-repeat;
}