/* HEADER */
﻿
#wrapper {border:1px solid #ccc;border-top:none;background-color:#fff;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:0;clear:both;display:inline-block;}
.PageContainer {background-color:#fff;width:1004px;height:100%;border-top:solid 1px #fff;}

#cal1Container {display:none;position:absolute;z-index:100;}
#cal2Container {display:none;position:absolute;z-index:100;}
#cal3Container {display:none;position:absolute;z-index:100;}

#formContainer {
	width:780px;
	background-color: white;
	text-align: left;
	padding:10px 0px 20px 0;
	margin:20px auto 0 auto;
    }
#formContainer h1 {width:800px;margin-bottom:30px;font-weight:bold;}
#formContainer label {font-size:12px;display:inline-block;}
#formContainer textarea, #formContainer input, #formContainer select {border:1px solid #ccc;}
#formContainer input[type=radio], #formContainer input[type=checkbox]{border:none;}
#formContainer input {padding-left:2px;}

.tagline {margin-bottom:20px;}
.leftcol {float:left;width:400px;}
.rightcol {float:right;width:370px;height:220px;padding-bottom:80px;}

.leftcol div {margin:10px 0;}
.leftcol div.desc * {vertical-align:top;margin-top:2px;}
.leftcol div.desc label {margin-top:6px;}
.leftcol label {width:90px;text-align:right;margin-right:6px;}
.leftcol label.worldname {width:250px;text-align:left;font-weight:bold;}
.leftcol textarea {width:263px;padding-left:2px;}
.leftcol input {width:263px;height:20px;}
.leftcol select {width:267px;line-height:12px;height:22px;padding-top:0;}

.rightcol div.date {margin:10px 0 0 0;}
.rightcol div.date input[type=text] {margin-right:2px;}
.rightcol input[type=text] {width:84px;color:#999;}
.rightcol div.date img {vertical-align:text-bottom;margin-right:20px;}
.rightcol div.tz {width:30px;font-size:11px;position:relative;left:204px;}
.rightcol .eventtype {margin-top:0;}
.rightcol div.type {margin-bottom:0;}
.rightcol div.premium {margin-top:16px;}
.rightcol input[type=radio] {position:relative;top:3px;outline:none;padding:1px;}
.rightcol div.type label {margin:0;color:#000;}
.rightcol .typecontainer {margin-left:18px;display:block;}
.rightcol .typecontainer.prem {display:none;}
.rightcol div.typecontainer label {margin:0;margin-left:5px;top:-2px;position:relative;}
.rightcol .typecontainer hr {border:none;border-top:1px solid #ccc;height:1px;margin:6px 0;}
.rightcol .typecontainer input[type=radio] {position:relative;top:1px;outline:none;padding:1px;}
.rightcol .amounts {float:left;margin-bottom:6px;}
.rightcol .amounts td {padding:1px 0;}
.rightcol .amounts td label {margin-left:5px;}
.rightcol div.balances {float:right;font-size:12px;}
.rightcol div.balances > div {margin:4px 0;}
.rightcol div.note {font-size:9px;color:#999;margin-left:3px;}
.rightcol div.note.premiumnote {margin-left:22px;}
.rightcol div.note.padbot {margin-bottom:10px;}
.rightcol .cbfriends {margin-top:6px;display:block;position:relative;top:2px;outline:none;padding:1px;}
.rightcol .cbfriends.disabled > label {color:#999;}
.rightcol .cbfriends label {margin:0;margin-left:5px;top:-2px;position:relative;}
.recurring {margin:0 0 0 16px;height:46px;padding:0;border-top:1px solid transparent;}
.recurring .recur {margin-top:0;display:none;}
.recurring div {font-size:10px;color:#ee2d2a;margin:1px 0 0 22px;overflow:visible;}

.admin {margin-top:20px;}
.admin h4 {margin-bottom:16px;font-weight:bold;}
.admin div label {display:block;height:15px;padding-left:15px;text-indent:-15px;}
.admin div label input {width:13px;height:13px;padding:0;margin:0;vertical-align:bottom;position:relative;top:1px;*overflow:hidden;}
.admin input[type=radio] {}
.admin table {margin:10px 0 16px 0;float:left;}
.admin table label {margin-right:10px;}
.admin div.date img {margin-right:11px;}
.admin fieldset {border:1px solid #ccc;padding:20px 5px 15px 10px;}

.eventcontainer {width:100%}

.eventdetail {width:100%;}
.eventdetail .leftcol {width:180px;padding:0 10px;float:left;text-align:left;font-size:12px;}
.eventdetail .leftcol label {margin-right:5px;font-weight:bold;font-size:.9em;}
.eventdetail .leftcol img {border:1px solid #ccc;}
.eventdetail .leftcol .attendees {width:180px;margin-top:30px;margin-left:2px;}
.eventdetail .leftcol .attendees div {color:#3d77c4;}
.eventdetail .leftcol .attendee {width:32px;height:32px;margin-right:1px;margin-bottom:2px;float:left;}
.eventdetail .leftcol .invites {color:#ee2d2a;margin-top:40px;line-height:1.3em;font-size:.9em;}

.eventdetail .rightcol {float:left;width:550px;height:auto;text-align:left;border-left:1px solid #ccc;}
.eventdetail .rccontainer {margin-left:10px;margin-top:8px;}
.eventdetail .rccontainer p {margin:8px 0;font-size:12px;}
.eventdetail .rightcol img {}
.eventdetail .rightcol label {font-weight:bold;}
.eventdetail .rightcol div.name {font-weight:bold;font-size:1.6em;margin-bottom:10px;line-height:1.2em;}
.eventdetail .rightcol div.desc {margin-left:10px;margin-top:14px;line-height:1.2em;}
.eventdetail .rightcol h2 {height:17px;font-size:14px;padding:4px 0 0 6px;background-color:#ccc;text-align:left;margin:2px 0 3px 0;color:#333;}

.eventdetail hr.divide {border:none;height:1px;background:#ccc;width:100%;margin:20px 0 14px 0;}
.eventdetail div.buttons {margin:14px auto 0 auto;padding:7px 0 7px 10px;height:28px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.eventdetail div.buttons a.btnmedium {float:left;padding-top:6px;margin-right:10px;}
.eventdetail div.buttons .statusmessage {font-size:14px;font-weight:bold;font-style:italic;margin-top:8px;}

div.btncontainer {text-align:center;height:30px;margin:0 auto;margin-bottom:20px;padding-top:30px;}
a.btnsmall {display:inline-block;padding-top:6px;height:22px;}
a.btnsmall.padright {margin-right:20px;}
a.btnxsmall {padding-top:7px;}

.createworld {margin:100px auto 100px auto;}
.createworld div.headline {color:#333;width:400px;text-align:center;margin:0 auto 4px auto;font-size:16px;}
.createworld div.small {color:#999;text-align:center;margin-bottom:20px;}
.createworld a.btnxlarge {padding-top:11px;height:25px;}

/* Errors */
.errBox {
    width:968px;
    border-style:none;
    padding:14px 14px 14px 20px;
    font-size:11px;
    line-height:11px;
    color:#333333;
    margin:0;
}
.errBox ul {margin:10px 0 10px 30px;}
.errBox ul li {list-style-type:disc;}


#formContainer input.error{border:1px solid #ee2d2a;font-weight:normal;}
#formContainer input.error:focus {
    border:1px solid #ee2d2a;
    background-color:#fff;
    font-weight:normal;
}
#formContainer label.error { color:#ee2d2a; }

/* overrides for popup calendar */
div.ui-datepicker {font-size:12px;}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* Blasts and Comments */
.feed {width:100%;float:left;background-color:white;margin:4px 0;padding:0 0 8px 0;border-bottom:1px solid #ebebeb;clear:both;}
.feedImg {width:50px;height:100%;min-height:100%;padding:0;position:relative;float:left;margin-bottom:12px;}
.feedText {width:432px;_width:434px;margin:0;position: relative;clear:right;padding-bottom:10px;display: block;overflow:hidden;}
.feedText h4{font-size:13px;font-weight:bold;line-height:18px;} 
.feedText h4 span {color:#000;}
.feedText p, .feedText div {font-size:11px;font-style:normal;_line-height:15px;word-wrap:break-word;}
.feedText span.eventcreated {color:#999;font-weight:normal;}
.feedText .time {font-size:10px;font-style:normal;color:#999;margin-top:1px;clear:left;}
.feedText .time a:link, .feedText .time a:hover,
.feedText .time a:visited, .feedText .time a:active {font-size:10px;font-style:normal;font-weight:normal;}
.feedText a:link, .feedText a:hover, 
.feedText a:visited, .feedText a:active {font-weight:bold;font-size:12px;}
.feedText img{margin:5px 5px 0 0;float:left;}
.feed-imgTextContainer {height:auto;_height:60px;}
.feed-imgContainer {float:left;height:100%;width:60px;}
.feed-textContainer {float:right;width:450px;}
.feedText .linkBlast {font-size:11px;}
.feedText .linkBlast a:link, .feedText .linkBlast a:hover, 
.feedText .linkBlast a:visited, .feedText .linkBlast a:active{line-height:20px;font-size: 11px;}
.feed div {margin-top:0;}

/* -------------COMMENT SECTION OF FEEDS------------- */
#blasts {margin-left:12px;}
#blasts h2 {margin-bottom:1px;}
#blasts .button_add.blast {padding-top:7px;}
#blasts .nodata {text-align:center;width:100%;margin-top:30px;}
#comments {border-bottom:solid 1px #ebebeb;padding-bottom:2px;clear:both;margin-left:10px;}
#eventcomments .feedbackText {width:470px;}

/* */
div.blastBox {background-color:#f5f5f5;padding:10px 10px 2px 10px;text-align:left;margin-top:1px;}
.blastBox textarea {width:514px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
.blastBox a.button_add {font-size:12px;clear:both;color:#fff;border:none;background-color:#f5f5f5;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #dc924f;width:130px;height:27px;text-align:center;padding:2px;padding-top:6px;margin:9px 0 0 0;}
.blastBox a.button_add, .blastBox a.button_add:visited {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.blastBox a.button_add:hover {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none;
}
.blastBox a.button_add:active {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}

.blasterr {font-size:11px;color:#ee2d2a;text-align:center;margin-bottom:5px;display:none;}

div.commentBox {background-color:#f5f5f5;padding:8px 10px 2px 10px;text-align:left;margin-top:1px;}
.commentBox textarea {width:426px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
.commentBox a.button_add {font-size:12px;clear:both;color:#fff;border:none;background-color:#f5f5f5;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #dc924f;width:130px;height:27px;text-align:center;padding:2px;padding-top:6px;margin:9px 0 0 0;}
.commentBox a.button_add, .commentBox a.button_add:visited {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.commentBox a.button_add:hover {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none; 
}
.commentBox a.button_add:active {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}

div.feedbackBox {background-color:#f5f5f5;padding:2px 5px 3px 5px;margin:0 0 2px 0;border-bottom:1px solid #e8e8e8;min-height:45px;height:auto;overflow:hidden;_height:40px;_overflow:visible;}
.feedbackBox img {position:inherit;margin-top:2px;max-height:40px;}
.feedbackImg {width:40px;_width:40px;padding-right:2px;float:left;overflow:hidden;}
.feedbackText {width:380px;margin:0 0 0 2px;padding:0;position:relative;clear:right;display:block;float:right;text-align:left;}
.feedbackText p a:link, .feedbackText p a:hover, 
.feedbackText p a:visited, .feedbackText p a:active {font-size:12px;font-weight:bold;line-height:14px;} 
.feedbackText p {font-size:11px;font-style:normal;clear:inherit;line-height:14px;margin:0;padding:0;}
.feedbackText .time {font-size:10px;color:#999;margin-top:1px;}
.feedbackText .time a {font-size:10px;}
.feedbackbadge {width:58px;padding:0 5px 0 0;}
.allComments {background-image:url(../images/mykaneva/comments.jpg);background-color:#f5f5f5;background-position:top left;background-repeat:no-repeat;padding:0 0 2px 20px;height:17px;}
.allComments a:link {font-size:11px;font-weight:normal;}
.commentText .loadingText {margin:0 0 6px 0;font-size:10px;width:100%;text-align:center;color:#999;font-weight:normal;}
.ownercomment {background-color:#ebebeb;}

/* Override the comments settings for the entries area */
#details #entries .feed {width:540px;}
#details #entries textarea {width:410px;}

#divLoading {height:404px;}
#divLoading table {margin:60px auto 0 auto;}
#divLoading table tr th.loadingText {text-align:center;}
#divLoading table tr th.loadingText div {margin:0 auto;}

.btnsmall.grey.disable:link {background:url(../images/buttons/button_403x27_smallGrey.png) no-repeat 0 0;color:#ddd;}
.btnsmall.grey.disable:hover {background-position:0 0;text-decoration:none;color:#ddd;}
.btnsmall.grey.disable:active {background-position:0 0;color:#ddd;}
.btnsmall.grey.disable:visited {color:#ddd;}
