/* HEADER */
/* Buy Rave Dialog */
.facebox_btn a:link, .facebox_btn a:visited, .facebox_btn input, .facebox_btn a:hover{
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:10pt;
	color:White;
	padding:2px 11px;
	height: 18px;
	border:solid 1px #346B94;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.facebox_btn_mega a:link, .facebox_btn_mega a:visited, .facebox_btn_mega input{
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:7pt;
	color:White;
	padding:2px 11px;
	height: 18px;
	border:solid 1px #346B94;
	font-weight:normal;
}
.facebox_btn_disable a:link, .facebox_btn_disable a:visited
{
	background-image: url("../images/facebox/btnBkgdImg_Inactive.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:7pt;
	color:Gray;
	padding:2px 11px;
	height: 18px;
	border:solid 1px #808080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.clearit {clear:both;}

.payment_btn a:link {
	background-image: url("../images/facebox/btnBkgdImg_Active.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	text-decoration:none;
	font-size:10pt;
	color:White;
	padding:2px 11px;
	border:solid 1px #346B94;
	font-weight:normal;
}
.payment_btn_disable, .payment_btn_disable a:link, .payment_btn_disable a.disabled {
	background-image: url("../images/facebox/btnBkgdImg_Inactive.gif");
	background-repeat:repeat-x;
	background-color:Transparent;
	height: 18px;
	border:solid 1px #808080;
	text-decoration:none;
	font-size:10pt;
	color:#C0C0C0;
	padding:2px 11px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.payment_btn_disable a:hover {font-family:Verdana, Arial, Helvetica, sans-serif;text-decoration:none;font-size:10pt;color:#C0C0C0;}

/* Buy Now Dialog */
#BuyNow {width:360px;height:152px;}
#BuyNow .imgContainer {float:left;width:150px;height:100%;}
#BuyNow .dataContainer {float:left;width:210px;}
#BuyNow .dataContainer span {font-weight:bold;}
#BuyNow .buyContainer {float:left;margin:16px 0 0 0;}
#BuyNow .cancelContainer {float:right;margin:16px 0 0 0;}

#BuyNow .buy {display:none;}
#BuyNow .buy .cost {margin:3px 0 12px 0;}
#BuyNow .buy .buyButton {background:url(../images/icons/icon_buynow_16x16.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
#BuyNow .buy .cancelButton {background:url(../images/icons/icon_cancel_16x16.gif) no-repeat 8px 4px;text-indent:30px;display:block;}
#BuyNow .buy .disclaimer {clear:both;width:98%;margin-top:10px;text-align:left;font-size:10px;color:#999;line-height:11px;}

#BuyNow .success {display:none;}
#BuyNow .success img {float:left;}
#BuyNow .success div {font-family:Verdana;font-size:12px;font-weight:bold;margin:10px 0 40px 0;}
#BuyNow .success a.button span {margin:0 25px 0 0;padding:0 0 0 25px;}
#BuyNow .success a {cursor:hand;}

#BuyNow .buyCredits {}
#BuyNow .buyCredits .dataContainer {margin-top:10px;}
#BuyNow .buyCredits .buyContainer {float:none;padding-top:16px;}

#BuyNow .error {display:none;background-color:#fffea9;height:170px;}
#BuyNow .error p {font-family:Verdana;font-size:12px;color:#4c4c4c;padding:50px 8px 0 8px;}
#BuyNow .error .cancelContainer {margin:0;float:none;}
