/* HEADER */
/* CSS Document */

/* primary */ 

.frTopLeft{

	width:7px;
	height:7px;
	background-image:url(../images/boxes/friTopLeft.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.frTopRight{

	width:7px;
	height:7px;
	background-image:url(../images/boxes/friTopRight.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.frTop{

	height:7px;
	background-image:url(../images/boxes/friTop.gif);
	background-position:top;

}

.frBottomLeft{

	width:7px;
	height:7px;
	background-image:url(../images/boxes/friBottomLeft.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.frBottomRight{

	width:7px;
	height:7px;
	background-image:url(../images/boxes/friBottomRight.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.frBottom{

	height:7px; 
	background-image:url(../images/boxes/friBottom.gif);

}
.frBorderLeft{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/bg_int.gif);
	background-color:#f1f1f2; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #CCCCCC;

}


.frBorderRight{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/bg_int.gif);
	background-color:#f1f1f2; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #CCCCCC;
}


.frBgInt1{
	background-color:#f1f1f2;
	background-image:url(../images/boxes/bg_int.gif);
	background-repeat:repeat-x;
	background-position:top;

}

/*  int_border 2 */


.intBorderB1TopLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_lefttop_b1.gif); 
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderB1TopRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_righttop_b1.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderB1Top{

	height:7px; 
	background-image:url(../images/boxes/Int_borderTop.gif);
	background-position:top;

}

.intBorderB1BottomLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_leftbottom_b1.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderB1BottomRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_rightbottom_b1.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderB1Bottom{

	height:7px; 
	background-image:url(../images/boxes/Int_bottom_b1.gif);

}

.intBorderB1BorderLeft{

	width:5px;
	height:100%; 
	background-image:url(../images/boxes/Int_bg_b1.gif);
	background-color:#F5F5F6; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #CCCCCC;

}

.intBorderB1BorderRight{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/Int_bg_b1.gif);
	background-color:#F5F5F6; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #CCCCCC;
}


.intBorderB1BgInt1{
	background-color:#F5F5F6;
	background-image:url(../images/boxes/Int_bg_b1.gif);
	background-repeat:repeat-x;
	background-position:top;

}


/*  int_border 1 */


.intBorderTopLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_borderTopLeft.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderTopRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_borderTopRight.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderTop{

	height:7px; 
	background-image:url(../images/boxes/Int_borderTop.gif);
	background-position:top;

}

.intBorderBottomLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_borderBottomLeft.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderBottomRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_borderBottomRight.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderBottom{

	height:7px; 
	background-image:url(../images/boxes/Int_borderBottom.gif);

}

.intBorderBorderLeft{

	width:5px;
	height:100%; 
	background-image:url(../images/boxes/int_bg_1.gif);
	background-color:#f1f1f2; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #CCCCCC;

}

.intBorderBorderRight{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/int_bg_1.gif);
	background-color:#f1f1f2; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #CCCCCC;
}


.intBorderBgInt1{
	background-color:#f1f1f2;
	background-image:url(../images/boxes/int_bg_1.gif);
	background-repeat:repeat-x;
	background-position:top;

}


/*  int_border c */


.intBorderCTopLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_TopLeft_c.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCTopRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_TopRight_c.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCTop{

	height:1px; 
	background-image:url(../images/boxes/int_Top_c.gif);
	background-position:top;

}

.intBorderCBottomLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_BottomLeft_c.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCBottomRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_BottomRight_c.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCBottom{

	height:7px; 
	background-image:url(../images/boxes/int_Bottom_c.gif);

}

.intBorderCBorderLeft{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/int_border_c.gif);
	background-color:#E7E7E8; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;

}

.intBorderCBorderRight{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/int_border_c.gif);
	background-color:#E7E7E8; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
}



.intBorderC1BorderLeft{

	width:5px;
	height:100%;
	background-color:#FAFAFA; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;

}

.intBorderC1BorderRight{

	width:5px;
	height:100%;
	background-color:#FAFAFA; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
}

.intBorderC1BorderLeft1{

	width:5px;
	height:100%;
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;

}

.intBorderC1BorderRight1{

	width:5px;
	height:100%;
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
}


.intBorderC1BorderLeftColor2{

	width:5px;
	height:100%;
	background-color:#F2F2F2; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;

}

.intBorderC1BorderRightColor2{

	width:5px;
	height:100%;
	background-color:#F2F2F2; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
}

.intBorderC1BorderRightColor4{

	width:5px;
	height:100%;
	background-color:#F7F7F8; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
}


.intBorderC1BorderLeft3{

	width:5px;
	height:100%;
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;

}

.intBorderC1BorderLeftColor4{

	width:5px;
	height:100%;
	background-color:#F7F7F8; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #E3E3E3;

}


.intBorderC1BorderRight3{

	width:5px;
	height:100%;
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #E3E3E3;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #cbcbcb;
}


.intBorderCBgInt1{
	background-color:#E7E7E8;
	background-image:url(../images/boxes/int_border_c.gif);
	background-repeat:repeat-x;
	background-position:top;

}

.intBorderC1BottomLeft{
	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_BottomLeft_c1.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderC1BottomRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_BottomRight_c1.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderC1Bottom{
	background-color:#f1f1f2;
	height:7px; 
	background-image:url(../images/boxes/int_Bottom_c1.gif);
	background-repeat:repeat-x;

}


.intBorderC1BgInt1{
	background-color:#FAFAFA;
}



/*  int_border d thumb  */


.intBorderDTopLeft{
	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_TopLeft_d.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDTopRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_TopRight_d.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDTop{

	height:7px; 
	background-image:url(../images/boxes/Int_Top_d.gif);
	background-position:top;

}

.intBorderDBottomLeft{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_BottomLeft_d.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDBottomRight{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/Int_BottomRight_d.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDBottom{

	height:7px; 
	background-image:url(../images/boxes/Int_Bottom_d.gif);

}

.intBorderDBorderLeft{

	width:5px;
	height:100%; 
	background-image:url(../images/boxes/Int_bg_d.gif);
	background-color:#F1F1F2; 
	background-repeat:repeat-x;
	background-position:top;
	border-left:1px solid #DEDEDF;

}

.intBorderDBorderRight{

	width:5px;
	height:100%;
	background-image:url(../images/boxes/Int_bg_d.gif);
	background-color:#F1F1F2; 
	background-repeat:repeat-x;
	background-position:top;
	border-right:1px solid #DEDEDF;
}


.intBorderDBgInt1{
	background-color:#F1F1F2;
	background-image:url(../images/boxes/Int_bg_d.gif);
	background-repeat:repeat-x;
	background-position:top;

}

/* internal bordes E*/


.intBorderTopLeftE{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/intTopLeftE.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderTopRightE{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/intTopRightE.gif);
	background-repeat:no-repeat;
	background-position:top;

}


.intBorderBottomLeftE{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/intButtomLeftE.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderBottomRightE{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/intButtomRightE.gif);
	background-repeat:no-repeat;


}

.intBorderE{ background-color:#BFBFBF;

}


/* end */
.sepTit{ 
	width:1px; 
	height:100%;
	background-image:url(../images/message/sepTit1.gif)
}

.sepTit1{ 
	width:1px; 
	height:100%;
	background-image:url(../images/message/sepTit2.gif)
}


.sepInt1{ 
	width:1px; 
	height:100%;
	background-image:url(../images/message/sepInt1.gif)
}


/* textos */

.content{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#9E9E9E;
	font-weight:bold;
}

.content1{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#9E9E9E;
	font-weight:bold; 
	padding-left:25px;
	padding-top:25px;
}

.insideTextNoBold1{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#000000;
	font-weight:normal; 
}


.insideTextNoBold{ 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#595959;
	font-weight:normal; 
}

/*julian*/

 .bgContentInnerOnline{
 	background-image:url(../images/bgrepeatbottom.gif);
	width:1px; height:1px;
 }
 
 .BottomGayOnline{
  	background-image:url(../images/BottomGayOnline.gif);
	background-repeat:repeat-x;
	width:1px; height:7px;
	background-position:bottom;
}

.TopCornerPicture{
  	background-image:url(../images/TopCornerPicture.gif);
	background-repeat:repeat-x;
	width:1px; height:7px;
	background-position:bottom;
}

.leftCornerPicture{
	background-image:url(../images/leftCornerPicture.gif);
	background-repeat:repeat-y;
	width:7px; height:1px;
	background-position:bottom;
}

.underline{
	border-bottom-color:#CCCCCC;  
	border-bottom-style:solid; 
	border-bottom-width: 1px; 
}

.underline2{
	border-bottom-color:#CCCCCC;  
	border-bottom-style:solid; 
	border-bottom-width: 1px; 
}
	
.underlinetop{
	border-top-color:#CCCCCC;  
	border-top-style:solid; 
	border-top-width: 1px; 
}
.bgMedia{
	background-image:url(../images/bgtab.gif); 
	width:1px; 
	height:26px; 
	background-repeat:repeat-x
}


/* Table colors*/


.intColor1
{ 
background-color:#FAFAFA;
}


.intColor2
{
background-color:#F2F2F2;
} 

.intColor3
{
background-color:#E8E8E8;
border-bottom: 1px solid #cbcbcb;
border-top: 1px solid #cbcbcb;
} 

.intColor4
{ 
background-color:#F7F7F8;
}

.frBgIntMembers {

	background-color:#f1f1f2;
	background-image:url(../images/boxes/bg_int.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding: 3px 3px 3px 3px;
}
.contentUnderline {

	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#9E9E9E;
	font-weight:bold;
	text-decoration:underline;
}
.boderImage{border:1px solid #E2E2E2;} 

.borderBoxTop{
	background-image:url(../images/friends/cornerTop.gif); width:1px; height:50px; background-repeat:repeat-x;
	}
.borderBoxbottom{
	background-image:url(../images/friends/cornerBottom.gif); width:1px; height:5px; background-repeat:repeat-x;
	}
.borderBoxLeft{
	background-image:url(../images/friends/cornerLeft.gif); width:5px; height:1px; background-repeat:repeat-y;
}
	
.borderBoxTop{
	background-image:url(../images/friends/cornerRight.gif); width:5px; height:1px; background-repeat:repeat-y;
}



.bgColorBox{
	background-image:url(../images/friends/bgFriends.gif); width:1px; height:27px; background-repeat:repeat-x;
}


/** */

.intBorderDBottomLeftFriend{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/bottomLeftFriends.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDBottomRightFriend{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/bottomRightFriends.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDTopLeftFriend{
	width:7px;
	height:7px; 
	background-image:url(../images/boxes/topLeftFriends.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderDTopRightFriend{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/topRightFriends.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.borderBoxbottomFriend{
	background-image:url(../images/boxes/bottomFriends.gif); width:1px; height:7px; background-repeat:repeat-x;
}
	
.borderBoxTopFriend{
	background-image:url(../images/boxes/borderBoxTopFriend.gif); width:1px; height:7px; background-repeat:repeat-x;
}

.borderBoxLeftFriend{
	background-image:url(../images/boxes/borderBoxLeftFriend.gif); width:7px; height:1px; background-repeat:repeat-y;
}

.borderBoxRightFriend{
	background-image:url(../images/boxes/borderBoxRightFriend.gif); width:7px; height:1px; background-repeat:repeat-y;
}

.sepTit2{ 
	width:1px; 
	height:100%;
	background-image:url(../images/forum/sepForum.gif);
	background-repeat:repeat-y;
}

.asterisk{
	color:#F05D5D;
	font-size:12px;
	font-weight:bold;
}

.bgTableGeneral{
	background-color: #F1F1F2;
}

.intBorderCTopLeftGray{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_TopLeft_cGray.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCTopRightGray{

	width:7px;
	height:7px; 
	background-image:url(../images/boxes/int_TopRight_cGray.gif);
	background-repeat:no-repeat;
	background-position:top;

}

.intBorderCTopGray{

	height:1px; 
	background-image:url(../images/boxes/int_Top_cGray.gif);
	background-position:top;

}