/* HEADER */


/*-----------(MAIN CALLOUT)-------------- */

#home_maincallout {
	width: 968px;
	height: 334px;
	background: transparent url("../images/home_maincallout_bg2.jpg") no-repeat 0 0;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	}
	#callout_message1 {
	width: 304px;
	padding: 0;
	display: block;
	float: left;
	left: 20px;
	top: 30px;
	position: absolute;
	}
	#callout_message1 h1 {
	width: 304px;
	height: 72px;
	margin: 0 0 0 0;
	padding: 0;
	background: transparent url("../images/home_wok_logo.gif") no-repeat 0 0;
	text-indent: -5000px;
	display: block;
	}
	#callout_message1 h1 a {
	width: 304px;
	height: 72px;
	margin: 0;
	padding: 0;
	display: block;
	}
	#callout_message1 h1 a:hover, #callout_message1 h1 a:visited, #callout_message1 h1 a:active {
	background-color: transparent;
	}
	#callout_message1 h2 {
	width: 250px;
	margin: 20px 0 0 54px;
	padding: 0;
	color: #EEEEEE;
	font-size: 15px;
	line-height: 1.5;
	}
	#callout_message1 p a {
	display: block;
	width: 236px;
	height: 38px;
	position: absolute;
	left: 65px;
	top: 174px;
	margin: 0;
	padding: 0;
	background: transparent url("../images/home_callout_explorebutton.gif") no-repeat 0 -38px;
	}
	#callout_message1 p a:hover {
	background: transparent url("../images/home_callout_explorebutton.gif") no-repeat 0 0;
	}
	
	
	#callout_message2 {
	width: 250px;
	padding: 0;
	position: absolute;
	display: block;
	float: right;
	right: 20px;
	top: 58px;
	}
	
	
	#callout_message2 h1#stepOne {
	margin: 0;
	padding: 0 0 5px 10px;
	}
	#callout_message2 h1#stepTwo {
	margin: 0;
	padding: 0 0 5px 10px;
	}
	#callout_message2 h1#stepThree {
	margin: 0 0 30px 0;
	padding: 0 0 5px 10px;
	}
	
	#callout_message2 h1 {
	color: #ffff99;
	font-size: 18px;
	}
	#callout_message2 h1 span {
	color: #FFFFFF;
	font-size: 13px;
	}
	
	#callout_message2 p#btn1 a {
	width: 223px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	background: transparent url("../images/btn_joinnow.gif") no-repeat 0 0;
	text-indent: -5000px;
	}
	
	#callout_message2 p#btn2 a {
	width: 223px;
	display: block;
	margin: 20px 0 0 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	}
	
#home_maincallout #avatars {
	position: absolute;
	bottom: 0;
	left: 340px;
	width: 350px;
	height: 325px;
	display: block;
	overflow: hidden;
	}
	

/*-----------(TAB CONTENT)-------------- */

#hometabs {
	width: 968px;
	padding: 0 0 10px 0;
	position: relative;
	margin: -32px 0 0 0;
	}
	
	#hometabs #hometabs_table {
	position: relative;
	padding: 0 0 0 0;
	margin: -139px 0 0 0;
	}
	
	#hometabs #hometabs_table table {
	background: transparent url("../images/hometabs_table_bg.gif") no-repeat left bottom;
	padding: 0;
	}

#hometabs a.tablink, #hometabs a.tablink:hover, #hometabs a.tablink:visited {
	width: 273px;
	height: 63px;
	display: block;
	text-decoration: none;
	background-color: transparent;
	}
	
	
	
#hometabs h2 {
	margin: -2px 0 0 0;
	padding: 18px 0 0 18px;
	font-size: 15px;
	color: #018AAA;
	position: relative;
	text-align: left;
	}
	

	
#hometabs h3 {
	font-size: 10px;
	font-weight: normal;
	color: #018AAA;
	padding: 0 0 15px 18px;
	margin: 0;
	text-align: left;
	}
	

	
#hometabs .belowtab {
	width: 272px;
	display: block;
	margin: 20px 0 0 0;
	text-align: left;
	padding: 0;
	background: transparent url("../images/belowtab_stat_bg.gif") no-repeat 0 0;
	}
	#hometabs .belowtab p {
	width: 240px;
	text-align: left;
	padding: 15px 0 0 0;
	margin: 0 0 0 12px;
	font-size: 12px;
	}
	#hometabs .belowtab p.stats {
	padding: 5px 0 0 0;
	margin: 0 0 0 12px;
	font-size: 10px;
	position: relative;
	display: block;
	}
	#hometabs .belowtab p.stats span {
	position: absolute;
    right: 0;
    margin: -1px 0 0 0;
    text-align: right;
    width: auto;
    font-weight: bold;
    font-size: 11px;
	}
	
#hometabs .belowtab a:link{
	font-size:12px; 
	}
	
#hometabs .belowtab a:visited{
	font-size:12px; 
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
#hometabs .belowtab a:hover{
	font-size:12px; 
	}

#hometabs .belowtab a:active{
	font-size:12px; 
	}
	

	

/*-----------(NEWS BLOCK)-------------- */
	
#home_newsblock {
	text-align: right;
	padding: 2px 20px 0 0;
	margin: 0 20px 0 0;
	background: transparent url("../images/li_greenarrow.gif") no-repeat right 4px;
	}
	#home_newsblock a {
	font-weight: bold;
	font-size: 12px;
	color: #00ab00;
	}




/*-----------(ABOUT KANEVA BLOCK)-------------- */
	
	
#home_aboutK {
	text-align: left;
	margin: 0;
	padding: 0;
	}
	#home_aboutK h2 {
	margin: 15px 0 0 0;
	color: #999999;
	}
	#home_aboutK p {
	text-align: left;
	padding: 0 0 15px 0;
	margin: 0;
	font-size: 10px;
	color: #999999;
	}
	#home_aboutK p a:link, #home_aboutK p a:hover, #home_aboutK p a:active, #home_aboutK p a:visited {
	font-size: 10px;
	}
	
	#home_aboutK .resourcebox {
	padding: 10px;
	margin: 0;
	line-height: 2;
	}
	#home_aboutK .resourcebox td {
	text-align: center;
	font-size: 10px;
	color: #CCCCCC;
	}
	#home_aboutK .resourcebox a:link, #home_aboutK .resourcebox a:hover, #home_aboutK .resourcebox a:active, #home_aboutK .resourcebox a:visited {
	color: #CCCCCC;
	background-color: transparent;
	font-size: 10px;
	}