/* HEADER */
/* CSS Document */

.lineSeparatorTop {
	width:98%;
	height:1px;
	background-color:#D8D8D8;
}

.lineSeparatorBottom {
	width:98%;
	height:1px;
	background-color:#F2F2F2;
}

.bolderText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999999;
	font-weight:bold;
	text-decoration:none;
}

.bolderText:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
}

.bolderText:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
	background-color:transparent;
}

.boldText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#B5B5B5;
	font-weight:bold;
	text-decoration:none;
}

.signCheckBox {
	padding:0px;
	margin:0px;
}

.signTextLink:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
	text-decoration:underline;
}

.signTextLink:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
	text-decoration:underline;
}

.signTextLink:active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
	text-decoration:underline;
}

.signTextLink:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3d77c4;
	font-weight:bold;
	text-decoration:underline;
}


.signText {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

.signTextNormal {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-decoration:none;
}

.signTextBold{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
}

.initArea{
	width:990px;
	height:244px;
	vertical-align:top;
	background-image:url(../images/bg_gradient.jpg);
	background-repeat:repeat-x;
	background-position:center;
}

.initTopLeft{
	width:5px;
	height:5px;
	background-image:url(../images/home_gr_topLeft.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.initTopRight{
	width:5px;
	height:5px;
	background-image:url(../images/home_gr_topRight.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.initBottomLeft{
	width:5px;
	height:5px;
	background-image:url(../images/home_gr_buttomLeft.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.initBottomRight{
	width:5px;
	height:5px;
	background-image:url(../images/home_gr_buttomRight.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.initHBorder{
	height:5px;
}

.initVBorder{
	width:5px;
}

.initContent{
	padding-left:5px;
	width:100%;
	height:234px;
}

.whiteTopLeft{
	width:6px;
	height:6px;
	background-image:url(../images/white_topLeft.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.whiteTop{
	width:100%;
	height:6px;
	background-image:url(../images/white_top.gif);
	background-repeat: repeat-x;
	background-position:top;
}

.whiteTopRight{
	width:6px;
	height:6px;
	background-image: url(../images/white_topRight.gif);
	background-repeat:no-repeat;
	background-position:top;
}


.whiteBottomLeft{
	width:6px;
	height:6px;
	background-image: url(../images/white_BottomLeft.gif);
	background-repeat:no-repeat;
	background-position: bottom;
}

.whiteBottom{
	width:100%;
	height:6px;
	background-image:url(../images/white_bottom.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.whiteBottomRight{
	width:6px;
	height:6px;
	background-image: url(../images/white_BottomRight.gif);
	background-repeat:no-repeat;
	background-position: bottom;
}

.whiteLeft{
	width:6px;
	height:100%;
	background-image: url(../images/white_left.gif);
	background-repeat: repeat-y;	
}

.whiteRight{
	width:6px;
	height:100%;
	background-image: url(../images/white_left.gif);
	background-repeat: repeat-y;	
}


.bglearnMore{
	width:296px;
	height:136px;
	background-image:url(../images/bg_learnMore.gif);
	background-repeat:no-repeat
}

.bgWhite{
	width:580px;
	height:216px;
	background-image:url(../images/bg_white.gif);
	background-repeat:repeat-x;
}

.bgSignArea{
	width:375px;
	height:221px;
	background-image:url(../images/bg_signarea.gif);
	background-repeat:no-repeat;
	background-position:center;
}

.vBorderDotted{
border-left: 1px dashed #cccccc;
}


/*Register sign in*/

h2 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #476163;
	padding: 0 15px 0px 15px;
	margin-top: 10px;
	margin-bottom: 0;
	}
	
h3 {
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #476163;
	padding: 2px 8px 0 8px;
	margin: 0;
	position: relative;
	}
