/* HEADER */
﻿h1 {font-size:24px;font-weight:bold;margin-bottom:10px;}
p {font-size:14px;padding:10px 4px;}
ul {clear:both;}
li {float:left;list-style-type:none;}

.PageContainer {background-color:#fff;width:1004px;height:100%;border:solid 1px #ccc;border-top:none;padding-bottom:40px;}
.step-data-container {width:100%;text-align:center;}
.invitecontainer {width:900px;margin:auto;margin-top:40px;text-align:center;}
ul.steps {width:80%;padding:0;margin:0 auto;display:block;}
ul.steps li {float:left;text-align:left;width:33%;}
ul.steps p {width:100px;font-size:16px;font-weight:bold;color:#999;margin:auto;padding:6px 0 6px 0;line-height:20px;}
ul.steps p span {font-size:12px;font-weight:normal;line-height:16px;}
ul.steps li.active p {color:#333;}
ul.steps .step1 p {padding-left:50px;}
ul.steps .step2 p {width:80px;padding-left:20px;}
ul.steps .step3 p {}
hr {height:1px;border-top:none;display:block;clear:both;}
div.invitecontainer h1.title {border-bottom:none;margin-bottom:10px;padding-bottom:0;}
.stepcontainer {width:530px;margin:16px auto 20px auto;text-align:left;}
.calltoaction {margin-top:8px;margin-bottom:14px;font-weight:bold;}

p {line-height:16px;}

.feedback {width:1004px;background-color:#d9e7ac;height:24px;position:fixed;top:76px;}
.feedback p {padding-top:3px;color:#7d962e;font-weight:bold;}
.feedback.err {background-color:#e7ccae;}
.feedback.err p {color:#986631;}

.box {border:2px solid #efefef;background:#fafafa;}
.box.manual {margin-top:30px;}
.manual .calltoaction {margin:10px auto 30px auto;padding:0;}


.mailicons {width:100%;margin:0px auto 30px auto;display:inline-block;}
.mailicons li {width:20%;line-height:30px;font-size:14px;color:#000;}
.mailicons li img, .panel img {cursor:pointer;}
.mailicons li img {width:70px;}

.row {width:99%;text-align:left;clear:both;display:inline-block;}
.row .name {font-weight:bold;font-size:14px;margin-bottom:2px;}
.row input[type="checkbox"] {float:left;margin:15px 8px 0 6px;}
.row .thumb {float:left;border:1px solid #ddd;margin-right:6px;width:40px;}

.checkboxcontainer {height:23px;background-color:#efefef;border:1px solid #efefef;width:100%;margin:10px auto 0 auto;text-align:left;}
.checkall {margin:5px 5px 5px 8px;}
label {height:8px;font-size:11px;position:relative;top:-2px;}
.contactcontainer {border:1px solid #efefef;width:100%;height:300px;overflow:auto;margin:auto;}
.contactcontainer hr {margin:0;padding:0;border-color:#dedede}
.kanfriend {padding:12px 0;}
.kanfriend .thumb {}
.kanfriend .name{font-weight:bold;font-size:14px;margin-bottom:2px;}
.kanfriend .displayname {line-height:14px;}
.kanfriend .email {line-height:14px;}
.kanfriend a {font-size:12px;}

.invite {padding:8px 0;}
.invite .rowcheckbox {float:left;height:25px;width:26px;}
.invite input[type="checkbox"] {margin-top:7px;} 
.invite .email {}

.invite.facebook {}
.invite.facebook .thumb {}
.invite.facebook .namecontainer {float:left;}
.invite.facebook .name {margin-top:8px;}
.invite.facebook .locale {}
.invite.facebook .button {float:right;margin:8px 10px 0 0;}

.btncontainer {width:100%;text-align:right;display:inline-block;margin-top:12px;}
.btncontainer a {float:right;}
a.btnmedium {padding-top:7px;font-weight:normal;font-size:12px;margin-right:10px;}
a.btnxsmall {padding-top:7px;font-weight:normal;font-size:12px;}
.btncontainer.confirm {width:250px;margin:30px auto 300px auto;}
.confirmation {font-size:16px;margin:19px auto;}
.changemsg {font-size:14px;margin-top:16px;}
.changemsg a {font-size:14px;}
.changemsg.step3 {margin-top:0;}
.service-icons {padding:0;}
.service-icons img {margin:auto 6px;}
.service-icons a:hover{text-decoration:none;}

#showMailForm {height:16px;width:250px;display:block;font-size:14px;}
.manual {width:530px;border:1px solid #;}
.manual .calltoaction {margin-bottom:0;}
.manual .errholder {height:20px;margin:6px auto 3px auto;}
.manual .label {text-align:left;color:#000;padding-bottom:0;padding-top:0;margin-bottom:5px;}
.manual .label span {padding-right:8px;}
.manualcontainer {width:95%;margin:0 auto;}
.manualcontainer textarea {width:495px;border:1px solid #000;padding:3px;margin-bottom:2px;}
.manualcontainer label {text-align:left;font-size:14px;margin-bottom:10px;color:#000;width:30px;}
.manualcontainer .btncontainer {width:100%;margin-bottom:20px;}
.manualcontainer .btncontainer a.btnmedium {font-size:14px;font-weight:bold;padding-top:6px;margin-right:0;}
.manualcontainer .title {font-size:16px;padding:4px 0;;font-weight:bold;border-bottom:1px solid #dedede;color:#000;margin:8px auto 20px auto;}
.errBox {width:auto;padding:3px;display:none;color:#ee2d2a}

.muted {color:#999;}
.muted-more {color:#bebebe;}
.text-left {text-align:left;}
.text-small {font-size:12px;}
.text-smaller {border:1px solid green;font-size:12px;}
.pull-left {float:left !important;}
.pull-right {float:right !important;}
.clearfix:before, .clearfix:after {content:" ";display:table;}
.clearfix:after {clear:both;}
.hidden {display:none;}

.border-red {border:1px solid red;}
.border-blue {border:1px solid blue;}

.sendingmsg {display:none;margin:6px 30px 8px 0;padding:0;font-size:11px;}



