/* HEADER */
@charset "UTF-8";
/* CSS Document: KaChing */

body {}

.mainContent {
	width: 717px;
	overflow: hidden;
	margin: 0px;
	padding: 0px 0px 0px 12px;
}

/* :: Kaching Navagation ::::::::::::::::::::::::::::::::::::::::::::: */
.kaNav {
	background: url("../images/vw-ka-ching/ka_navBacker.jpg") no-repeat;
	margin: 0px;
	padding: 0px;
	height: 34px;
	text-align: center;
	width: 717px;
}


.kaNav ul {
	text-align: center;
	margin: 0px 0px 0px 165px;
	padding: 0px;
	list-style: none;
	height: 34px;
}
.kaNav li {
	margin: 0px 5px;
	font-size: 14px;
	padding: 5px 0px 0px;
	height: 29px;
	float: left;	/*line-height: 2.25em;*/
}
.kaNav a:link, a:visited {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	padding: 10px 5px;
}
.kaNav a:hover {
	color: #ffcc00;
	background: transparent;
}
.kaNav a.kaSelected {
	color: #FFCC00;
}

.kaNav li.kaSeperator {
	background: url("../images/vw-ka-ching/ka_navSeperator.gif") no-repeat center;
	width: 1px;
	height: 34px;
	padding-top: 0px;
}


/* :: End Kaching Navagation ::::::::::::::::::::::::::::::::::::::::: */


.kaContent {
	background: #000000 url("../images/vw-ka-ching/ka_main_backer.jpg") no-repeat;
	margin: 0px;
	padding: 0px;
}
.kaPlayer {
	background: url("../images/vw-ka-ching/kaPlayer.jpg") no-repeat 292px 215px;
	color: #FFFFFF;
	width: 717px;
}
.kaPlayer p {
	color: #FFFFFF;
	margin: 0px 0px 10px;
	padding: 0px 50px 0px 20px;
}
.kaPlayer h2 {
	color: #FFFFFF;
	padding-left: 20px;
	margin: 12px 0px 0px;
}
.kaSlideShow {
	height: 211px;
	width: 366px;
	margin: 0px;
	padding: 0px;
	background: #FF9900;
}
.kaTextCol {
	float: left;
	width: 366px;
}
.kaTextCol ul {
	color: #FFFFFF;
}
.kaTextCol li {}

/* :: Mini Leader Board ::::::::::::::::::::::::::::::::::::::::::::::: */
.ka_ml_wrapper {
	margin: 12px 0px 0px;
	padding: 0px;
	float: right;
	width: 345px;
} 
.kaPlayer .ka_ml_wrapper img {
	border-width: 0px;
	border-style: none;
}
.kaPlayer .ka_ml_wrapper a {
	background: transparent;
}

.ka_ml_head {
	background: url("../images/vw-ka-ching/ka_ml_Head.jpg") no-repeat;
	height: 34px;
	margin: 0px;
	padding: 0px;
	width: 345px;
}
.ka_ml_head .ka_ml_seperator {
	background: url("../images/vw-ka-ching/ka_ml_seperator.gif") no-repeat;
	height: 11px;
	width: 1px;
	padding: 11px 0px 10px;
	margin: 0px;
}
.ka_ml_head ul {
	margin: 0px;
	list-style: none;
	color: #FFCC00;
	padding: 0px;
}
.ka_ml_head li {
	font-size: 11px;
	width: 345px;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	margin: 0px;
	padding: 10px 0px 0px;
}
.ka_ml_head a:link, .ka_ml_head a:visited {
	font-size: 11px;
	text-transform: uppercase;
	margin: 0px;
	color: #FFCC00;
	text-decoration: none;
	font-weight: bold;
}


.ka_ml_head li.playerName a.selected, 
.ka_ml_head li.wins a.selected, 
.ka_ml_head li.coins a.selected, 
.ka_ml_head li.frag a.selected {
	color: #ffffff;
}


.ka_ml_head .playerName {
	margin-right: 5px;
	width: 110px;
	margin-left: 0px;
	padding-left: 10px;
}
.ka_ml_head .frag {
	width: 90px;
	text-align: center;
	margin-right: 0px;
}
.ka_ml_head .wins, .ka_ml_head .coins {
	width: 53px;
	text-align: center;
	margin-right: 0px;
}
.ka_ml_body {
	background: url("../images/vw-ka-ching/ka_ml_backer.jpg") no-repeat;
	margin: 0px;
	padding: 8px 0px 0px;
}
.ka_ml_body ul {
	list-style: none;
	background: url("../images/vw-ka-ching/ka_ml_rowBacker.gif") no-repeat 9px 0px;
	height: 21px;
	margin: 0px 0px 5px;
	padding: 0px 0px 0px 9px;
}
.ka_ml_body li {
	font-size: 10px;
	color: #c1c1c1;
	margin-right: 0px;
	height: 21px;
	float: left;
	line-height: 2em;
	padding: 0px;
}
.ka_ml_body a:link, .ka_ml_body a:visited {
	font-size: 10px;
	color: #c1c1c1;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.ka_ml_body a:hover {
	color: #FFCC00;
	text-decoration: underline;
}
.ka_ml_body .playerName {
	margin-right: 5px;
	width: 110px;
	overflow: hidden;
	padding-left: 5px;
}
.ka_ml_body .frag {
	width: 90px;
	text-align: center;
}
.ka_ml_body .wins, .ka_ml_body .coins {
	width: 53px;
	text-align: center;
}
.ka_ml_body table {
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
	width: 345px;
	margin: 10px 0px 0px;
	padding: 0px;
	color: #FFFFFF;
} 
.ka_ml_foot {
	background: url("../images/vw-ka-ching/ka_ml_tags.jpg") no-repeat;
	height: 106px;
	margin: 10px 0px 0px;
	padding: 15px 0px 0px 15px;
}
.clear {
	clear: both;
}
/* :: Style the How To Play Page :::::::::::::::::::::::::::::::::::::::::::::: */
.kaP2_top {
	padding: 27px 21px 0px;
	margin: 0px;
	color: #FFFFFF;
}
.kaP2_top h2, .kaP2_btm h2 {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	margin: 0px 0px 8px;
	padding: 0px 0px 0px 3px;
}
.kaP2_top .kaIcon {
	float: left;
	width: 75px;
	margin-right: 6px;
	clear: both;
}
.kaP2_top .kaPlayTxt {
	float: left;
	width: 580px;
}
.kaP2_btm {
	margin: 0px;
	padding: 0px 21px;
}
.kaP2_btm .kaCol1 {
	float: left;
	width: 337px;
	margin-top: 18px;
}
.kaP2_btm .kaCol2 {
	float: right;
	width: 311px;
	margin-top: 38px;
}
.kaP2_btm p {
	color: #FFFFFF;
	margin: 0px;
	padding: 0px 0px 0px 3px;
}
.kaP2_btm ul {
	color: #FFFFFF;
	margin: 5px 0px 15px 5px;
	list-style: disc outside;
}
.kaP2_btm li {
	margin-bottom: 4px;
}
.kaP2_btm ul li ul {
	margin: 0px 0px 0px 15px;
	padding: 0px;
	list-style: none;
}
.kaP2_btm ul li ul li {}
.kaBlkSep {
	display: block;
	padding-top: 20px;
	padding-bottom: 50px;
}


/* :: Style the Leaderboard Page :::::::::::::::::::::::::::::::::::::::::::::: */
.ka_lb {}
.ka_lb_tabs {
	margin: 0px 0px 0px 34px;
	padding: 16px 0px 0px;
	width: 649px;
}
.ka_lb_tabs ul {
	margin: 0px 0px 0px 18px;
	padding: 0px;
	list-style: none;
	height: 24px;
}
.ka_lb_tabs li {
	background: url("../images/vw-ka-ching/ka_lb_tabBlk.gif") no-repeat;
	text-align: center;
	color: #afafaf;
	font-size: 10px;
	float: left;
	display: block;
	height: 24px;
	width: 144px;
	margin: 0px 3px 0px 0px;
	padding: 0px;
	line-height: 2.25em;
	font-weight: bold;
}
.ka_lb_tabs li a:link,.ka_lb_tabs li a:visited  {
	height: 24px;
	width: 144px;
	color: #afafaf;
	text-decoration: none;
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	font-weight: bold;
}
.ka_lb_tabs li a:hover {
	color: #fff;
	background: transparent;
	margin: 0px;
	padding: 0px;
}
.ka_lb_tabs li.selected a {
	background: url("../images/vw-ka-ching/ka_lb_tabY.gif") no-repeat;
	color: #000000;
	margin: 0px;
	padding: 0px;
}
.ka_lb_head {
	background: url("../images/vw-ka-ching/ka_lb_head.jpg") no-repeat;
	height: 33px;
	margin: 0px 0px 0px 34px;
	padding: 0px;
	width: 649px;
}


.ka_lb_head ul {
	margin: 0px;
	padding: 0px 0px 0px 8px;
	list-style: none;
}
.ka_lb_head li {
	color: #FFCC00;
	margin-right: 2px;
	font-size: 10px;
	line-height: 3em;
	font-weight: bold;
	float: left;
}
.ka_lb_head a:link, .ka_lb_head a:visited {
	color: #FFCC00;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
.ka_lb_head a:hover {
	background: transparent;
}
.ka_lb_head li.playerName a.selected, 
.ka_lb_head li.checks a.selected, 
.ka_lb_head li.bounces a.selected, 
.ka_lb_head li.wins a.selected, 
.ka_lb_head li.coins a.selected, 
.ka_lb_head li.frag a.selected {
	color: #ffffff;
}


/* :: Style the individual header names :::::::::::::::::::: */
.ka_lb_head .playerName {
	width: 185px;
	margin-left: 45px;
	display: inline;
}
.ka_lb_head .checks, 
.ka_lb_head .bounces, 
.ka_lb_head .wins, 
.ka_lb_head .coins {
	width: 70px;
	margin-right: 0px;
	text-align: center;
}
.ka_lb_head .frag {
	width: 90px;
	margin-right: 0px;
	text-align: center;
}
.ka_lb_head li.ka_lb_seperator {
	background: url("../images/vw-ka-ching/ka_ml_seperator.gif") no-repeat;
	height: 33px;
	width: 1px;
}
.ka_lb_body {
	background: url("../images/vw-ka-ching/ka_lb_backer.jpg") no-repeat;
	margin: 0px 0px 0px 34px;
	padding: 7px 0px 0px;
	width: 649px;
	height: 715px;
}
.ka_lb_body ul {
	background: url("../images/vw-ka-ching/ka_lb_rowBlk.gif") no-repeat;
	margin: 0px 0px 6px 6px;
	padding: 0px 0px 0px 8px;
	list-style: none;
	height: 21px;
}
.ka_lb_body li {
	font-size: 10px;
	color: #c1c1c1;
	margin-right: 3px;
	line-height: 2em;
	height: 21px;
	float: left;
}
.ka_lb_body a:link, .ka_lb_body a:visited {
	color: #c1c1c1;
	text-decoration: none;
	width: 150px;
	font-size: 10px;
	background: transparent;
	margin: 0px;
	padding: 0px;
	line-height: 2em;
}
.ka_lb_body a:hover {
	color: #FFCC00;
	text-decoration: underline;
}
.ka_lb_body .rank {
	width: 35px;
	color: #FFFFFF;
	font-weight: bold;
}
.ka_lb_body .playerName {
	width: 180px;
	overflow: hidden;
	margin-right: 13px;
}
.ka_lb_body .checks, 
.ka_lb_body .bounces, 
.ka_lb_body .wins, 
.ka_lb_body .coins {
	width: 70px;
	text-align: center;
}
.ka_lb_body .frag {
	width: 90px;
	text-align: center;
}
.ka_lb_body ul.ka_lb_me {
	background: url("../images/vw-ka-ching/ka_lb_rowY.gif") no-repeat;
	color: #000000;
}
.ka_lb_body ul.ka_lb_me li, .ka_lb_body ul.ka_lb_me li a {
	color: #000000;
}
#ka_lb_today {
	display: block;
}
#ka_lb_week, #ka_lb_all {
	display: none;
}
