/* HEADER */
.textGeneralGray01 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: normal;
}

.textGeneralGray02 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #cccccc;
	font-size: 9px;
	font-weight: normal;
}

.textGeneralGray03 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #a8a8a8;
	font-size: 10px;
	font-weight: normal;
}

.textGeneralGray04 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #999999;
	font-size: 11px;
	font-weight: normal;
}

.textGeneralGray05Bold{	
	font-weight: bold;
	text-align:left;
}
.textGeneralGray06{	
    text-align:left;
	color: #a2a3a5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;	
}
.textGeneralGray07{
	text-align:left;
	color: #a2a3a5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.textGeneralGray08{
	text-align:left;
	color: #a2a3a5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
}
.textGeneralGray09{
	text-align:left;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
}
.textGeneralGray10{	
    text-align:left;
	color: #a2a3a5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	line-height: bold;	
}

/* Fonts BroadBand Search */
.textGeneralGray11{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #878686;
	font-size: 10px;
	text-align:left;	
}
.textGeneralGray12{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #878686;
	font-size: 10px;
	font-weight: bold;
	text-align:left;
}
.textGeneralGray13{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 10px;
	font-weight: bold;
	text-align:center;
}
.textGeneralGray14{
	text-align:center;	
}
