/* HEADER */
.bbBoxInside{
	vertical-align:top;
	height:108px
}

.bbBoxInside1{
	vertical-align:top;
	height:108px
}
.bbBoxInside2{
	vertical-align:top;
	height:24px
}

.bbBoxInsideMember{
	vertical-align:top;
	height:140px
}
.bbBoxInsideMemberThumbs{
	vertical-align:top;
	height:120px
}

.bbBoxThumbs{
	border-width: 1px;
	border-style: solid;
	border-color: #efefef;
	border-collapse: separate;	
	padding: 2px;
}

/* Box for BroadBrand */

.bbBoxInsideTopLeft{
	width:5px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/BoxInsideLeftTop.gif);
	background-repeat:no-repeat; 
}
.bbBoxInsideTop{	
	height:5px;
	background-image:url(../images/boxes/BroadBand/BoxInsideTop.gif);
	background-repeat:repeat-x;
}
.bbBoxInsideTopRight{
	width:5px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/BoxInsideRightTop.gif);
	background-repeat:no-repeat; 
}

.bbBoxInsideBottomLeft{
	width:5px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/BoxInsideLeftBottom.gif);
	background-repeat:no-repeat;
}
.bbBoxInsideBottom{	
	height:5px;
	background-image:url(../images/boxes/BroadBand/BoxInsideBottom.gif);
	background-repeat:repeat-x;
	/*background-position:bottom;*/
}

.bbBoxInsideBottomRight{
	width:5px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/BoxInsideRightBottom.gif);
	background-repeat:no-repeat;
}


.bbBoxInsideRight{
	width: 5px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxInsideBg.jpg);
	background-color:#fdfdfd;	
	background-position:bottom;
	border-right:1px solid #e0e0e0;
	background-repeat:repeat-x;
}
.bbBoxInsideLeft{
	width: 5px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxInsideBg.jpg);
	background-color:#fdfdfd;	
	background-position:bottom;
	border-left:1px solid #e0e0e0;
	background-repeat:repeat-x;
}

.bbBoxInsideContentTop{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	width:100%;
	background-color:#e6e6e6;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}
.bbBoxInsideContent{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#a3a3a5;
	background-color:#fdfdfd;
	background-image:url(../images/boxes/BroadBand/boxInsideBg.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	text-align:center;
}
.bbBoxInsideContent1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	width:100%;	
	text-align:center;
	line-height: 10px;	
	background-color:#e6e6e6;	
}
.bbAlignLeft{
	text-align:left;
}
.bbAlignRight{
	text-align:right;
}
.bbBoldTextLeft{	
	font-weight: bold;
	text-align:left;
}

.bbBoldTextMember{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	color: #000000;
}
.bbBoldTextMemberBold{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #a3a3a5;
	font-weight: bold;
}

/* This is where you can customize the appearance of the boxes for BroadBrand search result */
/* Table 1 */

.bbSchBoxInsideTopLeft{
	width:4px;
	height:3px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideLeftTop.gif);
	background-repeat:no-repeat; 
}
.bbSchBoxInsideTop{	
	height:3px;
	background-image:url(../images/boxes/BroadBand/boxSchInsideTop.gif);
	background-repeat:repeat-x;
}
.bbSchBoxInsideTopRight{
	width:4px;
	height:3px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideRightTop.gif);
	background-repeat:no-repeat; 
}
.bbSchBoxInsideBottomLeft{
	width:4px;
	height:2 px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideLeftBottom.gif);
	background-repeat:no-repeat;
}
.bbSchBoxInsideBottom{	
	height:2px;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBottom.gif);
	background-repeat:repeat-x;
	/*background-position:bottom;*/
}
.bbSchBoxInsideBottomRight{
	width:4px;
	height:2px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideRightBottom.gif);
	background-repeat:no-repeat;
}
.bbSchBoxInsideRight{
	width: 3px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBg.gif);
	background-color:#f8f8f8;	
	background-position:bottom;
	border-right: 1px solid #e5e7e6;
	background-repeat:repeat-x;
}
.bbSchBoxInsideLeft{
	width: 3px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBg.gif);
	background-color:#f8f8f8;	
	background-position:bottom;
	border-left:1px solid #e5e7e6;
	background-repeat:repeat-x;
}
.bbSchBoxInsideContent{
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#a3a3a5;
	background-image:url(../images/boxes/BroadBand/boxInsideBg.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	text-align:center;*/
	background-color:#dadedd;
}

/* Table 2 */

.bbSchBoxInsideTopLeft2{
	width:4px;
	height:4px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideLeftTop2.gif);
	background-repeat:no-repeat; 
}
.bbSchBoxInsideTop2{	
	height:4px;
	background-image:url(../images/boxes/BroadBand/boxSchInsideTop2.gif);
	background-repeat:repeat-x;
}
.bbSchBoxInsideTopRight2{
	width:4px;
	height:4px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideRightTop2.gif);
	background-repeat:no-repeat; 
}
.bbSchBoxInsideBottomLeft2{
	width:4px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideLeftBottom2.gif);
	background-repeat:no-repeat;
}
.bbSchBoxInsideBottom2{	
	height:5px;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBottom2.gif);
	background-repeat:repeat-x;
	/*background-position:bottom;*/
}
.bbSchBoxInsideBottomRight2{
	width:4px;
	height:5px; 
	background-image:url(../images/boxes/BroadBand/boxSchInsideRightBottom2.gif);
	background-repeat:no-repeat;
}
.bbSchBoxInsideRight2{
	width: 3px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBg2.gif);
	background-color:#f8f9f8;	
	background-position:bottom;
	border-right: 1px solid #e5e5e5;
	background-repeat:repeat-x;
}
.bbSchBoxInsideLeft2{
	width: 3px;
	height:100%;
	background-image:url(../images/boxes/BroadBand/boxSchInsideBg2.gif);
	background-color:#f8f9f8;	
	background-position:bottom;
	border-left:1px solid #e5e5e5;
	background-repeat:repeat-x;
}

/* GrayLine */
.bbGrayLine{
    height:1px;
	border-top: 1px solid #d8d8d8;
	background-color: #f7f7fa;	
}
