/* HEADER */
/* Leaderboard Table  */

table.leaderBoard {
	background-color: #ffffff;
	font-family: verdana, arial, sans-serif;
	color: #737373;
	font-size: 10px;
	border-top: 1px solid #d2d2d3;
	border-bottom: 1px solid #d2d2d3;
	}
	
	table.leaderBoard th.profile, table.leaderBoard td.profile {
	text-align: center;
	/*background-color: #eeeeee;*/
	}
	
	table.leaderBoard th.friends, table.leaderBoard td.friends {
	text-align: center;
	/*background-color: #fafafa;*/
	}
	
	table.leaderBoard th.channel, table.leaderBoard td.channel {
	text-align: center;
	/*background-color: #eeeeee;*/
	}
	
	table.leaderBoard th.media, table.leaderBoard td.media {
	text-align: center;
	/*background-color: #fafafa;*/
	}
	
	table.leaderBoard th {
	border-bottom: 1px solid #f1f1f1;
	}
	
	table.leaderBoard td {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #f1f1f1;
	}
	table.leaderBoard td td, table.leaderBoard th td {
	border-bottom: none;
	}
	
	table.leaderBoard td .rankNum {
	padding: 3px;
	font-size: 16px;
	}
	
	table.leaderBoard td.totalpoints {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	}
	
	
	table.leaderBoard .small, table.leaderBoard .rank {
	font-size: 9px;
	color: #bcb7b7;
	}
	
	table.leaderBoard tr.altrow  {
	background: #FFFFFF url(http://www.kaneva.com/images/icons/leaderboard/bg_altrow.gif) repeat top left;
	}
	
	tr.myrow, tr.myrow table  {
	background: #FFFFFF url(http://www.kaneva.com/images/icons/leaderboard/gradient_blue.gif) repeat-x bottom left;
	}
	
	tr.myrow td .rankNum {
	color: #4272b4;
	}
	tr.myrow td .rank {
	color: #4272b4;
	}
	
	tr.myrow td.profilepic a:link img, tr.myrow td.profilepic a:visited img  {
	border: 1px solid #4272b4;
	}
	
	tr.myrow td{
	color: #4272b4;
	font-weight: bold;
	}
	
	
.location {
	font-size: 9px;
	color: #b4b4b4;
	}
	
table.leaderBoard td.profilepic a:hover  {
	background-color: transparent;
	}
	table.leaderBoard td.profilepic a:link img, table.leaderBoard td.profilepic a:visited img  {
	border: 1px solid transparent;
	}
	table.leaderBoard td.profilepic a:hover img  {
	border: 1px solid #4272b4;
	}




