/* HEADER */
	
/* This is where you can customize the appearance of the tooltip */
div#tipDiv {
  position:absolute; 
  visibility:hidden; 
  left:0; 
  top:0; 
  z-index:10000;
  background-color:#FFFFCC; 
  border:1px solid #336; 
  width:150px; 
  padding:4px;
  color:#000; 
  font-size:11px; 
  line-height:1.2;
}

.toolTipQuestion
{
	padding-left:5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 10px; 
	color: green; 
	cursor:help;
}

.online
{
font-family: Verdana, Arial, Helvetica, sans-serif;	
font-size: 10px; 
font-weight: bold; 
font-style: normal; 
color: green; 
}

.widgetNavon
{
	background-image		: 	none;
	padding-left		: 	10px;
	list-style			:	none; 
	float				: 	left; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	auto;
 	text-align			:	center;
}

.container
{
	width: 990;
}

.container2
{
	width: 100%;	
	border: 1px solid #cccccc;
}

.container2 DIV
{
	margin: auto;
	padding: 10px;
	padding-bottom: 0px;	
}

.layoutHeader
{
	margin: auto;
	width: 100%;
}

.article
{
	color: #3C7199;
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
}

.pageName
{
	FONT-SIZE: 16px; 
	COLOR: #336699; 
	FONT-FAMILY: Arial, Helvetica, Verdana;
	font-weight:bold;
}

.requiredField
{
	color:Red;
}

.offline
{
	color: red;
	font-style: italic;
}

.threadEdit
{
	font-family: verdana, arial;
	color: #4863a2;
	font-style: italic;
	font-size: 11px;
}

DD { margin-left: 2px; }

.money
{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:green;
	font-weight:normal; 
}

.white
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 12px; 
	font-style: normal;
	color: #ffffff;
	letter-spacing: normal;
	word-spacing: normal;
}

.pending
{
	font-family: Arial; 
	font-size: 9px; 
	line-height: 11px; 
	font-style: normal;
	color: red;
	letter-spacing: normal;
	word-spacing: normal;
}

.scrollBars
{
    scrollbar-face-color: #cccccc; 
	scrollbar-shadow-color: #333333; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #000000; 
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #E1E1E1; 
	scrollbar-arrow-color: #FFFFFF;
}

.bodyText
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	word-wrap:break-word;
}

.pager
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 14px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding:0 1px 0 1px;
}

.buttons
{
	font-family: Arial; 
	font-size: 11px; 
	line-height: 11px; 
	font-style: normal;
	font-weight: bold;
	padding-top: 2px;
	color: #000000;
	cursor: hand;
}

.lineItemColHead
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 19px; 
	font-style: normal;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	letter-spacing: normal;
	word-spacing: normal;
	background-color: #bbbbbb;	
}

.lineItemColHead A:link
{
	color: #ffffff;
}

.lineItemColHead A:active
{
	color: #ffffff;
}

.lineItemColHead A:visited
{
	color: #ffffff;
}

.lineItemColHead A:hover
{
	color: #000000;
}

.belowFilter
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 10px; 
	font-style: normal;
	color: #ffffff;
	align: top;

}

.belowFilter2
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 9px; 
	font-style: normal;
	color: #ffffff;


}

.mykan1
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 9px; 
	font-style: normal;
	color: #ffffff;
}

.mykan2
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 9px; 
	font-style: normal;
	color: #ffffff;
}

.mykan3
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 9px; 
	font-style: normal;
	color: #ffffff;
}

.lineItemEven
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 17px; 
	font-style: normal;
	background-color: #ffffff;
	letter-spacing: normal;
	word-spacing: normal;
	word-wrap:break-word;
	padding-left: 4px;
	padding-top:2px;
	padding-bottom:2px;
}

.lineItemOdd
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 17px; 
	font-style: normal;
	background-color: #eeeeee;
	letter-spacing: normal;
	word-spacing: normal;
	word-wrap:break-word;
	padding-left: 4px;
}

.lineItemSelected
{
	background-color: #999999;
}

.lineItemThumb
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 15px; 
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 5px;
	background-color: #ffffff;
	text-align: center;
	vertical-align: top;
}

.bodyBold
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.Filter
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-left: 7px;
	padding-bottom: 4px;
	padding-top: 5px;
}

.Filter2
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: hand;
}

.Filter2bold
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-weight: bold;
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: hand;
}

.Filter2disabled
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	background-color: Silver;
	letter-spacing: normal;
	word-spacing: normal;
	cursor: hand;
}

.messageBox
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal;
	font-weight: normal;
	color: red;
	text-align: left;
	border: solid 1px #ededed;
	background: LightYellow;
	text-align: left;
	padding-left: 5;
}

.formError
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	font-weight: normal;
	color: red;
	text-align: left;
}

.mature
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	font-weight: bold;
	color: red;
	text-align: left;
}

.formErrorLarge
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	line-height: 14px; 
	font-style: normal;
	font-weight: normal;
	color: red;
	text-align: center;
	align: center;
}

.loadingText
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;
	color: #777777;
	text-align: center;
	align: center;
}

.header01
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 9px; 
	font-style: normal;
	font-weight: bold;
	color: #777777;
	text-align: left;
	align: left;
}

.header02
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 11px; 
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 5px;
}

.blogBody02
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-align: left;
	align: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 10px;

}

.blogBody02 A:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	font-style: normal;
	color: blue;
	letter-spacing: normal;
	word-spacing: normal;
}

.blogBody02 A:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	font-style: normal;
	color: #FFB853;
	letter-spacing: normal;
	word-spacing: normal;
}

.blogBody02 A:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	font-style: normal;
	color: blue;
	letter-spacing: normal;
	word-spacing: normal;
}

.blogBody02 A:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 12px; 
	font-style: normal;
	color: blue;
	letter-spacing: normal;
	word-spacing: normal;
}

.dateStamp
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal;
	color: #4863a2;
}

.fileName
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 9px; 
	font-style: italic;
	color: #4863a2;
}

.headline
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 9px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: left;
	align: left;
}

.forumsColumnHead
{
	font-family: Arial; 
	font-size: 13px; 
	line-height: 11px;
	font-weight: bold; 
	font-style: normal;
	padding-left: 5px;
	color: #000000;
	background-color: #c4c4c4;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px solid #ffffff;
}

.forumsGroupHead
{
	font-family: Arial; 
	font-size: 12px; 
	line-height: 11px;
	font-weight: bold; 
	font-style: normal;
	padding-left: 5px;
	color: #000000;
	background-color: #F0EBE7;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px solid #ffffff;
}

.forumName
{
	font-size: 14px; 
	color: #4863a2;
}

.forumsRowOdd
{
	font-family: Arial; 
	font-size: 11px; 
	font-weight: normal; 
	font-style: normal;
	padding-left: 5px;
	color: #000000;
	background-color: ffffff;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px solid #ffffff;
	word-wrap: break-word; /* IE 5.5+ */ 
}

.forumsRowOdd A:hover
{
	color: #4863a2;
}

.forumsRowOdd A:active
{
	color: #4863a2;
}

.forumsRowOdd A:visited
{
	color: #4863a2;
}

.forumsRowOdd A:link
{
	color: #4863a2;
}

.forumsRowEven
{
	font-family: Arial; 
	font-size: 11px; 
	font-weight: normal; 
	font-style: normal;
	padding-left: 5px;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	border: 1px solid #ffffff;
	word-wrap: break-word; /* IE 5.5+ */ 
}

.forumsRowEven A:hover
{
	color: #4863a2;
}

.forumsRowEven A:active
{
	color: #4863a2;
}

.forumsRowEven A:visited
{

	color: #4863a2;
}

.forumsRowEven A:link
{
	color: #4863a2;
}

.headerText
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	line-height: 15px;
	font-weight: bold; 
	font-style: normal;
	padding-right: 20px;
	color: #ffffff;
	letter-spacing: normal;
	word-spacing: normal;

}

.bulletHead
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	line-height: 13px;
	font-weight: bold; 
	font-style: normal;
	padding-right: 20px;
	color: #354e82;
	letter-spacing: normal;
	word-spacing: normal;
}

.subHead
{
	font-family: Arial; 
	font-size: 15px; 
	line-height: 15px;
	font-weight: bold; 
	font-style: normal;
	color: #777777;
	letter-spacing: normal;
	word-spacing: normal;
}

.subHead2
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	line-height: 11px;
	font-weight: bold; 
	font-style: normal;
	padding-right: 20px;
	color: #354e82;
	letter-spacing: normal;
	word-spacing: normal;
}
.subHead3
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	line-height: 16px;
	font-weight: bold; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
}

.subHead4
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 19px;
	font-weight: bold; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
}

.t4
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4 A:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4 A:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4 A:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4 A:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4on
{
	background-image		: 	none;
	padding-left		: 	15px;
	list-style			:	none; 
	float				: 	left; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	auto;
 	text-align			:	center;
}

.t4on A:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4on A:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4on A:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.t4on A:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
}

.blueInfo
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 12px; 
	font-style: normal;
	font-weight: normal;
	color: #4863a2;
}

#rounded2 i
{
color: #000;
background: #ededed url("../images/tl2.gif") left top no-repeat;
text-decoration: none;
padding-left: 0px;
}

#rounded2 i span
{
background: url("../images/tr2.gif") right top no-repeat;
padding-right: 0px
}

#rounded2 i, #rounded2 i span
{
display: block;
float: left
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#rounded2 i, #rounded2 i span
{
float: none
}
/* End IE5-Mac hack */

#rounded2 b
{
list-style: none;
padding: 0;
margin: 0;
}

#rounded2 li
{
float: left;
margin: 0;
padding: 0;
} 

#rounded2bot i
{
color: #000;
background: #ededed url("../images/bl2.gif") left top no-repeat;
text-decoration: none;
padding-left: 0px;
}

#rounded2bot i span
{
background: url("../images/br2.gif") right top no-repeat;
padding-right: 0px
}

#rounded2bot i, #rounded2bot i span
{
display: block;
float: left
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#rounded2bot i, #rounded2bot i span
{
float: none
}
/* End IE5-Mac hack */

#rounded2bot b
{
list-style: none;
padding: 0;
margin: 0;
}

#rounded2bot li
{
float: left;
margin: 0;
padding: 0;
} 

#rounded2bot i span
{
display: block;
float: left
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#rounded2bot i span
{
float: none
}
/* End IE5-Mac hack */

div#nifty{ margin: 0 0;background: #cccccc;}

b.rtop, b.rbottom{display:block; background: #ffffff; line-height: 0px;}
b.rtop b, b.rbottom b{display:block; height: 1px; overflow: hidden; background: #cccccc}
b.r1{margin: 0px 5px; line-height: 0px;}
b.r2{margin: 0px 3px; line-height: 0px;}
b.r3{margin: 0px 2px; line-height: 0px;}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px; height: 2px;}

.LeftRightBorders
{
	border-left: solid 1px #D3D3D3;
	border-right: solid 1px #D3D3D3;
}

.RightBorders
{
	border-right: solid 1px #D3D3D3;
}


.LeftBorders
{
	border-left: solid 1px #D3D3D3;
}

.BottomBorders
{
	border-bottom: solid 1px #D3D3D3;
}

.TopBorders
{
	border-top: solid 1px #D3D3D3;
}

.FullBorders
{
	border: solid 1px #ededed;
}

.assetCommunity
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 16px; 
	font-style: normal;
	color: #666666;
	
}

.adminLinks
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	line-height: 14px; 
	font-style: normal;
	color: #E27A00;
}

.adminLinksBold
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	line-height: 14px; 
	font-style: normal;
	color: #E27A00;
	font-weight: bold;
	
}

.blogHeadline
{
  background-color: #cccccc;
  font-size: 13px;
  font-family: verdana;
  font-weight: bold;
  color: #071B36;
}

.blogHeadline2
{
  font-size: 13px;
  font-family: verdana;
  font-weight: bold;
  color: #464B5E;
}

.LnavText
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 10px; 
	font-style: normal;
	color: #436587;
	letter-spacing: normal;
	word-spacing: normal;
	padding-left: 4px;

}

.signIn
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	line-height: 14px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: none;	
}	

.orangeHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 24px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #FF7200;
	text-decoration: none;
	padding-top: 12px;
	padding-bottom: 7px;
	padding-left: 15px;
}	

.orangeHeader2
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 24px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #FF7200;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;	
}	

.orangeHeader3
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 24px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #FF7200;
	text-decoration: none;
	
}	

.breadCrumb
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: underline;	

}

.breadCrumbEnd
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: none;	
}

.mainCats
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 12px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: underline;	

}

.tags
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 12px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: none;	
}

.more
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 9px; 
	font-style: italic;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #3955BE;
	text-decoration: underline;	

}

.assetTitle
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000000;
	text-decoration: normal;
	padding-left: 10px;
}

.assetTitle2
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000000;
	text-decoration: normal;
}

.profilePicture
{
	border:3px solid #cccccc;
	text-align:center;
}

.showingCount
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	line-height: 16px; 
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	word-spacing: normal;
	color: #4863a2;

}

.assetLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.assetLink A:visited
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.assetLink A:active
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px;
	font-weight: bold; 
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;	
	text-decoration: none;

}

.assetLink A:link
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.assetLink A:hover
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #73FF01;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.message
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal;
	color: #000000;
}

.messageUnread
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: normal;
	color: #000000;
	font-weight: bold;
}


/* top navigation*/

.bottomBoxHome{
	background-image:url(../images/head/bottomBoxHome.gif); width:1px; height:1px;background-repeat:repeat-x;
	background-position:bottom;
}

.topBoxHome{
	background-image:url(../images/head/topBoxHome.gif); width:1px; height:1px;background-repeat:repeat-x;
}

.leftBoxHome{
	background-image:url(../images/head/borderLeftHome.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.rightBoxHome{
	background-image:url(../images/head/borderRightHome.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.bottomBox{
	background-image:url(../images/head/bottomBox.jpg); width:1px; height:1px;background-repeat:repeat-x;
}

.topBox{
	background-image:url(../images/head/topBox.jpg); width:1px; height:1px;background-repeat:repeat-x;
}

.leftBox{
	background-image:url(../images/head/borderLeft.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.rightBox{
	background-image:url(../images/head/borderRight.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.insideBottomBox{
	background-image:url(../images/head/insideBottomBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideTopBox{
	background-image:url(../images/head/insideTopBox.gif); width:1px; height:5px;background-repeat:repeat-x;
}

.insideLeftBox{
	background-image:url(../images/head/insideBorderLeft.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.insideRightBox{
	background-image:url(../images/head/insideBorderRight.gif); width:6px; height:1px;background-repeat:repeat-y;
}

.bgcolorConetentHome{
	background-color:#edefef;
	background-image:url(../images/head/HomeBg1.jpg); 
	background-repeat:repeat-y;	
}
.bgcolorConetent{
	background-color:#edefef;
}

.bgKanevaLogo{
	background-image:url(../images/head/kanevaBg.jpg); 
	background-repeat:repeat-y;
}

.menuFont{
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	overflow:visible;	
	width: auto;
	height:30px;
	color:#666666
}

.menuFont a:link  {	
	padding: 7px 12px 7px 12px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	overflow:hidden;
	color:#666666;
	/*height:32px;*/
}
.menuFont a:visited {
	padding: 7px 12px 7px 12px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color:#666666;
	overflow:hidden;
	/*height:32px;*/
}
.menuFont a:active {
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image: url(../images/head/rollOver.gif);
	overflow:hidden;
	padding: 7px 12px 7px 12px;
	margin: 0px;
	/*height:30px;*/
}
.menuFont a:hover {
	padding: 7px 12px 7px 12px;
	text-decoration:none;
	font-size:10px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color:#333333;
	overflow:hidden;
	margin: 0px;
	/*height:30px;*/

	background-image:url(../images/titles/tilable_grad.gif);
	background-repeat:repeat-x; 
}

.bgBox
{
	background-image:url(../images/head/box_bg.gif); 
	background-repeat:repeat-x;
	height:60px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:11px;
	font-weight:bolder;
	font-family: Verdana, Arial, Helvetica, sans-serif; 	
	
}

.bgBoxLeft
{
	background-image:url(../images/head/box_left.gif); 
	background-repeat:no-repeat;
	height:60px;
}

.bgBoxRight
{
	background-image:url(../images/head/box_right.gif); 
	background-repeat:no-repeat;
	height:60px;
}





/*new styles 05-05-06*/
.channelStyle{color:#8D8D8D; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}
.textBodyChannel{color:#7A7A7A; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold;}
.bgBoxChannel{background-color:#FAFAFA}
.bgBoxInsideChannel{background-color:#F2F2F2}
.bgBoxInside{background-color:#FBFBFB}



/* edit channel*/

.WidgetTitleSC
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	word-wrap: break-word;
	/*background-color: #FCFCFC;*/
	padding-left: 7px;
	vertical-align: middle;
}

.WidgetiTitleSC
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	word-wrap: break-word;
	padding-left: 5px;
}

/* Widgets Box*/

.WidgetsBoxBg
{
	background-image: url(../images/boxes/widgetsPanel_bg.jpg);
}

.WidgetsBoxBgBottom
{
	background-image: url(../images/boxes/widgetsPanel_bg.jpg);
	height: 3px;
}

.WidgetsBoxBgTop
{
	background-image: url(../images/boxes/widgetsPanel_bg.jpg);
	height: 4px;
}
.WidgetsBoxTopLeftSC
{
	background-image: url(../images/boxes/WidgetsBoxTopLeft.gif); 
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
}
.WidgetsBoxTopSC
{
	background-color: #D8D8D8;
	height: 1px;
}
.WidgetsBoxTopRightSC
{
	background-image: url(../images/boxes/WidgetsBoxTopRight.gif); 
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
}
.WidgetsBoxLeftSC
{
	background-color: #CCCCCC;
	width: 1px;
}
.WidgetsBoxRightSC
{
	background-color: #CCCCCC;
	width: 1px;
}
.WidgetsBoxBottomLeftSC
{
	background-image: url(../images/boxes/WidgetsBoxBottomLeft.gif); 
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
}
.WidgetsBoxBottomSC
{
	background-image: url(../images/boxes/WidgetsBoxBottom.gif); 
	height: 2px;
	background-repeat: repeat-x;
}
.WidgetsBoxBottomRightSC
{
	background-image: url(../images/boxes/WidgetsBoxBottomRight.gif); 
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
}


/* Widgets Inner Box */

.WidgetsiBoxBgSC
{
	background-color: #F7F7F7;
}
.WidgetsiBoxTopLeftSC
{
	background-image: url(../images/boxes/WidgetsiBoxTopLeft.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}
.WidgetsiBoxTopSC
{
	background-image: url(../images/boxes/WidgetsiBoxTop.gif); 
	height: 7px;
	background-repeat: repeat-x;
}
.WidgetsiBoxTopRightSC
{
	background-image: url(../images/boxes/WidgetsiBoxTopRight.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}
.WidgetsiBoxLeftSC
{
	background-image: url(../images/boxes/WidgetsiBoxLeft.gif); 
	width: 7px;
	background-repeat: repeat-y;
}
.WidgetsiBoxRightSC
{
	background-image: url(../images/boxes/WidgetsiBoxRight.gif); 
	width: 7px;
	background-repeat: repeat-y;
}
.WidgetsiBoxBottomLeftSC
{
	background-image: url(../images/boxes/WidgetsiBoxBottomLeft.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}
.WidgetsiBoxBottomSC
{
	background-image: url(../images/boxes/WidgetsiBoxBottom.gif); 
	height: 7px;
	background-repeat: repeat-x;
}
.WidgetsiBoxBottomRightSC
{
	background-image: url(../images/boxes/WidgetsiBoxBottomRight.gif); 
	height: 7px;
	width: 7px;
	background-repeat: no-repeat;
}

.widgetCellSC
{
	background-color: #FAFAFA;
}


.widgetsI2BoxTopLeft
{
	background-image: url(../images/boxes/widgetsI2BoxTopLeft.gif); 
	height: 3px;
	width: 3px;
	background-repeat: no-repeat;
}

.widgetsI2BoxBgTop
{
	background-color: #FAFAFA;
	height: 2px;
}

.widgetsI2BoxBgSep
{
	background-color: #CCCCCC;
	height: 1px;
}

.widgetsI2BoxBgBottom
{
	background-color: #EFEFEF;
	height: 2px;
}

.widgetsI2BoxTopRight
{
	background-image: url(../images/boxes/widgetsI2BoxTopRight.gif); 
	height: 3px;
	width: 3px;
	background-repeat: no-repeat;
}

.widgetsI2BoxBottomLeft
{
	background-image: url(../images/boxes/widgetsI2BoxBottomLeft.gif); 
	height: 3px;
	width: 3px;
	background-repeat: no-repeat;
}

.widgetsI2BoxBottomRight
{
	background-image: url(../images/boxes/widgetsI2BoxBottomRight.gif); 
	height: 3px;
	width: 3px;
	background-repeat: no-repeat;
}
.widgetsI2BoxVertSC
{
	background-color: #E1E1E1; 
	width: 2px;
}
.widgetsI2BoxTop
{
	background-color: #E1E1E1; 
	height: 1px;
}

.widgetsI2BoxBottom
{
	background-color: #E3E3E3; 
	height: 1px;
}

.bgline
{
	background-image:url(../images/boxes/bgline.gif);width:1px;height:22px; background-repeat:repeat-x;text-align:center;
}	

.leftBoxColor{ background-color:#F1F1F1;}

.bgColorBox{ background-color:#f5f5f5;}

/*  javier body widgets*/

.widgetdatebold
{
	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal;
	font-weight: bold;
	word-spacing: normal;
	color: #666666;
	text-decoration: normal;
	
}

#mainlevel-nav {
	margin			: 	0; 
	padding			: 	0;
}
#mainlevel-nav li {
	background-image		: 	none;
	padding-left		: 	0px;
	list-style			:	none; 
	float				: 	right; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	87px;
 	text-align			:	center;
 	color               :  	666666;
	
}
#mainlevel-nav a {
	display			:	block;
 	float				: 	right;
	text-decoration		: 	none;
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll1.gif);
	width				:	100%;
}
#mainlevel-nav a {
	float				:	none; 
	color				:	#333333;
	
}
#mainlevel-nav a:hover {
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll2.gif); 
	color				:	#666666; 
	width				:	100%;
}


/* roll over 2 */

#mainlevel-nav1 {
	margin			: 	0; 
	padding			: 	0;
}
#mainlevel-nav1 li {
	background-image		: 	none;
	padding-left		: 	0px;
	list-style			:	none; 
	float				: 	right; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	99px;
 	text-align			:	center;
	
}
#mainlevel-nav1 a {
	display			:	block;
 	float				: 	right;
	text-decoration		: 	none;
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll1_1.gif);
	width				:	100%;
}
#mainlevel-nav1 a {
	float				:	none; 
	color				:	#333333;
	
}
#mainlevel-nav1 a:hover {
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll2_1.gif); 
	color				:	#666666; 
	width				:	100%;
}


/* roll over 3 */

#mainlevel-nav2 {
	margin			: 	0; 
	padding			: 	0;
}
#mainlevel-nav2 li {
	background-image		: 	none;
	padding-left		: 	0px;
	list-style			:	none; 
	float				: 	right; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	40px;
 	text-align			:	center;
	
}
#mainlevel-nav2 a {
	display			:	block;
 	float				: 	right;
	text-decoration		: 	none;
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll3.gif);
	width				:	100%;
}
#mainlevel-nav2 a {
	float				:	none; 
	color				:	#333333;
	
}
#mainlevel-nav2 a:hover {
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll3_1.gif); 
	color				:	#666666; 
	width				:	100%;
}

/* roll over 4 */

#mainlevel-nav3 {
	margin			: 	0; 
	padding			: 	0;
}
#mainlevel-nav3 li {
	background-image		: 	none;
	padding-left		: 	0px;
	list-style			:	none; 
	float				: 	right; 
	margin			: 	0; 
	font-family			:	Verdana; 
	font-size			: 	10px;
	line-height			: 	23px;
	white-space			: 	nowrap; 
	width				:	50px;
 	text-align			:	center;
	
}
#mainlevel-nav3 a {
	display			:	block;
 	float				: 	right;
	text-decoration		: 	none;
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll4.gif);
	width				:	100%;
}
#mainlevel-nav3 a {
	float				:	none; 
	color				:	#333333;
	
}
#mainlevel-nav3 a:hover {
	background-image		: 	url(../images/PageLayout/ModulesSidebar/roll4_1.gif); 
	color				:	#666666; 
	width				:	100%;
}

.b 
{ 
height:1px;
}

/* Widgets */
.rollover a { display:block; width:32px; background-color: #FFFFFF}
.rollover a:hover { background-color: #990000}

.rollover a {background-image:url(../images/PageLayout/ModulesSidebar/roll1.gif);width:99px; height:23px;}
.rollover a:hover { background-image:url(../images/PageLayout/ModulesSidebar/roll2.gif); border-color:Black; width:99; height:23; background-color:Gray;}

.bg {width:12px; height:19px;background-repeat:no-repeat;
}

.wrapText
{
	word-wrap: break-word;
	overflow: auto;
}

/* footer */
.footerLink:link {text-decoration:none;color:#EEEEEE;font-size:10px;font-family:Verdana;}
.footerLink:visited {text-decoration:none;color:#EEEEEE;font-size:10px;font-family:Verdana;}
.footerLink:active {text-decoration:none;color:#EEEEEE;font-size:10px;font-family:Verdana;}
.footerLink:hover {text-decoration:none;color:#EEEEEE;font-size:10px;font-family:Verdana;}
.footerText{color:#EEEEEE;font-size:10px;font-family:Verdana;}

/* marketing styles */
.mktText
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
}
.mktText a  
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	text-decoration:underline;	
}
.mktText a:hover  
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	text-decoration:underline;	
}
.mktText a:visited 
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#7D7D7D;
	font-size:11px;
	text-decoration:underline;	
}
.mktText p
{
	text-align:justify;
}

.mktHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	line-height: 18px; 
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
	color: #000000;
	text-decoration: normal;
}
.mktSubHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal;
	font-weight: bold;
	word-spacing: normal;
	color: #666666;
	text-decoration: normal;
}

.menu
{
	font-family: Verdana;
	font-size:13px;
	color:#646464;
	font-weight:bold;
	text-align:center;	
} 
.menu  a
{
	font-family: Verdana;
	font-size:13px;
	color:#646464;
	font-weight:bold;
	text-align:center;	
}
.menu div
{
	width:140px;
	padding: 4px 0px;
}
.subheader
{
	font-weight:bold;
}
.content 
{
	font-family: Verdana;
	font-size:13px;
	color:#767661;
	text-align:justify;
	padding-bottom:12px;
} 
 
.header 
{
	font-family: Verdana;
	font-size:18px;
	color:#767661;
	padding-top:10px;
	padding-bottom:10px;
}
.link  a
{
	font-family: Verdana;
	font-size:15px;
	color:#767661;
	font-weight:bold;
	text-decoration:none;
	letter-spacing:-1px
}
.contentRight
{
	font-family: Verdana;
	font-size:11px;
	color:#767661;
	text-align:center;
}
.contentRightTitle
{
	font-family: Verdana;
	font-size:13px;
	color:#767661;
	font-weight:bold;
}

.contentRightSubTitle
{
	font-family: Verdana;
	font-size:13px;
	color:#808080;
	font-weight:none;
	padding-top:6px;
}

/* Body Background / Margins */
body {
    background:url(../images/header/background_100x100_greyNoise.jpg) repeat 0 0;
    margin:0;
}

/* GLOBAL KANEVA LINKS */	
a:link{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #3d77c4;
	font-weight:normal;
	text-decoration:none;
}
	
a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #3d77c4;
	text-decoration:none;
}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	text-decoration:underline;
	font-weight:normal;
	color:#3d77c4;
	background-color:transparent;
}

a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#3d77c4;
}

/*-----------(FOOTER-NOT AUTH)-------------- */	
a.footerlink:link, a.footerlink:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #018AAA;
	font-weight:normal;
	text-decoration:underline;
}

/* sc hack, if change here change .bolderText:hover in home.css to match */
a.footerlink:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
	background-color:#018AAA;
	color: #EEEEEE;
}

a.footerlink:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#018AAA;
	font-weight:normal;
	text-decoration:underline;
}
	
.footerText {
	color: #EEEEEE;
}

	
#footer_resourcebox td {color: #CCCCCC;}
	
#footer_resourcebox a:link, #footer_resourcebox a:hover, #footer_resourcebox a:active, #footer_resourcebox a:visited {
	color: #CCCCCC;
	background-color: transparent;
	font-size: 10px;
	}


	/* ADMIN MENU */
	
		#tdAdminMenu, .tdAdminMenu {
	    width: 100%;
	    background-color: Yellow;
	    height: 32px;
	    margin: 0;
	    padding: 0;
	    }

	    #adminNavHolder {
	        width: 100%;
	        height: 32px;
	        margin: 0 auto;
	        padding: 0;
	        position: relative;
	    }
		
		#adminMenu {
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 0px 0 0 0;
		list-style: none;
		}
		#adminMenu ul {
		height: 21px;
		padding: 0;
		margin: 0;
		}
		#adminMenu li {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#adminMenu a {
		display: block;
		text-decoration: none;
		background-color: inherit;
		color: #000000;
		font-weight: normal;
		line-height: 1.7;
		font-size: 14px;
		padding: 3px;
		margin: 0 4px;
		float: left;
		display: inline;
		}
		#adminMenu a:hover, #adminMenu li.selected a:hover {
        background-image: none;
        background-color: transparent;
        color: #666666;
        }
		#adminMenu li.selected a {
		color: Maroon;
		border-bottom: 5px solid #053b53;
		}


table.newcontainer {width:1006px;}
table.newcontainerborder {background:#fff;border:1px solid #ccc;border-top:none;}
table.newcontainerborder td.newdatacontainer {padding:20px 12px 40px 12px;}