/* HEADER */
/*Box Inside*/

.boxInside{
	vertical-align:top;
	height:18px
}

.boxInsideTopLeft{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideLeftTop.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.boxInsideTopRight{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideRighBTop.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.boxInsideBottomLeft{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideLeftBottom.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.boxInsideBottomRight{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideRightBottom.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.boxInsideBottom{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideBottom.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}
.boxInsideBottom2{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideBottom2.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}
.boxInsideTop{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideTop.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.boxInsideTop2{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/BoxInsideTop2.gif);
	background-repeat:repeat-x;
	background-position:top;
}
.boxInsideRight{
	width:4px;
	background-color:#e6e6e6;
}
.boxInsideleft{
	width:4px;
	background-color:#e6e6e6;
}
.boxInsideContentTop{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	width:100%;
	background-color:#e6e6e6;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}
.boxInsideContent{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:normal;
	padding-left:0px;
	padding-top:0px;
	width:100%;
	background-color:#e6e6e6;
	padding-right: 0px;
	padding-bottom: 0px;
}

.boxInsideContentSmall{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#cccccc;
	font-weight:bold;
} 

/*Box white*/
.boxWhiteInside{
	vertical-align:top;
}

.boxWhiteTopLeft{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteLeftTop.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.boxWhiteTopRight{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteRightTop.gif);
	background-repeat:no-repeat;
	background-position:top;
}

.boxWhiteBottomLeft{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteLeftBottom.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}

.boxWhiteBottomRight{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteRightBottom.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}
.boxWhiteBottom{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteBottom.gif);
	background-repeat:repeat-x;
}
.boxWhiteTop{
	width:4px;
	height:4px;
	background-image:url(../images/boxes/boxWhiteTop.gif);
	background-repeat:repeat-x;
}
.boxWhiteRight{
	width:4px;
	background-image:url(../images/boxes/boxWhiteRight.gif);
	background-repeat:repeat-y;
}
.boxWhiteLeft{
	width:4px;
	background-image:url(../images/boxes/boxWhiteLeft.gif);
	background-repeat:repeat-y;
}
.boxWhiteContent{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	/*padding-left:4px;
	padding-top:5px;*/
	width:100%;
	background-color:#fdfdfd;
}

.boxWhiteContentMember {

	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	padding-left:2px;
	padding-top:2px;
	padding-right:2px;
	padding-bottom:2px;
	width:100%;
	background-color:#fdfdfd;
}

.boxWhite{

}

/*MEDIA*/

.formKanevaText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	background-color: #F1F1F1;
	font-weight: normal;
	border: 1px solid #A7A7A7;
}

.formKanevaSelect {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	background-color: #F1F1F1;
	font-weight: normal;
	border: 1px solid #A7A7A7;
}

.formKanevaCheck {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	border: 0px;
}

.textColor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
}

.insideBoxText11 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: normal;
}

.sectionTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: bold;
}

.pictureNameText10 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #878686;
	font-size: 10px;
	font-weight: bold;
}

.insideBoxText10 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #999999;
	font-size: 10px;
	font-weight: normal;
}

.insideBoxText9 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #CCCCCC;
	font-size: 9px;
	font-weight: normal;
}

.glossaryLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #999999;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

.glossaryLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #999999;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}


.glossaryLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #999999;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
}

.tabLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.tabLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.tabLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
}

.underline {
	border-bottom-color: #CCCCCC;  
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
}

.textUnderline {
	text-decoration:underline; 
}
/*END MEDIA*/

.categoryColor {
	background-color: #cacaca;
}
