/* HEADER */
/* Leaderboard Table  */

table.leaderBoard {
	background-color: #ffffff;
	font-family: verdana, arial, sans-serif;
	color: #737373;
	font-size: 10px;
	border: 1px solid #d2d2d3;
	}
	
	table.leaderBoard th.profile, table.leaderBoard td.profile {
	text-align: center;
	/*background-color: #eeeeee;*/
	}
	
	table.leaderBoard th.friends, table.leaderBoard td.friends {
	text-align: center;
	/*background-color: #fafafa;*/
	}
	
	table.leaderBoard th.channel, table.leaderBoard td.channel {
	text-align: center;
	/*background-color: #eeeeee;*/
	}
	
	table.leaderBoard th.media, table.leaderBoard td.media {
	text-align: center;
	/*background-color: #fafafa;*/
	}
	
	table.leaderBoard th {
	border-bottom: 1px solid #f1f1f1;
	}
	
	table.leaderBoard td {
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid #f1f1f1;
	}
	table.leaderBoard td td, table.leaderBoard th td {
	border-bottom: none;
	}
	
	table.leaderBoard td .rankNum {
	padding: 3px;
	font-size: 16px;
	}
	
	table.leaderBoard td.totalpoints {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	}
	
	
	table.leaderBoard .small, table.leaderBoard .rank {
	font-size: 9px;
	color: #bcb7b7;
	}
	
	table.leaderBoard tr.altrow  {
	background: #FFFFFF url(../images/icons/leaderboard/bg_altrow.gif) repeat top left;
	}
	
	tr.myrow  {
	background: #FFFFFF url(../images/icons/leaderboard/gradient_blue.gif) repeat-x bottom left;
	}
	
	tr.myrow td .rankNum {
	color: #4272b4;
	}
	tr.myrow td .rank {
	color: #4272b4;
	}
	
	tr.myrow td.profilepic a:link img, tr.myrow td.profilepic a:visited img  {
	border: 1px solid #4272b4;
	}
	
	tr.myrow td{
	color: #4272b4;
	font-weight: bold;
	}
	
	
	
.location {
	font-size: 9px;
	color: #b4b4b4;
	}
	

/* links */ 

#chanPage table.leaderBoard a:link, #chanPage tr.myrow a:link{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #4272b4;
	font-weight:bold;
	text-decoration:underline;
	}
	
#chanPage table.leaderBoard a:visited, #chanPage tr.myrow a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #4272b4;
	font-weight:bold;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
#chanPage table.leaderBoard a:hover, #chanPage tr.myrow a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-decoration:none;
	font-weight:bold;
	background-color:#4272b4;
	color: #EEEEEE;
	}

#chanPage table.leaderBoard a:active, #chanPage tr.myrow a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#8F8F8F;
	font-weight:bold;
	text-decoration:underline;
	}
	
	
table.leaderBoard td.profilepic a:hover  {
	background-color: transparent;
	}
	
	
	table.leaderBoard td.profilepic a:link img, table.leaderBoard td.profilepic a:visited img  {
	border: 1px solid transparent;
	}
	table.leaderBoard td.profilepic a:hover img  {
	border: 1px solid #4272b4;
	}




/* STYLES FROM NEW.CSS */

.module {
	margin: 0 0 10px 0;
	padding: 0;
	border: 1px solid #d2d2d3;
	background: #FFFFFF url(../images/mod_body_bg.gif) repeat-x top left;
	position: relative;
	display: block;
	text-align: center;
	}
	
.module span {
	text-align: left;
	}
	
.module h2 {
	margin: -2px 0 0 0;
	padding: 0 0 0 15px;
	height: 23px;
	font-size: 12px;
	background: #FFFFFF url(../images/mod_head_bg.gif) repeat-x bottom left;
	border-bottom: 1px solid #FFFFFF;
	color: #656565;
	position: relative;
	text-align: left;
	}
	
.module h2 span.hlink, h1 span.hlink {
    position: absolute;
    right: 2%;
    text-align: right;
    width: auto;
    font-weight: normal;
    }

	
.module h2.tall {
	margin: -2px 0 0 0;
	padding: 0 0 0 15px;
	height: 35px;
	}
	
.module h2.tall span {
	font-size: 10px;
	font-weight: normal;
	}
	
.module h2.white {
	background-image: none;
	color: #476163;
	}

	
.module p {
	padding: 0;
	margin: 0;
	}
	
.module table {
	position: relative;
	margin-bottom: -5px;
	}
	
.module table table, .module table table table {
	position: relative;
	padding: 0;
	margin: 0;
	}
	
.whitebg {
	background-image: none;
	
	}
	
.whitebg table {
	margin : 0 auto;
	text-align: left;
	}
	
.module .ct, .module .ct .cl, .module .cb, .module .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 10px; position: relative;}
.module .ct, .module .cb { width: 100%; right: -1px;}
.module .ct .cl, .module .cb .cl { width: 9px; left: -2px; }
.module .ct { background: transparent url(../images/corner-ne.gif) no-repeat top right; top: -1px; }
.module .ct .cl { background: transparent url(../images/corner-nw.gif) no-repeat top left; }
.module .cb { background: transparent url(../images/corner-se.gif) no-repeat top right; bottom: -1px; }
.module .cb .cl { background: transparent url(../images/corner-sw.gif) no-repeat top left; }



.white .ct { background: transparent url(../images/corner-ne-w.gif) no-repeat top right; top: -1px; }
.white .ct .cl { background: transparent url(../images/corner-nw-w.gif) no-repeat top left; }
.white .cb { background: transparent url(../images/corner-se-w.gif) no-repeat top right; bottom: -1px; }
.white .cb .cl { background: transparent url(../images/corner-sw-w.gif) no-repeat top left; }

.frame .ct, .frame .ct .cl, .frame .cb, .frame .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 5px; position: relative;}
.frame .ct, .frame .cb { width: 100%; right: -16px;}
.frame .ct .cl, .frame .cb .cl { width: 5px; left: -32px; }
.frame .ct { background: transparent url(../images/framecorner-ne.gif) no-repeat top right; top: -1px; }
.frame .ct .cl { background: transparent url(../images/framecorner-nw.gif) no-repeat top left; }
.frame .cb { background: transparent url(../images/framecorner-se.gif) no-repeat top right; bottom: -1px; }
.frame .cb .cl { background: transparent url(../images/framecorner-sw.gif) no-repeat top left; }
.greenbox {
	background-color: #e7f4f5;
	}
