/* HEADER */
﻿/* -------------Navigation------------- */
.navSummary {width:100%;text-align:left;height:auto;display:block;margin:8px 0 0 6px;}
.navSummary a, .navSummary a:hover, .navSummary a:visited, .navSummary a:active {color:#333;font-size:11px;background-position:0 3px;background-repeat:no-repeat;padding-left:22px;display:inline-block;}
.navSummary a:hover {color:#3d77c4;text-decoration:underline;}
.navSummary a.selected {color:#3d77c4;}
.navSummary div {font-size:11px;line-height:21px;height:21px;margin:0;}
.navSummary .new {color:#fe0002;text-decoration:none;}
.navSummary .messages a:link, .navSummary .messages a:active,
.navSummary .messages a:visited {background-image:url(../images/nav/sideNav_16x16_messagesGrey.jpg);}
.navSummary .messages a:hover, .navSummary .messages a.selected {background-image:url(../images/nav/sideNav_16x16_messagesColor.jpg);}
.navSummary .friends a:link, .navSummary .friends a:active,
.navSummary .friends a:visited {background-image:url(../images/nav/sideNav_16x16_friendsGrey.jpg);}
.navSummary .friends a:hover, .navSummary .friends a.selected {background-image:url(../images/nav/sideNav_16x16_friendsColor.jpg);}
.navSummary .community a:link, .navSummary .community a:active,
.navSummary .community a:visited {background-image:url(../images/nav/sideNav_16x16_communityGrey.jpg);}
.navSummary .community a:hover {background-image:url(../images/nav/sideNav_16x16_communityColor.jpg);}
.navSummary .apps3d a:link, .navSummary .apps3d a:active,
.navSummary .apps3d a:visited {background-image:url(../images/nav/sideNav_16x16_worldsGrey.jpg);}
.navSummary .apps3d a:hover, .navSummary .apps3d a.selected {background-image:url(../images/nav/sideNav_16x16_worldsColor.jpg);}
.navSummary .contests a:link, .navSummary .contests a:active,
.navSummary .contests a:visited {background-image:url(../images/nav/sideNav_16x16_contestGrey.jpg);}
.navSummary .contests a:hover, .navSummary .contests a.selected {background-image:url(../images/nav/sideNav_16x16_contestColor.jpg);}
.navSummary .activity a:link, .navSummary .activity a:active,
.navSummary .activity a:visited {background-image:url(../images/nav/sideNav_16x16_activitiesGrey.jpg);}
.navSummary .activity a:hover, .navSummary .activity a.selected {background-image:url(../images/nav/sideNav_16x16_activitiesColor.jpg);}
.navSummary .shop a:link, .navSummary .shop a:active,
.navSummary .shop a:visited {background-image:url(../images/nav/sideNav_16x16_shopGrey.jpg);}
.navSummary .shop a:hover {background-image:url(../images/nav/sideNav_16x16_shopColor.jpg);}
.navSummary .media a:link, .navSummary .media a:active,
.navSummary .media a:visited {background-image:url(../images/nav/sideNav_16x16_mediaGrey.jpg);}
.navSummary .media a:hover {background-image:url(../images/nav/sideNav_16x16_mediaColor.jpg);}

.navSummary .subNav {display:block;height:auto;}
.navSummary .subNav div {line-height:17px;height:17px;}
.navSummary .subNav div a {padding-left:30px;display:block;}
.navSummary .subNav div a:hover {background:#ebebeb;}

.navSummary .subNav div span.new {position:relative;top:-17px;}
.navSummary .subNav div span.comminvite {left:116px;}
.navSummary .subNav div span.worldreq {left:92px;}
.navSummary .subNav div span.commreq {left:130px;}
.navSummary .subNav .selected {background-color:#ccc;}
.navSummary .subNav .selected a + span.comminvite {left:124px;}
.navSummary .subNav .selected a + span.commreq {left:138px;}
.navSummary .subNav .selected a + span.worldreq {left:124px;}

.navSummary .subNav .selected a, .navSummary .subNav .selected a:hover {font-weight:bold;color:#3d77c4;background-color:#ccc;}

.navSummary.navWorlds h2 {font-size:11px;margin-bottom:4px;}

.navGo3D {display:block;width:100%;text-align:center;margin-top:12px;padding:0 0 0 3px;}
.navGo3D a.go3Dbtn {width:163px; height:35px; display:block;}
.navGo3D a.go3Dbtn:link, .go3D a.go3Dbtn:visited {background:url(../images/playnowUP.png) no-repeat scroll 0 0 transparent;}
.navGo3D a.go3Dbtn:hover, .go3D a.go3Dbtn:active {background:url(../images/playnowOver.png) no-repeat scroll 0 0 transparent;}
.navGo3D hr {width:90%;height:1px;background-color:#f5f5f5;border:none;margin:10px 0;}

a.btnmedium {padding-top:6px;height:21px;}
