/* HEADER */
/* ######### CONTROL PANEL OVERRIDE STYLE ######### */	
	
#chanpage #controlpanel .widgetText {
	font-weight: normal;
	font-size: 11px;
	}
	
#chanpage #controlpanel .widgetTextBold {
	font-weight: bold;
	font-size: 11px;
	}
	
#chanpage #controlpanel .small {
	font-weight: normal;
	font-size: 10px;
	}
	
#chanpage #controlpanel .frame .widgetText {/*dont remove it is needed for the on-site formattinh */
	font-weight: normal;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	color: #737373;
	
	}	

.panelURL {
	padding: 0;
	display:block;
	word-wrap: break-word;
	overflow: hidden;
	width: 95%;
	}
	


/* ######### STYLE FOR MEET ME 3D ######### */

#meetme3d  {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
	}

#meetme3d * {
  	cursor: pointer; /* PC IE HACK - Cursor turns to pointer/text without this */
	}

#meetme3d a.trigger {
   	width: 280px;
	height: 23px;
	display: block;
	background: transparent url("../images/header_meetme3d0.gif") no-repeat top left;
	}
	
#meetme3d a.trigger div  {
   	display: none;
   	padding: 0px 0px 0px 0px;
	}



#meetme3d a.trigger:hover { /* PC IE HACK - Flyout won't work without this */
   	margin: 0;
	}

#meetme3d a.trigger:hover div  {
   	display: block;
   	position: absolute;
   	top: 0;
   	left: 0;
	}


/* ######### STYLE FOR HANGOUT 3D ######### */

#hangout3d  {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
	}

#hangout3d * {
  	cursor: pointer; /* PC IE HACK - Cursor turns to pointer/text without this */
	}

#hangout3d a.trigger {
   	width: 280px;
	height: 23px;
	display: block;
	background: transparent url("../images/header_hangout3d0.gif") no-repeat top left;
	}
	
#hangout3d a.trigger div  {
   	display: none;
   	padding: 0px 0px 0px 0px;
	}



#hangout3d a.trigger:hover { /* PC IE HACK - Flyout won't work without this */
   	margin: 0;
	}

#hangout3d a.trigger:hover div  {
   	display: block;
   	position: absolute;
   	top: 0;
   	left: 0;
	}
	
	
/* ######### STYLE FOR FLYOUT ######### */
.hangout .flyout 
{ /* FLYOUT STYLE */
	background: transparent url("../images/header_hangout3d1.gif") no-repeat top left;
}
	
#flyoutcontent { /* FLYOUT CONTENT STYLE */
	width: 270px;
	background-color: #ffffff;
	border: 5px solid #7ad1e3;
	margin: 0 !important;/* PCIE HACK */
	margin: 0;
	display: block;
	}


#flyoutcontent p {
	padding: 5px;
	margin: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color: #018AAA;
	font-weight:bold;
	text-decoration:underline;
	text-align: center;
	}