/* HEADER */
/* 
  -- Even more rounded corners with CSS: Base stylesheet --
*/

.dialog {
 	position: relative;
 	margin: 0px auto;
 	min-width: 8em;
 	max-width: 760px; /* based on image dimensions - not quite consistent with drip styles yet */
 	margin-left: 15px; /* default, width of left corner */
 	margin-bottom: 0; /* spacing under dialog */
 	
	}
	
.dialog h1 {
 	color: #ffffff;
 	font-size: 15px;
 	font-weight: bold;
 	font-family: arial;
 	line-height: 2.1;
	}

.dialog .content, .dialog .t, .dialog .b, .dialog .b div {
 	background: transparent url("../images/module-basic-800x1600.png") no-repeat top right;
	}
	
.blast .content, .blast .t, .blast .b, .blast .b div {
 	background: transparent url("../images/module-blast-800x1600.png") no-repeat top right;
	}
	
.thinBlue .content, .thinBlue .t, .thinBlue .b, .thinBlue .b div {
 	background: transparent url("../images/module-thinblue-352x1600.png") no-repeat top right;
	}
	.thinBlue {
 	 	color: #c7dafa;
		}
	
.black .content, .black .t, .black .b, .black .b div {
 	background: transparent url("../images/module-black-800x1600.png") no-repeat top right;
	}
	
.grayFade .content, .grayFade .t, .grayFade .b, .grayFade .b div {
 	background: transparent url("../images/module-grayFade-800x1600.png") no-repeat top right;
	}
	
.yellowFade .content, .yellowFade .t, .yellowFade .b, .yellowFade .b div {
 	background: transparent url("../images/module-yellowFade-800x1600.png") no-repeat top right;
	}
	.yellowFade {
 	background-color: transparent;
 	background-image: none;
	}

.dialog .content {
 	position: relative;
 	zoom:1;
 	_overflow-y: hidden;
 	padding: 0px 12px 0px 0px;
	}

.dialog .t {
 	/* top+left vertical slice */
 	position: absolute;
 	left: 0px;
 	top: 0px;
 	width: 15px; /* top slice width */
 	margin-left: -15px;
 	height: 100%;
 	_height: 1600px; /* arbitrary long height, IE 6 */
 	background-position: top left;
	}

.dialog .b {
 	/* bottom */
 	position: relative;
 	width: 100%;
	}

.dialog .b, .dialog .b div {
 	height: 30px; /* height of bottom cap/shade */
 	font-size: 1px;
	}

.dialog .b {
 	background-position: bottom right;
	}

.dialog .b div {
 	position: relative;
 	width: 15px; /* bottom corner width */
 	margin-left: -15px;
 	background-position: bottom left;
 	float: left;
	}

.dialog .hd, .dialog .bd, .dialog .ft {
	position: relative;
	}

.dialog .wrapper {
 	/* extra content protector - preventing vertical overflow (past background) */
 	position: static;
 	max-height: 1000px;
 	overflow: auto; /* note that overflow:auto causes a rather annoying redraw "lag" in Firefox 2, and may degrade performance. Might be worth trying without if you aren't worried about height/overflow issues. */
	}

.dialog h1, .dialog p {
 	margin: 0px; /* margins will blow out backgrounds, leaving whitespace. */
 	padding: 0.5em 0px 0.5em 0px;
 	text-align: left;
	}

.dialog h1 {
 	padding-bottom:0px;
	}


h1 a:link, h1 a:visited, h1 a:hover {
	font-size: 11px;
	float: right;
	margin-top: 4px;
	display: inline;
	}
	
	
