/* HEADER */
/* 
  -- Even more rounded corners with CSS: Base stylesheet --
*/


.dialog .content, .dialog .t, .dialog .b, .dialog .b div {
 	background-image:  url("../images/module-basic-800x16002.gif");
	}
	
.blast .content, .blast .t, .blast .b, .blast .b div {
 	background-image:  url("../images/module-blast-800x16002.gif");
	}
	
.thinBlue .content, .thinBlue .t, .thinBlue .b, .thinBlue .b div {
 	background-image: url("../images/module-thinblue-352x1600.gif");
	}

.black .content, .black .t, .black .b, .black .b div {
 	background-image: url("../images/module-black-800x1600.gif");
	}
	
.grayFade .content, .grayFade .t, .grayFade .b, .grayFade .b div {
 	background-image: url("../images/module-grayFade-800x1600.gif");
	}

.yellowFade .content, .yellowFade .t, .yellowFade .b, .yellowFade .b div {
 	background-image: url("../images/module-yellowFade-800x1600.gif");
	}