/* HEADER */
﻿@charset "UTF-8";
/* CSS Document */

@import url(base/base_new.css);
@import url(leftnav.css);
@import url(userprofile.css);

#wrapper {border:1px solid #ccc;border-top:none;background:url(../images/backgrounds/graphic_1004x1_background_greyGradient.jpg) repeat-y 0 0;width:1004px;margin:0 auto;height:auto !important;height:100%;min-height:100%;padding-bottom:5em;clear:both;display:inline-block;}
#_stage {width:1004px;margin:0 auto;height:auto !important;height:100%;clear:both;}
#leftRail {width:185px;margin:10px 0;padding:0;float:left;text-align:left;}
#centerRail {width:520px;margin:10px 0 7px 30px;_margin:7px 0 7px 30px;float:left;text-align:left;}
#rightRail {width:240px;margin:10px 0 7px 0;float:right;text-align:left;}

/* WIDGETS */

/* -------------ActionDD------------- */
.actionDD {background-color:white;margin:25px 0 0 0;padding:0;width:100%;overflow:hidden;}
.actionDD p{font-size: 11px;line-height:14px;clear:both;margin-bottom:6px;}
.actionDD h2{width:100%;height:30px;padding:6px 0 0 6px;background-color:#d9e6e9;text-align:left;margin:0;color:#0e4762;}
p.unchecked {background-image:none;background-position:center left;background-repeat:no-repeat;padding-left:20px;}
p.checked {background-image:url(../images/mykaneva/actionItemCheck.gif);background-position:center left;background-repeat:no-repeat;padding-left:20px;}

/* -------------NotificationDD------------- */
.notificationDD {margin:16px 0 0 0;padding:0;width:98%;overflow: hidden;}
.notificationDD p {text-align:left;font-size:11px;line-height:15px;margin:8px 0 8px 6px;padding-left:20px;background-repeat:no-repeat;background-position:0 2px;}
.notificationDD p a {font-size:11px;}
.notificationDD h2 {width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;background-color:#ebebeb;text-align:left;margin:0;color:#333;}

.notificationDD div{ font-size: 11px; line-height:15px; margin: 6px 0; padding:0; }
.notificationDD .noData {font-size:11px;width:100%;text-align:center;margin:10px 0 20px 0;color:#999;}
p.notificationDDcomment {background:url(../images/mykaneva/icon_32x16_activityComment.png) no-repeat -16px 0;}
p.notificationDDcommunity {background:url(../images/mykaneva/icon_26x12_Member.png) no-repeat -13px 0;}
p.notificationDDfame {background:url(../images/mykaneva/icon_32x16_activityFame.png) no-repeat -16px 0;}
p.notificationDDblog {background:url(../images/mykaneva/icon_32x16_activityBlog.png) no-repeat -16px 0;}
p.notificationDDkaneva {background:url(../images/mykaneva/icon_28x14_notifcationKaneva.png) no-repeat -14px 0;}
p.notificationDDfriend {background:url(../images/mykaneva/icon_28x11_friendRequest.png) no-repeat -14px 0;}
p.notificationDDforum {background:url(../images/mykaneva/icon_32x16_activityForum.png) no-repeat -16px 0;}
p.notificationDDprofile {background:url(../images/mykaneva/icon_32x16_activityProfile.png) no-repeat -16px 0;}
p.notificationDDgift {background:url(../images/mykaneva/icon_32x16_activityGift.png) no-repeat -16px 0;}
p.notificationDDrave {background:url(../images/mykaneva/icon_22x14_notificationRave.png) no-repeat -11px 0;}
p.notificationDDapps3d {background:url(../images/mykaneva/notificationsWorlds.jpg) no-repeat -1px 0;}
#pNotifications {text-align:center;}
#pNotifications .imgLoading{margin:20px auto 0 auto;}
#pNotifications .loadingText{margin-top:8px;font-size:10px;font-weight:normal;width:100%;text-align:center;color:#999;}

/* -------------MyTopWorlds------------- */
.topworlds {margin:30px 0 0 0;padding:0;width:98%;overflow: hidden;}
.topworlds p {font-size:11px;line-height:12px;margin:0 0 5px 2px;padding-left:0;float:left;width:94px;}
.topworlds p a {font-size:11px;}
.topworlds h2 {width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;background-color:#ebebeb;text-align:left;margin:0;color:#333;}
.topworlds .framesize-small {height:56px;overflow:hidden;float:left;}
.topworlds .seperator {height:1px;border:none;border-top:1px solid #ebebeb;margin-left:6px;}
.topworlds .more {position:relative;left:130px;top:-15px;width:60px;}
.topworlds .more a {font-size:10px;}
.topworlds, #pTopWorlds {text-align:center;}
.topworlds .imgLoading, #pTopWorlds .imgLoading{margin:20px auto 0 auto;}
.topworlds .loadingText, #pTopWorlds .loadingText{margin-top:8px;font-size:10px;font-weight:normal;width:100%;text-align:center;color:#999;}
.topworldrow {clear:both;margin:10px 0 10px 6px;display:inline-block;text-align:left;}


/* -------------Invite Friends------------- */
.inviteDD {background-color:white;margin:10px 0 0 0;padding:0;width:100%;text-align:center;}
.inviteDD img {cursor:pointer;width:220px;margin-right:8px;}
.inviteDD div a.invite_friends {width:164px;height:26px;padding:10px 0 0 0;display:block;outline:none;font-size:17px;font-weight:bold;color:#fff;text-shadow:1px 1px 0 #111;}
.inviteDD div a.invite_friends {
	background-image:url(../images/buttons/button_493x36_xlBlack.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.inviteDD a.invite_friends:hover {background-position:-165px 0;text-decoration:none;}
.inviteDD a.invite_friends:active {background-position:-330px 0;} 

/* -------------Events------------- */
.eventsDD {background-color:white;margin:25px 0 0 0;padding:0;width:100%;overflow:hidden;}
.eventsDD .eventTitleContainer {width:100%;background-color:#ebebeb;margin-bottom:8px;}
.eventsDD h2{width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;text-align:left;margin:0;color:#333;}

.eventsDD a:link,.eventsDD a:hover,.eventsDD a:visited {font-size:11px;font-weight:normal;}
.eventsDD .eventEdit {font-size:10px;padding-left:5px;}
.eventsDD .eventEdit a:link, .eventEdit .eventsDD a:hover, 
.eventsDD .eventEdit a:visited, .eventsDD .eventEdit a:active{font-weight:normal;font-size:10px;margin-right:2px;}
.eventsDD .noData {font-size:12px;width:100%;text-align:center;margin:20px 0 30px 0;color:#999;}
.eventsDD .eventsAdd {width:80px;float:right;font-size:10px;margin:3px 3px 0 0;text-align:right;}
.eventsDD .eventsAdd a {font-size:10px;}
.eventsDD .birthdays {margin-top:4px;padding:3px 0 6px 30px;font-size:11px;text-align:left;background-image:url(../images/mykaneva/rightRail_16x16_birthdayGrey.png);background-repeat:no-repeat;background-position:6px 1px;}
.eventsDD .birthdays .title {float:left;color:#000;font-size:11px;font-weight:bold;width:100px;margin:0;padding:0;}
.eventsDD .birthdays li a {font-size:10px;position:relative;top:6px;margin-right:5px;}
.eventsDD .birthday {padding:1px 0;}
.eventsDD .anniversaries {margin:4px 0 6px 0;padding:3px 0 6px 30px;font-size:11px;text-align:left;background-image:url(../images/mykaneva/rightRail_16x16_anniversaryGrey.png);background-repeat:no-repeat;background-position:6px 2px;}
.eventsDD .anniversaries .title {float:left;color:#000;font-size:11px;font-weight:bold;width:100px;margin:0;padding:0;}
.eventsDD .anniversaries li a {font-size:10px;position:relative;top:6px;margin-right:5px;}
.eventsDD .anniversary {padding:1px 0;}
.eventsDD .header {padding:0;margin:0;height:14px;}
.eventsDD .header li {height:10px;margin:0;margin-top:-7px;}
.eventsDD .time {color:#999;font-size:10px;}
.eventsDD .showAll {float:right;text-align:right;padding:0;margin:0;overflow:hidden;height:14px;}

.eventsDD .events {margin:4px 0 6px 0;padding:3px 0 0 30px;font-size:11px;text-align:left;background-image:url(../images/mykaneva/events_16_sidewidget.png);background-repeat:no-repeat;background-position:6px 2px;}
.eventsDD .events .title {float:left;color:#000;font-size:11px;font-weight:bold;width:100px;margin:0;padding:0;}
.eventsDD .events li a {font-size:10px;position:relative;top:6px;margin-right:5px;}
.eventsDD .event {padding:1px 0;margin:2px 0 8px 0;width:200px;}
.eventsDD .event p {line-height:15px;}
.eventsDD .event a.eventtitle {font-weight:normal;}
.eventsDD .events.prem {background-image:url(../images/mykaneva/event-star_15x14.png);}
.eventsDD .events.prem .title {width:100%;}

.eventsDD .basicEventsContainer {
    border: 1px solid transparent;
}

#pEventsList {text-align:center;}
#pEventsList .imgLoading{margin:20px auto 0 auto;}
#pEventsList .loadingText{margin-top:8px;font-size:10px;font-weight:normal;width:100%;text-align:center;color:#999;}


/* -------------Passes DD------------- */
.passesDD {background-color:white;margin:25px 0 0 0;padding:0;width:100%;overflow:hidden;}
.passesDD p{font-size:11px;line-height:16px;clear:left;}
.passesDD h2{width:100%;height:15px;font-size:11px;padding:3px 0 0 4px;text-align:left;margin:0;background-color:#ebebeb;color:#333;}
#pPasses {text-align:center;margin-top:8px;}
#pPasses img {float:left;}
#pPasses .imgLoading{margin:40px auto 0 auto;float:none;}
#pPasses .loadingText{margin-top:4px;margin-bottom:20px;font-size:10px;width:100%;text-align:center;color:#999;}

/* CENTER RAIL */

/* -------------TOP WORLDS POPULATED ----------------*/
.topworldscontainer {
    border:1px solid #ccc;
    width:100%;
    height:200px;
    background-color:#f5f5f5;
    font-size:11px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    text-align:center;
    display:none;
}
.topworldscontainer h2 {
    width:30%;
    text-align:left;
    font-size:15px;
    margin:18px 0 18px 10px;
    float:left;
}
.worldcontainer{
    float:left;
    position:relative;
}
.world {
    width:102px;
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    border-top:1px solid #f5f5f5;
    margin-top:7px;
    z-index:1;
}
.world.last {
    border-right-color:#f5f5f5;
}
.world.first {
    border-left-color:#f5f5f5;
}
.world .framesize-small {
    height:56px;
}
.worldname {
    margin:8px auto 12px auto;
    line-height:13px;
    overflow:hidden;
    width:90%;
    height:26px;
}
.population, .worldplaynow {
    background-color:#eee;
    height:40px;
    width:100%;
    color:#959595;
    display:block;
}
.population div {
    line-height:13px;
    display:inline-block;
    margin-top:7px;
}
.worldcontainer.hilite {
    background-color:#fff;
    border:1px solid #ccc;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    box-shadow: 0px 0px 5px 2px rgba(200,200,200,1);
    z-index:5;
    cursor:pointer;
}
.worldcontainer.hilite .world {
    border:none;
}
.worldcontainer.hilite a:hover {
    text-decoration:none;
    font-size:11px;
    color:#333;
}
.worldcontainer.hilite a.btnxsmall:hover {
    font-size:12px;
    color:#fff;
}

.worldcontainer .framesize-small {
    margin:0 auto;
}
.worldplaynow {
    display:none;
    background-color:transparent;
}
.worldplaynow a {
    margin-top:7px;
    display:inline-block;
}
.worldcontainer.hilite .population {
    display:none;
} 
.worldcontainer.hilite .worldplaynow {
    display:block;
} 
a.viewallbtn {
    float:right;
    margin:12px 14px 0 0;
    padding-top:7px;
}

/* -------------BLAST BOX------------- */
.BlastBox {width:520px;background-color:#f5f5f5;background-image:url(../images/mykaneva/blastbox_400x53.gif);background-repeat:no-repeat;background-position:top left;margin:0 0 10px 0;padding:0;}
.BlastBox img {margin:5px 0 5px 10px;}
.BlastBox p {font-size:11px;margin:2px 0 5px 40px;}
#blastComment{padding:0;margin:0;width:400px;float:left;}
#blastComment textarea {margin-left:30px;width:364px;outline:none;border:none;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
#blastIt {margin:7px 0 0 0;float:left;}
#blastIt a, #blastIt a span {
	background:transparent url('../images/base/btn_grey_big_blank_variable.gif') no-repeat scroll left 0;
	margin:0 8px 0 0;		/* 15px == amount of background image to the right */
	padding:6px 0 0 8px;	/* 15px == amount of background image to the left */
	display:-moz-inline-box;/* Firefox 2 support for inline-block */
	display:inline-block;	/* Must be used so that height can be set */
	height:38px;			/* Same as height of background image */
	font:18px/24px Verdana, Arial; /* Appropriate font size / line height */
	color:black;text-decoration:none;font-weight:bold;cursor:hand;}
#blastIt a {background-position:right 0;margin:0;padding:0;}
#blastError {width:470px;;font-size:11px;color:Red;clear:both;margin:8px 0 0 26px;}
/* -------------THESE ARE THE BLAST LINKS---------------- */
#blastLinks {clear:both;padding:12px 0 0 0;margin:0;height:auto;}
#blastLinks ul {margin:0;padding:0;height:22px;}
#blastLinks li {text-align:left;float:left;list-style:none;margin:3px 0 0 0;}
#blastLinks li a {background-repeat:no-repeat;background-position:left center;background-color:#f5f5f5;padding:0 0 0 18px;margin:8px 0 0 16px;font-size:11px;}
#blastLinks li a:link, #blastLinks li a:visited {color:#666;}
#blastLinks li a:hover, #blastLinks li a:active {color:#3d77c4;}
li.blastLinksIntro {padding:0 0 0 25px;color:#666;font-size:11px;}
li.blastLinksVideo a:link, li.blastLinksVideo a:visited {background-image:url(../images/blast/blast_16x16_videoGrey.png);}
li.blastLinksVideo a:hover, li.blastLinksVideo a:active {background-image:url(../images/blast/blast_16x16_videoColor.png);}
li.blastLinksPhoto a:link, li.blastLinksPhoto a:visited {background-image:url(../images/blast/blast_16x16_photoGrey.png);padding-left:22px;}
li.blastLinksPhoto a:hover, li.blastLinksPhoto a:active {background-image:url(../images/blast/blast_16x16_photoColor.png);padding-left:22px;}
li.blastLinksLink a:link, li.blastLinksLink a:visited,  
li.blastLinksLink a:hover, li.blastLinksLink a:active {background-image:url(../images/blast/blast_16x16_linkAll.png);}
li.blastLinksHome a:link, li.blastLinksHome a:visited {background-image:url(../images/blast/blast_16x16_placeGrey.png);padding-left:20px;}
li.blastLinksHome a:hover, li.blastLinksHome a:active {background-image:url(../images/blast/blast_16x16_placeColor.png);padding-left:20px;}
li.blastFacebook {background-image:url(../images/facebook/fbsmallicon_blue.png);background-position:right center;background-repeat:no-repeat;padding:0 20px 0 14px;}
li.blastFacebook input[type=checkbox] {margin:0;}
#blastLinks li.blastLinksFilter {padding:0;margin:1px 0 0 25px;font-size:10px;color:#666;}
li.blastLinksFilter.blastFilter {width:80px;vertical-align:middle;float:right;}

/* -------------FEEDS SECTION------------- */
.feed {width:520px;float:left;background-color:white;margin:4px 0;padding:0 0 8px 0;border-bottom:1px solid #ebebeb;clear:both;}
.feedImg {width:80px;height:100%;min-height:100%;padding:0;position:relative;float:left;}
.feedText {width:432px;_width:434px;margin:0;position:relative;clear:right;padding-bottom:10px;display:block;overflow:hidden;}
.feedText h4{font-size:13px;font-weight:bold;line-height:18px;} 
.feedText h4 span {color:#000;}
.feedText p, .feedText div {font-size:12px;font-style:normal;_line-height:15px;word-wrap:break-word;}
.feedText .time {font-size:10px;font-style:normal;color:#999;margin-top:1px;clear:left;}
.feedText .time a:link, .feedText .time a:hover,
.feedText .time a:visited, .feedText .time a:active {font-size:10px;font-style:normal;font-weight:normal;margin-right:6px;}
.feedText a:link, .feedText a:hover, 
.feedText a:visited, .feedText a:active {font-weight:bold;font-size:12px;}
.feedText a.worldLink{margin-top:5px;display:block;}
.feedText a.plainLink{font-weight:normal;}
.feedText img{margin:5px 5px 0 0;float:left;}
.feedPhotoText{float:left;width:302px;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedScreenShotText{clear:both;width:99%;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedScreenShotText p {color:#999;font-size:10px;padding-top:5px;}
.feedVideoText{float:left;width:300px;margin:5px 0 0 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedAchievementText {float:left;width:302px;margin:5px 0 0 0px;font-size: 11px;font-style:normal;font-weight:normal;}
.feedAchievementText div {margin:1px 0;padding:0;line-height:12px;}
.feedAchievementText .bold {font-weight:bold;}
.feedContestText{float:left;width:302px;margin:5px 0 3px 0px;font-size:11px;font-style:normal;font-weight:normal;}
.feedContestText div {margin:1px 0;padding:0;line-height:14px;}
.feedContestText .bold {font-weight:bold;}
.feedContestText a.small {font-size:11px;font-weight:normal;}

.vidThumbContainer{width:130px;overflow:hidden;height:98px;cursor:hand;cursor:pointer;float:left;}
.vidImgPlay {position:relative;left:6px;top:-36px;border:none;}
.vidImgThumb {position:relative;left:0;}
.feed-imgTextContainer {height:auto;_height:60px;}
.feed-imgContainer {float:left;height:100%;width:78px;}
.feed-textContainer {float:right;width:434px;}
.feedText .linkBlast {font-size:11px;}
.feedText .linkBlast a:link, .feedText .linkBlast a:hover, 
.feedText .linkBlast a:visited, .feedText .linkBlast a:active{line-height:20px;font-size:11px;}
.feedText .linkPlace div{font-size:11px;margin:3px 0;}
.feedText .linkPlace span.label{font-size:11px;margin:0 6px 0 0;font-weight:bold;}
.textInput {border:solid 1px #999;background:white;width:400px;color:#999;font-size:12px;font-family:Verdana, Geneva, sans-serif;font-style:italic;padding-left:10px;}
.meet3DContainer{position:relative;_top:0px;float:right;padding:0;width:70px;overflow:visible;}
.blastPager {text-align:right;}

.nobold {font-weight:normal;}

/* -------------COMMENT SECTION OF FEEDS------------- */
.commentBox {background-color:#f5f5f5;padding:5px 10px 2px 10px;text-align:left;}
.commentBox textarea {width:414px;outline:none;border:solid 1px #ccc;padding:1px 0 1px 1px;margin-bottom:3px;overflow:hidden;overflow-y:hidden;overflow-x:hidden;font-size:12px;color:#999;}
.commentBox a.button_add {clear:both;color:#fff;font-size:12px;font-weight:bold;cursor:pointer;text-shadow:1px 1px 0 #dc924f;width:135px;height:27px;text-align:center;padding-top:8px;margin:9px 0 0 0;}
.commentBox a.button_add, .commentBox a.button_add:visited {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.commentBox a.button_add:hover {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-135px 0;
	text-decoration:none;
}
.commentBox a.button_add:active {
	background-image:url(../images/buttons/button_403x27_smallOrange.png);
	background-repeat:no-repeat;
	background-position:-270px 0;
}

.feedbackBox {background-color:#f5f5f5;padding:2px 5px 3px 5px;margin:0 0 2px 0;border-bottom:1px solid #e8e8e8;min-height:45px;height:auto;overflow:hidden;_height:40px;_overflow:visible;}
.feedbackBox img {max-height:40px;border:0;position:inherit;margin:2px 0 0 0;padding:0;}
.feedbackImg {width:56px;_width:58px;padding-right:2px;overflow:hidden;float:left;}
.feedbackText {overflow:hidden;width:360px;margin:0 0 0 2px;padding:0;position:relative;clear:right;display:block;float:right;text-align:left;}
.feedbackText p a:link, .feedbackText p a:hover, 
.feedbackText p a:visited, .feedbackText p a:active {font-size:12px;font-weight:bold;line-height:14px;} 
.feedbackText p {font-size:11px;font-style:normal;clear:inherit;line-height:14px;}
.feedbackText .time {font-size:10px;color:#999;margin-top:1px;}
.feedbackbadge {width:58px;padding:0 5px 0 0;}

.allComments {background-image:url(../images/mykaneva/comments.jpg);background-color:#f5f5f5;background-position:top left;background-repeat:no-repeat;padding:0 0 2px 20px;height:17px;}
.allComments a:link {font-size:11px;font-weight:normal;}
.commentText .loadingText {margin:0 0 6px 0;font-size:10px;width:100%;text-align:center;color:#999;font-weight:normal;}

#divCounter {text-align:right;width:370px;height:12px;margin-top:4px;}
#counter {display:none;font-size:10px;}

/* Admin Blasts */
.admincontainer {width:518px;height:45px;margin:0 0 5px 0;}
.admincontainer .shadow {width:517px;height:44px;background:#ebebeb;border:solid px red;position:relative;top:2px;left:2px;z-index:0;}
.admin {width:510px;height:40px;float:left;background-color:#fff;margin:0 0 5px 0;padding:1px;clear:both;font-weight:normal;}
.admin .feedImg {float:left;width:34px;height:100%;display:block;}
.admin .feedImg img {margin:9px 0 0 5px;}
.admin .feedText {float:left;margin-left:1px;background:#f5f5f5;width:475px;display:table;position:relative;height:40px;}
.admin .feedText p {line-height:15px;display:table-cell;vertical-align:middle;padding:0 10px;font-size:12px;}
.admin .feedText p span {font-size:10px;color:#999;}
/* Grey */
.admin {border:1px solid #999;border-left-width:4px;z-index:5;position:relative;}
.admin .feedImg {background:#ccc;}
.admin .corner {background:url(../images/blast/admin-blast-grey-corner_14x14.gif);width:14px;height:14px;position:relative;top:30px;left:500px;z-index:8}
/* Red */
.alert {border:1px solid #990100;border-left-width:4px;}
.alert .feedImg {background:#ffcecf;}
.alert .corner {background:url(../images/blast/admin-blast-red-corner_14x14.gif);}
/* Yellow */
.highlight1 {border:1px solid #c5c9a6;border-left-width:4px;}
.highlight1 .feedImg {background:#ffffce;}
.highlight1 .corner {background:url(../images/blast/admin-blast-yellow-corner_14x14.gif);}
/* Orange */
.highlight2 {border:1px solid #eeab50;border-left-width:4px;}
.highlight2 .feedImg {background:#ffd694;}
.highlight2 .corner {background:url(../images/blast/admin-blast-orange-corner_14x14.gif);}
/* Green */
.highlight3 {border:1px solid #9bdd96;border-left-width:4px;}
.highlight3 .feedImg {background:#d5ffcd;}
.highlight3 .corner {background:url(../images/blast/admin-blast-green-corner_14x14.gif);}


/* -------------PROGRESS BAR------------- */
div.progress-container {
  border: 1px solid #ccc; 
  width: 140px; 
  margin: 2px 0 2px 0; 
  padding: 1px; 
  float: left; 
  background: white;
}

div.progress-container div {
  background-color: #33627b;
  background-image: url(../images/mykaneva/progressBkgd.jpg);
  background-repeat: repeat-x;
  background-position: top left;
  height: 12px
}

.progress-containerText {
	background-image:none;
	background-color:Transparent;
	height:12px;
	top:-17px;
	_top:-20px;
	position:relative;
	font-size:10px;
	text-align:center;
	width:100%;
}
