/* HEADER */
/*
* MY KANEVA / BLASTS
* ---------------------------------------------------- */	
	
/*-----------(PAGE TOP AND TOP CONTENT)-------------- */


#pageTop {
	width: 990px;
	height: 175px;
	display: block;
	background: transparent url("../images/mykaneva_headerBG.png") no-repeat  left top;
	padding: 0;
	margin: 0 0 5px 0;
	}

#pageTop #pagetopContent {
	width: 950px;
	height: 155px;
	display: block;
	padding: 5px 0 0 0;
	margin: 0 0 0 20px;
	position: relative;
	}	

	
#pageTop #myFame, #pageTop #myFortune {
	width: 245px;
	display: block;
	padding: 0;
	margin: 10px 0 0 0;
	float: left;
	}
	
	#pageTop #myFame h1, #pageTop #myFortune h1 {
	width: 158px;
	height: 30px;
	display: block;
	background: transparent url("../images/myfame_title.png") no-repeat right top;
	padding: 0;
	margin: 0 20px 0 0;
	text-indent: -5000px;
	float: right;
	}
	#pageTop #myFortune h1 {
	width: 158px;
	background: transparent url("../images/myfortune_title.png") no-repeat left top;
	float: left;
	margin: 0 0 0 20px;
	}
	
	#pageTop #myFame .stats {
	width: 217px !important;
	width: 230px;
	height: 95px !important;
	height: 110px;
	display: block;
	background: transparent url("../images/statBG_alt.png") no-repeat  left top;
	padding: 30px 0 0 13px;
	margin: -5px 0 0 0;
	float: left;
	}
	#pageTop #myFortune .stats {
	width: 230px;
	height: 110px;
	display: block;
	background: transparent url("../images/statBG.png") no-repeat  left top;
	padding: 0;
	margin: -5px 0 0 0;
	float: right;
	}
	
#pageTop #myFame .getmore, #pageTop #myFortune .getmore {
	width: 225px;
	display: inline;
	padding: 2px 0 0 0;
	margin: 0 0 0 5px;
	color: #FFFFFF;
	clear: both;
	font-size: 10px;
	float: left;
	}
	#pageTop #myFortune .getmore {
	float: right;
	}
	
	#pageTop #myFame .getmore a, #pageTop #myFortune .getmore a {
	color: #FFFFFF;
	font-size: 10px;
	}
	


#fameCheckList {
	width: 325px;
	height: auto;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 154px;
	left: 338px;
	z-index: 4;
	background: transparent url("../images/checlist_bg.png") no-repeat left top ;
	}
	
	
#fameCheckList {
    width: 325px;
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 154px;
    left: 338px;
    z-index: 4;
    background: transparent url("../images/checlist_bg.gif") no-repeat left top ;
    }
    
    
#fameCheckList ul {
    color: #1177d4;
    font-weight: normal;
    font-size: 13px;
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0 0 0 5px;
    width: 315px;
    background: url("../images/fame_legalBG.gif") repeat-y 30px 0 ;

    }
    
    #fameCheckList ul li {
    list-style: none;
    margin: 0;
    border-bottom: 2px solid #97cb45;
    font-weight: bold;
    
    }
    
    #fameCheckList ul li a {
    padding: 4px 5px 5px 45px;
    margin: 0;
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 12px;
    background: url("../images/checklist0.gif") no-repeat 5px 1px ;
    }
    #fameCheckList ul li a:hover {
    background-color: #018aaa;
    }
    
    
    
    #fameCheckList ul li.completed a {
    text-decoration: line-through;
    font-weight: normal;
    background-image: url("../images/checklist1.gif");
    color: #5e9aa8;
    }

	#fameCheckList ul li.completed a {
    text-decoration: line-through;
    font-weight: normal;
    background-image: url("../images/checklist1.gif");
    color: #5e9aa8;
    }
    
    #fameCheckList ul li.footer {
    font-weight: bold;
    color: #ea7703;
    padding: 10px;
    text-align: center;
    background-color: #fce54c;
    }

	
	
#fameTrigger{
	position: absolute;
	top: 128px;
	left: 298px;
	display:block;
	z-index:6;
	width:40px;
	height:41px;
	}
	
	
#pageTop #myTodo {
	width: 460px;
	height: 165px;
	display: block;
	padding: 0;
	margin: 0;
	float: left;
	background: transparent url("../images/todoBG.png") no-repeat  left top;
	color: #a59ffd;
	text-align: center;
	position: relative;
	}
	#pageTop #myTodo h1, #pageTop #myTodo h2, #pageTop #myTodo li, #pageTop #myTodo li a {
	color: #a59ffd;
	font-family: arial;
	font-weight: normal;
	}
	
	#pageTop #myTodo h1 {
	color: #FFFFFF;
	font-size: 21px;
	width: 395px;
	padding: 0;
	margin: 15px auto 0 auto;
	padding: 0;
	}
	
	#pageTop #myTodo h2 {
	font-size: 15px;
	width: 425px;
	margin: 5px auto 0 auto;
	padding: 0;
	}
	
	#pageTop #myTodo ul {
	text-align: center;
	padding: 0;
	margin: 10px 0 0 0;
	}
	
	#pageTop #myTodo li {
	font-size: 10px;
	margin: 5px auto 0 auto;
	padding: 0;
	list-style: none;
	width: 400px;
	text-align: center;
	}
	
	#pageTop #myTodo li a {
	color: #fdff86;
	font-size: 13px;
	margin: 5px auto 0 auto;
	text-align: center;
	}
	
	

/*----- GLOBAL FAME STYLES --------*/


.stats .level {
	display: block;
	width: 200px;
	height: 18px;
	position: relative;
	margin: 0 0 0 0;
	}
	
	.stats .level h4 {
	display: block;
	width: 80px;
	height: 18px;
	float: left;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #90c8f2;
	text-indent: 4px;
	line-height: 1.9 !important;
	line-height: 1.7;
	}
	
	.stats .level ul {
	display: block;
	width: 117px;
	height: 14px !important;
	height: 16px;
	float: left;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 1px 0 0 0;
	list-style: none;
	border: 1px solid #083e58;
	background: transparent url("../images/levelBG.gif") repeat-x  left top;
	position: absolute;
	top: 0;
	right: 1px;
	cursor: crosshair;
	}
	
	.stats .level ul li {
	display: block;
	width: auto;
	height: 14px;
	float: left;
	font-size: 9px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1.6 !important;
	line-height: 1.4;
	position: absolute;
	}
	
	.stats .level ul li.current {
	text-align: left;
	text-indent: 4px;
	color: #90c8f2;
	top: 0;
	left: 0;
	z-index: 2;
	}
	
	.stats .level ul li.total {
	text-align: right;
	color: #90c8f2;
	z-index: 2;
	top: 0;
	right: 2px;
	}
	
	.stats .level ul li.status {
	width: 130px;
	background: transparent url("../images/levelStatusBG.png") no-repeat  left top;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	}
	
	

/*----- WORLD FAME STYLES --------*/
	
	.stats #worldFame.level {
	height: 22px;
	margin: 0 0 16px 0;
	}
	
	.stats #worldFame.level ul {
	width: 196px;
	height: 18px !important;
	height: 20px;
	border: 1px solid #1a729b;
	}
	
	.stats #worldFame.level ul li {
	height: 18px;
	line-height: 2.2 !important;
	line-height: 1.4;
	color: #ffffff;
	}
	
	
	
	.stats #worldFame.level ul li.status {
	background: transparent url("../images/worldStatusBG.png") no-repeat  left top;
	}
	
	.stats #worldFame.level h4 {
	display: block;
	position: relative;
	top: -22px;
	width: 180px;
	height: 18px;
	float: left;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-indent: 4px;
	}
	
	
/*----- OTHER FAME STYLES --------*/


	#fameIntro {
		width: 180px;
		display: block;
		margin: 0 0 -2px 0;
		padding: 0;
		position: relative;
		top: -12px;
		}

	
	/* DEFUALT SUBLEVEL STYLES */
	.stats .sublevel ul li.current {
		color: #31c9e9;
		}
	
	.stats .sublevel ul li.total {
		color: #31c9e9;
		}
	
	.stats .sublevel ul li.status {
	background: transparent url("../images/subLevelStatusBG.png") no-repeat  left top;
	}
	
	
	
	/* DANCE FAME OVERRIDES */

	
	.stats .danceFame ul li.status {
	background: transparent url("../images/danceStatusBG.png") no-repeat  left top;
	}
	
	
	
	
	
	.stats .credits, .stats .rewards {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	}
	.stats .credits img, .stats .rewards img {
	padding: 0 0 0 5px;
	}
	
	.stats .credits ul, .stats .rewards ul {
	padding: 12px 0 0 0;
	margin: 7px 0 0 0;
	list-style: none;
	width: 114px;
	height: 83px;
	border-right: 1px solid #064461;
	}
	
	.stats .credits ul li, .stats .rewards ul li {
    margin: 0;
    padding: 0 0 2px 0;
    font-size: 14px;
    color: #CCCCCC;
    font-weight: normal;
    text-align: center;
    }

	.stats .rewards ul li {
	color: yellow;
	}
	.stats ul li.buttons {
	padding-top: 8px;
	}
	.stats .rewards ul {
	border-right: none;
	}
	
	
	
	
	

#blastContent {
	width: auto;
	position: relative;
 	margin: 0 !important;
 	margin: 0;
 	padding: 20px 0 0 0;
	}
	
#blastContent h1 {
 	background-color: #969696;
 	position: relative;
 	margin: 0px -8px 0 -7px;
 	padding: 3px 0 3px 0;
 	width: 428px;
 	text-indent: 10px;
 	border-top: 1px solid #FFFFFF;
	}

#blastInput {
	width: 100%;
	position: relative;
 	margin: 0;
 	padding: 0;
 	color:#FFFFFF;
	}
	
	#blastInput .user {
	padding: 0;
	margin: 0;
	}
	
	#blastInput .user img {
	border: 1px solid #FFFFFF;
	margin: 10px 0 0 0;
	padding: 0;
	}
	
	#blastInput .talkbox {
	height: 70px;
	width: 303px;
	margin: 0;
	padding: 0 0 0 30px;
	color: #cccccc;
	font-size: 9px;
	background: transparent url("../images/blastboxBG.png") no-repeat left top;
	}
	
	#blastInput .talkbox textarea {
	border: none;
	background: #FFFFFF url("../images/blast_textareaBG.gif") no-repeat 0 -8px;
	font-size: 12px;
	overflow: auto;
	margin: 0;
	padding: 0;
	}
	
	#blastInput #btnBlast {
	margin: 0 9px 10px 0;
	font-size: 14px;
	color: #FFFFFF;
	height: 32px;
	float: right;
	width: 100px;
	}

	
	#blastInput .blastOptions {
	padding: 10px 10px 10px 20px;
	margin: 0 0 0 0;
	height: 39px !important;
	height: 35px;
	color: #bbf3fe;
	font-size: 11px;
	text-align: right;
	border-top: 1px dashed #2fb7d4;
	}
	
	
	#blastInput .blastNudge {
	margin: 0;
	padding: 2px 10px 5px 5px;
	color: #ffffff;
	text-align: right;
	float: right;
	width: 174px !important;
	width: 189px;
	}
	
	#blastInput .charCount  {
	display: block;
	height: 15px;
	padding: 0;
	margin: 0;
	width: 93%;
	text-align: right;
	line-height: 2.2;
	overflow: hidden;
	}
	
	

#blastList {
	position: relative;
 	background-color: #FFFFFF;
 	margin: 0 -8px 0 -7px;
 	padding: 1px 0 0 0;
 	width: 428px;
 	overflow:hidden;
	}
	
#blastList ul.blast {
    position: relative;
    float: left;
	width: 428px;
	display: block;
 	margin: 0;
    padding: 0;
    background: #FFFFFF url("../images/blastBG.gif") repeat-x left top;
    list-style: none;
    }
    
    #blastList ul.blast li {
    padding: 0;
    margin: 25% 0 0 0;
    list-style: none;
    }
    
    
    #blastList ul.blast li.message {
    padding: 6px 5px 6px 0;
    margin: 0;
    display: inline;
    width: 423px !important;
    width: 428px;
    font-size: 11px;
    color: #a5a5a7;
    text-align: left;
    font-style: italic;
    float: left;
    border-bottom: 1px solid #cccccc;
    line-height: 1.3;
    overflow:hidden;
    }
    
    #blastList ul.blast li.message a {
    font-size: 11px;
    color: #6699cc;
    font-style: normal;
    text-decoration: none;
    
    }
    #blastList ul.blast li.message a:hover {
    color: #ffffff;
    }
   
    #blastList ul.blast li.message span.reply a:link {
    font-size: 10px;
    }
    
     #blastList ul.blast li.message span.replyNow {
    font-size: 10px;
    }
    
    
     #blastList ul.blast li.message span.replyNow a {
    font-size: 10px;
    background: transparent url("../images/icon_replySM_0.gif") no-repeat left 1px;
    margin: 0 0 0 10px;
    padding: 0 0 0 15px;
    }
    
     #blastList ul.blast li.message span.reply a {
    font-size: 10px;
    background: transparent url("../images/icon_replySM.gif") no-repeat right 1px;
    margin: 0 0 0 10px;
    padding: 0 13px 0 0;
    color: #1a9be9;
    }
    
    #blastList ul.blast li.message span.time {
    font-size: 10px;
    margin: 0 0 0 5px;
    color: #999999;
    font-style: normal;
    }
    
    #blastList ul.blast li.message div {
    font-style: normal;
    margin: 14px auto 0 auto;
    clear: right;
    }
    
    #blastList ul.blast li.message .icon {
    padding: 0;
    margin: 0 0 0 10px;
    display: inline;
    width: 40px;
    height: 24px;
    overflow: hidden;
    float: left;
    vertical-align: bottom;
    }
    
	#blastList .alert {
	border-bottom: 1px solid #d62322;
	background-color: #ffcece;
	}
	
	#blastList .alert .message, #blastList .alert .message a {
	color: red;
	}
	
	#blastList ul.blast li.highlight1 {
	border-bottom: 1px solid #cccc99;
	background-color: #ffffcc;
	}
	
	#blastList ul.blast li.highlight2 {
	border-bottom: 1px solid #eaa748;
	background-color: #fcd192;	
	}
	
	#blastList ul.blast li.highlight3 {
	border-bottom: 1px solid #9edf93;
	background-color: #d1fcca;
	}
	
	#blastPreview {
    width: 450px !important;
    width: 460px;
    /*overflow: hidden;*/
    margin: 15px auto;
    position: relative;
    height: 100px;
    text-align: left;
    }    
	
	#divBlastConfirm
	{
	    background-color: #eeeeee; 
	    display: block;
	    /*height: 150px;*/
	    width: 400px;
	    position: absolute;
	    top: -20px;
	    left: 25px;
	    z-index: 100;
	    border: solid 1px #000033;
	    padding: 10px 10px 10px 10px;
	    margin: 0px;
	    text-align: left;
	}
	
	#blastPreview #blastList {
 	margin: 8px 0 0 0;
	}
	
	
	
#activityList {
	position: relative;
 	background-color: #FFFFFF;
 	margin: 0 -7px 0 -7px;
 	padding: 1px 0 0 0;
 	width: 427px;
 	overflow:hidden;
	}
	

	
#activityList ul.activity {
    position: relative;
    float: left;
	width: 428px;
	display: block;
 	margin: 0;
    padding: 0;
    background: #FFFFFF url("../images/blastBG.gif") repeat-x left bottom;
    list-style: none;
    }
   
    
    #activityList ul.activity li {
    padding: 0;
    margin: 25% 0 0 0;
    list-style: none;
    }
    
    
    #activityList ul.activity li.message {
    padding: 2px 0;
    margin: 0;
    display: inline;
    width: 427px;
    font-size: 11px;
    color: #a5a5a7;
    text-align: left;
    font-style: italic;
    float: left;
    border-bottom: 1px solid #cccccc;
    line-height: 2;
    overflow:hidden;
    }
    
    #activityList ul.activity li.message a {
    font-size: 11px;
    color: #6699cc;
    font-style: normal;
    text-decoration: none;
    }
    #activityList ul.activity li.message a:hover {
    color: #ffffff;
    }
    
    #activityList ul.activity li.message span.reply {
    font-size: 10px;
    margin: 0 0 0 10px;
    padding: 0 13px 0 0;
    color: blue;
    font-style: normal;
    background: transparent url("../images/icon_replySM.gif") no-repeat right 1px;
    }
    #activityList ul.activity li.message span.reply a:link {
    font-size: 10px;
    }
    
     #activityList ul.activity li.message span.replyNow {
    font-size: 10px;
    margin: 0 0 0 10px;
    padding: 0 0 0 15px;
    color: blue;
    font-style: normal;
    background: transparent url("../images/icon_replySM.gif") no-repeat left 1px;
    }
    
    #activityList ul.activity li.message span.time {
    font-size: 10px;
    margin: 0 0 0 5px;
    color: #999999;
    font-style: normal;
    }
    
    #activityList ul.activity li.message div {
    font-style: normal;
    margin: 14px auto 0 auto;
    clear: right;
    }
    
    #activityList ul.activity li.message .icon {
    padding: 4px 0 2px 0;
    margin: 0 0 0 10px;
    display: inline;
    width: 25px;
    overflow: hidden;
    float: left;
    vertical-align: bottom;
    }
    
    
    
    #activityList ul.rollup {
    position: static;
    float: left;
	width: 428px;
	display: block;
 	margin: 0;
    padding: 0;
    background-color: #d2d2d2;
    background-image: none;
    list-style: none;
    }
    
    #activityList ul.rollupTrigger {
    background: #FFFFFF url("../images/rollupBG.jpg") repeat-x left bottom;
    color: #333333;
    cursor: pointer;
    }
   
    
    #activityList ul.rollupTrigger li.message {
    color: #7a7a7a;
    }
        

     
    
    #activityList ul.rollup li.message {
    color: #8b8a8a;
    cursor: pointer;
    }
    
.modulePaging {
	display: block;
	padding: 10px 0 0 0;
	margin: 0;
	text-align: right;
	width: 100%;
	}
	
	.modulePaging .pager {
	font-weight: bold;
	color: #096c83;
	font-size: 12px;
	text-decoration: normal;
	}
	.modulePaging a.pager  {
	font-weight: normal;
	color: #018aaa;
	text-decoration: none;
	font-size: 12px;
	}
	
	
.modulePaging a.BTN {
	padding: 0 6px 2px 6px;
   	}
   	
	

/*-----------(EVENTS MODULE)-------------- */


#events {
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	}
	
#events dl {
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
	position: relative;
	}
	#events #sticky {
	background: #faf9a4 url("../images/icon_stickyEvents.gif") no-repeat 5px 25px;
	}
	#events #today {
	background: transparent url("../images/icon_todayEvents.gif") no-repeat 5px 30px;
	}
	#events #tomorrow {
	background: transparent url("../images/icon_tomorrowEvents.gif") no-repeat 5px 25px;
	}
	#events #thisweek {
	background: transparent url("../images/icon_thisweekEvents.gif") no-repeat 5px 25px;
	}
	
	#events #sticky dl dt {
	border: 1px solid #c3c3c3;
	text-indent: 10px;
	background: #CCCCCC url("../images/eventsHeaderBG.gif") repeat-x bottom left;
	color: #686868;
	}
	#events #sticky li {
	color: #986e09;
	}
	#events #sticky a {
	color: #c77e35;
	}
	
	
	#events dl dt {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	border: 1px solid #c3c3c3;
	text-indent: 10px;
	background: #CCCCCC url("../images/eventsHeaderBG.gif") repeat-x bottom left;
	color: #686868;
	font-size: 11px;
	font-weight: bold;
	}
	#events dl dd {
	padding: 0;
	margin: 6px 0 0 0;
	padding: 5px 0 0 60px;
	}


#events dl ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
	position: relative;
	}
	#events dl ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 10px;
	position: relative;
	}
	#events dl ul li a {
	word-wrap: break-word;
	overflow: hidden;
	}
	
	
	 

#events dl ul li.datestamp {
	display: block;
	width: 35px;
	height: 34px;
	position: absolute;
	top: 0;
	left: -50px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	background-color: white;
	padding: 2px 0 0 0;
	margin: 0;
	border: 1px solid #cccccc;
	color: #666666;
	}
	#events dl ul li.datestamp span {
	display: block;
	padding: 0;
	margin: 0;
	}
	
	
.addBTN {
	background: transparent url("../images/btnico_add.png") no-repeat right 2px;
	text-indent: -5000px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 7px;
	right: 4%;
	}
	
span.BTNright a {
	position: absolute;
	top: 2%;
	right: 4%;
	z-index: 1;
	display: block;
	padding: 0;
	margin: 0;
	font-size: 12px;
	}
	
	span.BTNright a:Link     {text-decoration:none; font-weight: normal; font-size: 12px;}
	span.BTNright aa:Visited {text-decoration:none; font-weight: normal; font-size: 12px;}
	span.BTNright a:Active   {text-decoration:none; font-weight: normal; font-size: 12px;}
	span.BTNright a:Hover    {text-decoration:none; font-weight: normal; font-size: 12px;}

	
/*-----------(MY FRIENDS AND MY COMMUNITIES CONTENT)-------------- */

#myFriends, #myCommunities {
	padding: 0;
	margin: 0 -1px 0 0;
	position: relative;
	float: left;
	}
	#myFriends h4, #myCommunities h4 {
	margin: 10px 0 5px  0;
	padding: 0;
	font-size: 11px;
	color: #FFFFFF;
	border: 1px solid #3463a0;
	display: block;
	background: transparent url("../images/friendsHeaderBG.gif") repeat-x 0 0;
	width: 97%;
	text-indent: 5px;
	font-weight: normal;
	}
	
#myFriends ul, #myCommunities ul {
	padding: 0;
	margin: 0;
	position: relative;
	float: left;
	}

#myFriends ul li, #myCommunities ul li {
	padding: 0;
	margin: 0 2px 2px 0;
	position: relative;
	display: block;
	float: left;
	width: 31px !important;
	width: 33px;
	height: 25px !important;
	height: 27px;
	border: 1px solid #596777;
	}
	#myCommunities ul li {
	width: 48px !important;
	width: 50px;
	height: 38px !important;
	height: 40px;
	}
	
	#myCommunities ul#active  {
	margin-bottom: 5px !important;
	margin-bottom: 20px;
	}
	
	#myCommunities ul#active li {
	margin-bottom: 20px;
	}
	#myCommunities ul#active li span {
	display: block;
	width: 100%;
	height: 11px;
	position: absolute;
	bottom: -13px !important;
	bottom: -14px;
	left: 0;
	font-size: 9px;
	color: #88cbed;
	text-align: right;
	background-color: #112c5b;
	}
	#myCommunities ul#active li span img {
	width: auto;
	height: auto;
	vertical-align: top;
	margin: 2px 0 0 2px;
	}

#myFriends ul li img, #myCommunities ul li img {
	margin: 1px 1px -3px 1px;
	padding: 0;
	border: 0;
	}
	
#myFriends ul li img {
	width: 29px;
	height: 23px;
	}
	
#myCommunities ul li img {
	width: 46px;
	height: 36px;
	}
	
#myFriends .footer, #myCommunities .footer {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	clear: both;
	}
	#myFriends .footer a, #myCommunities .footer a {
	color: #FFFFFF;
	}

/*-----------(FRIEND FINDER CONTENT)-------------- */

#friendFinder {
	width: 258px;
	display: block;
	padding: 0;
	position: relative;
 	margin: 0px -8px 0 -7px;
 	font-family: arial, verdana, sans-serif;
	}
	
	#friendFinder ul {
	padding: 10px 15px 20px 15px;
	position: relative;
 	margin: 0;
 	list-style: none;
 	background: #e4e6e6 url("../images/friendfinderBG.gif") no-repeat left bottom;
 	text-align: left;
	}
	
	#friendFinder ul li {
	padding: 0 0 5px 0;
 	margin: 0;
 	list-style: none;
 	font-size: 12px;
	}
	#friendFinder ul li a {
 	font-size: 12px;
 	font-weight: bold;
	}
	#friendFinder ul li span {
 	font-weight: bold;
	}
	
	#friendFinder ul li.newMembers {
	padding: 0 0 10px 0;
 	margin: 0 0 10px 0;
 	list-style: none;
 	border-bottom: 1px dashed gray;
 	font-size: 15px;
	}
	#friendFinder ul li.newMembers a {
 	font-size: 12px;
	}
	
	#friendFinder #search {
	padding: 10px 15px 0 15px;
	position: relative;
 	margin: 0;
 	list-style: none;
 	text-align: left;
	}
	
	#friendFinder #search h4 {
	font-size: 11px;
	padding: 0 0 5px 0;
	margin: 0;
	}
	
	input.BTN, a.BTN, input.BTN:visited, a.BTN:visited {
	text-decoration: none;
	color: #bbf3fe;
	border: 1px solid #046479;
	padding: 2px 6px 2px 6px !important;
	padding: 0 6px 0 6px;
	background: #7cd1e4 url("../images/blastOption_bg.gif") repeat-x 0 0;
   	font-family: arial, verdana, sans-serif;
   	font-size: 12px;
   	font-weight: bold;
   	margin: 0 0 0 2px;
   	cursor: pointer;
   	}
   	
   
   	
   	input.BTN:hover, a.BTN:hover {
	color: #FFFFFF;
	background: #7cd1e4 url("../images/blastOption_bg.gif") repeat-x 0 -5px;
	border: 1px solid #046479;
   	font-family: arial, verdana, sans-serif;
   	font-size: 12px;
   	font-weight: bold;
	}
	
/*-----------(INVITE MODULE CONTENT)-------------- */


#invite {
	padding: 10px 0 0 10px;
	margin: 0;
	float: left;
	background: transparent url("../images/inviteBG.jpg") no-repeat left -10px;
	}
	
#inviteContent {
	width: 230px;
	padding: 0;
	margin: 0;
	float: left;
	color: #FFFFFF;
	font-size: 11px;
	}
	
	
	
	
#quickInvite {
	display: block;
	width: 230px;
	padding: 0;
	margin: 0;
	}
	
	#quickInvite span {
	clear: both;
	padding: 5px 0 0 0;
	margin: 0;
	display: block;
	}

	
#inviteData {
	width: 230px;
	padding: 15px 0 0 0;
	margin: 0;
	color: #FFFFFF;
	float: left;
	}
	
	#inviteData ul {
	padding:0;
	margin: 0;
	list-style: none;
	position: relative;
	float: left;
	font-size: 10px;
	}
	
	#inviteData ul li {
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	width: auto;
	display: block;
	width: 80px;
	float: left;
	text-align: center;
	}
	
	#inviteData ul li.invites {
	width: 60px;
	padding: 0;
	margin: 0;
	text-align: left;
	}
	
	#inviteData ul li.sent {
	width: 70px;
	padding: 0;
	margin: 0;
	}
	
	#inviteData ul li.accepted {
	width: 90px;
	padding: 0;
	margin: 0;
	}
	
/*-----------( MY INFO CONTENT)-------------- */


#myInfo {
	padding: 5px 0 5px 5px;
	margin: 0;
	}
	
#myInfo h1 {
	font-size: 16px;
	color: #656565;
	}
	
	
#myInfo #myPic {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 100px;
	list-style: none;
	background-color: #ccc;
	position: relative;
	border: 1px solid #b5b4b4;
	}
	
	#myInfo #myPic .restricted {
	margin: -3px -3px 0 0;
	}
	
	
	
	#myInfo #myLinks ul {
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	width: 125px;
	list-style: none;
	text-align: left;
	}
	#myInfo #myLinks ul li  {
	margin: 0 0 5px 0;
	}
	#myInfo #myLinks ul li a {
	font-size: 10px;
	}
	
	#myInfo ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	}
	#myInfo #myLinks ul li img {
	display: none;
	}
	
	#myInfo #myLinks ul li.doThis img  {
	display: block;
	position: absolute;
	top: -2px;
	left: -20px;
	}
	
	#myInfo #myLinks ul li.doThis a  {
	color: #bc6121;
	}
	
#myInfo #messageCenter {
	clear: both;
	padding: 15px 0 0 0;
	margin: 0 0 -7px 0;
	display: block;
	height: 70px;
	}
	
	#myInfo #messageCenter ul {
	margin: 0;
	padding: 0;
	list-style: none;

	}
	#myInfo #messageCenter ul li {
	margin: 0 4px 0 0;
	padding: 0 0 0 0;
	background: transparent url("../images/messageCenterBG.gif") no-repeat 0 0;
	width: 75px;
	height: 70px;
	display: block;
	float: left;
	text-align: center;
	font-size: 11px;
	font-family: arial;
	}
	
	#myInfo #messageCenter ul li#inbox a {
	padding: 25px 0 0 0;
	background: transparent url("../images/messageCenterBG2.gif") no-repeat 0 0;
	}
	
	#myInfo #messageCenter ul li#community {
	margin: 0 0 0 0;
	}
	
	#myInfo #messageCenter ul li a {
	display: block;
	height: 70px;
	font-weight: normal;
	text-decoration: none;
	color: #656565;
	margin: 0 0 0 0;
	padding: 13px 0 0 0;
	font-size: 11px;
	font-family: arial;
	}
	
	#myInfo #messageCenter ul li a span {
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
	margin: 5px 0 0 0;
	}
	
	#myInfo #messageCenter ul li a:hover {
	text-decoration: none;
	}
	
	#myInfo #messageCenter ul li.on a span {
	color: #ff0099;
	}
	
/* --- Fame Styles -- */

.vipBadge {
	display: block;
	float: right;
	height: 40px;
	width: 40px;
}
.stats .fameLevel {
	display: block;
	width: 310px;
	height: 36px;
	margin: 0;
	}
	
	.stats .fameLevel h5 {
	display: block;
	height: 18px;
	font-size: 10px !important;
	font-weight: bold;
	margin: 5px 0 0;
	padding: 0;
	color: #333333;
	text-indent: 4px;
	line-height: 1.9 !important;
	line-height: 1.7;
	}
	
	a.fameLink:link, a.fameLink:visited {
	font-size: 11px !important;
	color: #333333 !important;
	text-decoration: underline !important;
}
	a.fameLink:hover {
	color: #666666 !important;
	text-decoration: none !important;
}

	
	.stats .fameLevel ul {
	display: block;
	width: 310px;
	height: 14px !important;
	height: 16px;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 5px 0 0;
	list-style: none;
	border: 1px solid #083e58;
	background: transparent url("http://www.kaneva.com/images/levelBG.gif") repeat-x  left top;
	cursor: crosshair;
	position: relative;
	}
	
	.stats .fameLevel ul li {
	display: block;
	width: auto;
	height: 14px;
	font-size: 9px;
	font-weight: normal;
	padding: 0 2px 0 0;
	margin: 0;
	list-style: none;
	float: left;
	position: absolute;
	}
	
	.stats .fameLevel ul li.current {
	text-align: left;
	text-indent: 4px;
	color: #90c8f2;
	top: 0;
	left: 0;
	z-index: 2;
	}
	
	.stats .fameLevel ul li.total {
	text-align: right;
	color: #90c8f2;
	z-index: 2;
	top: 0px;
	right: 2px;
	font-size: 9px !important;
	}
	
	.stats .fameLevel ul li.status {
	width: 130px;
	background: transparent url("http://www.kaneva.com/images/levelStatusBG.png") no-repeat  left top;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	}
.raveTD {
	padding-top: 10px;
	padding-bottom: 10px;
}
a.raveBtn:link, a.raveBtn:visited{
	background: url("../images/widgets/btnRaveMeOff_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;

}
a.raveBtn:hover  {
	background: url("../images/widgets/btnRaveMeOver_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;
}
a.RavePlus:link, a.RavePlus:visited{
	background: url("../images/widgets/btnRaveMePlusOff_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;

}
a.RavePlus:hover {
	background: url("../images/widgets/btnRaveMePlusOver_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;
}
.MegaRaveBtn a:link, .MegaRaveBtn a:visited{
	background: url("../images/widgets/btnMegaRaveMeOff_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;

}
.MegaRaveBtn a:hover {
	background: url("../images/widgets/btnMegaRaveMeOver_sm.gif") no-repeat;
	display: block;
	height: 60px;
	width: 166px;
}
.addToFriend a:link, .addToFriend a:visited{
	background: url("../images/widgets/btnAddFriendOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	


}
.addToFriend a:hover {
	background: url("../images/widgets/btnAddFriendOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	
}

.SendMsg a:link, .SendMsg a:visited{
	background: url("../images/widgets/btnSendMessageOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	


}
.SendMsg a:hover {
	background: url("../images/widgets/btnSendMessageOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	
}
.MeetMe3D a:link, .MeetMe3D a:visited{
	background: url("../images/widgets/btnMeetMe3DOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	


}
.MeetMe3D a:hover {
	background: url("../images/widgets/btnMeetMe3DOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	
}


.TellOthers a:link, .TellOthers a:visited{
	background: url("../images/widgets/btnTellOthersOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	


}
.TellOthers a:hover {
	background: url("../images/widgets/btnTellOthersOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	
}
.ReportAbuse a:link, .ReportAbuse a:visited{
	background: url("../images/widgets/btnReportAbuseOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	


}
.ReportAbuse a:hover {
	background: url("../images/widgets/btnReportAbuseOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	margin-right:3px;
	
}.blockTD 
{
	margin-right:3px;
	
	
}
a.BlockUser:link, a.BlockUser:visited{
	background: url("../images/widgets/btnBlockUserOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
}	



a.BlockUser:hover {
	background: url("../images/widgets/btnBlockUserOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	
}
a.UnblockUser:link, a.UnblockUser:visited{
	background: url("../images/widgets/btnUnblockUserOff.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
}	



a.UnblockUser:hover {
	background: url("../images/widgets/btnUnblockUserOver.gif") no-repeat;
	display: block;
	height: 60px;
	width: 51px;
	
}
	