/* HEADER */

/* GLOBAL NAVIGATION HOLDER */

#navtable {
	width: 100%;
	margin: 0;
	padding: 0;
	}
	
#globalnav {
	background: transparent url(../images/bg_globalnav.gif) repeat-x top left;
	width: 100%;
	height: 42px;
	margin: 0;
	padding: 0;
	}
	

/* PRIMARY NAVIGATION / LOGO / TERTIARY NAV */


/* NAV HOLDER */	
#navholder {
	width: 990px;
	height: 42px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	}
	
	/* LOGO */
	#logo {
		width: 164px;
		height: 26px;
		margin: 5px 34px 0 0;
		padding: 0 0 0 0;
		float: left;
		position: relative;
		background: transparent url(../images/logo.gif) no-repeat top left;
		display: block;
		}
		#logo a {
		width: 164px;
		height: 26px;
		padding: 0;
		display: block;
		}
		#logo a:hover {
		background-color: transparent;
		}
		
	/* LOGO FLASH */
    #logoflash {
        margin: 0 0 0 28px;
        height: 10px;
        padding: 0;
        position: relative;
        float: left;
        clear: left;
        display: inline;
        }
		
	
	
	/* PRIMARY NAV */
	#primary {
		width: 435px;
		height: 25px;
		padding: 0;
		margin: 7px 0px 0 0;
		float: left;
		list-style: none;
		}
		#primary ul {
		height: 25px;
		padding: 0;
		margin: 0;
		}
		#primary li {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#primary a {
		display: block;
		height: 25px;
		text-decoration: none;
		background-color: inherit;
		color: #6a6a6a;
		font-weight: bold;
		font-size: 10px;
		padding: 0;
		line-height: 2.4;
		}
		#primary a:hover, #primary li.selected a {
		background-image: none;
		color: #146d89;
		font-size: 10px;
		}


		/* PRIMARY NAV ITEMS */
		#navHome {
		background: transparent url(../images/nav_home.gif) no-repeat 0 0;
		width: 63px;
		height: 25px;
		}
		#navHome a {
		background: transparent url(../images/nav_home.gif) no-repeat 0 -25px;
		}
		
		
		#navVirtualWorld {
		background: transparent url(../images/nav_virtualworld.gif) no-repeat 0 0;
		width: 99px;
		height: 25px;
		}
		#navVirtualWorld a {
		background: transparent url(../images/nav_virtualworld.gif) no-repeat 0 -25px;
		}
		
		#navChannels {
		background: transparent url(../images/nav_channels.gif) no-repeat 0 0;
		width: 103px;
		height: 25px;
		}
		#navChannels a {
		background: transparent url(../images/nav_channels.gif) no-repeat 0 -25px;
		}
		
		
		#navPeople {
		background: transparent url(../images/nav_people.gif) no-repeat 0 0;
		width: 65px;
		height: 25px;
		}
		#navPeople a {
		background: transparent url(../images/nav_people.gif) no-repeat 0 -25px;
		}
		
		
		#navMedia {
		background: transparent url(../images/nav_media.gif) no-repeat 0 0;
		width: 105px;
		height: 25px;
		}
		#navMedia a {
		background: transparent url(../images/nav_media.gif) no-repeat 0 -25px;
		}
	
	
	/* ADMIN */
	    #tdAdminMenu, .tdAdminMenu {
	    width: 100%;
	    /*background: transparent url(../images/bg_globalnav.gif) repeat-x bottom left;*/
	    background-color:Fuchsia;
	    height: 42px;
	    margin: 0;
	    padding: 0;
	    }


	    #adminNavHolder {
	        width: 990px;
	        height: 42px;
	        margin: 0 auto;
	        padding: 0;
	        position: relative;
	    }

		#adminMenu {
		width: 234px;
		height: 22px;
		float: right;
		display: block;
		position: relative;
		padding: 0;
		margin: 10px 0 0 0;
		list-style: none;
		}
		#adminMenu ul {
		height: 21px;
		padding: 0;
		margin: 0;
		}
		#adminMenu li {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#adminMenu a {
		display: block;
		height: 22px;
		text-decoration: none;
		background-color: inherit;
		color: #6a6a6a;
		font-weight: normal;
		padding: 0;
		line-height: 2.0;
		font-size: 10px;
		}
		#adminMenu a:hover, #adminMenu li.selected a {
        background-image: none;
        color: #39598c;
        font-size: 10px;
        }
		#adminMenu li.selected a {
		font-weight: bold;
		font-size: 10px;
		}
		
	/*#admin {
		width: 35px;
		height: 17px;
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 12px 0 0 0;
		list-style: none;
		}
		#admin ul {
		padding: 0;
		margin: 0;
		float: left;
		}
		#admin li {
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		}
		#admin a {
		display: block;
		float: left;
		margin: 0;
		padding: 2px;
		text-decoration: none;
		font-weight: bold;
		font-size: 10px;
		}*/
		
	/* MAIL */
	#mail {
		width: 65px;
		height: 17px;
		float: left;
		display: block;
		position: relative;
		padding: 0;
		margin: 12px 0 0 0;
		list-style: none;
		}
		#mail ul {
		padding: 0;
		margin: 0;
		float: left;
		}
		#mail li {
		float: left;
		padding: 2px;
		list-style: none;
		}
		#mail a {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		text-decoration: none;
		font-weight: bold;
		font-size: 10px;
		}
		
	
	
		
	/* TERTIARY NAV */
	#tertiary {
		width: 234px;
		height: 22px;
		float: right;
		display: block;
		position: relative;
		padding: 0;
		margin: 10px 0 0 0;
		list-style: none;
		}
		#tertiary ul {
		height: 21px;
		padding: 0;
		margin: 0;
		}
		#tertiary li {
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;		
		text-align: center;
		}
		#tertiary a {
		display: block;
		height: 22px;
		text-decoration: none;
		background-color: inherit;
		color: #6a6a6a;
		font-weight: normal;
		padding: 0;
		line-height: 2.0;
		font-size: 10px;
		}
		#tertiary a:hover, #tertiary li.selected a {
        background-image: none;
        color: #39598c;
        font-size: 10px;
        }
		#tertiary li.selected a {
		font-weight: bold;
		font-size: 10px;
		}


		/* TERTIARY NAV ITEMS */
		#navJoin {
		background: transparent url(../images/nav_join.gif) no-repeat 0 0;
		width: 76px;
		}
		#navJoin a {
		background: transparent url(../images/nav_join.gif) no-repeat 0 -22px;
		}
		
		
		#navSignIn {
		background: transparent url(../images/nav_signin.gif) no-repeat 0 -22px;
		width: 64px;
		}
		#navSignIn a {
		background: transparent url(../images/nav_signin.gif) no-repeat 0 -44px;
		}
		#navSignIn a.joinnow {
		background: transparent url(../images/nav_signin.gif) no-repeat 0 0;
		font-weight: bold;
		color: #fbefef;
		}
		#navSearch {
		background: transparent url(../images/nav_signin.gif) no-repeat -10px -22px;
		width: 54px;
		}
		#navSearch a {
		background: transparent url(../images/nav_signin.gif) no-repeat -10px -44px;
		}
		
		#navHelp {
		background: transparent url(../images/nav_search.gif) no-repeat -13px 0;
		width: 40px;
		}
		#navHelp a {
		background: transparent url(../images/nav_search.gif) no-repeat -13px -22px;
		}
		
	
		
/* SUBNAVIGATION */		

#subnav, .subnav {
	width: 100%;
	background: transparent url(../images/bg_allnav.gif) repeat-x bottom left;
	padding: 1px 0 4px 0;
	margin: 0;
	position: relative;
	float: left;
	}
	
	

/* SUBNAV HOLDER */		
#subnavholder {
	width: 990px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	}
	
	
	
	/* SECONDARY NAV */
	#secondary {
		width: auto;
		padding: 0;
		margin: 0 0 0 208px;
		color: #6a6a6a;
		float: left;
		display: inline;
		}
		#secondary ul {
		padding: 0;
		margin: 0;
		float: left;
		}
		#secondary li {
		float: left;
		list-style: none;
		}
		#secondary a {
		display: block;
		float: left;
		margin: 0;
		padding: 7px 13px;
		color: #6a6a6a;
		text-decoration: none;
		font-weight: normal;
		font-size: 10px;
		}
		#secondary a:hover, #secondary li.selected a {
		background-color: transparent;
		background-color: #bfe9f7;
		border: 1px solid #d9d8d8;
		color: #146d89;
		padding: 6px 12px;
		font-weight: normal;
		font-size: 10px;
		}
		#secondary li.selected a, #secondary li.selected a:hover {
		font-weight: bold;
		font-size: 10px;
		}
		
		

	
	
	/* THIRDARY NAV */
	#thirdary {
		padding: 0;	
		margin: -1px 0 0 208px;
		width: 776px;
		background-color: #bfe9f7;
		border: 1px solid #d9d8d8;
		float: left;
		display: inline;
		clear: both;
		}
		#thirdary ul {
		padding: 0;
		margin: 0;
		float: left;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		}
		#thirdary li {
		float: left;
		list-style: none;
		}
		#thirdary a {
		color: #146d89;
		text-decoration: none;
		font-weight: normal;
		float: left;
		margin: 0;
		padding: 6px 12px;
		display: block;
		}
		#thirdary a:hover, #thirdary li.selected a {
		background-color: transparent;
		background: transparent url(../images/nav_point.gif) no-repeat 2px 8px;
		font-weight: normal;
		}
		#thirdary li.selected a, #thirdary li.selected a:hover {
		font-weight: bold;
		}
		
		#thirdary li.channelname {
		color: #146d89;
		text-decoration: none;
		font-weight: normal;
		float: left;
		margin: 0;
		padding: 4px 10px;
		display: block;
		background-color: #dbf3fb;
		font-size: 12px;
		}

/*-----------(VALIDATE)-------------- */	


.validate_now a:link, .validate_now a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px; 
	color: #cc0000;
	font-weight:bold;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
.validate_now a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px; 
	text-decoration:none;
	font-weight:bold;
	color: #cc0000;
	background-color: transparent;
	}

.validate_now a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px; 
	text-decoration:none;
	font-weight:bold;
	color: #cc0000;
	}


	
.validate_now {
	background-color: #ff9999;
	border-bottom: 1px dotted white;
	color: #cc0000;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 5px;
	}
 
		
