/* HEADER */
.join:link, .join:visited
{
	background:url("../images/widgets/community/btnJoinCommunityOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.join:hover
{
	background:url("../images/widgets/community/btnJoinCommunityOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.send:link, .send:visited
{
	background:url("../images/widgets/community/btnSendMessageOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.send:hover
{
	background:url("../images/widgets/community/btnSendMessageOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.quit:link, .quit:visited
{
	background:url("../images/widgets/community/btnQuitCommunityOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.quit:hover
{
	background:url("../images/widgets/community/btnQuitCommunityOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}
.ravecomm:link, .ravecomm:visited
{
	background:url("../images/widgets/community/btnRaveThisOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.ravecomm:hover
{
	background:url("../images/widgets/community/btnRaveThisOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.ravepluscomm:link, .ravepluscomm:visited
{
	background:url("../images/widgets/community/btnRaveThisPlusOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.ravepluscomm:hover
{
	background:url("../images/widgets/community/btnRaveThisPlusOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.abuse:link, .abuse:visited
{
	background:url("../images/widgets/community/btnReportAbuseOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.abuse:hover
{
	background:url("../images/widgets/community/btnReportAbuseOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.invite:link, .invite:visited
{
	background:url("../images/widgets/community/btnInviteFriendsOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	
}

.invite:hover
{
	background:url("../images/widgets/community/btnInviteFriendsOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}
.invite:link, .invite:visited
{
	background:url("../images/widgets/community/btnInviteFriendsOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}

.invite:hover
{
	background:url("../images/widgets/community/btnInviteFriendsOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}


.submitmedia:link, .submitmedia:visited
{
	background:url("../images/widgets/community/btnSubmitMediaOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}

.submitmedia:hover
{
	background:url("../images/widgets/community/btnSubmitMediaOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}
.meet3d:link, .meet3d:visited
{
	background:url("../images/widgets/community/btnHangout3DOff.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}

.meet3d:hover
{
	background:url("../images/widgets/community/btnHangout3DOver.gif") no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;

}
.ravecount
{
	background-image:url("../images/widgets/community/btnBlank.gif");
	background-repeat:no-repeat;
	width:107px;
	height: 40px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin-bottom:34px;


}


