/* HEADER */
/*-----------(3D SHADOW EFFECT)-------------- */

#tblMain {
	/*width: 1028px;*/
	/*background-image: url("../images/bg_shadow.jpg");*/
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	}
	
#tdMainCenterStage  {
	/*background-image: url("../images/bg_footershadow.jpg");*/
	background-image: none;
	background-repeat: no-repeat;
	background-position:  bottom;
	padding-bottom: 0;
	background-color: transparent;
	}