/* HEADER */
/* CSS for image frames  */

.framesize-baby {
	margin: 0;
	padding: 0;
	}
	
.framesize-baby img {
	padding: 2px;
	margin: 2px; 
	border: 1px solid #e0e0e0;
	}
	

.imgconstrain a:link, .imgconstrain a {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #FFFFFF;
	text-decoration: none;
	}
	
.imgconstrain a:hover {
	background-color: #FFFFFF;
	text-decoration: none;
	}


.framesize-xsmall {
	width: 55px; 
	position: relative;
	margin: 0;
	}
	.framesize-xsmall .table {
	width: 45px;
	height: 33px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
	

.framesize-small {
	width: 85px; 
	position: relative;
	margin: 0;
	}
	.framesize-small .imgconstrain {
	width: 75px;
	height: 56px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}


.framesize-medium {
	width: 110px; 
	position: relative;
	margin: 0;
	}
	.framesize-medium .imgconstrain {
	width: 100px;
	height: 75px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}
	
		

.framesize-large  {
	width: 140px;
	position: relative;
	margin: 0;
	}
	.framesize-large .imgconstrain {
	width: 130px;
	height: 98px;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	}


.frame {
	margin: 0;
	padding: 0 15px 0 15px;
	border: 1px solid #e0e0e0;
	background-color: #fdfdfd;
	position: relative;
	text-align: left;
	}


	
.frame .imgconstrain {
	margin: -1px -15px 0 -11px;
	padding: 0;
	display: block;
	text-align: center;
	}
	
.frame p {
	padding: 0;
	margin: 2px -15px 0 -8px;
	}
	
.frame .location {
	font-size: 9px;
	padding: 0;
	margin: 0px -15px 0 -8px;
	color: #b4b4b4;
	}
	


.frame .ct, .frame .ct .cl, .frame .cb, .frame .cb .cl { display: block; font-size: 0; line-height: normal; margin: 0; padding: 0; height: 5px; position: relative;}
.frame .ct, .frame .cb { width: 100%; right: -16px;}
.frame .ct .cl, .frame .cb .cl { width: 5px; left: -32px; }
.frame .ct { background: transparent url(http://www.kaneva.com/images/framecorner-ne.gif) no-repeat top right; top: -1px; }
.frame .ct .cl { background: transparent url(http://www.kaneva.com/images/framecorner-nw.gif) no-repeat top left; }
.frame .cb { background: transparent url(http://www.kaneva.com/images/framecorner-se.gif) no-repeat top right; bottom: -1px; }
.frame .cb .cl { background: transparent url(http://www.kaneva.com/images/framecorner-sw.gif) no-repeat top left; }



/*Links */
.frame p a:link, #chanpage .frame p a:link{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #4272b4;
	font-weight:bold;
	text-decoration:underline;
	}
	
.frame p a:visited, #chanpage .frame p a:visited{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color: #4272b4;
	font-weight:bold;
	text-decoration:underline;
	}

/* sc hack, if change here change .bolderText:hover in home.css to match */
.frame p a:hover, #chanpage .frame p a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	text-decoration:none;
	font-weight:bold;
	background-color:#4272b4;
	color: #EEEEEE;
}

.frame p a:active, #chanpage .frame p a:active{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#8F8F8F;
	font-weight:bold;
	text-decoration:underline;
}
