/* HEADER */
.storeListHeader
{
	BACKGROUND: url(../images/temp/media_title_background.jpg) repeat-x 0% 100%;
}

.storeTeaser
{
	color:#3258ba;
	font-size:12px;
}

.storeCat
{
	color:#3258ba;
	font-size:12px;
}

.storeSubHead
{
	background: url(../images/temp/media_owner_background.jpg) repeat 0% 100%;
	font-size:12px;
	height:16px;
	line-height:16px;
}

.storeToolbar
{
	background: url(../images/temp/media_owner_background.jpg) repeat 0% 100%;
	border-bottom: 1px solid #666666; 
}

.storeActionLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal;
	color: #4863a2;
}

.storeItemNameLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;
	margin-left:5px;
}

.storeItemNameLink A:visited
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px;
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.storeItemNameLink A:active
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px;
	font-weight: bold; 
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;	
	text-decoration: none;

}

.storeItemNameLink A:link
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #14539F;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.storeItemNameLink A:hover
{

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	line-height: 16px; 
	font-weight: bold;
	font-style: normal;
	color: #73FF01;
	letter-spacing: normal;
	word-spacing: normal;
	text-decoration: none;

}

.searchTable
{
	border: 4px solid #FFCC33;
}

.searchFooter
{
	background-color:#FFCC33;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
}

.searchHeader
{
	border-bottom: 2px solid #FFCC33;
}
.searchTitle
{
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
}

.searchLinkActive
{
	font-family: Helvetica, Arial, sans-serif, Verdana; 
	font-size: 12px; 
	line-height: 12px; 
	font-style: normal;
	color: #E27A00;
	text-decoration:none;
	font-weight:bold;
}

.searchLink
{
	font-family: Helvetica, Arial, sans-serif, Verdana; 
	font-size: 12px; 
	line-height: 12px; 
	font-style: normal;
	color: #E27A00;
	text-decoration:underline;
	font-weight:normal;
}

.searchBox
{
	width:100%;
	border: 1px solid #cccccc;
	padding: 2px 2px 2px 2px;
}

.searchTextTitle
{
	font-family: Arial, Helvetica, sans-serif, Verdana; 
	font-size: 12px; 
	font-weight:bold;
	color: #000000;
	vertical-align:top;
}

.searchText
{
	font-family: Arial, Helvetica, sans-serif, Verdana; 
	font-size: 12px; 
	color: #000000;
}

.searchSort
{
	color: #000000;
}

.peopleSectionTitle
{
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
	font-style:italic;
	padding: 1px, 6px, 1px, 6px;
	background-color:#eeeeee;
	height:40px;
}

.peopleSectionSubTitle
{
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	font-weight:normal;
	font-style:normal;
}

.peopleName
{
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
}

.peopleImg
{
	width: 180px;
	height: 150px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
}

.channelSmallImg
{
	width: 75px;
	height: 50px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
}
.channelMedImg
{
	width: 130px;
	height: 68px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
}
.channelBigImg
{
	width: 192px;
	height: 120px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
	font-family: helvetica, arial, sans-serif;
}

.channelMedWideImg
{
	width: 100px;
	height: 75px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #e0e0e0;
}

.channelRecommendTitle
{
	font-family: helvetica, arial, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	padding-left: 6px;
	padding-top: 8px;
	text-decoration: none;
	letter-spacing: normal;
}
.channelRecommendDesc
{
	font-family: helvetica, arial, sans-serif;
	color: #000000;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	padding-left: 14px;
	padding-top: 1px;
	padding-right: 8px;
	text-decoration: none;
	letter-spacing: normal;
}

.coolVideosImg
{
	width: 118px;
	height: 110px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
	font-family: helvetica, arial, sans-serif;
}
.coolVideosImgList
{
	width: 110px;
	height: 80px;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #000000;
	font-family: helvetica, arial, sans-serif;
}

.coolVideosTitle
{
	font-family: helvetica, arial, sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	padding-left: 6px;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	text-decoration: none;
	letter-spacing: normal;
}
.coolVideosLineItem
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 10px; 
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 5px;
	padding-bottom: 18px;
	background-color: dbdbdb;
	text-align: center;
	vertical-align: top;
}
.coolVideosLineItemAlt
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	line-height: 10px; 
	font-style: normal;
	letter-spacing: normal;
	word-spacing: normal;
	padding-top: 5px;
	padding-bottom: 18px;
	text-align: center;
	vertical-align: top;
	background-color: #e8e8e8;
}
.coolVideosBlankRow
{
	line-height: 5px;
	background-color: dbdbdb; 
}
.coolVideosBlankRowAlt
{
	line-height: 5px;
	background-color: #e8e8e8; 
}


