/* HEADER */
@charset "UTF-8";
/* CSS Document */

/*
* New Purchase Flow: 02/10/09
* ---------------------------------------------------- */

/* :: New Manage Account Div: all pages :::::::::::::: */
.manageAccount {
	width: 990px;
	text-align: left;
	margin-bottom: 8px;
}
.manageAccount a:link, .manageAccount a:visited {
	background: url("../images/checkout/btn_manageAccount.gif") no-repeat 0px -28px;
	display: block;
	height: 28px;
	width: 170px;
	text-indent: -5000px;
}
.manageAccount a:hover {
	background: url("../images/checkout/btn_manageAccount.gif") no-repeat 0px 0px;
	display: block
	}
	
/* :: New Progress Bar: all pages :::::::::::::::::::: */
.progressBar {
	text-align: center;
	display: block;
	width: 484px;
	margin-bottom: 24px;
	height: 38px;
	margin-top: 33px;
}
.progressBar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 484px;
	background: url("../images/checkout/progressBar.gif") no-repeat 0px -76px;
	height: 38px;
	display: block;
}
.progressBar ul.payment {
	background: url("../images/checkout/progressBar.gif") no-repeat 0px -38px;
	
}
.progressBar ul.receipt {
	background: url("../images/checkout/progressBar.gif") no-repeat 0px -0px;
	
}
.progressBar li {
	float: left;
	text-indent: -5000px;
}
.progressBar a:link, .progressBar a:visited {}
.progressBar a:hover {}
	

/* :: Order Confirm Page ::::::::::::::::::::::::::::: */
table.creditCard {
	margin: 0px;
	padding: 0px;
	width: 92%;
	border-width: 0px;
	border-style: none;
	text-align: left;
	border-collapse:collapse;
	height: 250px;
}
table.creditCard tr {}
table.creditCard td {
	margin: 0px;
	padding: 4px;
}
table.creditCard td label {
}
.ccError {
	color: #CC0000;
	padding: 4px 0px;
}
a.placeOrder:link, a.placeOrder:visited {
	background: url("../images/checkout/btn_placeOrder.gif") no-repeat 0px -34px;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 34px;
	width: 183px;
	text-indent: -5000px;
}
a.placeOrder:hover {
	background: url("../images/checkout/btn_placeOrder.gif") no-repeat 0px 0px;
	display: block;
	text-indent: -5000px;
}

/* :: Order Complete Page :::::::::::::::::::::::::::: */
a.btnGetStuff:link, a.btnGetStuff:visited {
	background: url("../images/checkout/btn_getStuff.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	margin: 0px 0px 10px;
	padding: 0px;
}
a.btnGetStuff:hover {
	background: url("../images/checkout/btn_getStuff.gif") no-repeat 0px 0px;
}
a.btnGetStuff span {
	display: none;
}

/* :: Billing Info Page :::::::::::::::::::::::::::::: */
.module p.billingCopy {
	text-align: left;
	padding-left: 14px;
	display: block;
}
.module h1.sellBillingAddy {
	float: left;
	width: 465px;
	display: block;
	position: relative;
	height: 30px;
}
.module .payPalTop {
	width: 180px;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	float: left;
	text-align: left;
}
table.billingData {
	border-width: 0px;
	border-style: none;
	margin-left: 14px;
	width: 650px;
}
table.billingData tr {}
table.billingData td {
	text-align: left;
	padding: 8px 0px;
}
.saveBtnArea {
	float: left;
	width: 185px;
}
a.saveBtn:link, a.saveBtn:visited {
	background: url("../images/checkout/btn_saveContinue.gif") no-repeat 0px -74px;
	text-indent: -5000px;
	display: block;
	height: 37px;
	width: 165px;
}
a.saveBtn:hover {
	background: url("../images/checkout/btn_saveContinue.gif") no-repeat 0px -37px;
	text-indent: -5000px;
}
.inactive a.saveBtn {
	background: url("../images/checkout/btn_saveContinue.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.clearInfo {
	float: left;
	width: 163px;
}
.clearInfo a:link, .clearInfo a:visited {
	background: url("../images/checkout/btn_clearInfo.gif") no-repeat 0px -37px;
	display: block;
	height: 37px;
	width: 163px;
	text-indent: -5000px;
}
.clearInfo a:hover {
	background: url("../images/checkout/btn_clearInfo.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
.payPalR {
	width: 180px;
	padding-top: 5px;
	margin-right: 5px;
}
#PopUp {
   margin: 0pt;
   padding: 15px 15px 5px;
   background: transparent url("../images/popup_point.gif") no-repeat scroll left bottom;
   display: none;
   position: absolute;
   left: 190px;
   text-align: justify;
   font-size: 12px;
   width: 270px;
   bottom: 130px;
}
/* -moz-background-clip: -moz-initial; 
   -moz-background-origin: -moz-initial; 
   -moz-background-inline-policy: -moz-initial; */

/* :: Account Settings Page :::::::::::::::::::::::::: */
.btn_updateInfo a:link, .btn_updateInfo a:visited {
	background: url("../images/checkout/btn_updateBilling.gif") no-repeat 0px -29px;
	height: 29px;
	width: 229px;
	display: block;
	text-indent: -5000px;
}
.btn_updateInfo a:hover {
	background: url("../images/checkout/btn_updateBilling.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
table.btn_back {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
	border-collapse: collapse;
}
table.btn_back tr {
}
table.btn_back td {
	padding-top: 5px;
	padding-bottom: 20px;
}
a.btn_btc:link, a.btn_btc:visited {
	background: url("../images/checkout/btn_back.gif") no-repeat 0px -30px;
	display: block;
	height: 30px;
	width: 159px;
	text-indent: -5000px;
}
a.btn_btc:hover {
	background: url("../images/checkout/btn_back.gif") no-repeat 0px 0px;
	text-indent: -5000px;
}
