/* HEADER */
#navContainer {margin-top:0;line-height:12px;}
.nav_wrapper {position:fixed;top:0;z-index:50;width:100%;height:76px;background:#fff url(../images/header/graphic_400x76_greyNoiseSolidHeader.jpg) repeat-x left top;font-size:12px;}
.nav_wrapper .menu_wrapper {width:1006px;margin:0 auto;color:#fff;height:100%;display:block;padding:0;}
.nav_wrapper ul, .nav_wrapper ul li {list-style:none;padding:0;margin:0;}
.nav_wrapper ul {position:relative;}
.nav_wrapper li {float:right;text-align:center;}
.nav_wrapper a, .nav_wrapper a:visited, .nav_wrapper a:active {outline:none;border:none;}
.nav_wrapper a:hover {background:transparent;text-decoration:none;}
.nav_wrapper a img {border:none;}
.nav_wrapper .topmenu {height:38px;width:100%;}
.nav_wrapper .topmenu ul li {height:30px;}
.nav_wrapper .topmenu li.logo {float:left;width:165px;height:26px;margin-top:7px;margin-left:10px;background:url(../images/home_signup/logo_165x26_kanevaLogo.png) no-repeat left top;}
.nav_wrapper .topmenu li.logo a {width:100%;height:100%;display:block;}
.nav_wrapper .topmenu .inbox {width:23px;height:17px;margin:11px 3px 0 0;padding:0;}
.nav_wrapper .topmenu .inbox a {display:block;width:23px;height:17px;background:url(../images/header/icon_23x17_Header_Inbox.png);}
.nav_wrapper .topmenu .inbox a:link {background-position:0 0;}
.nav_wrapper .topmenu .inbox a:hover {background-position:23px 0;}
.nav_wrapper .topmenu .inbox div.newmsg {position:relative;top:-6px;left:8px;z-index:20;width:19px;height:14px;line-height:normal;text-align:center;font-size:10px;padding:0;background:#ee2d2a;border:1px solid #960000;color:#fff;}
.nav_wrapper .topmenu .world_inbox {width:21px;height:23px;margin:8px 12px 0 0;padding:0;}
.nav_wrapper .topmenu .world_inbox a {display:block;width:21px;height:23px;background:url(../images/header/icon_42x23_Header_worldRequests.png);}
.nav_wrapper .topmenu .world_inbox a:link {background-position:0 0;}
.nav_wrapper .topmenu .world_inbox a:hover {background-position:21px 0;}
.nav_wrapper .topmenu .world_inbox div.newmsg {position:relative;top:-3px;left:8px;z-index:20;width:19px;height:14px;line-height:normal;text-align:center;font-size:10px;padding:0;background:#ee2d2a;border:1px solid #960000;color:#fff;}
.nav_wrapper .topmenu .fortune {width:24px;float:right;padding-top:0;padding-right:10px;}
.nav_wrapper .topmenu .fortune a:link {display:block;width:100%;height:100%;background:url(../images/header/icon_22x24_Header_CreditsRewards.png);}
.nav_wrapper .topmenu .fortune a:hover,
.nav_wrapper .topmenu .fortune a.selected {background-position:23px 0;}
.nav_wrapper .topmenu .fortune div {width:22px;height:24px;margin:8px 0 0 8px;}
.nav_wrapper .topmenu .fortune div.fortunedd_container {display:none;position:relative;top:-8px;left:-242px;background:transparent url(../images/header/graphic_11x6_Header_yourBalanceWindowTip.png) no-repeat 248px 0;width:266px;height:120px;}
.nav_wrapper .topmenu .fortune ul {background:#252525;width:266px;height:120px;position:relative;top:6px;left:0;z-index:30;padding:0;font-size:12px;border:1px solid #000;}
.nav_wrapper .topmenu .fortune ul li {clear:both;padding:0;margin:0;height:15px;text-align:left;width:246px;font-weight:normal;color:#fff;}
.nav_wrapper .topmenu .fortune ul li a:link, .nav_wrapper .topmenu .fortune ul li a:hover {background-image:none;}
.nav_wrapper .topmenu .fortune ul li.fortune_header {background:#000;height:26px;padding:10px 0 0 8px;font-weight:bold;width:258px;}
.nav_wrapper .topmenu .fortune ul li.credits {background:#333;height:26px;width:226px;padding:12px 0 0 40px;background:url(../images/header/icon_29x30_Header_dropDownCredits.png) no-repeat 6px center;}
.nav_wrapper .topmenu .fortune ul li.credits a:link {background:url(../images/header/buttons_90x28_Header_AddCredits.png) no-repeat 0 0;width:90px;height:28px;margin:-5px 7px 0 0;padding:0;float:right;display:block;}
.nav_wrapper .topmenu .fortune ul li.credits a:hover {background-position:-90px 0;}
.nav_wrapper .topmenu .fortune ul li.credits a:active {background-position:-180px 0;}
.nav_wrapper .topmenu .fortune ul li.rewards {background:#333;height:26px;width:226px;padding:12px 0 0 40px;background:url(../images/header/icon_29x30_Header_dropDownRewards.png) no-repeat 6px center;}
.nav_wrapper .topmenu .fortune ul li.horiz_divide {height:1px;width:266px;background:#333;margin:3px 0;}
.nav_wrapper .botmenu {height:37px;width:100%;}
.nav_wrapper .botmenu .menu_text li {height:37px;padding-top:0;float:left;text-shadow:1px 1px 0 #101010;}
.nav_wrapper .botmenu .menu_text a {font-size:12px;height:26px;color:#fff;display:block;text-decoration:none;padding-top:11px;background:transparent;}
.nav_wrapper .botmenu .menu_text a:hover {background:#252525;font-size:12px;}
.nav_wrapper .botmenu .menu_text a:active {background:#101010;font-size:12px;}
.nav_wrapper .botmenu .menu_text .explore a, 
.nav_wrapper .botmenu .menu_text .explore a:active, 
.nav_wrapper .botmenu .menu_text .explore a:visited {width:110px;}
.nav_wrapper .botmenu .menu_text .explore a:hover {width:110px;}
.nav_wrapper .botmenu .menu_text .people a {width:106px;}
.nav_wrapper .botmenu .menu_text .shop a {width:106px;}
.nav_wrapper .botmenu .menu_text .create a {width:140px;}
.nav_wrapper .botmenu .menu_text .profile {float:right;width:29px;float:right;padding-top:0;height:37px;position:relative;}
.nav_wrapper .botmenu .menu_text .profile a,
.nav_wrapper .botmenu .menu_text .profile a.unselected {border:none;width:29px;height:25px;background:url(../images/header/graphic_1x24_Header_VerticalPipe.png) no-repeat left bottom;position:relative;}
.nav_wrapper .botmenu .menu_text .profile a:hover {background:#252525;}
.nav_wrapper .botmenu .menu_text .profile a.selected {border:1px solid #000;border-bottom:none;width:27px;height:25px;background:#252525;padding-top:10px;z-index:20;}
.nav_wrapper .botmenu .menu_text .profile img {margin:6px 0 0 0;}
.nav_wrapper .botmenu .menu_text .home {float:right;width:52px;}
.nav_wrapper .botmenu .menu_text .user {float:right;text-align:right;}
.nav_wrapper .botmenu .menu_text .user a {padding-left:10px;padding-right:10px;display:inline-block;}
.nav_wrapper .botmenu .menu_text .divide {float:right;width:1px;height:25px;background:url(../images/header/graphic_1x24_Header_VerticalPipe.png) no-repeat center bottom;padding-top:11px;}
.nav_wrapper .botmenu .menu_text .divide ul {display:none;background:#252525;width:220px;height:335px;border:1px solid #000;position:relative;top:24px;left:-140px;z-index:10;padding:3px 0;font-size:12px;}
.nav_wrapper .botmenu .menu_text .divide ul li {clear:both;width:210px;padding:0;margin:0;height:25px;text-align:left;text-shadow:none;}
.nav_wrapper .botmenu .menu_text .divide ul li a, 
.nav_wrapper .botmenu .menu_text .divide ul li a:active	{width:210px;padding:6px 0 0 10px;height:25px;background-image:none;background:transparent;font-weight:normal;}
.nav_wrapper .botmenu .menu_text .divide ul li a:hover {border:1px solid #000;background:#fff;height:20px;width:209px;color:#3d77c4;padding:4px 0 0 9px;}
.nav_wrapper .botmenu .menu_text ul li.horiz_divide	{height:1px;width:220px;background:#333;margin:3px 0;}
.nav_wrapper .menu_wrapper .subnav {color:#fff;font-size:12px;background:#101010;width:1004px;text-align:center;border-left:1px solid #000;border-right:1px solid #000;}
.nav_wrapper .menu_wrapper .subnav .secondary_nav {width:550px;margin:0 auto;height:25px;}
.nav_wrapper .subnav .secondary_nav	li {height:25px;float:left;width:80px;}
.nav_wrapper .subnav .secondary_nav	li.general {width:80px;}
.nav_wrapper .subnav .secondary_nav	li.prefs {width:110px;}
.nav_wrapper .subnav .secondary_nav	li.trans {width:110px;}
.nav_wrapper .subnav .secondary_nav	li.inventory {width:90px;}
.nav_wrapper .subnav .secondary_nav	li a {color:#fff;font-size:12px;text-decoration:none;margin:0;padding:5px 0 0 0;height:20px;display:block;} 
.nav_wrapper .subnav .secondary_nav	li a:hover {color:#3d77c4;background:#fff;font-size:12px;text-decoration:none;} 
.nav_wrapper .subnav .secondary_nav	li a:active {color:#3d77c4;background:#ebebeb;font-size:12px;text-decoration:none;} 

.nav_wrapper .validate {width:1004px;height:76px;text-align:center;background:transparent;border-left:1px solid #ccc;
                        background:#ffefbe;border:1px solid #c3b791;z-index:7;position:relative;margin:0 auto;text-align:center;}
.nav_wrapper .validate p {font-size:12px;color:#000;text-decoration:none;display:block;margin-top:10px;}
.nav_wrapper .validate p span {font-weight:bold;}
.nav_wrapper .resendcontainer {margin:12px auto 0 auto;width:630px;text-align:left;height:30px;color:#000;}
.nav_wrapper .resendcontainer .resendspan {width:180px;display:inline-block;height:28px;}
.nav_wrapper .resendcontainer .sent {width:180px;display:inline-block;height:18px;text-align:center;padding-top:5px;font-weight:bold;}
.nav_wrapper .resendcontainer a.email {margin-left:30px;display:inline-block;}
.nav_wrapper .resendcontainer a.email:hover {text-decoration:underline;}
a.btnlarge.black.resend {font-size:12px;padding-top:5px;}

/* Not Authenticated Version */
.nav_wrapper_noauth {position:fixed;top:0;z-index:50;width:100%;height:76px;background:#fff url(../images/landing_page/graphic_400x76_greyNoiseHeader.jpg) repeat-x left top;}
.pageHeader {
	position:relative;
	height:76px;
	width:1004px;
}
.pageHeader .logo {
    position:relative;
    float:left;
    top:21px;
}
.pageHeader .logo a,
.pageHeader .logo a:hover,
.pageHeader .logo a:visited,
.pageHeader .logo a:link
 {
    display: block;
    width:200px;
    height:32px;
    background:url(../images/landing_page/login_form.png) -80px -30px;
}
.pageHeader .signIn {
	width:507px;
	float:right;
	margin:0;
	padding:0;
	text-align:right; 
}
.pageHeader .signIn ul {
	padding:0;
	margin:0;
	list-style:none;
}
.pageHeader .signIn li {
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
	display:inline;
	float:left;
	font-size:10px;
	line-height:16px;
	color:#fff;
}
.pageHeader .signIn li.inputField {
	width:180px;
	height:64px;
	padding:6px 0 6px 0;
    position:relative;
}
.pageHeader .signIn .inputField input {
    font-size:11px;
    color:#333;
}
.pageHeader .signIn .chkRemember input {	
	margin:0;
	padding:0;
	position:relative;
	top:5px;
}
.pageHeader .signIn .keepSignedIn {	
	position:relative;
	top:2px;
}
.pageHeader .signIn li.fbButton a {
    display:block;
    width:36px;
    height:36px;
    position:relative;
    top:21px;
    text-align:right;
    cursor:pointer;
}
.pageHeader .signIn li.fbButton a,
.pageHeader .signIn li.fbButton a:link,
.pageHeader .signIn li.fbButton a:visited {
    background:url(../images/landing_page/login_form.png) 0 -28px;
}
.pageHeader .signIn li.fbButton a:active,
.pageHeader .signIn li.fbButton a:hover {
    background:url(../images/landing_page/login_form.png) -40px -28px;
}
.pageHeader .signIn .divider {
    margin:0 10px 0 10px;
    position:relative;
    top:1px;
}
.pageHeader .signIn li a.forgot:link, 
.pageHeader .signIn li a.forgot:visited {
    position:relative;
    top:5px;
    left:0;
    line-height:14px;
    display:inline;
    margin:0;
    text-decoration:none;
    color:#fff;
    font-size:11px;
}
.pageHeader .signIn li a.forgot:hover, 
.pageHeader .signIn li a.forgot:active {
    text-decoration:underline;
}
.pageHeader .signIn li.button a {
    display:block;
    position:relative;
    top:19px;
    width:87px;
    height:27px;
}
.pageHeader .signIn li.button a:link, 
.pageHeader .signIn li.button a:visited {
    background:url(../images/landing_page/login_form.png) 0 0;
}
.pageHeader .signIn li.button a:hover {
    background:url(../images/landing_page/login_form.png) -89px 0;
}
.pageHeader .signIn li.button a:active {
    background:url(../images/landing_page/login_form.png) -178px 0;
}
.headerLinks {
    float:right;
    margin-top:27px;
    color:#999;
    font-size:11px;
    text-shadow:1px 1px #101010;
}
.headerLinks a, .headerLinks a:hover, .headerLinks a:active, .headerLinks a:visited {
    color:#fff !important;
    font-size:11px;
    text-shadow:1px 1px #101010;
    cursor:pointer;
}
.showSignIn {color:#fff;cursor:pointer; }
.showSignIn:hover {text-decoration:underline; }

