/* HEADER */
﻿.profileDD {background-color:white;margin:0 0 0 6px;padding:0;width:100%;overflow:hidden;text-align:left;}
.profileDD img {margin:0;border:1px solid #ccc;}
.profileDD p{font-size:11px; line-height:18px;}
.profileDD a.avatar {margin-left:3px;}
.profileDD div a:link, .profileDD h2 a:active, .profileDD h2 a:visited {margin:0 0 8px 2px;font-size:12px;color:#333;font-weight:bold;}
.profileDD div a:hover {color:#3d77c4;}
.profileDD div.username {margin:8px 0 13px 2px;}
.profileDD p {margin:2px 0;}
.profileDD hr {width:90%;height:1px;background-color:#f5f5f5;border:none;margin-top:10px;}
#pUserProfile .imgLoading{margin:20px 0 0 68px;}
#pUserProfile .loadingText{margin-top:8px;font-size:10px;font-weight:none;width:100%;text-align:center;color:#999;}
p.raves {background-image:url(../images/nav/sideNav_16x16_raveGrey.jpg);background-repeat:no-repeat;background-position:center left;padding-left:20px;margin-bottom:0;}
p.worldFame {background-image:url(../images/nav/sideNav_16x16_fameGrey.jpg);background-repeat:no-repeat;background-position:center left;padding-left:20px;}
.dialog {margin-bottom:4px;}

