/* HEADER */
﻿@charset "UTF-8";
/* CSS Document */

@import url(../base/buttons.css);

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
*{margin:auto; padding:0;}
html,body {margin:0;padding:0;height:100%;background-color:white;font-family:Verdana, Geneva, sans-serif;font-size:small;color:#000;font-size:14px;background-image:none;}
a:link {color:#018aaa;text-decoration:none;font-weight:normal;font-size:12px;}
a:visited {color:#018aaa;text-decoration:none;font-weight:normal;font-size:12px;}
a:hover {color:#305e77;text-decoration:underline;background-color:Transparent;font-weight:normal;font-size:12px;}
a:active {color:#305e77;text-decoration:none;font-weight:normal;font-size:12px;} 

h1 {color:#ef3c39;font-size:22px;font-weight:bold;margin-bottom:20px;}
h2 {color:#000;font-size:17px;font-weight:bold;margin-bottom:10px;}
hr.line {float:left;background-color:#d5e1e8;border:solid 1px #d5e1e8;height:2px;width:860px;display:block;margin:12px 0;}
.clearit {clear:all;}

#pageContainer {margin-top:6px;width:920px;}
#pageContainer div {line-height:16px;}
#btmContainer {width:870px;}
.banner {margin-bottom:16px;}
img.leveling {float:left;margin-right:14px;}
.levelingsys {float:left;width:700px;text-align:left;margin-bottom:30px;}
.box {width:380px;height:138px;background-color:#d5e1e8;margin-top:26px;padding:10px;}
.friends {height:20px;margin:1px 0;padding:5px 0 0 32px;background-image:url(../images/worldfame/worldfame_preview_icon_friends_24x25.jpg);background-repeat:no-repeat;background-position:left;}
.travel {height:20px;margin:1px 0;padding:5px 0 0 32px;background-image:url(../images/worldfame/worldfame_preview_icon_3d_24x19.jpg);background-repeat:no-repeat;background-position:left;}
.shop {height:20px;margin:1px 0 4px 0;padding:5px 0 0 32px;background-image:url(../images/worldfame/worldfame_preview_icon_shop_24x22.jpg);background-repeat:no-repeat;background-position:left;}
.badgestxt {float:left;text-align:left;width:350px;}
.badgestxt h1 {margin-bottom:12px;}
.badges {float:left;margin-left:16px;}
.unlocktxt {float:left;text-align:left;width:350px;margin-top:4px;}
.unlocktxt h1 {margin-bottom:12px;}
.unlock {float:left;margin-left:16px;}
.footertxt {color:#999;font-size:12px;text-align:left;padding:0 0 0 3px;margin:0;}

/* FOOTER */
div#footer {margin:0;padding:10px 10px;width:960px;clear:both;margin-top:30px;}
div#footer p{font-size:10px;text-align:center;padding:5px 0 0 0;}

/*-----------(FOOTER-AUTH)-------------- */	
.footerAuth  {margin-top:4px;width:720px;text-align:left;padding:60px 0 0 0;clear:both;}
.footerAuth .footerSection {width:160px;float:left;text-align:left;margin-right:25px;}
.footerAuth .first{margin-left:0;}
.footerAuth .last{margin-right:0;}
.footerAuth .footerSecTitle {border-bottom:solid 1px #ccc;color:#999;font-size:12px;}
.footerAuth div {margin:3px 0;}
.footerAuth a:link, .footerAuth a:visited, .footerAuth a:active, .footerAuth a:hover {color:#000;font-size:11px;}
.footerAuth .footerSectionHorizontal {width:630px;text-align:left;;margin:10px 0 8px 0;padding-top:10px;clear:both;font-size:11px;height:20px;}
.footerAuth .footerSectionHorizontal .footerSecTitle {border:none;float:left;width:100px;padding-top:3px;_padding-top:0;font-size:11px;}
.footerAuth .footerSectionHorizontal a:link {padding:0;margin:0 3px;}
.footerAuth .footerSectionHorizontal span {color:#999;margin:0 3px;padding:0;}
.footerAuth .footerVersion {width:100%;text-align:center;font-size:10px;color:#999;padding-bottom:10px;margin-bottom:10px;}

/* -- Top Nav -- */
#navCredits a, #navRewards a {font-size:10px;}
#ddmenu div {margin-top:-3px;}