<%@ Control Language="c#" AutoEventWireup="false" Codebehind="AccountWizardNavBar.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.AccountWizardNavBar" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>


<div id="wizard">
	<ul id="profilewiz">
		<li id="one"><span id="spnOne" runat="server"><h3>Your Info</h3></span></li>
		<li id="two"><span id="spnTwo" runat="server"><h3>Verify</h3></span></li>
		<li id="three"><span id="spnThree" runat="server"><h3>Profile Photo</h3></span></li>
		<li id="four"><span id="spnFour" runat="server"><h3>Design</h3></span></li>
		<li id="five"><span id="spnFive" runat="server"><h3>Welcome</h3></span></li>
	</ul>		
</div>


