﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ColorBox.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.ColorBox" %>


<asp:literal id="litStyle" runat="server"></asp:literal>
<asp:literal id="litScript" runat="server"></asp:literal>