<%@ Control Language="c#" AutoEventWireup="false" Codebehind="CoolItems.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.CoolItems" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>

<asp:PlaceHolder runat="server" id="phStream"/>