<%@ Control Language="c#" AutoEventWireup="false" Codebehind="EndHtml.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.EndHtml" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
	</center>
	</body>
</html>