<%@ Control Language="c#" AutoEventWireup="false" Codebehind="HeaderText.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.HeaderText" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="left" class="orangeHeader" valign="top" runat="server" id="tdHeaderText"></td>
	</tr>
</table>