<%@ Control Language="c#" AutoEventWireup="false" Codebehind="NavMediaUploads.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.NavMediaUploads" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>

<div id="thirdaryNav">
	<ul>
		<li id="navLibrary" runat="server"><a id="aLibrary" runat="server">Media Library</a></li>
		<li id="navUpload" runat="server"><a id="aUpload" runat="server">Upload</a></li>
	</ul>        
</div>