<%@ Control Language="c#" AutoEventWireup="false" Codebehind="PublishedItemsFilter.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.PublishedItemsFilter" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<!-- Begin Filter --->
<center>
<table cellpadding="0" cellspacing="0" border="0" width="720">
<tr>

<td class="Filter" align="right">
show me	
<asp:DropdownList runat="server" size="1" class="Filter2" ID="drpView" AutoPostBack="True" OnSelectedIndexChanged="drpView_Change">											
</asp:DropdownList> w/ 	
<asp:DropdownList runat="server" size="1" class="Filter2" ID="drpPages" AutoPostBack="True" OnSelectedIndexChanged="drpPages_Change">	
</asp:DropdownList> items per page

</td>
</tr>	
</table>
</center>