<%@ Page language="c#" Codebehind="TagCloud.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.usercontrols.TagCloud1" %>
<%@ Register TagPrefix="Kaneva" TagName="TagCloud" Src="../usercontrols/TagCloud.ascx" %>

<style type="text/css">
body{background:#ffffff;}
</style>

<span style="height=100%;width=100%">
<kaneva:tagcloud runat="server" id="ucTagCloud" cloudtype="-1" />
</span>
