<%@ Control Language="c#" AutoEventWireup="false" Codebehind="TagCloud.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.TagCloud" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<%@ OutputCache Duration="1200" VaryByParam="tag" %>

<div style="padding:0 10;text-align:center;" id="divTags" runat="server"></div>
