<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VirtualWorld-Content.ascx.cs" Inherits="KlausEnt.KEP.Kaneva.usercontrols.VirtualWorld_Content" %>

<div class="" style="width:90%;text-align:left; overflow:hidden;">
 
 <asp:Literal ID="litContent" runat="server"></asp:Literal>
 
</div>