<%@ Page language="c#" Codebehind="makePurchase.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.makePurchase" %>

<table cellpadding="0" cellspacing="0" border="0" width="560">							
	<tr>
	<td valign="middle" class="belowFilter" colspan="2" width="268" height="23" align="left">&nbsp;</td><td colspan="5" width="292" height="23" align="right" class="belowFilter2" valign="middle"></td>						
	</tr>
</table>
<table cellpadding="0" cellspacing="1" border="0" width="552" ID="Table2">
	<tr>
	<td class="bodyText" align="center"><br><br>
	<b style="font-size: 14px;">Web Purchases Unavailable</b><br><br>
	Web purchases are currently unavailable, please try again later.<br><br><br>		
	</td>
	</tr>
</table>

