<%@ Page language="c#" Codebehind="paypalSuccess.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.paypalSuccess" %>

<p><H3>Thank you for your payment</H3></p>
<b>Details</b><BR>
<li>Description: <asp:Label id="lblDescription" runat="server"/></li>
<li>Amount: <asp:Label id="lblAmount" runat="server"/></li>
<HR>
<p>A receipt for your purchase has been emailed to you. <BR>
