/* HEADER */

#EditorID {background-color:#D6D3CE!important; border: #999999 1px solid!important;}
#EditorID IMG { border:0px;display:inline;}

#EditorID .CuteEditorSelect { font:normal 11px Tahoma; margin-left:1px; margin-top:1px; height:21px; vertical-align:middle;}
#EditorID .CuteEditorDropDown { float: left; border: #dddddd 1px solid;margin:2px 1px 2px 1px;padding:2px;}
#EditorID .CuteEditorDropDown Span {font:normal 11px Tahoma;}
#EditorID .CuteEditorToolbar {}
#EditorID .CuteEditorToolBarContainer {padding:3px 2px 1px 3px;height:1px;overflow-y:visible;}
#EditorID .CuteEditorFrameContainer {padding:0;margin:2px 0 0 0;width:100%;height:100%;}
#EditorID .CuteEditorBottomBarContainer {padding:3px 3px 3px 3px;height:1px;overflow-y:visible;}
#EditorID .CuteEditorGroupMenu {font:normal 11px Tahoma;float: left; height:24px; vertical-align:middle;}
#EditorID .CuteEditorGroupMenuCell{float:left;background-image: url(images/horizontal.start.gif); background-repeat:no-repeat; background-position:left center; padding:1px;padding-left:7px;}
#EditorID .CuteEditorGroupMenu span td{ vertical-align:middle}
#EditorID .CuteEditorGroupImage { margin:0; vertical-align:middle;float:left;}
#EditorID .CuteEditorLineBreak {padding:0; height:0; margin:0}
#EditorID .CuteEditorFrame {width:100%;height:100%;padding:0;border-top: #aaaaaa 1px solid!important;border-bottom: #999999 1px solid!important;border-left: #ffffff 0 solid!important;border-right: #ffffff 0 solid!important;}
#EditorID .CuteEditorButton { margin:1px; vertical-align:middle;}
#EditorID .CuteEditorButtonActive { margin:0; vertical-align:middle; border-right: buttonshadow 1px solid; border-top: buttonhighlight 1px solid; border-left: buttonhighlight 1px solid; border-bottom: buttonshadow 1px solid;}
#EditorID .CuteEditorButtonOver { border-right: buttonshadow 1px solid; border-top: buttonhighlight 1px solid; border-left: buttonhighlight 1px solid; border-bottom: buttonshadow 1px solid; PADDING: 0; MARGIN: 0; vertical-align: middle;}
#EditorID .CuteEditorButtonDown { border-right: buttonhighlight 1px solid!important; border-top: buttonshadow 1px solid!important; border-left: buttonshadow 1px solid!important; border-bottom: buttonhighlight 1px solid!important; margin:0;vertical-align:middle; }

#EditorID .CuteEditorButtonDisabled { /* filter:gray alpha(opacity=25); margin:1px;vertical-align:middle; */ margin:1px;vertical-align:middle;}
#EditorID .ToolControl{}
#EditorID .ToolControlOver{}
#EditorID .ToolControlDown{}
#EditorID .separator {height:22px; background-repeat: no-repeat; vertical-align:middle; width:2px;margin-left:2px; margin-right:2px;	}
#EditorID .tagselector {font:normal 11px Tahoma;margin:0 2px 0 2px;padding:2px;cursor:hand;border: #808080 1px solid;}
#EditorID .tagselectorOver {font:normal 11px Tahoma;margin:0 2px 0 2px;padding:2px;cursor:hand;border:#0a246a 1px solid;background-color:#b6bdd2;}
#EditorID .WordCount {font:normal 11px Tahoma;}
#EditorID .WordSpliter {font:normal 11px Tahoma;}
#EditorID .CharCount {font:normal 11px Tahoma; padding-right:10px;}

/*case sensive for CSS1*/
#EditorID #cmd_tofullpage.CuteEditorButtonActive { display:none }
#EditorID #cmd_fromfullpage.CuteEditorButton { display:none }


.ceifdialogshadow
{
	background-color:#cccccc;
	z-index:10;
	cursor:not-allowed;
	filter:alpha(opacity=20);
	-moz-opacity:0.2;
	opacity:0.2;
}
.ceifdialog
{
	 border:0;	 
}

.ceifdialogtl{
	margin:0 auto;
	width:15px;
	height:35px;	
	background:transparent url(Load.ashx?type=theme&file=t1.png&theme=Office2003) no-repeat;
}
.ie5ceifdialogtl{
	margin:0 auto;
	width:15px;
	height:35px;	
	background:transparent url(Load.ashx?type=theme&file=t1.gif&theme=Office2003) no-repeat;
}
.ceifdialogtop{
	height:35px!important;
	overflow:hidden;
	padding-left:6px;
	color:#444444;
	cursor:move;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	background:transparent url(Load.ashx?type=theme&file=t2.png&theme=Office2003) repeat-x;
	vertical-align:middle;
}
.ie5ceifdialogtop{
	height:35px!important;
	overflow:hidden;
	padding-left:6px;
	color:#444444;
	cursor:move;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	background:transparent url(Load.ashx?type=theme&file=t2.gif&theme=Office2003) repeat-x;
	vertical-align:middle;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
   .ceifdialogtop
   {
	height:31px!important;
   }
   .ie5ceifdialogtop
   {
	height:31px!important;
   }
}
.ceifdialogtr{
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=t3.png&theme=Office2003) no-repeat;
}
.ie5ceifdialogtr{
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=t3.gif&theme=Office2003) no-repeat;
}
.ceifdialogtitletext
{
	float:left;
	margin-top:5px;
}
.btnClose {
	float:right;
	width:44px;
	height:18px;
	text-align:right;
	vertical-align:top;
	background:transparent url(Load.ashx?type=theme&file=Close2.gif&theme=Office2003) no-repeat;
}
.ceifdialogleftbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=l1.png&theme=Office2003) repeat-y;
}
.ie5ceifdialogleftbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=l1.gif&theme=Office2003) repeat-y;
}
.ceifdialogrightbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=r1.png&theme=Office2003) repeat-y;
}
.ie5ceifdialogrightbar{
	width:15px;
	font-size:1px;
	background:transparent url(Load.ashx?type=theme&file=r1.gif&theme=Office2003) repeat-y;
}
.ceifdialogcenter{
	border:1px solid .84A0C4; 
	background-color:#eeeeee;
	color:#15428b;
}

.ceifdialogbottom{
	height:15px;
	width:100%;
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=b1.png&theme=Office2003) repeat-x;
}
.ie5ceifdialogbottom{
	height:15px;
	width:100%;
	margin:0 auto;
	background:transparent url(Load.ashx?type=theme&file=b1.gif&theme=Office2003) repeat-x;
}
.ceifdialogbottomleft{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=l2.png&theme=Office2003) no-repeat;
}
.ie5ceifdialogbottomleft{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=l2.gif&theme=Office2003) no-repeat;
}
.ceifdialogbottomright{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=r2.png&theme=Office2003) no-repeat;
}
.ie5ceifdialogbottomright{
	width:15px;
	height:15px;
	background:transparent url(Load.ashx?type=theme&file=r2.gif&theme=Office2003) no-repeat;
}