<%@ Page Language="C#"  MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="false" CodeBehind="MyAccount.aspx.cs" Inherits="KlausEnt.KEP.Developer.MyAccount" %>
<asp:Content ID="cnt_myAccount" runat="server" ContentPlaceHolderID="cph_Body">
</asp:Content>
