<%@ Page Language="C#" MasterPageFile="~/masterpages/MainTemplatePage.Master" AutoEventWireup="false" CodeBehind="MyProfile.aspx.cs" Inherits="KlausEnt.KEP.Developer.MyProfile" %>
					
<asp:Content ID="cnt_myProfile" runat="server" ContentPlaceHolderID="cph_Body">
</asp:Content>