<%@ Page language="c#" Codebehind="checkWeb.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.checkWeb" %>

Web- Good<BR>
Image- <img src="http://images.kaneva.com/spacer.gif" Width="10" Height="10" border="1"/><br>
Stream- <a href="http://streaming.kaneva.com/stream.php?tId=2017">Clicky to stream</a>
