﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="download.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.download" %>

<style>

body {
	background-color: white;
	background-image: none;
	}
	a:hover{
	background-color:white;
}
</style>

<script language="javascript">
    function showNav() {
        document.getElementById('primary').style.display = 'inline';
        document.getElementById('tertiary').style.display = 'inline';
    }
</script>

<br/><br/><br/><br/>

<a id="aDownload" href="http://alphapatcher.kaneva.com/PatchData/signup/WorldofKanevaSetup.exe">
<img runat="server" BORDER=0 src="~/images/download/thanksfordownload_internal.png" />
</a>

<img id="imgDownload" runat="server" src="~/images/download/explorer.png" />


<script type="text/javascript">
    window.onload = show;

    function show() {
        location.href = 'http://alphapatcher.kaneva.com/PatchData/signup/WorldofKanevaSetup.exe';
    }
</script>