<%@ Page language="c#" Codebehind="loginHelper.aspx.cs" AutoEventWireup="false" Inherits="KlausEnt.KEP.Kaneva.loginHelper" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="css/Kaneva.css" type="text/css" />
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="GridLayout" topmargin="0" leftmargin="0" bgcolor="#ffffff">
    <form id="frmLogin" method="post" runat="server">

     </form>
	
  </body>
</html>
