﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="oauth2callback.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.oauth2callback" %>
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <asp:Label ID="lblContent" runat="server"></asp:Label>
</body>
</html>
