﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ParaturePassThrough.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.ParaturePassThrough" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="securePassThroughDetails" runat="server">
    
    </div>
    </form>
</body>
</html>