<%@ Page Language="C#" ValidateRequest="False" AutoEventWireup="true" CodeBehind="testuc.aspx.cs" Inherits="KlausEnt.KEP.Kaneva.testuc" %>
<%@ Register TagPrefix="Kaneva" TagName="ConnWithFriends" Src="usercontrols/ConnectWithFriends.ascx" %>

<br /><br /><br /><br />

<kaneva:ConnWithFriends runat="server" id="cwfUC" ExitUrl="testuc.aspx"/>
																		